[-bee360-]-webhook-ajustes-participantes-5aVlbZ9KLo5lZ8J9.json
{"createdAt":"2024-11-28T03:44:23.981Z","updatedAt":"2025-01-27T18:15:46.252Z","id":"5aVlbZ9KLo5lZ8J9","name":"[ Bee360 ] Webhook Ajustes participantes","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b30ad53c-0cfd-4b7b-8243-e28663db42ae","leftValue":"={{ $json.body.status }}","rightValue":"resolved","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"ba60c7f9-7ab6-4990-9b6b-6dd4ebe2073f","name":"Status Resolved?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,160]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"conversations","mode":"list","cachedResultName":"conversations"},"limit":1,"where":{"values":[{"column":"account_id","value":"={{ $json.body.messages[0].account_id }}"},{"column":"display_id","value":"={{ $json.body.id }}"}]},"options":{"outputColumns":["id"]}},"id":"b26c216b-06a5-42e1-b4b1-5bd9ca9c0172","name":"Get Real Cvs ID","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[960,140],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"method":"PATCH","url":"=https://app.bee360.com.br/api/v1/accounts/{{ $('Status Resolved?').item.json.body.messages[0].account_id }}/conversations/{{ $('Status Resolved?').item.json.body.id }}/participants","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\"user_ids\":[]}","options":{}},"id":"2efde8a7-7c30-42ad-a30e-a5038b450d80","name":"Remove Participants","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,140],"credentials":{"httpHeaderAuth":{"id":"EjFedmv05mPaSB9a","name":"BEE360 TOKEN #1"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"conversation_status_changed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1911422-725e-431c-96dd-a4ce741e0e7a","leftValue":"={{ $json.body.event }}","rightValue":"={{ $json.body.event }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"bf135d29-237b-44b2-acaf-97f6fce8d7f0","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[520,340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4fcec79e-c1aa-4ccd-af48-f8f3fa07549f","leftValue":"={{ JSON.stringify($json.body.changed_attributes) }}","rightValue":"=assignee_id","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"9fd8a6f1-1f0a-4341-8373-d297de6b71c6","name":"Filter Only Assigne ID Changes","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[720,500]},{"parameters":{"assignments":{"assignments":[{"id":"9c55aaa3-2520-473a-93d4-9c215ec4b1f4","name":"assignee_id","value":"={{ $json.body.changed_attributes[0].assignee_id.current_value }}","type":"number"}]},"includeOtherFields":true,"options":{}},"id":"bd6f0385-db22-4e57-b540-54ba25ca22e5","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,500]},{"parameters":{"content":"## Remove participantes\n**Ao resolver conversa","height":320,"width":677},"id":"17d367bd-4e13-4436-a739-da9a8ae5a36c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[660,20]},{"parameters":{"content":"## Somente um participante\n** Ao atribuir conversa","height":320,"width":677,"color":4},"id":"89211b9d-763b-453d-96dc-4594c069a77b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,400]},{"parameters":{"method":"PATCH","url":"=https://app.bee360.com.br/api/v1/accounts/{{ $('Edit Fields').item.json.body.messages[0].account_id }}/conversations/{{ $('Edit Fields').item.json.body.id }}/participants","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_ids\":[{{ $json.assignee_id }}]}","options":{}},"id":"9a54c330-eae4-4798-9988-510c852f83e6","name":"Adiciona Atribuido com Participante","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,480],"credentials":{"httpHeaderAuth":{"id":"EjFedmv05mPaSB9a","name":"BEE360 TOKEN #1"}}},{"parameters":{"httpMethod":"POST","path":"fromChatwootWebhook","options":{}},"id":"d08ac4c9-a7e5-4bcb-8fc2-0cebd53f8444","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[300,340],"webhookId":"9abb5a2d-eab2-49ae-88b4-3948178a6cdb"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0d467bc5-1e84-4bb6-b6c4-f5b8049be5ac","leftValue":"={{ $('Edit Fields').item.json.body.messages[0].account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,500],"id":"585f2a3e-bbb5-4866-b41d-c5453004c6e3","name":"If"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1560,600],"id":"ed1bd58c-b349-454d-9f53-db0ca28ff83b","name":"Merge"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"conversations","mode":"list","cachedResultName":"conversations"},"where":{"values":[{"column":"display_id","value":"={{ $json.body.id }}"}]},"options":{"outputColumns":["account_id"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1360,620],"id":"fc9fc16c-0dea-468a-8e50-8eeba1c9328a","name":"Get AccountId","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"method":"PATCH","url":"=https://app.bee360.com.br/api/v1/accounts/{{ $('Edit Fields').item.json.body.messages[0].account_id }}/conversations/{{ $('Edit Fields').item.json.body.id }}/participants","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_ids\":[{{ $json.assignee_id }}]}","options":{}},"id":"b4afdae1-8a71-40fe-824a-3d442f8ec749","name":"Adiciona Atribuido com Participante1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"credentials":{"httpHeaderAuth":{"id":"EjFedmv05mPaSB9a","name":"BEE360 TOKEN #1"}}},{"parameters":{"method":"PATCH","url":"=https://app.bee360.com.br/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $('Edit Fields').item.json.body.id }}/participants","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_ids\":[{{ $json.assignee_id }}]}","options":{}},"id":"a87af7f8-0927-485d-b4e8-d7c4095867af","name":"Adiciona Atribuido com Participante2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,660],"credentials":{"httpHeaderAuth":{"id":"EjFedmv05mPaSB9a","name":"BEE360 TOKEN #1"}}},{"parameters":{"method":"PATCH","url":"=https://app.bee360.com.br/api/v1/accounts/{{ $('Edit Fields').item.json.body.messages[0].account_id }}/conversations/{{ $('Edit Fields').item.json.body.id }}/participants","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_ids\":[{{ $json.assignee_id }}]}","options":{}},"id":"97ea3d16-6b95-474a-b909-c36627ebe627","name":"Adiciona Atribuido com Participante3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,180],"credentials":{"httpHeaderAuth":{"id":"EjFedmv05mPaSB9a","name":"BEE360 TOKEN #1"}}}],"connections":{"Status Resolved?":{"main":[[{"node":"Get Real Cvs ID","type":"main","index":0}]]},"Get Real Cvs ID":{"main":[[{"node":"Remove Participants","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Status Resolved?","type":"main","index":0}],[{"node":"Filter Only Assigne ID Changes","type":"main","index":0}]]},"Filter Only Assigne ID Changes":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If":{"main":[[{"node":"Adiciona Atribuido com Participante","type":"main","index":0}],[{"node":"Get AccountId","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Get AccountId":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Adiciona Atribuido com Participante2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"fluxo.webhook.bee360.com.br","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-length":"2303","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"fluxo.webhook.bee360.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"4019b4dc51e0","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":176172,"contact_id":647259,"inbox_id":95,"source_id":"d57cab1a-645d-4360-a6a0-0e6ffd1598d9","created_at":"2025-01-06T13:35:06.236Z","updated_at":"2025-01-06T13:35:06.236Z","hmac_verified":false,"pubsub_token":"HYYFtsJGzCnBh6Nbg8FRD8if"},"id":20193,"inbox_id":95,"messages":[],"labels":["0_primeirocontato"],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":"arielisoares79@gmail.com","id":647259,"identifier":"555185133937@s.whatsapp.net","name":"Ariéli Teixeira Soares","phone_number":"+555185133937","thumbnail":"","type":"contact"},"assignee":{"id":114,"name":"André Passos","available_name":"André Passos","avatar_url":"https://app.bee360.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN29jRHc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--7c6a464c9015a1b8697372608eea60d05d2aa3e0/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--742c0949420db267ade2e451d669dc07f7d8c0c0/WhatsApp%20Image%202024-08-16%20at%2017.09.38.jpeg","type":"user","availability_status":null,"thumbnail":"https://app.bee360.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN29jRHc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--7c6a464c9015a1b8697372608eea60d05d2aa3e0/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--742c0949420db267ade2e451d669dc07f7d8c0c0/WhatsApp%20Image%202024-08-16%20at%2017.09.38.jpeg"},"team":null,"hmac_verified":false},"status":"pending","custom_attributes":{},"snoozed_until":null,"unread_count":1,"first_reply_created_at":null,"priority":null,"waiting_since":1736170506,"agent_last_seen_at":0,"contact_last_seen_at":0,"last_activity_at":1736170507,"timestamp":1736170507,"created_at":1736170506,"applied_sla":null,"sla_events":[],"sla_policy_id":null,"event":"conversation_updated","changed_attributes":[{"assignee_id":{"previous_value":null,"current_value":114}},{"updated_at":{"previous_value":"2025-01-06T13:35:07.160Z","current_value":"2025-01-06T13:35:07.771Z"}}]},"webhookUrl":"https://fluxo.webhook.bee360.com.br/webhook/fromChatwootWebhook","executionMode":"production"}}]},"versionId":"d8b2bfd8-8d70-4a28-9ceb-b85e43f7147f","triggerCount":1,"tags":[]}