[-bee360-]-ajustes-participantes-account_id-XvBVrnRaN8mXgWsu.json
{"createdAt":"2024-12-05T11:39:57.061Z","updatedAt":"2024-12-05T20:34:13.240Z","id":"XvBVrnRaN8mXgWsu","name":"[ Bee360 ] Ajustes participantes account_id","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"9c55aaa3-2520-473a-93d4-9c215ec4b1f4","name":"assignee_id","value":"={{ $json.appended_assignee_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"38cf60af-d36b-435c-b49b-db5b8af2a0b6","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,500]},{"parameters":{"content":"## Somente um participante\n** Ao atribuir conversa","height":320,"width":677,"color":4},"id":"f1c824ae-c2e9-4403-830e-3027eb1aff4a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,400]},{"parameters":{"method":"PATCH","url":"=https://app.bee360.com.br/api/v1/accounts/3/conversations/{{ $json.display_id }}/participants","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_ids\":[{{ 1 }}]}","options":{}},"id":"c35f19b9-9c82-45c9-b7a8-14622b21e90c","name":"Adiciona Atribuido com Participante","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,500],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"EjFedmv05mPaSB9a","name":"BEE360 TOKEN #1"}}},{"parameters":{},"id":"debc3818-3771-4afc-8db6-d32dd5a7aeec","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-100,500]},{"parameters":{"operation":"executeQuery","query":"SELECT \n    cp.id AS conversation_participant_id,\n    cp.user_id,\n    cp.conversation_id,\n    c.display_id,\n    c.assignee_id,\n    c.status,\n    c.account_id\nFROM \n    conversation_participants cp\nJOIN \n    conversations c ON cp.conversation_id = c.id\nWHERE \n    c.account_id = 3\n\nORDER BY display_id ASC;","options":{}},"id":"be17ed18-1a9c-4e87-abd1-fc686e64c499","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[60,500],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"fieldsToSummarize":{"values":[{"field":"display_id"},{"aggregation":"append","field":"assignee_id"},{"aggregation":"append","field":"display_id"}]},"fieldsToSplitBy":"display_id","options":{}},"id":"19de5bfc-4b0c-4ed9-9746-d01f767c83c8","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[280,500]},{"parameters":{"options":{}},"id":"3682a2a2-c4a8-42ea-be19-03f55d253f97","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[500,500]},{"parameters":{"amount":1},"id":"6d1cc0de-ec0b-4916-9054-7ed7d3bceec0","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,500],"webhookId":"2ac398e3-1d88-4efe-b02c-453459d66b04"}],"connections":{"Edit Fields":{"main":[[{"node":"Adiciona Atribuido com Participante","type":"main","index":0}]]},"Adiciona Atribuido com Participante":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Wait":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9fb884af-9f09-40d1-bf81-206666fdcdc3","triggerCount":1,"tags":[]}