[-bee360-]-disparador-universal-5yMvgNvCwu1cmfsk.json
{"createdAt":"2025-02-12T18:23:09.799Z","updatedAt":"2025-02-12T18:24:05.564Z","id":"5yMvgNvCwu1cmfsk","name":"[ Bee360 ] Disparador Universal","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"WITH labels AS (\n    SELECT unnest(string_to_array('{{ $json.body.label }}', ',')) AS label\n),\nsair_conversations AS (\n    SELECT DISTINCT conversation_id\n    FROM messages\n    WHERE created_at >= now() - interval '24 hours'\n)\nSELECT \n    c.*, \n    ct.identifier, \n    ca.identifier AS token\nFROM conversations c\nJOIN contacts ct \n    ON c.contact_id = ct.id\nJOIN inboxes i \n    ON c.inbox_id = i.id\nJOIN channel_api ca \n    ON i.channel_id = ca.id\nWHERE \n    c.account_id = {{ $json.body.account_id }}\n    AND c.inbox_id = {{ $json.id }}\n    \n    AND (\n        c.cached_label_list NOT LIKE '%telefone_interno%'\n        AND c.cached_label_list NOT LIKE '%removercontato%'\n        OR c.cached_label_list IS NULL\n    )\n    \n    AND ct.identifier NOT LIKE '%@g.us%'\n    AND c.id NOT IN (\n        SELECT sc.conversation_id\n        FROM sair_conversations sc\n    )\n    \n    AND (\n        '{{ $json.body.label }}' = 'TODOS'\n        \n        OR (\n            '{{ $json.body.label }}' = 'NULL'\n            AND (c.cached_label_list IS NULL OR c.cached_label_list = '')\n        )\n        \n        OR EXISTS (\n            SELECT 1\n            FROM labels\n            WHERE\n                c.cached_label_list = labels.label\n                OR c.cached_label_list LIKE labels.label || ',%'\n                OR c.cached_label_list LIKE '%, ' || labels.label || ',%'\n                OR c.cached_label_list LIKE '%, ' || labels.label\n        )\n    )\n\n    -- Condição corrigida para excluir campanhas existentes\n    AND (\n        (c.custom_attributes  ->> 'campanhas') IS NULL\n        OR \n        (c.custom_attributes ->> 'campanhas') NOT ILIKE '%' || '{{ $json.query.campaign }}' || '%'\n    )\n\nORDER BY c.updated_at ASC\nLIMIT {{ $json.body.quantity }};\n","options":{}},"id":"ede6cfbe-d347-4421-a461-24c17c4aabfd","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-820,1040],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"inboxes","mode":"name"},"where":{"values":[{"column":"account_id","value":"={{ $json.query.account_id }}"},{"column":"name","value":"={{ $json.query.inbox }}"}]},"options":{"outputColumns":["id"]}},"id":"19d11ceb-c880-4f92-b8d4-b0856563e358","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-1220,1040],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"2c0a485c-c854-4f21-82b1-8514cfb2d69a","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1020,1100]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query.fileUrl }}","operation":"isEmpty"}]}},"id":"df327e75-5641-48e4-8db4-17c63b02468f","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-380,1100]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"2792c7d7-6600-4f1a-bf2e-a414ddbdbe93","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-620,1100]},{"parameters":{"operation":"executeQuery","query":"UPDATE public.conversations\nSET custom_attributes = jsonb_set(\n  custom_attributes::jsonb,\n  '{campanhas}',\n  to_jsonb(\n    COALESCE(\n      custom_attributes::jsonb ->> 'campanhas',\n      ''\n    ) || CASE\n           WHEN (custom_attributes::jsonb ? 'campanhas') THEN ','\n           ELSE ''\n         END \n         || '{{ $today.toString().split(\"T\")[0] }}:{{ $json.query.campaign }}'\n  )\n)\nWHERE account_id = {{ $json[\"account_id\"] }}\n  AND inbox_id   = {{ $json[\"inbox_id\"] }}\n  AND contact_id = {{ $json[\"contact_id\"] }}\n  AND display_id = {{ $json[\"display_id\"] }}\nRETURNING *;\n","options":{}},"id":"232796a7-1b86-476d-be85-61f7074db2bd","name":"Postgres2","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[780,700],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE public.contacts\nSET custom_attributes = jsonb_set(\n  custom_attributes::jsonb,\n  '{campanhas}',\n  to_jsonb(\n    COALESCE(\n      custom_attributes::jsonb ->> 'campanhas',\n      ''\n    ) || CASE\n           WHEN (custom_attributes::jsonb ? 'campanhas') THEN ','\n           ELSE ''\n         END \n         || '{{ $today.toString().split(\"T\")[0] }}:{{ $json.query.campaign }}'\n  )\n)\nWHERE account_id = {{ $json[\"account_id\"] }}\n  AND ID = {{ $json[\"contact_id\"] }}\nRETURNING *;\n","options":{}},"id":"de1fbc4c-6b56-4d4a-b002-4b329c43568e","name":"Postgres4","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[780,560],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    c.*, \n    ct.identifier, \n    ca.identifier AS token\nFROM conversations c\nJOIN contacts ct \n    ON c.contact_id = ct.id\nJOIN inboxes i \n    ON c.inbox_id = i.id\nJOIN channel_api ca \n    ON i.channel_id = ca.id\nWHERE \n    c.account_id = {{ $json.body.account_id }}\n    AND c.inbox_id = {{ $json.id }}\n    \n    -- 1. Filtrar conversas cuja última atualização seja anterior ao intervalo especificado\n    AND c.updated_at <= NOW() - INTERVAL '{{ $json.body.date_limit.replace(\" dias\",\"\") }} days'\n    \n    -- 2. Custom_attributes das conversas não contêm 'removercontato' nem a campanha\n    AND (\n        (c.custom_attributes ->> 'campanhas') IS NULL\n        OR (c.custom_attributes ->> 'campanhas') NOT ILIKE '%' || '{{ $json.query.campaign }}' || '%'\n    )\n    AND (\n        (c.custom_attributes ->> 'removercontato') IS NULL\n        OR (c.custom_attributes ->> 'removercontato') NOT ILIKE '%removercontato%'\n    )\n    \n    -- 3. Custom_attributes dos contatos não contêm 'removercontato' nem a campanha\n    AND (\n        (ct.custom_attributes ->> 'campanhas') IS NULL\n        OR (ct.custom_attributes ->> 'campanhas') NOT ILIKE '%' || '{{ $json.query.campaign }}' || '%'\n    )\n    AND (\n        (ct.custom_attributes ->> 'removercontato') IS NULL\n        OR (ct.custom_attributes ->> 'removercontato') NOT ILIKE '%removercontato%'\n    )\n    \n    -- 4. Cached_label_list das conversas não contém 'removercontato' nem 'duplicado'\n    AND (\n        c.cached_label_list NOT LIKE '%removercontato%'\n        AND c.cached_label_list NOT LIKE '%duplicado%'\n    )\n    \n    -- 5. Filtrar contatos cujo identifier contenha '@s.whatsapp.net'\n    AND ct.identifier LIKE '%@s.whatsapp.net'\n    \nORDER BY \n    c.updated_at {{ $json.body.order.replace(\"Antigos primeiro\",\"ASC\").replace(\"Recentes primeiro\",\"DESC\") }}  -- Ordenação conforme especificado\nLIMIT \n    {{ $json.body.quantity.replace(\"Todos\",\"500\") }};\n","options":{}},"id":"7099e573-b7be-4e72-88a9-6f1eaa896155","name":"Postgres5","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-800,1400],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"inboxes","mode":"name"},"where":{"values":[{"column":"account_id","value":"={{ $json.query.account_id }}"},{"column":"name","value":"={{ $json.query.inbox }}"}]},"options":{"outputColumns":["id"]}},"id":"80e2dedd-2a02-4b7c-ad7c-da17b5ea9a49","name":"Postgres6","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-1200,1400],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"7affd3d4-00cf-4a7f-bdd1-7d934a2c252b","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1000,1460]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"30711842-393c-4722-b096-7f602a423c42","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-600,1460]},{"parameters":{},"id":"4c2ec579-0d9b-4534-892d-dcbc5d20c1d3","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1400,1120]},{"parameters":{},"id":"262f5012-a4f6-4421-9e12-e9d0a306ede1","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1400,1480]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query.fileUrl }}","operation":"notContains","value2":"http"}]}},"id":"20d3611c-570b-46a4-906e-dbe3c2c23379","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-380,1460]},{"parameters":{"options":{}},"id":"d7ebc51f-32f1-4cf1-8e9a-3f8f0ea202e5","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[560,1500]},{"parameters":{"amount":"={{ $('Merge4').item.json.waitTime }}","unit":"seconds"},"id":"5b6a8a49-ecaf-4146-aa7c-b4616a5e5c23","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1720,1500],"webhookId":"f35c06f5-1ae9-4261-a4c0-06aa909c7a61"},{"parameters":{"baseUrl":"https://qps.bee360.com.br","token":"={{ $json.token }}","method":"sendurl","text":"={{ $json.message }}","chatid":"=+{{ $json.identifier.split(\"@\")[0] }}","url":"={{ $json.query.fileUrl }}","filename":"={{ $json.body.campaign.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/\\s+/g, \"_\").toLowerCase();\n }}.{{ $json.body.fileUrl.split('.').pop(); }}","filelength":0},"id":"8f5ddd20-bc19-4c99-8d86-761f3c0b5194","name":"Quepasa9","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[1300,1500],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.identifier }}","operation":"notContains","value2":"@g.us"}]}},"id":"77621ee3-77d0-4d74-b734-585ccde8b634","name":"Filter2","type":"n8n-nodes-base.filter","typeVersion":1,"position":[160,1500]},{"parameters":{"operation":"limit","maxItems":200},"id":"cc3fd36c-c568-49d6-95c2-c85f1a4930c5","name":"Item Lists3","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[360,1500]},{"parameters":{"jsCode":"const messages = [\n    \"> _Digite #sair para não receber mais nossas mensagens._\",\n    \"> _Se desejar parar de receber, digite #sair._\",\n    \"> _Para sair da nossa lista, envie #sair._\",\n    \"> _Caso não queira mais receber mensagens, digite #sair._\",\n    \"> _Digite #sair para cancelar o recebimento de nossas mensagens._\",\n    \"> _Se não quiser mais receber nossas mensagens, responda #sair._\",\n    \"> _Para interromper nossa lista, envie #sair._\",\n    \"> _Envie #sair para não ser contatado novamente._\",\n    \"> _Caso prefira não receber mais mensagens, responda com #sair._\",\n    \"> _Para sair da nossa lista de comunicação, digite #sair._\",\n    \"> _Se quiser parar as mensagens, envie #sair._\",\n    \"> _Digite #sair caso queira cancelar o contato._\",\n    \"> _Para interromper, apenas envie #sair._\",\n    \"> _Caso não queira mais interações, digite #sair._\",\n    \"> _Envie #sair se quiser ser removido._\",\n    \"> _Se desejar sair, basta mandar #sair._\",\n    \"> _Para não receber mais mensagens, responda #sair._\",\n    \"> _Para encerrar, apenas escreva #sair._\",\n    \"> _Se preferir não receber mais, digite #sair._\",\n    \"> _Para deixar de receber notificações, responda com #sair._\",\n    \"> _Envie #sair para sair da nossa lista._\",\n    \"> _Caso não queira mais mensagens, responda #sair._\",\n    \"> _Se desejar interromper, digite #sair._\",\n    \"> _Para não ser contatado novamente, envie #sair._\",\n    \"> _Digite #sair se quiser cancelar a comunicação._\",\n    \"> _Se não quiser mais interações, responda #sair._\",\n    \"> _Para sair do envio de mensagens, mande #sair._\",\n    \"> _Se quiser parar o contato, responda com #sair._\",\n    \"> _Para cancelar futuras mensagens, digite #sair._\",\n    \"> _Envie #sair para desativar os envios._\",\n    \"> _Se quiser remover-se da lista, use #sair._\",\n    \"> _Para não receber mais notificações, envie #sair._\",\n    \"> _Caso prefira não ser contatado, digite #sair._\",\n    \"> _Se deseja encerrar o contato, mande #sair._\",\n    \"> _Para sair, apenas envie #sair._\",\n    \"> _Caso não queira mais interações, escreva #sair._\",\n    \"> _Se quiser sair da lista, responda com #sair._\",\n    \"> _Para encerrar o envio, apenas digite #sair._\",\n    \"> _Caso prefira sair, envie #sair._\",\n    \"> _Se desejar não receber mais mensagens, mande #sair._\",\n    \"> _Para cancelar, apenas responda #sair._\",\n    \"> _Se quiser encerrar o contato, digite #sair._\",\n    \"> _Caso deseje sair, apenas mande #sair._\",\n    \"> _Digite #sair para deixar de receber._\",\n    \"> _Se não quiser mais notificações, responda com #sair._\",\n    \"> _Para encerrar as mensagens, escreva #sair._\",\n    \"> _Caso prefira não ser contatado, responda #sair._\",\n    \"> _Para remover-se da lista, envie #sair._\",\n    \"> _Se deseja interromper o contato, digite #sair._\"\n];\n\n// Seleciona uma mensagem aleatória da lista\nconst randomMessage = messages[Math.floor(Math.random() * messages.length)];\n\n// Gera um tempo de espera aleatório entre 15 e 60 segundos\nconst waitTime = Math.floor(Math.random() * (60 - 15 + 1)) + 15;\n\n// Obtém a hora atual para verificar a janela de envio\nconst now = new Date();\nconst hours = now.getHours();\nconst minutes = now.getMinutes();\nconst isWithinAllowedTime = (hours > 8 || (hours === 8 && minutes >= 0)) && (hours < 20 || (hours === 20 && minutes <= 30));\n\n// Obtém a mensagem original do nó anterior\nconst originalMessage = $json.query.message || \"\";\n\n// Verifica se o campo `#sair` está marcado como \"Sim\"\nconst shouldAppendExitMessage = $json.query['sair'] === \"Sim\";\n\n// Adiciona a mensagem de saída somente se necessário\nconst finalMessage = shouldAppendExitMessage \n    ? `${originalMessage}\\n\\n${randomMessage}`\n    : originalMessage;\n\n// Retorna os valores no formato esperado pelo n8n\nreturn {\n    message: finalMessage,\n    waitTime: waitTime,\n    allowedTime: isWithinAllowedTime\n};\n"},"id":"f4751f94-6c9d-4ccb-8852-10ec35a01992","name":"Code4","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,1420]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"ace49524-2ee5-4b32-9921-fafc6adddd79","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1100,1500]},{"parameters":{"options":{}},"id":"14de6aee-c2da-468b-bac3-1acc65aece75","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[560,1200]},{"parameters":{"amount":"={{ $('Merge5').item.json.waitTime }}","unit":"seconds"},"id":"2eb19f06-9d21-45cf-85d3-c741106d71e1","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1720,1200],"webhookId":"f35c06f5-1ae9-4261-a4c0-06aa909c7a61"},{"parameters":{"baseUrl":"https://qps.bee360.com.br","token":"={{ $json.token }}","method":"sendtext","text":"={{ $json.message }}","chatid":"=+{{ $json.identifier.split(\"@\")[0] }}"},"id":"94066de6-6c67-43c9-8049-86964445d194","name":"Quepasa10","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[1300,1200],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.identifier }}","operation":"notContains","value2":"@g.us"}]}},"id":"c9856fe1-1992-4b31-aded-a7104d81cb3e","name":"Filter3","type":"n8n-nodes-base.filter","typeVersion":1,"position":[160,1200]},{"parameters":{"operation":"limit","maxItems":200},"id":"754bb7d2-9054-4825-a8f4-2158529253f5","name":"Item Lists4","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[360,1200]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"7b553e9b-e9ce-4c2d-8e40-78e93c4ae38f","name":"Merge5","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1100,1200]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $('Merge4').item.json.allowedTime }}","value2":true}]}},"id":"ebccb341-7df8-4c75-ae0d-5dab56f6eb62","name":"IF3","type":"n8n-nodes-base.if","typeVersion":1,"position":[1520,1500]},{"parameters":{"jsCode":"const messages = [\n    \"_Digite #sair para não receber mais nossas mensagens._\",\n    \"_Se desejar parar de receber, digite #sair._\",\n    \"_Para sair da nossa lista, envie #sair._\",\n    \"_Caso não queira mais receber mensagens, digite #sair._\",\n    \"_Digite #sair para cancelar o recebimento de nossas mensagens._\",\n    \"_Se não quiser mais receber nossas mensagens, responda #sair._\",\n    \"_Para interromper nossa lista, envie #sair._\",\n    \"_Envie #sair para não ser contatado novamente._\",\n    \"_Caso prefira não receber mais mensagens, responda com #sair._\",\n    \"_Para sair da nossa lista de comunicação, digite #sair._\",\n    \"_Se quiser parar as mensagens, envie #sair._\",\n    \"_Digite #sair caso queira cancelar o contato._\",\n    \"_Para interromper, apenas envie #sair._\",\n    \"_Caso não queira mais interações, digite #sair._\",\n    \"_Envie #sair se quiser ser removido._\",\n    \"_Se desejar sair, basta mandar #sair._\",\n    \"_Para não receber mais mensagens, responda #sair._\",\n    \"_Para encerrar, apenas escreva #sair._\",\n    \"_Se preferir não receber mais, digite #sair._\",\n    \"_Para deixar de receber notificações, responda com #sair._\",\n    \"_Envie #sair para sair da nossa lista._\",\n    \"_Caso não queira mais mensagens, responda #sair._\",\n    \"_Se desejar interromper, digite #sair._\",\n    \"_Para não ser contatado novamente, envie #sair._\",\n    \"_Digite #sair se quiser cancelar a comunicação._\",\n    \"_Se não quiser mais interações, responda #sair._\",\n    \"_Para sair do envio de mensagens, mande #sair._\",\n    \"_Se quiser parar o contato, responda com #sair._\",\n    \"_Para cancelar futuras mensagens, digite #sair._\",\n    \"_Envie #sair para desativar os envios._\",\n    \"_Se quiser remover-se da lista, use #sair._\",\n    \"_Para não receber mais notificações, envie #sair._\",\n    \"_Caso prefira não ser contatado, digite #sair._\",\n    \"_Se deseja encerrar o contato, mande #sair._\",\n    \"_Para sair, apenas envie #sair._\",\n    \"_Caso não queira mais interações, escreva #sair._\",\n    \"_Se quiser sair da lista, responda com #sair._\",\n    \"_Para encerrar o envio, apenas digite #sair._\",\n    \"_Caso prefira sair, envie #sair._\",\n    \"_Se desejar não receber mais mensagens, mande #sair._\",\n    \"_Para cancelar, apenas responda #sair._\",\n    \"_Se quiser encerrar o contato, digite #sair._\",\n    \"_Caso deseje sair, apenas mande #sair._\",\n    \"_Digite #sair para deixar de receber._\",\n    \"_Se não quiser mais notificações, responda com #sair._\",\n    \"_Para encerrar as mensagens, escreva #sair._\",\n    \"_Caso prefira não ser contatado, responda #sair._\",\n    \"_Para remover-se da lista, envie #sair._\",\n    \"_Se deseja interromper o contato, digite #sair._\"\n];\n\n// Seleciona uma mensagem aleatória da lista\nconst randomMessage = messages[Math.floor(Math.random() * messages.length)];\n\n// Gera um tempo de espera aleatório entre 15 e 60 segundos\nconst waitTime = Math.floor(Math.random() * (60 - 15 + 1)) + 15;\n\n// Obtém a hora atual para verificar a janela de envio\nconst now = new Date();\nconst hours = now.getHours();\nconst minutes = now.getMinutes();\nconst isWithinAllowedTime = (hours > 8 || (hours === 8 && minutes >= 0)) && (hours < 20 || (hours === 20 && minutes <= 30));\n\n// Obtém a mensagem original do nó anterior\nconst originalMessage = $json.query.message || \"\";\n\n// Verifica se o campo `#sair` está marcado como \"Sim\"\nconst shouldAppendExitMessage = $json.query['sair'] === \"Sim\";\n\n// Adiciona a mensagem de saída somente se necessário\nconst finalMessage = shouldAppendExitMessage \n    ? `${originalMessage}\\n\\n${randomMessage}`\n    : originalMessage;\n\n// Retorna os valores no formato esperado pelo n8n\nreturn {\n    message: finalMessage,\n    waitTime: waitTime,\n    allowedTime: isWithinAllowedTime\n};\n"},"id":"922058aa-a944-4135-a0f7-c77978211a42","name":"Code5","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,1140]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.saudacao }}","operation":"contains","value2":"Sim"}]}},"id":"c505ff95-24dc-4519-ba13-e058eebae83d","name":"IF4","type":"n8n-nodes-base.if","typeVersion":1,"position":[740,1500]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.saudacao }}","operation":"contains","value2":"Sim"}]}},"id":"70c3cfc7-b467-4c64-810d-890c8b717829","name":"IF5","type":"n8n-nodes-base.if","typeVersion":1,"position":[740,1200]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $('Merge5').item.json.allowedTime }}","value2":true}]}},"id":"57fea09d-d48f-47e6-8f3a-49b468ef1f5d","name":"IF6","type":"n8n-nodes-base.if","typeVersion":1,"position":[1520,1200]},{"parameters":{"jsCode":"const greetings = [\n    \"Bom dia\", \"Boa tarde\", \"Boa noite\", \"Olá, tudo?\", \"Opa!\", \"Oi! Tudo?\", \"Olá!\", \"Oi, tudo bem?\", \"Olá, como vai?\", \"Oi, como está?\",\n    \"Bom dia!\", \"Boa tarde!\", \"Boa noite!\", \"Olá, tudo bem?\", \"Oi, tudo certo?\", \"Oi, como vai?\", \"Tudo tranquilo?\", \"Oi. Tudo certo?\", \"Oi, tudo tranquilo?\", \"Oi, bom dia\",\n    \"Oi, boa tarde\", \"Oi, boa noite\", \"Olá, bom dia\", \"Olá, boa tarde\", \"Olá, boa noite\", \"Oi, tudo bom?\", \"Oi, como vai?\", \"Bom dia, tudo bem?\", \"Boa tarde, tudo bem?\", \"Boa noite, tudo bem?\",\n    \"Oi, como vai você?\", \"Opa.. Tudo certo?\", \"Bom dia para você\", \"Boa tarde para você\", \"Boa noite para você\", \"Oi, tudo beleza?\", \"Oi, como estão as coisas?\", \"Olá, tudo certo?\", \"Oi, como vai indo?\", \"Olá, tranquilo?\",\n    \"Bom dia. Tudo tranquilo?\", \"Boa tarde. Tudo tranquilo?\", \"Boa noite. Tudo tranquilo?\", \"Oi, por ai tudo certo?\", \"Oi, como estão as coisas?\", \"Opa! Por ai tudo certo?\", \"E ai! Tudo em ordem?\", \"Oi, espero que esteja bem\", \"Oi, tudo tranquilo?\", \"Oie! Tudo bem?\"\n];\n\n// Obtém a hora atual para definir a saudação adequada\nconst now = new Date();\nconst hours = now.getHours();\nlet timeGreeting = \"\";\n\nif (hours >= 5 && hours < 12) {\n    timeGreeting = \"Bom dia\";\n} else if (hours >= 12 && hours < 18) {\n    timeGreeting = \"Boa tarde\";\n} else {\n    timeGreeting = \"Boa noite\";\n}\n\n// Filtra as mensagens que combinam com o período do dia\nconst filteredGreetings = greetings.filter(greet => greet.includes(timeGreeting) || !greet.includes(\"Bom dia\") && !greet.includes(\"Boa tarde\") && !greet.includes(\"Boa noite\"));\n\n// Seleciona uma saudação aleatória\nconst randomGreeting = filteredGreetings[Math.floor(Math.random() * filteredGreetings.length)];\n\n// Gera um tempo de espera aleatório entre 15 e 60 segundos\nconst waitTime = Math.floor(Math.random() * (10 - 2 + 1)) + 2;\n\nreturn {\n    message: randomGreeting,\n    waitTime: waitTime\n};"},"id":"865d2552-d226-4ea9-b289-3837371a6a1b","name":"Code7","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,880]},{"parameters":{"amount":"={{ $('Merge9').item.json.waitTime }}","unit":"seconds"},"id":"3b1feb9e-6e81-42f1-895b-01a698921075","name":"Wait4","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1700,960],"webhookId":"072770e7-ae60-4c26-ba3c-cd3aa7291325"},{"parameters":{"baseUrl":"https://qps.bee360.com.br","token":"={{ $json.token }}","method":"sendtext","text":"={{ $json.message }}","chatid":"=+{{ $json.identifier.split(\"@\")[0] }}"},"id":"1078b863-f1ad-487a-b091-1d4991ce84a3","name":"Quepasa","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[1480,960],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"tabela_buscas_disparos","mode":"list","cachedResultName":"tabela_buscas_disparos"},"columns":{"mappingMode":"defineBelow","value":{"saudacao":"={{ $json.body.saudacao.replace(\"Sim\",\"true\").replace(\"Não\",\"false\") }}","account_id":"={{ $json.body.account_id.toInt() }}","campanha":"={{ $json.body.campaign }}","filtros":"={{ $json.query }}","tamanho_base":"={{ $json.query.quantity }}","disparos_realizados_quantidade":"={{ $json.body.campaignCount }}","data_atualizacao":"={{$now}}","mensagem":"={{ $json.body.message }}","url_anexo":"={{ $json.body.fileUrl }}","telefone_cliente":"={{ $json.telefone_cliente }}","cliente_id":"={{ $json.id }}"},"matchingColumns":["account_id","campanha"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"cliente_id","displayName":"cliente_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"telefone_cliente","displayName":"telefone_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"filtros","displayName":"filtros","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"tamanho_base","displayName":"tamanho_base","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"disparos_realizados_quantidade","displayName":"disparos_realizados_quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"data_criacao","displayName":"data_criacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"data_atualizacao","displayName":"data_atualizacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url_anexo","displayName":"url_anexo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"saudacao","displayName":"saudacao","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"10c1a4e6-2795-4b96-9d00-1a378dfb8b3f","name":"Postgres3","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-820,860],"credentials":{"postgres":{"id":"YQ5YpXrzlvfsoS0g","name":"CNPJs"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"clientes_leads","mode":"list","cachedResultName":"clientes_leads"},"returnAll":true,"where":{"values":[{"column":"account_id","value":"={{ $json.query.account_id.toInt() }}"},{"column":"inbox_name","condition":"LIKE","value":"={{ $json.body.inbox }}"}]},"options":{}},"id":"56da044e-ecc6-4c83-9c9f-bca2d3a7b894","name":"Postgres7","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-1220,780],"credentials":{"postgres":{"id":"YQ5YpXrzlvfsoS0g","name":"CNPJs"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"c4544ce7-699c-499b-a103-5df2a7ac771d","name":"Merge6","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1020,860]},{"parameters":{},"id":"78838160-c266-4c0c-95f8-5670be9cff48","name":"No Operation, do nothing3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1400,880]},{"parameters":{"path":"2759a07f-b5cb-4b21-95cd-7155f05d9f9b","authentication":"headerAuth","options":{}},"id":"ef2069ad-6fb5-40d9-ae4b-7d160f68824f","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1860,1600],"webhookId":"2759a07f-b5cb-4b21-95cd-7155f05d9f9b","disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT\n    ct.id AS contact_id,\n    ct.name,\n    ct.identifier,\n    ct.created_at,\n    ct.custom_attributes,\n    ct.account_id,\n    ca.identifier AS token,\n    i.id AS inbox_id,  -- Adiciona inbox_id se existir\n    c.display_id       -- Adiciona display_id se existir em conversations\nFROM contacts ct\nLEFT JOIN conversations c \n    ON c.contact_id = ct.id \n    AND c.account_id = {{ $json.query.account_id }} \n    AND c.inbox_id = {{ $json.id }} \n    AND (\n        (c.custom_attributes ->> 'campanhas') IS NULL \n        OR (c.custom_attributes ->> 'campanhas') NOT ILIKE '%' || '{{ $json.query.campaign }}' || '%'\n    )\n    AND (\n        (c.custom_attributes ->> 'removercontato') IS NULL \n        OR (c.custom_attributes ->> 'removercontato') NOT ILIKE '%removercontato%'\n    )\n    AND (\n        c.cached_label_list NOT LIKE '%removercontato%' \n        AND c.cached_label_list NOT LIKE '%duplicado%'\n    )\nJOIN inboxes i\n    ON i.id = {{ $json.id }} -- Usar INNER JOIN para garantir que o token sempre seja encontrado\nJOIN channel_api ca\n    ON i.channel_id = ca.id \nWHERE \n    ct.account_id = {{ $json.query.account_id }} \n    AND ct.identifier ILIKE '%@s.whatsapp.net' \n    AND ct.created_at <= NOW() - INTERVAL '{{ $json.query.date_limit.replace(\" dias\",\"\") }} days'\n    AND (\n        (ct.custom_attributes ->> 'campanhas') IS NULL \n        OR (ct.custom_attributes ->> 'campanhas') NOT ILIKE '%' || '{{ $json.query.campaign }}' || '%'\n    )\n    AND (\n        (ct.custom_attributes ->> 'removercontato') IS NULL \n        OR (ct.custom_attributes ->> 'removercontato') NOT ILIKE '%removercontato%'\n    )\n    AND (\n        (ct.custom_attributes ->> '{{ $json.query.custom_attribute_filter }}') IS NOT NULL \n        AND (ct.custom_attributes ->> '{{ $json.query.custom_attribute_filter }}') ILIKE '%' || '{{ $json.query.text_custom_attribute_filter }}' || '%'\n    )\n    AND c.id IS NULL\nLIMIT \n    {{ $json.body.quantity.replace(\"Todos\",\"500\") }};","options":{}},"id":"28fe6635-bbd2-4f79-a321-4a54b1f0f6ae","name":"Postgres8","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-800,1660],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"inboxes","mode":"name"},"where":{"values":[{"column":"account_id","value":"={{ $json.query.account_id }}"},{"column":"name","value":"={{ $json.query.inbox }}"}]},"options":{"outputColumns":["id"]}},"id":"fe0138fc-1f40-4be2-8fe0-bbf837f8a7c2","name":"Postgres9","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-1200,1660],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"e724f645-bcfe-43f3-91bc-1e81d40f54ad","name":"Merge7","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1000,1720]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"57354897-4468-4c93-812c-fa24a9d452d0","name":"Merge8","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-600,1720]},{"parameters":{},"id":"8ef583ab-eb91-458b-a1c2-dbb5c2f76151","name":"No Operation, do nothing4","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1400,1740]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query.fileUrl }}","operation":"notContains","value2":"http"}]}},"id":"1cc79b77-4854-4c6c-8e85-29a835d4ff07","name":"IF2","type":"n8n-nodes-base.if","typeVersion":1,"position":[-380,1720]},{"parameters":{"dataType":"string","value1":"={{ $json.body.tipo_disparo }}","rules":{"rules":[{"operation":"contains","value2":"Disparo condicional por etiquetas","outputKey":"Disparo condicional por etiquetas"},{"operation":"contains","value2":"Mais tempo sem interação","outputKey":"Mais tempo sem interação"},{"operation":"contains","value2":"Disparo condicional por campos personalizados","outputKey":"Disparo condicional por campos personalizados"}]}},"id":"5fbbc986-4cdc-44ea-83e5-17ab144ee80f","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":2,"position":[-1640,1400]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contacts","mode":"name"},"where":{"values":[{"column":"account_id","value":"65"},{"column":"identifier"}]},"options":{}},"id":"2c1c0539-4163-4b62-9257-fdd1cc44bd8e","name":"Postgres10","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-1820,1820],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{},"id":"4ecf1908-7e59-499a-8349-0f283e248d0f","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[940,960]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"ee36cc37-d08d-4d81-bece-3e58dde29e84","name":"Merge9","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1300,960]},{"parameters":{"httpMethod":"POST","path":"disparador-universal-bee360","options":{}},"id":"c3d02fb1-abe3-465a-be56-589e4bf8e46b","name":"Webhook2","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1920,1140],"webhookId":"99749f35-64ef-4f4d-8f67-62430f7672f4","disabled":true},{"parameters":{"httpMethod":"POST","path":"disparador-universal-bee360","options":{}},"id":"93c7bbbb-ed3e-4938-b71a-3007ea7d5996","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1860,1400],"webhookId":"eadc880d-ccc7-440f-b9f5-a395be974bed"}],"connections":{"Postgres":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Postgres","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"IF1":{"main":[[{"node":"Filter3","type":"main","index":0}],[{"node":"Filter2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"IF1","type":"main","index":0}]]},"Postgres5":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Postgres6":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Postgres5","type":"main","index":0},{"node":"Merge3","type":"main","index":1}]]},"Merge3":{"main":[[{"node":"IF","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Postgres1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"No Operation, do nothing1":{"main":[[{"node":"Postgres6","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"IF":{"main":[[{"node":"Filter3","type":"main","index":0}],[{"node":"Filter2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Postgres2","type":"main","index":0},{"node":"Postgres4","type":"main","index":0},{"node":"IF4","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Quepasa9":{"main":[[{"node":"IF3","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Item Lists3","type":"main","index":0}]]},"Item Lists3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Quepasa9","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Postgres4","type":"main","index":0},{"node":"Postgres2","type":"main","index":0},{"node":"IF5","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Quepasa10":{"main":[[{"node":"IF6","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"Item Lists4","type":"main","index":0}]]},"Item Lists4":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Quepasa10","type":"main","index":0}]]},"IF3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"IF4":{"main":[[{"node":"Code4","type":"main","index":0},{"node":"Merge4","type":"main","index":1},{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"Merge4","type":"main","index":1},{"node":"Code4","type":"main","index":0}]]},"IF5":{"main":[[{"node":"Code5","type":"main","index":0},{"node":"Merge5","type":"main","index":1},{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"Code5","type":"main","index":0},{"node":"Merge5","type":"main","index":1}]]},"IF6":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Merge9","type":"main","index":0}]]},"Quepasa":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Postgres7":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Postgres3","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Postgres7","type":"main","index":0},{"node":"Merge6","type":"main","index":1}]]},"Postgres8":{"main":[[{"node":"Merge8","type":"main","index":0}]]},"Postgres9":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Postgres8","type":"main","index":0},{"node":"Merge8","type":"main","index":1}]]},"Merge8":{"main":[[{"node":"IF2","type":"main","index":0}]]},"No Operation, do nothing4":{"main":[[{"node":"Postgres9","type":"main","index":0},{"node":"Merge7","type":"main","index":1}]]},"IF2":{"main":[[{"node":"Filter3","type":"main","index":0}],[{"node":"Filter2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Code7","type":"main","index":0},{"node":"Merge9","type":"main","index":1}]]},"Merge9":{"main":[[{"node":"Quepasa","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"No Operation, do nothing3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"105571e3-0297-4128-874e-4ac221ff9815","triggerCount":0,"tags":[]}