[-bee360-]-webhook-ajustes-participantes-5aVlbZ9KLo5lZ8J9.json
{"createdAt":"2024-11-28T03:44:23.981Z","updatedAt":"2024-11-28T05:32:32.914Z","id":"5aVlbZ9KLo5lZ8J9","name":"[ Bee360 ] Webhook Ajustes participantes","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b30ad53c-0cfd-4b7b-8243-e28663db42ae","leftValue":"={{ $json.body.status }}","rightValue":"resolved","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"ba60c7f9-7ab6-4990-9b6b-6dd4ebe2073f","name":"Status Resolved?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,160]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"conversations","mode":"list","cachedResultName":"conversations"},"limit":1,"where":{"values":[{"column":"account_id","value":"={{ $json.body.messages[0].account_id }}"},{"column":"display_id","value":"={{ $json.body.id }}"}]},"options":{"outputColumns":["id"]}},"id":"b26c216b-06a5-42e1-b4b1-5bd9ca9c0172","name":"Get Real Cvs ID","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[960,140],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"method":"PATCH","url":"=https://app.bee360.com.br/api/v1/accounts/{{ $('Status Resolved?').item.json.body.messages[0].account_id }}/conversations/{{ $('Status Resolved?').item.json.body.id }}/participants","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\"user_ids\":[]}","options":{}},"id":"2efde8a7-7c30-42ad-a30e-a5038b450d80","name":"Remove Participants","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,140],"credentials":{"httpHeaderAuth":{"id":"EjFedmv05mPaSB9a","name":"BEE360 TOKEN #1"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"conversation_status_changed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1911422-725e-431c-96dd-a4ce741e0e7a","leftValue":"={{ $json.body.event }}","rightValue":"={{ $json.body.event }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"bf135d29-237b-44b2-acaf-97f6fce8d7f0","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[520,340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4fcec79e-c1aa-4ccd-af48-f8f3fa07549f","leftValue":"={{ JSON.stringify($json.body.changed_attributes) }}","rightValue":"=assignee_id","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"9fd8a6f1-1f0a-4341-8373-d297de6b71c6","name":"Filter Only Assigne ID Changes","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[720,500]},{"parameters":{"assignments":{"assignments":[{"id":"9c55aaa3-2520-473a-93d4-9c215ec4b1f4","name":"assignee_id","value":"={{ $json.body.changed_attributes[0].assignee_id.current_value }}","type":"number"}]},"includeOtherFields":true,"options":{}},"id":"bd6f0385-db22-4e57-b540-54ba25ca22e5","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,500]},{"parameters":{"content":"## Remove participantes\n**Ao resolver conversa","height":320,"width":677},"id":"17d367bd-4e13-4436-a739-da9a8ae5a36c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[660,20]},{"parameters":{"content":"## Somente um participante\n** Ao atribuir conversa","height":320,"width":677,"color":4},"id":"89211b9d-763b-453d-96dc-4594c069a77b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,400]},{"parameters":{"method":"PATCH","url":"=https://app.bee360.com.br/api/v1/accounts/{{ $('Edit Fields').item.json.body.messages[0].account_id }}/conversations/{{ $('Edit Fields').item.json.body.id }}/participants","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_ids\":[{{ $json.assignee_id }}]}","options":{}},"id":"9a54c330-eae4-4798-9988-510c852f83e6","name":"Adiciona Atribuido com Participante","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,500],"credentials":{"httpHeaderAuth":{"id":"EjFedmv05mPaSB9a","name":"BEE360 TOKEN #1"}}},{"parameters":{"httpMethod":"POST","path":"fromChatwootWebhook","options":{}},"id":"d08ac4c9-a7e5-4bcb-8fc2-0cebd53f8444","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[300,340],"webhookId":"9abb5a2d-eab2-49ae-88b4-3948178a6cdb"}],"connections":{"Status Resolved?":{"main":[[{"node":"Get Real Cvs ID","type":"main","index":0}]]},"Get Real Cvs ID":{"main":[[{"node":"Remove Participants","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Status Resolved?","type":"main","index":0}],[{"node":"Filter Only Assigne ID Changes","type":"main","index":0}]]},"Filter Only Assigne ID Changes":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Adiciona Atribuido com Participante","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fb3313dc-1eb3-43d1-b059-f03ea8bcd7b1","triggerCount":1,"tags":[]}