[-bee360-]-conversas-duplicadas-blsOsxGL3rhddvWs.json
{"createdAt":"2024-03-10T00:47:01.292Z","updatedAt":"2024-11-18T00:54:58.215Z","id":"blsOsxGL3rhddvWs","name":"[ BEE360 ] CONVERSAS DUPLICADAS","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT \n    c.account_id, \n    c.contact_id, \n    c.inbox_id, \n    COUNT(DISTINCT c.id) AS conversa_count,\n    COUNT(m.id) AS message_count\nFROM \n    conversations c\nLEFT JOIN \n    messages m ON c.id = m.conversation_id\nGROUP BY \n    c.account_id, c.contact_id, c.inbox_id\nHAVING \n    COUNT(DISTINCT c.id) > 1\nORDER BY \n    c.account_id,\n    c.contact_id;\n\n\n","options":{}},"id":"4dc2a6f7-4620-4b35-a5e3-a416efebdc8a","name":"Bee360 Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-40,420],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{},"id":"54907e57-b680-4751-9961-871029e776ba","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,420]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"0c5db2c2-387a-4776-8897-196949fe7ef0","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1400,400]},{"parameters":{"amount":2,"unit":"seconds"},"id":"41a2729d-d042-4b0e-9e4b-602252bb2ad7","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1640,400],"webhookId":"432bfbf0-e374-45f3-9791-ce143f7343c2"},{"parameters":{"operation":"executeQuery","query":"UPDATE messages\nSET conversation_id = '{{ $json.data[0].conversation_id }}'\nWHERE conversation_id = '{{ $json.data[1].conversation_id }}';\n\n\n\n\n\n","options":{}},"id":"3a69e0ac-edb7-4d3d-b90c-055c1a29fd70","name":"Bee360 Postgres2","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[1200,320],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM conversations\nWHERE id = '{{ $json.data[1].conversation_id }}'\n  AND NOT EXISTS (SELECT 1 FROM messages WHERE conversation_id = '{{ $json.data[1].conversation_id }}');\n\n\n\n\n\n\n","options":{}},"id":"c230ced4-1847-428f-a702-debd97607688","name":"Bee360 Postgres3","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[1880,400],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    c.id AS conversation_id, \n    COUNT(m.id) AS message_count\nFROM \n    conversations c\nJOIN \n    messages m ON c.id = m.conversation_id\nWHERE \n    c.contact_id = '{{ $json.contact_id }}'\nGROUP BY \n    c.id\nORDER BY \n    message_count ASC, c.id;\n\n\n\n\n","options":{}},"id":"3dd181ce-52d0-4a72-861b-9bf0b186e988","name":"Bee360 Postgres10","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[1000,1060],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"options":{}},"id":"2131d06d-a064-4854-9426-311eae5896e7","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[180,420]},{"parameters":{"operation":"concatenateItems","aggregate":"aggregateAllItemData","options":{}},"id":"5ce1519e-4056-47c3-9ea6-8c90aea66e0b","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[660,420]},{"parameters":{"operation":"executeQuery","query":"SELECT \n    c.id AS conversation_id, \n    COUNT(m.id) AS message_count\nFROM \n    conversations c\nJOIN \n    messages m ON c.id = m.conversation_id\nWHERE \n    c.contact_id = '{{ $json.contact_id }}'\n    AND c.inbox_id = '{{ $json.inbox_id }}'\nGROUP BY \n    c.id\nORDER BY \n    conversation_id ASC, c.id;\n\n\n\n\n","options":{}},"id":"a1d8ae28-7071-4dea-9043-c32d636b6030","name":"Bee360 Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[440,420],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"7d7caa03-76db-486a-858e-fea7dbc1376b","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-240,280]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Bee360 Postgres","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Bee360 Postgres3","type":"main","index":0}]]},"Bee360 Postgres2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Bee360 Postgres":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Bee360 Postgres1":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Bee360 Postgres1","type":"main","index":0},{"node":"Bee360 Postgres10","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Bee360 Postgres2","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Schedule Trigger":{"main":[[{"node":"Bee360 Postgres","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4d570362-d3c4-4525-abc9-8e3e57580b43","triggerCount":1,"tags":[]}