[-cnpjs-]-cadastro-banco-de-dados-6MCRgLVPo7DAA8HW.json
{"createdAt":"2025-03-20T01:22:18.178Z","updatedAt":"2025-03-20T03:34:44.792Z","id":"6MCRgLVPo7DAA8HW","name":"[ CNPJs ] Cadastro Banco de Dados","active":false,"nodes":[{"parameters":{"options":{}},"id":"cee3c1ce-adc9-472c-a64e-154459b2162d","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-260,360]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"b380b8c2-b2f2-414b-9f05-1724fb3de428","name":"DOWNLOAD","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,360],"credentials":{"googleDriveOAuth2Api":{"id":"wHsTm7ZM8Ww3TSDG","name":"Google Drive account"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"newUpdatedFileName":"={{ $json.name.replace(\".csv\",\"\") }}_SUCESSO_CNAES.csv","options":{}},"id":"a1a0b67c-a83d-411d-b9d6-3878d0d158a4","name":"SUCESSO","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,500],"credentials":{"googleDriveOAuth2Api":{"id":"wHsTm7ZM8Ww3TSDG","name":"Google Drive account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{$json.id}}","operation":"isEmpty"}]}},"id":"b14ed6bc-c4ca-4ab5-a9eb-a35e297f0f76","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,180]},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('Item Lists').item.json.id }}","mode":"id"},"newUpdatedFileName":"={{ $('Item Lists').item.json.name }}_SUCESSO_CNAES","options":{}},"id":"0723fd0b-eae8-402a-bf6e-c994dc0069ed","name":"PARTES DO ARQUIVO2","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,180],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"wHsTm7ZM8Ww3TSDG","name":"Google Drive account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"tabela_cnpj","mode":"list","cachedResultName":"tabela_cnpj"},"columns":{"mappingMode":"defineBelow","value":{"cnpj":"={{ $json.cnpj.toString().padStart(14, '0').slice(0, 2) + '.' + $json.cnpj.toString().padStart(14, '0').slice(2, 5) + '.' + $json.cnpj.toString().padStart(14, '0').slice(5, 8) + '/' + $json.cnpj.toString().padStart(14, '0').slice(8, 12) + '-' + $json.cnpj.toString().padStart(14, '0').slice(12, 14) }}","razao":"={{ $json.razao_social }}","fantasia":"={{ $json.nome_fantasia }}","tipo":"={{ $json.descricao_tipo_logradouro }}","endereco":"={{ $json.logradouro }}","numero":"={{ $json.numero }}","complemento":"={{ $json.complemento }}","bairro":"={{ $json.bairro }}","cidade":"={{ $json.municipio }}","uf":"={{ $json.uf }}","cod_ibge":"={{ $json.codigo_municipio }}","cep":"={{ $json.cep }}","telefone1":"={{ $json.ddd_telefone_1 }}","telefone2":"={{ $json.ddd_telefone_2 }}","email":"={{ $json.correio_eletronico }}","site":"=","cnae_principal":"={{ $json.cnae_codes }}","texto_cnae_principal":"={{ $json.cnae_fiscal }}","cnae_secundario":"={{ $json.cnaes_secundarios }}","matriz_filial":"={{ $json.identificador_m_f }}","ente_federativo":"=","situacao_cad":"={{ $json.situacao_cadastral.toString().replace(\"2\",\"ATIVA\") }}","data_situacao_cad":"={{ $json.data_situacao_cadastral }}","natureza_juridica":"={{ \n  $json.codigo_natureza_juridica.toString()\n    .replace(\"1015\", \"Órgão Público do Poder Executivo Federal\")\n    .replace(\"1023\", \"Órgão Público do Poder Executivo Estadual ou do Distrito Federal\")\n    .replace(\"1031\", \"Órgão Público do Poder Executivo Municipal\")\n    .replace(\"1040\", \"Órgão Público do Poder Legislativo Federal\")\n    .replace(\"1058\", \"Órgão Público do Poder Legislativo Estadual ou do Distrito Federal\")\n    .replace(\"1066\", \"Órgão Público do Poder Legislativo Municipal\")\n    .replace(\"1074\", \"Órgão Público do Poder Judiciário Federal\")\n    .replace(\"1082\", \"Órgão Público do Poder Judiciário Estadual\")\n    .replace(\"1104\", \"Autarquia Federal\")\n    .replace(\"1112\", \"Autarquia Estadual ou do Distrito Federal\")\n    .replace(\"1120\", \"Autarquia Municipal\")\n    .replace(\"1139\", \"Fundação Pública de Direito Público Federal\")\n    .replace(\"1147\", \"Fundação Pública de Direito Público Estadual ou do Distrito Federal\")\n    .replace(\"1155\", \"Fundação Pública de Direito Público Municipal\")\n    .replace(\"1163\", \"Órgão Público Autônomo Federal\")\n    .replace(\"1171\", \"Órgão Público Autônomo Estadual ou do Distrito Federal\")\n    .replace(\"1180\", \"Órgão Público Autônomo Municipal\")\n    .replace(\"1198\", \"Comissão Polinacional\")\n    .replace(\"1210\", \"Consórcio Público de Direito Público (Associação Pública)\")\n    .replace(\"1228\", \"Consórcio Público de Direito Privado\")\n    .replace(\"1236\", \"Estado ou Distrito Federal\")\n    .replace(\"1244\", \"Município\")\n    .replace(\"1252\", \"Fundação Pública de Direito Privado Federal\")\n    .replace(\"1260\", \"Fundação Pública de Direito Privado Estadual ou do Distrito Federal\")\n    .replace(\"1279\", \"Fundação Pública de Direito Privado Municipal\")\n    .replace(\"1287\", \"Fundo Público da Administração Indireta Federal\")\n    .replace(\"1295\", \"Fundo Público da Administração Indireta Estadual ou do Distrito Federal\")\n    .replace(\"1309\", \"Fundo Público da Administração Indireta Municipal\")\n    .replace(\"1317\", \"Fundo Público da Administração Direta Federal\")\n    .replace(\"1325\", \"Fundo Público da Administração Direta Estadual ou do Distrito Federal\")\n    .replace(\"1333\", \"Fundo Público da Administração Direta Municipal\")\n    .replace(\"1341\", \"União\")\n    .replace(\"2011\", \"Empresa Pública\")\n    .replace(\"2038\", \"Sociedade de Economia Mista\")\n    .replace(\"2046\", \"Sociedade Anônima Aberta\")\n    .replace(\"2054\", \"Sociedade Anônima Fechada\")\n    .replace(\"2062\", \"Sociedade Empresária Limitada\")\n    .replace(\"2070\", \"Sociedade Empresária em Nome Coletivo\")\n    .replace(\"2089\", \"Sociedade Empresária em Comandita Simples\")\n    .replace(\"2097\", \"Sociedade Empresária em Comandita por Ações\")\n    .replace(\"2127\", \"Sociedade em Conta de Participação\")\n    .replace(\"2135\", \"Empresário (Individual)\")\n    .replace(\"2143\", \"Cooperativa\")\n    .replace(\"2151\", \"Consórcio de Sociedades\")\n    .replace(\"2160\", \"Grupo de Sociedades\")\n    .replace(\"2178\", \"Estabelecimento, no Brasil, de Sociedade Estrangeira\")\n    .replace(\"2194\", \"Estabelecimento, no Brasil, de Empresa Binacional Argentino-Brasileira\")\n    .replace(\"2216\", \"Empresa Domiciliada no Exterior\")\n    .replace(\"2224\", \"Clube/Fundo de Investimento\")\n    .replace(\"2232\", \"Sociedade Simples Pura\")\n    .replace(\"2240\", \"Sociedade Simples Limitada\")\n    .replace(\"2259\", \"Sociedade Simples em Nome Coletivo\")\n    .replace(\"2267\", \"Sociedade Simples em Comandita Simples\")\n    .replace(\"2275\", \"Empresa Binacional\")\n    .replace(\"2283\", \"Consórcio de Empregadores\")\n    .replace(\"2291\", \"Consórcio Simples\")\n    .replace(\"2305\", \"Empresa Individual de Responsabilidade Limitada (de Natureza Empresária)\")\n    .replace(\"2313\", \"Empresa Individual de Responsabilidade Limitada (de Natureza Simples)\")\n    .replace(\"2321\", \"Sociedade Unipessoal de Advogados\")\n    .replace(\"2330\", \"Cooperativas de Consumo\")\n    .replace(\"3034\", \"Serviço Notarial e Registral (Cartório)\")\n    .replace(\"3069\", \"Fundação Privada\")\n    .replace(\"3077\", \"Serviço Social Autônomo\")\n    .replace(\"3085\", \"Condomínio Edilício\")\n    .replace(\"3107\", \"Comissão de Conciliação Prévia\")\n    .replace(\"3115\", \"Entidade de Mediação e Arbitragem\")\n    .replace(\"3131\", \"Entidade Sindical\")\n    .replace(\"3204\", \"Estabelecimento, no Brasil, de Fundação ou Associação Estrangeiras\")\n    .replace(\"3212\", \"Fundação ou Associação Domiciliada no Exterior\")\n    .replace(\"3220\", \"Organização Religiosa\")\n    .replace(\"3239\", \"Comunidade Indígena\")\n    .replace(\"3247\", \"Fundo Privado\")\n    .replace(\"3255\", \"Órgão de Direção Nacional de Partido Político\")\n    .replace(\"3263\", \"Órgão de Direção Regional de Partido Político\")\n    .replace(\"3271\", \"Órgão de Direção Local de Partido Político\")\n    .replace(\"3280\", \"Comitê Financeiro de Partido Político\")\n    .replace(\"3298\", \"Frente Plebiscitária ou Referendária\")\n    .replace(\"3301\", \"Organização Social (OS)\")\n    .replace(\"3310\", \"Demais Condomínios\")\n    .replace(\"3999\", \"Associação Privada\")\n    .replace(\"4014\", \"Empresa Individual Imobiliária\")\n    .replace(\"4022\", \"Segurado Especial\")\n    .replace(\"4081\", \"Contribuinte Individual\")\n    .replace(\"4090\", \"Candidato a Cargo Político Eletivo\")\n    .replace(\"4111\", \"Leiloeiro\")\n    .replace(\"4120\", \"Produtor Rural (Pessoa Física)\")\n    .replace(\"5010\", \"Organização Internacional\")\n    .replace(\"5029\", \"Representação Diplomática Estrangeira\")\n    .replace(\"5037\", \"Outras Instituições Extraterritoriais\")\n}}\n","data_inicio_atv":"={{ $json.data_inicio_atividade }}","opcao_pelo_mei":"={{ $json.codigo_natureza_juridica === 2135 ? \"S\" : \"\" }}","data_entrada_mei":"={{ $json.data_opcao_mei }}","data_exclusao_mei":"={{ $json.data_exclusao_opcao_mei }}","programas_especiais":"=","porte_empresa":"={{ $json.porte_empresa }}","regime_tributario":"=","data_op_simples":"={{  $json.data_opcao_simples }}","data_exclusao_simples":"={{ \n  $json.data_exclusao_simples \n}}","capital_social_empresa":"={{ $json.capital_social_empresa }}","identificador_1_socio":"=","nome_do_socio":"={{ $json.socios }}","faixa_etaria":"=","cpf_cnpj_do_socio":"=","qualificacao":"={{ $json.qualificacao_responsavel }}","data_da_entrada":"=","faturamento_estimado":"=","quadro_de_funcionarios":"=","dividas_federais_ativas":"=","total_dividas":"=","data_atualizacao":"={{ $now }}","arquivo_upload":"={{ $json.arquivo_upload }}"},"matchingColumns":["cnpj"],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"razao","displayName":"razao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"fantasia","displayName":"fantasia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"endereco","displayName":"endereco","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"complemento","displayName":"complemento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"bairro","displayName":"bairro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"cidade","displayName":"cidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"uf","displayName":"uf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"cod_ibge","displayName":"cod_ibge","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"cep","displayName":"cep","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"telefone1","displayName":"telefone1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"telefone2","displayName":"telefone2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"site","displayName":"site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"cnae_principal","displayName":"cnae_principal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"texto_cnae_principal","displayName":"texto_cnae_principal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"cnae_secundario","displayName":"cnae_secundario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"matriz_filial","displayName":"matriz_filial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"ente_federativo","displayName":"ente_federativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"situacao_cad","displayName":"situacao_cad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"data_situacao_cad","displayName":"data_situacao_cad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"natureza_juridica","displayName":"natureza_juridica","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"data_inicio_atv","displayName":"data_inicio_atv","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"opcao_pelo_mei","displayName":"opcao_pelo_mei","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"data_entrada_mei","displayName":"data_entrada_mei","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"data_exclusao_mei","displayName":"data_exclusao_mei","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"programas_especiais","displayName":"programas_especiais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"porte_empresa","displayName":"porte_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"regime_tributario","displayName":"regime_tributario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"data_op_simples","displayName":"data_op_simples","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"data_exclusao_simples","displayName":"data_exclusao_simples","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"capital_social_empresa","displayName":"capital_social_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"identificador_1_socio","displayName":"identificador_1_socio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"nome_do_socio","displayName":"nome_do_socio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"faixa_etaria","displayName":"faixa_etaria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"cpf_cnpj_do_socio","displayName":"cpf_cnpj_do_socio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"qualificacao","displayName":"qualificacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"data_da_entrada","displayName":"data_da_entrada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"faturamento_estimado","displayName":"faturamento_estimado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"quadro_de_funcionarios","displayName":"quadro_de_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"dividas_federais_ativas","displayName":"dividas_federais_ativas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"total_dividas","displayName":"total_dividas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"tipo_telefone","displayName":"tipo_telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"telefone_tratado","displayName":"telefone_tratado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"data_criacao","displayName":"data_criacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"data_atualizacao","displayName":"data_atualizacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"arquivo_upload","displayName":"arquivo_upload","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"02c9d3c8-147e-440c-8579-f4e765b1b2f4","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[840,360],"credentials":{"postgres":{"id":"YQ5YpXrzlvfsoS0g","name":"CNPJs"}}},{"parameters":{"jsCode":"// Obtém os dados binários de todos os arquivos enviados pelo nó anterior\nconst inputFiles = $input.all();\n\n// Verifica se há arquivos recebidos\nif (!inputFiles || inputFiles.length === 0) {\n    throw new Error(\"Nenhum arquivo encontrado no nó anterior.\");\n}\n\nlet mergedData = [];\n\ninputFiles.forEach((input, index) => {\n    const inputData = input.binary.data;\n\n    if (!inputData || !inputData.data) {\n        throw new Error(`Arquivo ${index + 1} não contém dados.`);\n    }\n\n    // Obtém o nome do arquivo do nó DOWNLOAD\n    const fileNameOriginal = inputData.fileName || `Arquivo_${index + 1}`;\n\n    // Decodifica o arquivo para string (CSV ou JSON)\n    const rawData = Buffer.from(inputData.data, 'base64').toString('utf-8');\n\n    // Verifica o tipo de arquivo pelo nome ou mimetype\n    const mimeType = inputData.mimeType || \"\";\n\n    let jsonData = [];\n\n    // Se for CSV, converte para JSON\n    if (fileNameOriginal.endsWith(\".csv\") || mimeType.includes(\"csv\")) {\n        const rows = rawData.split(\"\\n\").map(row => row.trim()).filter(row => row);\n\n        // Detecta separador correto garantindo que a divisão preserve campos vazios\n        const separator = rows[0].includes(\";\") ? \";\" : \",\";\n        \n        // Ajuste para dividir corretamente as colunas preservando vazios\n        const headers = rows[0].split(separator).map(h => h.trim());\n\n        jsonData = rows.slice(1).map(row => {\n            const values = row.split(new RegExp(`${separator}(?=(?:[^\"]*\"[^\"]*\")*[^\"]*$)`)); // Melhor divisão do CSV\n            let obj = {};\n\n            headers.forEach((header, index) => {\n                obj[header] = values[index] !== undefined ? values[index].trim() : \"\"; // Mantém valores vazios\n            });\n\n            return obj;\n        });\n    } else if (fileNameOriginal.endsWith(\".json\") || mimeType.includes(\"json\")) {\n        // Se já for JSON, apenas faz o parse\n        jsonData = JSON.parse(rawData);\n    } else {\n        throw new Error(`Formato de arquivo não suportado (${fileNameOriginal}). Use JSON ou CSV.`);\n    }\n\n    // Adiciona os dados convertidos ao array final\n    mergedData = mergedData.concat(jsonData.map(row => ({\n        ...row,\n        arquivo_upload: fileNameOriginal.replace(/_SUCESSO/g, \"\").replace(\"SUCESSO\", \"\")\n    })));\n});\n\n// Função para normalizar datas\nfunction normalizeDate(value) {\n    if (!value || typeof value !== 'string') return \"\";\n    value = value.replace(/[^0-9/-]/g, \"\"); // Remove caracteres indesejados\n    if (value === \"00-00-0000\" || value === \"00/00/0000\") return \"\";\n    value = value.replace(/\\//g, \"-\");\n    const parts = value.split(\"-\");\n    if (parts.length === 3) {\n        const [part1, part2, part3] = parts.map(p => parseInt(p, 10));\n        return part1 > 31\n            ? `${part1}-${String(part2).padStart(2, \"0\")}-${String(part3).padStart(2, \"0\")}`\n            : `${part3}-${String(part2).padStart(2, \"0\")}-${String(part1).padStart(2, \"0\")}`;\n    }\n    return \"\";\n}\n\nfunction normalizeText(value) {\n    if (!value || typeof value !== 'string') return \"\";\n    return value.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").toUpperCase();\n}\n\nfunction normalizeCEP(value) {\n    if (!value || typeof value !== 'string') return \"\";\n    value = value.replace(/\\D/g, \"\");\n    return value.length === 8 ? `${value.slice(0, 2)}.${value.slice(2, 5)}-${value.slice(5, 8)}` : value;\n}\n\nfunction normalizePhone(value) {\n    if (!value || typeof value !== 'string') return \"\";\n    value = value.replace(/\\D/g, \"\");\n    return value.startsWith(\"55\") ? value.slice(2) : value;\n}\n\n// Processamento dos dados\nlet processedData = mergedData.map(row => {\n    let newRow = {};\n\n    Object.keys(row).forEach(key => {\n        let value = row[key];\n\n        if (key.toLowerCase().includes(\"data\")) {\n            newRow[key] = normalizeDate(value);\n        } else if (key.toLowerCase().includes(\"cep\")) {\n            newRow[key] = normalizeCEP(value);\n        } else if (key.toLowerCase().includes(\"telefone\") || key.toLowerCase().includes(\"celular\")) {\n            newRow[key] = normalizePhone(value);\n        } else if (typeof value === \"string\") {\n            newRow[key] = normalizeText(value);\n        } else {\n            newRow[key] = value || \"\";\n        }\n    });\n\n    return newRow;\n});\n\n// Retorna os dados processados garantindo que cada item esteja pareado corretamente\nreturn processedData.map((row, index) => ({\n    json: row,\n    pairedItem: { item: index }\n}));\n"},"id":"73cfb56f-d7bc-44d4-8cf0-08efd2c76a1f","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[540,360]},{"parameters":{},"id":"c06225ae-9f99-4649-bdd3-7437b43c542c","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2380,360]},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1FB8d9N6QzHo8QhrS_G3KJiubFbsQTV6J","mode":"id"},"whatToSearch":"folders"},"options":{}},"id":"8706ab48-0402-4337-92c2-3b0127761d6d","name":"Pasta Matriz dos Estados","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2180,360],"credentials":{"googleDriveOAuth2Api":{"id":"wHsTm7ZM8Ww3TSDG","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"id":"88200fa9-4d89-4d8d-b31e-ed6b0edb3c66","name":"ESTADO","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1320,360],"credentials":{"googleDriveOAuth2Api":{"id":"wHsTm7ZM8Ww3TSDG","name":"Google Drive account"}}},{"parameters":{"options":{}},"id":"2571c94c-5956-4f7d-9d04-555aef0cbc54","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1580,360]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.name.toLowerCase() }}","operation":"contains","value2":"=divididos"}]}},"id":"c6317445-d988-46e6-a3e4-26ac5590000f","name":"Filter1","type":"n8n-nodes-base.filter","typeVersion":1,"position":[-1120,360]},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"not name contains 'SUCESSO_CNAES' and mimeType != 'application/vnd.google-apps.folder'","limit":1,"filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"id":"aa20af15-39f5-43fe-a598-aab3e0596b2d","name":"DIVIDIDOS POR TAMANHO","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-920,360],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"wHsTm7ZM8Ww3TSDG","name":"Google Drive account"}}},{"parameters":{"operation":"sort","sortFieldsUi":{"sortField":[{"fieldName":"name"}]},"options":{}},"id":"c27c3d2b-6f84-421a-9509-2bb06dc47207","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[-480,360]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/7 * * * *"}]}},"id":"b4c0e359-0b84-455f-9150-01422386eba5","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-2380,200]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.name }}","operation":"notContains","value2":"=SUCESSO_CNAES"}]}},"id":"2b90dcbe-d4ba-418e-aca9-cda6fc091090","name":"Filter3","type":"n8n-nodes-base.filter","typeVersion":1,"position":[-680,360],"alwaysOutputData":false},{"parameters":{"conditions":{"string":[{"value1":"={{$json.id}}","operation":"isEmpty"}]}},"id":"7cfd72ad-1568-4324-82ab-cdeda2d0a5d1","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-680,180]},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('Pasta Matriz dos Estados').item.json.id }}","mode":"id"},"newUpdatedFileName":"={{ $('Pasta Matriz dos Estados').item.json.name }}_SUCESSO_CNAES","options":{}},"id":"e83cc823-b307-4064-b5aa-0d81d92500b6","name":"PARTES DO ARQUIVO","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-460,-60],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"wHsTm7ZM8Ww3TSDG","name":"Google Drive account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.name }}","operation":"notContains","value2":"SUCESSO_CNAES"}]}},"id":"ea1abaa1-a196-45bc-b797-6e1710dc25ef","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":1,"position":[-1760,360]},{"parameters":{"operation":"sort","sortFieldsUi":{"sortField":[{"fieldName":"name"}]},"options":{}},"id":"af835070-4580-462d-8a14-4aab77a79feb","name":"Item Lists1","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[-1980,360]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2380,520],"id":"654d8cf7-ebb1-48f9-af05-27a930bf8807","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"G5YD7R6OEdLt2E4g","mode":"list","cachedResultName":"Callback"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[0,0],"id":"1fd6224c-4340-4b63-8dd4-9935b9d83b23","name":"Execute Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"G5YD7R6OEdLt2E4g","mode":"list","cachedResultName":"Callback"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-460,100],"id":"8ca7c3a9-c8f2-4627-a358-e2e14ef3699c","name":"Execute Workflow1"}],"connections":{"Loop Over Items2":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"IF","type":"main","index":0},{"node":"DOWNLOAD","type":"main","index":0},{"node":"SUCESSO","type":"main","index":0}]]},"DOWNLOAD":{"main":[[{"node":"Code","type":"main","index":0}]]},"SUCESSO":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"IF":{"main":[[{"node":"PARTES DO ARQUIVO2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Pasta Matriz dos Estados","type":"main","index":0}]]},"Pasta Matriz dos Estados":{"main":[[{"node":"Item Lists1","type":"main","index":0}]]},"ESTADO":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"ESTADO","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"DIVIDIDOS POR TAMANHO","type":"main","index":0}]]},"DIVIDIDOS POR TAMANHO":{"main":[[{"node":"Filter3","type":"main","index":0},{"node":"IF1","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Pasta Matriz dos Estados","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"IF1":{"main":[[{"node":"PARTES DO ARQUIVO","type":"main","index":0},{"node":"Execute Workflow1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Item Lists1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Pasta Matriz dos Estados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"none","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"de10ce58-9401-42e2-8598-3617aae5d59e","triggerCount":0,"tags":[]}