[-n8n-]---executions-data-AXluWC41tKRGkjv2.json
{"createdAt":"2025-04-24T03:31:48.304Z","updatedAt":"2025-04-24T03:32:03.981Z","id":"AXluWC41tKRGkjv2","name":"[ n8n ] - Executions Data","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"daysInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-200,-140],"id":"e862bbe1-9f9a-4179-92b4-c6fc88fc4275","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"http://ntfy.sh/approachti","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"Vacuum FULL n8n"},{"name":"Priority","value":"default"},{"name":"Tags","value":"computer"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"=VACUUM FULL executado!\n{{ $json.toJsonString() }}","options":{}},"id":"c1a0a6db-7b9d-4b5b-96ae-539691355c46","name":"NTFY.SH","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,-140],"disabled":true},{"parameters":{"operation":"executeQuery","query":"VACUUM FULL public.execution_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[320,-140],"id":"2028b079-f445-4126-9cf0-425e500b5d88","name":"Postgres","credentials":{"postgres":{"id":"InpjdJpsxSOeshpc","name":"Postgres N8N"}}},{"parameters":{"operation":"executeQuery","query":"WITH size_before AS (\n  SELECT \n    pg_total_relation_size('execution_entity') AS size_entity,\n    pg_total_relation_size('execution_metadata') AS size_metadata,\n    pg_total_relation_size('execution_data') AS size_data\n),\ndeleted AS (\n  DELETE FROM execution_entity\n  WHERE \"stoppedAt\" < NOW() - INTERVAL '48 hours'\n  RETURNING id\n),\ndelete_metadata AS (\n  DELETE FROM execution_metadata\n  WHERE \"executionId\" IN (SELECT id FROM deleted)\n),\ndelete_data AS (\n  DELETE FROM execution_data\n  WHERE \"executionId\" IN (SELECT id FROM deleted)\n),\nsize_after AS (\n  SELECT \n    pg_total_relation_size('execution_entity') AS size_entity,\n    pg_total_relation_size('execution_metadata') AS size_metadata,\n    pg_total_relation_size('execution_data') AS size_data\n)\nSELECT \n  (SELECT count(*) FROM deleted) AS deleted_count,\n  (\n    ((SELECT size_entity FROM size_before) - (SELECT size_entity FROM size_after)) +\n    ((SELECT size_metadata FROM size_before) - (SELECT size_metadata FROM size_after)) +\n    ((SELECT size_data FROM size_before) - (SELECT size_data FROM size_after))\n  ) / 1024 / 1024 AS freed_space_mb;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-40,-140],"id":"9426bba3-e368-411d-a05b-99ed105c3e1b","name":"Postgres1","disabled":true},{"parameters":{"operation":"executeQuery","query":"TRUNCATE TABLE public.execution_entity cascade;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[120,-140],"id":"8f79e03c-488c-4a31-995a-3173d33b2743","name":"Postgres2","credentials":{"postgres":{"id":"InpjdJpsxSOeshpc","name":"Postgres N8N"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"NTFY.SH","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Postgres2","type":"main","index":0}]]},"Postgres2":{"main":[[{"node":"Postgres","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[117]}},"meta":null,"pinData":{},"versionId":"56840d85-eec7-411a-8122-d3bdd8da35e3","triggerCount":1,"tags":[]}