[-quepasa-]---disparo-typebot-3I3NrLeOjyBQFFlR.json
{"createdAt":"2025-02-27T17:36:19.417Z","updatedAt":"2025-03-10T00:43:36.503Z","id":"3I3NrLeOjyBQFFlR","name":"[ QUEPASA ] - Disparo Typebot","active":true,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $json.tp.sessionId }}","value2":"starttypebot"}]}},"id":"85e03ce6-302b-4ba0-87a2-7cef0085a98d","name":"Start Typebot?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1000,640],"notesInFlow":false,"executeOnce":true},{"parameters":{"baseUrl":"={{$json.payload.extra.qphost}}","token":"={{$json.payload.extra.qptoken}}","text":"={{ $json.payload.content }}","chatid":"={{ $json.payload.chatId }}","filelength":0,"trackid":"=typebot-{{ $json.payload.sessionId }}"},"id":"71507adb-9676-4c01-b23e-552a1cacca25","name":"Quepasa Send Text","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[4140,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"c2d56294-5dac-43b1-a009-a77ec7575d98","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2220,780],"alwaysOutputData":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"d41a77c9-93df-476c-8399-a49b0f757cbb","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2200,560],"alwaysOutputData":true},{"parameters":{"values":{"string":[{"name":"payload.tp.sessionId","value":"={{ $json?.sessionId ?? $node['Start chat in typebot'].json[\"sessionId\"]}}"}]},"options":{}},"id":"731f81a1-eab2-4f50-9470-917252d525a6","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[2040,460]},{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations/{{$json[\"conversation\"][\"id\"]}}/custom_attributes","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\"custom_attributes\":\n        {\"typebotsessionid\":\"{{$json.payload.tp.sessionId}}\"}\n}","headerParametersJson":"={\"api_access_token\":\"{{ $json.extra.utoken }}\"} "},"name":"Update Conversation in Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[2460,460],"id":"9bd90353-e8c7-4a59-bc48-e95fbbcf0094","retryOnFail":true,"maxTries":2},{"parameters":{},"id":"bf0ed373-1057-46c3-b423-859247277227","name":"NoOp payload","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2460,720]},{"parameters":{"requestMethod":"POST","url":"={{ $node['NoOp payload'].json.extra.cwhost }}/api/v1/accounts/{{$node['NoOp payload'].json.extra.account}}/conversations/{{$node['NoOp payload'].json.conversation.id}}/toggle_status","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\"status\": \"open\"}","headerParametersJson":"={\"api_access_token\":\"{{ $node['Defaults'].json.extra.atoken }}\"}"},"name":"Open Conversation in Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4420,260],"id":"64ef7ec2-55c6-48f8-a0b7-16691e42b69e"},{"parameters":{},"id":"c298a7e9-524a-4ddd-9e91-dc71b7f02364","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3860,380]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"149c925c-a9ba-452a-bbab-8e90bd95ce4c","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[4640,340]},{"parameters":{"dataType":"string","value1":"={{ $json.payload.type }}","rules":{"rules":[{"operation":"regex","value2":"text"},{"value2":"image","output":1},{"value2":"video","output":1},{"value2":"audio","output":1}]},"fallbackOutput":2},"id":"dd1a18bf-d49a-40da-85f4-08fbf3814d7c","name":"Message Type","type":"n8n-nodes-base.switch","typeVersion":1,"position":[3780,720]},{"parameters":{"requestMethod":"POST","url":"={{ $node['NoOp payload'].json.extra.cwhost }}/api/v1/accounts/{{$node['NoOp payload'].json.extra.account}}/conversations/{{$node['NoOp payload'].json.conversation.id}}/custom_attributes","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\"custom_attributes\":\n        {\"typebotsessionid\":\"starttypebot\"}\n}","headerParametersJson":"={\"api_access_token\":\"{{ $('NoOp payload').item.json.extra.utoken }}\"}"},"name":"Update Conversation Remove Typebot","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4300,1040],"id":"ce156880-6619-4e26-85af-1999b91ddcfb","retryOnFail":true,"maxTries":2},{"parameters":{},"id":"44c2917b-8e75-4629-8b19-3d9b570c7a85","name":"Next Mensage","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4840,780]},{"parameters":{"requestMethod":"POST","url":"={{ $('NoOp payload').item.json.extra.cwhost }}/api/v1/accounts/{{ $('NoOp payload').item.json.extra.account}}/conversations/{{ $('NoOp payload').item.json.conversation.id }}/toggle_status ","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\"status\": \"open\"}","headerParametersJson":"={\"api_access_token\":\"{{ $node['Defaults'].json.extra.utoken }}\"}"},"name":"Open Conversation in Chatwoot1","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4760,1020],"id":"61c60c2a-267d-4202-ac7d-9342bcce9e84"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $node['Loop'].json.payload?.openchatwoot ?? false }}","value2":true}]},"combineOperation":"any"},"id":"462c507b-63be-4755-ac29-2fb894edb124","name":"Needs to Open Conversation?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4180,380]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['NoOp payload'].json.conversation.status }}","operation":"notEqual","value2":"open"}]},"combineOperation":"any"},"id":"ea5a844a-d9d5-4ba0-bac9-8cfdc0e6d4e4","name":"Needs to Open Conversations?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4520,1040]},{"parameters":{"baseUrl":"={{$json.payload.extra.qphost}}","token":"={{$json.payload.extra.qptoken}}","method":"sendurl","text":"=","chatid":"={{ $json.payload.chatId }}","url":"={{ $json.payload.content }}","filename":"={{ $json.payload.content.split('/').pop() }}","filelength":0},"id":"34f29f58-6706-4cd5-8f0f-83c8498b8eb1","name":"Quepasa Send Attach","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[4140,800],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"content":"## (1.0.0) Updates\n* impletend TypeBot how an agent_bot with chatwoot and quepasa","height":175.906164153499,"width":398.976541038375},"id":"812e84df-1e98-48b4-9509-ebf18c679134","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"unit":"seconds"},"id":"aa055727-006b-4f0b-8c30-327136054f8c","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[4360,700],"webhookId":"fcd2e4ee-0d8b-43cd-bb26-cc9e1a3e9c13"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"payload.id","order":"descending"}]},"options":{}},"id":"1d0c28c2-9336-4cf7-bf67-4b2f1ed96f6f","name":"Ordering Counter","type":"n8n-nodes-base.sort","typeVersion":1,"position":[3240,780]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.input.type }}","operation":"contains","value2":"input"}]},"combineOperation":"any"},"id":"dc7f3677-a7ee-4b72-9496-ea99da8adfbe","name":"Catch first message?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1700,440]},{"parameters":{"method":"POST","url":"={{ $node['Defaults'].json.tp.host }}api/v1/sessions/{{ $json[\"sessionId\"] }}/continueChat","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\"Accept\": \"application/json\", \"Authorization\": \"Bearer {{ $node['Defaults'].json.tp.token }}\"}","sendBody":true,"specifyBody":"json","jsonBody":"={\"message\": \"{{ $node['Defaults'].json.payload.content }}\"}","options":{}},"id":"1f42c6a9-9008-4d02-9631-5df74dd73c05","name":"Sen first message to typebot","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1860,360],"disabled":true},{"parameters":{"content":"### Disabled, if eneabled the first message sent to quepasa will sent to bot when the conversation start","height":312.79641485238244,"width":494.80781690625554},"id":"23006c85-2c47-46f7-b3f9-326dc3e8649f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,260]},{"parameters":{"fieldToSplitOut":"payload","include":"allOtherFields","options":{}},"id":"e8c58390-8482-4531-b8dd-a8d34719c232","name":"Split Itens to Send","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[3040,780],"alwaysOutputData":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const payload = $input.item.json;\nconst messages = payload.messages;\nlet idCounter = 1; // Variável para controlar o id\n\nconst msgItem = messages.map((message) => {\n  let contentText = '';\n\n  // Verifica se o tipo de mensagem é \"image\", \"audio\" ou \"video\"\n  if ([\"image\", \"audio\", \"video\"].includes(message.type)) {\n    contentText = message.content.url;\n  } else if (Array.isArray(message.content?.richText)) {\n    for (const richTextItem of message.content.richText) {\n      if (Array.isArray(richTextItem.children)) {\n        for (const child of richTextItem.children) {\n          if (child.type === \"inline-variable\") {\n            if (child.children && Array.isArray(child.children)) {\n              for (const inlineChild of child.children) {\n                if (inlineChild.text) {\n                  contentText += inlineChild.text.trim();\n                }\n              }\n            }\n          } else {\n            if (child.text) {\n              contentText += `${child.text.trim()} `;\n            }\n          }\n          if (child.children && Array.isArray(child.children)) {\n            for (const nestedChild of child.children) {\n              if (nestedChild.text) {\n                contentText += `${nestedChild.text.trim()} `;\n              }\n              if (nestedChild.children && Array.isArray(nestedChild.children)) {\n                for (const nestedNestedChild of nestedChild.children) {\n                  if (nestedNestedChild.text) {\n                    contentText += `${nestedNestedChild.text.trim()} `;\n                  }\n                  if (nestedNestedChild.children && Array.isArray(nestedNestedChild.children)) {\n                    for (const nestedNestedNestedChild of nestedNestedChild.children) {\n                      if (nestedNestedNestedChild.text) {\n                        contentText += `${nestedNestedNestedChild.text.trim()} `;\n                      }\n                    }\n                  }\n                }\n              }\n            }\n          }\n        }\n      }\n      contentText += \"\\n\"; // Adiciona uma quebra de linha após cada parágrafo\n    }\n  }\n\n  // Substitui \"Invalid message. Please, try again.\" por \"ERRO\"\n  if (contentText.trim() === \"Invalid message. Please, try again.\") {\n    contentText = \"Tipo de mensagem inválida!\";\n  }\n\n  // Filtra os itens do tipo 'wait' em clientSideActions\n  const waitActions = payload?.clientSideActions?.filter(action => action.type === 'wait') || [];\n\n  // Define o valor de secondsToWaitFor\n  const secondsToWaitFor = waitActions.length > 1 ? 0 : waitActions[0]?.wait?.secondsToWaitFor ?? null;\n\n  const newItem = {\n    id: idCounter++,\n    type: message.type,\n    content: contentText.trim(),\n    sessionId: payload.tp.sessionId,\n    chatId: payload.payload.chatid,\n    conversation: payload.conversation,\n    extra: payload.extra,\n    openchatwoot: payload?.clientSideActions?.some(objeto => objeto.hasOwnProperty('chatwoot')),\n    ...(idCounter === 1 && { secondsToWaitFor: secondsToWaitFor })\n};\n\n  return newItem;\n});\n\nreturn { \"payload\": msgItem };\n"},"id":"26c3306d-df70-4a11-97c3-e5a3ea216182","name":"Make Payload","type":"n8n-nodes-base.code","typeVersion":1,"position":[2640,720]},{"parameters":{"options":{}},"id":"0e05e784-65c9-40ae-9f59-345613246634","name":"Loop","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3500,700]},{"parameters":{"requestMethod":"POST","url":"={{ $node['NoOp payload'].json.extra.cwhost }}/api/v1/accounts/{{$node['NoOp payload'].json.extra.account}}/conversations/{{$node['NoOp payload'].json.conversation.id}}/custom_attributes","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\"custom_attributes\":\n        {\"typebotsessionid\":\"\"}\n}","headerParametersJson":"={\"api_access_token\":\"{{ $node['Defaults'].json.extra.utoken }}\"}"},"name":"Update Conversation Remove Typebot1","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4420,100],"id":"7a68f56f-c198-42e6-98f9-1c96a9dc5959","retryOnFail":true,"maxTries":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6b7ef73a-a97f-4ded-97d2-afb2d08be18d","leftValue":"={{ $json.payload }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1176b667-20c6-42ae-944f-db0c71564c20","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[2840,720]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"08b00c52-ad4f-4fdb-a207-dea681b0dbd4","leftValue":"={{ $json.payload }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b832af9e-c449-462b-b532-6da241d0f8e0","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[4020,1060]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"tp.host","value":"={{ $json.tp.host }}"},{"name":"tp.token","value":"={{ $json.tp.token }}"},{"name":"tp.sessionId","value":"={{ $json?.conversation?.custom_attributes?.typebotsessionid ?? \"starttypebot\" }}"},{"name":"conversation.id","value":"={{ $json?.conversation?.id }}"},{"name":"payload.chatid","value":"={{ $json.chat.id }}"},{"name":"extra.cwhost","value":"={{ $json.extra.cwhost }}"},{"name":"extra.account","value":"={{ $json.extra.account }}"},{"name":"extra.inbox","value":"={{ $json.extra.inbox }}"},{"name":"extra.qptoken","value":"={{ $json.extra.qptoken }}"},{"name":"extra.qphost","value":"={{ $json.extra.qphost }}"},{"name":"extra.utoken","value":"={{ $json.extra.utoken }}"},{"name":"conversation.status","value":"={{ $json.conversation.status }}"},{"name":"payload.name","value":"={{ $json.chat.title.split(' ')[0]  }}"},{"name":"tp.botid","value":"={{ $json.tp.botid }}"}]},"options":{}},"id":"1aa86cf8-d9ab-4dd2-aa5a-3fc260ebea7a","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[780,640]},{"parameters":{"assignments":{"assignments":[{"id":"ca035987-8e19-4a77-9623-7d9cfb573172","name":"conversation","value":"={{ $json.conversation }}","type":"object"},{"id":"cdfa9290-2a00-4255-b12a-f6503f67ce7a","name":"fromme","value":"={{ $json.fromme }}","type":"boolean"},{"id":"31769cdf-ff73-413f-9aa3-95314ec78321","name":"edited","value":"={{ $json.edited }}","type":"boolean"},{"id":"26224b9f-eed1-4b2d-a620-36f6112e5eef","name":"extra","value":"={{ $json.extra }}","type":"object"},{"id":"4f66b354-463a-4b3b-b83a-71306f2513e1","name":"chat","value":"={{ $json.chat }}","type":"object"},{"id":"ac4b2cd5-2777-4350-bf32-9cb87a21c23f","name":"tp.token","value":"fSSK7eMq3qkwsspD2YF4JHvb","type":"string"},{"id":"9e747706-289c-4e41-85d9-6be250f13a86","name":"tp.host","value":"http://typebot.archanjo.co/","type":"string"},{"id":"5ec9f3d7-8932-47af-b93e-525f73a2f4c0","name":"tp.botid","value":"={{ $json.extra.tbstart }}","type":"string"}]},"options":{}},"id":"aa179422-d9b8-4c1d-b715-3c9d3c1cca31","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,640]},{"parameters":{"method":"POST","url":"={{ $node['Defaults'].json.tp.host }}api/v1/sessions/{{ $json.tp.sessionId }}/continueChat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $json.tp.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.payload.content || \"null\" }}"}]},"options":{}},"id":"5be9d2e6-9dbc-465e-98e7-29b4c994a085","name":"Continue chat in typebot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,780],"retryOnFail":true},{"parameters":{"method":"POST","url":"={{ $json.tp.host }}api/v1/typebots/{{ $json.tp.botid }}/startChat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.tp.token }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"prefilledVariables\": {{ $json.prefilledVariables.toJsonString() }}\n}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{"followRedirects":true}}}},"id":"3d77a49b-4fc1-4be6-9698-47cbc2ec66fc","name":"Start chat in typebot","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1440,440],"retryOnFail":false,"maxTries":5},{"parameters":{"jsCode":"// Obtenha o JSON de entrada (assumindo que cada item tem a mesma estrutura)\nconst input = $json;\nconst tp = $json.tp;\nconst conversation = $json.conversation;\nconst payload = $json.payload;\nconst extra = $json.extra;\n\n// Obtenha o objeto chatwoot a partir do input (caso exista)\nconst chatwootData = input.payload && input.payload.contact_attributes ? input.payload.contact_attributes : {};\n\n// Crie o objeto prefilledVariables usando os valores do input e mesclando os dados do chatwoot\nconst prefilledVariables = {\n  chatid: input.payload?.chatid,\n  idConversa: input.conversation?.id,\n  name: input.payload?.name,\n  account_id: input.extra?.account,\n  inbox_id: input.extra?.inbox,\n  firstMessage: input.payload?.content,\n  contact_id: input.payload?.contact_id,\n  // Mescla as informações do chatwoot:\n  ...chatwootData\n};\n\n// Retorna o payload conforme o padrão requerido\nreturn [\n  {\n    json: {\n      tp,\n      conversation,\n      payload,\n      extra,\n      prefilledVariables\n    }\n  }\n];\n"},"id":"cd975871-9423-4f81-96df-7d79fe886c22","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1240,440]},{"parameters":{"workflowId":{"__rl":true,"value":"0goGgqaHktlcW5oZ","mode":"list","cachedResultName":"[ QUEPASA ] - GetValidConversation"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[220,640],"id":"8f8b5371-0c8c-46f1-98fc-418ce6df13a0","name":"Execute Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"K1z0iQNtjmiFi0mM","mode":"list","cachedResultName":"[ QUEPASA ] - GetChatwootContacts"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-40,640],"id":"723be641-c2f9-4796-8b97-d3d2045334e5","name":"Execute Workflow1"},{"parameters":{"assignments":{"assignments":[{"id":"1895e1e1-f125-406e-ace0-ca30d1303d2c","name":"body.chat.id","value":"={{ $json.body.chat.id }}","type":"string"},{"id":"4875d88f-8859-4cac-a7a5-1461fe21091d","name":"body.chat.title","value":"={{ $json.body.chat.title }}","type":"string"},{"id":"d74ce0d8-c00e-44b9-bdd8-71d0d1cdf8b4","name":"extra.account","value":"={{ $json.body.extra.account }}","type":"string"},{"id":"c76b4438-4088-4478-8ba0-6a0d1a6eb4d3","name":"extra.cwhost","value":"={{ $json.body.extra.cwhost }}","type":"string"},{"id":"7ea06ee7-5ccb-414a-b2a5-9e6673a8c7fa","name":"extra.qptoken","value":"={{ $json.body.extra.qptoken }}","type":"string"},{"id":"13d53889-2af5-4fd2-ac3c-a53b906ec229","name":"extra.qphost","value":"={{ $json.body.extra.qphost }}","type":"string"},{"id":"c52028fe-15f0-40e8-8276-09b4842a6f66","name":"extra.utoken","value":"={{ $json.body.extra.utoken }}","type":"string"},{"id":"bd879dde-a79d-43ee-997d-46afae30389d","name":"extra.inbox","value":"={{ $json.body.extra.inbox }}","type":"string"},{"id":"e25277c0-a982-4e9e-85c3-c88afef29c8b","name":"extra.tbstart","value":"={{ $json.body.extra.tbstart }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-280,640],"id":"80f0d1cd-46f1-4f3b-a7c5-9cf6579ea6b7","name":"Edit Fields1"},{"parameters":{"httpMethod":"POST","path":"disparo-typebot","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-620,640],"id":"3293ec54-47c7-4745-be49-a787a10d6b33","name":"Webhook","webhookId":"048bcc3e-1b73-4290-ac31-42af6208c0b3"}],"connections":{"Start Typebot?":{"main":[[{"node":"Merge4","type":"main","index":1},{"node":"Code","type":"main","index":0}],[{"node":"Merge3","type":"main","index":0},{"node":"Continue chat in typebot","type":"main","index":0}]]},"Quepasa Send Text":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"NoOp payload","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"NoOp payload","type":"main","index":0},{"node":"Update Conversation in Chatwoot","type":"main","index":0}]]},"Set":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"NoOp payload":{"main":[[{"node":"Make Payload","type":"main","index":0}]]},"Open Conversation in Chatwoot":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Needs to Open Conversation?","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Next Mensage","type":"main","index":0}]]},"Message Type":{"main":[[{"node":"Quepasa Send Text","type":"main","index":0}],[{"node":"Quepasa Send Attach","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Update Conversation Remove Typebot":{"main":[[{"node":"Needs to Open Conversations?","type":"main","index":0}]]},"Next Mensage":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Needs to Open Conversation?":{"main":[[{"node":"Merge1","type":"main","index":1},{"node":"Open Conversation in Chatwoot","type":"main","index":0},{"node":"Update Conversation Remove Typebot1","type":"main","index":0}],[{"node":"Next Mensage","type":"main","index":0}]]},"Needs to Open Conversations?":{"main":[[{"node":"Open Conversation in Chatwoot1","type":"main","index":0}]]},"Quepasa Send Attach":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Next Mensage","type":"main","index":0}]]},"Ordering Counter":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Catch first message?":{"main":[[{"node":"Sen first message to typebot","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]},"Sen first message to typebot":{"main":[[{"node":"Set","type":"main","index":0}]]},"Split Itens to Send":{"main":[[{"node":"Ordering Counter","type":"main","index":0}]]},"Make Payload":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop":{"main":[[],[{"node":"Message Type","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop","type":"main","index":0}],[{"node":"Split Itens to Send","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update Conversation Remove Typebot","type":"main","index":0}],[{"node":"Loop","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"Start Typebot?","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"Continue chat in typebot":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Start chat in typebot":{"main":[[{"node":"Catch first message?","type":"main","index":0}]]},"Code":{"main":[[{"node":"Start chat in typebot","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"27cd6c99-545a-4a0e-9a20-300854e0444d","triggerCount":1,"tags":[]}