[-quepasa-]---quepasacontactimport-BJG4muOIQPK0zJuD.json
{"createdAt":"2025-01-31T17:58:15.075Z","updatedAt":"2025-02-27T12:55:05.692Z","id":"BJG4muOIQPK0zJuD","name":"[ QUEPASA ] - QuepasaContactImport","active":true,"nodes":[{"parameters":{},"id":"8d087a11-d136-4b25-a8de-6926ed2aeafd","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-2660,160]},{"parameters":{"url":"={{ $json.server.extra.qphost }}/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-QUEPASA-TOKEN","value":"={{ $json.server.extra.qptoken }}"}]},"options":{}},"id":"9c460067-fced-4328-b74a-18458fd1f30b","name":"Get Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2220,60]},{"parameters":{"assignments":{"assignments":[{"id":"f8c1fe8a-5285-42e8-b6ed-969151130c49","name":"server.extra.cwhost","value":"={{ $json.extra.cwhost }}","type":"string"},{"id":"8befdabc-9b00-4bd9-bcc8-9e7e817a76cf","name":"server.extra.qphost","value":"={{ $json.extra.qphost }}","type":"string"},{"id":"b820262b-f408-4cce-bb06-4ce1484f7154","name":"server.extra.qptoken","value":"={{ $json.extra.identifier }}","type":"string"},{"id":"29628359-6ed9-455e-9c7e-912f5239dc0b","name":"=server.extra.utoken","value":"={{ $json.extra.utoken }}","type":"string"},{"id":"098a452c-c45a-4941-b04f-3b6ad33bde65","name":"server.extra.atoken","value":"={{ $json.extra.atoken }}","type":"string"},{"id":"b0a5caf9-c231-48f9-8d10-b8a688de70e2","name":"server.extra.token","value":"={{ $json.extra.identifier }}","type":"string"},{"id":"cacc3963-4b57-46bd-9d65-4b3452c56d98","name":"chat.id","value":"={{ $json.conversation_id }}","type":"number"},{"id":"c889fda1-2143-4381-b3ba-7347da8bef6e","name":"chat.inbox_id","value":"={{ $json.extra.inbox }}","type":"number"},{"id":"a78dc05a-3025-4585-8685-5156af8cbb40","name":"chat.account_id","value":"={{ $json.extra.account }}","type":"number"}]},"options":{}},"id":"a5749c59-d56b-45f8-80bf-0e67c04452b8","name":"Get Extra","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2400,160],"notesInFlow":true},{"parameters":{"fieldToSplitOut":"contacts","options":{}},"id":"c61198ff-6361-4418-8f46-4f93a21bd721","name":"Split Contacts","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1980,60]},{"parameters":{"assignments":{"assignments":[{"id":"c728248a-abfd-4cf7-8170-03523ad0f921","name":"total","value":"={{ $('Get Contacts').item.json.total }}","type":"number"}]},"includeOtherFields":true,"options":{}},"id":"1534e746-2974-455c-83cd-c0ec7c4e9d2b","name":"Numbers Sent","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1740,60],"notesInFlow":true},{"parameters":{},"id":"dba0a333-e5fe-4d92-832a-f401fea3a40a","name":"No Operation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1320,220]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"cebc27fd-4d54-4829-aa7f-0381cf62058f","name":"Merge Extra","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1520,140],"notesInFlow":true},{"parameters":{"mode":"chooseBranch"},"id":"4746c096-d1c0-40fe-8be7-53abd559a9c7","name":"Merge Register","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-900,160],"notesInFlow":true},{"parameters":{"method":"POST","url":"={{ $json.server.extra.cwhost }}/api/v1/accounts/{{ $json.chat.account_id }}/conversations/{{ $json.chat.id }}/messages  ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.server.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n \"private\": false,\n  \"content\": \"游눫 Importando Contatos. Mais um momento... \\nTotal a ser importado: **{{ $json.total }}** \",\n \"message_type\": 2,\n \"content_type\": \"text\"\n}","options":{}},"id":"dbb559f2-80a4-44f7-87cc-e969c651ff03","name":"Message Register Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,220],"executeOnce":true},{"parameters":{"operation":"executeQuery","query":"WITH inserted AS (\n    INSERT INTO contacts (phone_number, name, identifier, account_id, created_at, updated_at)\n    SELECT\n      '{{ $json.id.split(\"@\")[0] }}',\n      '{{ $json.title.replace(/'/g, \"''\") }}',\n      '{{ $json.id }}',\n      '{{ $json.chat.account_id }}',\n      '{{ $now }}',\n      '{{ $now }}'\n    WHERE NOT EXISTS (\n      SELECT 1 FROM contacts WHERE\n        -- Verifica se o n칰mero de telefone normalizado j치 existe no campo phone_number\n        (\n          CASE WHEN SUBSTRING(contacts.phone_number FROM 3 FOR 1) = '9' THEN\n            CONCAT(SUBSTRING(contacts.phone_number FROM 1 FOR 2), SUBSTRING(contacts.phone_number FROM 4))\n          ELSE\n            contacts.phone_number\n          END\n        ) = (\n          CASE WHEN SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 3 FOR 1) = '9' THEN\n            CONCAT(SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 1 FOR 2), SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 4))\n          ELSE\n            '{{ $json.id.split(\"@\")[0] }}'\n          END\n        )\n        -- Ou verifica se o n칰mero normalizado j치 existe no campo identifier\n        OR\n        (\n          CASE WHEN SUBSTRING(SPLIT_PART(contacts.identifier, '@', 1) FROM 3 FOR 1) = '9' THEN\n            CONCAT(\n              SUBSTRING(SPLIT_PART(contacts.identifier, '@', 1) FROM 1 FOR 2),\n              SUBSTRING(SPLIT_PART(contacts.identifier, '@', 1) FROM 4)\n            )\n          ELSE\n            SPLIT_PART(contacts.identifier, '@', 1)\n          END\n        ) = (\n          CASE WHEN SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 3 FOR 1) = '9' THEN\n            CONCAT(SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 1 FOR 2), SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 4))\n          ELSE\n            '{{ $json.id.split(\"@\")[0] }}'\n          END\n        )\n        -- Ou verifica se j치 existe um registro com o mesmo identifier e account_id\n        OR\n        (\n          contacts.identifier = '{{ $json.id }}' AND\n          contacts.account_id = '{{ $json.chat.account_id }}'\n        )\n    )\n    RETURNING TRUE AS inserted\n)\nSELECT COALESCE((SELECT inserted FROM inserted), FALSE) AS inserted;\n","options":{"queryBatching":"transaction"}},"id":"df9ac76f-340c-452d-b019-6d3092293533","name":"Register Contact","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-680,0],"notesInFlow":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e9b2329d-d749-4804-b4e0-ba0454d59011","leftValue":"={{ $json.inserted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1d2782a5-4452-4a59-910d-4164474095e9","name":"Success","type":"n8n-nodes-base.if","typeVersion":2,"position":[-460,0]},{"parameters":{"assignments":{"assignments":[{"id":"f79185b5-f686-48bd-9e45-806fa0c65870","name":"importeds","value":"={{ $items().length }}","type":"string"}]},"options":{}},"id":"df3aeab9-169c-44a6-a619-cbd50e168ea0","name":"Item Import","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,-20],"executeOnce":true,"notesInFlow":true},{"parameters":{"method":"POST","url":"={{ $json[\"server\"][\"extra\"][\"cwhost\"] }}/api/v1/accounts/{{ $json[\"chat\"][\"account_id\"] }}/conversations/{{ $json.chat.id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.server.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n \"private\": false,\n  \"content\": \"游눫 Contatos Importados com sucesso! \\n Total: **{{ $json.total}}** \\nImportados:**{{ $json[\"importeds\"] }}** \",\n \"message_type\": 2,\n \"content_type\": \"text\"\n}","options":{}},"id":"2e48a43d-6e0b-4048-b3c3-8dc5206948ba","name":"Message Ends","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,140]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"97cea791-a61e-4176-abe6-bb1dbcbbdbfa","name":"Merge Import","type":"n8n-nodes-base.merge","typeVersion":3,"position":[80,140],"notesInFlow":true},{"parameters":{"url":"={{ $json.server.extra.qphost }}/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-QUEPASA-TOKEN","value":"={{ $json.server.extra.qptoken }}"}]},"options":{}},"id":"9d2718db-e8d1-44b7-a3dd-79628f3311f4","name":"Get Contacts1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2300,520]},{"parameters":{"assignments":{"assignments":[{"id":"f8c1fe8a-5285-42e8-b6ed-969151130c49","name":"server.extra.cwhost","value":"={{ $json.body.cwhost }}","type":"string"},{"id":"8befdabc-9b00-4bd9-bcc8-9e7e817a76cf","name":"server.extra.qphost","value":"={{ $json.body.qphost }}","type":"string"},{"id":"b820262b-f408-4cce-bb06-4ce1484f7154","name":"server.extra.qptoken","value":"={{ $json.body.qptoken }}","type":"string"},{"id":"29628359-6ed9-455e-9c7e-912f5239dc0b","name":"=server.extra.utoken","value":"={{ $json.body.usertoken }}","type":"string"},{"id":"098a452c-c45a-4941-b04f-3b6ad33bde65","name":"server.extra.atoken","value":"={{ $json.body.atoken }}","type":"string"},{"id":"b0a5caf9-c231-48f9-8d10-b8a688de70e2","name":"server.extra.token","value":"={{ $json.body.qptoken }}","type":"string"},{"id":"c889fda1-2143-4381-b3ba-7347da8bef6e","name":"chat.inbox_id","value":"={{ $json.body.inbox }}","type":"number"},{"id":"a78dc05a-3025-4585-8685-5156af8cbb40","name":"chat.account_id","value":"={{ $json.body.account }}","type":"number"},{"id":"07eddf41-f783-48fa-8c85-908797344066","name":"chat.user.id","value":"={{ $json.body.user }}","type":"number"}]},"options":{}},"id":"2a50b235-fc53-4f91-97a6-6099915a1f84","name":"Get Extra1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2480,620],"notesInFlow":true},{"parameters":{"fieldToSplitOut":"contacts","options":{}},"id":"4ca72619-ac4f-4bce-bc47-2172a2047e77","name":"Split Contacts1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2060,520]},{"parameters":{"assignments":{"assignments":[{"id":"c728248a-abfd-4cf7-8170-03523ad0f921","name":"total","value":"={{ $('Get Contacts1').item.json.total }}","type":"number"}]},"includeOtherFields":true,"options":{}},"id":"e819fac3-cc70-42ae-adb0-ab80789ba4e4","name":"Numbers Sent1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1820,520],"notesInFlow":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"e59eefce-816f-453d-bc3b-49f8870c21b8","name":"Merge Extra1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1600,600],"notesInFlow":true},{"parameters":{"operation":"executeQuery","query":"WITH inserted AS (\n    INSERT INTO contacts (phone_number, name, identifier, account_id, created_at, updated_at)\n    SELECT\n      '+{{ $json.id.split(\"@\")[0] }}',\n      '{{ $json.title.replace(/'/g, \"''\") }}',\n      '{{ $json.id }}',\n      '{{ $json.chat.account_id }}',\n      '{{ $now }}',\n      '{{ $now }}'\n    WHERE NOT EXISTS (\n      SELECT 1 FROM contacts WHERE\n        -- Verifica se o n칰mero de telefone normalizado j치 existe no campo phone_number\n        (\n          CASE WHEN SUBSTRING(contacts.phone_number FROM 4 FOR 1) = '9' THEN\n            CONCAT('+', SUBSTRING(contacts.phone_number FROM 2 FOR 2), SUBSTRING(contacts.phone_number FROM 5))\n          ELSE\n            contacts.phone_number\n          END\n        ) = (\n          CASE WHEN SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 3 FOR 1) = '9' THEN\n            CONCAT('+', SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 1 FOR 2), SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 4))\n          ELSE\n            '+{{ $json.id.split(\"@\")[0] }}'\n          END\n        )\n        -- Ou verifica se o n칰mero normalizado j치 existe no campo identifier\n        OR\n        (\n          CASE WHEN SUBSTRING(SPLIT_PART(contacts.identifier, '@', 1) FROM 4 FOR 1) = '9' THEN\n            CONCAT(\n              '+',\n              SUBSTRING(SPLIT_PART(contacts.identifier, '@', 1) FROM 2 FOR 2),\n              SUBSTRING(SPLIT_PART(contacts.identifier, '@', 1) FROM 5)\n            )\n          ELSE\n            CONCAT('+', SPLIT_PART(contacts.identifier, '@', 1))\n          END\n        ) = (\n          CASE WHEN SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 3 FOR 1) = '9' THEN\n            CONCAT('+', SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 1 FOR 2), SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 4))\n          ELSE\n            '+{{ $json.id.split(\"@\")[0] }}'\n          END\n        )\n        -- Ou verifica se j치 existe um registro com o mesmo identifier e account_id\n        OR\n        (\n          contacts.identifier = '{{ $json.id }}' AND\n          contacts.account_id = '{{ $json.chat.account_id }}'\n        )\n    )\n    RETURNING TRUE AS inserted\n)\nSELECT COALESCE((SELECT inserted FROM inserted), FALSE) AS inserted;\n","options":{"queryBatching":"transaction"}},"id":"f158225b-aad3-4ee8-8ac1-129bd6f0d4e3","name":"Register Contact1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1340,460],"notesInFlow":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e9b2329d-d749-4804-b4e0-ba0454d59011","leftValue":"={{ $json.inserted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8476a853-a6e8-4178-984b-4976cace6b63","name":"Success1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,460]},{"parameters":{"assignments":{"assignments":[{"id":"f79185b5-f686-48bd-9e45-806fa0c65870","name":"importeds","value":"={{ $items().length }}","type":"string"}]},"options":{}},"id":"9bda6d73-10b0-48c1-ba9c-d30b78466036","name":"Item Import1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,440],"executeOnce":true,"notesInFlow":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"7d9bdd8f-cd4d-41ae-8fc7-e4d61d8d4535","name":"Merge Import1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-580,600],"notesInFlow":true},{"parameters":{"httpMethod":"POST","path":"QuePasaContacts","options":{"allowedOrigins":"*"}},"id":"6c53cc44-60c2-4097-98da-559efdcb6214","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2780,620],"webhookId":"d577de29-4ec1-4589-8742-d39563b03f1a"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Get Extra","type":"main","index":0}]]},"Get Contacts":{"main":[[{"node":"Split Contacts","type":"main","index":0}]]},"Get Extra":{"main":[[{"node":"Get Contacts","type":"main","index":0},{"node":"Merge Extra","type":"main","index":1}]]},"Split Contacts":{"main":[[{"node":"Numbers Sent","type":"main","index":0}]]},"Numbers Sent":{"main":[[{"node":"Merge Extra","type":"main","index":0}]]},"No Operation":{"main":[[{"node":"Message Register Contact","type":"main","index":0}]]},"Merge Extra":{"main":[[{"node":"Merge Register","type":"main","index":0},{"node":"No Operation","type":"main","index":0}]]},"Merge Register":{"main":[[{"node":"Merge Import","type":"main","index":1},{"node":"Register Contact","type":"main","index":0}]]},"Message Register Contact":{"main":[[{"node":"Merge Register","type":"main","index":1}]]},"Register Contact":{"main":[[{"node":"Success","type":"main","index":0}]]},"Success":{"main":[[{"node":"Item Import","type":"main","index":0}]]},"Item Import":{"main":[[{"node":"Merge Import","type":"main","index":0}]]},"Merge Import":{"main":[[{"node":"Message Ends","type":"main","index":0}]]},"Get Contacts1":{"main":[[{"node":"Split Contacts1","type":"main","index":0}]]},"Get Extra1":{"main":[[{"node":"Get Contacts1","type":"main","index":0},{"node":"Merge Extra1","type":"main","index":1}]]},"Split Contacts1":{"main":[[{"node":"Numbers Sent1","type":"main","index":0}]]},"Numbers Sent1":{"main":[[{"node":"Merge Extra1","type":"main","index":0}]]},"Merge Extra1":{"main":[[{"node":"Register Contact1","type":"main","index":0},{"node":"Merge Import1","type":"main","index":1}]]},"Register Contact1":{"main":[[{"node":"Success1","type":"main","index":0}]]},"Success1":{"main":[[{"node":"Item Import1","type":"main","index":0}]]},"Item Import1":{"main":[[{"node":"Merge Import1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get Extra1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"fluxo.bee360.com.br","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36","content-length":"236","accept":"application/json, text/plain, */*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"application/json","origin":"https://app.bee360.com.br","priority":"u=1, i","referer":"https://app.bee360.com.br/","sec-ch-ua":"\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"Google Chrome\";v=\"132\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","x-forwarded-for":"187.110.208.218","x-forwarded-host":"fluxo.bee360.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"d533b80c781b","x-real-ip":"187.110.208.218"},"params":{},"query":{},"body":{"total":1822,"account":55,"inbox":474,"user":160,"usertoken":"7wXZ5aps65buo8MtXxUVHHWa","qptoken":"t1CBp7tcuEvAo2JawfAzQpPD","qphost":"https://qps.bee360.com.br","cwhost":"https://app.bee360.com.br","atoken":"8Ty5xABS7nUEu7L53tjqeGyc"},"webhookUrl":"https://fluxo.webhook.bee360.com.br/webhook/QuePasaContacts","executionMode":"production"}}]},"versionId":"7b70409a-5397-4a54-bc06-91f487e976f7","triggerCount":1,"tags":[]}