[-quepasa-]---chatwootprofileupdate-m9rV60K5QXc4UDLB.json
{"createdAt":"2024-03-09T14:16:22.071Z","updatedAt":"2025-03-20T22:46:14.685Z","id":"m9rV60K5QXc4UDLB","name":"[ QUEPASA ] - ChatwootProfileUpdate","active":false,"nodes":[{"parameters":{"mode":"multiplex"},"name":"Quepasa + Contact","type":"n8n-nodes-base.merge","typeVersion":1,"position":[4200,1720],"id":"4cb8791a-25ab-486c-bd60-3577b72ff172"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Quepasa","value":"={{$json}}"}]},"options":{}},"name":"Set Quepasa","type":"n8n-nodes-base.set","typeVersion":1,"position":[4000,1780],"id":"eeeab007-ce3d-4425-a3a9-78019b3c7be3"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"success\"]}}","value2":true}]}},"id":"0afa5a9b-8c33-4548-9fa2-8be1571f3495","name":"Success on get picture ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3760,1800]},{"parameters":{"requestMethod":"PUT","url":"={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"avatar_url","value":"={{ $json[\"Quepasa\"][\"info\"][\"url\"] }}"},{"name":"custom_attributes.pictureid","value":"={{ $json[\"Quepasa\"][\"info\"][\"id\"] }}"},{"name":"phone_number","value":"=+{{ $json.chatid.split('@')[0] }}"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json.utoken}}"}]}},"name":"Chatwoot Update Profile Avatar URL","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4920,1740],"id":"8d21ad2b-05f6-4e94-9741-26240e8363e5","retryOnFail":true,"notes":"Missing filter by:\nContact Id\nInbox Id\nStatus = open | pending"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.chatid}}","operation":"isNotEmpty"}]}},"id":"77ef70fa-9a70-4599-812e-8171a04e8c61","name":"If Found ChatId","type":"n8n-nodes-base.if","typeVersion":1,"position":[2840,1440]},{"parameters":{"errorMessage":"Chat Id not found !"},"id":"2dbe1f64-11d8-4961-ab1c-c4bfd6f5402c","name":"Stop And Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[3040,1640]},{"parameters":{"content":"## Starting with following parameters\n\n* chatid\n* qphost\n* qptoken\n\n* cwhost\n* utoken\n* account\n\n* contactid","height":309.0215131709718,"width":527.0811654526535},"id":"9506b2f2-5add-4784-9f08-71adaf97eb29","name":"Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,1060]},{"parameters":{"requestMethod":"PUT","url":"={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"identifier","value":"={{$json.chatid}}"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json.utoken}}"}]}},"name":"Chatwoot Update Profile Email3","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[3840,1200],"id":"52e93c20-7c29-47ca-bb34-ea7275629203","retryOnFail":false,"continueOnFail":true},{"parameters":{},"id":"dfe8ccac-59c3-49ac-93c9-98bd16ae17f8","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1740,1440]},{"parameters":{},"id":"a3f4b25d-fd5e-4f70-84c6-f249d1bd9ed3","name":"NoOp1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3360,1700]},{"parameters":{"respondWith":"noData","options":{}},"id":"3a31b8d9-807e-424b-85d7-6742e0b00e18","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[5200,1540]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.identifier}}","operation":"isEmpty"}]},"combineOperation":"any"},"id":"164ce6f0-fc6d-4631-a16b-f95bf50a2268","name":"If Empty Identifier","type":"n8n-nodes-base.if","typeVersion":1,"position":[3360,1220]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.identifier}}","operation":"notEqual","value2":"={{$json.chatid}}"}]}},"id":"ae9bd4a9-c021-4539-8f80-9712774a4ddb","name":"If Different Identifier ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3600,1320],"notesInFlow":true,"notes":"Used to sincronize old versions with Quepasa Id"},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"55ad0658-dd6b-4d02-9ca8-752950b03d58","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[2140,1460]},{"parameters":{"url":"={{$json.qphost}}/picinfo/{{$json.chatid}}","allowUnauthorizedCerts":true,"options":{},"headerParametersUi":{"parameter":[{"name":"X-QUEPASA-TOKEN","value":"={{$json.qptoken}}"}]}},"name":"Quepasa Picture Info","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[3560,1800],"id":"ca8b97cf-2a42-4ee4-a5cd-264e20fe9ab5","continueOnFail":true,"notes":"Important to use \"source_id\" to respond messages"},{"parameters":{"content":"## (1.0.1) Recommendations \n* change postgres node version\n\n\n\n* Remember set timeout to 20 seconds ","height":161.4940393151249,"width":505.65878958512553},"id":"a3d5ef9b-a05d-478c-b1d8-cbfae0784c03","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,880]},{"parameters":{"operation":"executeQuery","query":"=SELECT account_id as account, identifier FROM contacts WHERE id = '{{ $json.contactid }}'","options":{}},"id":"13eec3e5-1525-4a35-a0a9-7d296705ad47","name":"Get Contact Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[1940,1540],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f644dea-d562-48ca-bc8f-0948b7a3bcf0","leftValue":"={{ $json.chatid }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4420,1720],"id":"2ade3638-ecef-45d8-98fb-14a207bc0bac","name":"If"},{"parameters":{"requestMethod":"PUT","url":"={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"avatar_url","value":"={{ $json[\"Quepasa\"][\"info\"][\"url\"] }}"},{"name":"custom_attributes.pictureid","value":"={{ $json[\"Quepasa\"][\"info\"][\"id\"] }}"},{"name":"phone_number","value":"=+{{ $json.chatid.split('@')[0] }}"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json.utoken}}"}]}},"name":"Chatwoot Update Profile Avatar URL1","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[500,20],"id":"7bce234a-9cc2-4552-984f-a83e2c41bb1f","retryOnFail":true,"notes":"Missing filter by:\nContact Id\nInbox Id\nStatus = open | pending"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f644dea-d562-48ca-bc8f-0948b7a3bcf0","leftValue":"={{ $json.chatid }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,0],"id":"98b29921-901d-40cc-a5ca-928e0b8f3bad","name":"If1"},{"parameters":{"requestMethod":"PUT","url":"={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"avatar_url","value":"={{ $json[\"Quepasa\"][\"info\"][\"url\"] }}"},{"name":"custom_attributes.pictureid","value":"={{ $json[\"Quepasa\"][\"info\"][\"id\"] }}"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json.utoken}}"}]}},"name":"Chatwoot Update Profile Avatar URL2","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4620,1620],"id":"9b9abd30-b912-4348-9487-a2735ddfd62d","retryOnFail":true,"notes":"Missing filter by:\nContact Id\nInbox Id\nStatus = open | pending"}],"connections":{"Quepasa + Contact":{"main":[[{"node":"If","type":"main","index":0}]]},"Set Quepasa":{"main":[[{"node":"Quepasa + Contact","type":"main","index":1}]]},"Success on get picture ?":{"main":[[{"node":"Set Quepasa","type":"main","index":0}]]},"If Found ChatId":{"main":[[{"node":"NoOp1","type":"main","index":0},{"node":"If Empty Identifier","type":"main","index":0}],[{"node":"Stop And Error","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Get Contact Info","type":"main","index":0}]]},"NoOp1":{"main":[[{"node":"Quepasa + Contact","type":"main","index":0},{"node":"Quepasa Picture Info","type":"main","index":0}]]},"Chatwoot Update Profile Email3":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Chatwoot Update Profile Avatar URL":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"If Empty Identifier":{"main":[[{"node":"Chatwoot Update Profile Email3","type":"main","index":0}],[{"node":"If Different Identifier ?","type":"main","index":0}]]},"If Different Identifier ?":{"main":[[{"node":"Chatwoot Update Profile Email3","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"If Found ChatId","type":"main","index":0}]]},"Quepasa Picture Info":{"main":[[{"node":"Success on get picture ?","type":"main","index":0}]]},"Get Contact Info":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"If":{"main":[[{"node":"Chatwoot Update Profile Avatar URL2","type":"main","index":0}],[{"node":"Chatwoot Update Profile Avatar URL","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Chatwoot Update Profile Avatar URL1","type":"main","index":0}]]},"Chatwoot Update Profile Avatar URL2":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Called By Another Workflow":[{"json":{"qphost":"http://quepasa:31000","qptoken":"byXQJBBbcNkiwWjzq3eEYNtR","cwhost":"https://app.bee360.com.br","utoken":"e3nLN2WM3nsUbeM31BudDvit","account":9,"contactid":19252,"chatid":"120363160830038103@g.us"}}]},"versionId":"c9e2d0e2-4627-49bb-baba-c1734f62aee2","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:16:04.080Z","updatedAt":"2024-03-09T14:16:04.080Z","id":"Qgg6bPvz0vpaMIkN","name":"QUEPASA"},{"createdAt":"2024-03-09T14:16:04.090Z","updatedAt":"2024-03-09T14:16:04.090Z","id":"Qlcjo6UHiw4frtYR","name":"CHATWOOT"},{"createdAt":"2024-03-09T14:16:04.079Z","updatedAt":"2024-03-09T14:16:04.079Z","id":"NKqNSuY0oJxzFsGW","name":"NOCODELEAKS"}]}