[-quepasa-]---chatwoottoquepasa-yr8gkeHPaP2HnOGr.json
{"createdAt":"2024-03-09T16:25:23.322Z","updatedAt":"2025-02-18T14:57:24.865Z","id":"yr8gkeHPaP2HnOGr","name":"[ QUEPASA ] - ChatwootToQuepasa","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"from-chatwoot","responseMode":"responseNode","options":{}},"name":"From ChatWoot","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1860,1520],"webhookId":"ae8993fc-1ab0-4de5-90ce-0eb59a2b5c7d","id":"68877d69-fa15-427e-adbf-84f1250ec1a9"},{"parameters":{"respondWith":"text","responseBody":"only for messages","options":{"responseCode":200}},"name":"Not Message Created Event !","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[420,3440],"id":"1ce8acfc-6e09-4dff-945f-2f45c5c4433c"},{"parameters":{},"name":"Message Created Event","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[520,1180],"id":"fca73c32-ed2b-41e2-9cb8-62efc7267856"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.payload.content}}","operation":"isNotEmpty"}]}},"id":"82fde46a-7275-4cd1-911f-dea2c77e7fac","name":"Text Message ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2360,1120]},{"parameters":{},"name":"Conversation Created Event","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,2580],"id":"0277e697-c97a-4baa-bcb8-9142ab558556"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.body.message_type}}","value2":"outgoing"},{"value1":"={{$json.body.message_type}}","value2":"template"}],"number":[{"value1":"={{$json.body.message_type}}","operation":"equal","value2":1}]},"combineOperation":"any"},"name":"Is Outgoing Message ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[720,1160],"id":"4dce91d9-ba69-44c9-aeb0-867501ab5bdf"},{"parameters":{"respondWith":"noData","options":{}},"id":"d049ae86-06c5-4ad6-9ccf-4d328093a550","name":"Normal Exit (GNE)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[920,2600]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"body\"][\"private\"]}}"}]}},"name":"Is Public ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1280,1140],"id":"0fe83f50-7dc4-48dc-9c09-7a1403b6117c"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"body\"][\"sender\"][\"type\"]}}","operation":"notEqual","value2":"agent_bot"},{"value1":"={{$json[\"body\"][\"sender\"][\"name\"]?.toLowerCase()}}","operation":"notContains","value2":"whatsapp outgoing"}]}},"name":"Is Not From Sincronize Bot?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1540,1120],"id":"aa0094db-194e-4b02-bcfe-6f7f4bb7dea8"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.payload.content?.trim()}}","operation":"startsWith","value2":"/"}]}},"id":"49746e85-ffc7-40da-bb24-f91583a8213b","name":"If Control Message","type":"n8n-nodes-base.if","typeVersion":1,"position":[2660,980]},{"parameters":{"workflowId":"=Kx5Fgmi9FDnDUNRR","options":{}},"id":"78654aca-3f1b-48a4-8579-6e2c6e2d1fb4","name":"Quepasa Chat Control Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3200,620],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"body\"][\"messages\"][0][\"sender_type\"]}}","value2":"User"}]}},"id":"73f47334-b87c-45cc-bd24-da977bd1170f","name":"Sent by agent ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[520,2580],"notesInFlow":true,"notes":"Quando vem vazio é porque a conversa foi criada sem mensagem, no caso criado pelo fluxo. ou seja, criada pelo cliente."},{"parameters":{"requestMethod":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.body.id}}/toggle_status","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"status","value":"open"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json.extra.atoken}}"}]}},"name":"Open Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[720,2500],"id":"b3cee933-7d35-4121-834b-f30e49b39b93","continueOnFail":true,"notes":"Important to use \"source_id\" to respond messages"},{"parameters":{"workflowId":"=DecrYUV2l2bFbl6O","options":{}},"id":"4329beea-055b-428b-855a-f0dbc77d21eb","name":"Throw To Quepasa Inbox Control Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2120,880],"continueOnFail":true},{"parameters":{"dataType":"string","value1":"={{$json[\"body\"][\"event\"]}}","rules":{"rules":[{"value2":"message_updated"}]},"fallbackOutput":3},"name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[40,3280],"id":"5814f5c6-1ad2-47ed-a37d-9b02d6835997"},{"parameters":{},"id":"9c35d580-90c0-4950-b435-dbf61cd67718","name":"Message Update Event","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[420,3140]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body?.content_attributes?.deleted??false}}","value2":true}]}},"id":"1149ba80-ce41-40e8-a4bc-ed82b071ac20","name":"If Deleted ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[640,3140]},{"parameters":{},"id":"cf8b6c1a-2dd3-4a27-b9d5-46688cc4cf25","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3980,1400]},{"parameters":{},"id":"d4004f87-d320-46b3-8ceb-3e0c2151a6e1","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3500,1140]},{"parameters":{"content":"## POSTING THROW QUEPASA\n","height":660.7751562097109,"width":1150.6588837494833},"id":"838b3e9e-3e10-4851-af01-ec6b23081834","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3660,1340]},{"parameters":{"values":{"string":[{"name":"extra.qptoken","value":"={{ $json.query.qptoken ?? $json.query.identifier }}"},{"name":"extra.qphost","value":"={{ $json.query.qphost ?? 'http://127.0.0.1:31000' }}"},{"name":"extra.cwhost","value":"={{ $json.query.cwhost ?? 'http://127.0.0.1:3000' }}"},{"name":"extra.n8nhost","value":"={{ $json.query.n8nhost ?? 'http://127.0.0.1:5678' }}"},{"name":"extra.inbox","value":"={{ $json.query.inbox ?? $json.body.inbox_id ?? $json.body.inbox?.id }}"},{"name":"extra.account","value":"={{ $json.query.account ?? $json.body.account_id ?? $json.body.account?.id ?? $json.body.messages[0]?.account_id }}"},{"name":"extra.identifier","value":"={{ $json.query.identifier }}"},{"name":"extra.utoken","value":"={{ $json.query.utoken }}"},{"name":"extra.atoken","value":"={{ $json.query.atoken }}"},{"name":"extra.pat","value":"={{ $json.query.pat }}"}]},"options":{}},"id":"7eb2ec77-b420-4b8e-a78e-9b4518c67b15","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1020,1520]},{"parameters":{"respondWith":"noData","options":{}},"id":"cbf67f4f-a423-4fd5-aa8b-99ef6caa464b","name":"Normal Exit (CUP)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[860,2300]},{"parameters":{"workflowId":"=m9rV60K5QXc4UDLB","options":{}},"id":"2fdd8143-1244-460b-b29b-6c848e560e2c","name":"Throw To Profile Update Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[640,2300],"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"=SELECT csat_survey_enabled FROM inboxes WHERE id = {{ $json.extra.inbox }}; ","additionalFields":{}},"id":"a2eda88a-5b64-4885-8123-f7a19c7cfea3","name":"Enabled CSAT ?","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[2200,1920],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"712c182e-994c-42f0-bf65-fb61a580bb16","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[2380,1860]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.status }}","value2":"resolved"}]}},"id":"3a622442-a1f7-4a0e-af79-94273ad4117e","name":"If Conversation Resolved","type":"n8n-nodes-base.if","typeVersion":1,"position":[620,1860]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"qphost","value":"={{$json.extra?.qphost}}"},{"name":"qptoken","value":"={{$json.extra?.qptoken}}"},{"name":"cwhost","value":"={{$json.extra?.cwhost}}"},{"name":"utoken","value":"={{$json.extra?.utoken}}"},{"name":"account","value":"={{$json.extra?.account}}"},{"name":"contactid","value":"={{$json.body?.meta?.sender?.id}}"},{"name":"chatid","value":"={{$json.chatid}}"}]},"options":{}},"id":"e3dee52c-781b-463f-8072-3217cb0e7df1","name":"Set Update Contact Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[420,2300]},{"parameters":{},"name":"Conversation Status Changed  Event","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-60,2100],"id":"656a887f-8ae7-48b4-a5e6-cca6746ca733"},{"parameters":{"content":"## POST RESOLVED MESSAGE\n* to disable, remove that link","height":561,"width":2847},"id":"03d6da9b-b1ba-49cc-8bc5-91f8bfb84fca","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,1600]},{"parameters":{},"id":"f2740532-e8df-4469-b79c-674227a5b756","name":"No Operation, do nothing3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2020,1840]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.body.meta?.sender?.custom_attributes?.hasOwnProperty('skipevaluation') }}","value2":true},{"value1":"={{ $json.body.meta?.sender?.custom_attributes?.skipevaluation ?? false }}","value2":true}]}},"id":"11357c70-6247-4065-92c4-804d3fceda03","name":"Skip Evaluation By Contact","type":"n8n-nodes-base.if","typeVersion":1,"position":[1840,1820]},{"parameters":{},"id":"561b5e1a-55e4-462f-ba3c-83cf978582e2","name":"Evaluation Message Payload Ready To Quepasa","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2960,1840]},{"parameters":{},"name":"Post Resolved Message","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[440,1940],"id":"d9344362-849d-4ce9-bed4-2cc16af42f29"},{"parameters":{"jsCode":"const IsValidForWhatsapp = function (id){\n  if (typeof(id) === \"undefined\" || id === null) return false;\n  if (id.endsWith('@s.whatsapp.net')) return true;\n  if (id.endsWith('@g.us')) return true;\n  return false;\n}\n\nconst response = [];\nfor (const item of $input.all()) {\n  const body = item.json.body;\n  if (body) {     \n    \n    // obsolete, marked for remove, 2024/04/25\n    const token = item.json.extra.token;\n    const query = item.json.query;\n    // default extra content\n    const extra = item.json.extra;\n\n    let chatId = body.conversation.meta?.sender?.identifier;    \n    if (!IsValidForWhatsapp(chatId))\n    {\n      chatId = body.conversation.meta?.sender?.custom_attributes?.quepasa;\n      if (!chatId) {\n        chatId = body.conversation.meta?.sender?.phone_number;\n      }\n    }\n\n    // new aproach\n    if (body.content && body.id) {\n      const payload = {};\n      payload.chatid = chatId;\n      payload.conversationid = body.conversation.id;\n      payload.inreply = body.content_attributes?.in_reply_to_external_id;\n      \n      if (!payload.inreply && body.content_attributes?.in_reply_to)\n        payload.inreply = `${extra.account}-${extra.inbox}-${body.content_attributes.in_reply_to}`;\n\n      if (body.content_type === 'integrations' && body.content_attributes?.type === 'dyte')      \n        body.content += '\\r\\n *** https://app.dyte.in/meeting/stage/' + body.content_attributes?.data.room_name;      \n\n      // leading with \\ at SHIFT+ENTER\n      if (body.content)       \n      {\n        body.content = body.content.replace(/\\n\\\\/g,\"\\n\").replace(/ \\\\/g,\"\");\n        payload.content = body.content; \n      }\n      \n      // should create an extra message for caption ?\n      const textmsg = (!body.attachments) || (body.attachments.length > 1);\n            \n      if (body.content && textmsg) {                \n        payload.messageid = `${body.id}`; // ensure as string \n                \n        const sender = body.sender?.available_name || body.sender?.name || $env['C8Q_UNKNOWN_SENDER'] || 'Auto Atendimento';\n        \n        const customs = body.conversation.meta?.sender?.custom_attributes;\n        const pat = !((customs?.hasOwnProperty('skipagenttitle') ?? false) && (customs?.skipagenttitle ?? false));\npayload.pat = pat ? query.pat : false;\n\n\n        if (pat) payload.sender = sender;\n\n        // appending to response as new item\n        response.push({ payload: { ...payload }, extra: extra });\n        payload.content = undefined;\n      }\n\n      if (body.attachments) {\n        let counter = 0;\n        for (const attach of body.attachments) \n        {\n          // fixed payload counter for multiples attachs, 2024/05/06\n          const attachmentPayload = { ...payload }; // Criando uma nova instância de payload\n          attachmentPayload.messageid = `${body.id}-A${counter++}`; // ensure as string, adding an attach counter          \n          attachmentPayload.attachment = attach.data_url;\n          \n          // appending to response as new item\n          response.push({ payload: attachmentPayload, extra: extra });                   \n        }\n      }  \n      \n      continue;\n    }    \n    \n    // for each message, *not common to be more than one\n    for (const message of body.conversation.messages) \n    {  \n      const payload = {};\n      payload.chatid = chatId;\n      payload.conversationid = body.conversation.id ?? message.conversation_id;\n      payload.inreply = message.content_attributes?.in_reply_to_external_id;\n\n      if (!payload.inreply && message.content_attributes?.in_reply_to)\n        payload.inreply = `${extra.account}-${extra.inbox}-${message.content_attributes.in_reply_to}`;\n      \n      // obsolete, marked for remove, 2024/04/25\n      payload.token = token;\n\n      // -------------------------------------\n      \n      if (message.content_type === 'integrations' && message.content_attributes?.type === 'dyte')      \n        message.content += '\\r\\n *** https://app.dyte.in/meeting/stage/' + message.content_attributes?.data.room_name;      \n\n      // leading with \\ at SHIFT+ENTER\n      if (message.content)       \n      {\n        message.content = message.content.replace(/\\n\\\\/g,\"\\n\").replace(/ \\\\/g,\"\");\n        payload.content = message.content; \n      }\n      \n      // should create an extra message for caption ?\n      const textmsg = (!message.attachments) || (message.attachments.length > 1);\n            \n      if (message.content && textmsg) {                \n        payload.messageid = `${message.id}`; // ensure as string \n                \n        const sender = message.sender?.available_name || message.sender?.name || $env['C8Q_UNKNOWN_SENDER'] || 'Auto Atendimento';\n        \n        const customs = body.conversation.meta?.sender?.custom_attributes;\n        const pat = !((customs?.hasOwnProperty('skipagenttitle') ?? false) && (customs?.skipagenttitle ?? false));\n\n        if (pat) payload.sender = sender;\n\n        // appending to response as new item\n        response.push({ payload: { ...payload }, extra: extra });\n        payload.content = undefined;\n      }\n\n      if (message.attachments) {\n        let counter = 0;\n        for (const attach of message.attachments) \n        {\n          // fixed payload counter for multiples attachs, 2024/05/06\n          const attachmentPayload = { ...payload }; // Criando uma nova instância de payload\n          attachmentPayload.messageid = `${message.id}-A${counter++}`; // ensure as string, adding an attach counter          \n          attachmentPayload.attachment = attach.data_url;\n          \n          // appending to response as new item\n          response.push({ payload: attachmentPayload, extra: extra });                   \n        }\n      }  \n    }\n  }\n}\n\nreturn response;"},"id":"9b0b735f-8460-4f6b-81a9-08c9cc0b311e","name":"Payload","type":"n8n-nodes-base.code","typeVersion":1,"position":[2120,1120]},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{$json.extra.qptoken}}","operation":"revoke","messageid":"={{ $json.extra.account }}-{{ $json.extra.inbox }}-{{ $json.body.id }}"},"id":"cc01d437-da71-4b55-b107-99487d0ff2ab","name":"Quepasa Revoke","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[1300,3080],"retryOnFail":true,"maxTries":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra","value":"={{ $json.extra }}"},{"name":"payload.chatid","value":"={{ $json.body.meta.sender.identifier }}"},{"name":"payload.messageid","value":"={{ $json.body.id }}-eval"},{"name":"payload.content","value":"="}],"number":[{"name":"payload.conversationid","value":"={{ $json.body.id }}"}],"boolean":[{"name":"csat_survey_enabled","value":"={{ $json.csat_survey_enabled }}"}]},"options":{}},"id":"68be9bef-48f1-4f0b-ab05-416411945c19","name":"Payload Without CSAT","type":"n8n-nodes-base.set","typeVersion":1,"position":[2560,1860]},{"parameters":{"conditions":{"string":[{"value1":"={{extra.account}}","operation":"isNotEmpty"}]}},"id":"da2cc683-8101-44d2-b14d-4e14f181e59c","name":"Account Found ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[980,1820]},{"parameters":{"values":{"string":[{"name":"extra.account","value":"={{ $json.account_id }}"}]},"options":{}},"id":"81825661-1bcf-4321-aebb-c3ac35251894","name":"Set Account in Query","type":"n8n-nodes-base.set","typeVersion":1,"position":[1340,1940]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"0df20750-dc18-4618-994b-eedce061f2b6","name":"Merge Account Id","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1500,1860]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.conversation?.meta.sender.identifier?.toLowerCase() }}","value2":"={{ $env[\"C8Q_QP_CONTACT\"] ?? 'nathan@bee360.com.br' }}"},{"value1":"={{ $json.body.meta?.sender.name?.toLowerCase() }}","operation":"contains","value2":"quepasa control"},{"value1":"={{ $json.body.conversation?.meta.sender.name?.toLowerCase() }}","operation":"contains","value2":"whatsapp control"}]},"combineOperation":"any"},"id":"eef2521c-b3d7-4c1c-956f-fda0bae993c9","name":"From Quepasa Control ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1840,1100]},{"parameters":{"content":"## (1.0.37) Updates\n* issue on csat, database update msg breaking evaluation\n\n## Recommendations \n* Remember set timeout to 30 seconds","height":184.30667672289223,"width":591.0097010851398},"id":"df83bff7-2b57-45dd-9a7b-7f6c546fe56b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,1300]},{"parameters":{"dataType":"string","value1":"={{$json[\"body\"][\"event\"]}}","rules":{"rules":[{"value2":"message_created"},{"value2":"conversation_status_changed","output":1},{"value2":"conversation_created","output":2}]},"fallbackOutput":3},"name":"Switch Event","type":"n8n-nodes-base.switch","typeVersion":1,"position":[-840,1520],"id":"09cd0c06-f8c5-44d9-8ce4-e716a60735d3"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.meta?.sender?.identifier ?? \"\" }}","operation":"notEqual","value2":"control@quepasa.io"},{"value1":"={{ $json.body.meta?.sender?.identifier ?? \"\" }}","operation":"notEndsWith","value2":"@broadcast"}]}},"id":"d46f82da-c80d-485b-8d78-534669d11603","name":"If Not Control & Not Broadcast","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,1840]},{"parameters":{"conditions":{"string":[{"value1":"={{  $json.payload.sender }}","operation":"isNotEmpty"},{"value1":"={{ $json.extra.pat||$json.payload.pat ? !!JSON.parse($json.extra.pat || $json.payload.pat.toLowerCase()) : true }}","value2":"={{ true }}"}]}},"id":"464b395a-b3c9-432b-9777-f55f3d0b09a0","name":"Should Prepend Agent Title ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2880,1000]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"={{ $json.payload.sender ? '*' + $json.payload.sender.trim() + '*: ' : '' }}\n{{ $json.payload.content }}"}]},"options":{}},"name":"Update Content With Agent Ttitle","type":"n8n-nodes-base.set","typeVersion":1,"position":[3080,920],"id":"0a8099f6-686c-4fc0-b09e-063b9cd8aa13"},{"parameters":{},"id":"fcab8dd9-dcd9-4574-b36a-6c9de2011eaf","name":"Follow after prepend","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3280,1020]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.body.custom_attributes?.hasOwnProperty('skipevaluation') }}","value2":true},{"value1":"={{ $json.body.custom_attributes?.skipevaluation ?? false }}","value2":true}]}},"id":"72f1627c-cff6-4413-aa18-baa534a8a201","name":"Skip Evaluate By Conversation","type":"n8n-nodes-base.if","typeVersion":1,"position":[1660,1800]},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{ $json.extra.qptoken ?? $json.extra.identifier }}","messageid":"={{ $json.extra.account }}-{{ $json.extra.inbox }}-{{ $json.payload.messageid ?? Math.random() }}","method":"sendtext","text":"={{$json.payload.content}}","chatid":"={{$json.payload.chatid}}","trackid":"chatwoot","inreply":"={{$json.payload.inreply }}"},"id":"d438c668-8524-49d8-adda-abb1e15d295c","name":"Quepasa Send Text","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[4580,1720],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"alwaysOutputData":false,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"baseUrl":"={{ $json.extra.qphost }}","token":"={{ $json.extra.qptoken ?? $json.extra.identifier }}","resource":"information"},"id":"a857a7c3-f2fc-474c-a003-806c72a23781","name":"Get Info","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[5880,1680]},{"parameters":{"respondWith":"noData","options":{"responseCode":503}},"name":"Disconnected Failed","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[6560,1600],"id":"ec0efb7d-ea04-4a3c-b870-8a757d89cb8c"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"body\"][\"private\"]}}"}]}},"name":"Is Public Update ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1080,3100],"id":"2fdec451-64d3-4338-bdf3-cf7ec426a855"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.body.message_type}}","value2":"outgoing"},{"value1":"={{$json.body.message_type}}","value2":"template"}],"number":[{"value1":"={{$json.body.message_type}}","operation":"equal","value2":1}]},"combineOperation":"any"},"name":"Is Outgoing Message Update ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[860,3120],"id":"fb53bff8-f798-461f-b5fc-9a8ed268211a"},{"parameters":{"content":"## PROFILE UPDATE\n* throws at conversation status changed ","height":290,"width":735},"id":"9bfcce9d-e48c-402d-9d0c-9f9019b1b594","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[380,2180]},{"parameters":{"jsCode":"function hex2a(hexx) {\n    var hex = hexx.toString(); //force conversion\n    var str = '';\n    for (var i = 0; i < hex.length; i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}\n\nfor(let index in items) \n{ \n    if(items[index].json?.chatid){\n        continue;\n    }\n\n    let body = items[index].json[\"body\"];\n    if(body) \n    {\n        // trying to get from external identifier\n        let chatid = body.meta?.sender?.identifier;\n        if(!chatid)\n        {\n            // trying to get from quepasa custom property\n            chatid = body.meta?.sender?.custom_attributes?.quepasa;            \n            if(!chatid)\n            {\n                // trying to get from e-mail\n                chatid = body.meta?.sender?.email;            \n                if(!chatid)\n                {\n                    // trying to unhex from source_id\n                    if(body.contact_inbox?.source_id && body.contact_inbox.source_id.includes(\"@\")){\n                        chatid = hex2a(body.contact_inbox.source_id)\n                    }\n                    \n                    if(!chatid)\n                    {                    \n                        // trying to get from phone number \n                        chatid = body.meta?.sender?.phone_number;\n                        if (chatid) { \n                          chatid += '@s.whatsapp.net';\n                          if (chatid.startsWith('+')) chatid = chatid.substring(1);\n                        }\n                    }\n                }\n            }\n        }\n        items[index].json.chatid = chatid;\n    }\n}\n\nreturn items;"},"id":"bc939c4b-eafe-45c7-b075-e11cb9e66211","name":"Ensure ChatId From Custom|Email|Source|Phone","type":"n8n-nodes-base.code","typeVersion":1,"position":[140,2100]},{"parameters":{"operation":"executeQuery","query":"=SELECT account_id FROM inboxes WHERE id = '{{ $json.extra.inbox }}'","additionalFields":{}},"id":"9cf2e431-966d-43f4-bf45-ccb2c38a4f33","name":"Get Account From Inbox","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1180,1940],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"string":[{"value1":"={{$json.payload.attachment}}","operation":"isNotEmpty"}]}},"name":"Has Attachment ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4380,1640],"id":"40fd1434-0563-4619-b867-581972260840"},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"30e4a5f7-e171-4a7a-8947-9f44fdc9156b","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[5460,1420]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.success }}","operation":"isEmpty"}],"boolean":[{"value1":"={{ $json.success }}"}]},"combineOperation":"any"},"id":"f29f521c-95ba-4b22-bf4d-5a7bd6c40c6b","name":"Has Errors ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[5180,1720]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.server.verified }}"}]}},"id":"18d4ab78-8ef3-4f4f-a824-29c37ac39d74","name":"Isn't Verified ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6240,1620]},{"parameters":{"method":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.payload.conversationid}}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"private\": true, \"content\": \"❌ O WhatsApp não está verificado.\\n Por favor, reabra o aplicativo e faça a leitura do código QR novamente.\\n{{$json.message}}\", \"message_type\": 2, \"content_type\": \"text\"}","options":{}},"id":"d645ad84-b06a-40b6-be7f-5df3f124841f","name":"Success ?","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6400,1600]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"8536ee45-190a-4de8-ac43-2d8efc54e8f0","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[6080,1620]},{"parameters":{"content":"## NOTIFY BACK CHATWOOT\n","height":660.7751562097108,"width":1738.4843114140765},"id":"a32e11a9-a8a7-4472-bcd4-10eff621d246","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4860,1340]},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{ $json.extra.qptoken ?? $json.extra.identifier }}","messageid":"={{ $json.extra.account }}-{{ $json.extra.inbox }}-{{ $json.payload.messageid ?? Math.random() }}","text":"={{$json.payload.content||''}}","chatid":"={{ $json.payload.chatid }}","url":"={{$json.payload.attachment}}","filename":"={{decodeURI($json.payload.attachment.split('/').at(-1)).replace('.jfif','.jpeg')}}","filelength":0,"trackid":"chatwoot","inreply":"={{$json.payload.inreply}}"},"id":"0792ad48-8da5-4735-b391-658c63412045","name":"Quepasa Send Attach","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[4940,1580],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"=UPDATE messages SET status = 3 WHERE id = {{ +$json.payload.messageid.toString().split('-').shift() }}; ","additionalFields":{}},"id":"5c516e51-d9e8-4e95-ad58-d07901967f11","name":"Update Message Status","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[5680,1420],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{},"id":"ecd7f82e-0f11-4e17-a8e6-783aa8fcc465","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5680,1600]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bd2b8cff-a0b8-48a4-83f6-475bfe680d42","leftValue":"={{ $json.payload.attachment }}","rightValue":"active_storage","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"6fc53305-9c10-4a0a-948e-43715f538f1a","name":"If Remote Storage","type":"n8n-nodes-base.if","typeVersion":2,"position":[4580,1560]},{"parameters":{"amount":2},"id":"938b4ad2-d16b-46b4-adc2-94c92e65bf46","name":"Wait For Uploading","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4760,1480],"webhookId":"4be09e3c-13a7-48f9-b649-d5942ef6e1e7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f1cd8b50-3f69-46af-8fc2-d843edaa499e","leftValue":"={{$json.body.message_type}}","rightValue":"=template","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f5b43eb5-5252-4022-b4fe-3931d6ae2882","name":"If Template","type":"n8n-nodes-base.if","typeVersion":2,"position":[920,1080]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"7734413d-6030-41a3-8105-ffd84050bddb","leftValue":"={{ $json.body?.conversation?.meta?.sender?.custom_attributes?.skipevaluation }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"d50d06c3-22c6-4443-a7cc-a3d501569f9c","leftValue":"={{ $json.body?.conversation?.custom_attributes?.skipevaluation }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"id":"572a65aa-9ae0-4972-a95a-dce3ca6da3f9","name":"Skip Evaluation","type":"n8n-nodes-base.if","typeVersion":2,"position":[1380,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"166140fa-1409-40d5-ac5e-41e774a81ffd","leftValue":"={{ $json.body?.conversation?.meta?.sender?.custom_attributes?.skipgreetings }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"76eff9a5-0909-4c98-b423-c17d2d6930cd","name":"Skip Greetings","type":"n8n-nodes-base.if","typeVersion":2,"position":[1260,780]},{"parameters":{},"id":"b2de3a3c-8504-4e11-8dcc-8b320b020938","name":"No Operation, do nothing4","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1880,800]},{"parameters":{"assignments":{"assignments":[{"id":"c7c65a3a-c4ff-4f18-bee8-4316727360e4","name":"body.content","value":"=*{{$json.body.conversation.meta.sender.name}}* seu atendimento de Ticket de nº *{{ $json.body.id }}* foi finalizado ! Caso tenha alguma dúvida só enviar uma nova mensagem !\n\nAproveite e avalie nosso atendimento. Sua opinião é muito importante para nós e nos ajudará a identificar áreas de melhorias a fim de continuar oferecendo um serviço de qualidade. 😎\n\nAvalie meu atendimento !\n{{ ($json.extra.cwpublic ?? $env[\"C8Q_CW_PUBLIC_URL\"] ?? $json.extra.cwhost).trimEnd('/') }}/survey/responses/{{$json.body.content.split('/').at(-1)}}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"9ba129a9-56f9-4718-b42b-78c7f8d22bce","name":"Custom Evaluation Content","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1560,500]},{"parameters":{"respondWith":"text","responseBody":"do not forwarding bot messages","options":{"responseCode":200}},"name":"Respond Ok From Customer","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1800,1400],"id":"48c4dcf5-c9bf-43e1-8998-87f517cc2c1f"},{"parameters":{"respondWith":"text","responseBody":"do not forwarding private messages","options":{"responseCode":200}},"name":"Respond Ok Is Private","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1540,1400],"id":"22ad13a4-35ba-4ef2-8947-7e99434d20c4"},{"parameters":{"respondWith":"text","responseBody":"only for outbound messages","options":{"responseCode":200}},"name":"Respond Ok Is Incoming","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[920,1240],"id":"908f4d2e-4ee1-4fa9-9fc1-83c989323a96"},{"parameters":{"respondWith":"text","responseBody":"skip evaluation","options":{"responseCode":200}},"name":"Respond Ok Skip Evaluation","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1740,240],"id":"a831e0bb-c2f0-4bd7-825b-c86a014ddf72"},{"parameters":{"respondWith":"noData","options":{}},"id":"c72aa641-e068-4fd7-aa1d-8ee019337b68","name":"Respond From Chat Control Workflow","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3460,620]},{"parameters":{"respondWith":"noData","options":{}},"name":"Respond From Inbox Control Workflow","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2320,880],"id":"15de80ec-d9ae-4b3b-bcb6-d1f6da845685"},{"parameters":{"respondWith":"text","responseBody":"quepasa send error","options":{"responseCode":400}},"name":"Respond Error From Quepasa","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[5380,1620],"id":"d0b8fdbb-8f0c-4e15-a846-50a4b550c7d3"},{"parameters":{"respondWith":"text","responseBody":"sent throw quepasa","options":{"responseCode":200}},"name":"Respond Ok From Quepasa","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[5380,1820],"id":"02c0c85d-c05d-41e9-9974-39716d31fdb4"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.body.content_type }}","rightValue":"input_csat","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"csat"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"12cf0100-d8a8-402c-8611-d053e3be3724","leftValue":"={{ $json.body.conversation.status }}","rightValue":"=open","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"greetings"}]},"options":{"ignoreCase":true,"looseTypeValidation":true}},"id":"f0e02015-0407-43c1-88af-805456908b5c","name":"Switch Template","type":"n8n-nodes-base.switch","typeVersion":3,"position":[980,540]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.csat_survey_enabled }}"}],"string":[{"value1":"={{ $json.payload.content }}","operation":"isNotEmpty"}]}},"id":"f777b417-34f4-4703-8382-3213e2659e3d","name":"Use MSG For Resolved Conversations Without CSAT ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2740,1860]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"69c44167-2bda-48b3-b543-fad73755a07a","name":"Any Other Update","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[860,3280]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"b4a25920-a611-48fd-a768-e691299bd53f","name":"Not Outgoing","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1080,3280]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"278f74f5-c2c6-4239-8359-9c49266382fa","name":"Not Public","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1300,3280]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"17f87e9e-72fb-4afb-bf5d-4e88d3960313","name":"Revoked","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1500,3080]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"b4df0c8c-494a-45c2-a5fd-7c16652a6fd3","name":"Normal Exit C","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[800,2000]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"2945eb6e-2f2e-4324-aa95-248f0db22c26","name":"Normal Exit C1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[980,2000]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"15b5d43b-79b8-4de9-8227-dba685075956","name":"Normal Exit C2","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1840,1660]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"53fc3fed-453a-4a35-ad5f-1421e662fa3b","name":"Normal Exit C3","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2080,1660]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"1c83df51-cd25-49c6-9a49-e385ba686d57","name":"Normal Exit C4","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2960,2020]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"462406e8-8e7b-48e1-90e2-c82900c9305b","name":"Normal Exit C5","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[5880,1420]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"e640a07b-fa5c-45f7-9e8e-c1e8c05c01c6","name":"Normal Exit C6","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[6400,1740]},{"parameters":{"respondWith":"text","responseBody":"skip greetings","options":{"responseCode":200}},"name":"Respond Ok Skip Greetings","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1620,680],"id":"bd89cf21-3d77-4acd-844e-8e9b70adbe9c"},{"parameters":{"operation":"executeQuery","query":"=UPDATE messages SET content = NULL WHERE id = {{ +$json.body.id }}","additionalFields":{}},"id":"444340c0-a89c-4928-b240-0a9427c4296a","name":"Clear Evaluation Message","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1560,240],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE messages SET content = NULL WHERE id = {{ +$json.body.id }}","additionalFields":{}},"id":"e4876067-d364-4df4-aebb-8eb2b664cfbb","name":"Clear Greetings Message","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1460,680],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT uuid FROM conversations WHERE account_id = {{ $json.extra.account }} and display_id = {{ $json.body.conversation.id }};","options":{}},"id":"7df9a8d3-c005-4a28-99e6-bc6d63745b0e","name":"Get Evaluation UUID","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2040,380],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE messages SET \"content_type\" = 0, \"content\" = '{{ $json.body.content }}' WHERE id = {{ +$json.body.id }}","options":{}},"id":"3f0077a2-7944-44a2-a3e2-7226d3da3db2","name":"Update Evaluation Message With Custom Content","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1820,500],"disabled":true},{"parameters":{"dataToSave":{"values":[{"key":"account","value":"={{ $json.body.account.id }}"},{"key":"message","value":"={{ $json.body.conversation.messages[0].content }}"},{"key":"identifier","value":"={{ $json.body.conversation.meta.sender.identifier }}"},{"key":"sender_name","value":"={{ $json.body.sender.name }}"},{"key":"attachments","value":"={{ $if($json.body.attachments, true, false) }}"},{"key":"event","value":"={{ $json.body.event }}"}]}},"id":"353bc3ba-07fa-4254-8a1a-17e4716000de","name":"Execution Data","type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-1300,1520]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ad1ae815-3afb-4dc7-8ae6-819fa74ef027","leftValue":"={{ $('From ChatWoot').item.json.body.content_attributes.items.quepasa.msgid }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3720,1140],"id":"b4e56798-4271-4275-978a-ef3600287c32","name":"If"},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"name":"Disconnected Failed1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[4060,1020],"id":"553efc92-e14d-4c90-ad07-a5d2bb02cc33"}],"connections":{"From ChatWoot":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Message Created Event":{"main":[[{"node":"Is Outgoing Message ?","type":"main","index":0}]]},"Text Message ?":{"main":[[{"node":"If Control Message","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Conversation Created Event":{"main":[[{"node":"Sent by agent ?","type":"main","index":0}]]},"Is Outgoing Message ?":{"main":[[{"node":"If Template","type":"main","index":0}],[{"node":"Respond Ok Is Incoming","type":"main","index":0}]]},"Is Public ?":{"main":[[{"node":"Is Not From Sincronize Bot?","type":"main","index":0}],[{"node":"Respond Ok Is Private","type":"main","index":0}]]},"Is Not From Sincronize Bot?":{"main":[[{"node":"From Quepasa Control ?","type":"main","index":0}],[{"node":"Respond Ok From Customer","type":"main","index":0}]]},"If Control Message":{"main":[[{"node":"Quepasa Chat Control Workflow","type":"main","index":0}],[{"node":"Should Prepend Agent Title ?","type":"main","index":0}]]},"Quepasa Chat Control Workflow":{"main":[[{"node":"Respond From Chat Control Workflow","type":"main","index":0}]]},"Sent by agent ?":{"main":[[{"node":"Open Conversation","type":"main","index":0}],[{"node":"Normal Exit (GNE)","type":"main","index":0}]]},"Open Conversation":{"main":[[{"node":"Normal Exit (GNE)","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Message Update Event","type":"main","index":0}],[],[],[{"node":"Not Message Created Event !","type":"main","index":0}]]},"Message Update Event":{"main":[[{"node":"If Deleted ?","type":"main","index":0}]]},"If Deleted ?":{"main":[[{"node":"Is Outgoing Message Update ?","type":"main","index":0}],[{"node":"Any Other Update","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Has Attachment ?","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"If","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"Switch Event","type":"main","index":0}]]},"Throw To Profile Update Workflow":{"main":[[{"node":"Normal Exit (CUP)","type":"main","index":0}]]},"Enabled CSAT ?":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Payload Without CSAT","type":"main","index":0}]]},"If Conversation Resolved":{"main":[[{"node":"If Not Control & Not Broadcast","type":"main","index":0}],[{"node":"Normal Exit C","type":"main","index":0}]]},"Set Update Contact Payload":{"main":[[{"node":"Throw To Profile Update Workflow","type":"main","index":0}]]},"Conversation Status Changed  Event":{"main":[[{"node":"Ensure ChatId From Custom|Email|Source|Phone","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Enabled CSAT ?","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Skip Evaluation By Contact":{"main":[[{"node":"Normal Exit C3","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Evaluation Message Payload Ready To Quepasa":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Post Resolved Message":{"main":[[{"node":"If Conversation Resolved","type":"main","index":0}]]},"Payload":{"main":[[{"node":"Text Message ?","type":"main","index":0}]]},"Payload Without CSAT":{"main":[[{"node":"Use MSG For Resolved Conversations Without CSAT ?","type":"main","index":0}]]},"Account Found ?":{"main":[[{"node":"Skip Evaluate By Conversation","type":"main","index":0}],[{"node":"Get Account From Inbox","type":"main","index":0},{"node":"Merge Account Id","type":"main","index":0}]]},"Set Account in Query":{"main":[[{"node":"Merge Account Id","type":"main","index":1}]]},"Merge Account Id":{"main":[[{"node":"Skip Evaluate By Conversation","type":"main","index":0}]]},"From Quepasa Control ?":{"main":[[{"node":"Throw To Quepasa Inbox Control Workflow","type":"main","index":0}],[{"node":"Payload","type":"main","index":0}]]},"Switch Event":{"main":[[{"node":"Message Created Event","type":"main","index":0}],[{"node":"Conversation Status Changed  Event","type":"main","index":0}],[{"node":"Conversation Created Event","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"If Not Control & Not Broadcast":{"main":[[{"node":"Account Found ?","type":"main","index":0}],[{"node":"Normal Exit C1","type":"main","index":0}]]},"Should Prepend Agent Title ?":{"main":[[{"node":"Update Content With Agent Ttitle","type":"main","index":0}],[{"node":"Follow after prepend","type":"main","index":0}]]},"Update Content With Agent Ttitle":{"main":[[{"node":"Follow after prepend","type":"main","index":0}]]},"Follow after prepend":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Skip Evaluate By Conversation":{"main":[[{"node":"Normal Exit C2","type":"main","index":0}],[{"node":"Skip Evaluation By Contact","type":"main","index":0}]]},"Quepasa Send Text":{"main":[[{"node":"Has Errors ?","type":"main","index":0}]]},"Get Info":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Is Public Update ?":{"main":[[{"node":"Quepasa Revoke","type":"main","index":0}],[{"node":"Not Public","type":"main","index":0}]]},"Is Outgoing Message Update ?":{"main":[[{"node":"Is Public Update ?","type":"main","index":0}],[{"node":"Not Outgoing","type":"main","index":0}]]},"Ensure ChatId From Custom|Email|Source|Phone":{"main":[[{"node":"Post Resolved Message","type":"main","index":0},{"node":"Set Update Contact Payload","type":"main","index":0}]]},"Get Account From Inbox":{"main":[[{"node":"Set Account in Query","type":"main","index":0}]]},"Has Attachment ?":{"main":[[{"node":"If Remote Storage","type":"main","index":0}],[{"node":"Quepasa Send Text","type":"main","index":0}]]},"Has Errors ?":{"main":[[{"node":"Respond Error From Quepasa","type":"main","index":0}],[{"node":"Respond Ok From Quepasa","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0},{"node":"Update Message Status","type":"main","index":0}]]},"Isn't Verified ?":{"main":[[{"node":"Success ?","type":"main","index":0}],[{"node":"Normal Exit C6","type":"main","index":0}]]},"Success ?":{"main":[[{"node":"Disconnected Failed","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Isn't Verified ?","type":"main","index":0}]]},"Quepasa Send Attach":{"main":[[{"node":"Has Errors ?","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Merge3","type":"main","index":0},{"node":"Get Info","type":"main","index":0}]]},"If Remote Storage":{"main":[[{"node":"Wait For Uploading","type":"main","index":0}],[{"node":"Quepasa Send Attach","type":"main","index":0}]]},"Wait For Uploading":{"main":[[{"node":"Quepasa Send Attach","type":"main","index":0}]]},"If Template":{"main":[[{"node":"Switch Template","type":"main","index":0}],[{"node":"Is Public ?","type":"main","index":0}]]},"Skip Evaluation":{"main":[[{"node":"Clear Evaluation Message","type":"main","index":0}],[{"node":"Custom Evaluation Content","type":"main","index":0},{"node":"Get Evaluation UUID","type":"main","index":0}]]},"Skip Greetings":{"main":[[{"node":"Clear Greetings Message","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"No Operation, do nothing4":{"main":[[{"node":"Is Public ?","type":"main","index":0}]]},"Custom Evaluation Content":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0},{"node":"Update Evaluation Message With Custom Content","type":"main","index":0}]]},"Throw To Quepasa Inbox Control Workflow":{"main":[[{"node":"Respond From Inbox Control Workflow","type":"main","index":0}]]},"Respond Error From Quepasa":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Switch Template":{"main":[[{"node":"Skip Evaluation","type":"main","index":0}],[{"node":"Skip Greetings","type":"main","index":0}]]},"Use MSG For Resolved Conversations Without CSAT ?":{"main":[[{"node":"Evaluation Message Payload Ready To Quepasa","type":"main","index":0}],[{"node":"Normal Exit C4","type":"main","index":0}]]},"Quepasa Revoke":{"main":[[{"node":"Revoked","type":"main","index":0}]]},"Update Message Status":{"main":[[{"node":"Normal Exit C5","type":"main","index":0}]]},"Clear Greetings Message":{"main":[[{"node":"Respond Ok Skip Greetings","type":"main","index":0}]]},"Clear Evaluation Message":{"main":[[{"node":"Respond Ok Skip Evaluation","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"If":{"main":[[{"node":"Disconnected Failed1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"From ChatWoot":[{"json":{"headers":{"host":"fluxo.bee360.com.br","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-length":"3696","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"fluxo.bee360.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"d533b80c781b","x-real-ip":"172.18.0.1"},"params":{},"query":{"qphost":"https://qps.bee360.com.br","identifier":"Xq7mvatQwA6HdFvU92qhyf4N","cwhost":"https://app.bee360.com.br","cwpublic":"https://app.bee360.com.br","utoken":"e3nLN2WM3nsUbeM31BudDvit","atoken":"iToGFBC1jsWjE8gfqnddtenw","pat":"true","singlethread":"true","soc":"true"},"body":{"account":{"id":63,"name":"VIPSul"},"additional_attributes":{},"content_attributes":{"in_reply_to":7009917,"in_reply_to_external_id":"3EB010911031DD9816E1E6"},"content_type":"text","content":null,"conversation":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":180782,"contact_id":531142,"inbox_id":458,"source_id":"e869c2c3-efc1-489e-8a0f-0c4638cacea7","created_at":"2025-01-13T16:30:10.592Z","updated_at":"2025-01-13T16:30:10.592Z","hmac_verified":false,"pubsub_token":"WzBBu8Pve1rn4WdbMgz8kSVk"},"id":1282,"inbox_id":458,"messages":[{"id":7013150,"content":null,"account_id":63,"inbox_id":458,"conversation_id":1282,"message_type":1,"created_at":1739198648,"updated_at":"2025-02-10T14:44:08.907Z","private":false,"status":"sent","source_id":null,"content_type":"text","content_attributes":{"in_reply_to":7009917,"in_reply_to_external_id":"3EB010911031DD9816E1E6"},"sender_type":"User","sender_id":205,"external_source_ids":{},"additional_attributes":{},"processed_message_content":null,"sentiment":{},"conversation":{"assignee_id":205,"unread_count":0,"last_activity_at":1739198648,"contact_inbox":{"source_id":"e869c2c3-efc1-489e-8a0f-0c4638cacea7"}},"attachments":[{"id":848217,"message_id":7013150,"file_type":"file","account_id":63,"extension":null,"data_url":"https://app.bee360.com.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeUpUSmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--154163a706e58d5b869f067d2219ad86a40996fa/fatura.pdf","thumb_url":"","file_size":0,"width":null,"height":null}],"sender":{"id":205,"name":"Camila Mergener","available_name":"Camila Mergener","avatar_url":"","type":"user","availability_status":null,"thumbnail":""}}],"labels":["consultor"],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{"tipo_de_conversa":"Consultor"},"email":null,"id":531142,"identifier":"555194540741@s.whatsapp.net","name":"Manuela - VipSul Telecom","phone_number":"+555194540741","thumbnail":"https://app.bee360.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOXRLSmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--2e7378e9dd0f4ea30a2d3daebae74fe10ea872ef/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31a1f63818a5159f71dca8446fe68168fe417ce5/455027041_1773389736530197_8140535187673451108_n.jpg","type":"contact"},"assignee":{"id":205,"name":"Camila Mergener","available_name":"Camila Mergener","avatar_url":"","type":"user","availability_status":null,"thumbnail":""},"team":null,"hmac_verified":false},"status":"open","custom_attributes":{"etiquetas":"consultor"},"snoozed_until":null,"unread_count":0,"first_reply_created_at":"2025-01-13T16:30:11.176Z","priority":null,"waiting_since":0,"agent_last_seen_at":1739198648,"contact_last_seen_at":0,"last_activity_at":1739198648,"timestamp":1739198648,"created_at":1736785810,"applied_sla":null,"sla_events":[],"sla_policy_id":null},"created_at":"2025-02-10T14:44:08.907Z","id":7013150,"inbox":{"id":458,"name":"Suporte VipSul"},"message_type":"outgoing","status":"sent","private":false,"sender":{"id":205,"name":"Camila Mergener","email":"camilavipsul@gmail.com","type":"user"},"source_id":null,"attachments":[{"id":848217,"message_id":7013150,"file_type":"file","account_id":63,"extension":null,"data_url":"https://app.bee360.com.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeUpUSmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--154163a706e58d5b869f067d2219ad86a40996fa/fatura.pdf","thumb_url":"","file_size":0,"width":null,"height":null}],"event":"message_created"},"webhookUrl":"https://fluxo.webhook.bee360.com.br/webhook/from-chatwoot","executionMode":"production"}}]},"versionId":"e8f4fad9-07ec-42f9-9f3b-5593496831e8","triggerCount":1,"tags":[{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"},{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T15:16:03.714Z","updatedAt":"2024-03-09T15:16:03.714Z","id":"KOLgvcJBMVVu28zw","name":"quepasa"}]}