[-quepasa-]---process-another-events-u4en3mGhzyKyQ0ns.json
{"createdAt":"2025-03-13T14:16:43.706Z","updatedAt":"2025-03-13T14:28:25.334Z","id":"u4en3mGhzyKyQ0ns","name":"[ QUEPASA ] - Process Another Events","active":true,"nodes":[{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contacts","mode":"list","cachedResultName":"contacts"},"returnAll":true,"where":{"values":[{"column":"account_id","value":"={{ $json.body.extra.account }}"},{"column":"identifier","value":"={{ $json.body.chat.id }}"}]},"options":{}},"id":"b42d55da-bf09-4f00-b406-4f51e9c7f4c2","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[1200,840],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contact_inboxes","mode":"list","cachedResultName":"contact_inboxes"},"limit":1,"where":{"values":[{"column":"inbox_id","value":"={{ $json.body.extra.inbox }}"},{"column":"contact_id","value":"={{ $json.id }}"}]},"sort":{"values":[{"column":"id"}]},"options":{"outputColumns":["source_id"]}},"id":"06816002-5ad3-479f-9ef4-c30da91949a5","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[1540,760],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"method":"POST","url":"={{ $('Webhook Chatwoot').item.json.body.extra.cwhost }}/public/api/v1/inboxes/{{ $('Merge5').item.json.body.extra.qptoken }}/contacts/{{ $('Postgres1').item.json.source_id }}/conversations/{{ $('Get Last Conversation1').item.json.display_id }}/update_last_seen","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Webhook Chatwoot').item.json.body.extra.utoken }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"c311ddf2-aeac-48d7-bfa2-ce43b3313218","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2120,800],"retryOnFail":true},{"parameters":{"operation":"executeQuery","query":"=SELECT \n display_id, \n status\nFROM conversations \nWHERE \n\taccount_id = '{{ $('Merge5').item.json.account_id }}' \n\tAND inbox_id = '{{ $('Merge5').item.json.body.extra.inbox}}'\n\tAND contact_id = '{{ $('Merge5').item.json.id }}'\nORDER BY id DESC\nLIMIT 1","additionalFields":{}},"id":"3bde8526-684b-4268-850c-c449bc92b1eb","name":"Get Last Conversation1","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1760,760],"retryOnFail":false,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"072e0045-153b-4c5b-8635-f0228adb2b35","name":"Merge5","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1380,760]},{"parameters":{},"id":"c4e6d315-4807-41bd-a97f-fe61d42a126a","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1000,740]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4dec2a31-e46c-4f21-ab69-5b0df5605e9f","leftValue":"={{ $json.body.chat.id }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"8b8ba543-2151-4385-bdd6-d541d7a7e5ad","name":"Ignoring Groups ReadReceipt","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,180]},{"parameters":{"content":"## Read Receipt\n\n\n","height":512,"width":1916},"id":"f0f184d6-5511-44e7-94f2-af706316145d","name":"Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[700,0]},{"parameters":{"assignments":{"assignments":[{"id":"d46edd98-7d87-4168-b03b-0e2f2582aecc","name":"messageidAttachment","value":"={{ $json.body.text.split('-a')[0].split('-A')[0] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1460,120],"id":"db76843a-8506-4756-852a-ef5f613de971","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"e231cc25-ce2f-4bb0-bc1b-1549c43c3862","name":"messageid","value":"={{ $json.messageidAttachment.split('-').pop() }}","type":"string"},{"id":"8e9e3389-892f-4a2c-98fa-e6afdb046d68","name":"account","value":"={{ $json.body.extra.account }}","type":"string"},{"id":"2021f22f-e01e-4489-bad3-e8129de79f33","name":"inbox","value":"={{ $json.body.extra.inbox }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,120],"id":"a1797048-2ec2-48f6-87f9-544613179fda","name":"Edit Fields2"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"where":{"values":[{"column":"id","value":"={{ $json.messageid }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1860,120],"id":"6d1683af-158e-404f-bab2-0f2ff09d6088","name":"Postgres2","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE messages\nSET status = 2\nWHERE conversation_id = {{ $json.conversation_id }}\n  AND id = {{ $json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2080,120],"id":"8955cf82-6407-4e65-b075-22dedb068637","name":"Postgres3","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e56462f-a0e5-4eea-875d-dfc028f2e0be","leftValue":"={{ $json.body.text }}","rightValue":"-","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1300,260],"id":"ce166614-fb05-4b6b-b1e9-f66673a373a2","name":"If read receipt has (-)"},{"parameters":{"dataToSave":{"values":[{"key":"error","value":"true"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[2320,220],"id":"250d3e00-94c8-4e3e-a91b-c0e34452d62f","name":"Execution Data1"},{"parameters":{"operation":"executeQuery","query":"UPDATE messages\nSET status = 2\nWHERE source_id = '{{ $json.body.text }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1520,340],"id":"cd542356-2049-47f0-aa6a-b88a07bbabc2","name":"Postgres4","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"onError":"continueErrorOutput"},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"1b2fee5c-f3b0-4e54-abed-c0c17bdd9154","name":"Edited Contact (Not Implemented)1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[800,740]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"where":{"values":[{"column":"id","value":"=6755317"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1880,920],"id":"d911ddd6-6810-4b4c-85f7-3b81747c2d87","name":"Postgres7","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"b560c88a-85e0-4514-afdb-a54854ef4424","name":"exit","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1800,320]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"5e60f3a7-06f0-425b-aa19-6a35563c946f","name":"exit1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2320,60]},{"parameters":{"operation":"executeQuery","query":"UPDATE messages\nSET status = 2\nWHERE conversation_id = {{ $json.conversation_id }}\n  AND message_type = 1\n  AND private = FALSE\n  AND status NOT IN (2,3)\n  AND id <= {{ $json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1980,560],"id":"d7bac1a4-700f-475a-a9b2-a520858344cc","name":"Postgres5","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"onError":"continueErrorOutput"},{"parameters":{"queue":"quepasa-others","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"durable":true,"jsonParseBody":true,"onlyContent":true,"parallelMessages":1}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-60,-60],"id":"9c776261-66e1-4b2e-8050-a2c82461510d","name":"RabbitMQ Trigger","credentials":{"rabbitmq":{"id":"cbKEcG6TjMvaY7PG","name":"RabbitMQ account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76ecdd65-b090-45e8-aaa0-cb71c2e6032f","leftValue":"={{ $json.body.id }}","rightValue":"readreceipt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[780,200],"id":"10bb53b3-a0e2-481e-b9bd-d333910466dd","name":"Event Read Receipt?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81d27fd9-e351-427d-9792-754e8dd50b35","leftValue":"={{ $json.type || $json.body.type }}","rightValue":"contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[500,-60],"id":"a5796b4f-231d-4b29-a148-2a8f30795270","name":"Event Contact?"},{"parameters":{},"id":"63f95932-512b-4e98-b2d3-9bb286b735dc","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[840,-380]},{"parameters":{"assignments":{"assignments":[{"id":"5d22d582-20f0-4086-9638-769cb87bd728","name":"AutoCreateCvs","value":"[]","type":"array"}]},"includeOtherFields":true,"options":{}},"id":"2457cf7c-2cf6-4e0f-aa8e-44aced01b2d9","name":"Accounts Auto Create Cvs","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,-380]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"709d3024-daf9-461d-9d13-25732e6ce377","leftValue":"={{ $json.AutoCreateCvs }}","rightValue":"={{ $json.body.extra.account }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"id":"322b9013-5a15-4713-bcde-6cb81a3dae4e","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1220,-380]},{"parameters":{"method":"POST","url":"={{ $json.body.extra.cwhost }}/api/v1/accounts/{{ $json.body.extra.account }}/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.body.extra.utoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.body.chat.title }}"},{"name":"identifier","value":"={{ $json.body.chat.id }}"},{"name":"phone_number","value":"=+{{ $json.body.chat.id.split('@')[0]}}"}]},"options":{}},"id":"0973a6ce-b34e-425b-aa5d-dd4dea79d6c7","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1480,-360],"onError":"continueErrorOutput"},{"parameters":{"content":"## Contact Sync Event\n","height":400,"width":1140},"type":"n8n-nodes-base.stickyNote","position":[700,-540],"typeVersion":1,"id":"9d509e0d-4c5e-418c-a6a3-2b17d3c2d740","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"0e691465-ab6a-4bd6-8e04-2a7f2a03b3c9","name":"extra","value":"={{ $json.body.extra }}","type":"object"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-60],"id":"f4e7b035-a800-450a-9fcd-2407be9aa370","name":"Edit Fields"}],"connections":{"Postgres":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Postgres1":{"main":[[{"node":"Get Last Conversation1","type":"main","index":0}]]},"Get Last Conversation1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Merge5","type":"main","index":0},{"node":"Postgres","type":"main","index":0}]]},"Ignoring Groups ReadReceipt":{"main":[[],[{"node":"If read receipt has (-)","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Postgres2","type":"main","index":0}]]},"Postgres2":{"main":[[{"node":"Postgres3","type":"main","index":0}]]},"Postgres3":{"main":[[{"node":"exit1","type":"main","index":0}],[{"node":"Execution Data1","type":"main","index":0}]]},"If read receipt has (-)":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Postgres4","type":"main","index":0}]]},"Postgres4":{"main":[[{"node":"exit","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Event Contact?":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"Event Read Receipt?","type":"main","index":0}]]},"Event Read Receipt?":{"main":[[{"node":"Ignoring Groups ReadReceipt","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Accounts Auto Create Cvs","type":"main","index":0}]]},"Accounts Auto Create Cvs":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Event Contact?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Postgres7":[{"json":{"id":6755317,"content":"Opa","account_id":1,"inbox_id":15,"conversation_id":130729,"message_type":1,"created_at":"2025-01-31T21:37:32.895Z","updated_at":"2025-01-31T21:37:32.895Z","private":false,"status":0,"source_id":"3A0DFD24674DD6C3477C","content_type":0,"content_attributes":"{\"external_created_at\":1738348594.6,\"items\":{\"quepasa\":{\"msgid\":\"3A0DFD24674DD6C3477C\"}}}","sender_type":"AgentBot","sender_id":"1","external_source_ids":null,"additional_attributes":{},"processed_message_content":"Opa","sentiment":{}}}]},"versionId":"8a52c828-3a7d-4fb4-9f3f-8a457d9a9fdd","triggerCount":1,"tags":[]}