[-quepasa-]---quepasainboxcontrol-DecrYUV2l2bFbl6O.json
{"createdAt":"2024-03-09T16:53:19.845Z","updatedAt":"2025-02-18T15:00:10.859Z","id":"DecrYUV2l2bFbl6O","name":"[ QUEPASA ] - QuepasaInboxControl","active":false,"nodes":[{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{$json.extra.qptoken}}","resource":"webhook","operation":"setup","url":"={{ $json.extra.n8nhost?.replace(/\\/+$/, '') ?? \"https://\" + $json.headers.host }}/webhook/to-chatwoot","trackid":"chatwoot","extraAttributes":{"attribute":[{"key":"identifier","value":"={{$json.extra.identifier}}"},{"key":"cwhost","value":"={{$json.extra.cwhost}}"},{"key":"inbox","value":"={{$json.extra.inbox}}"},{"key":"account","value":"={{$json[\"body\"][\"account\"][\"id\"]}}"},{"key":"utoken","value":"={{$json.extra.utoken}}"},{"key":"atoken","value":"={{$json.extra.atoken}}"},{"key":"account","value":"={{$json.extra.account}}"},{"key":"qphost","value":"={{$json.extra.qphost}}"},{"key":"qptoken","value":"={{$json.extra.qptoken}}"},{"key":"singlethread","value":"={{ ($json.query.st ?? $json.query.singlethread) ? true : undefined }}"},{"key":"soc","value":"={{ $json.query.soc }}"}]}},"id":"3eb576fe-272d-4edc-b9be-be3b8d7da183","name":"QP - Webhook Update","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[7940,2500],"continueOnFail":true},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{$json.extra.qptoken}}","resource":"webhook","operation":"remove","url":"=https://{{$json[\"headers\"][\"host\"]}}/webhook/to-chatwoot"},"id":"e7e92b8a-6d03-4f78-9e23-f95a9c1ae051","name":"QP - Webhook Remove","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[7940,2660],"continueOnFail":true},{"parameters":{"dataType":"string","value1":"={{$json.content?.toLowerCase() ?? \"\"}}","rules":{"rules":[{"operation":"startsWith","value2":"/webhook update"},{"operation":"startsWith","value2":"/webhook remove","output":1},{"operation":"startsWith","value2":"/webhook clear","output":2}]}},"id":"4104f1ea-4405-49be-aa4e-ec55c3a85f2e","name":"Webhook Methods","type":"n8n-nodes-base.switch","typeVersion":1,"position":[7560,2660]},{"parameters":{"baseUrl":"={{ $json.extra.cwhost }}","sourceId":"={{ $json.params.source_id }}","operation":"messageCreate","inboxIdentifier":"={{ $json.extra.identifier }}","conversationId":"={{ $json.params.conversation_id }}","content":"={{$json[\"response\"]}}"},"id":"bde408d9-0eca-4b27-9a8c-87fee7aee829","name":"ChatWoot","type":"n8n-nodes-chatwoot.chatwoot","typeVersion":1,"position":[11600,2460]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=({{$json[\"success\"]}}): {{$json[\"status\"]}}"}]},"options":{}},"id":"5a577cd1-d51a-4b07-85ac-4cf5eaa2a388","name":"Set Response From Quepasa","type":"n8n-nodes-base.set","typeVersion":1,"position":[8820,2540]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=!Invalid call, try:\n-----------------------------------------------\n/agentbot\n/info\n/webcallback {destination}\n/webhook {update|remove|clear}\n"}]},"options":{}},"id":"9731c2e0-227e-4ef8-a8b9-6ae2129bf0e3","name":"Set Response From Invalid Start","type":"n8n-nodes-base.set","typeVersion":1,"position":[8860,5060]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.body?.event}}","value2":"message_created"},{"value1":"={{$json.body?.message_type}}","value2":"outgoing"}]}},"id":"ea8f02cf-be80-4dbf-804f-f0dc7740d3b1","name":"If Message Out","type":"n8n-nodes-base.if","typeVersion":1,"position":[4100,2580]},{"parameters":{},"id":"83805f5e-70bc-4a2e-9462-5347b1a08479","name":"Discarding Not Message Out","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4300,2720]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.success}}","value2":true}]}},"id":"5f455b43-7c71-40f7-90f2-6673b12f7862","name":"IF Success","type":"n8n-nodes-base.if","typeVersion":1,"position":[8580,2680]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=! {{ $json.status ?? $json.message }}"}]},"options":{}},"id":"9c5cdf79-c0f5-496b-9edb-c6e4b884fe5d","name":"Set Error Response From Quepasa","type":"n8n-nodes-base.set","typeVersion":1,"position":[8820,2840]},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{$json.extra.qptoken}}","resource":"information"},"id":"194f2d56-176f-4f6b-9f11-f9e5afff559e","name":"QP - Info","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[7940,3080],"continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.success}}","value2":true}]}},"id":"c0a41dac-6ebc-454c-b8c2-c01ce2444c28","name":"IF Success1","type":"n8n-nodes-base.if","typeVersion":1,"position":[8200,3080]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"={{$json[\"server\"]}}"}]},"options":{}},"id":"83d02ba7-076f-4cd8-b929-763135cf2aea","name":"Set Info Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[8820,3100]},{"parameters":{"functionCode":"function print(object, level) {\n    var SPACER = '-',\n        NEWLINE = '\\r\\n'\n        result = '';\n\n    level = level || 0;\n    Object.keys(object).forEach(function (key) {\n        var i = level;\n        while (i--) {\n            result += SPACER;\n        }\n        if (typeof object[key] === 'object' && object[key] !== null) {\n            result += NEWLINE + key + ' :: ' + NEWLINE + NEWLINE;\n            result += print(object[key], level + 1);\n            return;\n        }\n        result += key + ': ' + object[key] + NEWLINE;\n\n    });\n    return result;\n}\n\nfor (item of items) {\n  item.json.server = print(item.json.server);\n}\n\nreturn items;"},"id":"3b170630-6e0a-44cd-a645-093073c9081b","name":"Json To Idented Text","type":"n8n-nodes-base.function","typeVersion":1,"position":[8500,3060]},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{$json.extra.qptoken}}","resource":"webhook","operation":"clear"},"id":"b06506cc-4175-4062-af47-f256dbdef0ae","name":"QP - Webhook Clear","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[7940,2820]},{"parameters":{"values":{"string":[{"name":"params.source_id","value":"={{$json[\"body\"][\"conversation\"][\"contact_inbox\"][\"source_id\"]}}"},{"name":"params.conversation_id","value":"={{$json[\"body\"][\"conversation\"][\"id\"]}}"}]},"options":{}},"id":"2def9809-4d03-4a31-8398-293b12d273ca","name":"Set Parameters From Control Chat","type":"n8n-nodes-base.set","typeVersion":1,"position":[6260,2160]},{"parameters":{},"id":"57466965-0095-4f5b-982c-dcc3dd7b79f5","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7660,5060]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.response}}","operation":"isNotEmpty"}]}},"id":"b626f838-3b3b-47ae-a9f0-e83b2baf1dcd","name":"If Reponse Not Empty ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[9440,3360]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.content}}","operation":"isNotEmpty"},{"value1":"={{$json.content}}","operation":"notStartsWith","value2":"/qrcode"}]}},"id":"45111a08-daff-4c79-829e-a8691c8b2ed1","name":"If Body Not Empty","type":"n8n-nodes-base.if","typeVersion":1,"position":[4700,2540]},{"parameters":{"values":{"string":[{"name":"content","value":"={{$json.body?.content?.trim()}}"},{"name":"cwhost","value":"={{$json.extra.cwhost}}"},{"name":"account","value":"={{$json.extra.account}}"},{"name":"inbox","value":"={{$json.extra.inbox}}"},{"name":"utoken","value":"={{$json.extra.utoken}}"}]},"options":{}},"id":"d4913887-084c-4315-88cf-ee192bc04354","name":"Set Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[4520,2540]},{"parameters":{},"id":"8728a574-2f65-4c75-bcb2-95834e2b51ac","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[3900,2580]},{"parameters":{},"id":"0e2d7611-604b-4f16-b249-5105ac6a643f","name":"Agent Control","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7840,3340]},{"parameters":{"method":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/inboxes/{{$json.extra.inbox}}/set_agent_bot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{$json.extra.utoken}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"agent_bot","value":"1"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}}}},"id":"e9af6b42-1dc6-4c2f-94fd-b1f5fc718cee","name":"(Agent) Set Inbox Agent Permissions","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[8100,3500],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{$json?.error?.message??$json?.error}}","operation":"isEmpty"}]}},"id":"92e412cc-91f3-4633-a76a-19987b5b5108","name":"(Agent) If Success Set Agent","type":"n8n-nodes-base.if","typeVersion":1,"position":[8300,3500]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"Agent Bot Updated"}]},"options":{}},"id":"91983002-7e0c-43e2-891a-50b5ba18dd32","name":"(Agent)  Set Sucess Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[8500,3380]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=! {{$json.status}}"}]},"options":{}},"id":"bcaa91db-ccd4-4d77-be5e-f5293aee7f79","name":"(Agent) Set Error Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[8500,3600]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"b2a0bb5d-0219-4bbe-bad7-3eee4ca327d2","name":"(Agent) Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[8820,3360]},{"parameters":{"dataType":"string","value1":"={{$json.content?.toLowerCase() ?? \"\"}}","rules":{"rules":[{"operation":"startsWith","value2":"/webcallback"}]},"fallbackOutput":3},"id":"e47697b3-8834-441e-a9f8-ebcc132ef654","name":"Switch Start1","type":"n8n-nodes-base.switch","typeVersion":1,"position":[7440,4680]},{"parameters":{"method":"PUT","url":"https://endpoints.sufficit.com.br/gateway/chatwoot/inbox","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.extra.identifier }}"},{"name":"destination","value":"={{ $json.content.substring(13) }}"},{"name":"contextid","value":"={{ $env[\"C8Q_SUFFICIT_CONTEXTID\"] }}"}]},"options":{}},"id":"7add5184-25ba-4fa3-8aa4-1a26eaca658e","name":"Update WebCallBack Destination","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[8100,4360],"continueOnFail":true},{"parameters":{"method":"PUT","url":"https://endpoints.sufficit.com.br/gateway/chatwoot/inbox","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.extra.identifier }}"},{"name":"contextId","value":"={{ $json.content.substring(13) }}"}]},"options":{}},"id":"d50cee0a-706a-47de-99fc-f4dc84b63716","name":"Update WebCallBack ContextId","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[8100,4540],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.content.substring(13) }}","operation":"startsWith","value2":"+"}]}},"id":"fb8a1376-4219-4a80-94aa-d81ad2a2144e","name":"If Destination Or ContextId","type":"n8n-nodes-base.if","typeVersion":1,"position":[7900,4440]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]}},"id":"233e8a0c-c3b8-44b2-80a1-2eeefc1bd133","name":"If Success Update","type":"n8n-nodes-base.if","typeVersion":1,"position":[8300,4440]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"={{ $json.message }}:\n  * identifier: {{ $json.data?.identifier }}\n  * destination: {{ $json.data?.destination }}\n  * contextId: {{ $json.data?.contextId }}\n\n--------------------------------------\nFor more informations, check:\n*** https://www.sufficit.com.br/gateway/chatwoot/default?objectid={{ $json.data?.contextId }}"}]},"options":{}},"id":"ebaeb37a-6e52-4a57-a7cc-d04543973845","name":"Set Success Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[8500,4340]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=! {{ $json.message ?? $json.error.message }}"}]},"options":{}},"id":"a181e168-dbbc-4eef-abdb-1c9e898827ff","name":"Set Error Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[8500,4540]},{"parameters":{},"id":"e72850f6-4284-4270-a668-45c997fb509a","name":"NoOp1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8700,4440]},{"parameters":{"content":"## (1.0.11) Updates\n* missing trackid\n\n## Recommendations \n* Remember set timeout to 15 seconds \n* string empty for switch\n* getting identifier from postgres","height":221.8901373993275,"width":444.914796845942},"id":"90545a16-4e80-43ec-b9d5-1f15e1ff7ad0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3760,2080]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.extra.identifier}}","operation":"isEmpty"}]}},"id":"720d29cc-b037-462f-b82d-00ecdbe5ae99","name":"If Missing Identifier","type":"n8n-nodes-base.if","typeVersion":1,"position":[4900,2520]},{"parameters":{"operation":"executeQuery","query":"=SELECT \"public\".\"channel_api\".\"identifier\", \"public\".\"inboxes\".\"channel_id\" FROM \"public\".\"channel_api\" INNER JOIN \"public\".\"inboxes\" ON \"public\".\"channel_api\".\"id\" = \"public\".\"inboxes\".\"channel_id\" WHERE \"public\".\"channel_api\".\"account_id\"='{{$json.extra.account}}' AND \"public\".\"inboxes\".\"id\" = '{{$json.extra.inbox}}';","additionalFields":{}},"id":"6f678ff2-b9b2-43f7-bfa0-56916c89b6c2","name":"Get Identifier","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[5100,2400],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"3963c5c7-9e54-4023-bd2a-7a25f3142f8f","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[5420,2480]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra.identifier","value":"={{ $json.identifier }}"}]},"options":{}},"id":"a2270cb9-5e90-4375-aef7-06d30404660e","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[5260,2400]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"params","value":"={{ $json.params }}"},{"name":"extra.cwhost","value":"={{ $json.query.cwhost ?? $json.extra.cwhost }}"},{"name":"extra.identifier","value":"={{ $json.query.identifier ?? $json.extra.identifier }}"}]},"options":{}},"id":"4080e998-6d0f-4782-bd49-201f32cdb829","name":"Set Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[10900,2160]},{"parameters":{},"id":"4db5ad55-b802-40ac-8a92-4761cdbfd023","name":"Follow To Main Flow","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[10920,2820]},{"parameters":{"content":"## Main Flow\n","height":577.449009853676,"width":2231.9274311986587},"id":"4f37258a-832c-405a-a234-3880d0733734","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3763.6227296601246,2320]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"426ce9d8-a095-4bfd-a577-5ddc161b1955","name":"Merge Parameters","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[11380,2460]},{"parameters":{"values":{"string":[{"name":"extra.qphost","value":"={{$json.extra.qphost ?? $json.query.qphost}}"},{"name":"extra.qptoken","value":"={{$json.extra.qptoken ?? $json.query.qptoken ?? $json.extra.identifier ?? $json.query.identifier}}"}]},"options":{}},"id":"f5cd529f-96fc-441d-b7f4-ec921487ccbd","name":"Set Extra Payload Adjusts","type":"n8n-nodes-base.set","typeVersion":1,"position":[5620,2540]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item.json;\nconst content = item.body?.content;\nif (content) {\n  item.command = content.trim().toLowerCase().split(' ').shift();\n  if (item.command)\n  {\n    item.arguments = content.substring(item.command.length+1)\n    if (item.command.startsWith('/')) { \n      item.command = item.command.substring(1);\n    }\n  }\n}\nreturn $input.item;"},"id":"d74897a7-a098-4383-8671-30b06fededa8","name":"Command & Arguments","type":"n8n-nodes-base.code","typeVersion":2,"position":[5800,2540]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.command}}","rightValue":"webhook","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"webhook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f7f91a20-b86f-4307-96dd-93f169eacc8d","leftValue":"={{$json.command}}","rightValue":"=info","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"info"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"08ec1e52-ab50-4c59-abe9-501811ebc270","leftValue":"={{$json.command}}","rightValue":"=agentbot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"agentbot"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b3cb020e-ae4b-4116-ad4d-80d38ec11748","leftValue":"={{$json.command}}","rightValue":"=toggle","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"toggle"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"45107e23-afce-41a0-9891-0acbfbc0e7c3","leftValue":"={{$json.command}}","rightValue":"=webcallback","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"webcallback"}]},"options":{"fallbackOutput":"extra"}},"id":"9e737bcf-4be0-4ed1-bcb9-f14591ad005e","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[6260,2940]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=!Invalid call, try:\n-----------------------------------------------\n/toggle groups\n/toggle broadcasts\n/toggle readreceipts\n/toggle calls"}]},"options":{}},"id":"79968173-c19b-490b-8be5-c2adece97a47","name":"Set Response From Invalid Toggle","type":"n8n-nodes-base.set","typeVersion":1,"position":[7860,4280]},{"parameters":{"method":"PATCH","url":"={{$json.extra.qphost}}/info","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-QUEPASA-TOKEN","value":"={{$json.extra.qptoken}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"groups","value":"={{ $json.arguments.split(' ').pop() }}"}]},"options":{}},"id":"097e49e1-54a0-4b71-b4fe-478e1491f3e5","name":"Request Toggle Groups","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7860,3720]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.arguments}}","rightValue":"groups","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"groups"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4b5810d9-3ae4-4c88-b295-45188a7b3c4c","leftValue":"={{$json.arguments}}","rightValue":"=broadcasts","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"broadcasts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"31ab53ad-575a-428c-ae6f-bf7d31cc6051","leftValue":"={{$json.arguments}}","rightValue":"=readreceipts","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"readreceipts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a6290151-1e97-4077-94db-2915a00481d7","leftValue":"={{$json.arguments}}","rightValue":"=calls","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"calls"}]},"options":{"fallbackOutput":"extra"}},"id":"a6121de6-b85d-40f3-bf44-2ffe98ea194d","name":"Switch Toggle","type":"n8n-nodes-base.switch","typeVersion":3,"position":[7540,3960]},{"parameters":{},"id":"e583b086-91e2-4343-bddb-80e0507dcf84","name":"Toggle NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8280,3840]},{"parameters":{"method":"PATCH","url":"={{$json.extra.qphost}}/info","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-QUEPASA-TOKEN","value":"={{$json.extra.qptoken}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"calls","value":"={{ $json.arguments.split(' ').pop() }}"}]},"options":{}},"id":"0be64c30-bca4-4ca1-9d00-d5ab3663d5f3","name":"Request Toggle Calls","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7860,4140]},{"parameters":{"method":"PATCH","url":"={{$json.extra.qphost}}/info","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-QUEPASA-TOKEN","value":"={{$json.extra.qptoken}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"broadcasts","value":"={{ $json.arguments.split(' ').pop() }}"}]},"options":{}},"id":"02cf7d3d-0e54-4c3b-9c71-db73f3d0d045","name":"Request Toggle Broadcasts","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7860,3860]},{"parameters":{"method":"PATCH","url":"={{$json.extra.qphost}}/info","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-QUEPASA-TOKEN","value":"={{$json.extra.qptoken}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"readreceipts","value":"={{ $json.arguments.split(' ').pop() }}"}]},"options":{}},"id":"d109b986-7af0-4c75-b01e-604c97cc3b7d","name":"Request Toggle ReadReceipts","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7860,4000]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"8bbf374d-0fc2-4f4c-afc4-8ebdd1551e6d","leftValue":"={{ $json.body?.content_attributes?.automation_rule_id }}","rightValue":"=","operator":{"type":"number","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"id":"68c445b7-e04d-4f00-a2a2-d43c59f8cea6","name":"If Not From Automations","type":"n8n-nodes-base.if","typeVersion":2,"position":[4300,2560]},{"parameters":{"method":"POST","url":"https://fluxo.bee360.com.br/webhook/quepasa","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4920,2640],"id":"7998de19-dd61-4b19-bb2a-724b82d82b85","name":"HTTP Request"}],"connections":{"Webhook Methods":{"main":[[{"node":"QP - Webhook Update","type":"main","index":0}],[{"node":"QP - Webhook Remove","type":"main","index":0}],[{"node":"QP - Webhook Clear","type":"main","index":0}]]},"QP - Webhook Update":{"main":[[{"node":"IF Success","type":"main","index":0}]]},"QP - Webhook Remove":{"main":[[{"node":"IF Success","type":"main","index":0}]]},"Set Response From Quepasa":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"Set Response From Invalid Start":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"If Message Out":{"main":[[{"node":"If Not From Automations","type":"main","index":0}],[{"node":"Discarding Not Message Out","type":"main","index":0}]]},"IF Success":{"main":[[{"node":"Set Response From Quepasa","type":"main","index":0}],[{"node":"Set Error Response From Quepasa","type":"main","index":0}]]},"Set Error Response From Quepasa":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"QP - Info":{"main":[[{"node":"IF Success1","type":"main","index":0}]]},"IF Success1":{"main":[[{"node":"Json To Idented Text","type":"main","index":0}],[{"node":"Set Error Response From Quepasa","type":"main","index":0}]]},"Set Info Response":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"Json To Idented Text":{"main":[[{"node":"Set Info Response","type":"main","index":0}]]},"QP - Webhook Clear":{"main":[[{"node":"IF Success","type":"main","index":0}]]},"NoOp":{"main":[[{"node":"Set Response From Invalid Start","type":"main","index":0}]]},"If Reponse Not Empty ?":{"main":[[{"node":"Follow To Main Flow","type":"main","index":0}]]},"If Body Not Empty":{"main":[[{"node":"If Missing Identifier","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Set Payload":{"main":[[{"node":"If Body Not Empty","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"If Message Out","type":"main","index":0}]]},"Agent Control":{"main":[[{"node":"(Agent) Merge","type":"main","index":0},{"node":"(Agent) Set Inbox Agent Permissions","type":"main","index":0}]]},"(Agent) Set Inbox Agent Permissions":{"main":[[{"node":"(Agent) If Success Set Agent","type":"main","index":0}]]},"(Agent) If Success Set Agent":{"main":[[{"node":"(Agent)  Set Sucess Response","type":"main","index":0}],[{"node":"(Agent) Set Error Response","type":"main","index":0}]]},"(Agent)  Set Sucess Response":{"main":[[{"node":"(Agent) Merge","type":"main","index":1}]]},"(Agent) Set Error Response":{"main":[[{"node":"(Agent) Merge","type":"main","index":1}]]},"(Agent) Merge":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"Switch Start1":{"main":[[{"node":"If Destination Or ContextId","type":"main","index":0}],[],[],[{"node":"NoOp","type":"main","index":0}]]},"Update WebCallBack Destination":{"main":[[{"node":"If Success Update","type":"main","index":0}]]},"Update WebCallBack ContextId":{"main":[[{"node":"If Success Update","type":"main","index":0}]]},"If Destination Or ContextId":{"main":[[{"node":"Update WebCallBack Destination","type":"main","index":0}],[{"node":"Update WebCallBack ContextId","type":"main","index":0}]]},"If Success Update":{"main":[[{"node":"Set Success Response","type":"main","index":0}],[{"node":"Set Error Response","type":"main","index":0}]]},"Set Success Response":{"main":[[{"node":"NoOp1","type":"main","index":0}]]},"Set Error Response":{"main":[[{"node":"NoOp1","type":"main","index":0}]]},"NoOp1":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"If Missing Identifier":{"main":[[{"node":"Get Identifier","type":"main","index":0},{"node":"Merge","type":"main","index":1}],[{"node":"Set Extra Payload Adjusts","type":"main","index":0}]]},"Get Identifier":{"main":[[{"node":"Set","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Set Extra Payload Adjusts","type":"main","index":0}]]},"Set":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set Parameters From Control Chat":{"main":[[{"node":"Set Parameters","type":"main","index":0}]]},"Follow To Main Flow":{"main":[[{"node":"Merge Parameters","type":"main","index":1}]]},"Merge Parameters":{"main":[[{"node":"ChatWoot","type":"main","index":0}]]},"Set Parameters":{"main":[[{"node":"Merge Parameters","type":"main","index":0}]]},"Set Extra Payload Adjusts":{"main":[[{"node":"Command & Arguments","type":"main","index":0}]]},"Command & Arguments":{"main":[[{"node":"Set Parameters From Control Chat","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Webhook Methods","type":"main","index":0}],[{"node":"QP - Info","type":"main","index":0}],[{"node":"Agent Control","type":"main","index":0}],[{"node":"Switch Toggle","type":"main","index":0}],[{"node":"Switch Start1","type":"main","index":0}],[{"node":"NoOp","type":"main","index":0}]]},"Set Response From Invalid Toggle":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"Request Toggle Groups":{"main":[[{"node":"Toggle NoOp","type":"main","index":0}]]},"Switch Toggle":{"main":[[{"node":"Request Toggle Groups","type":"main","index":0}],[{"node":"Request Toggle Broadcasts","type":"main","index":0}],[{"node":"Request Toggle ReadReceipts","type":"main","index":0}],[{"node":"Request Toggle Calls","type":"main","index":0}],[{"node":"Set Response From Invalid Toggle","type":"main","index":0}]]},"Toggle NoOp":{"main":[[{"node":"IF Success","type":"main","index":0}]]},"Request Toggle Calls":{"main":[[{"node":"Toggle NoOp","type":"main","index":0}]]},"Request Toggle Broadcasts":{"main":[[{"node":"Toggle NoOp","type":"main","index":0}]]},"Request Toggle ReadReceipts":{"main":[[{"node":"Toggle NoOp","type":"main","index":0}]]},"If Not From Automations":{"main":[[{"node":"Set Payload","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Called By Another Workflow":[{"json":{"headers":{"host":"fluxo.bee360.com.br","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-length":"2865","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"fluxo.bee360.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eadffb6ee88a","x-real-ip":"172.18.0.1"},"params":{},"query":{"qphost":"https://qps.bee360.com.br","identifier":"jqM5VDrAGdEQWCNpZN37t2aW","cwhost":"https://app.bee360.com.br","cwpublic":"https://app.bee360.com.br","utoken":"e3nLN2WM3nsUbeM31BudDvit","atoken":"f50299346d5eff341ad22e8","pat":"false","singlethread":"true","soc":"true"},"body":{"account":{"id":1,"name":"Bee360"},"additional_attributes":{},"content_attributes":{},"content_type":"text","content":"/qrcode","conversation":{"additional_attributes":{"mail_subject":""},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":147233,"contact_id":3684,"inbox_id":120,"source_id":"5d4254a1-b80f-4435-aa3d-e6e7acc15af8","created_at":"2024-11-28T15:06:42.717Z","updated_at":"2024-11-28T15:06:42.717Z","hmac_verified":false,"pubsub_token":"ja5RtHNkk7gA5iHGuj71RAyt"},"id":3799,"inbox_id":120,"messages":[{"id":5095422,"content":"/qrcode","account_id":1,"inbox_id":120,"conversation_id":3799,"message_type":1,"created_at":1732807380,"updated_at":"2024-11-28T15:23:00.984Z","private":false,"status":"sent","source_id":null,"content_type":"text","content_attributes":{},"sender_type":"User","sender_id":160,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"/qrcode","sentiment":{},"conversation":{"assignee_id":160,"unread_count":0,"last_activity_at":1732807380,"contact_inbox":{"source_id":"5d4254a1-b80f-4435-aa3d-e6e7acc15af8"}},"sender":{"id":160,"name":"SuperAdmin","available_name":"SuperAdmin","avatar_url":"","type":"user","availability_status":null,"thumbnail":""}}],"labels":[],"meta":{"sender":{"additional_attributes":{"city":"","country":"","description":"","company_name":"","country_code":"","social_profiles":{"line":"","github":"","twitter":"","website":"","facebook":"","linkedin":"","telegram":"","instagram":""}},"custom_attributes":{},"email":null,"id":3684,"identifier":"control@whatsapp.io","name":"Whatsapp Control","phone_number":null,"thumbnail":"https://app.bee360.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeGRZQXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--75a1f1575ecb9379dde52fe305157de8230ff848/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--1ae51076f541f9cab53a9f9f48bc0bd9a012d712/whatsapp1.png","type":"contact"},"assignee":{"id":160,"name":"SuperAdmin","available_name":"SuperAdmin","avatar_url":"","type":"user","availability_status":null,"thumbnail":""},"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":0,"first_reply_created_at":"2024-11-28T15:06:42.761Z","priority":null,"waiting_since":0,"agent_last_seen_at":1732807373,"contact_last_seen_at":0,"last_activity_at":1732807380,"timestamp":1732807380,"created_at":1732806402,"applied_sla":null,"sla_events":[],"sla_policy_id":null},"created_at":"2024-11-28T15:23:00.984Z","id":5095422,"inbox":{"id":120,"name":"Bee360"},"message_type":"outgoing","status":"sent","private":false,"sender":{"id":160,"name":"SuperAdmin","email":"superadmin@bee360.com.br","type":"user"},"source_id":null,"event":"message_created"},"webhookUrl":"https://fluxo.webhook.bee360.com.br/webhook/from-chatwoot","executionMode":"production","extra":{"qptoken":"jqM5VDrAGdEQWCNpZN37t2aW","qphost":"https://qps.bee360.com.br","cwhost":"https://app.bee360.com.br","n8nhost":"http://127.0.0.1:5678","inbox":120,"account":1,"identifier":"jqM5VDrAGdEQWCNpZN37t2aW","utoken":"e3nLN2WM3nsUbeM31BudDvit","atoken":"f50299346d5eff341ad22e8"}}}]},"versionId":"34ad54e5-03bd-4063-9fd8-4ce0598b25d6","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T14:16:04.079Z","updatedAt":"2024-03-09T14:16:04.079Z","id":"NKqNSuY0oJxzFsGW","name":"NOCODELEAKS"},{"createdAt":"2024-03-09T15:16:03.714Z","updatedAt":"2024-03-09T15:16:03.714Z","id":"KOLgvcJBMVVu28zw","name":"quepasa"}]}