[-quepasa-]---posttochatwoot-histsync-5Kft0TDCgfDqgnPp.json
{"createdAt":"2024-12-18T14:48:28.358Z","updatedAt":"2025-02-21T13:33:47.598Z","id":"5Kft0TDCgfDqgnPp","name":"[ QUEPASA ] - PostToChatwoot-HistSync","active":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{$json.participant?.title}}","operation":"isEmpty"}]}},"name":"Direct Message ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1640,520],"id":"55ab2e10-3fc5-49e4-add5-50bc7fbe7598"},{"parameters":{"values":{"string":[{"name":"payload.content","value":"=**{{$json.participant.title}}**: {{$json.payload.content}}"}]},"options":{}},"name":"Prepend Title","type":"n8n-nodes-base.set","typeVersion":1,"position":[1840,580],"id":"bb35d172-0dee-431f-a998-a410107da71d"},{"parameters":{},"id":"9d54bcf4-2144-4d3b-a4a8-94616f54a9a8","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[240,500]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"chatid","value":"={{$json.chatid}}"},{"name":"hex","value":"={{$json.hex}}"},{"name":"qphost","value":"={{$json.extra.qphost}}"},{"name":"qptoken","value":"={{$json.extra.qptoken}}"},{"name":"cwhost","value":"={{$json.extra.cwhost}}"},{"name":"account","value":"={{$json.extra.account}}"},{"name":"atoken","value":"={{$json.extra.atoken}}"},{"name":"identifier","value":"={{$json.extra.identifier}}"},{"name":"payload","value":"={{$json.payload}}"},{"name":"conversation.id","value":"={{$json.conversation.id}}"},{"name":"participant","value":"={{$json.participant}}"},{"name":"utoken","value":"={{$json.extra.utoken}}"}]},"options":{}},"id":"4984729d-6ec5-49bc-80d6-4f4da047aa5e","name":"Filter Source Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[1460,520]},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"payload\"][\"attachment\"]}}","operation":"isNotEmpty"}]}},"name":"Has Incoming Attachment","type":"n8n-nodes-base.if","typeVersion":1,"position":[2040,500],"id":"6fccd9a5-4d50-4d15-a268-8af796bfdf5a"},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{"clashHandling":{"values":{"resolveClash":"preferInput1"}}}},"id":"69bc95f3-6903-4fb8-93d9-75e9e796c15b","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[3420,400]},{"parameters":{},"id":"8bc477f3-2bbd-4e95-8bc1-a0b0f5f1c040","name":"(In) Attachment","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2240,420]},{"parameters":{},"id":"50cb9cb8-22fd-43f1-b411-dcc8d0f584c5","name":"(In) Text Message","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2240,580]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.payload.content}}","operation":"isNotEmpty"}]}},"id":"df55332c-9c2b-4de0-b02c-3b82672ac18c","name":"If Not Empty Content ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2440,600]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"Uma mensagem de tipo não reconhecido foi recebido, por favor verifique seu celular!"}]},"options":{}},"id":"2914f1d7-de09-4cd9-9e37-089f45a594dd","name":"Set Custom Content","type":"n8n-nodes-base.set","typeVersion":1,"position":[3860,660]},{"parameters":{},"id":"fdf0e1a9-2a19-4c61-91ca-9f6e52049758","name":"(In) Text Message Following","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4080,580]},{"parameters":{"values":{"string":[{"name":"payload.attachment"}]},"options":{}},"id":"2e4c66cd-25aa-4899-a59b-8b64ee84a546","name":"Filter Post To Chatwoot Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[4540,580]},{"parameters":{"content":"## Fail Retry \nImportant to retry on fail because if you are using any external storage, it will try to save at this time.\nSo you need to ensure success ...","height":365.41299407912055,"width":258.1602840291324},"id":"f5bd9e05-c6e1-46a5-9327-d0dd16c2fea5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3760,480]},{"parameters":{"values":{"string":[{"name":"extra.qphost","value":"={{ $json.extra.qphost ?? \"http://127.0.0.1:31000\" }}"},{"name":"extra.qptoken","value":"={{ $json.extra.qptoken ?? $json.extra.identifier }}"}]},"options":{}},"id":"a4ff9394-2247-42a2-9d75-7ff49f409f8b","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[500,500]},{"parameters":{"content":"## (1.0.1) Updates\n* prepend reference msg\n\n## Recommendations \n* Remember set timeout to 10 seconds","height":201.45401153644474,"width":467.54452018877896},"id":"c42db5e9-d07f-433a-b597-8e02aac3d3c4","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"disabled":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.synopsis }}","operation":"isNotEmpty"}]}},"id":"2e99bc00-645b-4fa8-a88c-b2a07e127665","name":"If InReply | Reaction ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1000,500]},{"parameters":{"values":{"string":[{"name":"payload.content_attributes.in_reply_to","value":"={{ $json.payload.content_attributes.in_reply_to.split('-')[2] }}"}]},"options":{}},"id":"f546a70c-eb19-4e0a-be29-75860e855012","name":"Prepend Reference","type":"n8n-nodes-base.set","typeVersion":2,"position":[1240,380]},{"parameters":{"requestMethod":"POST","url":"={{$(\"Post Incomming With Attachment ?\").item.json.cwhost}}/api/v1/accounts/{{$(\"Post Incomming With Attachment ?\").item.json.account}}/conversations/{{$(\"Post Incomming With Attachment ?\").item.json.conversation.id}}/messages","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"message_type","value":"={{ 2 }}"},{"name":"content","value":"✅ Este contato foi importado para os contatos do Chat"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{ $('When Called By Another Workflow').item.json.extra.utoken }}"}]}},"name":"Post Incoming Message3","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[7040,0],"id":"0164ac27-1ea9-40ec-8466-0159193fe558","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"method":"POST","url":"={{$(\"Post Incomming With Attachment ?\").item.json.cwhost}}/api/v1/accounts/{{$(\"Post Incomming With Attachment ?\").item.json.account}}/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('When Called By Another Workflow').item.json.extra.utoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $(\"Code\").item.json.temp.split('FN:')[1].split('TEL')[0].split('item')[0] }}"},{"name":"phone_number","value":"={{ $('Code1').item.json.phone }}"},{"name":"identifier","value":"={{ $('Code1').item.json.phone.replace('+','') }}@s.whatsapp.net "}]},"options":{}},"id":"0c2f3546-b0f8-40e3-8bc7-3ac23e902da0","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6700,20],"onError":"continueErrorOutput"},{"parameters":{"requestMethod":"POST","url":"={{$(\"Post Incomming With Attachment ?\").item.json.cwhost}}/api/v1/accounts/{{$(\"Post Incomming With Attachment ?\").item.json.account}}/conversations/{{$(\"Post Incomming With Attachment ?\").item.json.conversation.id}}/messages","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"message_type","value":"={{ 2 }}"},{"name":"content","value":"❌ Este contato não foi importado para os contatos do Chat, realize a adição manualmente"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{ $('When Called By Another Workflow').item.json.extra.utoken }}"}]}},"name":"Post Incoming Message4","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[7040,160],"id":"8fbe020e-ec59-40a5-bd94-6a3c0fa1f509","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.payload.event }}","value2":"=revoke"}]}},"id":"03f0b069-f352-42c4-81c1-1c28fea1b04f","name":"is revoke?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2640,840]},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM messages\nWHERE content_attributes::text LIKE '%{{ $json.payload.content_attributes.items.quepasa.msgid }}%'\nORDER BY id DESC\nLIMIT 1;\n","options":{}},"id":"9e123629-8ac4-4cc0-839b-56d8255cbbd5","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[2860,680],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"requestMethod":"POST","url":"={{ $('is revoke?').item.json.cwhost }}/api/v1/accounts/{{ $('is revoke?').item.json.account }}/conversations/{{ $('is revoke?').item.json.conversation.id }}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\n   \"private\": false,\n   \"content\": \"❌ Essa mensagem foi apagada!\",\n   \"message_type\": \"incoming\",\n   \"source_id\": \"{{ $('When Called By Another Workflow').item.json[\"payload\"][\"source_id\"] }}\",\n   \"content_attributes\": {\n      \"items\": {\n         \"quepasa\": {\n            \"msgid\": \"{{ $('When Called By Another Workflow').item.json[\"payload\"][\"content_attributes\"][\"items\"][\"quepasa\"][\"msgid\"] }}\"\n         }\n      },\n      \"in_reply_to\": \"{{ $json[\"id\"] }}\"\n   },\n   \"attachment\": \"\",\n   \"content_type\": \"text\"\n}","headerParametersJson":"={ \"api_access_token\": \"{{ $('When Called By Another Workflow').item.json.extra.atoken }}\" }"},"name":"mark as revoked","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[3120,680],"id":"b2e3ad05-559c-4bb7-b035-1bba3bd120f1","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"requestMethod":"POST","url":"={{$(\"Post Incomming With Attachment ?\").item.json.cwhost}}/api/v1/accounts/{{$(\"Post Incomming With Attachment ?\").item.json.account}}/conversations/{{$(\"Post Incomming With Attachment ?\").item.json.conversation.id}}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={{$json.payload}}","headerParametersJson":"={ \"api_access_token\": \"{{$(\"Post Incomming With Attachment ?\").item.json.atoken}}\" }"},"name":"Post Incoming Message2","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[6320,20],"id":"82c7766b-287d-40e0-8e1f-54662104bf96","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"payload","value":"={{ $(\"Post Incomming With Attachment ?\").item.json.payload }}"}]},"options":{}},"id":"db9aee3a-c016-44af-b809-dc1e78ee8a21","name":"Set4","type":"n8n-nodes-base.set","typeVersion":1,"position":[5900,20]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"=**Nome:** {{ $('Code1').item.json.name }}\n**Telefone:** {{ $('Code1').item.json.phone }} \n "}]},"options":{}},"id":"1d16ae50-9759-4868-be37-fa59632a97d7","name":"Set5","type":"n8n-nodes-base.set","typeVersion":1,"position":[6100,20]},{"parameters":{"dataType":"string","value1":"={{ $(\"Quepasa Download Incoming\").first().binary[\"data\"].fileExtension }}","rules":{"rules":[{"value2":"vcf"},{"value2":"url","output":1}]},"fallbackOutput":3},"id":"b16e221b-cac5-4508-b0bb-25040a9f47b0","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":1,"position":[5240,320]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"= {{ $env['C8Q_MSGFOR_LOCALIZATION_CONTENT'] ?? '**Localização**' }}\n\n-------------------------------------\n{{ $(\"When Called By Another Workflow\").item.json.payload.attachment.url }}\n\n"}]},"options":{}},"id":"ce496214-8fd2-46dc-b666-1a2c91523389","name":"Set6","type":"n8n-nodes-base.set","typeVersion":1,"position":[5520,280]},{"parameters":{"requestMethod":"POST","url":"={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/conversations/{{$json.conversation.id}}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{"bodyContentType":"multipart-form-data"},"sendBinaryData":true,"binaryPropertyName":"=attachments[]:data","headerParametersJson":"={ \"api_access_token\": \"{{$json.atoken}}\" }","queryParametersJson":"={{$json.payload}}"},"name":"Post Incoming Message Attachment3","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[6340,240],"id":"a48a3acd-1c86-45c0-a50e-cbe53a60be63","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"=mapa","destinationKey":"mapa","options":{"dataIsBase64":true,"fileName":"localizacao.jpg","mimeType":"image/jpeg"}},"id":"18ee0035-ff9a-42b7-a8d5-13340bed493c","name":"Move Binary Data1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[5800,180],"alwaysOutputData":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"9dd3bf21-c53b-4154-978f-d88d70d16794","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2,"position":[5960,260]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"mapa","value":"={{ $(\"When Called By Another Workflow\").item.json.payload.attachment.thumbnail }}"}]},"options":{}},"id":"5fdc49ac-2e9a-4443-9e3c-0b4745c84170","name":"Set7","type":"n8n-nodes-base.set","typeVersion":1,"position":[5660,180]},{"parameters":{"jsCode":"let items = $input.all()\n\nlet temp = Buffer.from($(\"Quepasa Download Incoming\").first().binary[\"data\"].data, 'base64').toString()\n\n\n\n\nreturn {temp}\n\n"},"id":"e398994d-4ac5-4011-af91-cedb195092b6","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[5420,20]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"={{ $env['C8Q_MSGFOR_ATTACHERROR_CONTENT'] ?? '** Falha ao baixar anexo !' }}\n\n-------------------------------------\nfilename: {{ $json[\"attachment\"][\"filename\"] }}\nerror: {{ $json.error }}"}]},"options":{}},"id":"4aa9a4ec-5542-4156-97d0-e59dc09da633","name":"(In) Prepend error on content","type":"n8n-nodes-base.set","typeVersion":1,"position":[3000,180]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.error}}","operation":"isNotEmpty"}]}},"id":"ed3b65a0-6747-474f-8388-cce118b359ee","name":"(In) Error On Get Attach ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2720,200]},{"parameters":{"requestMethod":"POST","url":"={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/conversations/{{$json.conversation.id}}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={{$json.payload}}","headerParametersJson":"={ \"api_access_token\": \"{{ $json.atoken || $json.utoken }}\" }"},"name":"Post Incoming Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[5000,780],"id":"3a625a59-686d-4cfc-b315-c2b2be595967","retryOnFail":true,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"baseUrl":"={{$json.qphost}}","token":"={{$json.qptoken}}","operation":"download","messageid":"={{ $json.payload.content_attributes.items.quepasa.msgid }}","fileName":"="},"id":"376c4489-7783-4d8e-b583-dcc9eae93524","name":"Quepasa Download Incoming","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[2520,200],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{$binary}}","operation":"isNotEmpty"}]}},"id":"364a315a-5815-4fab-93ec-785b1615b0e0","name":"Post Incomming With Attachment ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4760,580],"retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"requestMethod":"POST","url":"={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/conversations/{{$json.conversation.id}}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{"bodyContentType":"multipart-form-data"},"sendBinaryData":true,"binaryPropertyName":"attachments[]:data","headerParametersJson":"={ \"api_access_token\": \"{{$json.atoken}}\" }","queryParametersJson":"={{$json.payload}}"},"name":"Post Incoming Message Attachment2","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[5380,500],"id":"5625a0b2-5e34-4d50-997e-69644bd4de03","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"requestMethod":"POST","url":"={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/conversations/{{$json.conversation.id}}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{"bodyContentType":"multipart-form-data"},"sendBinaryData":true,"binaryPropertyName":"=attachments[]:mapa","headerParametersJson":"={ \"api_access_token\": \"{{$json.atoken}}\" }","queryParametersJson":"={{ $json.payload }}"},"name":"Post Incoming Message Attachment","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[6340,420],"id":"153c2304-59b5-4382-9d89-03560a11d21a","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f975ff1b-a9f7-4d91-9da9-960614d27d59","leftValue":"={{ $binary.data }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"661519da-371d-484c-af81-9a3d6d107a09","leftValue":"={{ $binary.mapa }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"05acc0d8-fae4-4128-b2d5-92858057ef03","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[6100,260]},{"parameters":{"jsCode":"const vcfData = $json.temp;\n\n// Função para extrair o nome e o telefone\nfunction extractNameAndPhone(vcf) {\n    const namePattern = /FN:(.+)/;\n    const waidPattern = /TEL;.*waid=(\\d+):/;\n    const telPattern = /TEL;.*:(\\+?\\d+([-\\s]\\d+)*\\d+)/;\n\n    const nameMatch = vcf.match(namePattern);\n    const waidMatch = vcf.match(waidPattern);\n    const telMatch = vcf.match(telPattern);\n\n    const name = nameMatch ? nameMatch[1].trim() : null;\n    let phone = waidMatch ? waidMatch[1] : (telMatch ? telMatch[1].replace(/[-\\s]/g, '') : null);\n\n    // Adiciona o '+' no início do telefone, se necessário\n    if (phone && !phone.startsWith('+')) {\n        phone = `+${phone}`;\n    }\n\n    return { name, phone };\n}\n\nconst result = extractNameAndPhone(vcfData);\nreturn result;\n"},"id":"20654fc6-7a00-49a9-b966-777066016419","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[5680,20]},{"parameters":{"requestMethod":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.extra.account }}/conversations/{{ $json.conversation.id }}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={{ $json.payload }}","headerParametersJson":"={ \"api_access_token\": \"{{ $json.extra.atoken }}\" }"},"name":"Send Edited Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1660,240],"id":"a1088f3b-d2c6-4b31-8f66-27832718f88b","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"operation":"executeQuery","query":"SELECT messages.id as internal_id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.extra.account }}' AND messages.source_id = '{{ $json.payload.source_id }}' ORDER BY messages.id DESC LIMIT 1;\n","options":{}},"id":"bd32bede-1a90-4381-9f51-07152aa03ce6","name":"Get Edited Message Id","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[1140,160],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.payload.edited }}","value2":true}]}},"id":"0d87c344-3103-4542-a0be-fb20953badd6","name":"If Edited Message ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[740,500]},{"parameters":{},"id":"92eab3c4-65fd-4436-8774-79fa95d48817","name":"No Operation, do nothing3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[940,260]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"5a4b38ad-4a51-40a6-a26f-9e7180bfbb5b","name":"Merge Edited Message Info","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1340,240]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"={{ $env['C8Q_MSGFOR_EDITED_CONTENT'] ?? '\\u26A0\\uFE0F ***Essa mensagem foi editada !***' }}\n\n-------------------------------------\n{{ $json.payload.content }}"},{"name":"payload.content_attributes.in_reply_to_external_id","value":"={{ $json.payload.source_id }}"}],"number":[{"name":"payload.content_attributes.in_reply_to","value":"={{ +$json.internal_id }}"}]},"options":{}},"id":"9124a2c8-9bfc-422d-9fa8-f0d3eb3f994e","name":"Prepend Edited Content","type":"n8n-nodes-base.set","typeVersion":2,"position":[1500,240]},{"parameters":{"assignments":{"assignments":[{"id":"a2b1ce37-6142-4be2-9461-a28b7e78a7fd","name":"chatid","value":"={{ $('Post Incomming With Attachment ?').item.json.chatid }}","type":"string"},{"id":"cb347220-c79a-4ae5-a5e8-6517c57bb4ae","name":"hex","value":"={{ $('Post Incomming With Attachment ?').item.json.hex }}","type":"string"},{"id":"480a05c3-a413-45a5-9020-8b1c9cf8ceb8","name":"qphost","value":"={{ $('Post Incomming With Attachment ?').item.json.qphost }}","type":"string"},{"id":"3e1d9df5-1a48-4d40-9c0c-e09450d5167c","name":"qptoken","value":"={{ $('Post Incomming With Attachment ?').item.json.qptoken }}","type":"string"},{"id":"a67ab8a6-f009-4c57-8778-48db08ffa345","name":"cwhost","value":"={{ $('Post Incomming With Attachment ?').item.json.cwhost }}","type":"string"},{"id":"152c43d8-b727-46ad-8b97-815cb46d8e1e","name":"account","value":"={{ $('Post Incomming With Attachment ?').item.json.account }}","type":"number"},{"id":"cdc5016e-62d8-4315-af61-213fac7cbcc1","name":"atoken","value":"={{ $('Post Incomming With Attachment ?').item.json.atoken }}","type":"string"},{"id":"f2632854-c3bb-40e7-8423-67558a979d69","name":"identifier","value":"={{ $('Post Incomming With Attachment ?').item.json.identifier }}","type":"string"},{"id":"a40b95f6-24f5-46d3-bf5c-7ef456cd7f6a","name":"payload","value":"={{ $('Post Incomming With Attachment ?').item.json.payload }}","type":"object"},{"id":"10d30e2d-23f3-477a-96d5-708fa5a7ba99","name":"conversation","value":"={{ $('Post Incomming With Attachment ?').item.json.conversation }}","type":"object"},{"id":"932bf2ef-1567-4fed-af9a-c8f476395ebc","name":"inbox_id","value":"={{ $json.inbox_id }}","type":"number"}]},"options":{}},"id":"6b71e64e-581e-4cf6-ba2a-c407ad742c12","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5860,720]},{"parameters":{"workflowId":"2sEIjULpWXvJZHk9","options":{}},"id":"bcc00b18-b856-419e-bec8-0cc377fde8dc","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[6080,720]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"09e086e6-3afc-4edf-8272-d2052f3359d5","leftValue":"={{ $json.content_attributes.items.quepasa.fromme }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"d0b09689-a4b0-4272-824f-524d5b2bf828","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[5620,740]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"63ed4268-e81a-46ea-8cdc-a685cab0598e","leftValue":"={{ $('Post Incomming With Attachment ?').item.json.account }}","rightValue":"=7","operator":{"type":"number","operation":"equals"}},{"id":"50d38b7b-8e59-4926-a95e-13606738ff02","leftValue":"={{ $('Post Incomming With Attachment ?').item.json.account }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{"looseTypeValidation":true}},"id":"31ceae17-bf39-404b-9e6a-3731bdd92f47","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[5380,760]}],"connections":{"Direct Message ?":{"main":[[{"node":"Has Incoming Attachment","type":"main","index":0}],[{"node":"Prepend Title","type":"main","index":0}]]},"Prepend Title":{"main":[[{"node":"Has Incoming Attachment","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"Filter Source Payload":{"main":[[{"node":"Direct Message ?","type":"main","index":0}]]},"Has Incoming Attachment":{"main":[[{"node":"(In) Attachment","type":"main","index":0}],[{"node":"(In) Text Message","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Filter Post To Chatwoot Payload","type":"main","index":0}]]},"(In) Attachment":{"main":[[{"node":"Quepasa Download Incoming","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"(In) Text Message":{"main":[[{"node":"If Not Empty Content ?","type":"main","index":0}]]},"If Not Empty Content ?":{"main":[[{"node":"(In) Text Message Following","type":"main","index":0}],[{"node":"is revoke?","type":"main","index":0}]]},"Set Custom Content":{"main":[[{"node":"(In) Text Message Following","type":"main","index":0}]]},"(In) Text Message Following":{"main":[[{"node":"Filter Post To Chatwoot Payload","type":"main","index":0}]]},"Filter Post To Chatwoot Payload":{"main":[[{"node":"Post Incomming With Attachment ?","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"If Edited Message ?","type":"main","index":0}]]},"If InReply | Reaction ?":{"main":[[{"node":"Prepend Reference","type":"main","index":0}],[{"node":"Filter Source Payload","type":"main","index":0}]]},"Prepend Reference":{"main":[[{"node":"Filter Source Payload","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Post Incoming Message3","type":"main","index":0}],[{"node":"Post Incoming Message4","type":"main","index":0}]]},"is revoke?":{"main":[[{"node":"Postgres","type":"main","index":0}],[{"node":"Set Custom Content","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"mark as revoked","type":"main","index":0}]]},"Post Incoming Message2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Set4":{"main":[[{"node":"Set5","type":"main","index":0}]]},"Set5":{"main":[[{"node":"Post Incoming Message2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Set6","type":"main","index":0}],[],[{"node":"Post Incoming Message Attachment2","type":"main","index":0}]]},"Set6":{"main":[[{"node":"Merge2","type":"main","index":1},{"node":"Set7","type":"main","index":0}]]},"Move Binary Data1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Set7":{"main":[[{"node":"Move Binary Data1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code1","type":"main","index":0}]]},"(In) Prepend error on content":{"main":[[{"node":"Merge","type":"main","index":0}]]},"(In) Error On Get Attach ?":{"main":[[{"node":"(In) Prepend error on content","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Post Incoming Message":{"main":[[{"node":"If1","type":"main","index":0}]]},"Quepasa Download Incoming":{"main":[[{"node":"(In) Error On Get Attach ?","type":"main","index":0}]]},"Post Incomming With Attachment ?":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Post Incoming Message","type":"main","index":0}]]},"If2":{"main":[[{"node":"Post Incoming Message Attachment3","type":"main","index":0}],[{"node":"Post Incoming Message Attachment","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Set4","type":"main","index":0}]]},"Get Edited Message Id":{"main":[[{"node":"Merge Edited Message Info","type":"main","index":0}]]},"If Edited Message ?":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"If InReply | Reaction ?","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Get Edited Message Id","type":"main","index":0},{"node":"Merge Edited Message Info","type":"main","index":1}]]},"Merge Edited Message Info":{"main":[[{"node":"Prepend Edited Content","type":"main","index":0}]]},"Prepend Edited Content":{"main":[[{"node":"Send Edited Message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If1":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Called By Another Workflow":[{"json":{"payload":{"private":false,"content":"Valor por favor?","message_type":"incoming","source_id":"BCE8B0C170FD6BB2D06E12342C156ACF","content_attributes":{"items":{"quepasa":{"msgid":"BCE8B0C170FD6BB2D06E12342C156ACF","fromme":"false"}}},"external_created_at":1739886440,"status":"read","content_type":"text","event":"text","edited":false},"chatid":"555499306011@s.whatsapp.net","conversation":{"id":51,"status":"open","custom_attributes":{}},"extra":{"account":79,"cwhost":"https://app.bee360.com.br","identifier":"NdEiFdD3MyG53T4LioAEPYuk","inbox":499,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"NdEiFdD3MyG53T4LioAEPYuk","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"hex":"35353534393933303630313140732e77686174736170702e6e6574","participant":{}}}]},"versionId":"c69f6811-8ecd-476d-84eb-a81849043086","triggerCount":0,"tags":[]}