[-quepasa-]---chatwoottoquepasagreetings-WS22W6W6qrgZuCss.json
{"createdAt":"2024-03-09T16:30:28.084Z","updatedAt":"2025-02-18T15:00:16.454Z","id":"WS22W6W6qrgZuCss","name":"[ QUEPASA ] - ChatwootToQuepasaGreetings","active":false,"nodes":[{"parameters":{"baseUrl":"={{$json.qphost}}","token":"={{$json.qptoken}}","text":"={{$json.content}}","filelength":0},"id":"9ebedc56-33ec-4769-bc3d-af038e0b569e","name":"Quepasa Send Welcome","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[1060,600]},{"parameters":{"respondWith":"noData","options":{}},"id":"7b1406d6-48f9-4d1d-92cd-64dc2bb68301","name":"Normal Exit (GNE)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[260,800]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.chatid}}","operation":"isNotEmpty"}]}},"name":"Has Chat Id ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1240,780],"alwaysOutputData":false,"id":"eb61f7dd-7768-4c3d-a8d7-536ffa7a5d2a"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"chatid","value":"={{$json.chat.id}}"},{"name":"qphost","value":"={{ $json.extra.qphost ?? 'http://localhost:31000' }}"},{"name":"qptoken","value":"={{ $json.extra.qptoken ?? $json.extra.identifier }}"},{"name":"cwhost","value":"={{ $json.extra.cwhost ?? 'http://localhost:3000' }}"},{"name":"account","value":"={{$json.extra.account}}"},{"name":"inbox","value":"={{$json.extra.inbox}}"},{"name":"utoken","value":"={{$json.extra.utoken}}"}],"boolean":[{"name":"skipgreetings","value":"={{ $json.chat.chatwoot.skipgreetings ?? false }}"}]},"options":{}},"id":"3cc68b93-ba5c-4a7d-9f0f-fd185cee876b","name":"Set Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[-1400,780]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"content","value":"={{ $json.sendOutofOfficeMessage ? $json.out_of_office_message : $json.greeting_message }}"}]},"options":{}},"name":"Greeting Message Content","type":"n8n-nodes-base.set","typeVersion":1,"position":[460,680],"id":"8bdea3ab-45ed-42b6-b886-19c6e1eea99c"},{"parameters":{"url":"={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/inboxes/{{$json.inbox}}","allowUnauthorizedCerts":true,"options":{},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json.utoken}}"}]}},"name":"Get Inbox Information","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-880,760],"id":"452fcbcc-3638-4c39-85ce-5f46e27199b5","notes":"Important to use \"source_id\" to respond messages"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.greeting_enabled ?? false }}","value2":true}]}},"name":"Is Greeting Enabled ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[60,680],"alwaysOutputData":false,"id":"6aa8c789-c841-45bc-a4cd-0e8d8130bacd"},{"parameters":{"mode":"multiplex"},"id":"cbf238e0-ebad-4572-89ae-e4cb78ad31b8","name":"Merge Extra + Greeting Content","type":"n8n-nodes-base.merge","typeVersion":1,"position":[660,600]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"ddc83853-c684-4f52-b3a2-3f07c9384671","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[-680,660]},{"parameters":{},"id":"67c03c0b-c9b8-4080-8c02-9923476e188d","name":"Waiting for inbox info","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-880,580]},{"parameters":{"errorMessage":"no chat id"},"id":"f336e251-fe13-47e8-9e5c-4194e3aa6529","name":"S&E - No Chat Id","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-880,980]},{"parameters":{"jsCode":"// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  let value = item.json.content;\n  if (typeof value === 'string') {\n    value = value.replace(/\\*\\*/g,'*');\n    value = value.replace(/\\\\\\s/g,'\\r');\n  }\n  item.json.content = value;\n}\n\nreturn $input.all();"},"id":"fc23bf43-1c7f-411f-8887-c3f9a6875d67","name":"Text Enchanted adjusts","type":"n8n-nodes-base.code","typeVersion":1,"position":[860,600]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.skipgreetings ?? false }}","value2":true}]}},"id":"b691ebcb-2da0-44b9-8687-13280f576278","name":"Skip Greetings By Contact","type":"n8n-nodes-base.if","typeVersion":1,"position":[260,560]},{"parameters":{"jsCode":"// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const dados of $input.all()) {\n  \n  //HugoSampaio: Ajuda a analisar problemas de timezone nao configurado\n  dados.json.horaAtual = $now.toFormat('H');\n  \n  for(let wo of dados.json[\"working_hours\"] ){\n    if ($today.weekday === wo.day_of_week){\n      if(wo.closed_all_day == true){\n        dados.json.sendOutofOfficeMessage = true;\n        break;\n      }\n  \n      if(wo.open_all_day == false){  \n        \n        if($now.toFormat('H') <= wo.open_hour  || $now.toFormat('H') >= wo.close_hour){\n          \n          // abertura\n          if($now.toFormat('H') == wo.open_hour){\n            if($now.toFormat('mm') < wo.open_minutes){\n              dados.json.sendOutofOfficeMessage = true;\n              break;\n            }else{\n              dados.json.sendOutofOfficeMessage = false;\n              break;\n            }\n          }\n          \n  \n          // fechamento\n          if($now.toFormat('H') == wo.close_hour){\n            if($now.toFormat('mm') >= wo.close_minutes){\n              dados.json.sendOutofOfficeMessage = true;\n              break;\n            }else{\n              dados.json.sendOutofOfficeMessage = false;\n              break;\n            }\n          }\n  \n          dados.json.sendOutofOfficeMessage = true;\n          break;\n         \n        }    \n      }\n    }\n  }\n}\n\nreturn $input.all();"},"id":"e3d2fd7b-80f3-4859-9961-d94033c9414c","name":"Calculate Working Hours","type":"n8n-nodes-base.code","typeVersion":1,"position":[-320,560]},{"parameters":{"respondWith":"noData","options":{}},"id":"78ed30cf-238c-4644-924a-357ef70ebbc5","name":"Normal Exit (GNF)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[460,460]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.working_hours_enabled ?? false }}","value2":true}]}},"name":"Working Hours Enabled ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-520,660],"alwaysOutputData":false,"id":"6c807abb-f720-4e73-9cd8-11c7efd6257c"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.sendOutofOfficeMessage ?? false }}","value2":true}]}},"name":"Should Send Out Of Office Message ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-140,560],"alwaysOutputData":false,"id":"d052a6db-be4a-4426-b178-33ff9ba6516a"},{"parameters":{"content":"## (1.0.0) Recommendations \n* Remember set timeout to 20 seconds ","height":194.5475077160475,"width":505.65878958512553},"id":"f46032cc-c323-467a-988d-e96c5cd260df","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1620,540]},{"parameters":{},"id":"c3cf579e-f18e-44b0-a1f8-c875d777ec49","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-1580,780]}],"connections":{"Has Chat Id ?":{"main":[[{"node":"Get Inbox Information","type":"main","index":0},{"node":"Waiting for inbox info","type":"main","index":0}],[{"node":"S&E - No Chat Id","type":"main","index":0}]]},"Set Payload":{"main":[[{"node":"Has Chat Id ?","type":"main","index":0}]]},"Greeting Message Content":{"main":[[{"node":"Merge Extra + Greeting Content","type":"main","index":1}]]},"Get Inbox Information":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Is Greeting Enabled ?":{"main":[[{"node":"Skip Greetings By Contact","type":"main","index":0}],[{"node":"Normal Exit (GNE)","type":"main","index":0}]]},"Merge Extra + Greeting Content":{"main":[[{"node":"Text Enchanted adjusts","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Working Hours Enabled ?","type":"main","index":0}]]},"Waiting for inbox info":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Text Enchanted adjusts":{"main":[[{"node":"Quepasa Send Welcome","type":"main","index":0}]]},"Skip Greetings By Contact":{"main":[[{"node":"Normal Exit (GNF)","type":"main","index":0}],[{"node":"Greeting Message Content","type":"main","index":0},{"node":"Merge Extra + Greeting Content","type":"main","index":0}]]},"Calculate Working Hours":{"main":[[{"node":"Should Send Out Of Office Message ?","type":"main","index":0}]]},"Working Hours Enabled ?":{"main":[[{"node":"Calculate Working Hours","type":"main","index":0}],[{"node":"Is Greeting Enabled ?","type":"main","index":0}]]},"Should Send Out Of Office Message ?":{"main":[[{"node":"Skip Greetings By Contact","type":"main","index":0}],[{"node":"Is Greeting Enabled ?","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"Set Payload","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7ebc8e9-f57d-4756-a2ad-c2dc05c91bea","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:16:04.080Z","updatedAt":"2024-03-09T14:16:04.080Z","id":"Qgg6bPvz0vpaMIkN","name":"QUEPASA"},{"createdAt":"2024-03-09T14:16:04.090Z","updatedAt":"2024-03-09T14:16:04.090Z","id":"Qlcjo6UHiw4frtYR","name":"CHATWOOT"},{"createdAt":"2024-03-09T14:16:04.079Z","updatedAt":"2024-03-09T14:16:04.079Z","id":"NKqNSuY0oJxzFsGW","name":"NOCODELEAKS"}]}