[-quepasa-]---quepasatotypebot-W6hZpHhWerKa6tNc.json
{"createdAt":"2025-01-21T14:03:50.735Z","updatedAt":"2025-03-21T16:40:24.547Z","id":"W6hZpHhWerKa6tNc","name":"[ QUEPASA ] - QuepasaToTypebot","active":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $json.tp.sessionId }}","value2":"starttypebot"}]}},"id":"1e6452f8-be8b-4556-8daa-efeaf8ea35ce","name":"Start Typebot?","type":"n8n-nodes-base.if","typeVersion":1,"position":[660,640],"notesInFlow":false,"executeOnce":true},{"parameters":{"baseUrl":"={{$json.payload.extra.qphost}}","token":"={{$json.payload.extra.qptoken}}","text":"={{ $json.payload.content }}","chatid":"={{ $json.payload.chatId }}","filelength":0,"trackid":"=typebot-{{ $json.payload.sessionId }}"},"id":"b9b5ca17-08f8-4e10-a102-6a3c815bec23","name":"Quepasa Send Text","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[3920,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"679fd613-68d6-4c3a-82ba-5fec348cc490","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2000,780],"alwaysOutputData":false},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"029bf509-b445-4d43-ac2f-0a091128d284","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1980,560],"alwaysOutputData":true},{"parameters":{"values":{"string":[{"name":"payload.tp.sessionId","value":"={{ $json?.sessionId ?? $node['Start chat in typebot'].json[\"sessionId\"]}}"}]},"options":{}},"id":"59bd087d-f5f9-4188-adbc-1299a0e5cd85","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[1820,460]},{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations/{{$json[\"conversation\"][\"id\"]}}/custom_attributes","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\"custom_attributes\":\n        {\"typebotsessionid\":\"{{$json.payload.tp.sessionId}}\"}\n}","headerParametersJson":"={\"api_access_token\":\"{{ $json.extra.utoken }}\"} "},"name":"Update Conversation in Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[2240,460],"id":"fdb313dc-d827-4b82-9c82-98d2cb398612","retryOnFail":true,"maxTries":2},{"parameters":{},"id":"0feab711-2036-4260-ab53-db42e77af6f5","name":"NoOp payload","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2240,720]},{"parameters":{"requestMethod":"POST","url":"={{ $node['NoOp payload'].json.extra.cwhost }}/api/v1/accounts/{{$node['NoOp payload'].json.extra.account}}/conversations/{{$node['NoOp payload'].json.conversation.id}}/toggle_status","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\"status\": \"open\"}","headerParametersJson":"={\"api_access_token\":\"{{ $node['Defaults'].json.extra.atoken }}\"}"},"name":"Open Conversation in Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4200,260],"id":"d500c1fe-8a42-4ff6-84ea-24bb561af0fd"},{"parameters":{},"id":"75aad30f-a96a-4f80-864e-94291208ce37","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3640,380]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"17c40886-fc3d-4808-941c-c332a201256d","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[4420,340]},{"parameters":{"dataType":"string","value1":"={{ $json.payload.type }}","rules":{"rules":[{"operation":"regex","value2":"text"},{"value2":"image","output":1},{"value2":"video","output":1},{"value2":"audio","output":1},{"value2":"embed","output":3}]},"fallbackOutput":2},"id":"0042baa3-e307-431e-a141-1f2a38d56ddd","name":"Message Type","type":"n8n-nodes-base.switch","typeVersion":1,"position":[3560,720]},{"parameters":{"requestMethod":"POST","url":"={{ $node['NoOp payload'].json.extra.cwhost }}/api/v1/accounts/{{$node['NoOp payload'].json.extra.account}}/conversations/{{$node['NoOp payload'].json.conversation.id}}/custom_attributes","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\"custom_attributes\":\n        {\"typebotsessionid\":\"\"}\n}","headerParametersJson":"={\"api_access_token\":\"{{ $('NoOp payload').item.json.extra.utoken }}\"}"},"name":"Update Conversation Remove Typebot","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4080,1040],"id":"aec047db-df02-4232-9a62-86c37f70262d","retryOnFail":true,"maxTries":2},{"parameters":{},"id":"2861113e-4678-487d-8d8b-c30ff1aa4fca","name":"Next Mensage","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4620,780]},{"parameters":{"requestMethod":"POST","url":"={{ $('NoOp payload').item.json.extra.cwhost }}/api/v1/accounts/{{ $('NoOp payload').item.json.extra.account}}/conversations/{{ $('NoOp payload').item.json.conversation.id }}/toggle_status ","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\"status\": \"open\"}","headerParametersJson":"={\"api_access_token\":\"{{ $node['Defaults'].json.extra.utoken }}\"}"},"name":"Open Conversation in Chatwoot1","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4540,1020],"id":"e22217ee-526a-4374-b206-4d215d9c0dcf"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $node['Loop'].json.payload?.openchatwoot ?? false }}","value2":true}]},"combineOperation":"any"},"id":"b6cb3b21-e081-4d24-ac6b-2550109085e1","name":"Needs to Open Conversation?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3960,380]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['NoOp payload'].json.conversation.status }}","operation":"notEqual","value2":"open"}]},"combineOperation":"any"},"id":"3a272a3c-b3b9-4a4f-9f15-b862d9321820","name":"Needs to Open Conversations?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4300,1040]},{"parameters":{"baseUrl":"={{$json.payload.extra.qphost}}","token":"={{$json.payload.extra.qptoken}}","method":"sendurl","text":"=","chatid":"={{ $json.payload.chatId }}","url":"={{ $json.payload.content }}","filename":"={{ $if($json.payload.type===\"audio\",$json.payload.content.split('/').pop()+'.mp3', $json.payload.content.split('/').pop().replace('.jfif','.jpeg')) }}","mime":"={{ $if($json.payload.type===\"audio\", 'audio/ogg', '') }}","filelength":0,"trackid":"=typebot-{{ $json.payload.sessionId }}"},"id":"0673f14b-9963-4f5b-a622-45933f0a2931","name":"Quepasa Send Attach","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[3920,800],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"content":"## (1.0.0) Updates\n* impletend TypeBot how an agent_bot with chatwoot and quepasa","height":175.906164153499,"width":398.976541038375},"id":"3293c06d-79ea-4c66-8053-7084641474ef","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"unit":"seconds"},"id":"b92d5825-8125-48bb-9439-d8266ea3eb63","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[4140,700],"webhookId":"fcd2e4ee-0d8b-43cd-bb26-cc9e1a3e9c13"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"payload.id","order":"descending"}]},"options":{}},"id":"af18f50d-f267-4d70-a025-baa4f4e4f630","name":"Ordering Counter","type":"n8n-nodes-base.sort","typeVersion":1,"position":[3020,780]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.input.type }}","operation":"contains","value2":"input"}]},"combineOperation":"any"},"id":"2bc56687-4f78-4271-8117-afe4a57b7a9c","name":"Catch first message?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1480,440]},{"parameters":{"method":"POST","url":"={{ $node['Defaults'].json.tp.host }}api/v1/sessions/{{ $json[\"sessionId\"] }}/continueChat","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\"Accept\": \"application/json\", \"Authorization\": \"Bearer {{ $node['Defaults'].json.tp.token }}\"}","sendBody":true,"specifyBody":"json","jsonBody":"={\"message\": \"{{ $node['Defaults'].json.payload.content }}\"}","options":{}},"id":"c84467f9-ec1a-4bf6-98c3-c747c52a6f75","name":"Sen first message to typebot","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1640,360],"disabled":true},{"parameters":{"content":"### Disabled, if eneabled the first message sent to quepasa will sent to bot when the conversation start","height":312.79641485238244,"width":494.80781690625554},"id":"84b75341-32d1-4aca-a91b-627b57adc4a8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1460,260]},{"parameters":{"fieldToSplitOut":"payload","include":"allOtherFields","options":{}},"id":"dd7ef5c9-6dc7-448b-892f-597471caca6c","name":"Split Itens to Send","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[2820,780],"alwaysOutputData":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const payload = $input.item.json;\nconst messages = payload.messages;\nlet idCounter = 1; // Variável para controlar o id\n\n// Função auxiliar para aplicar formatação\nfunction formatText(text, node) {\n  let formatted = text;\n  // Se estiver marcado como negrito e itálico, aplica ambos (ex: *_texto_*)\n  if (node.bold && node.italic) {\n    formatted = `*_${formatted}_*`;\n  } else if (node.bold) {\n    formatted = `*${formatted}*`;\n  } else if (node.italic) {\n    formatted = `_${formatted}_`;\n  }\n  // Para underline não faremos nenhuma alteração\n  return formatted;\n}\n\nconst msgItem = messages.map((message) => {\n  let contentText = '';\n\n  // Se for imagem, áudio ou vídeo, usa a URL\n  if ([\"image\", \"audio\", \"video\"].includes(message.type)) {\n    contentText = message.content.url;\n  } else if (Array.isArray(message.content?.richText)) {\n    for (const richTextItem of message.content.richText) {\n      if (Array.isArray(richTextItem.children)) {\n        for (const child of richTextItem.children) {\n          if (child.type === \"inline-variable\") {\n            if (child.children && Array.isArray(child.children)) {\n              for (const inlineChild of child.children) {\n                if (inlineChild.text) {\n                  contentText += formatText(inlineChild.text.trim(), inlineChild);\n                }\n              }\n            }\n          } else {\n            if (child.text) {\n              contentText += `${formatText(child.text.trim(), child)} `;\n            }\n          }\n          if (child.children && Array.isArray(child.children)) {\n            for (const nestedChild of child.children) {\n              if (nestedChild.text) {\n                contentText += `${formatText(nestedChild.text.trim(), nestedChild)} `;\n              }\n              if (nestedChild.children && Array.isArray(nestedChild.children)) {\n                for (const nestedNestedChild of nestedChild.children) {\n                  if (nestedNestedChild.text) {\n                    contentText += `${formatText(nestedNestedChild.text.trim(), nestedNestedChild)} `;\n                  }\n                  if (nestedNestedChild.children && Array.isArray(nestedNestedChild.children)) {\n                    for (const nestedNestedNestedChild of nestedNestedChild.children) {\n                      if (nestedNestedNestedChild.text) {\n                        contentText += `${formatText(nestedNestedNestedChild.text.trim(), nestedNestedNestedChild)} `;\n                      }\n                    }\n                  }\n                }\n              }\n            }\n          }\n        }\n      }\n      // Adiciona uma quebra de linha após cada parágrafo\n      contentText += \"\\n\";\n    }\n  }\n\n  // Substitui \"Invalid message. Please, try again.\" por \"Tipo de mensagem inválida!\"\n  if (contentText.trim() === \"Invalid message. Please, try again.\") {\n    contentText = \"Tipo de mensagem inválida!\";\n  }\n\n  // Filtra os itens do tipo 'wait' em clientSideActions\n  const waitActions = payload?.clientSideActions?.filter(action => action.type === 'wait') || [];\n  // Define o valor de secondsToWaitFor\n  const secondsToWaitFor = waitActions.length > 1 ? 0 : waitActions[0]?.wait?.secondsToWaitFor ?? null;\n\n  const newItem = {\n    id: idCounter++,\n    type: message.type,\n    content: contentText.trim(),\n    sessionId: payload.tp.sessionId,\n    chatId: payload.payload.chatid,\n    conversation: payload.conversation,\n    extra: payload.extra,\n    openchatwoot: payload?.clientSideActions?.some(objeto => objeto.hasOwnProperty('chatwoot')),\n    ...(idCounter === 1 && { secondsToWaitFor: secondsToWaitFor })\n  };\n\n  return newItem;\n});\n\nreturn { \"payload\": msgItem };\n"},"id":"08e3060f-20c2-4644-a08b-578a6e90015d","name":"Make Payload","type":"n8n-nodes-base.code","typeVersion":1,"position":[2420,720]},{"parameters":{"options":{}},"id":"cae7425f-ef5f-484b-80ac-7062d2e28721","name":"Loop","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3280,700]},{"parameters":{"requestMethod":"POST","url":"={{ $node['NoOp payload'].json.extra.cwhost }}/api/v1/accounts/{{$node['NoOp payload'].json.extra.account}}/conversations/{{$node['NoOp payload'].json.conversation.id}}/custom_attributes","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\"custom_attributes\":\n        {\"typebotsessionid\":\"\"}\n}","headerParametersJson":"={\"api_access_token\":\"{{ $node['Defaults'].json.extra.utoken }}\"}"},"name":"Update Conversation Remove Typebot1","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4200,100],"id":"15233509-4224-426f-b4ea-36b2a60ea57a","retryOnFail":true,"maxTries":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6b7ef73a-a97f-4ded-97d2-afb2d08be18d","leftValue":"={{ $json.payload }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1486c7cb-cf83-493c-b2f8-2fb9879e901a","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[2620,720]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"08b00c52-ad4f-4fdb-a207-dea681b0dbd4","leftValue":"={{ $json.payload }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5f869fa6-2be2-4ff0-bbf5-0f369493a7cd","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[3800,1060]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"tp.host","value":"={{ $json.tp.host }}"},{"name":"tp.token","value":"={{ $json.tp.token }}"},{"name":"tp.sessionId","value":"={{ $json?.conversation?.custom_attributes?.typebotsessionid ?? \"starttypebot\" }}"},{"name":"tp.botid","value":"={{ $json?.extra?.tbstart ?? \"cwa\"+$json.extra.account+\"ib\"+$json.extra.inbox }}"},{"name":"conversation.id","value":"={{ $json?.conversation?.id }}"},{"name":"payload.chatid","value":"={{ $json.chat.id }}"},{"name":"extra.cwhost","value":"={{ $json.extra.cwhost }}"},{"name":"extra.account","value":"={{ $json.extra.account }}"},{"name":"extra.atoken","value":"={{ $json.extra.atoken }}"},{"name":"extra.inbox","value":"={{ $json.extra.inbox }}"},{"name":"extra.qptoken","value":"={{ $json.extra.qptoken }}"},{"name":"extra.qphost","value":"={{ $json.extra.qphost }}"},{"name":"extra.utoken","value":"={{ $json.extra.utoken }}"},{"name":"payload.messageid","value":"={{ $json.id }}"},{"name":"payload.content","value":"={{ $json.content || $json.text }}"},{"name":"conversation.status","value":"={{ $json.conversation.status }}"},{"name":"payload.name","value":"={{ $json.chat.title.split(' ')[0]  }}"}]},"options":{}},"id":"a7976560-92b3-452c-a429-e57e9af06e61","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[500,640]},{"parameters":{},"id":"970cff21-9f2c-44d9-9995-ad42ac914f36","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-180,520],"webhookId":"9061e7cf-a643-47a3-a036-15a7fc8cfc3c"},{"parameters":{"operation":"get","propertyName":"key","key":"=n8n:debounceStarted:{{ $('From BroadCast?').item.json.conversation.id }}-{{ $('From BroadCast?').item.json.extra.account }}-{{ $('From BroadCast?').item.json.extra.inbox }}","options":{}},"id":"e8dbbcb3-a40d-4d19-82bc-cf4afda152db","name":"Redis2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-20,520],"credentials":{"redis":{"id":"j3gB8eeECRJApLv3","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f4229894-5e81-49ee-9304-8e7b6c79b584","leftValue":"={{ $json.key }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"fbf6d0ea-0fa3-45cb-94b1-8b593cfe7e66","name":"If4","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[120,520]},{"parameters":{"assignments":{"assignments":[{"id":"ca035987-8e19-4a77-9623-7d9cfb573172","name":"conversation","value":"={{ $('When Called By Another Workflow').item.json.conversation }}","type":"object"},{"id":"cdfa9290-2a00-4255-b12a-f6503f67ce7a","name":"fromme","value":"={{ $('When Called By Another Workflow').item.json.fromme }}","type":"boolean"},{"id":"31769cdf-ff73-413f-9aa3-95314ec78321","name":"edited","value":"={{ $('When Called By Another Workflow').item.json.edited }}","type":"boolean"},{"id":"26224b9f-eed1-4b2d-a620-36f6112e5eef","name":"extra","value":"={{ $('When Called By Another Workflow').item.json.extra }}","type":"object"},{"id":"4f66b354-463a-4b3b-b83a-71306f2513e1","name":"chat","value":"={{ $('When Called By Another Workflow').item.json.chat }}","type":"object"},{"id":"47f2eb21-1754-449a-89b9-a31fef7fbdfc","name":"id","value":"={{ $('When Called By Another Workflow').item.json.id }}","type":"string"},{"id":"0d4bcae7-4dac-44ba-abfe-631326f9ffb1","name":"timestamp","value":"={{ $('When Called By Another Workflow').item.json.timestamp }}","type":"string"},{"id":"7bae985d-c31a-4cb4-b643-518ec9cef8e4","name":"text","value":"={{ $('When Called By Another Workflow').item.json.text }}","type":"string"},{"id":"458018b1-0b81-4cab-9269-dde88074f661","name":"type","value":"={{ $('When Called By Another Workflow').item.json.type }}","type":"string"},{"id":"ac4b2cd5-2777-4350-bf32-9cb87a21c23f","name":"tp.token","value":"fSSK7eMq3qkwsspD2YF4JHvb","type":"string"},{"id":"9e747706-289c-4e41-85d9-6be250f13a86","name":"tp.host","value":"http://typebot.archanjo.co/","type":"string"}]},"options":{}},"id":"396c6751-9c8c-4b94-861d-64576e2cd42b","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"151225cf-4c88-44e3-956c-ef2616a93e25","leftValue":"={{ $json.chat.id }}","rightValue":"@broadcast","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"cc5101e1-c3d7-408f-929e-dcc0f33bb81e","name":"From BroadCast?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1380,620]},{"parameters":{"operation":"get","propertyName":"key","key":"=n8n:debounceStarted:{{ $('From BroadCast?').item.json.conversation.id }}-{{ $('From BroadCast?').item.json.extra.account }}-{{ $('From BroadCast?').item.json.extra.inbox }}","options":{}},"id":"fc43867d-b2bb-4865-931a-04cbecf3af25","name":"Get Debouce on Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-740,540],"credentials":{"redis":{"id":"j3gB8eeECRJApLv3","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d82d693e-b9d4-445f-bbb8-87c091bc7f03","leftValue":"={{ $json.key }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"23274c49-4056-49ad-a34a-54e99599dbab","name":"Existe Key?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-560,540]},{"parameters":{"operation":"set","key":"=n8n:debounceStarted:{{ $('From BroadCast?').item.json.conversation.id }}-{{ $('From BroadCast?').item.json.extra.account }}-{{ $('From BroadCast?').item.json.extra.inbox }}","value":"={{$now.toMillis()}}","keyType":"string","expire":true,"ttl":5},"id":"5e0789c4-183f-4196-bdab-6c2e0d647aad","name":"Set Debounce Time Key","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-340,520],"credentials":{"redis":{"id":"j3gB8eeECRJApLv3","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=n8n:debounceStarted:{{ $('From BroadCast?').item.json.conversation.id }}-{{ $('From BroadCast?').item.json.extra.account }}-{{ $('From BroadCast?').item.json.extra.inbox }}","value":"={{ $json.sessionId }}","keyType":"string"},"id":"b661177f-2dfb-4c44-818f-e6b945792b4d","name":"Set Debouce Started Key","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1180,340],"credentials":{"redis":{"id":"j3gB8eeECRJApLv3","name":"Redis account"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"id":"6ce9830a-55fa-41ed-91ad-9b1db4764991","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1340,440]},{"parameters":{"operation":"get","propertyName":"key","key":"=n8n:debounceStarted:{{$json.conversation.id}}-{{ $json.extra.account }}-{{ $json.extra.inbox }}","options":{}},"id":"e8bfb18b-5716-4665-a9ac-4ffd25b3f631","name":"Get Typebot Session","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1120,640],"credentials":{"redis":{"id":"j3gB8eeECRJApLv3","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"11227f50-6a0d-4c7b-a3d2-3114f507ca0b","leftValue":"={{ $json.key }}","rightValue":"true","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e23549cb-9896-4ab9-b8be-80d24a2a83df","name":"Is Key Empty?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-940,640]},{"parameters":{"operation":"delete","key":"=n8n:debounceStarted:{{ $('From BroadCast?').item.json.conversation.id }}-{{ $('From BroadCast?').item.json.extra.account }}-{{ $('From BroadCast?').item.json.extra.inbox }}"},"id":"f82e3208-1e66-40ec-a50c-1cac0b438b2f","name":"Delete Typebot Session","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4460,100],"credentials":{"redis":{"id":"j3gB8eeECRJApLv3","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=n8n:debounceStarted:{{ $('From BroadCast?').item.json.conversation.id }}-{{ $('From BroadCast?').item.json.extra.account }}-{{ $('From BroadCast?').item.json.extra.inbox }}"},"id":"ab8f2482-61b2-47d3-a3cf-d34da16a9d2d","name":"Delete Typebot Session1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4800,1020],"credentials":{"redis":{"id":"j3gB8eeECRJApLv3","name":"Redis account"}}},{"parameters":{},"id":"ab2a200d-c520-4c5b-9a3f-12d307161e82","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-1680,620]},{"parameters":{"method":"POST","url":"={{ $node['Defaults'].json.tp.host }}api/v1/sessions/{{ $json.tp.sessionId }}/continueChat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $json.tp.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.payload.content || \"null\" }}"}]},"options":{}},"id":"68c7bbab-079a-4d33-a453-f80fe2fba4d6","name":"Continue chat in typebot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,800],"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $json.tp.host }}api/v1/typebots/{{ $json.tp.botid }}/startChat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.tp.token }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"prefilledVariables\": {{ $json.prefilledVariables.toJsonString() }}\n}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{"followRedirects":true}}}},"id":"50f99266-890a-4e99-9770-9bea682f94c3","name":"Start chat in typebot","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1000,460],"retryOnFail":false,"maxTries":5},{"parameters":{"jsCode":"// Obtenha o JSON de entrada (assumindo que cada item tem a mesma estrutura)\nconst input = $json;\nconst tp = $json.tp;\nconst conversation = $json.conversation;\nconst payload = $json.payload;\nconst extra = $json.extra;\n\n// Obtenha o objeto chatwoot a partir do input (caso exista)\nconst chatwootData = input.payload && input.payload.contact_attributes ? input.payload.contact_attributes : {};\n\n// Crie o objeto prefilledVariables usando os valores do input e mesclando os dados do chatwoot\nconst prefilledVariables = {\n  chatid: input.payload?.chatid,\n  idConversa: input.conversation?.id,\n  name: input.payload?.name,\n  account_id: input.extra?.account,\n  inbox_id: input.extra?.inbox,\n  firstMessage: input.payload?.content,\n  contact_id: input.payload?.contact_id,\n  // Mescla as informações do chatwoot:\n  ...chatwootData\n};\n\n// Retorna o payload conforme o padrão requerido\nreturn [\n  {\n    json: {\n      tp,\n      conversation,\n      payload,\n      extra,\n      prefilledVariables\n    }\n  }\n];\n"},"id":"55e98e32-2e81-412d-a3a1-a89de85bd52f","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[820,460]},{"parameters":{"assignments":{"assignments":[{"id":"92981760-ceef-4f26-b707-6303995f1d89","name":"erro","value":"={{ JSON.parse($json.error.message.split('-')[1]) }}","type":"object"},{"id":"ab11415e-57bc-42da-b466-b9bd957b60a5","name":"status","value":"={{ $json.error.status }}","type":"string"},{"id":"f6b370f1-e1af-4457-bd8f-ca344334fb82","name":"tp","value":"={{ $('Start Typebot?').item.json.tp }}","type":"object"},{"id":"27b5d5b7-97eb-469c-8a0a-5133238f0786","name":"conversation","value":"={{ $('Start Typebot?').item.json.conversation }}","type":"object"},{"id":"734ac31e-1bf9-4c5e-80f2-c96448d5b827","name":"payload","value":"={{ $('Start Typebot?').item.json.payload }}","type":"object"},{"id":"2e87c8fa-c9d5-403a-abae-d29d6b6f3ea4","name":"extra","value":"={{ $('Start Typebot?').item.json.extra }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,940],"id":"176c961b-ca41-489d-8e18-26bbbb0c93c0","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39ffaf94-d4ca-43d1-a888-50c1bf81ef53","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1320,820],"id":"b04e9b6d-d8b1-44aa-a474-f86cb119248b","name":"Success?"},{"parameters":{"requestMethod":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation.id}}/custom_attributes","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\"custom_attributes\":\n        {\"typebotsessionid\":\"\"}\n}","headerParametersJson":"={\"api_access_token\":\"{{ $node['Defaults'].json.extra.utoken }}\"}"},"name":"Update Conversation Remove Typebot2","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1740,940],"id":"5e8c0abf-f112-4127-a519-917faf79fa4d","retryOnFail":true,"maxTries":2},{"parameters":{"method":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation.id}}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Erro no chatbot:\n{{ $json.status }} - {{ $json.erro.message }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,1120],"id":"bf2d9c49-3b28-481b-859b-6649c4da975a","name":"HTTP Request"},{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations/{{$json[\"conversation\"][\"id\"]}}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\n  \"content\": \"Iniciando sessão no robô\\nID:{{$json.payload.tp.sessionId}}\",\n  \"private\": true,\n  \"message_type\": \"outgoing\"\n}","headerParametersJson":"={\"api_access_token\":\"{{ $json.extra.utoken }}\"} "},"name":"Update Conversation in Chatwoot1","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[2240,300],"id":"1dac0a32-d30c-4fb8-be89-1bcaf80239fb","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"}],"connections":{"Start Typebot?":{"main":[[{"node":"Merge4","type":"main","index":1},{"node":"Code","type":"main","index":0}],[{"node":"Merge3","type":"main","index":0},{"node":"Continue chat in typebot","type":"main","index":0}]]},"Quepasa Send Text":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"NoOp payload","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Update Conversation in Chatwoot","type":"main","index":0},{"node":"NoOp payload","type":"main","index":0},{"node":"Update Conversation in Chatwoot1","type":"main","index":0}]]},"Set":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"NoOp payload":{"main":[[{"node":"Make Payload","type":"main","index":0}]]},"Open Conversation in Chatwoot":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Needs to Open Conversation?","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Next Mensage","type":"main","index":0}]]},"Message Type":{"main":[[{"node":"Quepasa Send Text","type":"main","index":0}],[{"node":"Quepasa Send Attach","type":"main","index":0}],[{"node":"If1","type":"main","index":0}],[{"node":"Loop","type":"main","index":0}]]},"Update Conversation Remove Typebot":{"main":[[{"node":"Needs to Open Conversations?","type":"main","index":0}]]},"Next Mensage":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Open Conversation in Chatwoot1":{"main":[[{"node":"Delete Typebot Session1","type":"main","index":0}]]},"Needs to Open Conversation?":{"main":[[{"node":"Open Conversation in Chatwoot","type":"main","index":0},{"node":"Merge1","type":"main","index":1},{"node":"Update Conversation Remove Typebot1","type":"main","index":0}],[{"node":"Next Mensage","type":"main","index":0}]]},"Needs to Open Conversations?":{"main":[[{"node":"Open Conversation in Chatwoot1","type":"main","index":0}]]},"Quepasa Send Attach":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Next Mensage","type":"main","index":0}]]},"Ordering Counter":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Catch first message?":{"main":[[{"node":"Sen first message to typebot","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]},"Sen first message to typebot":{"main":[[{"node":"Set","type":"main","index":0}]]},"Split Itens to Send":{"main":[[{"node":"Ordering Counter","type":"main","index":0}]]},"Make Payload":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop":{"main":[[],[{"node":"Message Type","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"Update Conversation Remove Typebot1":{"main":[[{"node":"Delete Typebot Session","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop","type":"main","index":0}],[{"node":"Split Itens to Send","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update Conversation Remove Typebot","type":"main","index":0}],[{"node":"Loop","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"Start Typebot?","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"From BroadCast?":{"main":[[],[{"node":"Get Typebot Session","type":"main","index":0}]]},"Get Debouce on Redis":{"main":[[{"node":"Existe Key?","type":"main","index":0}]]},"Existe Key?":{"main":[[{"node":"Set Debounce Time Key","type":"main","index":0}]]},"Set Debounce Time Key":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Set Debouce Started Key":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Catch first message?","type":"main","index":0}]]},"Get Typebot Session":{"main":[[{"node":"Is Key Empty?","type":"main","index":0}]]},"Is Key Empty?":{"main":[[{"node":"Get Debouce on Redis","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"From BroadCast?","type":"main","index":0}]]},"Continue chat in typebot":{"main":[[{"node":"Success?","type":"main","index":0}]]},"Code":{"main":[[{"node":"Start chat in typebot","type":"main","index":0}]]},"Start chat in typebot":{"main":[[{"node":"Set Debouce Started Key","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Edit Fields1":{"main":[[{"node":"Update Conversation Remove Typebot2","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Success?":{"main":[[{"node":"Merge3","type":"main","index":1}],[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"SkcB9PebbNW4c0M1"},"staticData":null,"meta":null,"pinData":{"When Called By Another Workflow":[{"json":{"id":"3A9C039B2D34FBB0A214","content":"1","inbox_id":491,"echo_id":"3A9C039B2D34FBB0A214","conversation_id":55,"message_type":0,"content_type":"text","status":"sent","content_attributes":{"external_created_at":1742574785.197,"items":{"quepasa":{"msgid":"3A9C039B2D34FBB0A214"}}},"created_at":1742574785,"private":false,"source_id":"3A9C039B2D34FBB0A214","sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":798796,"identifier":"5519989850997@s.whatsapp.net","name":"Gabriel Azeredo","phone_number":null,"thumbnail":"","type":"contact"},"fromme":false,"edited":false,"extra":{"account":68,"atoken":"SpfHvChSbgny4RsGoW25FkRU","cwhost":"https://app.bee360.com.br","identifier":"hrzDzDjKKGPAGUKBb6ist56L","inbox":491,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"hrzDzDjKKGPAGUKBb6ist56L","singlethread":true,"soc":false,"tbstart":"icao","utoken":"U7xudRQQnsU8ePQ4rZghqnJS"},"chat":{"id":"5519989850997@s.whatsapp.net","title":"Gabriel Azeredo","phone":"+5519989850997","hex":"3535313939383938353039393740732e77686174736170702e6e6574","chatwoot":{"skipgreetings":false,"skipcontact":false,"skipevaluation":false,"skipaudiotranscript":false,"id":798796,"source_id":"3535313939383938353039393740732e77686174736170702e6e6574"}},"timestamp":"2025-03-21T13:33:05.197388714-03:00","text":"1","type":"text","conversation":{"id":55,"status":"pending","custom_attributes":{"typebotsessionid":"cm8j016cz005jpb0fdjvy2lol"}}}}]},"versionId":"8bf23508-b67f-47f5-9c79-d3cc2d043731","triggerCount":0,"tags":[]}