[-quepasa-]---quepasahistsync-31prM4BIKw8tPuDR.json
{"createdAt":"2024-12-18T14:47:47.567Z","updatedAt":"2025-05-06T15:26:07.903Z","id":"31prM4BIKw8tPuDR","name":"[ QUEPASA ] - QuepasaHistSync","active":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{$json.conversation.status}}","operation":"notEqual","value2":"open"}]}},"name":"Open ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4660,320],"id":"8cf57875-fe6b-4262-b845-2bf06b78bec0"},{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"status","value":"open"},{"name":"inbox_id","value":"={{$json[\"extra\"][\"inbox\"]}}"},{"name":"contact_id","value":"={{$json.chat.chatwoot.id}}"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json[\"extra\"][\"atoken\"] }}"}]}},"name":"Create a Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4020,160],"id":"025bda36-47aa-409d-aa74-14869841f286","notes":"Important to use \"source_id\" to respond messages"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"conversation.id","value":"={{$json.id}}"},{"name":"conversation.status","value":"={{$json.status}}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[4240,160],"id":"3d72974e-36f5-4177-8015-f9c746f6e4b8"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"chat\"][\"id\"].contains(\"@broadcast\") ?? true}}","operation":"notEqual","value2":true}]}},"name":"Not Broadcast ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1560,260],"id":"9ce09ec9-5b16-41af-a69d-386d4353ab19"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.conversation?.id}}","operation":"isEmpty"}]}},"name":"Should Create a New Conversation Thread ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3600,300],"alwaysOutputData":false,"id":"059d6655-6618-4550-8b72-781dcbe1148b"},{"parameters":{"content":"## Follow to Chatwoot","height":262.50469912086913,"width":251.48817318430855},"id":"30bbedb4-ab84-4daa-9766-5a380c317104","name":"Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7340,140]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"7a1d8a88-212b-4035-a375-9f615db94399","name":"Wait For Create a Conversation1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[4420,260]},{"parameters":{},"id":"4ed2d28e-d79e-4448-a643-c024d9883458","name":"NoOp - Opening Conversation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5460,340]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"2c4a7803-a83e-4dd8-bd50-5560b4747883","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[5220,280]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"conversation.status","value":"={{$json.payload.current_status}}"}]},"options":{}},"name":"Set Updated Conversation Status","type":"n8n-nodes-base.set","typeVersion":1,"position":[5040,180],"id":"55b0e8c7-0fde-4813-9e56-41667b99741a"},{"parameters":{"values":{"string":[{"name":"payload.content_type","value":"text"},{"name":"payload.event","value":"={{ $('Trigger HistorySync').item.json.body.type }}"},{"name":"payload.edited","value":"={{ $('Trigger HistorySync').item.json.body.edited || false}}"}]},"options":{}},"name":"Payload Constants","type":"n8n-nodes-base.set","typeVersion":1,"position":[8160,220],"id":"464f801f-28ff-4a1e-8c62-a8d8249580cd"},{"parameters":{"workflowId":"=5Kft0TDCgfDqgnPp","options":{}},"id":"73b578d0-e33b-4274-9f97-a6c0dbb0904d","name":"Execute Workflow Post To Chatwoot","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[8400,220],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"## Call Request ?","height":308.5861479563177,"width":237.27247076935066},"id":"164c46cf-8dcb-47e3-b84b-d21a7fe1fbdd","name":"Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5140,220]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.type}}","value2":"call"}]}},"id":"8aba8bb5-d511-406b-a455-eb87b84e128a","name":"If Call Request ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[5740,340]},{"parameters":{"values":{"string":[{"name":"text","value":"## (Sistema) O Usu치rio requisitou uma chamada de voz !\n----------------------------------------------------"}],"boolean":[{"name":"payload.private","value":true}]},"options":{}},"id":"4395f308-8b87-427c-88b9-89fc88547446","name":"Set Text Content For Call Request","type":"n8n-nodes-base.set","typeVersion":1,"position":[6080,240]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"payload.content","value":"={{$json.text}}"},{"name":"payload.message_type","value":"={{$json.fromme?\"outgoing\":\"incoming\"}}"},{"name":"payload.source_id","value":"={{$json.id}}"},{"name":"payload.content_attributes.items.quepasa.msgid","value":"={{ $json.id }}"},{"name":"payload.content_attributes.in_reply_to","value":"={{ $json.inreply ? +$json.inreply : undefined }}"},{"name":"payload.attachment","value":"={{$json.attachment}}"},{"name":"chatid","value":"={{$json.chat.id}}"},{"name":"conversation","value":"={{$json.conversation}}"},{"name":"extra","value":"={{$json.extra}}"},{"name":"hex","value":"={{$json.chat.chatwoot.source_id}}"},{"name":"synopsis","value":"={{$json.synopsis}}"},{"name":"participant.title","value":"={{$json.participant?.title}}"},{"name":"payload.external_created_at","value":"={{ new Date($json.timestamp).getTime() / 1000 }}"},{"name":"payload.content_attributes.items.quepasa.fromme","value":"={{ $if($json.fromme, \"true\", \"false\") }}"},{"name":"payload.status","value":"read"}],"boolean":[{"name":"payload.private","value":"={{ $json.payload?.private ?? false }}"}]},"options":{}},"name":"Chatwoot Message Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[7920,220],"id":"fae664b7-fe04-4937-a279-b298cb1d05e9"},{"parameters":{"workflowId":"={{ $env['C8Q_GETCHATWOOTCONTACTS'] || \"K1z0iQNtjmiFi0mM\" }}","options":{}},"id":"1e932cf9-da34-4257-9451-5b0c242dd3c8","name":"Throw Get Chatwoot Contacts Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2440,300],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply }}","operation":"isEmpty"}]}},"id":"16c11622-c194-41c5-a166-a16e8fd67096","name":"If Not In Reply","type":"n8n-nodes-base.if","typeVersion":1,"position":[6080,460]},{"parameters":{},"id":"32b3ae29-0c6b-4e8d-9e38-6184cebf5459","name":"Follow to Chatwoot","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7660,220]},{"parameters":{"operation":"executeQuery","query":"=\nSELECT id AS inreply_internal_id\nFROM messages \nWHERE source_id = '{{ $json.inreply }}'\nLIMIT 1","options":{}},"id":"cd2ed74e-9921-45fb-a8c4-af47b8323441","name":"Get In Reply Reference Id","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[6560,740],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"a9e3a5ac-61f9-4aa8-a43f-736456215a83","name":"Merging Found Id","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[6800,500]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply }}","operation":"contains","value2":"-"}]}},"id":"40e031dc-c6cb-4a80-9695-31b28397adfc","name":"If Has Hiffen","type":"n8n-nodes-base.if","typeVersion":1,"position":[6260,600]},{"parameters":{"values":{"string":[{"name":"inreply_internal_id","value":"={{ $if($json.inreply.includes('-A'),$json.inreply.split('-')[2] , $json.inreply.split('-').pop()) }}"}]},"options":{}},"id":"f09a0ed2-b71e-435d-9d0d-0fdc49af8034","name":"Set Internal Id","type":"n8n-nodes-base.set","typeVersion":2,"position":[6560,580]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply_internal_id }}","operation":"isEmpty"}]}},"id":"91a4d06c-4b8d-48e5-ad48-8d2d0cec8efb","name":"If Not Found","type":"n8n-nodes-base.if","typeVersion":1,"position":[7020,500]},{"parameters":{},"id":"a3dab8e1-9ac0-456f-bde2-6f0acc3dedde","name":"New Payload","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3000,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"848dd55e-3034-4e40-96ba-b35f5a814cfd","leftValue":"={{ $json.chat?.chatwoot?.skipcontact ?? false }}","rightValue":"=","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1ac134f3-b6e0-4a74-a126-724344d4d55b","name":"Skip This Contact?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3760,180]},{"parameters":{"values":{"string":[{"name":"inreply","value":"={{ $json.inreply_internal_id }}"},{"name":"synopsis","value":"={{ undefined }}"}]},"options":{}},"id":"c76d9c66-2be8-4092-bb07-420fba189ede","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[7300,520]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.body.type }}","operation":"notEqual","value2":10}],"string":[{"value1":"={{ $json.body.type }}","operation":"notEqual","value2":"revoke"}]}},"id":"b4b5825d-e8e1-41b1-aa98-57a4c4ce4d07","name":"If Not Revoked ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1820,260]},{"parameters":{},"id":"28d3094d-5d54-494c-876a-4e93aa773ad0","name":"(In) Revoked Message","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2740,1020]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"revoked","value":"={{ $json }}"}]},"options":{}},"id":"e7031233-2b11-4cd9-ae4d-7bfb4776e831","name":"Set Retrieved Chatwoot Revoked Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[3560,820]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"38b4b529-c4dd-41de-a38e-c434cfd2c329","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3880,1000]},{"parameters":{"content":"## Message Revoked From Source\n\n","height":511.52099560219085,"width":1735.9412743995279},"id":"f8d95e0a-fa65-4082-b33a-d11556f9e1d8","name":"Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2580,680]},{"parameters":{"operation":"executeQuery","query":"SELECT messages.account_id, conversations.display_id as conversation_id, messages.id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.body.extra.account }}' AND messages.source_id = '{{ $json.body.id }}';","options":{}},"id":"f010a8e7-ec3f-4069-9aee-40d48bb1bd46","name":"Get Revoked Message Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[3340,940],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"string":[{"value1":"={{  $json.body.id }}","operation":"contains","value2":"-"}]}},"id":"c2893986-e37a-41c3-84bb-6e1408da1f3d","name":"If Sended By Chatwoot","type":"n8n-nodes-base.if","typeVersion":1,"position":[2940,920]},{"parameters":{"operation":"executeQuery","query":"SELECT messages.account_id, conversations.display_id as conversation_id, messages.id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.body.extra.account }}' AND messages.id = '{{ $json.internalid }}';","options":{}},"id":"0f1d472f-ecf7-40a0-96e5-b7188b724197","name":"Get Revoked Internal Message Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[3340,700],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function isNumeric(str) {\n  if (typeof str != \"string\") return false;\n  return !isNaN(str) && !isNaN(parseFloat(str));\n}\nconst splitted = $input.item.json.body.id.split(/-/);\nlet internalid = splitted.pop();\nif (!isNumeric(internalid)){\n  internalid = splitted[2];\n}\n\n$input.item.json.internalid = internalid;\nreturn $input.item;"},"id":"98f36da6-621e-46f9-9180-f8aa1a8790da","name":"Get Internal Id","type":"n8n-nodes-base.code","typeVersion":2,"position":[3140,800]},{"parameters":{"requestMethod":"POST","url":"={{ $json.body.extra.cwhost }}/api/v1/accounts/{{ $json.revoked.account_id }}/conversations/{{ $json.revoked.conversation_id }}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\n   \"private\": false,\n   \"content\": \"{{ $env['C8Q_MSGFOR_REVOKED_CONTENT'] ?? '\\u274C Essa mensagem foi apagada !!!' }}\",\n   \"message_type\": 2,\n   \"content_attributes\": {      \n      \"in_reply_to\": {{ $json.revoked.id }},\n      \"in_reply_to_external_id\": \"{{ $json.body.id }}\"\n   },\n   \"content_type\": \"text\"\n}","headerParametersJson":"={\"api_access_token\": \"{{ $json.extra.utoken }}\"}"},"name":"Send Revoked Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4080,1000],"id":"346dc5d7-0f67-4fe1-9acd-58ba44ccd47d","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ca76fb94-0005-4fef-9f49-4b71b24aa808","leftValue":"={{ $json.body.id }}","rightValue":"readreceipt","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"d79f95d8-01c8-4fdc-a032-9c3965a4a7bf","name":"Event ReadReceipt ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,260]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.trackid }}","operation":"notEqual","value2":"servidor"}]}},"id":"83e1c42a-a709-4b52-88ce-8e4fd45b2f47","name":"TrackId = Servidor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1340,260]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"babcb8d9-06c6-430f-a17c-95f31d256855","leftValue":"={{ $json.body.chat.id }}","rightValue":"@g.us","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"id":"cdaf77ea-2bc5-498e-b9f6-324f54c36397","name":"Ignore Groups","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,260]},{"parameters":{"assignments":{"assignments":[{"id":"93cf15be-54be-425a-84b5-bacf234a99c2","name":"headers","value":"={{ $('Trigger HistorySync').item.json.headers }}","type":"object"},{"id":"e4f6e348-ec0e-48f0-9dfb-2ee4dd5925f5","name":"params","value":"={{ $('Trigger HistorySync').item.json.params }}","type":"object"},{"id":"3d97e48c-a7ee-42f9-97f1-819b6601020c","name":"query","value":"={{ $('Trigger HistorySync').item.json.query }}","type":"object"},{"id":"05b344a2-2dd3-4a20-b339-bd3ac61f9016","name":"body","value":"={{ $('Trigger HistorySync').item.json.body }}","type":"object"},{"id":"4c90d9df-cc8a-431a-ac29-cb022b4f9bd7","name":"webhookUrl","value":"={{ $('Trigger HistorySync').item.json.webhookUrl }}","type":"string"},{"id":"6e66a57c-d44b-4b40-9740-e4612846fea3","name":"executionMode","value":"={{ $('Trigger HistorySync').item.json.executionMode }}","type":"string"}]},"options":{}},"id":"464c068d-d0ab-44b2-bd55-5140ca236c73","name":"Payload","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,260]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.chat.id }}","value2":"system"}]}},"id":"67dde90f-bcdf-4fb4-869c-60bc873b8653","name":"Ignore system","type":"n8n-nodes-base.if","typeVersion":1,"position":[2100,200]},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM messages\nWHERE account_id = $2 and ( source_id = $1 or source_id = $4 or id = $5) and inbox_id = $3\nlimit 10","options":{"queryReplacement":"={{ $json.body.id }}, {{ $json.body.extra.account }}, {{ $json.body.extra.inbox }}, {{ $json.body.id.split('-A')[0] || 0 }}, {{ $json.body.id.split('-')[2] || 0 }}"}},"id":"eedf93a4-a48a-4006-9bc6-eed0c2030b7e","name":"Busca Mensagens no Chat","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[180,280],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fd45e548-7854-4ee4-b691-0506e427bb07","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4845a6d7-b651-4ae2-a8e4-d1663dbf2b11","name":"J치 existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[440,280]},{"parameters":{"queue":"quepasa-histsync","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"autoDelete":false,"acknowledge":"executionFinishesSuccessfully","durable":true,"jsonParseBody":true,"onlyContent":true,"parallelMessages":1}},"id":"f976dbb1-63c3-4b1c-9163-a25642722982","name":"Trigger HistorySync","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-960,260],"credentials":{"rabbitmq":{"id":"cbKEcG6TjMvaY7PG","name":"RabbitMQ account"}}},{"parameters":{"workflowId":"={{ $env['C8Q_QUEPASACHATCONTROL'] || 'Kx5Fgmi9FDnDUNRR' }}","options":{}},"id":"f0646e72-9a2f-4475-822d-d3bbbfc87d5f","name":"Throw To Quepasa Chat Control Workflow2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-220,80],"continueOnFail":true},{"parameters":{"dataToSave":{"values":[{"key":"=fromhistory","value":"={{ $json.body.fromhistory.toString() }}"},{"key":"=chatid","value":"={{ $json.body.chat.id }}"},{"key":"title","value":"={{ $json.body.chat.title }}"},{"key":"attachment","value":"={{ !$json.body.attachment.isEmpty() }}"},{"key":"account","value":"={{ $json.body.extra.account }}"},{"key":"inbox","value":"={{ $json.body.extra.inbox }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-720,260],"id":"e0a090a9-3a8c-4731-96d9-e7c69111352e","name":"Execution Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ded33c47-8a73-461e-b74e-4b2e7c5e3cd9","leftValue":"={{ $json.body.attachment }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-140,260],"id":"7a5da40b-4987-491c-9386-34d56559354c","name":"Discard Attachments"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"65ab1912-75aa-4082-a904-1b2d2f575bd5","leftValue":"={{ $json.body.type }}","rightValue":"contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b1225e12-71ec-42b8-bcbe-45e5c969f487","leftValue":"={{ $json.body.chat.lid }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"id":"a0705ac7-5fc4-4ac7-8480-74f6f652e806","name":"Contact Event","type":"n8n-nodes-base.if","typeVersion":2,"position":[-460,260]},{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations/{{$json[\"conversation\"][\"id\"]}}/toggle_status","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"status","value":"resolved"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json[\"extra\"][\"atoken\"]}}"}]}},"name":"Close a Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4860,180],"id":"577a897c-3ec2-4b40-ae09-5286e24a8ea6"},{"parameters":{"operation":"delete","key":"={{ $('Payload Constants').item.json.chatid }}"},"id":"dab726c4-bf5a-4252-9b43-383a0c5308e6","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[8360,420],"credentials":{"redis":{"id":"j3gB8eeECRJApLv3","name":"Redis account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[8620,320],"id":"ee784c09-970c-4b42-ab14-bba5e155914b","name":"Merge"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"eH3E9RkENuXLFMXe"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3220,300],"id":"e4d91458-9572-4d09-867b-fa9d1c28fa52","name":"Execute Workflow"},{"parameters":{"dataToSave":{"values":[{"key":"imported","value":"true"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[2660,300],"id":"de1e5c6e-f9f9-44d5-8644-793843d9606a","name":"Execution Data1"}],"connections":{"Open ?":{"main":[[{"node":"Close a Conversation","type":"main","index":0},{"node":"Merge1","type":"main","index":1}],[{"node":"NoOp - Opening Conversation","type":"main","index":0}]]},"Create a Conversation":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Wait For Create a Conversation1","type":"main","index":0}]]},"Not Broadcast ?":{"main":[[{"node":"If Not Revoked ?","type":"main","index":0}]]},"Should Create a New Conversation Thread ?":{"main":[[{"node":"Wait For Create a Conversation1","type":"main","index":1},{"node":"Skip This Contact?","type":"main","index":0}],[{"node":"Open ?","type":"main","index":0}]]},"Wait For Create a Conversation1":{"main":[[{"node":"Open ?","type":"main","index":0}]]},"NoOp - Opening Conversation":{"main":[[{"node":"If Call Request ?","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"NoOp - Opening Conversation","type":"main","index":0}]]},"Set Updated Conversation Status":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Payload Constants":{"main":[[{"node":"Execute Workflow Post To Chatwoot","type":"main","index":0},{"node":"Redis","type":"main","index":0}]]},"Execute Workflow Post To Chatwoot":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If Call Request ?":{"main":[[{"node":"Set Text Content For Call Request","type":"main","index":0}],[{"node":"If Not In Reply","type":"main","index":0}]]},"Set Text Content For Call Request":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}]]},"Chatwoot Message Payload":{"main":[[{"node":"Payload Constants","type":"main","index":0}]]},"Throw Get Chatwoot Contacts Workflow":{"main":[[{"node":"Execution Data1","type":"main","index":0}]]},"If Not In Reply":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}],[{"node":"If Has Hiffen","type":"main","index":0},{"node":"Merging Found Id","type":"main","index":0}]]},"Follow to Chatwoot":{"main":[[{"node":"Chatwoot Message Payload","type":"main","index":0}]]},"Get In Reply Reference Id":{"main":[[{"node":"Merging Found Id","type":"main","index":1}]]},"Merging Found Id":{"main":[[{"node":"If Not Found","type":"main","index":0}]]},"If Has Hiffen":{"main":[[{"node":"Set Internal Id","type":"main","index":0}],[{"node":"Get In Reply Reference Id","type":"main","index":0}]]},"Set Internal Id":{"main":[[{"node":"Merging Found Id","type":"main","index":1}]]},"If Not Found":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}],[{"node":"Set1","type":"main","index":0}]]},"Skip This Contact?":{"main":[[{"node":"Create a Conversation","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}]]},"If Not Revoked ?":{"main":[[{"node":"Ignore system","type":"main","index":0}],[{"node":"(In) Revoked Message","type":"main","index":0}]]},"(In) Revoked Message":{"main":[[{"node":"Merge2","type":"main","index":1},{"node":"If Sended By Chatwoot","type":"main","index":0}]]},"Set Retrieved Chatwoot Revoked Info":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Send Revoked Message","type":"main","index":0}]]},"Get Revoked Message Info":{"main":[[{"node":"Set Retrieved Chatwoot Revoked Info","type":"main","index":0}]]},"If Sended By Chatwoot":{"main":[[{"node":"Get Internal Id","type":"main","index":0}],[{"node":"Get Revoked Message Info","type":"main","index":0}]]},"Get Revoked Internal Message Info":{"main":[[{"node":"Set Retrieved Chatwoot Revoked Info","type":"main","index":0}]]},"Get Internal Id":{"main":[[{"node":"Get Revoked Internal Message Info","type":"main","index":0}]]},"Event ReadReceipt ?":{"main":[[{"node":"TrackId = Servidor?","type":"main","index":0}]]},"TrackId = Servidor?":{"main":[[{"node":"Not Broadcast ?","type":"main","index":0}]]},"Ignore Groups":{"main":[[{"node":"Event ReadReceipt ?","type":"main","index":0}]]},"Payload":{"main":[[{"node":"Ignore Groups","type":"main","index":0}]]},"Ignore system":{"main":[[],[{"node":"Throw Get Chatwoot Contacts Workflow","type":"main","index":0}]]},"Busca Mensagens no Chat":{"main":[[{"node":"J치 existe?","type":"main","index":0}]]},"J치 existe?":{"main":[[],[{"node":"Payload","type":"main","index":0}]]},"Trigger HistorySync":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Contact Event","type":"main","index":0}]]},"Discard Attachments":{"main":[[],[{"node":"Busca Mensagens no Chat","type":"main","index":0}]]},"Contact Event":{"main":[[{"node":"Throw To Quepasa Chat Control Workflow2","type":"main","index":0}],[{"node":"Discard Attachments","type":"main","index":0}]]},"Close a Conversation":{"main":[[{"node":"Set Updated Conversation Status","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Merge","type":"main","index":1}]]},"New Payload":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Should Create a New Conversation Thread ?","type":"main","index":0}]]},"Execution Data1":{"main":[[{"node":"New Payload","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"453282c7-5cfd-4754-9f5a-93d7fde47236","triggerCount":1,"tags":[]}