[-quepasa-]---quepasachatcontrol-Kx5Fgmi9FDnDUNRR.json
{"createdAt":"2024-03-09T17:01:53.097Z","updatedAt":"2025-02-18T14:59:36.352Z","id":"Kx5Fgmi9FDnDUNRR","name":"[ QUEPASA ] - QuepasaChatControl","active":false,"nodes":[{"parameters":{"dataType":"string","value1":"={{ $json.body?.text ?? $json.payload.content ?? \"\" }}","rules":{"rules":[{"operation":"startsWith","value2":"/invite"},{"operation":"regex","value2":"^\\/api|^\\/\\/","output":3},{"value2":"401: logged out from another device","output":1}]},"fallbackOutput":3},"id":"ac7f5be4-11bb-415d-b1c8-41962f241985","name":"Switch From Chat","type":"n8n-nodes-base.switch","typeVersion":1,"position":[1980,-140]},{"parameters":{"values":{"string":[{"name":"response","value":"=Para convidar alguém, utilize o atalho a seguir: \n{{$json[\"url\"]}}\nCompartilhe com quem deseje que participe deste grupo."}]},"options":{}},"id":"6157ee00-7d50-4174-8927-ee077d24fe06","name":"Set Invite Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[3960,-380]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.chatid??\"\"}}","operation":"endsWith","value2":"@g.us"}]}},"id":"500b9cb2-00a6-469e-92bc-5e6623023143","name":"If Is From Group","type":"n8n-nodes-base.if","typeVersion":1,"position":[3200,-300]},{"parameters":{"baseUrl":"={{$json.qphost}}","token":"={{$json.qptoken}}","method":"sendtext","text":"={{$json[\"response\"]}}","chatid":"={{$json.chatid}}"},"id":"c7758424-5f42-46a0-8808-df5063832578","name":"Quepasa","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[4360,-320]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"chatid","value":"={{ $json.body?.chat?.id ?? $json.payload?.chatid }}"},{"name":"qphost","value":"={{$json.extra.qphost??$json.query.qphost}}"},{"name":"qptoken","value":"={{$json.extra.qptoken ?? $json.extra.identifier}}"}]},"options":{}},"id":"4f306c8f-91db-40b4-abaa-e0cb7d4f2817","name":"Set Parameters From Control Chat","type":"n8n-nodes-base.set","typeVersion":1,"position":[3020,-300]},{"parameters":{"baseUrl":"={{$json.qphost}}","token":"={{$json.qptoken}}","resource":"control","operation":"invite","chatid":"={{$json.chatid}}"},"id":"8867aad9-251d-4a5b-a6c6-12386bc1c86a","name":"Quepasa Get Invite Link","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[3400,-220],"executeOnce":true,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"cca42d61-b937-4eac-a874-241eca6afd09","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[3600,-300]},{"parameters":{"values":{"string":[{"name":"response","value":"=Não foi possível obter o link do grupo, verifique se este número é um Admin desse grupo!"}]},"options":{}},"id":"72731a37-7040-4cff-acf2-9a1268457bcf","name":"Set Error Response From Quepasa","type":"n8n-nodes-base.set","typeVersion":1,"position":[3960,-220]},{"parameters":{"content":"## (1.0.7)\n* update quepasa node\n\n## Recommendations \n* Remember set timeout to 15 seconds ","height":205.7265251035022,"width":561.5346630524019},"id":"b0af0c57-520e-4e50-ab15-d8de01558b85","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,-660]},{"parameters":{},"id":"a8958096-00b9-41ca-bea7-caa5299d727d","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1060,-200]},{"parameters":{"baseUrl":"={{ $json.extra.cwhost }}","accessToken":"={{ $json.extra.utoken }}","resource":"contact","accountId":"={{ $json.extra.account }}","operation":"contactSearch","contactSearchQuery":"={{ $env['C8Q_QP_CONTACT'] ?? 'control@quepasa.io' }}"},"id":"e4c3d4a4-d2c2-4032-80b6-8a5c19a400c5","name":"Busca Contato","type":"n8n-nodes-chatwoot.chatwoot","typeVersion":1,"position":[2960,180]},{"parameters":{"method":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.extra.account }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=inbox_id","value":"={{ $json.extra.inbox }}"},{"name":"contact_id","value":"={{ $json.payload[0].id }}"},{"name":"status","value":"open"}]},"options":{"allowUnauthorizedCerts":true}},"id":"365a6acc-d5f5-40ac-82c7-c8ad47350b45","name":"New Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3300,220]},{"parameters":{"method":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.extra.account }}/conversations/{{ $json.id }}/toggle_status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"status\": \"open\",\n    \"snoozed_until\": null\n}","options":{}},"id":"1f07c896-1c05-43ed-8672-1388304e4e8f","name":"Open Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3620,240]},{"parameters":{"method":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.extra.account }}/conversations/{{ $json.payload.conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n \"private\": false,\n  \"content\": \"❌ Este número está desconectado do whatsapp e não pode mais receber nem enviar mensagens!\\n Digite /qrcode para conectar\\n{{ $json.body.text }}\",\n \"message_type\": 2,\n \"content_type\": \"text\"\n}","options":{}},"id":"ce193f0c-f141-4632-9d6b-a2e8e67d348f","name":"Send Disconnect Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3960,160]},{"parameters":{"workflowId":"waRNOrsXSutLuYvW","options":{}},"id":"56050ee0-c7f2-4c83-ac9c-0093f1b96b37","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2300,360],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{$json.response}}","operation":"isNotEmpty"}]}},"id":"73a1be41-8a50-4134-8cc5-43f9b882f838","name":"If Reponse Not Empty ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4160,-300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.success}}","value2":true}]}},"id":"1146fffc-515b-42d6-9f10-2ad7e4ff5456","name":"If Success","type":"n8n-nodes-base.if","typeVersion":1,"position":[3760,-300]},{"parameters":{"content":"## Put here your external API workflow","height":268.8339206426964,"width":495.19677943804624},"id":"4bf3d887-5d3d-4f20-9ed8-6c52fa03cbda","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2040,280]},{"parameters":{},"id":"dadca7f8-f20b-4371-9662-130d3007f63d","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2800,-300]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"ddafae10-33db-4d9c-af27-6e4603c891e5","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3140,120]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"cbb1d061-4977-414e-bea0-853f26719239","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3460,140]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"feb650a2-55db-4c18-8e55-e4698677516a","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3760,160]},{"parameters":{},"id":"0dfb78f8-3bf8-4798-a488-d019582e333d","name":"Is Logged Out","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2800,100]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type || $json.body.type }}","rightValue":"group","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bcb41f3a-5072-4b2b-b8a6-e74cd8a3d7a2","leftValue":"={{ $json.type || $json.body.type }}","rightValue":"contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1280,-200],"id":"af894e94-8674-48f6-b34f-f4bc93b683c3","name":"Switch"},{"parameters":{},"id":"089fea3a-6dda-48c9-a65d-10732054544d","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1520,-660]},{"parameters":{"method":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.extra.account }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"contact_id","value":"={{ $json.chat.chatwoot.id }}"},{"name":"status","value":"open"},{"name":"inbox_id","value":"={{ $json.extra.inbox }}"},{"name":"source_id","value":"={{ $json.id }}"}]},"options":{}},"id":"1f19bdd0-86e4-4a26-8717-284e4707b2e5","name":"Create Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,-660]},{"parameters":{"method":"POST","url":"={{ $('No Operation, do nothing1').item.json.extra.cwhost }}/api/v1/accounts/{{ $('No Operation, do nothing1').item.json.extra.account }}/conversations/{{ $json.id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('No Operation, do nothing1').item.json.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"⚠️ Você foi adicionado a esse grupo! \\n***Criado por:*** {{ $('No Operation, do nothing1').item.json.body.info.owner.split('@')[0] }}.\\n ***Participantes:*** {{ $('No Operation, do nothing1').item.json.body.info.participants }}\",\n  \"message_type\": 2,\n  \"content_type\": \"text\"\n}","options":{}},"id":"39321a80-a827-409b-bbc8-23935b7477cd","name":"Send Joined Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2060,-660]},{"parameters":{"method":"POST","url":"={{ $('No Operation, do nothing1').item.json.extra.cwhost }}/api/v1/accounts/{{ $('No Operation, do nothing1').item.json.extra.account }}/conversations/{{ $json.conversation_id }}/toggle_status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('No Operation, do nothing1').item.json.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"open\"\n}","options":{}},"id":"b54d92c7-5836-4749-8538-c44b046c6f29","name":"Open Conversation1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,-660]},{"parameters":{},"id":"2a503fe7-9db9-4bcf-914a-8eff5c84d087","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1520,-440]},{"parameters":{"assignments":{"assignments":[{"id":"5d22d582-20f0-4086-9638-769cb87bd728","name":"AutoCreateCvs","value":"[]","type":"array"}]},"includeOtherFields":true,"options":{}},"id":"31857906-a6ec-481a-8c06-e9616ea180a0","name":"Accounts Auto Create Cvs","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,-440]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"709d3024-daf9-461d-9d13-25732e6ce377","leftValue":"={{ $json.AutoCreateCvs }}","rightValue":"={{ $('When Called By Another Workflow').item.json.body.extra.account }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"id":"ba6e1727-81d6-446b-aef5-a79bef56eb84","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1900,-440]},{"parameters":{"method":"POST","url":"={{ $json.body.extra.cwhost }}/api/v1/accounts/{{ $json.body.extra.account }}/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.body.extra.utoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.body.chat.title }}"},{"name":"identifier","value":"={{ $json.body.chat.id }}"},{"name":"phone_number","value":"=+{{ $json.body.chat.id.split('@')[0]}}"}]},"options":{}},"id":"7a374da3-7654-4922-89a6-fe17dbbedb8e","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2160,-420],"onError":"continueErrorOutput"}],"connections":{"Switch From Chat":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Is Logged Out","type":"main","index":0}],[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Set Invite Response":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"If Is From Group":{"main":[[{"node":"Quepasa Get Invite Link","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Set Parameters From Control Chat":{"main":[[{"node":"If Is From Group","type":"main","index":0}]]},"Quepasa Get Invite Link":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"If Success","type":"main","index":0}]]},"Set Error Response From Quepasa":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"New Conversation":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Open Conversation":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"If Reponse Not Empty ?":{"main":[[{"node":"Quepasa","type":"main","index":0}]]},"If Success":{"main":[[{"node":"Set Invite Response","type":"main","index":0}],[{"node":"Set Error Response From Quepasa","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Set Parameters From Control Chat","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"New Conversation","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Open Conversation","type":"main","index":0},{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Send Disconnect Message","type":"main","index":0}]]},"Is Logged Out":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Busca Contato","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"Switch From Chat","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Create Conversation","type":"main","index":0}]]},"Create Conversation":{"main":[[{"node":"Send Joined Message","type":"main","index":0}]]},"Send Joined Message":{"main":[[{"node":"Open Conversation1","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Accounts Auto Create Cvs","type":"main","index":0}]]},"Accounts Auto Create Cvs":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Called By Another Workflow":[{"json":{"fromme":false,"edited":false,"extra":{"account":1,"atoken":"f50299346d5eff341ad22e8","cwhost":"https://app.bee360.com.br","identifier":"jqM5VDrAGdEQWCNpZN37t2aW","inbox":120,"qphost":"https://qps.bee360.com.br","singlethread":"true","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"chat":{"id":"120363375068670416@g.us","title":"Notificações Bee360 (GROUP)","hex":"31323033363333373530363836373034313640672e7573","chatwoot":{"skipgreetings":false,"skipcontact":false,"skipevaluation":false,"skipaudiotranscript":false,"id":671052}},"id":"553592630001-c9801f1c8caf466f99101868ff15c4cf@temp","timestamp":"2025-01-22T11:02:48-03:00","text":"joined group","type":"group","body":{"info":{"owner":"553592630001@s.whatsapp.net","time":"2025-01-22T11:02:48-03:00","participants":3,"type":"new"}}}}]},"versionId":"c1fc875b-13d3-45de-afa6-e6fa70e04f20","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"},{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T15:16:03.714Z","updatedAt":"2024-03-09T15:16:03.714Z","id":"KOLgvcJBMVVu28zw","name":"quepasa"}]}