[-quepasa-]---quepasaqrcode-Z57h0V8Mh9mcIyfl.json
{"createdAt":"2024-03-09T14:50:05.488Z","updatedAt":"2025-03-10T00:43:43.662Z","id":"Z57h0V8Mh9mcIyfl","name":"[ QUEPASA ] - QuepasaQrcode","active":true,"nodes":[{"parameters":{"requestMethod":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{"bodyContentType":"multipart-form-data"},"sendBinaryData":true,"binaryPropertyName":"attachments[]:data","headerParametersJson":"={ \"api_access_token\": \"{{ $json.extra.utoken }}\" }","queryParametersJson":"{ \"message_type\": \"incoming\" }"},"name":"Envia QRCode No Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[2266.8032527116243,590.0977571675525],"id":"a4aa6488-7883-49c1-8e16-06af85114800"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.success}}","value2":true}]}},"id":"207010b1-e901-421f-b3b9-65cf16c19691","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[5266.803252711625,730.0977571675525]},{"parameters":{"method":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{$json.extra.utoken}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=✅ Qrcode gerado com sucesso!\n\n✅ Digitalize este código QR nos próximos 20 segundos:"},{"name":"message_type","value":"incoming"},{"name":"private","value":"true"}]},"options":{}},"id":"692e774c-936d-40ee-9fda-ea58f8769441","name":"Qrcode gerado com sucesso!","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2666.8032527116243,630.0977571675525]},{"parameters":{"baseUrl":"={{ $json.extra.qphost}}","token":"={{$json.extra.identifier}}","resource":"webhook","operation":"setup","url":"={{$json.extra.n8nhost}}/webhook/to-chatwoot","trackid":"chatwoot","extraAttributes":{"attribute":[{"key":"identifier","value":"={{$json.extra.identifier}}"},{"key":"cwhost","value":"={{$json.extra.cwhost}}"},{"key":"inbox","value":"={{$json.extra.inbox}}"},{"key":"account","value":"={{$json.extra.account}}"},{"key":"utoken","value":"={{$json.extra.utoken}}"},{"key":"atoken","value":"={{$json.extra.atoken}}"},{"key":"qphost","value":"={{$json.extra.qphost}}"},{"key":"singlethread","value":"true"}]}},"id":"4b0d4c68-3fda-43aa-9127-69ea66f5efb0","name":"Webhook Update","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[5086.803252711625,730.0977571675525],"continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true},{"value1":"={{ $json.server.verified }}","value2":true}]}},"id":"823192eb-0403-4d4e-949b-ecebcec0cdc3","name":"Success QrCode","type":"n8n-nodes-base.if","typeVersion":1,"position":[3646.8032527116243,650.0977571675525]},{"parameters":{"content":"##  QrCode Challenging\n","height":452.28384346711937,"width":1583.889895748937},"id":"5e6d6601-2b7f-400a-bc28-efca45c11598","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1420,400]},{"parameters":{"content":"## Follow","height":634.3499448215342,"width":1617.8746514622399},"id":"f0e7ea0a-0168-4743-b518-d620aacfc1e1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3186.8032527116243,420.5490840759886]},{"parameters":{"httpMethod":"POST","path":"quepasa","options":{}},"id":"05fb110b-d414-46c1-b7a0-a9d58ba40597","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[706.8032527116243,750.0977571675525],"webhookId":"e8d38d79-8f79-4bd1-85f8-fce3d8200233"},{"parameters":{"content":"## (1.0.2) Updates\n* missing trackid after the quepasa node update","height":203.09211018757583,"width":641.796471588546},"id":"a27ac461-4382-4968-8378-33187d3a5634","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[646.8032527116243,410.09775716755246]},{"parameters":{"url":"={{ $json.extra.qphost }}/scan","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-QUEPASA-TOKEN","value":"={{ $json.extra.identifier }}"},{"name":"X-QUEPASA-USER","value":"={{ $json.extra.qpuser }}"}]},"options":{}},"id":"a2b38aef-2653-4d4e-a86b-6146a78c4874","name":"QrCode Gerenerator","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1686.8032527116243,610.0977571675525]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"7f79bccb-064b-43a2-bbdd-4d54417d0578","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2086.8032527116243,590.0977571675525]},{"parameters":{},"id":"77bd1b88-ce70-4f0c-89cf-9bb641d7e65e","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1886.8032527116243,510.09775716755246]},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"conversation","value":"={{$json.body.id ?? $json.body.body.conversation.id }}"}]},"options":{}},"id":"8f08fbb9-d037-43a6-9bf5-9deba3f3ee0a","name":"Set Conversation Id","type":"n8n-nodes-base.set","typeVersion":2,"position":[900,660]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"93170000-e2c0-4689-bbb1-523cb9ae29dc","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1106.8032527116243,750.0977571675525]},{"parameters":{"mode":"chooseBranch"},"id":"e1f9e952-eab4-42be-9d98-f086665023c6","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2466.8032527116243,530.0977571675525]},{"parameters":{"mode":"chooseBranch"},"id":"5dda8194-fefd-4ee3-8f99-a3c5aa64ca51","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2866.8032527116243,550.0977571675525]},{"parameters":{"amount":30,"unit":"seconds"},"id":"9442002e-de7f-4403-9b6e-c6d164cf28db","name":"Waiting For Scanner","type":"n8n-nodes-base.wait","typeVersion":1,"position":[3046.8032527116243,550.0977571675525],"webhookId":"b8706931-81cb-4f18-93e0-0a5d5416734b"},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{$json.extra.identifier }}","resource":"information"},"id":"ae0522bd-0c2a-434e-b5d6-392f6f9a56c5","name":"Retrieving Info","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[3466.8032527116243,650.0977571675525],"continueOnFail":true},{"parameters":{},"id":"c2e4c08c-3630-4d60-95cd-f8937d7d6065","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3266.8032527116243,550.0977571675525]},{"parameters":{},"id":"9fa82d01-6fbf-4c69-8672-20b95563cd94","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4026.8032527116243,550.0977571675525]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"9df86c6c-25c4-4c9d-82f6-892e42ed87c5","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3846.8032527116243,790.0977571675525]},{"parameters":{},"id":"8030d3b3-ab0b-4d20-9d42-8b5db5705f50","name":"No Operation, do nothing3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3266.8032527116243,810.0977571675525]},{"parameters":{"method":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{$json.extra.utoken}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Tempo para escanear expirou !\nTente novamente digitando /qrcode"},{"name":"message_type","value":"incoming"},{"name":"private","value":"true"}]},"options":{}},"id":"45d6499d-54c1-4930-8092-ec56cfd049e7","name":"Fail Scanner","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[4026.8032527116243,790.0977571675525]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"wid","value":"={{$json.server.wid}}"}]},"options":{}},"id":"dd075b10-5d7b-4166-a60a-2250e38bd8b8","name":"Set Whatsapp Id","type":"n8n-nodes-base.set","typeVersion":2,"position":[3846.8032527116243,630.0977571675525]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"40807415-db89-4fac-841f-094d381cb553","name":"Merge5","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[4226.803252711625,610.0977571675525]},{"parameters":{"method":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{$json.extra.utoken}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Informações do servidor:\nToken gerado: {{$json.extra.identifier}}\nWhatsapp: {{$json.wid}}\n\n\n"},{"name":"message_type","value":"incoming"},{"name":"private","value":"true"}]},"options":{}},"id":"3db57b9d-7b89-467f-af3a-9fee890e1378","name":"Confirming Results","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[4426.803252711625,710.0977571675525]},{"parameters":{"mode":"chooseBranch"},"id":"fbbb997a-3b94-44a9-a33b-89d14bb126f3","name":"Merge6","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[4626.803252711625,630.0977571675525]},{"parameters":{},"id":"600c998e-a401-4b2e-b6c4-ff19e779753a","name":"No Operation, do nothing5","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1486.8032527116243,510.09775716755246]},{"parameters":{"operation":"executeQuery","query":"=UPDATE \"public\".\"channel_api\" SET \"webhook_url\"='{{$json.webhook}}' WHERE \"id\"='{{$json.extra.channel}}';","additionalFields":{}},"id":"070be447-1c65-46d1-b87d-359619d0373c","name":"Database Webhook Update","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1666.8032527116243,1010.0977571675525],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{},"id":"4ff71cd3-b98e-4e0a-9b60-edae1c68a6e4","name":"No Operation, do nothing4","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4886.803252711625,630.0977571675525]},{"parameters":{"mode":"chooseBranch"},"id":"d4b9408f-f9e9-4bf2-9007-b4f8897fa62e","name":"Merge7","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[5466.803252711625,650.0977571675525]},{"parameters":{"method":"POST","url":"={{$json.extra.qphost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{$json.extra.utoken}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Problema ao atualizar o webhook\n\n*{{$json.message}}\n"},{"name":"message_type","value":"incoming"},{"name":"private","value":"true"}]},"options":{}},"id":"679f1210-1203-4620-8806-7fc885590c83","name":"Fail On Updating Quepasa Webhook","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[5646.803252711625,870.0977571675525]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const extra = $input.item.json.extra;\n\nlet webhook = extra.n8nhost + \"/webhook/from-chatwoot?\";\nwebhook += \"identifier=\" + extra.identifier + \"&\";\nwebhook += \"utoken=\" + extra.utoken + \"&\";\nwebhook += \"atoken=\" + extra.atoken + \"&\";\n\nif (extra.qphost !== \"http://127.0.0.1:31000\"){\n  webhook += \"qphost=\" + extra.qphost + \"&\";\n}\n\nif (extra.cwhost !== \"http://127.0.0.1:3000\"){\n  webhook += \"cwhost=\" + extra.cwhost + \"&\";\n}\n\n//if (extra.cwpublic){\n//  webhook += \"cwpublic=\" + extra.cwpublic + \"&\";\n//}\n\nwebhook = webhook.replace(/\\&+$/, '');\n\n$input.item.json.webhook = webhook;\nreturn $input.item;"},"id":"4579c0d0-9a77-4921-b652-38a8bb4d44f9","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1486.8032527116243,1010.0977571675525]},{"parameters":{"method":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{$json.extra.utoken}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=✅ Qrcode escaneado com sucesso!\n✅ Sistema Pronto para Usar"},{"name":"message_type","value":"incoming"},{"name":"private","value":"true"}]},"options":{}},"id":"13baad2c-e600-403b-8ac0-85d1b55bb7a6","name":"All Ready","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[5646.803252711625,650.0977571675525]},{"parameters":{},"id":"e9c47352-d192-4103-a00e-c80d14e493ee","name":"No Operation, do nothing6","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4886.803252711625,890.0977571675525]},{"parameters":{"mode":"chooseBranch","output":"input2"},"id":"a91f420f-1364-483f-9c16-f1f97511f20f","name":"Merge8","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[5466.803252711625,870.0977571675525]},{"parameters":{"workflowId":"=A8vTKI6mzxWN3ugm","options":{}},"id":"12395bf3-db63-41af-b2b1-a4df5d376537","name":"Execute ChatWootExtra Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[906.8032527116243,850.0977571675525]}],"connections":{"IF":{"main":[[{"node":"Merge7","type":"main","index":1}],[{"node":"Merge8","type":"main","index":0}]]},"Qrcode gerado com sucesso!":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Webhook Update":{"main":[[{"node":"IF","type":"main","index":0}]]},"Success QrCode":{"main":[[{"node":"Set Whatsapp Id","type":"main","index":0}],[{"node":"Merge4","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Set Conversation Id","type":"main","index":0},{"node":"Execute ChatWootExtra Workflow","type":"main","index":0}]]},"QrCode Gerenerator":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Envia QRCode No Chatwoot","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Set Conversation Id":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Envia QRCode No Chatwoot":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Qrcode gerado com sucesso!","type":"main","index":0},{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Waiting For Scanner","type":"main","index":0}]]},"Waiting For Scanner":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Retrieving Info","type":"main","index":0},{"node":"No Operation, do nothing2","type":"main","index":0},{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Retrieving Info":{"main":[[{"node":"Success QrCode","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Fail Scanner","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Set Whatsapp Id":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"No Operation, do nothing2":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Confirming Results","type":"main","index":0},{"node":"Merge6","type":"main","index":0}]]},"Confirming Results":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"No Operation, do nothing5":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0},{"node":"QrCode Gerenerator","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"No Operation, do nothing4":{"main":[[{"node":"Webhook Update","type":"main","index":0},{"node":"Merge7","type":"main","index":0},{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"All Ready","type":"main","index":0}]]},"Code":{"main":[[{"node":"Database Webhook Update","type":"main","index":0}]]},"No Operation, do nothing6":{"main":[[{"node":"Merge8","type":"main","index":1}]]},"Merge8":{"main":[[{"node":"Fail On Updating Quepasa Webhook","type":"main","index":0}]]},"Execute ChatWootExtra Workflow":{"main":[[{"node":"Merge1","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"fluxo.bee360.com.br","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-length":"1870","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"fluxo.bee360.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eadffb6ee88a","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"additional_attributes":{"mail_subject":""},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":147305,"contact_id":536993,"inbox_id":461,"source_id":"2314149d-e297-4c15-b840-5d82e8a137a5","created_at":"2024-11-28T15:55:44.148Z","updated_at":"2024-11-28T15:55:44.148Z","hmac_verified":false,"pubsub_token":"H7ZziugUURsVxw1peqT6NAar"},"id":3804,"inbox_id":461,"messages":[{"id":5096373,"content":"/qrcode","account_id":1,"inbox_id":461,"conversation_id":3804,"message_type":1,"created_at":1732809344,"updated_at":"2024-11-28T15:55:44.201Z","private":false,"status":"sent","source_id":null,"content_type":"text","content_attributes":{},"sender_type":"User","sender_id":160,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"/qrcode","sentiment":{},"conversation":{"assignee_id":160,"unread_count":0,"last_activity_at":1732809344,"contact_inbox":{"source_id":"2314149d-e297-4c15-b840-5d82e8a137a5"}},"sender":{"id":160,"name":"SuperAdmin","available_name":"SuperAdmin","avatar_url":"","type":"user","availability_status":null,"thumbnail":""}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":536993,"identifier":"nathan@bee360.com.br","name":"WhatsApp Control","phone_number":null,"thumbnail":"","type":"contact"},"assignee":{"id":160,"name":"SuperAdmin","available_name":"SuperAdmin","avatar_url":"","type":"user","availability_status":null,"thumbnail":""},"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":0,"first_reply_created_at":"2024-11-28T15:55:44.201Z","priority":null,"waiting_since":0,"agent_last_seen_at":0,"contact_last_seen_at":0,"last_activity_at":1732809344,"timestamp":1732809344,"created_at":1732809344,"applied_sla":null,"sla_events":[],"sla_policy_id":null,"event":"automation_event.message_created"},"webhookUrl":"https://fluxo.webhook.bee360.com.br/webhook/quepasa","executionMode":"production"}}]},"versionId":"b42d91b4-6f82-4ad8-8a76-fc923047a399","triggerCount":1,"tags":[]}