[-quepasa-]---getchatwootcontacts-K1z0iQNtjmiFi0mM.json
{"createdAt":"2024-03-09T17:07:40.688Z","updatedAt":"2025-03-18T13:35:33.783Z","id":"K1z0iQNtjmiFi0mM","name":"[ QUEPASA ] - GetChatwootContacts","active":false,"nodes":[{"parameters":{"baseUrl":"={{$json[\"extra\"][\"cwhost\"]}}","accessToken":"={{ $json.extra.utoken }}","resource":"contact","accountId":"={{$json[\"extra\"][\"account\"]}}","sourceId":"={{$json[\"chat\"][\"hex\"]}}","operation":"contactCreate","contactIdentifier":"={{$json[\"chat\"][\"id\"]}}","name":"={{$json[\"chat\"][\"title\"]}}"},"id":"891753d6-c4c3-4f77-82ae-6f826b278fb3","name":"Create Chat Contact","type":"n8n-nodes-chatwoot.chatwoot","typeVersion":1,"position":[4580,1840],"continueOnFail":true},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra","value":"={{$json.extra}}"},{"name":"chat","value":"={{$json.chat}}"},{"name":"participant","value":"={{$json.participant}}"}]},"options":{}},"id":"d6ea9334-6afd-40ae-8d64-675721ca8939","name":"Clearing Payload For Contacts","type":"n8n-nodes-base.set","typeVersion":1,"position":[1900,1760]},{"parameters":{"jsCode":"function a2hex(str) {\n  var arr = [];\n  for (var i = 0, l = str.length; i < l; i++) {\n    var hex = Number(str.charCodeAt(i)).toString(16);\n    arr.push(hex);\n  }\n  return arr.join('');\n}\n\nfor (const item of $input.all()) {\n  let body = item.json;\n  if (body) {\n    // Covering participant id\n    if (body.participant) {\n      if (!body.participant.id || body.participant.id.length === 0) {\n        delete body.participant;\n      } else {\n        body.participant.phone = \"+\" + body.participant.id.split('@').shift();\n        body.participant.hex = a2hex(body.participant.id);\n      }\n    }\n    \n    // Covering chat id and other items (notícias, status, etc.)\n    if (body.chat && body.chat.id) {\n      if (body.chat.id === \"0@s.whatsapp.net\") {\n        // Special WhatsApp system chat\n        body.chat.title = \"WhatsApp ✔️\";\n        body.chat.phone = \"+199789887\"\n      } else if (!body.chat.id.endsWith('@g.us')) {\n        // Specific cases for status and news items\n        if (body.chat.id.endsWith('broadcast')) {\n          body.chat.phone = \"+19875343\";\n          body.chat.title = \"Status WhatsApp\";\n        } else if (body.chat.id.endsWith('newsletter')) {\n          body.chat.phone = \"+19999999\";\n          body.chat.title = \"Notícias WhatsApp\";\n        } else {\n          body.chat.phone = \"+\" + body.chat.id.split('@').shift();\n        }\n      } else {\n        // For group chats: add suffix \"(GRUPO)\" if missing, or default title if none\n        if (body.chat.title) {\n          if (!body.chat.title.endsWith('(GRUPO)')) {\n            body.chat.title = body.chat.title + ' (GRUPO)';\n          }\n        } else {\n          body.chat.title = 'UNKNOWN (GRUPO)';\n        }\n      }\n      body.chat.hex = a2hex(body.chat.id);\n    }\n  }\n}\nreturn $input.all();\n"},"id":"1387162e-8282-4542-b2ab-a83126b0da32","name":"Cover Ids & Set Phone","type":"n8n-nodes-base.code","typeVersion":1,"position":[2100,1760]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra","value":"={{$json.extra ?? $json.body.extra}}"},{"name":"chat","value":"={{$json.body.chat}}"},{"name":"participant","value":"={{$json.body.participant}}"},{"name":"id","value":"={{$json.body.id}}"},{"name":"timestamp","value":"={{$json.body.timestamp}}"},{"name":"text","value":"={{$json.body.text}}"},{"name":"inreply","value":"={{$json.body.inreply}}"},{"name":"synopsis","value":"={{$json.body.synopsis}}"},{"name":"attachment","value":"={{$json.body.attachment}}"},{"name":"type","value":"={{$json.body.type}}"}],"boolean":[{"name":"fromme","value":"={{$json.body.fromme}}"},{"name":"edited","value":"={{$json.body.edited}}"}]},"options":{}},"id":"ebc90551-86ec-47ea-bbf2-f616294a338a","name":"Clearing Payload For Workflow","type":"n8n-nodes-base.set","typeVersion":1,"position":[1540,1660]},{"parameters":{"errorMessage":"chat not processed "},"id":"25addf38-6408-419e-a47e-bb0dbd719da9","name":"Stop And Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[6640,1780]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.chat?.chatwoot?.id}}","operation":"isNotEmpty"}]}},"id":"2c94c89b-0fe0-4779-9b11-933dd439c537","name":"If Chat Contact Exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[4200,1680]},{"parameters":{"content":"## Chat Contact\n","height":770.5363743991675,"width":3390.946354395323},"id":"accf3583-f94c-4115-80b8-5837725a19fa","name":"Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2240,1520]},{"parameters":{"conditions":{"string":[{"value1":"={{$json?.chat}}","operation":"isNotEmpty"}]}},"id":"af940907-2574-4794-9feb-4eb07f4bafad","name":"If Chat Exists ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6420,1600]},{"parameters":{"amount":"={{ (Math.random() * 5) + 1 }}","unit":"seconds"},"id":"e4fc80bf-ec52-4390-84f7-1b61f47eeb99","name":"Wait a while (5s)","type":"n8n-nodes-base.wait","typeVersion":1,"position":[6380,1940],"webhookId":"57209d6b-e7a6-4d78-b55c-82f677b13d42"},{"parameters":{"values":{"string":[{"name":"chat.chatwoot.source_id","value":"={{$json.chat.hex}}"},{"name":"payload","value":"={{ undefined }}"}],"number":[{"name":"attempts","value":"={{ undefined }}"}]},"options":{}},"name":"Set SourceId and PayloadId","type":"n8n-nodes-base.set","typeVersion":1,"position":[4380,1600],"id":"1323cfaa-fbca-4df1-bcec-fb2473c23766"},{"parameters":{"values":{"string":[{"name":"chat.chatwoot.source_id","value":"={{ $json.payload.contact_inbox.source_id ?? undefined }}"},{"name":"payload","value":"={{ undefined }}"}],"number":[{"name":"chat.chatwoot.id","value":"={{ $json.payload.contact.id }}"},{"name":"attempts","value":"={{ undefined }}"}]},"options":{}},"name":"Set Created Chat Contact Info","type":"n8n-nodes-base.set","typeVersion":1,"position":[6220,1700],"id":"e65ad419-47a9-4454-b4bb-617cd049dd01"},{"parameters":{"errorMessage":"={{ $json.error }}"},"id":"6421fd84-261c-4c3d-9447-faf8b6a926bf","name":"! Unknown Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[6360,2120]},{"parameters":{"values":{"number":[{"name":"attempts","value":"={{ ($json.attempts ?? 0) + 1 }}"}],"string":[{"name":"error","value":"={{ undefined }}"}]},"options":{}},"id":"2b3f6d0c-aad8-4468-a3d7-9182e5bab51f","name":"Set Increment For Chat Contact Attempt","type":"n8n-nodes-base.set","typeVersion":1,"position":[2560,1680]},{"parameters":{},"id":"aae20502-5703-4919-a2e6-e0181c4c2d9c","name":"Retry To Chat Contact","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2540,2420]},{"parameters":{"values":{"number":[{"name":"chat.chatwoot.id","value":"={{ $json.ctid }}"}],"boolean":[{"name":"chat.chatwoot.skipgreetings","value":"={{ $json.ctatts?.skipgreetings ?? false }}"},{"name":"chat.chatwoot.skipcontact","value":"={{ $json.ctatts?.skipcontact ?? false }}"},{"name":"chat.chatwoot.skipevaluation","value":"={{ $json.ctatts?.skipevaluation ?? false }}"},{"name":"chat.chatwoot.skipaudiotranscript","value":"={{ $json.ctatts?.skipaudiotranscript ?? false }}"}],"string":[{"name":"ctid","value":"={{ undefined }}"},{"name":"ctatts","value":"={{ undefined }}"}]},"options":{}},"name":"Set ContactId Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[4000,1680],"id":"df9a2f12-1127-404f-b4eb-f90320fd48fd"},{"parameters":{"content":"## (1.0.13) Updates\n* added skipaudiotranscript option\n\n## Recommendations \n* Remember set timeout to 20 seconds","height":201.45401153644474,"width":467.54452018877896},"id":"8fa63363-f669-4618-a2ad-4beee24acd43","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1100,1420]},{"parameters":{},"id":"0b2258d5-8d7c-49d4-ab16-22fda5147d01","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1120,1660]},{"parameters":{},"id":"e813b08b-a6a1-4c90-8dbb-7699d8dac5c8","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4380,1760]},{"parameters":{},"id":"64bbf420-b7b4-4614-bc15-a148e6e10a42","name":"Return Payload","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6640,1580],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"25328d06-98c4-40e6-a534-ab742a2ec5ef","name":"Parameters + Contacts","type":"n8n-nodes-base.merge","typeVersion":2,"position":[2300,1680],"executeOnce":false},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"1763e509-6ac5-4e88-9dad-d7c559e998cb","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[4780,1780]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error ?? \"\" }}","operation":"contains","value2":"process"}],"number":[{"value1":"={{ $json.attempts ?? 0 }}","value2":2}]}},"id":"f7bf944b-ec9b-4014-9562-9a564de8d753","name":"If Error 422 & Has Attempts Remaning ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6160,1960]},{"parameters":{"operation":"executeQuery","query":"=SELECT id as ctid, custom_attributes as ctatts FROM contacts WHERE account_id = '{{ $json.extra.account }}' AND identifier = '{{ $json.chat.id }}'","additionalFields":{}},"id":"698a8ba4-e978-4365-a29a-d913ae308969","name":"Get Contact Data By Identifier","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[2720,1780],"retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"maxTries":2,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT id as ctid, custom_attributes as ctatts\nFROM contacts\nWHERE account_id = {{ $json.extra.account }}\n  AND (\n    identifier = '{{ $json.chat.id }}'\n    OR \n    phone_number IN (\n      '{{ $json.chat.id.split(\"@\")[0] }}',\n      '+{{ $json.chat.id.split(\"@\")[0] }}',\n      '+55{{ $json.chat.id.split(\"@\")[0] }}',\n      '+55' || SUBSTRING('{{ $json.chat.id.split(\"@\")[0] }}', 3),\n      '+55' || SUBSTRING('{{ $json.chat.id.split(\"@\")[0] }}', 3, 2) || '9' || SUBSTRING('{{ $json.chat.id.split(\"@\")[0] }}', 5)\n    )\n  )\nLIMIT 1;","additionalFields":{}},"id":"1483b440-66e4-4063-b637-a08ebc1c1fc1","name":"Get Contact Data By Phone","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[3460,1860],"retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"maxTries":2,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.ctid }}","operation":"isNotEmpty"}]},"combineOperation":"any"},"id":"3306ba67-5d2f-4654-801b-f856add72d72","name":"If Identifier Found ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3080,1700]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"5fe8baad-d519-43f0-be3b-c3a19306b180","name":"Merge Extra With Id","type":"n8n-nodes-base.merge","typeVersion":2,"position":[2900,1700],"notesInFlow":false},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"961c6e1e-0436-49ee-91cd-a5c39812332a","name":"Merge Extra With Phone","type":"n8n-nodes-base.merge","typeVersion":2,"position":[3640,1800],"notesInFlow":false},{"parameters":{},"id":"7c6b3fde-9bf8-43ce-b00e-5386ea5a744a","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3820,1740]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.chat.phone }}","operation":"isEmpty"}]}},"id":"e8dc9666-5882-47f6-a0b6-19d5d7c78a03","name":"If Has No Phone ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3280,1760]},{"parameters":{"values":{"string":[{"name":"extra.qphost","value":"={{ $json.extra.qphost ?? \"http://127.0.0.1:31000\" }}"},{"name":"extra.cwhost","value":"={{ $json.extra.cwhost ?? \"http://127.0.0.1:3000\" }}"}]},"options":{}},"id":"a633de30-cc3b-481f-850d-a5ddd9adcd8f","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[1700,1660]},{"parameters":{"dataToSave":{"values":[{"key":"chatid","value":"={{ $json.body.chat.id }}"},{"key":"account","value":"={{ $json.extra.account }}"},{"key":"inbox","value":"={{ $json.extra.inbox }}"},{"key":"messageid","value":"={{ $json.body.id }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[1340,1660],"id":"2e6eafab-02e8-469d-833f-9e0a3de3b416","name":"Execution Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f92c3e62-05b7-441d-82d9-68db4dcb0840","leftValue":"={{ $json.error }}","rightValue":"Authorization failed","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4980,1780],"id":"d4eae4bb-fd4c-4952-bbce-732d86fa131a","name":"If"},{"parameters":{"baseUrl":"={{$json[\"extra\"][\"cwhost\"]}}","accessToken":"=e3nLN2WM3nsUbeM31BudDvit","resource":"contact","accountId":"={{$json[\"extra\"][\"account\"]}}","sourceId":"={{$json[\"chat\"][\"hex\"]}}","operation":"contactCreate","contactIdentifier":"={{$json[\"chat\"][\"id\"]}}","name":"={{$json[\"chat\"][\"title\"] ||  $json.chat.phone}}"},"id":"9f406df6-6b25-4774-85b0-329af2d6306e","name":"Create Chat Contact1","type":"n8n-nodes-chatwoot.chatwoot","typeVersion":1,"position":[5240,1980],"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"c5b74904-d7a1-4d3c-807b-1b01e071fcfe","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[5460,1860]},{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"include":"except","excludeFields":"error","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5240,1840],"id":"19aa886c-dc0c-4ede-a6e9-6823a0db5635","name":"Edit Fields"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.payload}}","operation":"isNotEmpty"},{"value1":"={{$json.error}}","operation":"isEmpty"}]}},"id":"41ab4e7c-7b92-45c2-8670-98513bf13026","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[5780,1760]}],"connections":{"Create Chat Contact":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Clearing Payload For Contacts":{"main":[[{"node":"Cover Ids & Set Phone","type":"main","index":0}]]},"Cover Ids & Set Phone":{"main":[[{"node":"Parameters + Contacts","type":"main","index":1}]]},"Clearing Payload For Workflow":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"If Chat Contact Exists":{"main":[[{"node":"Set SourceId and PayloadId","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"If Chat Exists ?":{"main":[[{"node":"Return Payload","type":"main","index":0}],[{"node":"Stop And Error","type":"main","index":0}]]},"Set SourceId and PayloadId":{"main":[[{"node":"If Chat Exists ?","type":"main","index":0}]]},"Set Created Chat Contact Info":{"main":[[{"node":"If Chat Exists ?","type":"main","index":0}]]},"Wait a while (5s)":{"main":[[{"node":"Retry To Chat Contact","type":"main","index":0}]]},"Set Increment For Chat Contact Attempt":{"main":[[{"node":"Merge Extra With Id","type":"main","index":0},{"node":"Get Contact Data By Identifier","type":"main","index":0}]]},"Retry To Chat Contact":{"main":[[{"node":"Set Increment For Chat Contact Attempt","type":"main","index":0}]]},"Set ContactId Payload":{"main":[[{"node":"If Chat Contact Exists","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Create Chat Contact","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Parameters + Contacts":{"main":[[{"node":"Set Increment For Chat Contact Attempt","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"If Error 422 & Has Attempts Remaning ?":{"main":[[{"node":"Wait a while (5s)","type":"main","index":0}],[{"node":"! Unknown Error","type":"main","index":0}]]},"Get Contact Data By Identifier":{"main":[[{"node":"Merge Extra With Id","type":"main","index":1}]]},"Get Contact Data By Phone":{"main":[[{"node":"Merge Extra With Phone","type":"main","index":1}]]},"If Identifier Found ?":{"main":[[{"node":"Set ContactId Payload","type":"main","index":0}],[{"node":"If Has No Phone ?","type":"main","index":0}]]},"Merge Extra With Id":{"main":[[{"node":"If Identifier Found ?","type":"main","index":0}]]},"Merge Extra With Phone":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Set ContactId Payload","type":"main","index":0}]]},"If Has No Phone ?":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Get Contact Data By Phone","type":"main","index":0},{"node":"Merge Extra With Phone","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"Parameters + Contacts","type":"main","index":0},{"node":"Clearing Payload For Contacts","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Clearing Payload For Workflow","type":"main","index":0}]]},"If":{"main":[[{"node":"IF1","type":"main","index":0}],[{"node":"Create Chat Contact1","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Create Chat Contact1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"IF1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"IF1":{"main":[[{"node":"Set Created Chat Contact Info","type":"main","index":0}],[{"node":"If Error 422 & Has Attempts Remaning ?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"SkcB9PebbNW4c0M1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Called By Another Workflow":[{"json":{"body":{"id":"3A9CF2972CDFC34290D9","timestamp":"2025-03-06T11:06:57-03:00","type":"text","chat":{"id":"555194263052@s.whatsapp.net","title":"Kauã Welter"},"text":"E os valores, para presentear","fromme":false,"frominternal":false},"webhookUrl":"https://fluxo.webhook.bee360.com.br/webhook/to-chatwoot","executionMode":"production","extra":{"account":2,"atoken":"5dbd74ed0e95b7c1acea8a4","cwhost":"https://app.bee360.com.br","identifier":"p2W5urT6TbeLsjmCTfvWRJUV","inbox":18,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"p2W5urT6TbeLsjmCTfvWRJUV","singlethread":false,"soc":true,"utoken":"GcYjaPwfwVsGXBwayZ5bnvva"}}}]},"versionId":"5093eb7c-4917-4b88-8b0b-4be86a166ebf","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"}]}