[-quepasa-]---quepasatochatwoot-zOqQmUdRIFpYEbhg.json
{"createdAt":"2024-03-09T14:48:21.992Z","updatedAt":"2025-04-24T13:31:24.599Z","id":"zOqQmUdRIFpYEbhg","name":"[ QUEPASA ] - QuepasaToChatwoot","active":true,"nodes":[{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"chat\"][\"id\"].contains(\"@broadcast\") ?? true}}","operation":"notEqual","value2":true}]}},"name":"Not Broadcast ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6160,3100],"id":"d963d7e6-9d4b-47cf-a66a-9b8826fdce8d"},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"854b96c0-5d83-4d22-80f4-64b8f7fa9ff3","name":"Broadcast Message","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[6340,3240]},{"parameters":{"values":{"string":[{"name":"payload.content_type","value":"text"}]},"options":{}},"name":"Payload Constants","type":"n8n-nodes-base.set","typeVersion":1,"position":[10840,3040],"id":"b04539fe-1747-4f0c-a8a4-7bea15221d08"},{"parameters":{"workflowId":"=6LkM6LIxLBsM7OMt","options":{}},"id":"7ad70e4e-7fbc-40a9-a1ba-583c728b8e2f","name":"Execute Workflow Post To Chatwoot","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[11040,3040],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"## Call Request ?","height":354,"width":257},"id":"031f3c03-60ca-4c84-a639-38248e9e798a","name":"Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8580,2960]},{"parameters":{"conditions":{"number":[{"value1":"={{$json.type}}","operation":"equal","value2":8}],"string":[{"value1":"={{$json.type}}","value2":"call"}]},"combineOperation":"any"},"id":"de5f10e3-f93b-4f99-a622-588aed887ac4","name":"If Call Request ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[8660,3160]},{"parameters":{"values":{"string":[{"name":"text","value":"={{ $env['C8Q_MSGFOR_CALL_CONTENT'] ?? '\\u2699 O usuário requisitou uma chamada de voz !' }}\n____________________________________________________\n✉ {{ $json.status ?? $json.message }}"}],"boolean":[{"name":"payload.private","value":true}]},"options":{}},"id":"6dd51fba-bc19-43c3-8b40-e15137225145","name":"Set Text Content For Call Request","type":"n8n-nodes-base.set","typeVersion":1,"position":[9540,2960]},{"parameters":{"workflowId":"=FSbotEb2oMoORnPa","options":{}},"id":"0066c919-231f-4b64-8cb3-f69ff23169e9","name":"Throw To WebCallBack Telephony Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[9120,2880],"executeOnce":true,"continueOnFail":true},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"payload.content","value":"={{$json.text}}"},{"name":"payload.message_type","value":"={{$json.fromme?\"outgoing\":\"incoming\"}}"},{"name":"payload.source_id","value":"={{$json.id}}"},{"name":"payload.echo_id","value":"={{$json.id}}"},{"name":"payload.content_attributes.items.quepasa.msgid","value":"={{ $json.id }}"},{"name":"payload.content_attributes.in_reply_to","value":"={{ $json.inreply ? +$json.inreply : undefined }}"},{"name":"attachment","value":"={{$json.attachment}}"},{"name":"chatid","value":"={{$json.chat.id}}"},{"name":"chat","value":"={{$json.chat}}"},{"name":"conversation","value":"={{$json.conversation}}"},{"name":"extra","value":"={{$json.extra}}"},{"name":"hex","value":"={{$json.chat.chatwoot.source_id}}"},{"name":"synopsis","value":"={{$json.synopsis}}"},{"name":"participant.title","value":"={{$json.participant?.title}}"},{"name":"participant.phone","value":"={{$json.participant?.phone}}"},{"name":"payload.external_created_at","value":"={{ new Date($json.timestamp).getTime() / 1000 }}"},{"name":"event","value":"={{ $json.type }}"},{"name":"ads","value":"={{ $('RabbitMQ Trigger').item.json.body.ads }}"}],"boolean":[{"name":"payload.private","value":"={{ $json.payload?.private ?? false }}"},{"name":"payload.edited","value":"={{ $json.edited ?? false }}"}]},"options":{}},"name":"Chatwoot Message Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[10640,3040],"id":"6d4b55cf-3df7-4eac-93a8-dbf2c877eed3"},{"parameters":{"content":"## (1.0.21) Updates\n* skiping edited contacts messages (not implemented)\n\n## Recommendations \n* Remember set timeout to 30 seconds","height":200.52521040961017,"width":569.6036185132486},"id":"30551d3b-d5be-45d7-9214-f16099920705","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4600,2720]},{"parameters":{"workflowId":"=K1z0iQNtjmiFi0mM","options":{}},"id":"54500f28-7b24-4ecb-aa79-26927890e60e","name":"Throw Get Chatwoot Contacts Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[7140,3160],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply }}","operation":"isEmpty"}]}},"id":"bb1802b3-4ae1-4e96-8531-56d503df3f38","name":"If Not In Reply","type":"n8n-nodes-base.if","typeVersion":1,"position":[8920,3320]},{"parameters":{},"id":"0338eab6-7c61-494d-859d-be695c7004aa","name":"Follow to Chatwoot","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[10440,3040]},{"parameters":{"operation":"executeQuery","query":"=\nSELECT id AS inreply_internal_id\nFROM messages \nWHERE source_id = '{{ $json.inreply }}'\nLIMIT 1","options":{}},"id":"952604d9-2228-4752-ae19-8901bd8d76fa","name":"Get In Reply Reference Id","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[9320,3560],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"6ee7d2f2-3227-4614-8655-7cb7030a7e01","name":"Merging Found Id","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[9560,3360]},{"parameters":{"values":{"string":[{"name":"inreply","value":"={{ $json.inreply_internal_id }}"},{"name":"synopsis","value":"={{ undefined }}"}]},"options":{}},"id":"971a1cb0-6fa4-4969-8609-1acbfbab7435","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[9940,3380]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply }}","operation":"contains","value2":"-"}]}},"id":"df606850-d4e8-4d12-93e0-410733a981b1","name":"If Has Hiffen","type":"n8n-nodes-base.if","typeVersion":1,"position":[9120,3440]},{"parameters":{"values":{"string":[{"name":"inreply_internal_id","value":"={{ $if($json.inreply.includes('-A'),$json.inreply.split('-')[2] , $json.inreply.split('-').pop()) }}"}]},"options":{}},"id":"8ff54b20-66f0-47c8-a182-0967c1adc45e","name":"Set Internal Id","type":"n8n-nodes-base.set","typeVersion":2,"position":[9320,3420]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply_internal_id }}","operation":"isEmpty"}]}},"id":"012bdce5-410a-405c-a0f3-b89c2ead8288","name":"If Not Found","type":"n8n-nodes-base.if","typeVersion":1,"position":[9740,3360]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.body.type }}","operation":"notEqual","value2":10}],"string":[{"value1":"={{ $json.body.type }}","operation":"notEqual","value2":"revoke"}]}},"id":"798b0a6a-3754-4bb3-8536-46d8dd3639f0","name":"If Not Revoked ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6680,3080]},{"parameters":{},"id":"d321a1c5-1381-4ad5-b0e6-b428727bb5b5","name":"(In) Revoked Message","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7620,4300]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"revoked","value":"={{ $json }}"}]},"options":{}},"id":"98b6039f-b361-4eb3-b0ab-bbaad176788f","name":"Set Retrieved Chatwoot Revoked Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[8440,4100]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"c34405b6-5a52-4269-9feb-b4fcac05293c","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[8760,4280]},{"parameters":{"requestMethod":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.revoked.account_id }}/conversations/{{ $json.revoked.conversation_id }}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\n   \"private\": false,\n   \"content\": \"{{ $env['C8Q_MSGFOR_REVOKED_CONTENT'] ?? '\\u274C Essa mensagem foi apagada !!!' }}\",\n   \"message_type\": 2,\n   \"content_attributes\": {      \n      \"in_reply_to\": {{ $json.revoked.id }},\n      \"in_reply_to_external_id\": \"{{ $json.body.id }}\"\n   },\n   \"content_type\": \"text\"\n}","headerParametersJson":"={\"api_access_token\": \"{{ $json.extra.utoken }}\"}"},"name":"Send Revoked Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[8980,4280],"id":"b177ac87-fd65-4554-a31f-73a10d838b01","retryOnFail":false,"waitBetweenTries":2000},{"parameters":{"content":"## Message Revoked From Source\n\n","height":512,"width":1816},"id":"158b5eb8-a021-420d-ada9-1f511c8adff4","name":"Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7480,3960]},{"parameters":{"operation":"executeQuery","query":"SELECT messages.account_id, conversations.display_id as conversation_id, messages.id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.extra.account }}' AND messages.source_id = '{{ $json.body.id }}';","options":{}},"id":"836d1be0-61ec-4e7a-be9e-50b7951c17d2","name":"Get Revoked Message Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[8220,4220],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"string":[{"value1":"={{  $json.body.id }}","operation":"contains","value2":"-"}]}},"id":"8b206d01-c36d-4779-bcba-05e8039d7032","name":"If Sended By Chatwoot","type":"n8n-nodes-base.if","typeVersion":1,"position":[7820,4200]},{"parameters":{"operation":"executeQuery","query":"SELECT messages.account_id, conversations.display_id as conversation_id, messages.id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.extra.account }}' AND messages.id = '{{ $json.internalid }}';","options":{}},"id":"ce43231c-1c8e-40fd-8482-86a6ff9c06a0","name":"Get Revoked Internal Message Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[8220,3980],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function isNumeric(str) {\n  if (typeof str != \"string\") return false;\n  return !isNaN(str) && !isNaN(parseFloat(str));\n}\nconst splitted = $input.item.json.body.id.split(/-/);\nlet internalid = splitted.pop();\nif (!isNumeric(internalid)){\n  internalid = splitted[2];\n}\n\n$input.item.json.internalid = internalid;\nreturn $input.item;"},"id":"d7b89730-7ab0-4ab4-aaa4-5c28844e0f7a","name":"Get Internal Id","type":"n8n-nodes-base.code","typeVersion":2,"position":[8020,4080]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error }}","operation":"isEmpty"}]}},"id":"bc3f2791-f0ec-4eb2-a105-bf4907e7cb14","name":"If Success To Get Contact","type":"n8n-nodes-base.if","typeVersion":1,"position":[7340,3160]},{"parameters":{"values":{"string":[{"name":"extra.cwhost","value":"={{ $json.extra.cwhost ?? \"http://127.0.0.1:3000\" }}"},{"name":"params","value":"={{undefined}}"},{"name":"headers","value":"={{undefined}}"},{"name":"query","value":"={{undefined}}"}]},"options":{}},"id":"57adc8ed-5747-4a13-a96d-f39958fe0adf","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[6520,3080]},{"parameters":{"values":{"string":[{"name":"extra","value":"={{ $json.extra ?? $json.body.extra }}"},{"name":"body.extra","value":"={{ undefined }}"}]},"options":{}},"id":"5202d796-c57c-48f0-b0ab-dd4f2a1af79e","name":"Extra","type":"n8n-nodes-base.set","typeVersion":2,"position":[6340,3080]},{"parameters":{},"id":"895022c8-1a84-4883-aa58-87d223fa65ca","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8920,2980]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"e7e6683e-062e-4b0b-85b1-a5aee5905b32","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[9320,2960]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.chat.id }}","value2":"system"},{"value1":"={{ $json.body.text }}","operation":"regex","value2":"^\\/api|^\\/\\/|^\\/invite[\\s]*?$"}]},"combineOperation":"any"},"id":"1563c24e-a2cb-4f20-8491-b9f3a7a0c619","name":"If Chat Control","type":"n8n-nodes-base.if","typeVersion":1,"position":[6940,3060]},{"parameters":{"workflowId":"=Kx5Fgmi9FDnDUNRR","options":{}},"id":"e35cdc34-3be7-4b19-9d29-edb8928aada8","name":"Throw To Quepasa Chat Control Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[7120,2920],"continueOnFail":true},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"e46aa30b-617e-418e-8642-1983c3e8aa30","name":"Edited Contact (Not Implemented)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[6160,2900]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"510fae79-4d90-4ddd-93a4-4201cba493a1","leftValue":"={{ $json.body.type }}","rightValue":"contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0b649b71-4626-47f6-a483-36a505f13c86","leftValue":"={{ $json.body.edited }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3580b47a-503b-45f2-8aa9-3367a28d1dbf","name":"Not Implemented ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[5960,3080]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"383f8df9-b7a3-4f40-b49f-7c5bfde86346","leftValue":"={{ $json.body.trackid }}","rightValue":"chatwoot","operator":{"type":"string","operation":"equals"}},{"id":"c1829244-d48a-4130-96e2-5a312a9b6f07","leftValue":"={{ $json.body.trackid }}","rightValue":"chatwoot-qrcode","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"bf82e1b9-35d5-46b5-a794-ee630cad5936","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5120,3100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ca76fb94-0005-4fef-9f49-4b71b24aa808","leftValue":"={{ $json.body.id }}","rightValue":"readreceipt","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"fe4f7c7b-08c3-41fe-b373-62834ca19eb2","name":"Event ReadReceipt ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[5700,3100]},{"parameters":{"dataToSave":{"values":[{"key":"text","value":"={{ $json.body.text }}"},{"key":"chatid","value":"={{ $json.body.chat.id }}"},{"key":"timestamp","value":"={{ $json.body.timestamp }}"},{"key":"fromme","value":"={{ JSON.stringify($json.body.fromme) }}"},{"key":"inbox","value":"={{ $json.body.extra.inbox }}"},{"key":"account","value":"={{ $json.body.extra.account }}"},{"key":"fromads","value":"={{ $if($json.body.ads, true, false) }}"}]}},"id":"f90a5df2-bba7-46d4-8584-029e70300450","name":"Execution Data","type":"n8n-nodes-base.executionData","typeVersion":1,"position":[4540,3100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"626cf2dc-c19c-4c9f-a1e6-1a06ad4ab133","leftValue":"={{ $json.body.type }}","rightValue":"contact","operator":{"type":"string","operation":"equals"}},{"id":"6c3ba1ce-18b8-4dcd-8015-f1f8ad95bcf7","leftValue":"={{ $json.body.chat.lid }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4740,3100],"id":"66b11014-824e-43ea-82b3-b75554aa282b","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1a7d963-36e7-46bb-82e3-6f45d3b9214e","leftValue":"={{ $json.body.ads }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5380,3120],"id":"06069a8a-61a2-460a-8c80-6cf478a53a1b","name":"From Ads?"},{"parameters":{"assignments":{"assignments":[{"id":"c33fd1c7-4d17-44b0-81b0-2af7580171d0","name":"body.text","value":"=⚠️ **Mensagem de Anuncio!**\n\n\nTexto Anuncio: {{ $json.body.ads.title }}\nURL: {{ $json.body.ads.sourceurl }}\n\n***Informações***\n- SourceID: {{ $json.body.ads.sourceid }}\n- Fonte: {{ $json.body.ads.app }}\n- ID: {{ $json.body.ads.id }}\n- Tipo: {{ $if($json.body.ads.type = \"ad\", \"Anuncio\", $json.body.ads.type) }}\n\n\n***Resposta do contato:*** {{ $json.body.text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5560,3200],"id":"c72ab840-c01d-4ce5-b606-232928521a21","name":"Info From Ads"},{"parameters":{"queue":"quepasa-prod","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"onlyContent":true,"parallelMessages":25}},"id":"f1171fe9-fb42-4b2d-b72a-829f2cb551b2","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[4220,3100],"credentials":{"rabbitmq":{"id":"cbKEcG6TjMvaY7PG","name":"RabbitMQ account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b5aa60f6-0fed-4497-8a7e-096e12cce8d0","leftValue":"={{ $json.type }}","rightValue":"group","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"be1d0698-f364-44a0-8f32-4636d7eaf664","name":"Is a Group Event?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[7580,3140]},{"parameters":{"assignments":{"assignments":[{"id":"5ed4bf28-5cee-4bfc-a394-8c414a88294f","name":"body.info","value":"={{ $('RabbitMQ Trigger').item.json.body.info }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"24643a56-340b-482c-ac6a-457ac6744d77","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7860,2900]},{"parameters":{"workflowId":"=Kx5Fgmi9FDnDUNRR","options":{}},"id":"37e439e2-707b-42a5-80f8-cf71254bd678","name":"Throw To Quepasa Chat Control Workflow3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[8060,2900],"continueOnFail":true},{"parameters":{"workflowId":"=Kx5Fgmi9FDnDUNRR","options":{}},"id":"0655b15d-e970-4939-b25a-78af44209a37","name":"Throw To Quepasa Chat Control Workflow2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[4920,2960],"continueOnFail":true},{"parameters":{"errorMessage":"Error on Get Contact"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[7500,3320],"id":"26904561-8dd7-45d5-8f62-20690e7b7d69","name":"Stop and Error"},{"parameters":{},"id":"fd29db98-2439-4b41-abe9-f8259208f7b1","name":"New Payload","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7940,3160]},{"parameters":{"workflowId":{"__rl":true,"value":"0goGgqaHktlcW5oZ","mode":"list","cachedResultName":"GetValidConversation"},"options":{}},"id":"ddbbedc6-821a-45fc-b99b-76fb9c5aeefb","name":"Conversation Sub Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[8220,3160]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8580,3700],"id":"773ec841-2b20-477d-a954-3779013cc6fc","name":"Prepare Typebot"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[11060,3720],"id":"be3fc067-26f6-4e11-9be7-8a3e1563cde8","name":"No Operation, do nothing2"},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"e8e4a462-e9b7-4a69-98fd-59127ea8977d","name":"Wait For Chatwoot Post1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[11400,3240],"notes":"Criado para lidar com typebot"},{"parameters":{"workflowId":{"__rl":true,"value":"W6hZpHhWerKa6tNc","mode":"list","cachedResultName":"QuepasaToTypebot"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[13220,3160],"id":"173412e3-0612-447d-948e-14559322e03b","name":"Execute Workflow"},{"parameters":{"conditions":{"boolean":[{"value1":"={{!!$json.conversation?.custom_attributes?.typebotsessionid ?? false}}","value2":true},{"value1":"={{ !$json.conversation?.id && $json.extra.hasOwnProperty('tbstart') }}","value2":true},{"value1":"={{ $json.hasOwnProperty('trackid') ? $json.trackid.startsWith(\"typebot\") : false }}","value2":true}]},"combineOperation":"any"},"name":"Needs Typebot?","type":"n8n-nodes-base.if","typeVersion":1,"position":[12240,3240],"id":"219a2823-80fb-408c-857b-877e99bf7d39","notes":"Criado para lidar com typebot"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f07e32c4-9999-4489-afd4-890bd6833f2d","leftValue":"={{ $json?.fromme??false }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"7751257a-6f88-4387-9389-fbebd8594103","name":"Conditions to Start","type":"n8n-nodes-base.if","typeVersion":2,"position":[12580,3160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8da2c4d3-0d70-4b0c-9d29-0bc5d7630b74","leftValue":"={{ $json.extra.tbstart }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b2afde66-ffe9-4f7b-98f2-36747bce05ae","name":"Extra tbstart is not defined?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[12860,3140]},{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations/{{$json[\"conversation\"][\"id\"]}}/toggle_status","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"status","value":"open"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json[\"extra\"][\"atoken\"]}}"}]}},"name":"Open a Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[13240,3460],"id":"c82a7c10-8f0c-487e-b350-da3f46dd4ce9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f20dbca-72ad-4a3e-9528-f6a17156af12","leftValue":"={{ $json.fromme }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"8cd4feb4-61c1-4afa-b475-1b31a6b26cbe","leftValue":"={{ $('RabbitMQ Trigger').item.json.body.trackid }}","rightValue":"typebot-","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"d7477ab1-a149-4589-be43-be00ff9981bd","name":"TrackId From Typebot?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[12760,3420]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64d3879a-42cd-4b7b-a893-637168055c40","leftValue":"={{ $('RabbitMQ Trigger').item.json.body.trackid }}","rightValue":"typebot-starttypebot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"de698962-b612-45f1-a15c-052859388d36","name":"Ignoring typebot-starttypebot","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[12980,3440]},{"parameters":{"content":"## Open a conversation started from outside chatwoot\n","height":288,"width":775},"id":"d697d8b8-b4fb-49d8-9065-02926538e508","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[12640,3400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f20dbca-72ad-4a3e-9528-f6a17156af12","leftValue":"={{ $json.fromme }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"8cd4feb4-61c1-4afa-b475-1b31a6b26cbe","leftValue":"={{ $json.conversation.status }}","rightValue":"pending","operator":{"type":"string","operation":"contains"}},{"id":"03083f70-2b84-4dd0-b23b-4822bc7f5d46","leftValue":"={{ $('RabbitMQ Trigger').item.json.body.trackid }}","rightValue":"typebot-","operator":{"type":"string","operation":"notContains"}},{"id":"2e9a7238-7fb3-457c-b815-1e8ae1dbab4a","leftValue":"={{ $json.conversation.custom_attributes.typebotsessionid }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e1a03be5-367f-42ef-8fc1-59f256b6c906","name":"TrackId From Typebot?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[12420,3400]},{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations/{{$json[\"conversation\"][\"id\"]}}/toggle_status","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"status","value":"open"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json[\"extra\"][\"atoken\"]}}"}]}},"name":"Open a Conversation1","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[12500,3660],"id":"e8b4254c-cd94-40bb-8be5-908482fafc11"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8f03ca18-6161-43e3-b316-081108aca009","leftValue":"={{ $json.chat.id }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[11620,3240],"id":"8bde5840-bdb5-4e1f-99e7-98dd44ee7be5","name":"From a Contact?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98bb6fc6-3826-4372-8ec3-5b7559c0d49f","leftValue":"={{ $json.edited.toString() }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[11860,3220],"id":"355e1738-11e5-4b1c-8efe-ec8319564af5","name":"Edited Message?"}],"connections":{"Not Broadcast ?":{"main":[[{"node":"Extra","type":"main","index":0}],[{"node":"Broadcast Message","type":"main","index":0}]]},"Payload Constants":{"main":[[{"node":"Execute Workflow Post To Chatwoot","type":"main","index":0}]]},"If Call Request ?":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If Not In Reply","type":"main","index":0}]]},"Chatwoot Message Payload":{"main":[[{"node":"Payload Constants","type":"main","index":0}]]},"Throw Get Chatwoot Contacts Workflow":{"main":[[{"node":"If Success To Get Contact","type":"main","index":0}]]},"If Not In Reply":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}],[{"node":"If Has Hiffen","type":"main","index":0},{"node":"Merging Found Id","type":"main","index":0}]]},"Follow to Chatwoot":{"main":[[{"node":"Chatwoot Message Payload","type":"main","index":0}]]},"Get In Reply Reference Id":{"main":[[{"node":"Merging Found Id","type":"main","index":1}]]},"Merging Found Id":{"main":[[{"node":"If Not Found","type":"main","index":0}]]},"If Has Hiffen":{"main":[[{"node":"Set Internal Id","type":"main","index":0}],[{"node":"Get In Reply Reference Id","type":"main","index":0}]]},"Set Internal Id":{"main":[[{"node":"Merging Found Id","type":"main","index":1}]]},"If Not Found":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}],[{"node":"Set1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}]]},"If Not Revoked ?":{"main":[[{"node":"If Chat Control","type":"main","index":0}],[{"node":"(In) Revoked Message","type":"main","index":0}]]},"(In) Revoked Message":{"main":[[{"node":"Merge2","type":"main","index":1},{"node":"If Sended By Chatwoot","type":"main","index":0}]]},"Set Retrieved Chatwoot Revoked Info":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Send Revoked Message","type":"main","index":0}]]},"Get Revoked Message Info":{"main":[[{"node":"Set Retrieved Chatwoot Revoked Info","type":"main","index":0}]]},"If Sended By Chatwoot":{"main":[[{"node":"Get Internal Id","type":"main","index":0}],[{"node":"Get Revoked Message Info","type":"main","index":0}]]},"Get Revoked Internal Message Info":{"main":[[{"node":"Set Retrieved Chatwoot Revoked Info","type":"main","index":0}]]},"Get Internal Id":{"main":[[{"node":"Get Revoked Internal Message Info","type":"main","index":0}]]},"If Success To Get Contact":{"main":[[{"node":"Is a Group Event?","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"If Not Revoked ?","type":"main","index":0}]]},"Extra":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"Throw To WebCallBack Telephony Workflow":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Set Text Content For Call Request":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Throw To WebCallBack Telephony Workflow","type":"main","index":0},{"node":"Merge4","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"Set Text Content For Call Request","type":"main","index":0}]]},"If Chat Control":{"main":[[{"node":"Throw To Quepasa Chat Control Workflow","type":"main","index":0}],[{"node":"Throw Get Chatwoot Contacts Workflow","type":"main","index":0}]]},"Not Implemented ?":{"main":[[{"node":"Edited Contact (Not Implemented)","type":"main","index":0}],[{"node":"Not Broadcast ?","type":"main","index":0}]]},"If":{"main":[[],[{"node":"From Ads?","type":"main","index":0}]]},"Event ReadReceipt ?":{"main":[[{"node":"Not Implemented ?","type":"main","index":0}],[]]},"Execution Data":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Throw To Quepasa Chat Control Workflow2","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"From Ads?":{"main":[[{"node":"Event ReadReceipt ?","type":"main","index":0}],[{"node":"Info From Ads","type":"main","index":0}]]},"Info From Ads":{"main":[[{"node":"Event ReadReceipt ?","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Is a Group Event?":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"New Payload","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Throw To Quepasa Chat Control Workflow3","type":"main","index":0}]]},"New Payload":{"main":[[{"node":"Conversation Sub Workflow","type":"main","index":0}]]},"Conversation Sub Workflow":{"main":[[{"node":"Prepare Typebot","type":"main","index":0},{"node":"If Call Request ?","type":"main","index":0}]]},"Prepare Typebot":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Wait For Chatwoot Post1":{"main":[[{"node":"From a Contact?","type":"main","index":0}]]},"Execute Workflow Post To Chatwoot":{"main":[[{"node":"Wait For Chatwoot Post1","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Wait For Chatwoot Post1","type":"main","index":1}]]},"Needs Typebot?":{"main":[[{"node":"Conditions to Start","type":"main","index":0}],[{"node":"TrackId From Typebot?1","type":"main","index":0}]]},"Conditions to Start":{"main":[[{"node":"Extra tbstart is not defined?","type":"main","index":0}],[]]},"Extra tbstart is not defined?":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"TrackId From Typebot?":{"main":[[],[{"node":"Ignoring typebot-starttypebot","type":"main","index":0}]]},"Ignoring typebot-starttypebot":{"main":[[],[{"node":"Open a Conversation","type":"main","index":0}]]},"TrackId From Typebot?1":{"main":[[{"node":"Open a Conversation1","type":"main","index":0}]]},"From a Contact?":{"main":[[{"node":"Edited Message?","type":"main","index":0}]]},"Edited Message?":{"main":[[],[{"node":"Needs Typebot?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"SkcB9PebbNW4c0M1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"RabbitMQ Trigger":[{"json":{"headers":{"host":"fluxo.bee360.com.br","user-agent":"Quepasa","content-length":"611","accept-encoding":"gzip","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"fluxo.bee360.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"d533b80c781b","x-quepasa-wid":"555195299204:61@s.whatsapp.net","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"id":"3A8DFA1F6C207C748857","timestamp":"2025-03-10T12:22:10.981483291-03:00","type":"text","chat":{"id":"555196052307@s.whatsapp.net","title":"ana barreiro"},"text":"Bom dia! Gostaria de orçar 26 camisetas da linha plus+ nesse modelo.","fromme":false,"frominternal":false,"edited":true,"extra":{"account":53,"atoken":"GjeoYQSQNMx3nV6mnhugLLfN","cwhost":"https://app.bee360.com.br","identifier":"hDeb9u1b8ghghVBPwhdVLX7W","inbox":228,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"hDeb9u1b8ghghVBPwhdVLX7W","singlethread":false,"soc":false,"tbstart":"eudajo","utoken":"e3nLN2WM3nsUbeM31BudDvit"}},"webhookUrl":"https://fluxo.webhook.bee360.com.br/webhook/to-chatwoot","executionMode":"production"}}]},"versionId":"92cd5178-a6ca-42b7-8a57-59f2511c9494","triggerCount":1,"tags":[{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"}]}