[-total-connections-]-LpWmuQgKWqMetcLr.json
{"createdAt":"2024-11-27T17:40:12.069Z","updatedAt":"2025-01-21T14:41:15.758Z","id":"LpWmuQgKWqMetcLr","name":"[ Total Connections ]","active":true,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT pid, usename, state, query, wait_event, age(clock_timestamp(), query_start) AS runtime\nFROM pg_stat_activity\nWHERE state = 'active'\nORDER BY runtime DESC;\n","options":{}},"id":"b2d82d89-248c-496d-96ec-f48ba3bdbc3e","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1160,340],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"3bb6336f-fe50-43af-a822-37456854dc08","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[860,600]},{"parameters":{"fields":{"values":[{"name":"qphost","stringValue":"https://qps.bee360.com.br"},{"name":"qptoken","stringValue":"eip1vvwo5N6hN7bg1nkJZTRh"},{"name":"telefone","stringValue":"+555192508186"}]},"include":"none","options":{}},"id":"22801f16-78db-4ea9-a17d-8e030709f0e8","name":"Set fields","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[1680,580]},{"parameters":{"baseUrl":"={{ $json.qphost }}","token":"={{ $json.qptoken }}","text":"=O total de conexões do postgres é de: *{{ $('Get Postgres Connections').item.json.total_connections }}*","chatid":"={{ $json.telefone }}","filelength":0,"trackid":"servidor"},"id":"ff42f26e-a037-47c4-b909-983435b73c0e","name":"Send Notification","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[1900,580]},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) AS total_connections FROM pg_stat_activity;\n","options":{}},"id":"cf1e77f8-81db-47c0-a626-e9a24dc3db2c","name":"Get Postgres Connections","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1140,600],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"SELECT pg_terminate_backend({{ $json.pid }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1680,320],"id":"6948c135-9afc-41aa-9029-969de07c6bd1","name":"Postgres1","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3164abc6-f7c2-48d2-984d-4073cee82d3c","leftValue":"={{ $json.query }}","rightValue":"applied_slas","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1380,340],"id":"ca20eee2-8e9d-4710-bdfe-821627bb2d89","name":"If"},{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":2}]}},"id":"d4b06ffd-4277-4c9f-895e-e164d2f5180a","name":"Schedule Trigger3","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[880,320]},{"parameters":{"operation":"executeQuery","query":"SHOW max_connections;","options":{}},"id":"26f08ad2-7672-44d3-b2a4-e32ddee09303","name":"Show Max Connectiosn","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1140,800],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2aeae6ac-89dc-4b38-a652-52c17fd21227","leftValue":"={{ $json.total_connections.toNumber() }}","rightValue":200,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"196b5234-5df9-425e-8fd5-89eff4eba94e","name":"Greater Than 200?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1380,600]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Postgres Connections","type":"main","index":0}]]},"Set fields":{"main":[[{"node":"Send Notification","type":"main","index":0}]]},"Get Postgres Connections":{"main":[[{"node":"Greater Than 200?","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Greater Than 200?":{"main":[[{"node":"Set fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"none","saveDataSuccessExecution":"none","saveManualExecutions":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"04ea0cbc-c479-405b-86a2-488c1eaa983f","triggerCount":2,"tags":[]}