[-total-connections-]-LpWmuQgKWqMetcLr.json
{"createdAt":"2024-11-27T17:40:12.069Z","updatedAt":"2024-11-27T18:45:03.438Z","id":"LpWmuQgKWqMetcLr","name":"[ Total Connections ]","active":true,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT \n    datname AS database_name,\n    usename AS user_name,\n    application_name,\n    client_addr AS client_address,\n    state,\n    COUNT(*) AS connections_count\nFROM \n    pg_stat_activity\nGROUP BY \n    datname, usename, application_name, client_addr, state\nORDER BY \n    connections_count DESC;\n","options":{}},"id":"b2d82d89-248c-496d-96ec-f48ba3bdbc3e","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1140,420],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2aeae6ac-89dc-4b38-a652-52c17fd21227","leftValue":"={{ $json.total_connections.toNumber() }}","rightValue":130,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"196b5234-5df9-425e-8fd5-89eff4eba94e","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1380,600]},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"3bb6336f-fe50-43af-a822-37456854dc08","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[860,500]},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) AS total_connections FROM pg_stat_activity;\n","options":{}},"id":"cf1e77f8-81db-47c0-a626-e9a24dc3db2c","name":"Greater Than 130?","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1140,600],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"fields":{"values":[{"name":"qphost","stringValue":"https://qps.bee360.com.br"},{"name":"qptoken","stringValue":"eip1vvwo5N6hN7bg1nkJZTRh"},{"name":"telefone","stringValue":"+555192508186"}]},"include":"none","options":{}},"id":"22801f16-78db-4ea9-a17d-8e030709f0e8","name":"Set fields","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[1680,620]},{"parameters":{"baseUrl":"={{ $json.qphost }}","token":"={{ $json.qptoken }}","text":"=O total de conexões do postgres é de: *{{ $('Greater Than 130?').item.json.total_connections }}*","chatid":"={{ $json.telefone }}","filelength":0,"trackid":"servidor"},"id":"ff42f26e-a037-47c4-b909-983435b73c0e","name":"Send Notification","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[1900,620]}],"connections":{"If":{"main":[[],[{"node":"Set fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Postgres","type":"main","index":0},{"node":"Greater Than 130?","type":"main","index":0}]]},"Greater Than 130?":{"main":[[{"node":"If","type":"main","index":0}]]},"Set fields":{"main":[[{"node":"Send Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f7332057-6613-46e6-8439-d529a983d44b","triggerCount":1,"tags":[]}