[-typebot-]---timer-bXS9firq4rabGpv0.json
{"createdAt":"2025-03-06T15:02:49.893Z","updatedAt":"2025-03-10T00:43:28.133Z","id":"bXS9firq4rabGpv0","name":"[ TYPEBOT ] - Timer","active":true,"nodes":[{"parameters":{},"id":"1c1ffc6c-55a7-4a07-bd52-01871f3c3608","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[140,-140],"webhookId":"2cf62d63-ed85-4309-a5bf-4121343e3cec"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": true\n}","options":{"responseCode":200}},"id":"02aca966-09c3-4ca8-91b6-a3ba3e87b0f9","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[380,-160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6882ae57-1a3f-44d4-8757-dce386d88fd9","leftValue":"={{ $json.query.time?.toNumber().isInteger() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"991bd6f2-bd12-4d06-9e06-6e14c1f3ffcd","name":"If16","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,0]},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"error\": \"A number was expected\"\n}","options":{"responseCode":422}},"id":"8f89b848-f1a7-4985-bd23-2243d8ac4c08","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[120,80]},{"parameters":{"path":"timer","responseMode":"responseNode","options":{}},"id":"f3c45d48-6585-4233-8bd7-136640ef26cf","name":"Chat1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-380,0],"webhookId":"dc4aacff-58ab-4736-940f-ba853dbc831b"}],"connections":{"Wait3":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"If16":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Chat1":{"main":[[{"node":"If16","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d879c3d7-f8ec-412b-873d-fc2c6f2c0a47","triggerCount":1,"tags":[]}