chatwootextra-A8vTKI6mzxWN3ugm.json
{"createdAt":"2024-03-09T15:37:37.015Z","updatedAt":"2024-11-28T16:00:22.018Z","id":"A8vTKI6mzxWN3ugm","name":"ChatwootExtra","active":false,"nodes":[{"parameters":{"content":"## (1.0.1) Updates\n* including calls from inbox delete event\n","height":160.8587546061882,"width":505.65878958512553},"id":"c371a1c3-8673-45a8-9300-c0bb00c9703b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[360,60]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.extra.account }}","operation":"isEmpty"}]}},"id":"ab159b4c-7992-41d6-8bd9-bfd66f8b5f9c","name":"If Missing Account","type":"n8n-nodes-base.if","typeVersion":1,"position":[1020,280]},{"parameters":{"operation":"executeQuery","query":"=SELECT account_id FROM inboxes WHERE id = '{{ $json.extra.inbox }}'","additionalFields":{}},"id":"75afb36e-df1c-4aca-ad6b-1c7db72cf77f","name":"Get Account From Inbox","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1220,160],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"extra.account","value":"={{ $json.account_id }}"}]},"options":{}},"id":"a38952ae-af34-4ac6-bc8a-948de88e2416","name":"Set Account","type":"n8n-nodes-base.set","typeVersion":2,"position":[1380,160]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"public\".\"agent_bots\" (\"name\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"quepasabot\" }}', {{ $json.extra.account }}, NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = '0' AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"quepasabot\" }}' AND \"account_id\" = {{ $json.extra.account }});\nSELECT \"id\" FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = '0' AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"quepasabot\" }}' AND \"account_id\" = {{ $json.extra.account }} LIMIT 1;","additionalFields":{}},"id":"4a344232-ca6c-4c82-8116-045504064942","name":"GetOrCreate AgentBot","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1960,200],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra.atoken","value":"={{ $json.atoken }}"}],"number":[{"name":"extra.aid","value":"={{ $json.aid }}"}]},"options":{}},"id":"4638c70a-c965-4895-8958-e1606f76fff3","name":"Set AToken","type":"n8n-nodes-base.set","typeVersion":2,"position":[2320,200]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"d660d806-9211-4986-a015-2f70a3a96eb1","name":"Merge Extra AToken","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2520,280]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"cf5b9632-1ca1-485c-81c4-7b023d8d9e9b","name":"Merge Extra Account","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1560,240]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"public\".\"access_tokens\" (\"owner_type\", \"owner_id\", \"token\", \"created_at\", \"updated_at\")\nSELECT 'AgentBot', '{{ $json.id }}', SUBSTRING(md5(random()::text),0,24), NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $json.id }});\nSELECT \"token\" AS \"atoken\", \"owner_id\" AS \"aid\" FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $json.id }} LIMIT 1;","additionalFields":{}},"id":"6494146f-b33f-4ce8-9746-05e0c66a36f8","name":"GetOrCreate Agent Token","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[2140,200],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"agent_bot_inboxes\" (\"inbox_id\", \"agent_bot_id\", \"status\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT {{ $json.extra.inbox }}, {{ $json.extra.aid }}, 0, {{ $json.extra.account }}, NOW(), NOW() WHERE NOT EXISTS(SELECT NULL FROM \"agent_bot_inboxes\" WHERE \"inbox_id\" = {{ $json.extra.inbox }} AND \"agent_bot_id\" = {{ $json.extra.aid }} AND \"account_id\" = {{ $json.extra.account }});","additionalFields":{}},"id":"277d45c4-9726-422d-bc16-aa5a3466cac7","name":"Ensure Rights For AgentBot At Account","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[2720,180],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT \"access_tokens\".\"token\" AS \"utoken\" FROM \"account_users\" INNER JOIN \"access_tokens\" ON \"access_tokens\".\"owner_id\" = \"account_users\".\"user_id\" WHERE \"account_users\".\"account_id\" = {{ $json.extra.account }} AND \"access_tokens\".\"owner_type\" = 'User' AND \"account_users\".\"role\" = 1 ORDER BY \"account_users\".\"id\" LIMIT 1;","additionalFields":{}},"id":"d705719b-cd1e-45c2-a30d-bd6e4135ad5c","name":"Get Admin User Token","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[3120,180],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra.utoken","value":"={{ $json.utoken }}"}]},"options":{}},"id":"c1fb7479-5a29-43dd-aaa3-f83fd173add3","name":"Set UToken","type":"n8n-nodes-base.set","typeVersion":2,"position":[3300,180]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"9c84c542-c950-41d3-afbe-9164829331b9","name":"Merge Extra UToken","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3500,260]},{"parameters":{"operation":"executeQuery","query":"=SELECT \"public\".\"channel_api\".\"identifier\", \"public\".\"inboxes\".\"channel_id\" FROM \"public\".\"channel_api\" INNER JOIN \"public\".\"inboxes\" ON \"public\".\"channel_api\".\"id\" = \"public\".\"inboxes\".\"channel_id\" WHERE \"public\".\"channel_api\".\"account_id\"='{{$json.extra.account}}' AND \"public\".\"inboxes\".\"id\" = '{{$json.extra.inbox}}';","additionalFields":{}},"id":"5d92854d-b6a5-48e8-9a0e-eded2b1ec0a6","name":"Get Identifier","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[3700,180],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"3673c527-18d1-405f-bc79-6ac977ce2682","name":"Merge Extra Identifier","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[4080,240]},{"parameters":{},"id":"3f4a6767-7eb4-473b-a940-64d9f03a359f","name":"Account & Inbox","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1760,300]},{"parameters":{},"id":"9739a1c8-91b0-4833-a0f3-73c80ad7b5e4","name":"AToken","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2920,280]},{"parameters":{},"id":"8acba8c6-9ab3-401a-b01f-89135390ac41","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[380,260]},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"extra.inbox","value":"={{ $json.body.inbox_id ?? $json.body.body.conversation.inbox_id}}"},{"name":"extra.account","value":"={{ $json.body.messages[0].account_id ?? $json.body.body.account.id }}"}],"string":[{"name":"extra.cwpublic","value":"=https://app.bee360.com.br"},{"name":"extra.qphost","value":"=https://qps.bee360.com.br"},{"name":"extra.cwhost","value":"https://app.bee360.com.br"},{"name":"extra.n8nhost","value":"https://fluxo.bee360.com.br"},{"name":"extra.qpuser","value":"=nathan@bee360.com.br"},{"name":"event","value":"={{ $json.body.body.event || $json.body.event}}"}]},"options":{}},"id":"c804c115-b247-4d98-83f0-99221e5f4d58","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[580,260]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra.identifier","value":"={{ $json.identifier }}"}],"number":[{"name":"extra.channel","value":"={{ $json.channel_id }}"}]},"options":{}},"id":"525befc3-48e6-4855-91ae-ab01c66ef909","name":"Set Identifier & Channel","type":"n8n-nodes-base.set","typeVersion":2,"position":[3880,180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"58f981c1-0ab5-4a8b-a1ca-8e9e5db64ace","leftValue":"={{ $json.event }}","rightValue":"api_inbox_delete","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{"looseTypeValidation":true}},"id":"2940ea52-8c1b-4200-848f-db0bb87ab0e3","name":"From Inbox Delete ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[780,260]}],"connections":{"If Missing Account":{"main":[[{"node":"Get Account From Inbox","type":"main","index":0},{"node":"Merge Extra Account","type":"main","index":1}],[{"node":"Account & Inbox","type":"main","index":0}]]},"Get Account From Inbox":{"main":[[{"node":"Set Account","type":"main","index":0}]]},"Set Account":{"main":[[{"node":"Merge Extra Account","type":"main","index":0}]]},"GetOrCreate AgentBot":{"main":[[{"node":"GetOrCreate Agent Token","type":"main","index":0}]]},"Set AToken":{"main":[[{"node":"Merge Extra AToken","type":"main","index":0}]]},"Merge Extra Account":{"main":[[{"node":"Account & Inbox","type":"main","index":0}]]},"Merge Extra AToken":{"main":[[{"node":"Ensure Rights For AgentBot At Account","type":"main","index":0},{"node":"AToken","type":"main","index":0}]]},"GetOrCreate Agent Token":{"main":[[{"node":"Set AToken","type":"main","index":0}]]},"Get Admin User Token":{"main":[[{"node":"Set UToken","type":"main","index":0}]]},"Set UToken":{"main":[[{"node":"Merge Extra UToken","type":"main","index":0}]]},"Merge Extra UToken":{"main":[[{"node":"Get Identifier","type":"main","index":0},{"node":"Merge Extra Identifier","type":"main","index":1}]]},"Get Identifier":{"main":[[{"node":"Set Identifier & Channel","type":"main","index":0}]]},"Account & Inbox":{"main":[[{"node":"GetOrCreate AgentBot","type":"main","index":0},{"node":"Merge Extra AToken","type":"main","index":1}]]},"AToken":{"main":[[{"node":"Get Admin User Token","type":"main","index":0},{"node":"Merge Extra UToken","type":"main","index":1}]]},"Execute Workflow Trigger":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"From Inbox Delete ?","type":"main","index":0}]]},"Set Identifier & Channel":{"main":[[{"node":"Merge Extra Identifier","type":"main","index":0}]]},"From Inbox Delete ?":{"main":[[],[{"node":"If Missing Account","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"headers":{"host":"fluxo.bee360.com.br","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-length":"1870","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"fluxo.bee360.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eadffb6ee88a","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"additional_attributes":{"mail_subject":""},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":147305,"contact_id":536993,"inbox_id":461,"source_id":"2314149d-e297-4c15-b840-5d82e8a137a5","created_at":"2024-11-28T15:55:44.148Z","updated_at":"2024-11-28T15:55:44.148Z","hmac_verified":false,"pubsub_token":"H7ZziugUURsVxw1peqT6NAar"},"id":3804,"inbox_id":461,"messages":[{"id":5096373,"content":"/qrcode","account_id":1,"inbox_id":461,"conversation_id":3804,"message_type":1,"created_at":1732809344,"updated_at":"2024-11-28T15:55:44.201Z","private":false,"status":"sent","source_id":null,"content_type":"text","content_attributes":{},"sender_type":"User","sender_id":160,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"/qrcode","sentiment":{},"conversation":{"assignee_id":160,"unread_count":0,"last_activity_at":1732809344,"contact_inbox":{"source_id":"2314149d-e297-4c15-b840-5d82e8a137a5"}},"sender":{"id":160,"name":"SuperAdmin","available_name":"SuperAdmin","avatar_url":"","type":"user","availability_status":null,"thumbnail":""}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":536993,"identifier":"nathan@bee360.com.br","name":"WhatsApp Control","phone_number":null,"thumbnail":"","type":"contact"},"assignee":{"id":160,"name":"SuperAdmin","available_name":"SuperAdmin","avatar_url":"","type":"user","availability_status":null,"thumbnail":""},"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":0,"first_reply_created_at":"2024-11-28T15:55:44.201Z","priority":null,"waiting_since":0,"agent_last_seen_at":0,"contact_last_seen_at":0,"last_activity_at":1732809344,"timestamp":1732809344,"created_at":1732809344,"applied_sla":null,"sla_events":[],"sla_policy_id":null,"event":"automation_event.message_created"},"webhookUrl":"https://fluxo.webhook.bee360.com.br/webhook/quepasa","executionMode":"production"}}]},"versionId":"4339288e-7376-45b0-b9c6-581863c049a0","triggerCount":0,"tags":[]}