chatwoottoquepasa-yr8gkeHPaP2HnOGr.json
{"createdAt":"2024-03-09T16:25:23.322Z","updatedAt":"2024-03-11T16:05:34.091Z","id":"yr8gkeHPaP2HnOGr","name":"ChatwootToQuepasa","active":true,"nodes":[{"parameters":{"content":"## (1.0.17) Updates\n* Adjustments to reply message\n* Added infos if message delivery was failed\n\n\n## Recommendations \n* Remember set timeout to 30 seconds\n\n","height":222.40358777992094,"width":563.1965954053662},"id":"6b662fc1-3e5c-4066-8bde-1548ce53fc9b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,280]},{"parameters":{"httpMethod":"POST","path":"from-chatwoot","responseMode":"responseNode","options":{}},"name":"From ChatWoot","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[340,540],"webhookId":"ae8993fc-1ab0-4de5-90ce-0eb59a2b5c7d","id":"b41e5b10-2550-4007-863c-e58a4cadd26b"},{"parameters":{"values":{"string":[{"name":"extra.qptoken","value":"={{ $json.query.qptoken ?? $json.query.identifier }}"},{"name":"extra.qphost","value":"={{ $json.query.qphost ?? 'http://127.0.0.1:31000' }}"},{"name":"extra.cwhost","value":"={{ $json.query.cwhost ?? 'http://127.0.0.1:3000' }}"},{"name":"extra.n8nhost","value":"={{ $json.query.n8nhost ?? 'http://127.0.0.1:5678' }}"},{"name":"extra.inbox","value":"={{ $json.query.inbox ?? $json.body.inbox_id ?? $json.body.inbox?.id }}"},{"name":"extra.account","value":"={{ $json.query.account ?? $json.body.account_id ?? $json.body.account?.id ?? $json.body.messages[0]?.account_id }}"},{"name":"extra.identifier","value":"={{ $json.query.identifier }}"},{"name":"extra.utoken","value":"={{ $json.query.utoken }}"},{"name":"extra.atoken","value":"={{ $json.query.atoken }}"},{"name":"extra.pat","value":"={{ $json.query.pat }}"}]},"options":{}},"id":"aa7899ce-5472-4193-ad40-9bf2a9e10e07","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[540,540]},{"parameters":{"respondWith":"text","responseBody":"only for outbound messages","options":{"responseCode":200}},"name":"Is Incoming !","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3080,-60],"id":"67b6477c-e73a-439d-abfc-2ab6a78716b9"},{"parameters":{"respondWith":"text","responseBody":"do not forwarding private messages","options":{"responseCode":200}},"name":"Is Private !","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3340,-60],"id":"cec2523e-acbb-456c-8a41-bfbc33068f92"},{"parameters":{"respondWith":"text","responseBody":"do not forwarding bot messages","options":{"responseCode":200}},"name":"From Customer !","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3600,-60],"id":"ce8c1693-c3cd-4310-9fea-2245804107b3"},{"parameters":{},"name":"Message Created Event","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2440,-300],"id":"1998245b-e571-4371-b877-19edd4d980f0"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.payload.content}}","operation":"isNotEmpty"}]}},"id":"cbb7367e-72bb-4223-ac41-8d1f2bddc502","name":"Text Message ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4160,-340]},{"parameters":{"respondWith":"noData","options":{}},"id":"08c5d27d-8732-4247-93fc-8702232219f6","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[5260,-840]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.payload.attachment}}","operation":"isEmpty"}]}},"name":"Text Only ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[5800,-120],"id":"7f42197f-95fa-408c-9b48-f85b1487e54d"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"body\"][\"message_type\"]}}","value2":"outgoing"}],"number":[{"value1":"={{$json[\"body\"][\"message_type\"]}}","operation":"equal","value2":1}]},"combineOperation":"any"},"name":"Is Outgoing Message ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2820,-300],"id":"31f52f5f-4ad0-4476-9bbd-df268b2cf803"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"body\"][\"private\"]}}"}]}},"name":"Is Public ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3080,-320],"id":"f4c7bfda-b4ef-4995-9bc5-a3cf6499726a"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"body\"][\"sender\"][\"type\"]}}","operation":"notEqual","value2":"agent_bot"},{"value1":"={{$json[\"body\"][\"sender\"][\"name\"]?.toLowerCase()}}","operation":"notContains","value2":"whatsapp outgoing"}]}},"name":"Is Not From Sincronize Bot?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3340,-340],"id":"8e3a1615-5d1e-4f33-9f87-700e135455fe"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.payload.content}}","operation":"startsWith","value2":"/"}]}},"id":"5058b6ba-d159-4cad-ad91-70468fb4655c","name":"If Control Message","type":"n8n-nodes-base.if","typeVersion":1,"position":[4460,-480]},{"parameters":{"workflowId":"Kx5Fgmi9FDnDUNRR","options":{}},"id":"1fa75d53-ba0c-4ae0-b7c4-ba0b18d875a8","name":"Quepasa Chat Control Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[5000,-840],"continueOnFail":true},{"parameters":{"workflowId":"DecrYUV2l2bFbl6O","options":{}},"id":"fdb5fb8e-bfbd-42fb-9c95-8042a61c8633","name":"Throw To Quepasa Inbox Control Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3920,-580],"continueOnFail":true},{"parameters":{},"id":"323056a9-b32a-4da1-9587-d5f74e9a63d5","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5580,-340]},{"parameters":{},"id":"c08e85af-3b79-403c-baef-3dcfce1ae95c","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5300,-320]},{"parameters":{"content":"## POSTING THROW QUEPASA\n","height":701.60213414902,"width":1034.409491520598},"id":"fd00f870-7769-43fc-a872-8fc5f207f566","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5280,-480]},{"parameters":{"jsCode":"const response = [];\nfor (const item of $input.all()) {\n  const body = item.json.body;\n  if (body) {     \n    let chatId = body.conversation.meta?.sender?.identifier;    \n    if (!chatId)\n    {\n      chatId = body.conversation.meta?.sender?.custom_attributes?.quepasa;\n      if (!chatId) {\n        chatId = body.conversation.meta?.sender?.phone_number;\n      }\n    }\n\n    // attachments\n    for (let message of body.conversation.messages) \n    {  \n      if (message.content_type === 'integrations' && message.content_attributes?.type === 'dyte')      \n        message.content += '\\r\\n *** https://app.dyte.in/meeting/stage/' + message.content_attributes?.data.room_name;      \n      \n      if (message.content) {\n\n        // leading with \\ at SHIFT+ENTER\n        message.content = message.content.replace(/\\n\\\\/g,\"\\n\").replace(/ \\\\/g,\"\");\n        \n        const payload = {        \n          token: item.json.extra.token,\n          chatid: chatId,\n          messageid: message.id,\n          inreply: message.content_attributes?.in_reply_to_external_id,\n          \n          // dont used for nothing, marked for remove\n          sourceid: body.conversation.contact_inbox.source_id,\n          \n          conversationid: body.conversation.id,\n          content: message.content\n        };\n                \n        const sender = message.sender?.available_name || message.sender?.name || 'Auto Atendimento';\n        \n        const customs = body.conversation.meta?.sender?.custom_attributes;\n        const pat = !((customs?.hasOwnProperty('skipagenttitle') ?? false) && (customs?.skipagenttitle ?? false));\n\n        if (pat) payload.sender = sender;\n                \n        const msgItem = { \n          payload: payload,\n          extra: item.json.extra\n        };\n        response.push(msgItem);\n      }\n\n      if (message.attachments) {\n        let counter = 0;\n        for (let attach of message.attachments) \n        {\n          const payload = {\n            token: item.json.extra.token,\n            chatid: chatId,\n            messageid: message.id + '-a' + counter,          \n            attachment: attach.data_url\n          };\n          const msgItem = { \n            payload: payload,\n            extra: item.json.extra\n          };\n          response.push(msgItem);\n          counter++;\n        }\n      }      \n    }\n  }\n}\n\nreturn response;"},"id":"809a2375-0590-458c-94bf-31d750428d6f","name":"Payload","type":"n8n-nodes-base.code","typeVersion":1,"position":[3920,-340]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.conversation?.meta.sender.identifier?.toLowerCase() }}","value2":"={{ $env[\"C8Q_QP_CONTACT\"] ?? 'control@whatsapp.io' }}"},{"value1":"={{ $json.body.meta?.sender.name?.toLowerCase() }}","operation":"contains","value2":"whatsapp control"},{"value1":"={{ $json.body.conversation?.meta.sender.name?.toLowerCase() }}","operation":"contains","value2":"whatsapp control"}]},"combineOperation":"any"},"id":"a6b9acca-d19f-4c69-8064-fef0e63f7c62","name":"From Whatsapp Control ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3640,-360]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.extra.pat ? !!JSON.parse($json.extra.pat.toLowerCase()) : true }}","value2":true}],"string":[{"value1":"={{  $json.payload.sender }}","operation":"isNotEmpty"}]}},"id":"8172c769-436f-4ee6-8aeb-13570174113f","name":"Should Prepend Agent Title ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4680,-460]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"={{ $json.payload.sender ? '*' + $json.payload.sender.trim() + '*: ' : '' }}\n{{ $json.payload.content }}"}]},"options":{}},"name":"Update Content With Agent Ttitle","type":"n8n-nodes-base.set","typeVersion":1,"position":[4880,-540],"id":"c23a7e34-6c84-4885-92c1-3317c5f65803"},{"parameters":{},"id":"68c3e0cf-e77b-4a56-bfc1-c525b707dbd2","name":"Follow after prepend","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5080,-440]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"name":"Normal Exit (RAS)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[7580,-160],"id":"a31d0f66-8029-4a28-82ab-044e9e7e3e9f"},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{$json.extra.qptoken}}","messageId":"={{ $json.extra.account }}-{{ $json.extra.inbox }}-{{ $json.payload.messageid ?? Math.random() }}","text":"={{$json.payload.content}}","chatId":"={{$json.payload.chatid}}","trackId":"chatwoot","inReply":"={{$json.payload.inreply }}"},"id":"f5fa45be-ecc2-454a-9017-3e64789ac5bf","name":"Quepasa Send Text","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[6080,-240],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{$json.extra.qptoken}}","messageId":"={{ $json.extra.account }}-{{ $json.extra.inbox }}-{{ $json.payload.messageid ?? Math.random() }}","method":"sendurl","text":"={{$json.payload.content}}","chatId":"={{$json.payload.chatid}}","url":"={{$json.payload.attachment}}","trackId":"chatwoot","inReply":"={{$json.payload.inreply }}"},"id":"a7cc8c65-46a1-4cc6-8e8f-1c758f21b54d","name":"Quepasa Send Attach","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[6080,0],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('From ChatWoot').item.json[\"query\"][\"cwhost\"] }}/api/v1/accounts/{{ $('From ChatWoot').item.json[\"body\"][\"account\"][\"id\"]}}/conversations/{{ $('From ChatWoot').item.json[\"body\"][\"conversation\"][\"id\"] }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.server.webhooks[0].extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"private\": false, \"content\": \"❌ O WhatsApp está desconectado.\\n Por favor, reabra o aplicativo e faça a leitura do código QR novamente.\\n{{ $('Was Success?').item.json.message }}\", \"message_type\": 2, \"content_type\": \"text\"}","options":{}},"id":"2244e3a8-d7b1-4161-a655-2877a8f4b287","name":"Success?","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7120,20]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.success }}","value2":"={{true}}"}]}},"id":"50ab8b5c-b317-4049-af1a-80cdd62c90ca","name":"Was Success?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6420,-140]},{"parameters":{"baseUrl":"={{ $('From ChatWoot').item.json.query.qphost }}","token":"={{ $('From ChatWoot').item.json.query.identifier }}","resource":"information"},"id":"f6634adb-0935-4429-aed0-9f20decc953e","name":"Get Info","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[6620,40]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.server.verified }}","value2":"={{false}}"}]}},"id":"23d0fea5-5a92-479b-a5fb-0aaa302a3876","name":"Is Connect?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6860,40]},{"parameters":{"respondWith":"noData","options":{"responseCode":503}},"name":"Disconnected Failed","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[7400,20],"id":"9c67ef89-2645-42c7-8147-6c40f8e62a0d"},{"parameters":{"respondWith":"json","options":{"responseCode":"={{ $('Was Success?').item.json.message.slice('-3') }}"}},"name":"Failled","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[7120,180],"id":"9deb23da-c94f-4d76-8738-422e4f95ad93"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"body\"][\"message_type\"]}}","value2":"outgoing"}],"number":[{"value1":"={{$json[\"body\"][\"message_type\"]}}","operation":"equal","value2":1}]},"combineOperation":"any"},"name":"Is Outgoing Message Update ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2300,1720],"id":"192aceb3-1637-4de6-8716-398904051ee2"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"body\"][\"private\"]}}"}]}},"name":"Is Public Update ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2520,1700],"id":"e0bc01da-5ea8-494e-9367-30722935fa60"},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{$json.extra.qptoken}}","operation":"revoke","messageId":"={{ $json.extra.account }}-{{ $json.extra.inbox }}-{{ $json.body.id }}"},"id":"c23ae2bf-f2fc-494e-8453-d385511b6935","name":"Quepasa Revoke","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[2740,1680],"retryOnFail":true,"maxTries":2},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.body?.content_attributes?.deleted??false}}","value2":true}]}},"id":"df7192f3-0347-42da-bad9-4fd92e287253","name":"If Deleted ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2080,1740]},{"parameters":{},"id":"2705cc58-9299-4b8a-98bf-d6ac76f57e45","name":"Message Update Event","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1860,1740]},{"parameters":{"respondWith":"text","responseBody":"only for messages","options":{"responseCode":200}},"name":"Not Message Created Event !","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1840,2220],"id":"a628ed64-d884-42f7-b162-469554bbe3ba"},{"parameters":{},"name":"Conversation Created Event","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2040,1360],"id":"a11d53db-cd4d-46df-bbb1-bf82e2191cbc"},{"parameters":{"respondWith":"noData","options":{}},"id":"9fb6f6da-953c-491d-808b-3bc8999b9237","name":"Normal Exit (GNE)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2720,1380]},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"body\"][\"messages\"][0][\"sender_type\"]}}","value2":"User"}]}},"id":"25696ada-4d09-4e0e-ab96-50b02e7ecc47","name":"Sent by agent ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2320,1360],"notesInFlow":true,"notes":"Quando vem vazio é porque a conversa foi criada sem mensagem, no caso criado pelo fluxo. ou seja, criada pelo cliente."},{"parameters":{"requestMethod":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.body.id}}/toggle_status","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"status","value":"open"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json.extra.utoken}}"}]}},"name":"Open Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[2520,1280],"id":"836199fd-b87d-4c72-aa3d-6140a1871c0c","continueOnFail":true,"notes":"Important to use \"source_id\" to respond messages"},{"parameters":{"respondWith":"noData","options":{}},"id":"7f01eb58-8ecb-4763-99b1-d75d2d6a4c56","name":"Normal Exit (CUP)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2740,1060]},{"parameters":{"workflowId":"m9rV60K5QXc4UDLB","options":{}},"id":"9da33810-67f6-4275-a918-f7ae068a9b07","name":"Throw To Profile Update Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2560,1060],"continueOnFail":true},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"qphost","value":"={{$json.extra?.qphost}}"},{"name":"qptoken","value":"={{$json.extra?.qptoken}}"},{"name":"cwhost","value":"={{$json.extra?.cwhost}}"},{"name":"utoken","value":"={{$json.extra?.utoken}}"},{"name":"account","value":"={{$json.extra?.account}}"},{"name":"contactid","value":"={{$json.body?.meta?.sender?.id}}"},{"name":"chatid","value":"={{$json.chatid}}"}]},"options":{}},"id":"952b2ed5-4b04-4bab-bc59-8de9b16a6078","name":"Set Update Contact Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[2380,1060]},{"parameters":{"jsCode":"function hex2a(hexx) {\n    var hex = hexx.toString(); //force conversion\n    var str = '';\n    for (var i = 0; i < hex.length; i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}\n\nfor(let index in items) \n{ \n    if(items[index].json?.chatid){\n        continue;\n    }\n\n    let body = items[index].json[\"body\"];\n    if(body) \n    {\n        // trying to get from external identifier\n        let chatid = body.meta?.sender?.identifier;\n        if(!chatid)\n        {\n            // trying to get from quepasa custom property\n            chatid = body.meta?.sender?.custom_attributes?.quepasa;            \n            if(!chatid)\n            {\n                // trying to get from e-mail\n                chatid = body.meta?.sender?.email;            \n                if(!chatid)\n                {\n                    // trying to unhex from source_id\n                    if(body.contact_inbox?.source_id && body.contact_inbox.source_id.includes(\"@\")){\n                        chatid = hex2a(body.contact_inbox.source_id)\n                    }\n                    \n                    if(!chatid)\n                    {                    \n                        // trying to get from phone number \n                        chatid = body.meta?.sender?.phone_number;\n                        if (chatid) { \n                          chatid += '@s.whatsapp.net';\n                          if (chatid.startsWith('+')) chatid = chatid.substring(1);\n                        }\n                    }\n                }\n            }\n        }\n        items[index].json.chatid = chatid;\n    }\n}\n\nreturn items;"},"id":"ce1374e6-cfe8-4dc7-b917-63af5b43ab7d","name":"Getting ChatId From Custom|Email|Source|Phone","type":"n8n-nodes-base.code","typeVersion":1,"position":[2180,1060]},{"parameters":{},"name":"Conversation Status Changed  Event","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1880,880],"id":"87640618-4c33-4da0-be07-d7e73298b699"},{"parameters":{"content":"## POST RESOLVED MESSAGE\n* to disable, remove that link","height":583.7953965722991,"width":3071.1267498581306},"id":"8569ba83-254c-493b-b9a5-bf0bf6448d2f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2180,361.7870767340745]},{"parameters":{"operation":"executeQuery","query":"=SELECT account_id FROM inboxes WHERE id = '{{ $json.extra.inbox }}'","additionalFields":{}},"id":"af4bc574-537f-4293-97b1-9535faed842d","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[2980,640],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"values":{"string":[{"name":"extra.account","value":"={{ $json.account_id }}"}]},"options":{}},"id":"0fa34aaa-c6f1-4c8e-8403-6ead7ab27409","name":"Set Account in Query","type":"n8n-nodes-base.set","typeVersion":1,"position":[3140,640]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"c5ce746e-f7b9-4357-bf1e-bc2d350865a9","name":"Merge Account Id","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3300,560]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.body.custom_attributes?.hasOwnProperty('skipevaluation') }}","value2":true},{"value1":"={{ $json.body.custom_attributes?.skipevaluation ?? false }}","value2":true}]}},"id":"bb2ea7c3-6cf1-4ac8-85c1-597290988dc3","name":"Skip Evaluate By Conversation","type":"n8n-nodes-base.if","typeVersion":1,"position":[3460,500]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.status }}","value2":"resolved"}]}},"id":"db1efd64-6095-4090-bf73-fcb22df77ef9","name":"If Conversation Resolved1","type":"n8n-nodes-base.if","typeVersion":1,"position":[2420,560]},{"parameters":{},"name":"Post Resolved Message1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2240,640],"id":"ae3e9525-e274-4d57-b29b-0021f14af58f"},{"parameters":{"conditions":{"string":[{"value1":"={{extra.account}}","operation":"isNotEmpty"}]}},"id":"4c03918b-fd14-4c33-a575-2ae258b6bab5","name":"Account Found ?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[2780,520]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.meta?.sender?.identifier ?? \"\" }}","operation":"notEqual","value2":"control@whatsapp.io"},{"value1":"={{ $json.body.meta?.sender?.identifier ?? \"\" }}","operation":"notEndsWith","value2":"@broadcast"}]}},"id":"51f98dc2-acd7-47e2-b345-32c91fa144be","name":"If Not Control & Not Broadcast1","type":"n8n-nodes-base.if","typeVersion":1,"position":[2600,540]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.body.meta?.sender?.custom_attributes?.hasOwnProperty('skipevaluation') }}","value2":true},{"value1":"={{ $json.body.meta?.sender?.custom_attributes?.skipevaluation ?? false }}","value2":true}]}},"id":"02650b73-b228-4ee0-89c6-221ade533332","name":"Skip Evaluation By Contact","type":"n8n-nodes-base.if","typeVersion":1,"position":[3660,520]},{"parameters":{"operation":"executeQuery","query":"=SELECT csat_survey_enabled FROM inboxes WHERE id = {{ $json.extra.inbox }}; ","additionalFields":{}},"id":"b47caa78-debb-41b3-90ec-38b49cdfc252","name":"Enabled CSAT ?","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[4060,640],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"87c39ddd-aa90-43cc-9ab4-76d0021ff84d","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[4240,580]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.csat_survey_enabled }}","value2":true}]}},"id":"3194d88f-0fd8-46e0-aedd-9684f1054c49","name":"Use CSAT ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4400,580]},{"parameters":{},"id":"0cde98bc-6f4d-45ce-8bda-ccb29d7ec4a7","name":"No Operation, do nothing3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3880,560]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"2a04206d-223e-4bc3-b20d-861f7fe9ae48","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[4740,540]},{"parameters":{"operation":"executeQuery","query":"=SELECT uuid FROM conversations WHERE account_id = {{ $json.extra.account }} and display_id = {{ $json.body.id }};","additionalFields":{}},"id":"a6dd01c4-c209-4790-9102-c869613d5fb0","name":"Getting UUID","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[4560,460],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{},"id":"cfbb67ca-cfcb-4701-a9b3-b3cdb8c7392f","name":"Evaluation Message Payload Ready To Quepasa","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5120,540]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"payload.chatid","value":"={{ $json.body.meta.sender.identifier }}"},{"name":"payload.messageid","value":"={{ $json.body.id }}-eval"},{"name":"extra.qphost","value":"={{ $json.extra.qphost }}"},{"name":"extra.qptoken","value":"={{ $json.extra.qptoken }}"},{"name":"extra.account","value":"={{ $json.extra.account }}"},{"name":"extra.inbox","value":"={{ $json.extra.inbox }}"},{"name":"payload.content","value":"=*{{ $json[\"body\"][\"meta\"][\"sender\"][\"name\"] }}* seu atendimento de Ticket de nº *{{ $json.body.id }}* foi finalizado ! Caso tenha alguma dúvida só enviar uma nova mensagem !\n\nAproveite e avalie nosso atendimento. Sua opinião é muito importante para nós e nos ajudará a identificar áreas de melhorias a fim de continuar oferecendo um serviço de qualidade. 😎\n\nAvalie meu atendimento !\n{{ ($json.extra.cwpublic ?? $env[\"C8Q_CW_PUBLIC_URL\"] ?? $json.extra.cwhost).trimEnd('/') }}/survey/responses/{{ $json.uuid }}"}]},"options":{}},"id":"d0321175-6d32-429e-a881-12cc53ffe634","name":"Payload With CSAT","type":"n8n-nodes-base.set","typeVersion":1,"position":[4920,440]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra.qphost","value":"={{ $json.extra.qphost }}"},{"name":"extra.qptoken","value":"={{ $json.extra.qptoken }}"},{"name":"extra.account","value":"={{ $json.extra.account }}"},{"name":"extra.inbox","value":"={{ $json.extra.inbox }}"},{"name":"payload.chatid","value":"={{ $json.body.meta.sender.identifier }}"},{"name":"payload.messageid","value":"={{ $json.body.id }}-eval"},{"name":"payload.content","value":"-----------------------------------------------------\nSeu atendimento foi marcado como *concluído* !\nQualquer mensagem ou reação após este anúncio, irá iniciar uma *nova* conversa.\n-----------------------------------------------------"}]},"options":{}},"id":"2371397e-90c4-493f-974f-c01c983336a3","name":"Payload Without CSAT","type":"n8n-nodes-base.set","typeVersion":1,"position":[4920,600]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json[\"body\"][\"event\"]}}","rightValue":"message_updated","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"0"}]},"options":{"fallbackOutput":"extra"}},"id":"57e53ee5-d55d-45a1-9d9a-2a5025f38052","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1520,1980]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json[\"body\"][\"event\"]}}","rightValue":"message_created","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"0"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"99e34579-22e1-460a-a4a2-7a9d500fb36b","leftValue":"={{$json[\"body\"][\"event\"]}}","rightValue":"conversation_status_changed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6eb48df3-32bf-49a4-8b25-694fc3fc1ce0","leftValue":"={{$json[\"body\"][\"event\"]}}","rightValue":"conversation_created","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"}]},"options":{"fallbackOutput":"extra"}},"id":"95484240-41f1-4f6e-99ac-0c1df3e921a7","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[780,540]}],"connections":{"From ChatWoot":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"Message Created Event":{"main":[[{"node":"Is Outgoing Message ?","type":"main","index":0}]]},"Text Message ?":{"main":[[{"node":"If Control Message","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Text Only ?":{"main":[[{"node":"Quepasa Send Text","type":"main","index":0}],[{"node":"Quepasa Send Attach","type":"main","index":0}]]},"Is Outgoing Message ?":{"main":[[{"node":"Is Public ?","type":"main","index":0}],[{"node":"Is Incoming !","type":"main","index":0}]]},"Is Public ?":{"main":[[{"node":"Is Not From Sincronize Bot?","type":"main","index":0}],[{"node":"Is Private !","type":"main","index":0}]]},"Is Not From Sincronize Bot?":{"main":[[{"node":"From Whatsapp Control ?","type":"main","index":0}],[{"node":"From Customer !","type":"main","index":0}]]},"If Control Message":{"main":[[{"node":"Quepasa Chat Control Workflow","type":"main","index":0}],[{"node":"Should Prepend Agent Title ?","type":"main","index":0}]]},"Quepasa Chat Control Workflow":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Quepasa Send Text","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Text Only ?","type":"main","index":0}]]},"Payload":{"main":[[{"node":"Text Message ?","type":"main","index":0}]]},"Should Prepend Agent Title ?":{"main":[[{"node":"Update Content With Agent Ttitle","type":"main","index":0}],[{"node":"Follow after prepend","type":"main","index":0}]]},"Update Content With Agent Ttitle":{"main":[[{"node":"Follow after prepend","type":"main","index":0}]]},"Follow after prepend":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Quepasa Send Text":{"main":[[{"node":"Was Success?","type":"main","index":0}]]},"Quepasa Send Attach":{"main":[[{"node":"Was Success?","type":"main","index":0}]]},"Success?":{"main":[[{"node":"Disconnected Failed","type":"main","index":0}]]},"Was Success?":{"main":[[{"node":"Normal Exit (RAS)","type":"main","index":0}],[{"node":"Get Info","type":"main","index":0}]]},"Get Info":{"main":[[{"node":"Is Connect?","type":"main","index":0}]]},"Is Connect?":{"main":[[{"node":"Success?","type":"main","index":0}],[{"node":"Failled","type":"main","index":0}]]},"Is Outgoing Message Update ?":{"main":[[{"node":"Is Public Update ?","type":"main","index":0}]]},"Is Public Update ?":{"main":[[{"node":"Quepasa Revoke","type":"main","index":0}]]},"If Deleted ?":{"main":[[{"node":"Is Outgoing Message Update ?","type":"main","index":0}]]},"Message Update Event":{"main":[[{"node":"If Deleted ?","type":"main","index":0}]]},"Conversation Created Event":{"main":[[{"node":"Sent by agent ?","type":"main","index":0}]]},"Sent by agent ?":{"main":[[{"node":"Open Conversation","type":"main","index":0}],[{"node":"Normal Exit (GNE)","type":"main","index":0}]]},"Open Conversation":{"main":[[{"node":"Normal Exit (GNE)","type":"main","index":0}]]},"Throw To Profile Update Workflow":{"main":[[{"node":"Normal Exit (CUP)","type":"main","index":0}]]},"Set Update Contact Payload":{"main":[[{"node":"Throw To Profile Update Workflow","type":"main","index":0}]]},"Getting ChatId From Custom|Email|Source|Phone":{"main":[[{"node":"Set Update Contact Payload","type":"main","index":0}]]},"Conversation Status Changed  Event":{"main":[[{"node":"Getting ChatId From Custom|Email|Source|Phone","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Set Account in Query","type":"main","index":0}]]},"Set Account in Query":{"main":[[{"node":"Merge Account Id","type":"main","index":1}]]},"Merge Account Id":{"main":[[{"node":"Skip Evaluate By Conversation","type":"main","index":0}]]},"If Conversation Resolved1":{"main":[[{"node":"If Not Control & Not Broadcast1","type":"main","index":0}]]},"Post Resolved Message1":{"main":[[{"node":"If Conversation Resolved1","type":"main","index":0}]]},"Account Found ?1":{"main":[[{"node":"Skip Evaluate By Conversation","type":"main","index":0}],[{"node":"Postgres","type":"main","index":0},{"node":"Merge Account Id","type":"main","index":0}]]},"If Not Control & Not Broadcast1":{"main":[[{"node":"Account Found ?1","type":"main","index":0}]]},"Skip Evaluate By Conversation":{"main":[[],[{"node":"Skip Evaluation By Contact","type":"main","index":0}]]},"Enabled CSAT ?":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Use CSAT ?","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Enabled CSAT ?","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Skip Evaluation By Contact":{"main":[[],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Payload With CSAT","type":"main","index":0}]]},"Getting UUID":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Payload With CSAT":{"main":[[{"node":"Evaluation Message Payload Ready To Quepasa","type":"main","index":0}]]},"Payload Without CSAT":{"main":[[{"node":"Evaluation Message Payload Ready To Quepasa","type":"main","index":0}]]},"Use CSAT ?":{"main":[[{"node":"Getting UUID","type":"main","index":0},{"node":"Merge","type":"main","index":1}],[{"node":"Payload Without CSAT","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Message Update Event","type":"main","index":0}],[{"node":"Not Message Created Event !","type":"main","index":0}]]},"Evaluation Message Payload Ready To Quepasa":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Message Created Event","type":"main","index":0}],[{"node":"Conversation Status Changed  Event","type":"main","index":0}],[{"node":"Conversation Created Event","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"From Whatsapp Control ?":{"main":[[{"node":"Throw To Quepasa Inbox Control Workflow","type":"main","index":0}],[{"node":"Payload","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e8abb3bb-5c8a-4c92-9af6-bf1939ac4fb9","triggerCount":1,"tags":[{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"},{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T15:16:03.714Z","updatedAt":"2024-03-09T15:16:03.714Z","id":"KOLgvcJBMVVu28zw","name":"quepasa"}]}