chatwootprofileupdate-m9rV60K5QXc4UDLB.json
{"createdAt":"2024-03-09T14:16:22.071Z","updatedAt":"2024-03-09T14:46:19.855Z","id":"m9rV60K5QXc4UDLB","name":"ChatwootProfileUpdate","active":false,"nodes":[{"parameters":{"mode":"multiplex"},"name":"Quepasa + Contact","type":"n8n-nodes-base.merge","typeVersion":1,"position":[2920,1340.0826873385008],"id":"e2635f36-d568-436f-85d2-597e6313de02"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Quepasa","value":"={{$json}}"}]},"options":{}},"name":"Set Quepasa","type":"n8n-nodes-base.set","typeVersion":1,"position":[2720,1400.0826873385008],"id":"d1820921-6187-42e1-bf7a-36f97e49d549"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"success\"]}}","value2":true}]}},"id":"756d6c39-a642-477a-b8ba-05bb99a7a980","name":"Success on get picture ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2480,1420.0826873385008]},{"parameters":{"requestMethod":"PUT","url":"={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"avatar_url","value":"={{ $json[\"Quepasa\"][\"info\"][\"url\"] }}"},{"name":"custom_attributes.pictureid","value":"={{ $json[\"Quepasa\"][\"info\"][\"id\"] }}"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json.utoken}}"}]}},"name":"Chatwoot Update Profile Avatar URL","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[3180,1340.0826873385008],"id":"1cdf406f-97ff-4792-9a97-f7f72e74f42f","retryOnFail":true,"notes":"Missing filter by:\nContact Id\nInbox Id\nStatus = open | pending"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.chatid}}","operation":"isNotEmpty"}]}},"id":"61c99ba0-4c09-4e08-9fbd-5dde77ab6f86","name":"If Found ChatId","type":"n8n-nodes-base.if","typeVersion":1,"position":[1560,1060.0826873385008]},{"parameters":{"errorMessage":"Chat Id not found !"},"id":"b236cd77-e0d1-4963-8798-2e294a37b5d1","name":"Stop And Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1760,1260.0826873385008]},{"parameters":{"content":"## Starting with following parameters\n\n* chatid\n* qphost\n* qptoken\n\n* cwhost\n* utoken\n* account\n\n* contactid","height":309.0215131709718,"width":527.0811654526535},"id":"ed2d413c-3e94-4e3b-835c-ab197fe09f3b","name":"Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,680.0826873385008]},{"parameters":{"requestMethod":"PUT","url":"={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"identifier","value":"={{$json.chatid}}"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json.utoken}}"}]}},"name":"Chatwoot Update Profile Email3","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[2560,820.0826873385008],"id":"3f26f8aa-50a2-4aec-9c48-25b07d439828","retryOnFail":false,"continueOnFail":true},{"parameters":{},"id":"ebe6b371-7f2b-4fd1-becc-0dbc08beac8b","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[680,1060.0826873385008]},{"parameters":{},"id":"0d806991-5cac-4fe3-8fd4-078d1584e17c","name":"NoOp1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2080,1320.0826873385008]},{"parameters":{"respondWith":"noData","options":{}},"id":"54a9b4d1-fd37-4e1e-b640-e5cd1177ff41","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3700,1160.0826873385008]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.identifier}}","operation":"isEmpty"}]},"combineOperation":"any"},"id":"67ecdf95-cc4e-430e-bfe0-57b6f075a41a","name":"If Empty Identifier","type":"n8n-nodes-base.if","typeVersion":1,"position":[2080,840.0826873385008]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.identifier}}","operation":"notEqual","value2":"={{$json.chatid}}"}]}},"id":"4fa09715-7ef7-4cb8-9423-ceb72b47c9ae","name":"If Different Identifier ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2320,940.0826873385008],"notesInFlow":true,"notes":"Used to sincronize old versions with Quepasa Id"},{"parameters":{"operation":"executeQuery","query":"=SELECT account_id as account, identifier FROM contacts WHERE id = '{{ $json.contactid }}'","additionalFields":{}},"id":"935c4358-731f-4796-afc7-4da8b0f7a508","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[860,1140.0826873385008],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres account"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"06ee3138-e346-44f1-9c17-3317b77406a1","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1060,1080.0826873385008]},{"parameters":{"url":"={{$json.qphost}}/picinfo/{{$json.chatid}}","allowUnauthorizedCerts":true,"options":{},"headerParametersUi":{"parameter":[{"name":"X-QUEPASA-TOKEN","value":"={{$json.qptoken}}"}]}},"name":"Quepasa Picture Info","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[2280,1420.0826873385008],"id":"625e0b63-85dd-473d-b205-042a5f146eaa","continueOnFail":true,"notes":"Important to use \"source_id\" to respond messages"},{"parameters":{"content":"## (1.0.0) Recommendations \n* Remember set timeout to 20 seconds ","height":194.5475077160475,"width":505.65878958512553},"id":"322e64e3-3bad-4243-89c8-39777f73d025","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]}],"connections":{"Quepasa + Contact":{"main":[[{"node":"Chatwoot Update Profile Avatar URL","type":"main","index":0}]]},"Set Quepasa":{"main":[[{"node":"Quepasa + Contact","type":"main","index":1}]]},"Success on get picture ?":{"main":[[{"node":"Set Quepasa","type":"main","index":0}]]},"If Found ChatId":{"main":[[{"node":"NoOp1","type":"main","index":0},{"node":"If Empty Identifier","type":"main","index":0}],[{"node":"Stop And Error","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Postgres","type":"main","index":0}]]},"NoOp1":{"main":[[{"node":"Quepasa + Contact","type":"main","index":0},{"node":"Quepasa Picture Info","type":"main","index":0}]]},"Chatwoot Update Profile Email3":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Chatwoot Update Profile Avatar URL":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"If Empty Identifier":{"main":[[{"node":"Chatwoot Update Profile Email3","type":"main","index":0}],[{"node":"If Different Identifier ?","type":"main","index":0}]]},"If Different Identifier ?":{"main":[[{"node":"Chatwoot Update Profile Email3","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"If Found ChatId","type":"main","index":0}]]},"Quepasa Picture Info":{"main":[[{"node":"Success on get picture ?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d581bac5-a919-406c-9d50-d36ea7bb4e98","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:16:04.080Z","updatedAt":"2024-03-09T14:16:04.080Z","id":"Qgg6bPvz0vpaMIkN","name":"QUEPASA"},{"createdAt":"2024-03-09T14:16:04.090Z","updatedAt":"2024-03-09T14:16:04.090Z","id":"Qlcjo6UHiw4frtYR","name":"CHATWOOT"},{"createdAt":"2024-03-09T14:16:04.079Z","updatedAt":"2024-03-09T14:16:04.079Z","id":"NKqNSuY0oJxzFsGW","name":"NOCODELEAKS"}]}