chatwootextra-A8vTKI6mzxWN3ugm.json
{"createdAt":"2024-03-09T15:37:37.015Z","updatedAt":"2024-03-09T15:40:09.199Z","id":"A8vTKI6mzxWN3ugm","name":"ChatwootExtra","active":false,"nodes":[{"parameters":{"content":"## (1.0.0) Updates\n* First version\n","height":160.8587546061882,"width":505.65878958512553},"id":"f44d6dba-a240-414f-b1b3-3ec3efe8c5c7","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.extra.account }}","operation":"isEmpty"}]}},"id":"f7290e43-5ce4-4f57-b636-a33f60ccf69b","name":"If Missing Account","type":"n8n-nodes-base.if","typeVersion":1,"position":[880,646.3939342286423]},{"parameters":{"operation":"executeQuery","query":"=SELECT account_id FROM inboxes WHERE id = '{{ $json.extra.inbox }}'","additionalFields":{}},"id":"bd28d846-ce71-4d31-831b-88f359f8f1d3","name":"Get Account From Inbox","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1080,526.3939342286423],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres account"}}},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"extra.account","value":"={{ $json.account_id }}"}]},"options":{}},"id":"929ae9ce-e85f-4714-a305-2f0679601110","name":"Set Account","type":"n8n-nodes-base.set","typeVersion":2,"position":[1240,526.3939342286423]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"public\".\"agent_bots\" (\"name\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"bee360bot\" }}', {{ $json.extra.account }}, NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = '0' AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"bee360bot\" }}' AND \"account_id\" = {{ $json.extra.account }});\nSELECT \"id\" FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = '0' AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"bee360bot\" }}' AND \"account_id\" = {{ $json.extra.account }} LIMIT 1;","additionalFields":{}},"id":"b6f1e1ec-fe56-4f58-bd31-3af7d5e13b9b","name":"GetOrCreate AgentBot","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1820,566],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres account"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra.atoken","value":"={{ $json.atoken }}"}],"number":[{"name":"extra.aid","value":"={{ $json.aid }}"}]},"options":{}},"id":"386ac2cc-7ba8-4eb1-a844-29678629f769","name":"Set AToken","type":"n8n-nodes-base.set","typeVersion":2,"position":[2180,566.3939342286423]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"97d9c513-1d23-4241-9cef-64254c51bb6c","name":"Merge Extra AToken","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2380,646.3939342286423]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"4616766c-f80a-438b-ab26-acfb904af532","name":"Merge Extra Account","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1420,606.3939342286423]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"public\".\"access_tokens\" (\"owner_type\", \"owner_id\", \"token\", \"created_at\", \"updated_at\")\nSELECT 'AgentBot', '{{ $json.id }}', SUBSTRING(md5(random()::text),0,24), NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $json.id }});\nSELECT \"token\" AS \"atoken\", \"owner_id\" AS \"aid\" FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $json.id }} LIMIT 1;","additionalFields":{}},"id":"a19b633e-b9bb-447e-bf56-0de3662ae8c7","name":"GetOrCreate Agent Token","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[2000,566.3939342286423],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"agent_bot_inboxes\" (\"inbox_id\", \"agent_bot_id\", \"status\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT {{ $json.extra.inbox }}, {{ $json.extra.aid }}, 0, {{ $json.extra.account }}, NOW(), NOW() WHERE NOT EXISTS(SELECT NULL FROM \"agent_bot_inboxes\" WHERE \"inbox_id\" = {{ $json.extra.inbox }} AND \"agent_bot_id\" = {{ $json.extra.aid }} AND \"account_id\" = {{ $json.extra.account }});","additionalFields":{}},"id":"88b7edbc-3d2c-41c9-bf3f-0c8a8dbf427b","name":"Ensure Rights For AgentBot At Account","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[2580,546.3939342286423],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT \"access_tokens\".\"token\" AS \"utoken\" FROM \"account_users\" INNER JOIN \"access_tokens\" ON \"access_tokens\".\"owner_id\" = \"account_users\".\"user_id\" WHERE \"account_users\".\"account_id\" = {{ $json.extra.account }} AND \"access_tokens\".\"owner_type\" = 'User' AND \"account_users\".\"role\" = 1 ORDER BY \"account_users\".\"id\" LIMIT 1;","additionalFields":{}},"id":"673611b9-3fe4-449b-b04e-d143747249de","name":"Get Admin User Token","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[2980,546.3939342286423],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres account"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra.utoken","value":"={{ $json.utoken }}"}]},"options":{}},"id":"2e38afc5-19e7-479a-99aa-6621df8cf84c","name":"Set UToken","type":"n8n-nodes-base.set","typeVersion":2,"position":[3160,546.3939342286423]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"9c4a2eed-3188-4711-b2dd-d37308d98058","name":"Merge Extra UToken","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3360,626.3939342286423]},{"parameters":{"operation":"executeQuery","query":"=SELECT \"public\".\"channel_api\".\"identifier\", \"public\".\"inboxes\".\"channel_id\" FROM \"public\".\"channel_api\" INNER JOIN \"public\".\"inboxes\" ON \"public\".\"channel_api\".\"id\" = \"public\".\"inboxes\".\"channel_id\" WHERE \"public\".\"channel_api\".\"account_id\"='{{$json.extra.account}}' AND \"public\".\"inboxes\".\"id\" = '{{$json.extra.inbox}}';","additionalFields":{}},"id":"950e1850-11d4-4485-985c-d7c6891db1a3","name":"Get Identifier","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[3560,546.3939342286423],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres account"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"c6761483-ced0-4edd-a2ee-abb9bf6b7a22","name":"Merge Extra Identifier","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3940,606.3939342286423]},{"parameters":{},"id":"135b6073-0489-4007-9715-2b61364adeb0","name":"Account & Inbox","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1620,666.3939342286423]},{"parameters":{},"id":"4d47b7bf-ad62-4296-9cc9-74e287d2f706","name":"AToken","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2780,646.3939342286423]},{"parameters":{},"id":"8ab825eb-b509-440c-8243-cf2da7f5ad65","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[560,646.3939342286423]},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"extra.inbox","value":"={{ $json.body.inbox_id }}"},{"name":"extra.account","value":"={{ $json.body.messages[0].account_id }}"}],"string":[{"name":"extra.cwpublic","value":"={{ $env[\"C8Q_CW_PUBLIC_URL\"] }}"},{"name":"extra.qphost","value":"http://127.0.0.1:31000"},{"name":"extra.cwhost","value":"http://127.0.0.1:3000"},{"name":"extra.n8nhost","value":"http://127.0.0.1:5678"},{"name":"extra.qpuser","value":"={{ $env[\"C8Q_QP_DEFAULT_USER\"] ?? \"default@quepasa.io\" }}"}]},"options":{}},"id":"94314411-23ba-4885-bb70-4825d8f963b3","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[720,646.3939342286423]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra.identifier","value":"={{ $json.identifier }}"}],"number":[{"name":"extra.channel","value":"={{ $json.channel_id }}"}]},"options":{}},"id":"eef9efa1-d534-4fae-9550-1a629f978efa","name":"Set Identifier & Channel","type":"n8n-nodes-base.set","typeVersion":2,"position":[3740,546.3939342286423]}],"connections":{"If Missing Account":{"main":[[{"node":"Get Account From Inbox","type":"main","index":0},{"node":"Merge Extra Account","type":"main","index":1}],[{"node":"Account & Inbox","type":"main","index":0}]]},"Get Account From Inbox":{"main":[[{"node":"Set Account","type":"main","index":0}]]},"Set Account":{"main":[[{"node":"Merge Extra Account","type":"main","index":0}]]},"GetOrCreate AgentBot":{"main":[[{"node":"GetOrCreate Agent Token","type":"main","index":0}]]},"Set AToken":{"main":[[{"node":"Merge Extra AToken","type":"main","index":0}]]},"Merge Extra Account":{"main":[[{"node":"Account & Inbox","type":"main","index":0}]]},"Merge Extra AToken":{"main":[[{"node":"Ensure Rights For AgentBot At Account","type":"main","index":0},{"node":"AToken","type":"main","index":0}]]},"GetOrCreate Agent Token":{"main":[[{"node":"Set AToken","type":"main","index":0}]]},"Get Admin User Token":{"main":[[{"node":"Set UToken","type":"main","index":0}]]},"Set UToken":{"main":[[{"node":"Merge Extra UToken","type":"main","index":0}]]},"Merge Extra UToken":{"main":[[{"node":"Get Identifier","type":"main","index":0},{"node":"Merge Extra Identifier","type":"main","index":1}]]},"Get Identifier":{"main":[[{"node":"Set Identifier & Channel","type":"main","index":0}]]},"Account & Inbox":{"main":[[{"node":"GetOrCreate AgentBot","type":"main","index":0},{"node":"Merge Extra AToken","type":"main","index":1}]]},"AToken":{"main":[[{"node":"Get Admin User Token","type":"main","index":0},{"node":"Merge Extra UToken","type":"main","index":1}]]},"Execute Workflow Trigger":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"If Missing Account","type":"main","index":0}]]},"Set Identifier & Channel":{"main":[[{"node":"Merge Extra Identifier","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"96fa2c4f-5950-4880-a935-d446758ca9a8","triggerCount":0,"tags":[]}