contingência-ai-8wC1N9OX2K8mwq8Z.json
{"createdAt":"2024-10-03T07:51:33.320Z","updatedAt":"2024-10-03T08:38:51.647Z","id":"8wC1N9OX2K8mwq8Z","name":"Contingência AI","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"contacts\" (\"name\", \"identifier\", \"account_id\", \"created_at\", \"updated_at\", \"last_activity_at\") VALUES ('{{ $node[\"execdata\"].json.bottitle }}', '{{ $node[\"execdata\"].json.contact }}', {{ $json.account }}, NOW(), NOW(), NOW());","additionalFields":{}},"id":"331cc138-3b05-4a8f-af66-22abd028a13c","name":"Cria o Contato","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-340,840],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" LEFT JOIN \"automation_rules\" ON \"accounts\".\"id\" = \"automation_rules\".\"account_id\" AND \"automation_rules\".\"name\" = '{{ $node[\"execdata\"].json.bottitle }}' WHERE \"automation_rules\".\"name\" IS NULL;","additionalFields":{}},"id":"0241527a-57a3-457a-9d73-014ba085f3af","name":"Missing Automations","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[460,900],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" LEFT JOIN \"contacts\" ON \"accounts\".\"id\" = \"contacts\".\"account_id\" AND \"contacts\".\"identifier\" = '{{ $node[\"execdata\"].json.contact }}' WHERE \"contacts\".\"identifier\" IS NULL;","additionalFields":{}},"id":"0540e70c-8987-48e8-9198-7841016d8a34","name":"Missing Quepasa Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-780,840],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"2570de3e-7dda-4e62-9262-d00905940375","name":"Schedule By 1 Minute","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-20,900],"disabled":true},{"parameters":{"options":{}},"id":"6f7a9a86-9e0f-42ad-b95d-c63166aec3b1","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,900]},{"parameters":{"options":{}},"id":"6601aab3-4225-4d21-8bae-d6284babac9c","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-540,840]},{"parameters":{},"id":"8b2f3705-e63d-48ef-b8a4-b4760b7b2ad7","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,1300]},{"parameters":{"options":{}},"id":"bb111511-3f0d-4c7c-9feb-9ebe0cc46c19","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,1360]},{"parameters":{"options":{}},"id":"71d20851-c4dd-48bb-9a09-2bc0000dd8ed","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,1140]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO custom_roles (account_id, name, description, created_at, updated_at)\nVALUES ({{ $json[\"account_id\"] }}, 'ChatGPT', 'Assistente: cole_seu_assist_aqui', NOW(), NOW());\n","additionalFields":{}},"id":"56e33960-c64e-4875-bc1c-7d9c1208253a","name":"Cria Automação2","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[900,1140],"alwaysOutputData":true,"notesInFlow":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"onError":"continueRegularOutput","notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO account_users (account_id, user_id, role, created_at, updated_at)\nVALUES ({{$json[\"account_id\"]}}, 139, '0', NOW(), NOW());\n","additionalFields":{}},"id":"e6d286b5-7154-4159-a72f-bd8a59ebf689","name":"Cria Automação1","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[900,1360],"alwaysOutputData":true,"notesInFlow":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"SELECT accounts.id AS account_id\nFROM accounts\nLEFT JOIN account_users ON accounts.id = account_users.account_id AND account_users.user_id = 139\nWHERE account_users.user_id IS NULL\nORDER BY account_id ASC;\n","additionalFields":{}},"id":"76543001-1860-4ebf-ba4c-2073e3c265b5","name":"Missing Automations1","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[460,1360],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"automation_rules\" (\"account_id\", \"name\", \"description\", \"event_name\", \"conditions\", \"actions\", \"created_at\", \"updated_at\", \"active\") VALUES ({{ $json.account }}, '{{ $node[\"execdata\"].json.bottitle }}', '{{ $node[\"execdata\"].json.bottitle }}', 'message_created', '[{\"values\": [\"{{ $node[\"execdata\"].json.contact }}\"], \"attribute_key\": \"identifier\", \"query_operator\": \"and\", \"filter_operator\": \"equal_to\", \"custom_attribute_type\": \"\"}, {\"values\": [\"outgoing\"], \"attribute_key\": \"message_type\", \"query_operator\": \"and\", \"filter_operator\": \"equal_to\", \"custom_attribute_type\": \"\"}, {\"values\": [\"/qrcode\"], \"attribute_key\": \"content\", \"filter_operator\": \"contains\", \"custom_attribute_type\": \"\"}]', '[{\"action_name\": \"send_webhook_event\", \"action_params\": [\"{{ $node[\"execdata\"].json.n8nurl }}/webhook/quepasa\"]}]', NOW(), NOW(), 'true');","additionalFields":{}},"id":"c0814e07-14c1-46fa-9d20-9037fb519767","name":"Cria Automação","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[900,900],"alwaysOutputData":false,"notesInFlow":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"values":{"string":[{"name":"n8nurl","value":"http://n8nfila_n8n_webhook:5678"},{"name":"bottitle","value":"={{ $env['C8Q_QP_BOTTITLE'] ?? 'ChatGPT Trigger' }}"},{"name":"contact","value":"={{ $env['C8Q_QP_CONTACT'] ?? 'control@whatsapp.io' }}"}]},"options":{}},"id":"c617f80f-30ba-4e70-867b-ae63e773134b","name":"execdata","type":"n8n-nodes-base.set","typeVersion":2,"position":[200,900]},{"parameters":{"operation":"executeQuery","query":"SELECT accounts.id AS account_id\nFROM accounts\nLEFT JOIN custom_roles ON accounts.id = custom_roles.account_id \n    AND custom_roles.name = 'ChatGPT' \nWHERE custom_roles.name IS NULL\nORDER BY ACCOUNT_ID ASC;\n","additionalFields":{}},"id":"d8dc3c3a-8e4c-432a-9047-2bf69e385b0b","name":"Missing Automations2","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[460,1140],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"}],"connections":{"Missing Automations":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Missing Quepasa Contact":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule By 1 Minute":{"main":[[{"node":"execdata","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Cria Automação","type":"main","index":0}]]},"Cria o Contato":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Cria o Contato","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"Missing Automations2","type":"main","index":0},{"node":"Missing Automations1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Cria Automação1","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Cria Automação2","type":"main","index":0}]]},"Cria Automação2":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Cria Automação1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Missing Automations1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Cria Automação":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"execdata":{"main":[[{"node":"Missing Automations","type":"main","index":0}]]},"Missing Automations2":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Daily":{"recurrencyRules":[]},"node:Schedule By 1 Minute":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"242b3f79-b4c8-42e0-96b5-9f112448a423","triggerCount":2,"tags":[]}