error-handler-SkcB9PebbNW4c0M1.json
{"createdAt":"2024-11-22T04:36:26.618Z","updatedAt":"2025-03-27T12:28:50.883Z","id":"SkcB9PebbNW4c0M1","name":"Error Handler","active":false,"nodes":[{"parameters":{"fields":{"values":[{"name":"nome_workflow","stringValue":"={{ $json.workflow.name }}"},{"name":"id_workflow","stringValue":"={{ $json.workflow.id }}"},{"name":"id_exec","stringValue":"={{ $json.execution.id }}"},{"name":"msg_erro","stringValue":"={{ $json.execution.error.message }}"},{"name":"node_anterior","stringValue":"={{ $json.execution.lastNodeExecuted }}"},{"name":"modo","stringValue":"={{ $json.execution.mode }}"},{"name":"qphost","stringValue":"https://qps.bee360.com.br"},{"name":"qptoken","stringValue":"jqM5VDrAGdEQWCNpZN37t2aW"},{"name":"telefone","stringValue":"120363375068670416@g.us"}]},"include":"none","options":{}},"id":"20bc903a-3dc8-4541-a5e9-92e43aea1707","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[820,380]},{"parameters":{"baseUrl":"={{ $json.qphost }}","token":"={{ $json.qptoken }}","text":"=❌❌ ERRO EM WORKFLOW ❌❌\nExecução n° {{ $('Edit Fields').item.json[\"id_exec\"] }}\n\nO workflow: *{{ $('Edit Fields').item.json[\"nome_workflow\"] }}* - id: *{{ $('Edit Fields').item.json[\"id_workflow\"] }}* teve um erro.\n\nMensagem erro: *{{ $('Edit Fields').item.json[\"msg_erro\"] }}*. Node: *{{ $json[\"node_anterior\"] }}*\n\nLink: {{ $('Error Trigger').item.json[\"execution\"][\"url\"].replaceAll('.webhook','') }}","chatid":"={{ $json.telefone }}","filelength":0,"trackid":"servidor"},"id":"483b8236-e836-4d13-9f26-13d49fbbba27","name":"Quepasa","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[1100,380]},{"parameters":{},"id":"f885bc42-42d5-4df4-b92b-37bd9c57cdbc","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[360,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0608d5c5-986f-452c-98cc-3ae551cc1a15","leftValue":"={{ $json.execution.error.message }}","rightValue":"This execution failed to be processed too many times and will no longer retry. To allow this execution to complete, please break down your workflow or scale up your workers or adjust your worker settings.","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[580,320],"id":"06ef0d8c-b51d-46b2-9771-49b5a7e9da4a","name":"If"}],"connections":{"Edit Fields":{"main":[[{"node":"Quepasa","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"39147150","url":"https://fluxo.webhook.bee360.com.br/workflow/zOqQmUdRIFpYEbhg/executions/39147150","error":{"level":"warning","tags":{},"message":"This execution failed to be processed too many times and will no longer retry. To allow this execution to complete, please break down your workflow or scale up your workers or adjust your worker settings.","stack":"Error: This execution failed to be processed too many times and will no longer retry. To allow this execution to complete, please break down your workflow or scale up your workers or adjust your worker settings.\n    at /usr/local/lib/node_modules/n8n/dist/workflow-runner.js:277:29\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)"},"mode":"trigger"},"workflow":{"id":"zOqQmUdRIFpYEbhg","name":"[ QUEPASA ] - QuepasaToChatwoot"}}}]},"versionId":"c275930d-39e1-4198-adf9-488c1a49c9eb","triggerCount":0,"tags":[]}