error-handler-SkcB9PebbNW4c0M1.json
{"createdAt":"2024-11-22T04:36:26.618Z","updatedAt":"2025-03-07T15:09:12.788Z","id":"SkcB9PebbNW4c0M1","name":"Error Handler","active":false,"nodes":[{"parameters":{"fields":{"values":[{"name":"nome_workflow","stringValue":"={{ $json.workflow.name }}"},{"name":"id_workflow","stringValue":"={{ $json.workflow.id }}"},{"name":"id_exec","stringValue":"={{ $json.execution.id }}"},{"name":"msg_erro","stringValue":"={{ $json.execution.error.message }}"},{"name":"node_anterior","stringValue":"={{ $json.execution.lastNodeExecuted }}"},{"name":"modo","stringValue":"={{ $json.execution.mode }}"},{"name":"qphost","stringValue":"https://qps.bee360.com.br"},{"name":"qptoken","stringValue":"jqM5VDrAGdEQWCNpZN37t2aW"},{"name":"telefone","stringValue":"120363375068670416@g.us"}]},"include":"none","options":{}},"id":"20bc903a-3dc8-4541-a5e9-92e43aea1707","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[800,320]},{"parameters":{"baseUrl":"={{ $json.qphost }}","token":"={{ $json.qptoken }}","text":"=❌❌ ERRO EM WORKFLOW ❌❌\nExecução n° {{ $('Edit Fields').item.json[\"id_exec\"] }}\n\nO workflow: *{{ $('Edit Fields').item.json[\"nome_workflow\"] }}* - id: *{{ $('Edit Fields').item.json[\"id_workflow\"] }}* teve um erro.\n\nMensagem erro: *{{ $('Edit Fields').item.json[\"msg_erro\"] }}*. Node: *{{ $json[\"node_anterior\"] }}*\n\nLink: {{ $('Error Trigger').item.json[\"execution\"][\"url\"] }}","chatid":"={{ $json.telefone }}","filelength":0,"trackid":"servidor"},"id":"483b8236-e836-4d13-9f26-13d49fbbba27","name":"Quepasa","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[1080,320]},{"parameters":{},"id":"f885bc42-42d5-4df4-b92b-37bd9c57cdbc","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[480,320]}],"connections":{"Edit Fields":{"main":[[{"node":"Quepasa","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c60e363-9029-4209-81b2-1e12a43139ae","triggerCount":0,"tags":[]}