features-wCpGk1SuwkyT1V4a.json
{"createdAt":"2025-01-27T19:01:33.954Z","updatedAt":"2025-01-27T19:23:16.755Z","id":"wCpGk1SuwkyT1V4a","name":"features","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[180,220],"id":"5ce23e3d-3190-454b-86e4-4f7b7c05ccbc","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"accounts","mode":"list","cachedResultName":"accounts"},"returnAll":true,"options":{}},"id":"6b5868dc-4d66-4552-99b0-8e524895a152","name":"Get Accounts","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,220],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"url":"=https://app.bee360.com.br/platform/api/v1/accounts/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"name\": \"{{ $json.name }}\",\n    \"features\": {\n        \"schedule_messages\": true,\n        \"conversation_blink_unread\": false,\n        \"quepasa_api\": true,\n        \"evolution_api\": false\n    }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,220],"id":"88bb6589-15c2-447f-8a0e-2473f7d6a14b","name":"Change Features","credentials":{"httpHeaderAuth":{"id":"8CnIVtBKTD5ezsBG","name":"Bee360 Platform Token"}}},{"parameters":{"url":"=https://app.bee360.com.br/platform/api/v1/accounts/2","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,20],"id":"f529dc49-fb22-49ad-92ed-5df575569929","name":"get features on account","credentials":{"httpHeaderAuth":{"id":"8CnIVtBKTD5ezsBG","name":"Bee360 Platform Token"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"accounts","mode":"list","cachedResultName":"accounts"},"returnAll":true,"options":{}},"id":"756d6520-3793-48bb-b8dd-15a1b6f454e2","name":"Get Accounts1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,520],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"accounts","mode":"list","cachedResultName":"accounts"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","feature_flags":14634617508200336},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"locale","displayName":"locale","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"support_email","displayName":"support_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"feature_flags","displayName":"feature_flags","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"auto_resolve_duration","displayName":"auto_resolve_duration","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"limits","displayName":"limits","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"custom_attributes","displayName":"custom_attributes","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[620,520],"id":"25ef85be-5d94-480c-8d7e-4bd38a7ac259","name":"Postgres","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"content":"## API \n","height":400,"width":920,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"6af4db30-75cb-41b3-b3c9-4a2a4ef287f4","name":"Sticky Note"},{"parameters":{"content":"## DATABASE","height":280,"width":560,"color":7},"type":"n8n-nodes-base.stickyNote","position":[260,440],"typeVersion":1,"id":"75792197-466d-4a7e-8770-2a344281178b","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"0911c235-e848-4f68-a7da-ccf566b073ec","name":"accountId","value":"={{ $json.id }}","type":"string"},{"id":"f009ba54-b2e8-41cf-b72f-c61357b57c66","name":"account_name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,280],"id":"eae73221-8355-467a-93e4-69a61da84e82","name":"Edit Fields1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"platform_app_permissibles","mode":"list","cachedResultName":"platform_app_permissibles"},"columns":{"mappingMode":"defineBelow","value":{"platform_app_id":2,"permissible_type":"Account","permissible_id":"={{ $json.accountId.toNumber() }}","created_at":"={{ $now }}","updated_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"platform_app_id","displayName":"platform_app_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"permissible_type","displayName":"permissible_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"permissible_id","displayName":"permissible_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1420,280],"id":"1fa929c8-87f5-40f1-bb3f-9d792287c6a2","name":"Postgres5","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"accounts","mode":"list","cachedResultName":"accounts"},"returnAll":true,"sort":{"values":[{"column":"id"}]},"options":{"outputColumns":["id","name"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[980,280],"id":"3265eb86-0a65-4a5b-b656-005a929c5297","name":"Postgres1","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get Accounts","type":"main","index":0}]]},"Get Accounts":{"main":[[{"node":"Change Features","type":"main","index":0}]]},"Get Accounts1":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Postgres5","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"72dcb88f-a2fd-4750-bc1f-e1903e174ec8","triggerCount":0,"tags":[]}