getchatwootcontacts-K1z0iQNtjmiFi0mM.json
{"createdAt":"2024-03-09T17:07:40.688Z","updatedAt":"2024-03-09T23:54:14.858Z","id":"K1z0iQNtjmiFi0mM","name":"GetChatwootContacts","active":false,"nodes":[{"parameters":{"baseUrl":"={{$json[\"extra\"][\"cwhost\"]}}","accessToken":"={{$json[\"extra\"][\"utoken\"]}}","resource":"contact","accountId":"={{$json[\"extra\"][\"account\"]}}","sourceId":"={{$json[\"chat\"][\"hex\"]}}","operation":"contactCreate","contactIdentifier":"={{$json[\"chat\"][\"id\"]}}","name":"={{$json[\"chat\"][\"title\"]}}"},"id":"780f742d-c424-48ac-9c32-1867d4e7622c","name":"Create Chat Contact","type":"n8n-nodes-chatwoot.chatwoot","typeVersion":1,"position":[3540,900],"continueOnFail":true},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra","value":"={{$json.extra}}"},{"name":"chat","value":"={{$json.chat}}"},{"name":"participant","value":"={{$json.participant}}"}]},"options":{}},"id":"54c7cba0-4094-400e-ab3b-eb34db2ba7c1","name":"Clearing Payload For Contacts","type":"n8n-nodes-base.set","typeVersion":1,"position":[860,800]},{"parameters":{"jsCode":"function a2hex(str) {\n  var arr = [];\n  for (var i = 0, l = str.length; i < l; i ++) {\n    var hex = Number(str.charCodeAt(i)).toString(16);\n    arr.push(hex);\n  }\n  return arr.join('');\n}\n\nfor (const item of $input.all()) {\n  let body = item.json;\n  if(body){\n    \n    // Covering participant id\n    if(body.participant){\n\n      if(!body.participant.id || body.participant.id.length == 0)\n      {\n        delete body.participant;\n      } \n      else {\n        body.participant.phone = \"+\" + body.participant.id.split('@').shift();\n        body.participant.hex = a2hex(body.participant.id);\n      }\n    }\n\n    // Covering chat id\n    if(body.chat.id){\n      if(!body.chat.id.endsWith('@g.us')){\n        body.chat.phone = \"+\" + body.chat.id.split('@').shift();\n      } else {\n        // adding contact suffix\n        if(body.chat.title){\n          if(!body.chat.title.endsWith('(GROUP)')) {\n            body.chat.title = body.chat.title + ' (GROUP)'\n          }\n        } else {\n          body.chat.title = 'UNKNOWN (GROUP)'\n        }\n      }\n      body.chat.hex = a2hex(body.chat.id);\n    }\n  }\n}\nreturn $input.all();"},"id":"79bd7609-7b74-4f63-8c39-10beeb2da4e5","name":"Cover Ids & Set Phone","type":"n8n-nodes-base.code","typeVersion":1,"position":[1060,800]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra","value":"={{$json.body.extra}}"},{"name":"chat","value":"={{$json.body.chat}}"},{"name":"participant","value":"={{$json.body.participant}}"},{"name":"id","value":"={{$json.body.id}}"},{"name":"timestamp","value":"={{$json.body.timestamp}}"},{"name":"text","value":"={{$json.body.text}}"},{"name":"inreply","value":"={{$json.body.inreply}}"},{"name":"synopsis","value":"={{$json.body.synopsis}}"},{"name":"attachment","value":"={{$json.body.attachment}}"}],"number":[{"name":"type","value":"={{$json.body.type}}"}],"boolean":[{"name":"fromme","value":"={{$json.body.fromme}}"}]},"options":{}},"id":"b222a09a-c5ba-491e-add1-335434920adc","name":"Clearing Payload For Workflow","type":"n8n-nodes-base.set","typeVersion":1,"position":[660,720]},{"parameters":{"errorMessage":"chat not processed "},"id":"0f7c30e6-7b1f-42a8-a8b6-5b9be55beeb7","name":"Stop And Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[4540,820]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.payload?.id}}","operation":"isNotEmpty"}]}},"id":"92d16ade-8163-44de-89bd-4bf01ce2cf4c","name":"If Chat Contact Exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[3160,740]},{"parameters":{"content":"## Chat Contact\n","height":770.5363743991675,"width":3390.946354395323},"id":"91d4c828-6f00-4859-bcbe-b6726ead8b9d","name":"Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1420,580]},{"parameters":{"conditions":{"string":[{"value1":"={{$json?.chat}}","operation":"isNotEmpty"}]}},"id":"dde27198-e252-4132-ac14-b82ce090ef2a","name":"If Chat Exists ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4320,660]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.payload}}","operation":"isNotEmpty"}]}},"id":"f996f5ed-6e9e-419d-9917-3096f6c23869","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[3920,840]},{"parameters":{"amount":"={{ (Math.random() * 5) + 1 }}","unit":"seconds"},"id":"79137775-d420-4970-84dc-e60e949dded7","name":"Wait a while (5s)","type":"n8n-nodes-base.wait","typeVersion":1,"position":[4320,920],"webhookId":"57209d6b-e7a6-4d78-b55c-82f677b13d42"},{"parameters":{"values":{"string":[{"name":"chat.chatwoot.source_id","value":"={{$json.chat.hex}}"},{"name":"chat.chatwoot.skipgreetings","value":"={{ $json.payload.custom_attributes?.skipgreetings ?? false }}"},{"name":"payload","value":"={{ undefined }}"}],"number":[{"name":"chat.chatwoot.id","value":"={{$json.payload.id}}"},{"name":"attempts","value":"={{ undefined }}"}]},"options":{}},"name":"Set SourceId and PayloadId","type":"n8n-nodes-base.set","typeVersion":1,"position":[3340,660],"id":"e25874e0-8acb-49f4-a9dc-8ed7c08bd89f"},{"parameters":{"values":{"string":[{"name":"chat.chatwoot.source_id","value":"={{ $json.payload.contact_inbox.source_id ?? undefined }}"},{"name":"payload","value":"={{ undefined }}"}],"number":[{"name":"chat.chatwoot.id","value":"={{ $json.payload.contact.id }}"},{"name":"attempts","value":"={{ undefined }}"}]},"options":{}},"name":"Set Created Chat Contact Info","type":"n8n-nodes-base.set","typeVersion":1,"position":[4120,760],"id":"8d91df82-a30c-4bfc-a390-64c1d61d45d6"},{"parameters":{"errorMessage":"Error on create contact (expected 422)"},"id":"dfe77e8b-3b07-4cd7-a729-134b68dcf0a7","name":"! Unknown Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[4320,1100]},{"parameters":{"values":{"number":[{"name":"attempts","value":"={{ ($json.attempts ?? 0) + 1 }}"}]},"options":{}},"id":"469a330d-3d68-4fcf-93bc-77f5f7813c68","name":"Set Increment For Chat Contact Attempt","type":"n8n-nodes-base.set","typeVersion":1,"position":[1520,740]},{"parameters":{},"id":"ecb92cfe-5a3b-4984-bbb4-fd2c33462823","name":"Retry To Chat Contact","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4540,1100]},{"parameters":{"values":{"number":[{"name":"payload.id","value":"={{ $json.ctid }}"}],"boolean":[{"name":"payload.custom_attributes.skipgreetings","value":"={{ $json.ctatts?.skipgreetings ?? false }}"}],"string":[{"name":"ctid","value":"={{ undefined }}"},{"name":"ctatts","value":"={{ undefined }}"}]},"options":{}},"name":"Set ContactId Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[2960,740],"id":"bd7373a7-445f-486b-8fb1-5d96e4269eed"},{"parameters":{"content":"## (1.0.5) Updates\n* synopsis\n\n## Recommendations \n* Remember set timeout to 20 seconds","height":201.45401153644474,"width":467.54452018877896},"id":"072b302b-38ce-469f-9d68-55083bb523f8","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{},"id":"40d5bb5f-c07a-4c39-87e4-1f4e576200b8","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[480,720]},{"parameters":{},"id":"8ce45ced-fee5-488b-a08e-85f246dfa8ae","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3340,820]},{"parameters":{},"id":"32f089be-d27f-4b9d-b8ce-ae5cc033cfe3","name":"Return Payload","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4540,640],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"14b6b643-6f4b-45ea-b44a-ace85559acf4","name":"Parameters + Contacts","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1260,740],"executeOnce":false},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"3c6a4e9e-b59c-4039-8f6b-5627e4a3f659","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3740,840]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error ?? \"\" }}","operation":"contains","value2":"could not be processed"}],"number":[{"value1":"={{ $json.attempts ?? 0 }}","value2":2}]}},"id":"2ca5385e-55f1-408d-a240-d86baaa7a10f","name":"If Error 422 & Has Attempts Remaning ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4120,940]},{"parameters":{"operation":"executeQuery","query":"=SELECT id as ctid, custom_attributes as ctatts FROM contacts WHERE account_id = '{{ $json.extra.account }}' AND identifier = '{{ $json.chat.id }}'","additionalFields":{}},"id":"a29f756f-91d7-40f9-9fb0-cb1b2bcbd3f8","name":"Get Contact Data By Identifier","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1680,840],"retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"maxTries":2,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT id as ctid, custom_attributes as ctatts FROM contacts WHERE account_id = '{{ $json.extra.account }}' AND phone_number = '{{ $json.chat.phone }}' limit 1","additionalFields":{}},"id":"4d8dd39e-c21e-4b13-9462-b0ed4e095056","name":"Get Contact Data By Phone","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[2420,920],"retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"maxTries":2,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.ctid }}","operation":"isNotEmpty"}]},"combineOperation":"any"},"id":"105f237e-4c3d-4f99-ba50-e6198a9f3714","name":"If Identifier Found ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2040,760]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"9dee6dfb-2323-4833-b21c-3c4a7ca2a393","name":"Merge Extra With Id","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1860,760],"notesInFlow":false},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"d97dedcc-da05-46c2-9a55-ae2b86a372bd","name":"Merge Extra With Phone","type":"n8n-nodes-base.merge","typeVersion":2,"position":[2600,860],"notesInFlow":false},{"parameters":{},"id":"295b044b-fd91-462c-a767-5b6406238b81","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2780,800]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.chat.phone }}","operation":"isEmpty"}]}},"id":"6196fb11-84ff-4bfd-a72a-6ebb3799453e","name":"If Has No Phone ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2240,820]}],"connections":{"Create Chat Contact":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Clearing Payload For Contacts":{"main":[[{"node":"Cover Ids & Set Phone","type":"main","index":0}]]},"Cover Ids & Set Phone":{"main":[[{"node":"Parameters + Contacts","type":"main","index":1}]]},"Clearing Payload For Workflow":{"main":[[{"node":"Clearing Payload For Contacts","type":"main","index":0},{"node":"Parameters + Contacts","type":"main","index":0}]]},"If Chat Contact Exists":{"main":[[{"node":"Set SourceId and PayloadId","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"If Chat Exists ?":{"main":[[{"node":"Return Payload","type":"main","index":0}],[{"node":"Stop And Error","type":"main","index":0}]]},"IF":{"main":[[{"node":"Set Created Chat Contact Info","type":"main","index":0}],[{"node":"If Error 422 & Has Attempts Remaning ?","type":"main","index":0}]]},"Set SourceId and PayloadId":{"main":[[{"node":"If Chat Exists ?","type":"main","index":0}]]},"Set Created Chat Contact Info":{"main":[[{"node":"If Chat Exists ?","type":"main","index":0}]]},"Wait a while (5s)":{"main":[[{"node":"Retry To Chat Contact","type":"main","index":0}]]},"Set Increment For Chat Contact Attempt":{"main":[[{"node":"Merge Extra With Id","type":"main","index":0},{"node":"Get Contact Data By Identifier","type":"main","index":0}]]},"Retry To Chat Contact":{"main":[[{"node":"Set Increment For Chat Contact Attempt","type":"main","index":0}]]},"Set ContactId Payload":{"main":[[{"node":"If Chat Contact Exists","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"Clearing Payload For Workflow","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Create Chat Contact","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Parameters + Contacts":{"main":[[{"node":"Set Increment For Chat Contact Attempt","type":"main","index":0}]]},"Merge":{"main":[[{"node":"IF","type":"main","index":0}]]},"If Error 422 & Has Attempts Remaning ?":{"main":[[{"node":"Wait a while (5s)","type":"main","index":0}],[{"node":"! Unknown Error","type":"main","index":0}]]},"Get Contact Data By Identifier":{"main":[[{"node":"Merge Extra With Id","type":"main","index":1}]]},"Get Contact Data By Phone":{"main":[[{"node":"Merge Extra With Phone","type":"main","index":1}]]},"If Identifier Found ?":{"main":[[{"node":"Set ContactId Payload","type":"main","index":0}],[{"node":"If Has No Phone ?","type":"main","index":0}]]},"Merge Extra With Id":{"main":[[{"node":"If Identifier Found ?","type":"main","index":0}]]},"Merge Extra With Phone":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Set ContactId Payload","type":"main","index":0}]]},"If Has No Phone ?":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Merge Extra With Phone","type":"main","index":0},{"node":"Get Contact Data By Phone","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"de9e79c7-e420-4aac-8614-71554f07be6c","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"}]}