my-workflow-qgGdAMkNtJy5SWmQ.json
{"createdAt":"2024-11-28T05:06:15.982Z","updatedAt":"2024-11-28T05:55:15.039Z","id":"qgGdAMkNtJy5SWmQ","name":"My workflow","active":false,"nodes":[{"parameters":{},"id":"1020dc53-040b-4734-a923-6111813d6856","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[300,340]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"conversations","mode":"list","cachedResultName":"conversations"},"returnAll":true,"where":{"values":[{"column":"account_id","value":"20"},{"column":"assignee_id","value":"1"}]},"options":{"outputColumns":["account_id","assignee_id","display_id"]}},"id":"13c21f21-3c2a-4250-9aa0-70d582a4882c","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[520,340],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"method":"PATCH","url":"=https://app.bee360.com.br/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.display_id }}/participants","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_ids\":[{{ $json.assignee_id }}]}","options":{}},"id":"4a78a26c-c15a-4678-9791-dd7c5e54ac9a","name":"Adiciona um participante","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,360],"credentials":{"httpHeaderAuth":{"id":"EjFedmv05mPaSB9a","name":"BEE360 TOKEN #1"}}},{"parameters":{"batchSize":200,"options":{}},"id":"c8512b28-769f-406a-98f7-9d972d36aa3e","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,340]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Adiciona um participante","type":"main","index":0}]]},"Adiciona um participante":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ee7b0578-7993-44ee-b0f6-b8073812cbe4","triggerCount":0,"tags":[]}