my-workflow-3-SXoVmceCXNe2eZbs.json
{"createdAt":"2025-03-10T02:05:12.226Z","updatedAt":"2025-03-10T03:02:41.059Z","id":"SXoVmceCXNe2eZbs","name":"My workflow 3","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-880,-20],"id":"e94a811c-9daf-414f-b5c1-432152c8e7af","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://qps.bee360.com.br/info","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-QUEPASA-TOKEN","value":"={{ $json.identifier }}"}]},"options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-420,-20],"id":"23a32058-da25-4244-b2b5-ad42c718a89e","name":"HTTP Request"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"channel_api","mode":"list","cachedResultName":"channel_api"},"returnAll":true,"options":{"outputColumns":["id","identifier","webhook_url"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-660,-20],"id":"947943d2-f96b-40c2-a703-c6da462401ba","name":"Postgres","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db61be3e-5ec4-4d87-93e0-e54f35879518","leftValue":"={{ $json.server }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-200,-20],"id":"67122c7d-ef3f-4f4b-bc25-3709509ae812","name":"Filter"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Filter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Postgres":[{"json":{"id":"8","identifier":"p2W5urT6TbeLsjmCTfvWRJUV","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=p2W5urT6TbeLsjmCTfvWRJUV&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=5dbd74ed0e95b7c1acea8a4&pat=false&singlethread=true&soc=true"}},{"json":{"id":"9","identifier":"upenXzzgrCuYxwfBxEpaYEDG","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=upenXzzgrCuYxwfBxEpaYEDG&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=5dbd74ed0e95b7c1acea8a4&pat=false&soc=true"}},{"json":{"id":"7","identifier":"cxRXWNJjJv2vRdAYefMgejiu","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=cxRXWNJjJv2vRdAYefMgejiu&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=4KS6ysh4WfdD9cKZHviJndBH&atoken=0e9a9bc488cd230147353a0&pat=true&soc=true"}},{"json":{"id":"20","identifier":"tAGCPemnEoFutA2SEcsSsXeK","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=tAGCPemnEoFutA2SEcsSsXeK&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=282bf067498b8b782374c9b&pat=false"}},{"json":{"id":"10","identifier":"zH8UUtYaFYrAxz4tV1GMpyxK","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=zH8UUtYaFYrAxz4tV1GMpyxK&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=99ddf1e13bcaa64487e6ffa&pat=false"}},{"json":{"id":"418","identifier":"euNTxJ75B3NYSJhCSd8571Rt","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=euNTxJ75B3NYSJhCSd8571Rt&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=kgkjBu54ebSDUTDLtzhEB8jZ&pat=true&soc=true"}},{"json":{"id":"6","identifier":"dyBEuKBMkEbAXvYHWrhsLvyV","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=dyBEuKBMkEbAXvYHWrhsLvyV&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=5bff58e3045f1a8259b5787"}},{"json":{"id":"13","identifier":"P4eo9BF3g3uCUpwdknMz2esL","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=P4eo9BF3g3uCUpwdknMz2esL&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=5bff58e3045f1a8259b5787"}},{"json":{"id":"216","identifier":"Myu64fcFAr2uUuvrcFvpFynw","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_270_Myu64fcFAr2uUuvrcFvpFynw"}},{"json":{"id":"22","identifier":"DxCzPf4y8SizXKraGvmzwXeo","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=DxCzPf4y8SizXKraGvmzwXeo&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e2049bf81c50dc3cb399d5a&pat=false"}},{"json":{"id":"16","identifier":"TUk7z4vBhUW1Q3WZeg2uRkBK","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=TUk7z4vBhUW1Q3WZeg2uRkBK&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=17747589d6496cc7e56c41c"}},{"json":{"id":"19","identifier":"sGV2KGt7NQqsBD8TUxJJui8n","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=sGV2KGt7NQqsBD8TUxJJui8n&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=3fea2d2e92741250e0f6006&pat=true&singlethread=true&soc=true"}},{"json":{"id":"12","identifier":"J3SphV8844tsvQ5vCXpKsJjg","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=J3SphV8844tsvQ5vCXpKsJjg&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=99ddf1e13bcaa64487e6ffa"}},{"json":{"id":"18","identifier":"byXQJBBbcNkiwWjzq3eEYNtR","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=byXQJBBbcNkiwWjzq3eEYNtR&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3b6ecc305d6445ff177d95"}},{"json":{"id":"17","identifier":"T9mqKjejsGU2tdNtHacQ8h8c","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=T9mqKjejsGU2tdNtHacQ8h8c&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=17747589d6496cc7e56c41c"}},{"json":{"id":"23","identifier":"5Un3hqipsULBtzFqfJaGo8gJ","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=5Un3hqipsULBtzFqfJaGo8gJ&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e2049bf81c50dc3cb399d5a&pat=false"}},{"json":{"id":"24","identifier":"uxhR1ZJYcGktL4HY8ayWqBza","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=uxhR1ZJYcGktL4HY8ayWqBza&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=3bb8551cd57dc927dc0e142"}},{"json":{"id":"25","identifier":"2vZ74hrN8d13L7emEoNrpxjd","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=2vZ74hrN8d13L7emEoNrpxjd&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e18d879ef58e37c8b99f68c"}},{"json":{"id":"266","identifier":"HqChf7uGU3p6uRv3EqtrLfw3","webhook_url":""}},{"json":{"id":"276","identifier":"jtcXTTKrcx24gQrow4Pt8a8h","webhook_url":""}},{"json":{"id":"277","identifier":"Lv4T4ncxBKN4Nki3rQ4i7fuZ","webhook_url":""}},{"json":{"id":"111","identifier":"cUP87mrD4QjqkmkALAX2ACN2","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/47_160_cUP87mrD4QjqkmkALAX2ACN2"}},{"json":{"id":"278","identifier":"BRpVDiuWWn5b9mjD5XGfhxPc","webhook_url":""}},{"json":{"id":"21","identifier":"Vbvx2PACoQ9mbxPXxZP71ZSx","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=Vbvx2PACoQ9mbxPXxZP71ZSx&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=KWh3uaLG7Q4dcoaKBwNx7ynw&atoken=f86da54485ba13bb7856c0c&pat=false"}},{"json":{"id":"121","identifier":"2xPSocM9frPffQHSnKJ5ZmsB","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/49_171_2xPSocM9frPffQHSnKJ5ZmsB"}},{"json":{"id":"57","identifier":"BCdtVeZyv7Jxe6YuD5dWo96S","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=BCdtVeZyv7Jxe6YuD5dWo96S&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=b16d4390ece8cb41f8810a5"}},{"json":{"id":"295","identifier":"CH3VzgVQ2EQDeiNo6xmdn81C","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=CH3VzgVQ2EQDeiNo6xmdn81C&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=XucEKN9PCKSFUFBHnbe6kL4F&pat=true&singlethread=true&soc=true"}},{"json":{"id":"59","identifier":"bKhKzf7X72nSRbmPNPMwWocS","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=bKhKzf7X72nSRbmPNPMwWocS&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3nLN2WM3nsUbeM31BudDvit&pat=false&singlethread=true&soc=true"}},{"json":{"id":"58","identifier":"SoUEZnkwiZW2xuNUcJ5NcfaM","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=SoUEZnkwiZW2xuNUcJ5NcfaM&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3nLN2WM3nsUbeM31BudDvit&pat=false&singlethread=true&soc=true"}},{"json":{"id":"48","identifier":"mdSyGFSC8Z5yNCFhimFqbdUX","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?identifier=mdSyGFSC8Z5yNCFhimFqbdUX&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=b86fc6f7c090574039fd77e&qphost=https://qps.bee360.com.br&cwhost=https://app.bee360.com.br"}},{"json":{"id":"36","identifier":"wgky7ThqbjJmbk3vJvBM2d5Y","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=wgky7ThqbjJmbk3vJvBM2d5Y&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=187409faa419217a00d4def&pat=false&singlethread=true&soc=true"}},{"json":{"id":"44","identifier":"c2EYsRXErb9WPnMieWaacbUo","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=c2EYsRXErb9WPnMieWaacbUo&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3nLN2WM3nsUbeM31BudDvit&pat=false&singlethread=true&soc=true"}},{"json":{"id":"38","identifier":"LpJU5NULoViSMF3GE5pAvXc2","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=LpJU5NULoViSMF3GE5pAvXc2&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=a59c9d4286e506599b97133&pat=false&soc=false"}},{"json":{"id":"42","identifier":"17rCCkw486U5EirnhmuxLqEp","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=17rCCkw486U5EirnhmuxLqEp&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=ec921f168c79c6eb7b9f91b&pat=true&singlethread=true&soc=true"}},{"json":{"id":"39","identifier":"GEE3qSkY8dmtQXKuqT19x4q1","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?identifier=GEE3qSkY8dmtQXKuqT19x4q1&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=1d35e3bcf89d870a606b1f0&qphost=https://qps.bee360.com.br&cwhost=https://app.bee360.com.br"}},{"json":{"id":"56","identifier":"LLhvPLk4aSYSDGdBQbpfJG5m","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=LLhvPLk4aSYSDGdBQbpfJG5m&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=5ced3dda90e8136d6602d54"}},{"json":{"id":"41","identifier":"kSf15mJK4Ny5cwjvgw8cNCoe","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=kSf15mJK4Ny5cwjvgw8cNCoe&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=cb472c46a6198f882d30090&pat=false"}},{"json":{"id":"267","identifier":"aMbmnQiadJEBwc9YqvyG4SxS","webhook_url":""}},{"json":{"id":"268","identifier":"crSXLF761KkEGEgbax7J37SS","webhook_url":""}},{"json":{"id":"270","identifier":"rtAyRoPT9Wf2YrCCbo3gn38U","webhook_url":""}},{"json":{"id":"271","identifier":"jokqaVtvWHWwY3SbiextZMoH","webhook_url":""}},{"json":{"id":"54","identifier":"REVv9UzBNMGdyG5zg7r4Grhp","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?identifier=REVv9UzBNMGdyG5zg7r4Grhp&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=804283e851a299c31c78b3e&qphost=https://qps.bee360.com.br&cwhost=https://app.bee360.com.br&pat=false"}},{"json":{"id":"272","identifier":"1k1a4fLsuZ6k9i3wob5FUwZt","webhook_url":""}},{"json":{"id":"45","identifier":"AhNiAkkF1BePEBrgdR3XJfHF","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=AhNiAkkF1BePEBrgdR3XJfHF&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=02004dd282d56f5c37a0f9f&pat=false"}},{"json":{"id":"273","identifier":"QPvUPsVW9oriYhQ53GKy4Dc9","webhook_url":""}},{"json":{"id":"132","identifier":"sci6KiCrD2jpXwwWTmvBGFYV","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_185_sci6KiCrD2jpXwwWTmvBGFYV"}},{"json":{"id":"34","identifier":"68GmKTghRqwKmQ1FyqDRRXG1","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=68GmKTghRqwKmQ1FyqDRRXG1&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=ef3c7d40ecde81d133027f2"}},{"json":{"id":"26","identifier":"nJgddB85b7EEQxsfcrxUXvw3","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=nJgddB85b7EEQxsfcrxUXvw3&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=ec921f168c79c6eb7b9f91b"}},{"json":{"id":"61","identifier":"xFAF1cbUqjmNN33AyTJEAkNu","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=xFAF1cbUqjmNN33AyTJEAkNu&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=71707ffc729d58639c7ce65"}},{"json":{"id":"71","identifier":"fLZP6JDJEgW7CR334ppNyPrG","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=fLZP6JDJEgW7CR334ppNyPrG&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=13c86338daf54eb991908db"}},{"json":{"id":"62","identifier":"jHgkjLDu1a5Rz6UrxobxWjan","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=jHgkjLDu1a5Rz6UrxobxWjan&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=c560dec4a109980a4f89dd7&pat=true&singlethread=true&soc=true"}},{"json":{"id":"65","identifier":"VxKJKDzv3E1QWL1YjHqAVvnw","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=VxKJKDzv3E1QWL1YjHqAVvnw&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=3801de7ebe015797dfcdf11"}},{"json":{"id":"73","identifier":"5AwpfH8H3JcbtK8vweecNWyq","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=5AwpfH8H3JcbtK8vweecNWyq&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=0607b4062f10cb28e07bc18&pat=false"}},{"json":{"id":"85","identifier":"zZeA1iMgbVZo9Rjrn2gBhDuM","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/Ousen"}},{"json":{"id":"66","identifier":"zXEzBzRStY1qJiswiRTByYRE","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=zXEzBzRStY1qJiswiRTByYRE&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=09466de748c3e4f963fc3ea"}},{"json":{"id":"67","identifier":"vdPhzbhp4hdrVFsJitWo7MSP","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=vdPhzbhp4hdrVFsJitWo7MSP&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=09466de748c3e4f963fc3ea"}},{"json":{"id":"122","identifier":"6Eo7JNbkXT3M7wKUQL6BCv1E","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/51_172_6Eo7JNbkXT3M7wKUQL6BCv1E"}},{"json":{"id":"69","identifier":"3vxjtnGZS1o6KYiX6deBHyQo","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/FloriculturaMyb"}},{"json":{"id":"70","identifier":"gBUMHosZ7Fr3azfZLHg2s8zB","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=gBUMHosZ7Fr3azfZLHg2s8zB&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=13c86338daf54eb991908db"}},{"json":{"id":"75","identifier":"53r1B1Gkg1cF6T3vAw9rKAAr","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=53r1B1Gkg1cF6T3vAw9rKAAr&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=mq27t7LVsgCecyHxfv2uGdYF&atoken=ngBXCAThw5rGphhx7XK6cSX5&pat=false"}},{"json":{"id":"78","identifier":"jqM5VDrAGdEQWCNpZN37t2aW","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=jqM5VDrAGdEQWCNpZN37t2aW&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=f50299346d5eff341ad22e8&pat=false&singlethread=true&soc=true"}},{"json":{"id":"124","identifier":"UeBBP47x7YZA1jmsBnkJ1qNj","webhook_url":""}},{"json":{"id":"123","identifier":"sUsBaLqxre1qK3joYQePNzhE","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=sUsBaLqxre1qK3joYQePNzhE&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=Kjo8pA6YGRHPGErLUmC9dVC8&atoken=937591f1d685ada66dccac1&pat=false&singlethread=true&soc=true"}},{"json":{"id":"82","identifier":"QkecuUk1mZ1V5ngD2KxKT9YU","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=QkecuUk1mZ1V5ngD2KxKT9YU&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=EiNJKPnYv7C3xbW9LwAuBfna&atoken=6whgLTvB5ChwYYCZvFqMMonB&pat=true&soc=true"}},{"json":{"id":"63","identifier":"yF8XwAF2VDt2TzCxC3QNkbeu","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/BelFioreEstofados"}},{"json":{"id":"420","identifier":"xoFfm26j1x4CqqvVfhKpZFEP","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=xoFfm26j1x4CqqvVfhKpZFEP&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=XucEKN9PCKSFUFBHnbe6kL4F&pat=false&soc=true"}},{"json":{"id":"83","identifier":"PYgneHUsK9D7q2WQ3jAxbkgr","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=PYgneHUsK9D7q2WQ3jAxbkgr&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e92b3c54f4669e16e6342af&pat=true&singlethread=true&soc=true"}},{"json":{"id":"84","identifier":"LQgvjDbTff7VfSNKYdcNJv5y","webhook_url":"http://n8nfila_n8n_webhook:5678/webhook/from-chatwoot?qphost=http://quepasa:31000&identifier=LQgvjDbTff7VfSNKYdcNJv5y&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=LNBSLD85GW4LkmPRHkwqKBf3&atoken=e92b3c54f4669e16e6342af"}},{"json":{"id":"81","identifier":"4qtRNJFSSKXgdBpMCaPGakq7","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/43_123_4qtRNJFSSKXgdBpMCaPGakq7"}},{"json":{"id":"80","identifier":"pd8Y3U933YN7wCf9QsooJEGr","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?identifier=pd8Y3U933YN7wCf9QsooJEGr&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=f7cb1c03f1c8bbae35b6e20&qphost=https://qps.bee360.com.br&cwhost=https://app.bee360.com.br"}},{"json":{"id":"201","identifier":"hiqBDWjyhXSKbt2xoKsdZpmp","webhook_url":""}},{"json":{"id":"208","identifier":"gwQQyixG7L9r6hEGwdJw5rhC","webhook_url":""}},{"json":{"id":"421","identifier":"m4h8RyDPiPc88Jc2y6XpPoTS","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=m4h8RyDPiPc88Jc2y6XpPoTS&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=554CnfbQFCn81nYxxdJsPcNB&atoken=iToGFBC1jsWjE8gfqnddtenw&pat=true&singlethread=true&soc=true"}},{"json":{"id":"119","identifier":"rWF2pQvXbV41cUv2FTzmLD2h","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=rWF2pQvXbV41cUv2FTzmLD2h&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=09466de748c3e4f963fc3ea"}},{"json":{"id":"127","identifier":"ubZ2Wo7pau1Nb1DGtqkYmgHN","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=ubZ2Wo7pau1Nb1DGtqkYmgHN&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=Kjo8pA6YGRHPGErLUmC9dVC8&atoken=937591f1d685ada66dccac1&pat=false&singlethread=true&soc=true"}},{"json":{"id":"155","identifier":"6GavYQpe48fG2S5MZHCit6PW","webhook_url":""}},{"json":{"id":"178","identifier":"SWDfjpXjHz3hkHdRggDzr4jp","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=SWDfjpXjHz3hkHdRggDzr4jp&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=zmu3Z1FvGx9s6TFPGszSzpM4&pat=false&soc=true"}},{"json":{"id":"175","identifier":"hDeb9u1b8ghghVBPwhdVLX7W","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=hDeb9u1b8ghghVBPwhdVLX7W&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3nLN2WM3nsUbeM31BudDvit&pat=false&soc=false"}},{"json":{"id":"170","identifier":"tUfyJoxZgmv6YB4afhzvWimG","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_223_tUfyJoxZgmv6YB4afhzvWimG"}},{"json":{"id":"171","identifier":"r4wnart6946oTfmR3fKKDPDZ","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_224_r4wnart6946oTfmR3fKKDPDZ"}},{"json":{"id":"172","identifier":"WNw4XNB12izAdaFMrxMVa1au","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_225_WNw4XNB12izAdaFMrxMVa1au"}},{"json":{"id":"173","identifier":"DFjUZ7e1CU7V93dA7953iMCY","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_226_DFjUZ7e1CU7V93dA7953iMCY"}},{"json":{"id":"151","identifier":"sXjtp2ZVBTkGW1TkK65XPF4d","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_204_sXjtp2ZVBTkGW1TkK65XPF4d"}},{"json":{"id":"174","identifier":"uM8LGVCygEy1sZZ8XvVHnsRH","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_227_uM8LGVCygEy1sZZ8XvVHnsRH"}},{"json":{"id":"176","identifier":"f4wcCoMxe5g2WiaSsF8p4F1z","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_229_f4wcCoMxe5g2WiaSsF8p4F1z"}},{"json":{"id":"179","identifier":"5xVdXgGJpfBmsZHqb5zTGz6F","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=5xVdXgGJpfBmsZHqb5zTGz6F&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=zmu3Z1FvGx9s6TFPGszSzpM4&pat=false&singlethread=true&soc=true"}},{"json":{"id":"165","identifier":"TanNHkNvoFCSeSdvM3yW2Ads","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_218_TanNHkNvoFCSeSdvM3yW2Ads"}},{"json":{"id":"181","identifier":"cZHpds27igPxB2UKwtVtJxXN","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=cZHpds27igPxB2UKwtVtJxXN&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=zmu3Z1FvGx9s6TFPGszSzpM4&pat=false&singlethread=true&soc=true"}},{"json":{"id":"167","identifier":"uWuFc1rDHMV7LEfjGprQs2yg","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_220_uWuFc1rDHMV7LEfjGprQs2yg"}},{"json":{"id":"168","identifier":"fsmrYBh1suKEofoaG3NRAVU9","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_221_fsmrYBh1suKEofoaG3NRAVU9"}},{"json":{"id":"169","identifier":"LkshGmjGcE58oUVr45zgohSa","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_222_LkshGmjGcE58oUVr45zgohSa"}},{"json":{"id":"180","identifier":"f4xSdCZemAgRpg7AeQfu9Ju4","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=f4xSdCZemAgRpg7AeQfu9Ju4&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=zmu3Z1FvGx9s6TFPGszSzpM4&pat=false&singlethread=true&soc=true"}},{"json":{"id":"185","identifier":"VNnVFKn4NxHCsM4YYwgtpSkv","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_238_VNnVFKn4NxHCsM4YYwgtpSkv"}},{"json":{"id":"182","identifier":"TBbuNcM2YUVr8cf5kcoNq1UT","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_235_TBbuNcM2YUVr8cf5kcoNq1UT"}},{"json":{"id":"187","identifier":"icKFUtzR1fRtpYN59cgV37CU","webhook_url":""}},{"json":{"id":"192","identifier":"nkpKy7dvpSk8WAwNNQnuLzCf","webhook_url":""}},{"json":{"id":"190","identifier":"R5rJ1YsUvaPNg5JmLnVv1GKQ","webhook_url":""}},{"json":{"id":"194","identifier":"hWpTpSXpirChpAKqBiXBGHAV","webhook_url":""}},{"json":{"id":"195","identifier":"zGHDPzVAFCSF2YGFWKnNvf55","webhook_url":""}},{"json":{"id":"196","identifier":"2sbm76bDtjaj3dWV3w2kCLC1","webhook_url":""}},{"json":{"id":"197","identifier":"H6A7e8FZXLpPzr6W9Z4Fqy4P","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_250_H6A7e8FZXLpPzr6W9Z4Fqy4P"}},{"json":{"id":"198","identifier":"rnKyHPF6vVugY6ru52Cxkqj4","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_251_rnKyHPF6vVugY6ru52Cxkqj4"}},{"json":{"id":"199","identifier":"2XK88agabca6uLbrccNvyZEH","webhook_url":""}},{"json":{"id":"207","identifier":"KfJf5KScABCvV62ZZHcYS3XJ","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=KfJf5KScABCvV62ZZHcYS3XJ&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=8Ty5xABS7nUEu7L53tjqeGyc&pat=true&singlethread=true&soc=true"}},{"json":{"id":"203","identifier":"XXPF9VAhfL7uBmjncNJ5wNVR","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_256_XXPF9VAhfL7uBmjncNJ5wNVR"}},{"json":{"id":"306","identifier":"xE7eNai6bPYzXZTyn2bf9ALZ","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_204_sXjtp2ZVBTkGW1TkK65XPF4d"}},{"json":{"id":"205","identifier":"RVvjte6M9Ytm4nkK1PVKZDvu","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_258_RVvjte6M9Ytm4nkK1PVKZDvu"}},{"json":{"id":"206","identifier":"nMhthyWsamNPV2oqGzhbQ6T8","webhook_url":""}},{"json":{"id":"308","identifier":"iby3vjqDjE3hXkTvSnQ8LEXS","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_304_WNcLZiU1K3ya4rsZc6LhnyZb"}},{"json":{"id":"307","identifier":"DiQGWvjQEtKq13aj1W7T3pZt","webhook_url":""}},{"json":{"id":"313","identifier":"hHxVTbR7dBYhA1uVARsZEJ2K","webhook_url":""}},{"json":{"id":"309","identifier":"GQ7WubxeebsrkjD3kAGTd773","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_218_TanNHkNvoFCSeSdvM3yW2Ads"}},{"json":{"id":"310","identifier":"HjQPqRJ16Z1Jwz1aPwFMxPHj","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_305_VmANBo9GQwxs6Z2qq7m9L3Wy"}},{"json":{"id":"293","identifier":"5MAW6ZvR3jq1gAGQxaK1Bqya","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=5MAW6ZvR3jq1gAGQxaK1Bqya&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3nLN2WM3nsUbeM31BudDvit&pat=false&soc=true"}},{"json":{"id":"274","identifier":"AJaxcs3snVkncH54XnYGw78u","webhook_url":""}},{"json":{"id":"279","identifier":"W3oafhNx5rvxWW3dPZqbvFif","webhook_url":""}},{"json":{"id":"280","identifier":"FcULzgoQq9EwE8JmBv8R3rMr","webhook_url":""}},{"json":{"id":"281","identifier":"KwYRQ3RurwFgeyt1jgbrNQPs","webhook_url":""}},{"json":{"id":"282","identifier":"R1JDLLeav88YKxd4dsQ5uGdx","webhook_url":""}},{"json":{"id":"283","identifier":"UTxwXFCCTfsqMqDFMKXHCDuW","webhook_url":""}},{"json":{"id":"284","identifier":"Djt2TkvXSij6vYgtFQWCvPSP","webhook_url":""}},{"json":{"id":"285","identifier":"4wjQocBthJhj5F6LrS85Rboe","webhook_url":""}},{"json":{"id":"286","identifier":"eGP2nUWr8nCRJVPhLcZZTDCJ","webhook_url":""}},{"json":{"id":"287","identifier":"jjx76Q9yhkGKEWd39CrhnLhx","webhook_url":""}},{"json":{"id":"288","identifier":"zGjezkSmcvFx7GA9avLxnGC8","webhook_url":""}},{"json":{"id":"408","identifier":"oWobmkoV4BFcWLmyBpAEMCq3","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=oWobmkoV4BFcWLmyBpAEMCq3&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=a59c9d4286e506599b97133&pat=false&soc=false"}},{"json":{"id":"291","identifier":"DsrsJ7NBgVpAaz1qbod44wFa","webhook_url":""}},{"json":{"id":"297","identifier":"1qfmX17iZRJ7YPNEYtSvZ1Q7","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_241_YJjuaEYkgw5UJ2AmEwm2V3ay"}},{"json":{"id":"298","identifier":"G6bsFijryME7ymnZXy6NmohD","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_244_s7VtqmUwprA7Atuj5oujhskK"}},{"json":{"id":"299","identifier":"Uj9jn9RXvRJ6MCRUmCdJ67E6","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_246_D84WivgGnZJGm8z79oHFEYqF"}},{"json":{"id":"301","identifier":"XmC8gu5TLv17RjVySm4hAfn3","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_289_92i3GyRWv5kXELmUgHq2iryY"}},{"json":{"id":"302","identifier":"sjpv3ts6Z14fQ5LfqJtRT8on","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_315_nAuySsB2DJqMuzFJhBFc7pGq"}},{"json":{"id":"303","identifier":"SiH8JM5Pygjaz7cCkQBuokXu","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_338_UTxwXFCCTfsqMqDFMKXHCDuW"}},{"json":{"id":"304","identifier":"N8iLtb4JBpc2Sb1853tdvAyR","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_303_M3S5YoR7KPqug11h6wJXdas8"}},{"json":{"id":"305","identifier":"XiqqKQ5uf97F32rHupta8Yh6","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_328_QPvUPsVW9oriYhQ53GKy4Dc9"}},{"json":{"id":"311","identifier":"jRuiH5qqm8cxGoGRb9djHTj4","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_325_rtAyRoPT9Wf2YrCCbo3gn38U"}},{"json":{"id":"312","identifier":"yEPj9wLKMuzrEpYMNWWADsxf","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_329_AJaxcs3snVkncH54XnYGw78u"}},{"json":{"id":"314","identifier":"9N1q8TsCon7P7FJC5cSPA2na","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_332_Lv4T4ncxBKN4Nki3rQ4i7fuZ"}},{"json":{"id":"315","identifier":"B8kji7FybjgR6oQL2psYKodb","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_333_BRpVDiuWWn5b9mjD5XGfhxPc"}},{"json":{"id":"316","identifier":"pieF3LJtJLXtqrMkDMumq9X7","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_334_W3oafhNx5rvxWW3dPZqbvFif"}},{"json":{"id":"317","identifier":"E5fzNPqen2EB3mMGm7xvGNcG","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_335_FcULzgoQq9EwE8JmBv8R3rMr"}},{"json":{"id":"318","identifier":"N2KxnZmYUETMV6fgBVqDzbQL","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_336_KwYRQ3RurwFgeyt1jgbrNQPs"}},{"json":{"id":"319","identifier":"kk9DU64ZKhVtYj3wpMUyY6te","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_337_R1JDLLeav88YKxd4dsQ5uGdx"}},{"json":{"id":"320","identifier":"rGqtEY874Yevj3WfuS1gLVWz","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_339_Djt2TkvXSij6vYgtFQWCvPSP"}},{"json":{"id":"300","identifier":"mzmmTBVhevifsPgwS5RDLMGe","webhook_url":""}},{"json":{"id":"398","identifier":"VpRNwm37akgb5hqKCwEDS4V4","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/60_454_VpRNwm37akgb5hqKCwEDS4V4"}},{"json":{"id":"112","identifier":"8V3pfE6pKCxRk7f34tfquCQk","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=8V3pfE6pKCxRk7f34tfquCQk&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=6whgLTvB5ChwYYCZvFqMMonB&pat=true&soc=true"}},{"json":{"id":"247","identifier":"9zcDg323tjc9BMGUsqBECnoj","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=9zcDg323tjc9BMGUsqBECnoj&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=zmu3Z1FvGx9s6TFPGszSzpM4&soc=true&pat=false"}},{"json":{"id":"422","identifier":"wigGNySc6hAFoqyo4w6HHfTV","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=wigGNySc6hAFoqyo4w6HHfTV&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=554CnfbQFCn81nYxxdJsPcNB&atoken=iToGFBC1jsWjE8gfqnddtenw&pat=true&singlethread=true&soc=true"}},{"json":{"id":"231","identifier":"EUNgXWD9w3ELUV2vogrdziqi","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=EUNgXWD9w3ELUV2vogrdziqi&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=3801de7ebe015797dfcdf11&pat=false&singlethread=true&soc=true"}},{"json":{"id":"244","identifier":"1zK2WdUEgPNBqvEKTXSkSp8d","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_298_1zK2WdUEgPNBqvEKTXSkSp8d"}},{"json":{"id":"250","identifier":"WNcLZiU1K3ya4rsZc6LhnyZb","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_304_WNcLZiU1K3ya4rsZc6LhnyZb"}},{"json":{"id":"245","identifier":"WuxGXoX5ELKnohPwb4Di8XV1","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_299_WuxGXoX5ELKnohPwb4Di8XV1"}},{"json":{"id":"241","identifier":"hgVY4viA557BEN5Jd4q151f8","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_295_hgVY4viA557BEN5Jd4q151f8"}},{"json":{"id":"251","identifier":"VmANBo9GQwxs6Z2qq7m9L3Wy","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_305_VmANBo9GQwxs6Z2qq7m9L3Wy"}},{"json":{"id":"252","identifier":"kKGqLAasbK4QiYTWso1ZX6fa","webhook_url":""}},{"json":{"id":"253","identifier":"ykErSis2rkhFhGY19F5GuTYB","webhook_url":""}},{"json":{"id":"254","identifier":"buKXKxUp9iDm2HjXUiPSdpv3","webhook_url":""}},{"json":{"id":"255","identifier":"t4uuujZD6qE26wxAWffgvUK3","webhook_url":""}},{"json":{"id":"256","identifier":"t9dx5oxMdDEhmbSsZV7BFu8G","webhook_url":""}},{"json":{"id":"261","identifier":"A5MayPXAmuejbx5JNrpX5Pm4","webhook_url":""}},{"json":{"id":"262","identifier":"gDuwaRUyGR3RnncPJCX2bfFb","webhook_url":""}},{"json":{"id":"263","identifier":"YREsGaSeTCm9nUhCwPDMLYth","webhook_url":""}},{"json":{"id":"264","identifier":"drBHkJF5NBDymMpVmQAHbmHc","webhook_url":""}},{"json":{"id":"265","identifier":"pJL5kNvXh88Y41cNaFR3NAbb","webhook_url":""}},{"json":{"id":"321","identifier":"zxn9m4L1Bq82mxPV2pq5XCMs","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_340_4wjQocBthJhj5F6LrS85Rboe"}},{"json":{"id":"322","identifier":"tntKaWGWi8VVK4JwDJysAHek","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_321_HqChf7uGU3p6uRv3EqtrLfw3"}},{"json":{"id":"324","identifier":"gwfC6nDYAM3cF28UgWrKo4XS","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_323_crSXLF761KkEGEgbax7J37SS"}},{"json":{"id":"325","identifier":"qA8363qpCT8FrBM7kHCarXqq","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_326_jokqaVtvWHWwY3SbiextZMoH"}},{"json":{"id":"326","identifier":"ttwxirEBL24McNHwWVgXK2AQ","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_327_1k1a4fLsuZ6k9i3wob5FUwZt"}},{"json":{"id":"327","identifier":"aXQ1NeSvsTR1fjUBo8zjoHNB","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_311_t9dx5oxMdDEhmbSsZV7BFu8G"}},{"json":{"id":"328","identifier":"qYmsSN4affF5wbkXuDmKPiL5","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_317_gDuwaRUyGR3RnncPJCX2bfFb"}},{"json":{"id":"329","identifier":"LK2UcP95Q7CiXXNwSTsUQeTy","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_318_YREsGaSeTCm9nUhCwPDMLYth"}},{"json":{"id":"330","identifier":"yiRYSFgDHragXv1dV7VosecR","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_319_drBHkJF5NBDymMpVmQAHbmHc"}},{"json":{"id":"331","identifier":"64QWq2ZYW2JP5cvX8uLQhmaG","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_320_pJL5kNvXh88Y41cNaFR3NAbb"}},{"json":{"id":"332","identifier":"yCpEExen1ZGdEQeyJ7fKpKqc","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_316_A5MayPXAmuejbx5JNrpX5Pm4"}},{"json":{"id":"333","identifier":"KAwkZrzYwjEbc8z2VPf1XyHY","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_250_H6A7e8FZXLpPzr6W9Z4Fqy4P"}},{"json":{"id":"336","identifier":"wPWyxb2SVYyLWTDnVeGcUXz9","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_248_zGHDPzVAFCSF2YGFWKnNvf55"}},{"json":{"id":"337","identifier":"eXP5vKPBjesWFCKpRhDxsRZe","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_251_rnKyHPF6vVugY6ru52Cxkqj4"}},{"json":{"id":"342","identifier":"iHELXuBiX3NpcH5Cps5bMoRx","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_235_TBbuNcM2YUVr8cf5kcoNq1UT"}},{"json":{"id":"345","identifier":"BnNtUPYc4ACAGUauUbwbe4Xv","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_252_2XK88agabca6uLbrccNvyZEH"}},{"json":{"id":"323","identifier":"R89VRLyd3qywkBNFFsQwqppx","webhook_url":""}},{"json":{"id":"294","identifier":"pZsVr1s4zPxUQAFX6eaVG6Ud","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=pZsVr1s4zPxUQAFX6eaVG6Ud&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3nLN2WM3nsUbeM31BudDvit&pat=false&singlethread=true&soc=false"}},{"json":{"id":"11","identifier":"86zQ4hmxtR3KFI0hmJY8Z3Pt","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=86zQ4hmxtR3KFI0hmJY8Z3Pt&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=99ddf1e13bcaa64487e6ffa&pat=true&soc=false"}},{"json":{"id":"423","identifier":"NpWKRMH4fgn87g4iMzk8nrc5","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=NpWKRMH4fgn87g4iMzk8nrc5&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=7wXZ5aps65buo8MtXxUVHHWa&atoken=6dVFL2NCHoxysJnATLscrwn7&pat=false&soc=true"}},{"json":{"id":"424","identifier":"NT1X2vKnCbSzb3Y3NzZm2cYL","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=NT1X2vKnCbSzb3Y3NzZm2cYL&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3nLN2WM3nsUbeM31BudDvit&pat=false&singlethread=true&soc=true"}},{"json":{"id":"425","identifier":"Pk4BeWgC5eZ8cDvJa63SpiBx","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=Pk4BeWgC5eZ8cDvJa63SpiBx&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=1ZpVgSSDoRBsgwnassBGQ69H&pat=false&soc=true"}},{"json":{"id":"426","identifier":"zgjAe2JMkhftwSZBkmweHHov","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=zgjAe2JMkhftwSZBkmweHHov&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=1ZpVgSSDoRBsgwnassBGQ69H&pat=false&soc=true"}},{"json":{"id":"427","identifier":"uz7LHrLcoZ5WpStFfr9ZRCza","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=uz7LHrLcoZ5WpStFfr9ZRCza&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=SpfHvChSbgny4RsGoW25FkRU&pat=false&singlethread=true&soc=true"}},{"json":{"id":"428","identifier":"hrzDzDjKKGPAGUKBb6ist56L","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=hrzDzDjKKGPAGUKBb6ist56L&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=U7xudRQQnsU8ePQ4rZghqnJS&atoken=SpfHvChSbgny4RsGoW25FkRU&pat=false&soc=false"}},{"json":{"id":"429","identifier":"JcSTyKekFDhfViQf6VpQVgJ4","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=JcSTyKekFDhfViQf6VpQVgJ4&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=Ht9P3aw711mCCxERnjrFXPh8&pat=false&singlethread=true&soc=true"}},{"json":{"id":"296","identifier":"ayxpekFBGgLHA7x2MzjzfpMA","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=ayxpekFBGgLHA7x2MzjzfpMA&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=F4zUiTGobw2vmvbbikiZwG3Y&pat=false&singlethread=true&soc=true"}},{"json":{"id":"334","identifier":"d3u2dhqtsokXDDPQiWH3EKrv","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_250_H6A7e8FZXLpPzr6W9Z4Fqy4P"}},{"json":{"id":"344","identifier":"ykWbHNMeWTUPYuPdiWo4w6LU","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_247_hWpTpSXpirChpAKqBiXBGHAV"}},{"json":{"id":"419","identifier":"yT7qmDyNF5qUATitFgaBX6Yz","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=yT7qmDyNF5qUATitFgaBX6Yz&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3nLN2WM3nsUbeM31BudDvit&pat=false&singlethread=true&soc=true"}},{"json":{"id":"335","identifier":"FyDv1YhYVUZiuhYgZ3s57uGr","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_248_zGHDPzVAFCSF2YGFWKnNvf55"}},{"json":{"id":"338","identifier":"tyFsitPqMxf31BbcM7iq4fbc","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_310_t4uuujZD6qE26wxAWffgvUK3"}},{"json":{"id":"339","identifier":"mALYp4TTe4k9Eobnc2vjYxRR","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_245_nkpKy7dvpSk8WAwNNQnuLzCf"}},{"json":{"id":"340","identifier":"ZEbsTwPn8jqGvjy3etHPana3","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_258_RVvjte6M9Ytm4nkK1PVKZDvu"}},{"json":{"id":"341","identifier":"RtqgWDBEQnNwrPFoy8oNSPJP","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_243_R5rJ1YsUvaPNg5JmLnVv1GKQ"}},{"json":{"id":"343","identifier":"nahgLAqSgnvNjAW5Rg1bUwTv","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_240_icKFUtzR1fRtpYN59cgV37CU"}},{"json":{"id":"346","identifier":"h1mcLJ2VyrJ1j4fNw4gGrk9x","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_259_nMhthyWsamNPV2oqGzhbQ6T8"}},{"json":{"id":"347","identifier":"a5jugu2xZpCsPmyBh6QJ9TZS","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_256_XXPF9VAhfL7uBmjncNJ5wNVR"}},{"json":{"id":"348","identifier":"E7W5AKRPDVX1iQ4JybR4DDRn","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_249_2sbm76bDtjaj3dWV3w2kCLC1"}},{"json":{"id":"349","identifier":"kLY18m4uzKJ2wMskHV8xQ5uF","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_238_VNnVFKn4NxHCsM4YYwgtpSkv"}},{"json":{"id":"350","identifier":"JpZ4gHeKMxaRCPpkv5Mkb3Ge","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_266_wzj8a1DHYkjbsYoGsCnxopSH"}},{"json":{"id":"351","identifier":"My5bsCRoi9kPnpsbv7rJs2Ct","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_267_WqwbnCFjnmzMVmnngkwNp9Rc"}},{"json":{"id":"352","identifier":"tLDEp3MQvhe419aorRCCwBJr","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_268_iwbgQ4Rxik71iZJDCfj85HvZ"}},{"json":{"id":"353","identifier":"LziAJNiyZbdEbdkqRBd7ffp4","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_269_wZdY4RvSKEgo4HtENwMQuq7Z"}},{"json":{"id":"354","identifier":"Dt8yLPjfERmN45v4P8Gw5S99","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_272_ykDy9oBnQgY4WWatN1cpdoA9"}},{"json":{"id":"355","identifier":"kD38NwhaVqB51dh6ApVprzfF","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_275_pCbmYqFzxkyeDeWiR14o64G9"}},{"json":{"id":"356","identifier":"W6X2rp4jKUKSgPwLZvoTtMm6","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_279_SC7uHMZ3DxsiXo4KNvZMK6Ra"}},{"json":{"id":"357","identifier":"P48k88d5eccJfhq6pMWWX9sK","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_281_gXCFLBRYDKJD4SjMYTMqvjiK"}},{"json":{"id":"358","identifier":"kPEWcbFh8Uxg9j3EHMPe4XZf","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_282_uALwdLyJHwPB2gi9nM8sc4qi"}},{"json":{"id":"359","identifier":"v3CSGB4gA4UrGKaA5EyjUyZd","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_284_Sj8ybYxuX14JU8hJv4qkPRVm"}},{"json":{"id":"360","identifier":"swKGaQdFUhRSTn6QfhnH9XKB","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_276_CdMDoVh2DLEsbwfeQT3UiE4P"}},{"json":{"id":"361","identifier":"VjhCPJGNyBfxQwgizkWFwhLm","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_286_nm9cUSmBQ8LvsshABX1CPbMB"}},{"json":{"id":"362","identifier":"JwSvXk6BHrLKc6onfGJMJjQc","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_287_WVp6iu4suvWDBEet1NEzV7nA"}},{"json":{"id":"363","identifier":"M7gpcHbQZzC28DqSsB6zTzmX","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_288_oHw2mkEajrZN4M82cdWKoF5M"}},{"json":{"id":"364","identifier":"o9qboG26nmowJaZv5SY2FSG5","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_290_HCyzCCzEZ6stHtbkoAdC6uoL"}},{"json":{"id":"365","identifier":"tiwk65PVttWBn8u9Mxs4HeyZ","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_291_UYfRYscPMpq7LUhCYL6JsgMe"}},{"json":{"id":"366","identifier":"ytKbBw9Z9ehYfRVj7M6qZ57p","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_292_wWnLmfzkT3sVioF2N4PhQRjC"}},{"json":{"id":"367","identifier":"53bb11EFjsJCH4g8GvNs3dEM","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_293_PFexpP4p8JnughZcAw7Hxh1F"}},{"json":{"id":"368","identifier":"HvtmzY2MM5vWpCtL8EsG8k1U","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_294_VJPpaVcSwEYzzwZ9KBWY2qh7"}},{"json":{"id":"369","identifier":"nBR8WBjezqzj9xCE3An1QVmS","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_277_P1iaQVAyp9obrMSmVWmFoVuQ"}},{"json":{"id":"370","identifier":"RN2VASb1PZqF7QspsFWk9iRW","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_296_LU6XiQ3NKJraugJDwE7dweUM"}},{"json":{"id":"371","identifier":"zCYocKTAXpc6i2mfYURSwcvV","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_297_Yd3VxwygPk43AN7aKASVaPaT"}},{"json":{"id":"372","identifier":"inwiWGPoiH4j1Njq2vH1jW7n","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_300_FE75aKuBMxmTcrG9H7jCkHRJ"}},{"json":{"id":"373","identifier":"NsrteHpopK3nqxs438LMMgNZ","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_278_vhk5FRWfdX26JugbW7yFL3si"}},{"json":{"id":"374","identifier":"ec9WR4D3uSSNZkSRPZiGMkUN","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_280_GLCCktwFto9iWUZpoeqqPnqA"}},{"json":{"id":"375","identifier":"5ZSpd4Sqs2e9oC6LBo6FTBex","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_283_ooHBtSv5bBQcZGpjmqQfo3vP"}},{"json":{"id":"376","identifier":"ZfMvrkwtbQ6YbCnc5tgZTRcu","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_273_ytDEA4m2dPkVFSektvCgYL9e"}},{"json":{"id":"377","identifier":"5YnfKiRq8EhmLD4797192xyy","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_274_t77L78kN4L2GZyvMS9ntfpU9"}},{"json":{"id":"378","identifier":"vzbbptgmrwzAEu7JJSZXqvVa","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_302_WVk6BfE2FnwxAsHXoPPNvKjs"}},{"json":{"id":"379","identifier":"LQUtw3boxKoWDCNnfRjxkG7x","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_254_hiqBDWjyhXSKbt2xoKsdZpmp"}},{"json":{"id":"380","identifier":"pAiAAxPdJ98sNdzRAaPn5fnP","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_253_QWKt99KMgFctygHqwEajfRxn"}},{"json":{"id":"381","identifier":"LP99fsxC7tdph9KVJeBhJJbD","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_255_7NJDoJZphbRF1d3sxqGbf6yr"}},{"json":{"id":"382","identifier":"MG2x1qrCW9DGeUKPvKjJkmF2","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_237_FWafuX63L9oDXEexadivEPbJ"}},{"json":{"id":"383","identifier":"eYgMcWZVsVuWUDHpfXuTLpRR","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_236_wyjXDpg8TAVWaWtyXyPLRWZP"}},{"json":{"id":"443","identifier":"p3dXwTHALBJk9f7Zu78TNpz5","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=p3dXwTHALBJk9f7Zu78TNpz5&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=JYs4MwZgUBqY2mMqRS7bPqdY&pat=false&soc=true"}},{"json":{"id":"431","identifier":"JZsWuDvcgCtePgCwMEYrsCGk","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=JZsWuDvcgCtePgCwMEYrsCGk&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=Ht9P3aw711mCCxERnjrFXPh8&pat=true&soc=false"}},{"json":{"id":"436","identifier":"NdEiFdD3MyG53T4LioAEPYuk","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=NdEiFdD3MyG53T4LioAEPYuk&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=ooQV1aNjr3z988DJx6VN2Yji&pat=false&soc=true"}},{"json":{"id":"433","identifier":"BiZ3wAgRG1yNFeqR1wRZNXxp","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=BiZ3wAgRG1yNFeqR1wRZNXxp&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=zAHgRZAK2S4kPffc2mdx48hR&pat=false&soc=true"}},{"json":{"id":"435","identifier":"SRE8FpZXEe3hz75RnuBokMdW","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=SRE8FpZXEe3hz75RnuBokMdW&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=113919563a61c6424ac9164&pat=true&soc=false"}},{"json":{"id":"437","identifier":"ABBghYaPL7uyPqZgaQ9RHCZc","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=ABBghYaPL7uyPqZgaQ9RHCZc&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3nLN2WM3nsUbeM31BudDvit&pat=true&singlethread=true&soc=true"}},{"json":{"id":"32","identifier":"6N67WCxr64Aid9WH9d1Z6HKD","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=6N67WCxr64Aid9WH9d1Z6HKD&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=832dfbb2928c7789bc7be18&pat=false&singlethread=true&soc=true"}},{"json":{"id":"440","identifier":"7CkoH5c2dywh9AC25miiTZu2","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=7CkoH5c2dywh9AC25miiTZu2&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=w4CJA1tzYyqFMM5u6EYUYrcg&pat=true&soc=false"}},{"json":{"id":"442","identifier":"WpjCyfJG6V1dGr4psEHwUScn","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=WpjCyfJG6V1dGr4psEHwUScn&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=w4CJA1tzYyqFMM5u6EYUYrcg&pat=true&soc=false"}},{"json":{"id":"439","identifier":"KvGuyQKiWZcAFTkupJgg7phm","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=KvGuyQKiWZcAFTkupJgg7phm&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=69df6d52f88f30b460df23a&pat=false&singlethread=true&soc=true"}},{"json":{"id":"441","identifier":"m8obyvFrxuS1VBGKUCDEmeXh","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=m8obyvFrxuS1VBGKUCDEmeXh&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=w4CJA1tzYyqFMM5u6EYUYrcg&pat=false&singlethread=true&soc=true"}},{"json":{"id":"438","identifier":"LsvfMYmzU6r1dVBKFLbDGFLc","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=LsvfMYmzU6r1dVBKFLbDGFLc&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=69df6d52f88f30b460df23a&pat=false&singlethread=true&soc=true"}},{"json":{"id":"432","identifier":"VVVPg6MNSusJpUjDLRUKdbio","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=VVVPg6MNSusJpUjDLRUKdbio&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=Ht9P3aw711mCCxERnjrFXPh8&pat=false&singlethread=true&soc=true"}},{"json":{"id":"444","identifier":"omv1p4LQauEQGwBUzfd4H7KS","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=omv1p4LQauEQGwBUzfd4H7KS&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=w4CJA1tzYyqFMM5u6EYUYrcg&pat=true&soc=false"}},{"json":{"id":"40","identifier":"QmcjjjxfrRKmQLUTRrm7zeJC","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=QmcjjjxfrRKmQLUTRrm7zeJC&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=a59c9d4286e506599b97133&pat=false&soc=false"}},{"json":{"id":"434","identifier":"xnxGKfWVYMqZcVYwo9NWq5w5","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=xnxGKfWVYMqZcVYwo9NWq5w5&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=5dbd74ed0e95b7c1acea8a4&pat=false&soc=true"}},{"json":{"id":"384","identifier":"nSmtVs27ohKZzEQrPowgrJNA","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_312_i8qTiz6rBFBvscv4xqqALYFg"}},{"json":{"id":"385","identifier":"DBZBk3TmhJgATC9hEAXiW7Sk","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_313_JGLyfbJrG1jPt1mWgrBkixg3"}},{"json":{"id":"386","identifier":"T5rsT65XbDSXGpXx9mbaoVjd","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_314_tA2Y2Yb33niq5jdYJppYyf9Y"}},{"json":{"id":"387","identifier":"Gv9WFv7rUiAhWNrt7uiQ9zdG","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_263_F8RHCAK1B7VMGjguZ4rx3nM9"}},{"json":{"id":"292","identifier":"Ap5qv1MrNaiC5jBXd1hdmuM4","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=Ap5qv1MrNaiC5jBXd1hdmuM4&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=XucEKN9PCKSFUFBHnbe6kL4F&pat=true&singlethread=true&soc=true"}},{"json":{"id":"389","identifier":"UTiVqVezXNSUqZdArW7Wuvdm","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_265_QtbL933bHK7zvtY3CJAK4i1M"}},{"json":{"id":"400","identifier":"rifkg2g8J3LXTq61eDyNGnWk","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=rifkg2g8J3LXTq61eDyNGnWk&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=cdW5xrM1biqTjws3vz49XnZW&pat=false&singlethread=true&soc=true"}},{"json":{"id":"391","identifier":"eujs9x3kNvqvzjby4erRxhk1","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_185_sci6KiCrD2jpXwwWTmvBGFYV"}},{"json":{"id":"393","identifier":"fRgVPcrrJzs3axHqoYbmQ21g","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_331_jtcXTTKrcx24gQrow4Pt8a8h"}},{"json":{"id":"394","identifier":"eRvTJ4unJiidsHAeHkFpJt4a","webhook_url":"https://wsapi.archanjo.co/chatwoot/webhook/46_322_aMbmnQiadJEBwc9YqvyG4SxS"}},{"json":{"id":"392","identifier":"FWD75aQybygHv5ZwEWnWxhBB","webhook_url":""}},{"json":{"id":"401","identifier":"xGiBAHeDtUrtJvEeuCf1XY7F","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=xGiBAHeDtUrtJvEeuCf1XY7F&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=NJ2cJbt6KkkoPHsMiJGqDbCD&pat=false&soc=true"}},{"json":{"id":"5","identifier":"eip1vvwo5N6hN7bg1nkJZTRh","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=eip1vvwo5N6hN7bg1nkJZTRh&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=f50299346d5eff341ad22e8&pat=false&singlethread=true&soc=true"}},{"json":{"id":"74","identifier":"eKZNb3774cQT5FaeajdAMrSN","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=eKZNb3774cQT5FaeajdAMrSN&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=Fa3xDTGNQKPoVUUT55mDDN5r&pat=true&singlethread=true&soc=true"}},{"json":{"id":"395","identifier":"EeP6gESsRjotwvnfKeAG7F9J","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=EeP6gESsRjotwvnfKeAG7F9J&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=f5ZirDVn2r7f2DDZKTDahKXD&pat=false&singlethread=true&soc=true"}},{"json":{"id":"406","identifier":"YUBwwAgNEa8iuwTHsh4VQZs2","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=YUBwwAgNEa8iuwTHsh4VQZs2&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3nLN2WM3nsUbeM31BudDvit&pat=false&singlethread=true&soc=true"}},{"json":{"id":"49","identifier":"H7yT3C6YBa6FSHVmJtHHZbHx","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?identifier=H7yT3C6YBa6FSHVmJtHHZbHx&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=b86fc6f7c090574039fd77e&qphost=https://qps.bee360.com.br&cwhost=https://app.bee360.com.br"}},{"json":{"id":"409","identifier":"N6G73MkTMB46cFZPb3juuWzS","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?identifier=N6G73MkTMB46cFZPb3juuWzS&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=4e1250bba47c8e1ce0fcb39&qphost=https://qps.bee360.com.br&cwhost=https://app.bee360.com.br"}},{"json":{"id":"396","identifier":"pcpM5ntEQC3vc2HXArTvou3B","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?identifier=pcpM5ntEQC3vc2HXArTvou3B&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=6c37ddc72484c1d23cf8147&qphost=https://qps.bee360.com.br&cwhost=https://app.bee360.com.br&pat=false"}},{"json":{"id":"407","identifier":"tcPuMdjZnBn4hLmbuAKtiwrM","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?identifier=tcPuMdjZnBn4hLmbuAKtiwrM&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=4217f284c125c6948dd4fc1&qphost=https://qps.bee360.com.br&cwhost=https://app.bee360.com.br"}},{"json":{"id":"405","identifier":"msz23HCnsXjVtCTj2rcjbPcE","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?identifier=msz23HCnsXjVtCTj2rcjbPcE&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=df94b74b64065f02f2fa8db&qphost=https://qps.bee360.com.br&cwhost=https://app.bee360.com.br"}},{"json":{"id":"397","identifier":"2tavDMEw5RS5xT9SaQVGCPpy","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=2tavDMEw5RS5xT9SaQVGCPpy&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3nLN2WM3nsUbeM31BudDvit&singlethread=true&soc=true"}},{"json":{"id":"402","identifier":"Xq7mvatQwA6HdFvU92qhyf4N","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=Xq7mvatQwA6HdFvU92qhyf4N&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=iToGFBC1jsWjE8gfqnddtenw&pat=true&singlethread=true&soc=true"}},{"json":{"id":"415","identifier":"t1CBp7tcuEvAo2JawfAzQpPD","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=t1CBp7tcuEvAo2JawfAzQpPD&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=8Ty5xABS7nUEu7L53tjqeGyc&pat=true&soc=true"}},{"json":{"id":"414","identifier":"kPwc9mZ5NVr7NcTqXghu8jpi","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?identifier=kPwc9mZ5NVr7NcTqXghu8jpi&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=df94b74b64065f02f2fa8db&qphost=https://qps.bee360.com.br&cwhost=https://app.bee360.com.br"}},{"json":{"id":"416","identifier":"4ikPyB91CzYZNhCyQzgVfMkF","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=4ikPyB91CzYZNhCyQzgVfMkF&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=e3nLN2WM3nsUbeM31BudDvit&singlethread=true&soc=true"}},{"json":{"id":"413","identifier":"vccNJZnyzXSRf1Meh8Ch2H6N","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?identifier=vccNJZnyzXSRf1Meh8Ch2H6N&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=160e1f2748c3ddab025a1a8&qphost=https://qps.bee360.com.br&cwhost=https://app.bee360.com.br&pat=false"}},{"json":{"id":"417","identifier":"g1ndA4qAigDh3C2mMtiDxiPx","webhook_url":"https://fluxo.bee360.com.br/webhook/from-chatwoot?qphost=https://qps.bee360.com.br&identifier=g1ndA4qAigDh3C2mMtiDxiPx&cwhost=https://app.bee360.com.br&cwpublic=https://app.bee360.com.br&utoken=e3nLN2WM3nsUbeM31BudDvit&atoken=ddbBbjxEbuVWvY41rqB2NsUU&pat=true&singlethread=true&soc=true"}}],"HTTP Request":[{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"token":"p2W5urT6TbeLsjmCTfvWRJUV","wid":"555197885565:67@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-03-07T18:52:45.854477625Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":2,"atoken":"5dbd74ed0e95b7c1acea8a4","cwhost":"https://app.bee360.com.br","identifier":"p2W5urT6TbeLsjmCTfvWRJUV","inbox":18,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"p2W5urT6TbeLsjmCTfvWRJUV","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:28:11.846137544Z"}],"reconnect":true,"starttime":"2025-03-07T18:52:20.339541675Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"upenXzzgrCuYxwfBxEpaYEDG","wid":"555191121238:54@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-04-04T19:51:16Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":2,"atoken":"5dbd74ed0e95b7c1acea8a4","cwhost":"https://app.bee360.com.br","identifier":"upenXzzgrCuYxwfBxEpaYEDG","inbox":19,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"upenXzzgrCuYxwfBxEpaYEDG","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-08T16:54:47.281619029Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.508720535Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"cxRXWNJjJv2vRdAYefMgejiu","wid":"555194554703:81@s.whatsapp.net","verified":false,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-01-16T19:08:30Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":3,"atoken":"0e9a9bc488cd230147353a0","cwhost":"https://app.bee360.com.br","identifier":"cxRXWNJjJv2vRdAYefMgejiu","inbox":17,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"cxRXWNJjJv2vRdAYefMgejiu","singlethread":false,"soc":true,"utoken":"4KS6ysh4WfdD9cKZHviJndBH"},"timestamp":"2025-01-30T11:10:16Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.572453303Z"}}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"zH8UUtYaFYrAxz4tV1GMpyxK","wid":"555193611581:41@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-04-10T13:27:22Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":5,"atoken":"99ddf1e13bcaa64487e6ffa","cwhost":"https://app.bee360.com.br","identifier":"zH8UUtYaFYrAxz4tV1GMpyxK","inbox":20,"qphost":"http://quepasa:31000","qptoken":"zH8UUtYaFYrAxz4tV1GMpyxK","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T23:08:19.805314633Z","timestamp":"2024-04-10T13:28:03Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.509127691Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"calls":true,"token":"euNTxJ75B3NYSJhCSd8571Rt","wid":"555191524841:9@s.whatsapp.net","verified":false,"devel":false,"timestamp":"2025-03-05T19:01:59.811734302Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":71,"atoken":"e3nLN2WM3nsUbeM31BudDvit","cwhost":"https://app.bee360.com.br","identifier":"euNTxJ75B3NYSJhCSd8571Rt","inbox":479,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"euNTxJ75B3NYSJhCSd8571Rt","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"timestamp":"2025-01-16T18:59:16Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.572150444Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"dyBEuKBMkEbAXvYHWrhsLvyV","wid":"555194560271:62@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-04-04T11:41:01Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":4,"atoken":"5bff58e3045f1a8259b5787","cwhost":"https://app.bee360.com.br","identifier":"dyBEuKBMkEbAXvYHWrhsLvyV","inbox":16,"qphost":"http://quepasa:31000","qptoken":"dyBEuKBMkEbAXvYHWrhsLvyV","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T00:51:40.657772429Z","timestamp":"2024-04-04T11:41:18Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.506902036Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"P4eo9BF3g3uCUpwdknMz2esL","wid":"555196857037:26@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-04-04T11:23:10Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":4,"atoken":"5bff58e3045f1a8259b5787","cwhost":"https://app.bee360.com.br","identifier":"P4eo9BF3g3uCUpwdknMz2esL","inbox":23,"qphost":"http://quepasa:31000","qptoken":"P4eo9BF3g3uCUpwdknMz2esL","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T22:37:54.137479684Z","timestamp":"2024-04-04T11:23:35Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.504719794Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"sGV2KGt7NQqsBD8TUxJJui8n","wid":"555181769720:29@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-04-04T17:02:49Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":10,"atoken":"3fea2d2e92741250e0f6006","cwhost":"https://app.bee360.com.br","identifier":"sGV2KGt7NQqsBD8TUxJJui8n","inbox":29,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"sGV2KGt7NQqsBD8TUxJJui8n","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T00:34:30.687441804Z","timestamp":"2025-01-14T14:05:39Z"},{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":10,"atoken":"3fea2d2e92741250e0f6006","cwhost":"https://app.bee360.com.br","identifier":"sGV2KGt7NQqsBD8TUxJJui8n","inbox":29,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"sGV2KGt7NQqsBD8TUxJJui8n","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T00:34:30.754654641Z","timestamp":"2025-01-14T14:05:42Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.508248338Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"J3SphV8844tsvQ5vCXpKsJjg","wid":"555196647817:18@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-04-04T13:45:39Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":5,"atoken":"99ddf1e13bcaa64487e6ffa","cwhost":"https://app.bee360.com.br","identifier":"J3SphV8844tsvQ5vCXpKsJjg","inbox":22,"qphost":"http://quepasa:31000","qptoken":"J3SphV8844tsvQ5vCXpKsJjg","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T17:07:50.871088184Z","timestamp":"2024-04-04T13:46:14Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.507618441Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"byXQJBBbcNkiwWjzq3eEYNtR","wid":"555193911887:20@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-04-04T10:36:23Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":9,"atoken":"e3b6ecc305d6445ff177d95","cwhost":"https://app.bee360.com.br","identifier":"byXQJBBbcNkiwWjzq3eEYNtR","inbox":28,"qphost":"http://quepasa:31000","qptoken":"byXQJBBbcNkiwWjzq3eEYNtR","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:32:07.309790578Z","timestamp":"2024-04-04T10:37:05Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.503390679Z"}}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"uxhR1ZJYcGktL4HY8ayWqBza","wid":"553195965076:45@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-04-24T21:08:56Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":14,"atoken":"3bb8551cd57dc927dc0e142","cwhost":"https://app.bee360.com.br","identifier":"uxhR1ZJYcGktL4HY8ayWqBza","inbox":50,"qphost":"http://quepasa:31000","qptoken":"uxhR1ZJYcGktL4HY8ayWqBza","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:04:19.508966296Z","timestamp":"2024-04-24T21:09:40Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.509517765Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"2vZ74hrN8d13L7emEoNrpxjd","wid":"555180880088:7@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-04-26T20:28:13Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":15,"atoken":"e18d879ef58e37c8b99f68c","cwhost":"https://app.bee360.com.br","identifier":"2vZ74hrN8d13L7emEoNrpxjd","inbox":52,"qphost":"http://quepasa:31000","qptoken":"2vZ74hrN8d13L7emEoNrpxjd","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T00:28:19.105462422Z","timestamp":"2024-04-26T20:28:31Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.509924758Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"BCdtVeZyv7Jxe6YuD5dWo96S","wid":"555195218503:5@s.whatsapp.net","verified":false,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-07-02T18:11:17Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":30,"atoken":"b16d4390ece8cb41f8810a5","cwhost":"https://app.bee360.com.br","identifier":"BCdtVeZyv7Jxe6YuD5dWo96S","inbox":88,"qphost":"http://quepasa:31000","qptoken":"BCdtVeZyv7Jxe6YuD5dWo96S","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"timestamp":"2024-07-02T18:11:42Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.514474804Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"CH3VzgVQ2EQDeiNo6xmdn81C","wid":"555180126890:12@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-11-07T20:26:02Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":57,"atoken":"XucEKN9PCKSFUFBHnbe6kL4F","cwhost":"https://app.bee360.com.br","identifier":"CH3VzgVQ2EQDeiNo6xmdn81C","inbox":350,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"CH3VzgVQ2EQDeiNo6xmdn81C","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T23:58:42.412817227Z","timestamp":"2025-01-17T20:11:17Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.559239368Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"bKhKzf7X72nSRbmPNPMwWocS","wid":"555199517610:11@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-06-27T20:44:28Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":31,"atoken":"e3nLN2WM3nsUbeM31BudDvit","cwhost":"https://app.bee360.com.br","identifier":"bKhKzf7X72nSRbmPNPMwWocS","inbox":90,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"bKhKzf7X72nSRbmPNPMwWocS","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:38:51.024772668Z","timestamp":"2025-02-24T17:34:00Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.514050515Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"SoUEZnkwiZW2xuNUcJ5NcfaM","wid":"555196118204:12@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-24T17:37:10Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":31,"atoken":"e3nLN2WM3nsUbeM31BudDvit","cwhost":"https://app.bee360.com.br","identifier":"SoUEZnkwiZW2xuNUcJ5NcfaM","inbox":89,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"SoUEZnkwiZW2xuNUcJ5NcfaM","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:41:56.455332484Z","timestamp":"2025-02-24T17:38:22Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.579284544Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"mdSyGFSC8Z5yNCFhimFqbdUX","wid":"551230110842:5@s.whatsapp.net","verified":false,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-06-27T14:28:12Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":29,"atoken":"b86fc6f7c090574039fd77e","cwhost":"https://app.bee360.com.br","identifier":"mdSyGFSC8Z5yNCFhimFqbdUX","inbox":79,"qphost":"https://qps.bee360.com.br","singlethread":"true","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T05:01:03.194164428Z","timestamp":"2025-02-13T19:16:56Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.512770737Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"wgky7ThqbjJmbk3vJvBM2d5Y","wid":"555183177712:14@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-05-24T12:15:27Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":23,"atoken":"187409faa419217a00d4def","cwhost":"https://app.bee360.com.br","identifier":"wgky7ThqbjJmbk3vJvBM2d5Y","inbox":65,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"wgky7ThqbjJmbk3vJvBM2d5Y","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-08T18:41:36.952798151Z","timestamp":"2025-03-01T17:18:28Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.51076429Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"c2EYsRXErb9WPnMieWaacbUo","wid":"555190047539:53@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-03-03T12:57:03Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":27,"atoken":"e3nLN2WM3nsUbeM31BudDvit","cwhost":"https://app.bee360.com.br","identifier":"c2EYsRXErb9WPnMieWaacbUo","inbox":74,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"c2EYsRXErb9WPnMieWaacbUo","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:49:59.155706572Z","timestamp":"2025-03-03T12:57:28Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.581375932Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":false,"readreceipts":true,"calls":true,"token":"LpJU5NULoViSMF3GE5pAvXc2","wid":"555195118809:2@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-06-20T17:22:17Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":25,"atoken":"a59c9d4286e506599b97133","cwhost":"https://app.bee360.com.br","identifier":"LpJU5NULoViSMF3GE5pAvXc2","inbox":67,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"LpJU5NULoViSMF3GE5pAvXc2","singlethread":false,"soc":false,"tbstart":"lav-esteio-2","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-08T05:57:01.52164843Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.511793681Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"17rCCkw486U5EirnhmuxLqEp","wid":"553195268152:18@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-12T12:13:01Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":16,"atoken":"ec921f168c79c6eb7b9f91b","cwhost":"https://app.bee360.com.br","identifier":"17rCCkw486U5EirnhmuxLqEp","inbox":71,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"17rCCkw486U5EirnhmuxLqEp","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T19:36:27.413844852Z","timestamp":"2025-03-05T12:43:21Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.575600862Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"REVv9UzBNMGdyG5zg7r4Grhp","wid":"555197719795:21@s.whatsapp.net","verified":false,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-01-18T12:37:26Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":2,"atoken":"5dbd74ed0e95b7c1acea8a4","cwhost":"https://app.bee360.com.br","identifier":"REVv9UzBNMGdyG5zg7r4Grhp","inbox":85,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"REVv9UzBNMGdyG5zg7r4Grhp","singlethread":false,"soc":true,"utoken":"4GZX9fbHDSkWFYR6nsgiL7QU"},"timestamp":"2025-01-18T12:37:37Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.572749044Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"nJgddB85b7EEQxsfcrxUXvw3","wid":"553195268152:14@s.whatsapp.net","verified":false,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-04-29T11:31:36Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":16,"atoken":"ec921f168c79c6eb7b9f91b","cwhost":"https://app.bee360.com.br","identifier":"nJgddB85b7EEQxsfcrxUXvw3","inbox":53,"qphost":"http://quepasa:31000","qptoken":"nJgddB85b7EEQxsfcrxUXvw3","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"timestamp":"2024-04-29T11:32:14Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.510266807Z"}}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"fLZP6JDJEgW7CR334ppNyPrG","wid":"555198001437:36@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-08-12T19:21:25Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":36,"atoken":"13c86338daf54eb991908db","cwhost":"https://app.bee360.com.br","identifier":"fLZP6JDJEgW7CR334ppNyPrG","inbox":104,"qphost":"http://quepasa:31000","qptoken":"fLZP6JDJEgW7CR334ppNyPrG","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-08T11:22:28.748500821Z","timestamp":"2024-08-12T19:21:46Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.517115224Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"jHgkjLDu1a5Rz6UrxobxWjan","wid":"555190069890:3@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-07-26T17:35:45Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":20,"atoken":"c560dec4a109980a4f89dd7","cwhost":"https://app.bee360.com.br","identifier":"jHgkjLDu1a5Rz6UrxobxWjan","inbox":95,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"jHgkjLDu1a5Rz6UrxobxWjan","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T00:30:00.895364756Z","timestamp":"2025-02-11T20:03:05Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.514961681Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"VxKJKDzv3E1QWL1YjHqAVvnw","wid":"555199813833:30@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-07-26T18:53:59Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":7,"atoken":"3801de7ebe015797dfcdf11","cwhost":"https://app.bee360.com.br","identifier":"VxKJKDzv3E1QWL1YjHqAVvnw","inbox":98,"qphost":"http://quepasa:31000","qptoken":"VxKJKDzv3E1QWL1YjHqAVvnw","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T00:48:08.206998985Z","timestamp":"2024-07-26T19:02:03Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.515315241Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"gBUMHosZ7Fr3azfZLHg2s8zB","wid":"555197805749:50@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-08-12T19:19:31Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":36,"atoken":"13c86338daf54eb991908db","cwhost":"https://app.bee360.com.br","identifier":"gBUMHosZ7Fr3azfZLHg2s8zB","inbox":103,"qphost":"http://quepasa:31000","qptoken":"gBUMHosZ7Fr3azfZLHg2s8zB","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:47:27.964691189Z","timestamp":"2024-08-12T19:19:57Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.515708109Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"53r1B1Gkg1cF6T3vAw9rKAAr","wid":"553399923434:5@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-09-06T12:42:33Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot-qrcode","extra":{"account":40,"atoken":"ngBXCAThw5rGphhx7XK6cSX5","cwhost":"https://app.bee360.com.br","identifier":"53r1B1Gkg1cF6T3vAw9rKAAr","inbox":116,"qphost":"https://qps.bee360.com.br","qptoken":"53r1B1Gkg1cF6T3vAw9rKAAr","singlethread":"true","utoken":"mq27t7LVsgCecyHxfv2uGdYF"},"success":"2025-03-09T13:20:41.88690838Z","timestamp":"2024-09-06T12:42:40Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.517847734Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"jqM5VDrAGdEQWCNpZN37t2aW","wid":"555199379590:9@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-09-12T18:28:41Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":1,"atoken":"f50299346d5eff341ad22e8","cwhost":"https://app.bee360.com.br","identifier":"jqM5VDrAGdEQWCNpZN37t2aW","inbox":120,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"jqM5VDrAGdEQWCNpZN37t2aW","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:30:51.530653813Z","timestamp":"2025-02-13T16:25:57Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.518415827Z"}}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"sUsBaLqxre1qK3joYQePNzhE","wid":"555191702664:29@s.whatsapp.net","verified":false,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-03-07T15:17:29.271076413Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":37,"atoken":"937591f1d685ada66dccac1","cwhost":"https://app.bee360.com.br","identifier":"sUsBaLqxre1qK3joYQePNzhE","inbox":176,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"sUsBaLqxre1qK3joYQePNzhE","singlethread":true,"soc":true,"utoken":"Kjo8pA6YGRHPGErLUmC9dVC8"},"success":"2025-03-07T15:17:29.335643632Z","timestamp":"2025-01-28T19:18:19Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.521137897Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"QkecuUk1mZ1V5ngD2KxKT9YU","wid":"555198828182:54@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-10-18T15:44:13Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot-qrcode","extra":{"account":44,"atoken":"6whgLTvB5ChwYYCZvFqMMonB","cwhost":"https://app.bee360.com.br","identifier":"QkecuUk1mZ1V5ngD2KxKT9YU","inbox":124,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"QkecuUk1mZ1V5ngD2KxKT9YU","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T00:48:16.66598867Z","timestamp":"2024-10-18T16:56:17Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.522764098Z"}}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"xoFfm26j1x4CqqvVfhKpZFEP","wid":"555194833048:7@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-01-27T15:11:36Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":57,"atoken":"XucEKN9PCKSFUFBHnbe6kL4F","cwhost":"https://app.bee360.com.br","identifier":"xoFfm26j1x4CqqvVfhKpZFEP","inbox":481,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"xoFfm26j1x4CqqvVfhKpZFEP","singlethread":false,"soc":true,"utoken":"Y7tvoRFMUDucQfMPt4ef34FE"},"success":"2025-03-10T01:52:05.268053479Z","timestamp":"2025-01-27T15:11:40Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.572977059Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"PYgneHUsK9D7q2WQ3jAxbkgr","wid":"555199344433:19@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-09-26T15:05:55Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":45,"atoken":"e92b3c54f4669e16e6342af","cwhost":"https://app.bee360.com.br","identifier":"PYgneHUsK9D7q2WQ3jAxbkgr","inbox":128,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"PYgneHUsK9D7q2WQ3jAxbkgr","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T23:06:55.12028811Z","timestamp":"2025-02-07T16:32:40Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.519509353Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"LQgvjDbTff7VfSNKYdcNJv5y","wid":"555184991739:58@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-09-26T15:09:39Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":45,"atoken":"e92b3c54f4669e16e6342af","cwhost":"https://app.bee360.com.br","identifier":"LQgvjDbTff7VfSNKYdcNJv5y","inbox":129,"qphost":"http://quepasa:31000","qptoken":"LQgvjDbTff7VfSNKYdcNJv5y","utoken":"LNBSLD85GW4LkmPRHkwqKBf3"},"success":"2025-03-09T20:47:14.128428203Z","timestamp":"2024-09-26T15:18:20Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.520658164Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"m4h8RyDPiPc88Jc2y6XpPoTS","wid":"554733116315:3@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-01-28T19:32:38Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":63,"atoken":"iToGFBC1jsWjE8gfqnddtenw","cwhost":"https://app.bee360.com.br","identifier":"m4h8RyDPiPc88Jc2y6XpPoTS","inbox":482,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"m4h8RyDPiPc88Jc2y6XpPoTS","singlethread":true,"soc":true,"utoken":"554CnfbQFCn81nYxxdJsPcNB"},"success":"2025-03-07T19:37:01.243330805Z","timestamp":"2025-01-28T19:33:09Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.573253155Z"}}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"ubZ2Wo7pau1Nb1DGtqkYmgHN","wid":"555199379590:10@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-10-15T12:32:25Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":37,"atoken":"937591f1d685ada66dccac1","cwhost":"https://app.bee360.com.br","identifier":"ubZ2Wo7pau1Nb1DGtqkYmgHN","inbox":180,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"ubZ2Wo7pau1Nb1DGtqkYmgHN","singlethread":true,"soc":true,"utoken":"Kjo8pA6YGRHPGErLUmC9dVC8"},"success":"2025-03-10T01:30:51.479670063Z","timestamp":"2025-02-17T14:18:28Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.522224903Z"}}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"hDeb9u1b8ghghVBPwhdVLX7W","wid":"555195299204:61@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-10-21T12:44:11Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":53,"atoken":"GjeoYQSQNMx3nV6mnhugLLfN","cwhost":"https://app.bee360.com.br","identifier":"hDeb9u1b8ghghVBPwhdVLX7W","inbox":228,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"hDeb9u1b8ghghVBPwhdVLX7W","singlethread":false,"soc":false,"tbstart":"eudajo","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T02:01:03.832893712Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.523590583Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"5xVdXgGJpfBmsZHqb5zTGz6F","wid":"555180343314:30@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-10-23T17:38:47Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot-qrcode","extra":{"account":54,"atoken":"zmu3Z1FvGx9s6TFPGszSzpM4","cwhost":"https://app.bee360.com.br","identifier":"5xVdXgGJpfBmsZHqb5zTGz6F","inbox":232,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"5xVdXgGJpfBmsZHqb5zTGz6F","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-08T14:23:53.268628922Z","timestamp":"2024-10-23T17:39:37Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.523953398Z"}}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"cZHpds27igPxB2UKwtVtJxXN","wid":"555192962808:8@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-10-23T17:43:42Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot-qrcode","extra":{"account":54,"atoken":"zmu3Z1FvGx9s6TFPGszSzpM4","cwhost":"https://app.bee360.com.br","identifier":"cZHpds27igPxB2UKwtVtJxXN","inbox":234,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"cZHpds27igPxB2UKwtVtJxXN","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T21:05:02.589162266Z","timestamp":"2024-10-23T17:51:07Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.531874735Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"f4xSdCZemAgRpg7AeQfu9Ju4","wid":"555199358990:96@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-10-23T17:41:00Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot-qrcode","extra":{"account":54,"atoken":"zmu3Z1FvGx9s6TFPGszSzpM4","cwhost":"https://app.bee360.com.br","identifier":"f4xSdCZemAgRpg7AeQfu9Ju4","inbox":233,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"f4xSdCZemAgRpg7AeQfu9Ju4","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-08T11:10:03.325792151Z","timestamp":"2024-10-23T17:42:00Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.524713799Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"KfJf5KScABCvV62ZZHcYS3XJ","wid":"5519978206326:34@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-10-25T13:35:55Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":55,"atoken":"8Ty5xABS7nUEu7L53tjqeGyc","cwhost":"https://app.bee360.com.br","identifier":"KfJf5KScABCvV62ZZHcYS3XJ","inbox":260,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"KfJf5KScABCvV62ZZHcYS3XJ","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:44:36.803549703Z","timestamp":"2025-02-13T19:39:25Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.532846832Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"5MAW6ZvR3jq1gAGQxaK1Bqya","wid":"555194818590:57@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-11-07T20:21:32Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":57,"atoken":"e3nLN2WM3nsUbeM31BudDvit","cwhost":"https://app.bee360.com.br","identifier":"5MAW6ZvR3jq1gAGQxaK1Bqya","inbox":348,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"5MAW6ZvR3jq1gAGQxaK1Bqya","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:53:13.82783975Z","timestamp":"2025-01-27T18:26:46Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.53378716Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"oWobmkoV4BFcWLmyBpAEMCq3","wid":"555197745577:19@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-12-12T11:24:00Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":25,"atoken":"a59c9d4286e506599b97133","cwhost":"https://app.bee360.com.br","identifier":"oWobmkoV4BFcWLmyBpAEMCq3","inbox":465,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"oWobmkoV4BFcWLmyBpAEMCq3","singlethread":false,"soc":false,"tbstart":"lavo-sao-leopoldo","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T00:50:27.235692655Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.563791645Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"8V3pfE6pKCxRk7f34tfquCQk","wid":"555195051500:77@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-11-01T13:55:18Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot-qrcode","extra":{"account":44,"atoken":"6whgLTvB5ChwYYCZvFqMMonB","cwhost":"https://app.bee360.com.br","identifier":"8V3pfE6pKCxRk7f34tfquCQk","inbox":161,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"8V3pfE6pKCxRk7f34tfquCQk","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:19:51.403602859Z","timestamp":"2024-11-01T13:55:41Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.533293177Z"}}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"wigGNySc6hAFoqyo4w6HHfTV","wid":"554132038004:2@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-01-28T20:21:15Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":63,"atoken":"iToGFBC1jsWjE8gfqnddtenw","cwhost":"https://app.bee360.com.br","identifier":"wigGNySc6hAFoqyo4w6HHfTV","inbox":483,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"wigGNySc6hAFoqyo4w6HHfTV","singlethread":true,"soc":true,"utoken":"554CnfbQFCn81nYxxdJsPcNB"},"success":"2025-03-09T04:01:38.06252964Z","timestamp":"2025-01-28T20:21:48Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.573454014Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"EUNgXWD9w3ELUV2vogrdziqi","wid":"555183575754:57@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-10-28T19:13:44Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot-qrcode","extra":{"account":7,"atoken":"3801de7ebe015797dfcdf11","cwhost":"https://app.bee360.com.br","identifier":"EUNgXWD9w3ELUV2vogrdziqi","inbox":285,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"EUNgXWD9w3ELUV2vogrdziqi","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T17:24:46.29895921Z","timestamp":"2024-10-28T20:09:14Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.533095667Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"pZsVr1s4zPxUQAFX6eaVG6Ud","wid":"555190085644:26@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-11-07T20:23:21Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":57,"atoken":"e3nLN2WM3nsUbeM31BudDvit","cwhost":"https://app.bee360.com.br","identifier":"pZsVr1s4zPxUQAFX6eaVG6Ud","inbox":349,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"pZsVr1s4zPxUQAFX6eaVG6Ud","singlethread":true,"soc":false,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T00:47:43.052034361Z","timestamp":"2025-02-10T13:35:33Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.558915358Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"86zQ4hmxtR3KFI0hmJY8Z3Pt","wid":"555193611590:58@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-01-30T13:10:35Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":5,"atoken":"99ddf1e13bcaa64487e6ffa","cwhost":"https://app.bee360.com.br","identifier":"86zQ4hmxtR3KFI0hmJY8Z3Pt","inbox":21,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"86zQ4hmxtR3KFI0hmJY8Z3Pt","singlethread":false,"soc":false,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T21:52:30.688499044Z","timestamp":"2025-01-30T13:10:38Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.573746645Z"}}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"NT1X2vKnCbSzb3Y3NzZm2cYL","wid":"555193699641:25@s.whatsapp.net","verified":false,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-04T17:29:35Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":74,"atoken":"e3nLN2WM3nsUbeM31BudDvit","cwhost":"https://app.bee360.com.br","identifier":"NT1X2vKnCbSzb3Y3NzZm2cYL","inbox":487,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"NT1X2vKnCbSzb3Y3NzZm2cYL","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"timestamp":"2025-02-04T17:59:39Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.573966656Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"Pk4BeWgC5eZ8cDvJa63SpiBx","wid":"555191638630:20@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-05T12:28:57Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":75,"atoken":"1ZpVgSSDoRBsgwnassBGQ69H","cwhost":"https://app.bee360.com.br","identifier":"Pk4BeWgC5eZ8cDvJa63SpiBx","inbox":488,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"Pk4BeWgC5eZ8cDvJa63SpiBx","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:32:06.918161655Z","timestamp":"2025-02-06T14:10:38Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.574208737Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"zgjAe2JMkhftwSZBkmweHHov","wid":"555194905592:10@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-05T21:01:48Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":75,"atoken":"1ZpVgSSDoRBsgwnassBGQ69H","cwhost":"https://app.bee360.com.br","identifier":"zgjAe2JMkhftwSZBkmweHHov","inbox":489,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"zgjAe2JMkhftwSZBkmweHHov","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T21:29:55.057347921Z","timestamp":"2025-02-06T14:10:54Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.574420089Z"}}},{"json":{"success":true,"status":"follow server information","server":{"token":"uz7LHrLcoZ5WpStFfr9ZRCza","wid":"5519989424421:2@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-03-08T15:25:53.31348987Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":68,"atoken":"SpfHvChSbgny4RsGoW25FkRU","cwhost":"https://app.bee360.com.br","identifier":"uz7LHrLcoZ5WpStFfr9ZRCza","inbox":490,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"uz7LHrLcoZ5WpStFfr9ZRCza","singlethread":false,"soc":true,"utoken":"U7xudRQQnsU8ePQ4rZghqnJS"},"success":"2025-03-08T15:34:56.907802949Z"}],"reconnect":true,"starttime":"2025-03-08T15:25:53.312064898Z"}}},{"json":{"success":true,"status":"follow server information","server":{"token":"hrzDzDjKKGPAGUKBb6ist56L","wid":"5519989445643:3@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-03-08T15:37:22.762397761Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":68,"atoken":"SpfHvChSbgny4RsGoW25FkRU","cwhost":"https://app.bee360.com.br","identifier":"hrzDzDjKKGPAGUKBb6ist56L","inbox":491,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"hrzDzDjKKGPAGUKBb6ist56L","singlethread":false,"soc":false,"utoken":"U7xudRQQnsU8ePQ4rZghqnJS"},"success":"2025-03-09T15:55:10.023220768Z"}],"reconnect":true,"starttime":"2025-03-08T15:37:22.761735809Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"JcSTyKekFDhfViQf6VpQVgJ4","wid":"555192477584:2@s.whatsapp.net","verified":false,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-07T12:56:01Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":76,"atoken":"Ht9P3aw711mCCxERnjrFXPh8","cwhost":"https://app.bee360.com.br","identifier":"JcSTyKekFDhfViQf6VpQVgJ4","inbox":492,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"JcSTyKekFDhfViQf6VpQVgJ4","singlethread":false,"soc":true,"utoken":"WBNkeTBY84fb5N9boFHzfSuT"},"timestamp":"2025-02-17T10:28:53Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.574997173Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"ayxpekFBGgLHA7x2MzjzfpMA","wid":"555197295474:21@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-11-08T13:22:50Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":58,"atoken":"F4zUiTGobw2vmvbbikiZwG3Y","cwhost":"https://app.bee360.com.br","identifier":"ayxpekFBGgLHA7x2MzjzfpMA","inbox":351,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"ayxpekFBGgLHA7x2MzjzfpMA","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T02:01:44.394710013Z","timestamp":"2025-02-26T14:28:12Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.559472654Z"}}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"yT7qmDyNF5qUATitFgaBX6Yz","wid":"554899873883:36@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-17T13:13:59Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":72,"atoken":"e3nLN2WM3nsUbeM31BudDvit","cwhost":"https://app.bee360.com.br","identifier":"yT7qmDyNF5qUATitFgaBX6Yz","inbox":480,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"yT7qmDyNF5qUATitFgaBX6Yz","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T18:37:45.830614942Z","timestamp":"2025-02-24T19:04:46Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.576308122Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":false,"readreceipts":true,"calls":true,"token":"p3dXwTHALBJk9f7Zu78TNpz5","wid":"555192843881:84@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-26T16:58:18Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":80,"atoken":"e3nLN2WM3nsUbeM31BudDvit","cwhost":"https://app.bee360.com.br","identifier":"p3dXwTHALBJk9f7Zu78TNpz5","inbox":506,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"p3dXwTHALBJk9f7Zu78TNpz5","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:56:35.528368702Z","timestamp":"2025-02-26T16:58:57Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.580768762Z"}}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"NdEiFdD3MyG53T4LioAEPYuk","wid":"555192451631:42@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-21T12:02:05Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":79,"atoken":"ooQV1aNjr3z988DJx6VN2Yji","cwhost":"https://app.bee360.com.br","identifier":"NdEiFdD3MyG53T4LioAEPYuk","inbox":499,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"NdEiFdD3MyG53T4LioAEPYuk","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:53:26.593770361Z","timestamp":"2025-02-21T13:32:21Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.578201202Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"BiZ3wAgRG1yNFeqR1wRZNXxp","wid":"555192710327:2@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-18T12:10:07Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":77,"atoken":"zAHgRZAK2S4kPffc2mdx48hR","cwhost":"https://app.bee360.com.br","identifier":"BiZ3wAgRG1yNFeqR1wRZNXxp","inbox":496,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"BiZ3wAgRG1yNFeqR1wRZNXxp","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T21:43:28.571580188Z","timestamp":"2025-02-21T14:01:21Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.577090268Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"SRE8FpZXEe3hz75RnuBokMdW","wid":"555194501717:60@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-19T18:33:19Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":22,"atoken":"113919563a61c6424ac9164","cwhost":"https://app.bee360.com.br","identifier":"SRE8FpZXEe3hz75RnuBokMdW","inbox":498,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"SRE8FpZXEe3hz75RnuBokMdW","singlethread":false,"soc":false,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:55:17.81145201Z","timestamp":"2025-02-28T12:43:51Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.577480041Z"}}},{"json":{"success":true,"status":"follow server information","server":{"readreceipts":true,"calls":true,"token":"ABBghYaPL7uyPqZgaQ9RHCZc","wid":"555196054599:40@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-25T14:23:01Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":78,"atoken":"w4CJA1tzYyqFMM5u6EYUYrcg","cwhost":"https://app.bee360.com.br","identifier":"ABBghYaPL7uyPqZgaQ9RHCZc","inbox":500,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"ABBghYaPL7uyPqZgaQ9RHCZc","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T02:06:15.331994976Z","timestamp":"2025-02-28T17:20:55Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.580327147Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"6N67WCxr64Aid9WH9d1Z6HKD","wid":"555193979013:21@s.whatsapp.net","verified":false,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-10-09T12:12:26Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":19,"atoken":"832dfbb2928c7789bc7be18","cwhost":"https://app.bee360.com.br","identifier":"6N67WCxr64Aid9WH9d1Z6HKD","inbox":59,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"6N67WCxr64Aid9WH9d1Z6HKD","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"timestamp":"2025-02-19T19:26:21Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.521778838Z"}}},{"json":{"success":true,"status":"follow server information","server":{"token":"7CkoH5c2dywh9AC25miiTZu2","wid":"555192659872:2@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-24T19:51:47Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":78,"atoken":"w4CJA1tzYyqFMM5u6EYUYrcg","cwhost":"https://app.bee360.com.br","identifier":"7CkoH5c2dywh9AC25miiTZu2","inbox":503,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"7CkoH5c2dywh9AC25miiTZu2","singlethread":false,"soc":false,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-06T12:57:28.243692989Z","timestamp":"2025-02-24T19:52:01Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.580019757Z"}}},{"json":{"success":true,"status":"follow server information","server":{"token":"WpjCyfJG6V1dGr4psEHwUScn","wid":"555181114729:84@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-26T17:23:17Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":78,"atoken":"w4CJA1tzYyqFMM5u6EYUYrcg","cwhost":"https://app.bee360.com.br","identifier":"WpjCyfJG6V1dGr4psEHwUScn","inbox":505,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"WpjCyfJG6V1dGr4psEHwUScn","singlethread":false,"soc":false,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:31:07.022238511Z","timestamp":"2025-02-26T17:42:00Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.581072559Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"KvGuyQKiWZcAFTkupJgg7phm","wid":"555196481276:4@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-24T17:33:14Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":31,"atoken":"69df6d52f88f30b460df23a","cwhost":"https://app.bee360.com.br","identifier":"KvGuyQKiWZcAFTkupJgg7phm","inbox":502,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"KvGuyQKiWZcAFTkupJgg7phm","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T15:21:50.692511617Z","timestamp":"2025-02-24T17:33:43Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.57897926Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"m8obyvFrxuS1VBGKUCDEmeXh","wid":"555192799276:7@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-24T18:13:28Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":78,"atoken":"w4CJA1tzYyqFMM5u6EYUYrcg","cwhost":"https://app.bee360.com.br","identifier":"m8obyvFrxuS1VBGKUCDEmeXh","inbox":504,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"m8obyvFrxuS1VBGKUCDEmeXh","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T02:06:11.854047315Z","timestamp":"2025-02-24T18:14:28Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.579683158Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"calls":true,"token":"LsvfMYmzU6r1dVBKFLbDGFLc","wid":"555199517610:10@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-24T17:09:32Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":31,"atoken":"69df6d52f88f30b460df23a","cwhost":"https://app.bee360.com.br","identifier":"LsvfMYmzU6r1dVBKFLbDGFLc","inbox":501,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"LsvfMYmzU6r1dVBKFLbDGFLc","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:38:51.077452532Z","timestamp":"2025-02-24T17:10:37Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.578531295Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"VVVPg6MNSusJpUjDLRUKdbio","wid":"555194446640:2@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-20T13:01:06Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":76,"atoken":"Ht9P3aw711mCCxERnjrFXPh8","cwhost":"https://app.bee360.com.br","identifier":"VVVPg6MNSusJpUjDLRUKdbio","inbox":495,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"VVVPg6MNSusJpUjDLRUKdbio","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T19:25:39.890877386Z","timestamp":"2025-03-05T19:01:25Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.577849591Z"}}},{"json":{"success":true,"status":"follow server information","server":{"token":"omv1p4LQauEQGwBUzfd4H7KS","wid":"555196913161:38@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-03-05T12:54:46Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":78,"atoken":"w4CJA1tzYyqFMM5u6EYUYrcg","cwhost":"https://app.bee360.com.br","identifier":"omv1p4LQauEQGwBUzfd4H7KS","inbox":507,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"omv1p4LQauEQGwBUzfd4H7KS","singlethread":false,"soc":false,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T02:04:33.028090337Z","timestamp":"2025-03-05T13:07:51Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.581688717Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":false,"readreceipts":true,"calls":true,"token":"QmcjjjxfrRKmQLUTRrm7zeJC","wid":"555195909585:2@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-06-19T17:59:09Z","webhooks":[{"url":"http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":25,"atoken":"a59c9d4286e506599b97133","cwhost":"https://app.bee360.com.br","identifier":"QmcjjjxfrRKmQLUTRrm7zeJC","inbox":69,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"QmcjjjxfrRKmQLUTRrm7zeJC","singlethread":false,"soc":false,"tbstart":"lav-porto-alegre-1","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:20:47.131828357Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.511092452Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"broadcasts":false,"readreceipts":true,"calls":true,"token":"xnxGKfWVYMqZcVYwo9NWq5w5","wid":"555180194126:23@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-17T20:00:51Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":2,"atoken":"5dbd74ed0e95b7c1acea8a4","cwhost":"https://app.bee360.com.br","identifier":"xnxGKfWVYMqZcVYwo9NWq5w5","inbox":497,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"xnxGKfWVYMqZcVYwo9NWq5w5","singlethread":false,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T15:00:34.890559934Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.576676459Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"Ap5qv1MrNaiC5jBXd1hdmuM4","wid":"555191401380:32@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-11-07T20:19:49Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":57,"atoken":"XucEKN9PCKSFUFBHnbe6kL4F","cwhost":"https://app.bee360.com.br","identifier":"Ap5qv1MrNaiC5jBXd1hdmuM4","inbox":347,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"Ap5qv1MrNaiC5jBXd1hdmuM4","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:51:31.283302745Z","timestamp":"2025-01-27T15:08:43Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.533520351Z"}}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"rifkg2g8J3LXTq61eDyNGnWk","wid":"555197365545:45@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-11-21T18:07:59Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":61,"atoken":"cdW5xrM1biqTjws3vz49XnZW","cwhost":"https://app.bee360.com.br","identifier":"rifkg2g8J3LXTq61eDyNGnWk","inbox":456,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"rifkg2g8J3LXTq61eDyNGnWk","singlethread":false,"soc":true,"utoken":"fWksC5jJz2wRcmdKu6rbPkQ6"},"success":"2025-03-09T23:02:40.265055701Z","timestamp":"2025-02-18T14:09:31Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.562431404Z"}}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"eip1vvwo5N6hN7bg1nkJZTRh","wid":"555192508186:90@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-02-13T09:44:14Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":1,"atoken":"f50299346d5eff341ad22e8","cwhost":"https://app.bee360.com.br","identifier":"eip1vvwo5N6hN7bg1nkJZTRh","inbox":15,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"eip1vvwo5N6hN7bg1nkJZTRh","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T02:03:49.858555308Z","timestamp":"2025-02-13T09:54:06Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.575956343Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"eKZNb3774cQT5FaeajdAMrSN","wid":"5512988920290:88@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-11-11T12:51:57Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":29,"atoken":"Fa3xDTGNQKPoVUUT55mDDN5r","cwhost":"https://app.bee360.com.br","identifier":"eKZNb3774cQT5FaeajdAMrSN","inbox":107,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"eKZNb3774cQT5FaeajdAMrSN","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T16:10:08.809214172Z","timestamp":"2025-02-25T13:02:24Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.562086271Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"EeP6gESsRjotwvnfKeAG7F9J","wid":"555591293688:21@s.whatsapp.net","verified":false,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-11-26T18:55:51Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot-qrcode","extra":{"account":59,"atoken":"f5ZirDVn2r7f2DDZKTDahKXD","cwhost":"https://app.bee360.com.br","identifier":"EeP6gESsRjotwvnfKeAG7F9J","inbox":451,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"EeP6gESsRjotwvnfKeAG7F9J","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"timestamp":"2024-11-26T20:13:50Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.562641967Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"YUBwwAgNEa8iuwTHsh4VQZs2","wid":"555195774504:27@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-11-29T10:03:35Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":64,"atoken":"e3nLN2WM3nsUbeM31BudDvit","cwhost":"https://app.bee360.com.br","identifier":"YUBwwAgNEa8iuwTHsh4VQZs2","inbox":463,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"YUBwwAgNEa8iuwTHsh4VQZs2","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T21:31:26.952020882Z","timestamp":"2025-02-27T22:48:02Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.562851079Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"H7yT3C6YBa6FSHVmJtHHZbHx","wid":"5512991542131:69@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-06-20T17:31:09Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":29,"atoken":"b86fc6f7c090574039fd77e","cwhost":"https://app.bee360.com.br","identifier":"H7yT3C6YBa6FSHVmJtHHZbHx","inbox":80,"qphost":"https://qps.bee360.com.br","singlethread":"true","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T20:56:20.584415335Z","timestamp":"2025-01-06T14:46:15Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.512311821Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"N6G73MkTMB46cFZPb3juuWzS","wid":"553199110813:61@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-12-13T14:16:25Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":16,"atoken":"4e1250bba47c8e1ce0fcb39","cwhost":"https://app.bee360.com.br","identifier":"N6G73MkTMB46cFZPb3juuWzS","inbox":466,"qphost":"https://qps.bee360.com.br","singlethread":"true","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T22:39:14.734007766Z","timestamp":"2024-12-13T14:16:52Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.563973939Z"}}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"tcPuMdjZnBn4hLmbuAKtiwrM","wid":"555196907295:3@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-12-05T15:17:10Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":65,"atoken":"4217f284c125c6948dd4fc1","cwhost":"https://app.bee360.com.br","identifier":"tcPuMdjZnBn4hLmbuAKtiwrM","inbox":464,"qphost":"https://qps.bee360.com.br","singlethread":"true","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:32:35.938334293Z","timestamp":"2024-12-05T15:20:37Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.563375146Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"msz23HCnsXjVtCTj2rcjbPcE","wid":"555195809140:12@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2024-11-29T10:10:57Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":64,"atoken":"df94b74b64065f02f2fa8db","cwhost":"https://app.bee360.com.br","identifier":"msz23HCnsXjVtCTj2rcjbPcE","inbox":462,"qphost":"https://qps.bee360.com.br","singlethread":"true","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T22:44:44.285027736Z","timestamp":"2024-11-29T10:11:24Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.563102601Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"2tavDMEw5RS5xT9SaQVGCPpy","wid":"555193335980:38@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-01-08T18:28:49Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":22,"atoken":"113919563a61c6424ac9164","cwhost":"https://app.bee360.com.br","identifier":"2tavDMEw5RS5xT9SaQVGCPpy","inbox":453,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"2tavDMEw5RS5xT9SaQVGCPpy","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-08T23:43:03.802717953Z","timestamp":"2025-01-08T18:29:38Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.564751566Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"Xq7mvatQwA6HdFvU92qhyf4N","wid":"555139391220:4@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-01-13T16:09:51Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":63,"atoken":"iToGFBC1jsWjE8gfqnddtenw","cwhost":"https://app.bee360.com.br","identifier":"Xq7mvatQwA6HdFvU92qhyf4N","inbox":458,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"Xq7mvatQwA6HdFvU92qhyf4N","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:38:45.500966476Z","timestamp":"2025-01-13T20:28:03Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.567181581Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"t1CBp7tcuEvAo2JawfAzQpPD","wid":"5519993408231:95@s.whatsapp.net","verified":false,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-03-06T12:15:20.605433666Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":55,"atoken":"8Ty5xABS7nUEu7L53tjqeGyc","cwhost":"https://app.bee360.com.br","identifier":"t1CBp7tcuEvAo2JawfAzQpPD","inbox":474,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"t1CBp7tcuEvAo2JawfAzQpPD","singlethread":false,"soc":true,"utoken":"WWfTi86Ki6AJkGNRuKiv6Gp7"},"success":"2025-03-06T12:15:20.672688818Z","timestamp":"2025-02-18T18:43:19Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.564468179Z"}}},{"json":{}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"4ikPyB91CzYZNhCyQzgVfMkF","wid":"555180303276:3@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-01-10T11:48:27Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":69,"atoken":"bcX1kn9MYb4bZ59nHB9rnTTA","cwhost":"https://app.bee360.com.br","identifier":"4ikPyB91CzYZNhCyQzgVfMkF","inbox":476,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"4ikPyB91CzYZNhCyQzgVfMkF","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-09T23:50:25.658167753Z","timestamp":"2025-01-10T11:49:12Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.566932929Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"vccNJZnyzXSRf1Meh8Ch2H6N","wid":"555197049743:1@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-01-03T20:32:45Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":67,"atoken":"160e1f2748c3ddab025a1a8","cwhost":"https://app.bee360.com.br","identifier":"vccNJZnyzXSRf1Meh8Ch2H6N","inbox":471,"qphost":"https://qps.bee360.com.br","singlethread":"true","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T01:09:34.574239813Z","timestamp":"2025-01-03T20:32:54Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.564242108Z"}}},{"json":{"success":true,"status":"follow server information","server":{"groups":true,"readreceipts":true,"calls":true,"token":"g1ndA4qAigDh3C2mMtiDxiPx","wid":"555191778692:34@s.whatsapp.net","verified":true,"devel":false,"user":"nathan@bee360.com.br","timestamp":"2025-01-15T13:32:55Z","webhooks":[{"url":"https://fluxo.bee360.com.br/webhook/to-chatwoot","forwardinternal":true,"trackid":"chatwoot","extra":{"account":70,"atoken":"ddbBbjxEbuVWvY41rqB2NsUU","cwhost":"https://app.bee360.com.br","identifier":"g1ndA4qAigDh3C2mMtiDxiPx","inbox":478,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"g1ndA4qAigDh3C2mMtiDxiPx","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"},"success":"2025-03-10T02:05:57.478389795Z","timestamp":"2025-01-15T14:34:36Z"}],"reconnect":true,"starttime":"2025-03-05T19:01:59.567479075Z"}}}]},"versionId":"b05b063e-53ef-4919-b3bf-e942f5e8d6bf","triggerCount":0,"tags":[]}