my-workflow-3-7qdxAvrN7lVNkJ3s.json
{"createdAt":"2024-11-28T04:35:03.987Z","updatedAt":"2024-11-28T04:53:52.626Z","id":"7qdxAvrN7lVNkJ3s","name":"My workflow 3","active":false,"nodes":[{"parameters":{},"id":"d0a776f5-0ebe-4956-b49a-480fce822026","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[300,380]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"account_users","mode":"list","cachedResultName":"account_users"},"returnAll":true,"where":{"values":[{"column":"account_id","value":"={{ $json.id }}"},{"column":"role","value":"0"}]},"options":{}},"id":"21e47243-ca55-42d9-8960-657ad5fcb70d","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[740,380],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"accounts","mode":"list","cachedResultName":"accounts"},"returnAll":true,"options":{"outputColumns":["id"]}},"id":"8abd6497-f4bc-4377-8ec0-149744ce80e8","name":"Postgres2","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[520,380],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"options":{}},"id":"a4d400b0-8952-4748-bba0-1dec4935ae5c","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,380]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"accounts","mode":"list","cachedResultName":"accounts"},"returnAll":true,"options":{"outputColumns":["id"]}},"id":"b667c9e3-a604-4df6-9ec6-bbde9b8687b2","name":"Postgres3","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[260,600],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"assignments":{"assignments":[{"id":"93847f83-0323-404d-b9ff-6422353569be","name":"name","value":"=Agente Padrão","type":"string"},{"id":"b11b3b07-c384-4ba2-99ad-07a27345708e","name":"description","value":"=Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","type":"string"},{"id":"39552b18-a41f-4e3b-bd84-4aa084c62497","name":"account_id","value":"={{ $json.id }}","type":"string"},{"id":"a3a6d8eb-bb98-4566-a12c-42485b098f30","name":"permissions","value":"=[\"conversation_unassigned_manage\", \"conversation_manage\", \"conversation_participating_manage\", \"contact_manage\", \"label_usage\", \"schedule_messages_manage\"]","type":"array"},{"id":"390794d7-a6f0-4f76-9a34-4322c5ebf108","name":"created_at","value":"={{ $now }}","type":"string"},{"id":"06a03f00-b7b3-4aa5-9175-66f04f155e76","name":"updated_at","value":"={{ $now }}","type":"string"}]},"options":{}},"id":"377c91fe-a3b0-43c8-aa9a-b2ed684574cd","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,600]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"custom_roles","mode":"list","cachedResultName":"custom_roles"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json.name }}","description":"={{ $json.description }}","account_id":"={{ $json.account_id }}","permissions":"={{ $json.permissions }}","created_at":"={{ $json.created_at }}","updated_at":"={{ $json.updated_at }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"account_id","displayName":"account_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"permissions","displayName":"permissions","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}]},"options":{}},"id":"70249929-669d-4d46-ae5e-7712b98f0f9d","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[780,600],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"onError":"continueErrorOutput"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Postgres2","type":"main","index":0}]]},"Postgres2":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres3":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Postgres1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Postgres1":[{"json":{"id":"70","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"16","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.635Z","updated_at":"2024-11-28T04:49:56.635Z"}},{"json":{"id":"71","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"15","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.637Z","updated_at":"2024-11-28T04:49:56.637Z"}},{"json":{"id":"72","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"18","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.638Z","updated_at":"2024-11-28T04:49:56.638Z"}},{"json":{"id":"73","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"6","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.640Z","updated_at":"2024-11-28T04:49:56.641Z"}},{"json":{"id":"74","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"49","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.643Z","updated_at":"2024-11-28T04:49:56.644Z"}},{"json":{"id":"75","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"23","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.646Z","updated_at":"2024-11-28T04:49:56.646Z"}},{"json":{"id":"76","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"24","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.648Z","updated_at":"2024-11-28T04:49:56.648Z"}},{"json":{"id":"77","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"31","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.650Z","updated_at":"2024-11-28T04:49:56.650Z"}},{"json":{"id":"78","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"28","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.653Z","updated_at":"2024-11-28T04:49:56.653Z"}},{"json":{"id":"79","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"41","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.655Z","updated_at":"2024-11-28T04:49:56.656Z"}},{"json":{"id":"80","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"27","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.658Z","updated_at":"2024-11-28T04:49:56.658Z"}},{"json":{"id":"81","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"42","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.660Z","updated_at":"2024-11-28T04:49:56.660Z"}},{"json":{"id":"82","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"33","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.662Z","updated_at":"2024-11-28T04:49:56.662Z"}},{"json":{"id":"83","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"56","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.665Z","updated_at":"2024-11-28T04:49:56.666Z"}},{"json":{"id":"84","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"35","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.668Z","updated_at":"2024-11-28T04:49:56.668Z"}},{"json":{"id":"85","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"36","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.677Z","updated_at":"2024-11-28T04:49:56.677Z"}},{"json":{"id":"86","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"7","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.680Z","updated_at":"2024-11-28T04:49:56.680Z"}},{"json":{"id":"87","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"38","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.683Z","updated_at":"2024-11-28T04:49:56.683Z"}},{"json":{"id":"88","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"54","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.686Z","updated_at":"2024-11-28T04:49:56.686Z"}},{"json":{"id":"89","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"39","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.688Z","updated_at":"2024-11-28T04:49:56.689Z"}},{"json":{"id":"90","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"21","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.690Z","updated_at":"2024-11-28T04:49:56.691Z"}},{"json":{"id":"91","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"29","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.692Z","updated_at":"2024-11-28T04:49:56.693Z"}},{"json":{"id":"92","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"17","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.695Z","updated_at":"2024-11-28T04:49:56.696Z"}},{"json":{"id":"93","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"57","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.697Z","updated_at":"2024-11-28T04:49:56.698Z"}},{"json":{"id":"94","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"63","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.699Z","updated_at":"2024-11-28T04:49:56.699Z"}},{"json":{"id":"95","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"48","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.700Z","updated_at":"2024-11-28T04:49:56.700Z"}},{"json":{"id":"96","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"50","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.703Z","updated_at":"2024-11-28T04:49:56.703Z"}},{"json":{"id":"97","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"9","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.706Z","updated_at":"2024-11-28T04:49:56.706Z"}},{"json":{"id":"98","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"10","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.708Z","updated_at":"2024-11-28T04:49:56.708Z"}},{"json":{"id":"99","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"11","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.709Z","updated_at":"2024-11-28T04:49:56.710Z"}},{"json":{"id":"100","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"12","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.772Z","updated_at":"2024-11-28T04:49:56.772Z"}},{"json":{"id":"101","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"13","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.774Z","updated_at":"2024-11-28T04:49:56.775Z"}},{"json":{"id":"102","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"14","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.779Z","updated_at":"2024-11-28T04:49:56.780Z"}},{"json":{"id":"103","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"51","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.782Z","updated_at":"2024-11-28T04:49:56.783Z"}},{"json":{"id":"104","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"40","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.784Z","updated_at":"2024-11-28T04:49:56.784Z"}},{"json":{"id":"105","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"46","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.786Z","updated_at":"2024-11-28T04:49:56.786Z"}},{"json":{"id":"106","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"30","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.788Z","updated_at":"2024-11-28T04:49:56.789Z"}},{"json":{"id":"107","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"5","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.791Z","updated_at":"2024-11-28T04:49:56.791Z"}},{"json":{"id":"108","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"43","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.793Z","updated_at":"2024-11-28T04:49:56.793Z"}},{"json":{"id":"109","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"25","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.794Z","updated_at":"2024-11-28T04:49:56.794Z"}},{"json":{"id":"110","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"55","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.795Z","updated_at":"2024-11-28T04:49:56.795Z"}},{"json":{"id":"111","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"34","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.797Z","updated_at":"2024-11-28T04:49:56.797Z"}},{"json":{"id":"112","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"37","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.798Z","updated_at":"2024-11-28T04:49:56.798Z"}},{"json":{"id":"113","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"3","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.800Z","updated_at":"2024-11-28T04:49:56.800Z"}},{"json":{"id":"114","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"22","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.801Z","updated_at":"2024-11-28T04:49:56.802Z"}},{"json":{"id":"115","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"58","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.803Z","updated_at":"2024-11-28T04:49:56.804Z"}},{"json":{"id":"116","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"62","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.806Z","updated_at":"2024-11-28T04:49:56.806Z"}},{"json":{"id":"117","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"52","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.808Z","updated_at":"2024-11-28T04:49:56.809Z"}},{"json":{"id":"118","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"1","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.810Z","updated_at":"2024-11-28T04:49:56.810Z"}},{"json":{"id":"119","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"45","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.811Z","updated_at":"2024-11-28T04:49:56.811Z"}},{"json":{"id":"120","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"47","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.813Z","updated_at":"2024-11-28T04:49:56.813Z"}},{"json":{"id":"121","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"44","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.814Z","updated_at":"2024-11-28T04:49:56.815Z"}},{"json":{"id":"122","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"53","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.816Z","updated_at":"2024-11-28T04:49:56.816Z"}},{"json":{"id":"123","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"8","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.817Z","updated_at":"2024-11-28T04:49:56.817Z"}},{"json":{"id":"124","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"2","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.818Z","updated_at":"2024-11-28T04:49:56.818Z"}},{"json":{"id":"125","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"20","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.819Z","updated_at":"2024-11-28T04:49:56.821Z"}},{"json":{"id":"126","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"19","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.822Z","updated_at":"2024-11-28T04:49:56.822Z"}},{"json":{"id":"127","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"60","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.823Z","updated_at":"2024-11-28T04:49:56.823Z"}},{"json":{"id":"128","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"61","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.824Z","updated_at":"2024-11-28T04:49:56.869Z"}},{"json":{"id":"129","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"4","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.872Z","updated_at":"2024-11-28T04:49:56.873Z"}},{"json":{"id":"130","name":"Agente Padrão","description":"Agente padrão, tem acesso aos contatos, aba não atribuídos e pode usar etiquetas e agendar mensagens","account_id":"59","permissions":["conversation_unassigned_manage","conversation_manage","conversation_participating_manage","contact_manage","label_usage","schedule_messages_manage"],"created_at":"2024-11-28T04:49:56.876Z","updated_at":"2024-11-28T04:49:56.876Z"}}]},"versionId":"409e8e61-6dd2-40d9-ac45-0dd6c8e43825","triggerCount":0,"tags":[]}