notifications-WxjcUI8WWPvk58J2.json
{"createdAt":"2025-01-22T14:09:45.841Z","updatedAt":"2025-01-24T12:09:06.968Z","id":"WxjcUI8WWPvk58J2","name":"Notifications","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"from-hetrix","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-840,20],"id":"9e05c1a4-c1a1-4bd5-9ae6-0ca21aa05ebc","name":"Webhook1","webhookId":"3d4e002c-4a66-470c-ba39-afd0ee92663b","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.monitor_errors }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0da867ca-a836-4025-b37a-7da5642c4bd5","leftValue":"={{ $json.body.resource_usage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-560,20],"id":"9fa3f303-e39a-4a90-8a67-7a59550839b8","name":"Events"},{"parameters":{"assignments":{"assignments":[{"id":"50642fc3-7aa7-495d-9586-e96edc6e5fbd","name":"monitor_id","value":"={{ $json.body.monitor_id }}","type":"string"},{"id":"333c948d-5482-4332-8b98-d0ce0389ed43","name":"monitor_name","value":"={{ $json.body.monitor_name }}","type":"string"},{"id":"59ca4514-f2c8-463b-bf7d-fb5b732cce5f","name":"timestamp","value":"={{ $json.body.timestamp }}","type":"number"},{"id":"88b65853-a546-4b6f-bb03-56c2c8e58611","name":"resource_usage.resource_type","value":"={{ $json.body.resource_usage.resource_type }}","type":"string"},{"id":"83613136-1862-4348-b5f9-11287b956626","name":"resource_usage.current_usage","value":"={{ $json.body.resource_usage.current_usage }}","type":"string"},{"id":"fc4f1659-4a0e-4390-b1f4-6c0e484b6f34","name":"resource_usage.average_usage","value":"={{ $json.body.resource_usage.average_usage }}","type":"string"},{"id":"d3e6bb1b-b80b-48ea-922a-ccc2c9fd6208","name":"resource_usage.average_minutes","value":"={{ $json.body.resource_usage.average_minutes }}","type":"string"},{"id":"489986a0-7ba6-4af0-b5fb-9757f83cb9c8","name":"qptoken","value":"jqM5VDrAGdEQWCNpZN37t2aW","type":"string"},{"id":"b1706b9d-f7b1-4f18-bfc3-c2096592c7b2","name":"qphost","value":"https://qps.bee360.com.br","type":"string"},{"id":"62891829-de33-4de6-8cd4-537e0b0761e0","name":"telefone","value":"120363375068670416@g.us","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,160],"id":"a3335242-a33b-42da-9872-934e6017661c","name":"Set Fields"},{"parameters":{"baseUrl":"={{ $json.qphost }}","token":"={{ $json.qptoken }}","text":"=⚠️ Alerta Servidor ⚠️\n\nNome: *{{ $json.monitor_name }}*\nHorário: {{ $json.timestamp.toDateTime('s').format('dd/MM/yyyy HH:mm') }}\n\nTipo: {{ $json.resource_usage.resource_type }}\n Info: {{ $json.error }}","chatid":"={{ $json.telefone }}","filelength":0,"trackid":"servidor"},"id":"61183983-35eb-40b6-adcc-d685f889332f","name":"Quepasa","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[260,0]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.resource_usage.resource_type }}","rightValue":"agent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af580583-0870-4e78-ad54-aefedb414590","leftValue":"={{ $json.body.resource_usage.resource_type }}","rightValue":"cp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f17b70b-68db-491f-b718-2bb9678c5bd7","leftValue":"={{ $json.body.resource_usage.resource_type }}","rightValue":"ram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17b889ff-b973-4411-977e-0dc977d4f5f6","leftValue":"={{ $json.body.resource_usage.resource_type }}","rightValue":"disk","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6a7e66a-7199-40d2-8c8f-9b821c908896","leftValue":"={{ $json.body.resource_usage.resource_type }}","rightValue":"network_inbound","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9db5d8e-3b4f-4930-87fe-30da7372ab6e","leftValue":"={{ $json.body.resource_usage.resource_type }}","rightValue":"network_outbound","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-260,80],"id":"6210c5d0-6b82-4386-85d2-97e4cc5addc0","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"50642fc3-7aa7-495d-9586-e96edc6e5fbd","name":"monitor_id","value":"={{ $json.body.monitor_id }}","type":"string"},{"id":"333c948d-5482-4332-8b98-d0ce0389ed43","name":"monitor_name","value":"={{ $json.body.monitor_name }}","type":"string"},{"id":"59ca4514-f2c8-463b-bf7d-fb5b732cce5f","name":"timestamp","value":"={{ $json.body.timestamp }}","type":"number"},{"id":"88b65853-a546-4b6f-bb03-56c2c8e58611","name":"resource_usage.resource_type","value":"={{ $json.body.resource_usage.resource_type }}","type":"string"},{"id":"489986a0-7ba6-4af0-b5fb-9757f83cb9c8","name":"qptoken","value":"jqM5VDrAGdEQWCNpZN37t2aW","type":"string"},{"id":"b1706b9d-f7b1-4f18-bfc3-c2096592c7b2","name":"qphost","value":"https://qps.bee360.com.br","type":"string"},{"id":"62891829-de33-4de6-8cd4-537e0b0761e0","name":"telefone","value":"120363375068670416@g.us","type":"string"},{"id":"182e27c4-8e11-41e1-80ca-dfc0f0873745","name":"error","value":"={{ $json.body.resource_usage.error }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"26b7b5bb-ffc6-4f99-9b44-beec4d4a8614","name":"Agent Info"},{"parameters":{"baseUrl":"={{ $json.qphost }}","token":"={{ $json.qptoken }}","text":"=⚠️ Alerta Servidor ⚠️\n\nNome: *{{ $json.monitor_name }}*\nHorário: {{ $json.timestamp.toDateTime('s').format('dd/MM/yyyy HH:mm') }}\n\nTipo: {{ $json.resource_usage.resource_type }}\n  - Uso Atual: {{ $json.resource_usage.current_usage }}\n  - Média do(s) último(s) {{ $json.resource_usage.average_minutes }} minuto(s): {{ $json.resource_usage.average_usage }}","chatid":"={{ $json.telefone }}","filelength":0,"trackid":"servidor"},"id":"142b3033-d35f-4f28-8336-e655ca90d9c6","name":"Quepasa1","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[260,160]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"1bbe9a30-fa96-4c07-89f0-634754b0a93e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,620]},{"parameters":{"url":"https://rbtmq.bee360.com.br/api/queues/default/quepasa-prod","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,620],"id":"86ab68be-6b73-47b2-a3be-8414858880f9","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"Nb4ni4d2NW0Ie65S","name":"Unnamed credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"b6f85966-b447-40f1-82d5-2c852a4bbe09","name":"queue.messages","value":"={{ $json.messages }}","type":"number"},{"id":"eed36a8d-a8dd-4108-b31d-38c09b3d3fd3","name":"qphost","value":"https://qps.bee360.com.br","type":"string"},{"id":"087a712c-511e-4468-b9b6-e6b3e9a6fb29","name":"qptoken","value":"ubZ2Wo7pau1Nb1DGtqkYmgHN","type":"string"},{"id":"d75619dd-ef32-4aad-8f72-869a79c72e6a","name":"telefone","value":"120363375068670416@g.us","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-360,620],"id":"160b8ba1-d9bf-4937-9519-66fcc2f26406","name":"Edit Fields"},{"parameters":{"baseUrl":"={{ $json.qphost }}","token":"={{ $json.qptoken }}","text":"=⚠️ RabbitMQ ⚠️ \nNeste momento há {{ $json.queue.messages }} mensagens na fila do rabbitmq.","chatid":"={{ $json.telefone }}","filelength":0,"trackid":"servidor"},"id":"afad69ff-a2c1-411b-878a-a1cba8f067e1","name":"Send Notification1","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[220,600]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df4ae399-f7f0-4895-9954-b0eb6c4382f2","leftValue":"={{ $json.queue.messages }}","rightValue":200,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,620],"id":"457a053b-7654-4c0f-b451-44adc9e8980c","name":"If"},{"parameters":{"content":"## RabbitMQ Monitoring","height":340,"width":1460},"type":"n8n-nodes-base.stickyNote","position":[-980,480],"typeVersion":1,"id":"c25360ae-0ace-473e-813b-f078c18eeb92","name":"Sticky Note"},{"parameters":{"url":"https://rbtmq.bee360.com.br/api/queues/default/quepasa-histsync","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,820],"id":"b97afc1d-d656-4761-b28a-79af55184ade","name":"HTTP Request1","credentials":{"httpBasicAuth":{"id":"Nb4ni4d2NW0Ie65S","name":"Unnamed credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"b6f85966-b447-40f1-82d5-2c852a4bbe09","name":"queue.messages","value":"={{ $json.messages }}","type":"number"},{"id":"eed36a8d-a8dd-4108-b31d-38c09b3d3fd3","name":"qphost","value":"https://qps.bee360.com.br","type":"string"},{"id":"087a712c-511e-4468-b9b6-e6b3e9a6fb29","name":"qptoken","value":"ubZ2Wo7pau1Nb1DGtqkYmgHN","type":"string"},{"id":"d75619dd-ef32-4aad-8f72-869a79c72e6a","name":"telefone","value":"120363375068670416@g.us","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,820],"id":"16e42d70-32d1-4613-8779-25ef8ccd0013","name":"Edit Fields1"},{"parameters":{"baseUrl":"={{ $json.qphost }}","token":"={{ $json.qptoken }}","text":"=⚠️ RabbitMQ - Hist Sync⚠️ \nNeste momento há {{ $json.queue.messages }} mensagens na fila do rabbitmq.","chatid":"={{ $json.telefone }}","filelength":0,"trackid":"servidor"},"id":"d8684244-7932-4e7f-9688-c2734c895a7a","name":"Send Notification","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[240,800]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df4ae399-f7f0-4895-9954-b0eb6c4382f2","leftValue":"={{ $json.queue.messages }}","rightValue":200,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-40,820],"id":"6fd0814e-f18a-423f-8fca-8f5703de7988","name":"If1"}],"connections":{"Webhook1":{"main":[[{"node":"Events","type":"main","index":0}]]},"Events":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Set Fields":{"main":[[{"node":"Quepasa1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Agent Info","type":"main","index":0}],[{"node":"Set Fields","type":"main","index":0}],[{"node":"Set Fields","type":"main","index":0}],[{"node":"Set Fields","type":"main","index":0}],[{"node":"Set Fields","type":"main","index":0}],[{"node":"Set Fields","type":"main","index":0}]]},"Agent Info":{"main":[[{"node":"Quepasa","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send Notification1","type":"main","index":0}],[]]},"HTTP Request1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Send Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{"Webhook1":[{"json":{"headers":{"host":"n8n2.iszap.com.br","content-length":"206","accept-encoding":"gzip","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2a06:98c0:3600::103","cf-ew-via":"15","cf-ray":"9008606097a15479-YYZ","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"hetrix.workers.dev","content-type":"application/json","uber-trace-id":"43b35d5d885f1947:05adc603241be7b0:050c4a6fe5fb0316:1","x-forwarded-for":"108.162.242.32","x-forwarded-host":"n8n2.iszap.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"38d380ee6ada","x-real-ip":"108.162.242.32"},"params":{},"query":{},"body":{"monitor_id":"e53fd25b4ea76abeb3194a95d4e4f6e0","monitor_name":"IsZAP","timestamp":1736634889,"resource_usage":{"resource_type":"ram","current_usage":"70.57","average_usage":"70.57","average_minutes":"1"}},"webhookUrl":"https://n8n2.iszap.com.br/webhook/from-hetrix","executionMode":"production"}}]},"versionId":"2445021f-33a8-4288-8f18-bd1452dc63b1","triggerCount":1,"tags":[]}