posttochatwoot-6LkM6LIxLBsM7OMt.json
{"createdAt":"2024-03-09T17:13:17.521Z","updatedAt":"2024-03-09T17:14:25.264Z","id":"6LkM6LIxLBsM7OMt","name":"PostToChatwoot","active":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{$json.participant?.title}}","operation":"isEmpty"}]}},"name":"Direct Message ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3060,520],"id":"a3af9d22-1398-4229-8d9e-4cfb955bc02f"},{"parameters":{"values":{"string":[{"name":"payload.content","value":"=**{{$json.participant.title}}**: {{$json.payload.content}}"}]},"options":{}},"name":"Prepend Title","type":"n8n-nodes-base.set","typeVersion":1,"position":[3260,580],"id":"df3f7fe5-0e37-4ac3-81d8-181ed67be5aa"},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{$json.extra.qptoken}}","operation":"download","messageId":"={{ $json.payload.content_attributes?.items?.quepasa?.msgid ?? $json.payload.echo_id }}","fileName":"={{$json.attachment.filename}}"},"id":"50b0dcea-5127-4405-989f-4ce458506ea5","name":"Quepasa Download Incoming","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[3860,320],"continueOnFail":true},{"parameters":{},"id":"caa27c60-51b6-4d2e-b6ba-e12004da6161","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[2100,380]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.attachment}}","operation":"isNotEmpty"}]}},"name":"Has Incoming Attachment","type":"n8n-nodes-base.if","typeVersion":1,"position":[3460,500],"id":"6350cfb7-af07-4560-8bd0-dd55c2d42481"},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"8e9802d4-a503-417f-87cd-23584a8b145a","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[4440,360]},{"parameters":{},"id":"6a365aac-d077-480d-846b-be2fd8160152","name":"(In) Attachment","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3660,380]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"= ** Falha ao baixar anexo ! :: => {{$json[\"payload\"][\"content\"]}}"}]},"options":{}},"id":"8f535cfa-aacc-4d9b-8451-f6f79924b9d2","name":"(In) Prepend error on content","type":"n8n-nodes-base.set","typeVersion":1,"position":[4240,240]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.error}}","operation":"isNotEmpty"}]}},"id":"bb501bce-18f6-45c3-89de-f0019c56c6de","name":"(In) Error On Get Attach ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4040,320]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.payload.content}}","operation":"isNotEmpty"}]}},"id":"d0e9e1b8-8dbc-4e19-b072-590cc29b391f","name":"If Not Empty Content ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[5120,600]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"! \"Algum EMOJI\" | \"Alguma Reação que o sistema não entende ainda ..\""}]},"options":{}},"id":"f9de92a8-2c51-4ff3-aa67-913d9832e78f","name":"Set Custom Content","type":"n8n-nodes-base.set","typeVersion":1,"position":[5320,660]},{"parameters":{"values":{"string":[{"name":"extra.qphost","value":"={{ $json.extra.qphost ?? \"http://127.0.0.1:31000\" }}"},{"name":"extra.qptoken","value":"={{ $json.extra.qptoken ?? $json.extra.identifier }}"}]},"options":{}},"id":"abbd4994-a7fc-4141-b574-2e00a55c7c76","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[2500,500]},{"parameters":{"content":"## (1.0.10) Updates\n* edited messages continue even if not found\n\n## Recommendations \n* Remember set timeout to 10 seconds","height":189.357048321488,"width":489.8474320052134},"id":"cabe5d93-5ee5-477b-ac49-271e965d9dbc","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1900,169.88126889188493]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.synopsis }}","operation":"isNotEmpty"}]}},"id":"a52603ec-7618-4c41-976c-ac4fd93b6efc","name":"If InReply | Reaction ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2680,500]},{"parameters":{"values":{"string":[{"name":"payload.content_attributes.in_reply_to","value":"={{ $json.payload.content_attributes.in_reply_to.split('-')[2] }}"}]},"options":{}},"id":"3282d3c7-26bf-4cfe-bd4c-841847d587af","name":"Prepend Reference","type":"n8n-nodes-base.set","typeVersion":2,"position":[2860,420]},{"parameters":{"requestMethod":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.extra.account }}/conversations/{{ $json.conversation.id }}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={{ $json.payload }}","headerParametersJson":"={ \"api_access_token\": \"{{ $json.extra.atoken }}\" }"},"name":"Send Edited Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[3320,240],"id":"587ff150-8c18-4cca-856b-f2d710c97f9d","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"operation":"executeQuery","query":"SELECT messages.id as internal_id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.extra.account }}' AND messages.source_id = '{{ $json.payload.source_id }}' ORDER BY messages.id DESC LIMIT 1;\n","options":{}},"id":"6d85c4df-7f7a-4ae5-b75e-5b04bcdc54de","name":"Get Edited Message Id","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[2700,160],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres account"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.payload.edited }}","value2":true}]}},"id":"712b205f-7516-4283-ad09-f204b894ec3c","name":"If Edited Message ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2300,380]},{"parameters":{},"id":"83d8663f-ce1b-42cd-90bb-4404711a544d","name":"(In) Text Message Following With Attachment","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5140,360]},{"parameters":{"conditions":{"string":[{"value1":"={{$binary}}","operation":"isEmpty"}]}},"id":"ef264519-2160-4985-8169-574ea437b258","name":"Post Incomming Text Only ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[5520,580],"retryOnFail":true,"waitBetweenTries":2000},{"parameters":{},"id":"76e44d67-c3de-4be6-b7cf-54762a6bf6cc","name":"No Operation, do nothing3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2500,260]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"cd062b1b-6cf9-4df1-b418-ae0b2238810c","name":"Merge Edited Message Info","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2900,240]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"=⚠️ ***Essa mensagem foi editada !***\n -------------------------------------\n{{ $json.payload.content }}"},{"name":"payload.content_attributes.in_reply_to_external_id","value":"={{ $json.payload.source_id }}"}],"number":[{"name":"payload.content_attributes.in_reply_to","value":"={{ +$json.internal_id }}"}]},"options":{}},"id":"4934ff29-c665-45d3-97e4-cba5fe895c3a","name":"Prepend Edited Content","type":"n8n-nodes-base.set","typeVersion":2,"position":[3120,240]},{"parameters":{"content":"## Fail Retry \nImportant to retry on fail because if you are using any external storage, it will try to save at this time.\nSo you need to ensure success ...","height":347.0509255000625,"width":258.1602840291324},"id":"0fca1f75-c2b3-4f75-ab40-62dbb7a1a2e8","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7360,1000]},{"parameters":{"requestMethod":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation.id}}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{"bodyContentType":"multipart-form-data"},"sendBinaryData":true,"binaryPropertyName":"attachments[]:data","headerParametersJson":"={ \"api_access_token\": \"{{$json.extra.atoken}}\" }","queryParametersJson":"={{$json.payload}}"},"name":"Post Incoming Message Attachment","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[7660,1180],"id":"776155b5-47da-4c12-bc26-8eecb10c50c1","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"attachment.thumbnail","options":{"dataIsBase64":true,"fileName":"={{ $json.attachment.filename }}","mimeType":"image/jpeg"}},"id":"9bf7693d-0734-4d15-821b-90703fa3c845","name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[6620,1060],"alwaysOutputData":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const base64string = Buffer.from($input.item.binary[\"data\"].data, 'base64').toString();\n$input.item.json.vcard = base64string;\nreturn $input.item;"},"id":"7dcabf83-d4de-4412-8791-35541c6d00a8","name":"Get vCard Infos","type":"n8n-nodes-base.code","typeVersion":1,"position":[6240,680]},{"parameters":{"method":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.vcard.split('FN:')[1].split('TEL')[0].split('item')[0] }}"},{"name":"phone_number","value":"=+{{ $json.vcard.split('TEL')[1].split(':')[0].split('waid=')[1] }}"},{"name":"identifier","value":"={{ $json.vcard.split('TEL')[1].split(':')[0].split('waid=')[1] }}@s.whatsapp.net"}]},"options":{}},"id":"567de94a-4f66-4dcd-9351-a00c1bd10114","name":"Try to Add Contact On Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7140,560],"alwaysOutputData":true,"continueOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"requestMethod":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation.id}}/messages","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"message_type","value":"={{ 2 }}"},{"name":"content","value":"={{ $json.import.message }}"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]}},"name":"Post Success Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[8480,660],"id":"cf8f7a3d-c61b-4681-9bfd-8edcd3f1e917","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"requestMethod":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation.id}}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={{$json.payload}}","headerParametersJson":"={ \"api_access_token\": \"{{$json.extra.atoken}}\" }"},"name":"Post Incoming Message Without Attachment","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[6880,480],"id":"9e0faeb3-3d42-4e6a-a4b5-b6bca8db9ec9","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{},"id":"644c0ebb-7203-4596-89e9-7d79262d8460","name":"Extension .url","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6000,1120]},{"parameters":{},"id":"4203cf9f-9045-441b-b152-a919cbc55d81","name":"Extension .vcf","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6000,680]},{"parameters":{},"id":"436d9c1d-1c35-4d30-be55-ee9a2120c8fc","name":"Any Other Extensions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6000,1420]},{"parameters":{},"id":"f3f27db3-c3fa-4aaa-b821-e93907e6e784","name":"Insert Contact Into Chatwoot","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6880,680]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"0cdf5958-1a3b-4ef1-8b75-bb0e3052e2f2","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[8260,660]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error }}","operation":"isNotEmpty"}]}},"id":"2286cc27-a294-43d2-b759-ee6d29ae551a","name":"If Insert Contact Error","type":"n8n-nodes-base.if","typeVersion":1,"position":[7360,560]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error.message }}","operation":"contains","value2":"has already been taken"}]}},"id":"13732b00-8d64-4032-bc81-d68782f6ac2d","name":"If Already Exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[7540,420]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"import.message","value":"✅ Contato já existe"}]},"options":{}},"id":"28ae41f1-5131-4d01-b9b9-1f1aa879b4ee","name":"Set Success For Already Exists","type":"n8n-nodes-base.set","typeVersion":2,"position":[7780,280]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"import.message","value":"✅ Contato importado com sucesso"}]},"options":{}},"id":"5407d4b1-b323-48eb-87b0-010b1f2dbbe1","name":"Set Success","type":"n8n-nodes-base.set","typeVersion":2,"position":[7780,580]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"import.message","value":"=Falha na importação: {{ $json.error.message }}"}]},"options":{}},"id":"f8ee1d43-bb1b-451a-b19d-c2af6c736839","name":"Set Fail","type":"n8n-nodes-base.set","typeVersion":2,"position":[7780,440]},{"parameters":{},"id":"96233ab9-c4ec-47cd-87bf-f3c99b5f020a","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8060,440]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"=**Nome:** {{ $json.vcard.split('FN:')[1].split('TEL')[0].split('item1.')[0] }}\n**Telefone:** {{ $json.vcard.split('TEL')[1].split(':')[0].split('waid=')[1] }}\n"}]},"options":{}},"id":"7d8add2e-fb39-4e59-8369-df3dde2c3ed0","name":"Adjust Content","type":"n8n-nodes-base.set","typeVersion":1,"position":[6460,680]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"=**Localização:** \n{{ $json.attachment.url }}"}]},"options":{}},"id":"b01e1664-9325-4eb6-a241-c60755aff4ed","name":"Override Default Content","type":"n8n-nodes-base.set","typeVersion":1,"position":[6220,1120]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.attachment.thumbnail }}","operation":"isNotEmpty"}]}},"id":"d0b77091-aa3a-4b01-aed7-dbc5e71c727b","name":"If Has Thumbnail","type":"n8n-nodes-base.if","typeVersion":1,"position":[6440,1120]},{"parameters":{},"id":"b8103bbc-2d25-4221-979e-e4a839d531b8","name":"(Localization) Follow and Post","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6780,1140]},{"parameters":{},"id":"affd20c0-c0d3-4512-b399-44513e0e8b44","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6240,840]},{"parameters":{},"id":"484c9b62-e262-4434-9814-d5b476986972","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5720,480]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $binary[\"data\"].fileExtension }}","rightValue":"vcf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"0"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b9353418-79ae-43ce-81ea-6575a722c33f","leftValue":"={{ $binary[\"data\"].fileExtension }}","rightValue":"url","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"}]},"options":{"fallbackOutput":"extra"}},"id":"6a901682-8017-4ec5-8b85-2f92601f350f","name":"Switch By Extension","type":"n8n-nodes-base.switch","typeVersion":3,"position":[5720,780]}],"connections":{"Direct Message ?":{"main":[[{"node":"Has Incoming Attachment","type":"main","index":0}],[{"node":"Prepend Title","type":"main","index":0}]]},"Prepend Title":{"main":[[{"node":"Has Incoming Attachment","type":"main","index":0}]]},"Quepasa Download Incoming":{"main":[[{"node":"(In) Error On Get Attach ?","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"If Edited Message ?","type":"main","index":0}]]},"Has Incoming Attachment":{"main":[[{"node":"(In) Attachment","type":"main","index":0}],[{"node":"If Not Empty Content ?","type":"main","index":0}]]},"Merge":{"main":[[{"node":"(In) Text Message Following With Attachment","type":"main","index":0}]]},"(In) Attachment":{"main":[[{"node":"Quepasa Download Incoming","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"(In) Prepend error on content":{"main":[[{"node":"Merge","type":"main","index":0}]]},"(In) Error On Get Attach ?":{"main":[[{"node":"(In) Prepend error on content","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"If Not Empty Content ?":{"main":[[{"node":"Post Incomming Text Only ?","type":"main","index":0}],[{"node":"Set Custom Content","type":"main","index":0}]]},"Set Custom Content":{"main":[[{"node":"Post Incomming Text Only ?","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"If InReply | Reaction ?","type":"main","index":0}]]},"If InReply | Reaction ?":{"main":[[{"node":"Prepend Reference","type":"main","index":0}],[{"node":"Direct Message ?","type":"main","index":0}]]},"Prepend Reference":{"main":[[{"node":"Direct Message ?","type":"main","index":0}]]},"Get Edited Message Id":{"main":[[{"node":"Merge Edited Message Info","type":"main","index":0}]]},"If Edited Message ?":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"Defaults","type":"main","index":0}]]},"(In) Text Message Following With Attachment":{"main":[[{"node":"Post Incomming Text Only ?","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Get Edited Message Id","type":"main","index":0},{"node":"Merge Edited Message Info","type":"main","index":1}]]},"Merge Edited Message Info":{"main":[[{"node":"Prepend Edited Content","type":"main","index":0}]]},"Prepend Edited Content":{"main":[[{"node":"Send Edited Message","type":"main","index":0}]]},"Move Binary Data":{"main":[[{"node":"(Localization) Follow and Post","type":"main","index":0}]]},"Get vCard Infos":{"main":[[{"node":"Adjust Content","type":"main","index":0}]]},"Try to Add Contact On Chatwoot":{"main":[[{"node":"If Insert Contact Error","type":"main","index":0}]]},"Extension .url":{"main":[[{"node":"Override Default Content","type":"main","index":0}]]},"Extension .vcf":{"main":[[{"node":"Get vCard Infos","type":"main","index":0},{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Any Other Extensions":{"main":[[{"node":"Post Incoming Message Attachment","type":"main","index":0}]]},"Insert Contact Into Chatwoot":{"main":[[{"node":"Merge1","type":"main","index":1},{"node":"Try to Add Contact On Chatwoot","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Post Success Message","type":"main","index":0}]]},"If Insert Contact Error":{"main":[[{"node":"If Already Exists","type":"main","index":0}],[{"node":"Set Success","type":"main","index":0}]]},"If Already Exists":{"main":[[{"node":"Set Success For Already Exists","type":"main","index":0}],[{"node":"Set Fail","type":"main","index":0}]]},"Set Success For Already Exists":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Set Success":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Set Fail":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Adjust Content":{"main":[[{"node":"Insert Contact Into Chatwoot","type":"main","index":0},{"node":"Post Incoming Message Without Attachment","type":"main","index":0}]]},"Override Default Content":{"main":[[{"node":"If Has Thumbnail","type":"main","index":0}]]},"If Has Thumbnail":{"main":[[{"node":"Move Binary Data","type":"main","index":0}],[{"node":"(Localization) Follow and Post","type":"main","index":0}]]},"(Localization) Follow and Post":{"main":[[{"node":"Post Incoming Message Attachment","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Post Incoming Message Attachment","type":"main","index":0}]]},"Post Incomming Text Only ?":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Switch By Extension","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Post Incoming Message Without Attachment","type":"main","index":0}]]},"Switch By Extension":{"main":[[{"node":"Extension .vcf","type":"main","index":0}],[{"node":"Extension .url","type":"main","index":0}],[{"node":"Any Other Extensions","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fff099e0-2ba0-4600-8235-aa031fd12bd6","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"},{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T15:16:03.714Z","updatedAt":"2024-03-09T15:16:03.714Z","id":"KOLgvcJBMVVu28zw","name":"quepasa"}]}