posttowebcallback-FSbotEb2oMoORnPa.json
{"createdAt":"2024-03-09T17:01:17.956Z","updatedAt":"2024-03-09T17:01:17.956Z","id":"FSbotEb2oMoORnPa","name":"PostToWebCallBack","active":false,"nodes":[{"parameters":{},"id":"6b33ecfe-f5b0-43ff-a197-6467a94ae05f","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[540,640]},{"parameters":{"content":"## (1.0.0) Recommendations \n* Remember set timeout to 15 seconds ","width":395},"id":"9705e81e-b7f2-4010-b4e8-7c41269c5317","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"payload.content","value":"=error at place a call for that inbox, make sure you have configured with:\nsend a msg to Inbox Control Contact {{ $env[\"C8Q_QP_CONTACT\"] ?? \"control@whatsapp.io\" }}\n\n/webcallback {destination}\n\nwhere {destination} => +552140627711 like E164 format telephony number.\nmust start with an +"},{"name":"payload.message_type","value":"incoming"},{"name":"conversation","value":"={{$json.conversation}}"},{"name":"extra","value":"={{$json.extra}}"},{"name":"payload.content_type","value":"text"}],"boolean":[{"name":"payload.private","value":true}]},"options":{}},"name":"Chatwoot Message Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[1660,620],"id":"856b0f20-9cca-4fc7-8a7a-151e4352ccc0"},{"parameters":{"workflowId":"6LkM6LIxLBsM7OMt","options":{}},"id":"ba167ce2-d4e7-4403-9b9f-cd332f46b008","name":"Execute Workflow Post To Chatwoot","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1840,620],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]}},"id":"e335956d-02c8-4ec7-90e6-9bb02080803a","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1280,540]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"e467a281-f4ab-4b58-afa9-44248a2f0902","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1480,620]},{"parameters":{},"id":"fe3ad791-4879-4902-9689-0578e032ac38","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[740,640]},{"parameters":{"method":"POST","url":"https://endpoints.sufficit.com.br/gateway/chatwoot/webcallback","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"id":"bb504871-2b9d-47f7-b01a-d0e6918f4fdb","name":"Request Call Back","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1100,540],"alwaysOutputData":false,"continueOnFail":true},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"destination","value":"={{ $json.chat.id }}"},{"name":"externalid","value":"={{ $json.extra.identifier }}"},{"name":"label","value":"WhatsApp"}],"boolean":[{"name":"identified","value":true}],"number":[{"name":"delay","value":5}]},"options":{}},"id":"b5bd3f42-1108-44f9-8d06-a7a76ae85f1d","name":"Set Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[920,540]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Chatwoot Message Payload":{"main":[[{"node":"Execute Workflow Post To Chatwoot","type":"main","index":0}]]},"IF":{"main":[[],[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Chatwoot Message Payload","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Set Parameters","type":"main","index":0}]]},"Request Call Back":{"main":[[{"node":"IF","type":"main","index":0}]]},"Set Parameters":{"main":[[{"node":"Request Call Back","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3a7d3633-f98b-490f-b64d-9e67949e14db","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:16:04.080Z","updatedAt":"2024-03-09T14:16:04.080Z","id":"Qgg6bPvz0vpaMIkN","name":"QUEPASA"},{"createdAt":"2024-03-09T14:16:04.090Z","updatedAt":"2024-03-09T14:16:04.090Z","id":"Qlcjo6UHiw4frtYR","name":"CHATWOOT"},{"createdAt":"2024-03-09T14:16:04.079Z","updatedAt":"2024-03-09T14:16:04.079Z","id":"NKqNSuY0oJxzFsGW","name":"NOCODELEAKS"}]}