posttowebcallback-FSbotEb2oMoORnPa.json
{"createdAt":"2024-03-09T17:01:17.956Z","updatedAt":"2024-11-22T03:42:40.197Z","id":"FSbotEb2oMoORnPa","name":"PostToWebCallBack","active":false,"nodes":[{"parameters":{},"id":"a662110e-b6e2-4c71-a9d1-d50d8c366e87","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[540,580]},{"parameters":{"content":"## (1.0.3) \n* update quepasa node\n\n## Recommendations \n* Remember set timeout to 15 seconds ","width":395},"id":"158e9970-aee7-4397-ab60-4df94d45524e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,400]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"payload.content","value":"=error on place a call for that inbox:\n* {{ $json.error.message }}\n\nmake sure you have configured with:\nsend a msg to Inbox Control Contact {{ $env[\"C8Q_QP_CONTACT\"] ?? \"control@quepasa.io\" }}\n\n/webcallback {destination}\n\nwhere {destination} => +552140627711 like E164 format telephony number.\nmust start with an +"},{"name":"payload.message_type","value":"incoming"},{"name":"conversation","value":"={{$json.conversation}}"},{"name":"extra","value":"={{$json.extra}}"},{"name":"payload.content_type","value":"text"}],"boolean":[{"name":"payload.private","value":true}]},"options":{}},"name":"Chatwoot Message Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[1680,660],"id":"e4ec7455-5d02-4665-8c4c-0ff42aa984fa"},{"parameters":{"workflowId":"={{ $env['C8Q_POSTTOCHATWOOT'] }}","options":{}},"id":"dfbf4d10-3d9a-4c83-8fba-4b56743e620e","name":"Execute Workflow Post To Chatwoot","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1880,660],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]}},"id":"5100a46e-950b-4a08-9879-00ca61f6cfea","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1480,580]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"6b820798-b768-4f2c-b18b-874ffd01530e","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1300,580]},{"parameters":{},"id":"a278a238-021a-4886-bb2b-996d31f39ad6","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[740,580]},{"parameters":{"method":"POST","url":"https://endpoints.sufficit.com.br/gateway/chatwoot/webcallback","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"id":"6ce3799d-604f-4701-be03-6d6bce15076e","name":"Request Call Back","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1100,480],"alwaysOutputData":false,"continueOnFail":true},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"destination","value":"={{ $json.chat.id }}"},{"name":"externalid","value":"={{ $json.extra.identifier }}"},{"name":"label","value":"WhatsApp"}],"number":[{"name":"delay","value":5}]},"options":{}},"id":"9927b41a-faf8-4166-ae63-30a1c6ca5dcd","name":"Set Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[920,480]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra","value":"={{$json.extra}}"},{"name":"chat.id","value":"={{ $json.chat.id }}"}]},"options":{}},"name":"Chatwoot Message Payload For Success","type":"n8n-nodes-base.set","typeVersion":1,"position":[1680,500],"id":"630a26a8-fcb0-47c7-b0cd-07f2caed3466"},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{ $json.extra.qptoken ?? $json.extra.identifier }}","method":"sendtext","text":"Por favor aguarde, estamos retornando sua chamada por telefone.","chatid":"={{$json.chat.id}}","inreply":"="},"id":"83bf0338-55d2-4342-9b1f-c8a9c9d579b3","name":"Quepasa","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[1880,500]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Chatwoot Message Payload":{"main":[[{"node":"Execute Workflow Post To Chatwoot","type":"main","index":0}]]},"IF":{"main":[[{"node":"Chatwoot Message Payload For Success","type":"main","index":0}],[{"node":"Chatwoot Message Payload","type":"main","index":0}]]},"Merge":{"main":[[{"node":"IF","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Set Parameters","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Request Call Back":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set Parameters":{"main":[[{"node":"Request Call Back","type":"main","index":0}]]},"Chatwoot Message Payload For Success":{"main":[[{"node":"Quepasa","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e0eeb911-93b6-4bef-acba-5645d28f9b44","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:16:04.080Z","updatedAt":"2024-03-09T14:16:04.080Z","id":"Qgg6bPvz0vpaMIkN","name":"QUEPASA"},{"createdAt":"2024-03-09T14:16:04.090Z","updatedAt":"2024-03-09T14:16:04.090Z","id":"Qlcjo6UHiw4frtYR","name":"CHATWOOT"},{"createdAt":"2024-03-09T14:16:04.079Z","updatedAt":"2024-03-09T14:16:04.079Z","id":"NKqNSuY0oJxzFsGW","name":"NOCODELEAKS"}]}