posttochatwoot-6LkM6LIxLBsM7OMt.json
{"createdAt":"2024-03-09T17:13:17.521Z","updatedAt":"2024-12-17T20:20:31.721Z","id":"6LkM6LIxLBsM7OMt","name":"PostToChatwoot","active":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{$json.participant?.title}}","operation":"isEmpty"}]}},"name":"Direct Message ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4020,2280],"id":"7170b696-2e2b-46fc-b336-b24d903d701d"},{"parameters":{"values":{"string":[{"name":"payload.content","value":"=**{{$json.participant.title}}**: {{$json.payload.content}}"}]},"options":{}},"name":"Prepend Title","type":"n8n-nodes-base.set","typeVersion":1,"position":[4440,2440],"id":"c30c8bdb-ffa9-49f8-8bc1-f0195fd1e9ce"},{"parameters":{"baseUrl":"={{$json.extra.qphost}}","token":"={{$json.extra.qptoken}}","operation":"download","messageid":"={{ $json.payload.content_attributes?.items?.quepasa?.msgid ?? $json.payload.echo_id }}","fileName":"={{$json.attachment.filename}}"},"id":"0eb535c8-e70b-4de4-8934-6121f6202d22","name":"Quepasa Download Incoming","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[5040,2080],"continueOnFail":true},{"parameters":{},"id":"2349d53e-b26b-4f8a-97b4-02f719ddeef9","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[2940,2140]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.attachment}}","operation":"isNotEmpty"}]}},"name":"Has Incoming Attachment","type":"n8n-nodes-base.if","typeVersion":1,"position":[4640,2260],"id":"9ecc467c-e7c2-4765-b9ca-1ec44dae3aa1"},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"4f770098-a03d-438f-9721-3c3ae8067bb7","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[5220,2160]},{"parameters":{},"id":"807a25ff-d463-4222-8b96-816f18d88f6e","name":"(In) Attachment","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4840,2180]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.error}}","operation":"isNotEmpty"}]}},"id":"4b536d81-44fa-4fbc-96f6-21487d664449","name":"(In) Error On Get Attach ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[5400,2160]},{"parameters":{"content":"## Fail Retry \nImportant to retry on fail because if you are using any external storage, it will try to save at this time.\nSo you need to ensure success ...","height":347.0509255000625,"width":258.1602840291324},"id":"816b9b0b-e232-4bf2-aa21-ef61562b0a13","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8860,2740]},{"parameters":{"values":{"string":[{"name":"extra.qphost","value":"={{ $json.extra.qphost ?? \"http://127.0.0.1:31000\" }}"},{"name":"extra.cwhost","value":"={{ $json.extra.cwhost ?? \"http://127.0.0.1:3000\" }}"},{"name":"extra.qptoken","value":"={{ $json.extra.qptoken ?? $json.extra.identifier }}"}]},"options":{}},"id":"d174c710-ae46-43b4-8c81-93ce29585850","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[3100,2140]},{"parameters":{"content":"## (1.0.21) Updates\n* update quepasa node\n\n## Recommendations \n* Remember set timeout to 10 seconds","height":262.55904520292785,"width":489.8474320052134},"id":"9e6dca50-d29a-4a4c-9b1e-eccfba908827","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2860,1860]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.synopsis }}","operation":"isNotEmpty"}]}},"id":"b69cc8f5-b60f-4d7c-b180-c683c67a3340","name":"If InReply | Reaction ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3640,2260]},{"parameters":{"values":{"string":[{"name":"payload.content_attributes.in_reply_to","value":"={{ $json.payload.content_attributes.in_reply_to.split('-')[2] }}"}]},"options":{}},"id":"37097339-d584-4149-9bcd-fb807fe23062","name":"Prepend Reference","type":"n8n-nodes-base.set","typeVersion":2,"position":[3820,2180]},{"parameters":{"requestMethod":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.extra.account }}/conversations/{{ $json.conversation.id }}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={{ $json.payload }}","headerParametersJson":"={ \"api_access_token\": \"{{ $json.extra.atoken }}\" }"},"name":"Send Edited Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4180,2000],"id":"8130ce7d-b88b-4dda-9735-0a571e1c8e6d","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"requestMethod":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation.id}}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{"bodyContentType":"multipart-form-data"},"sendBinaryData":true,"binaryPropertyName":"attachments[]:data","headerParametersJson":"={ \"api_access_token\": \"{{$json.extra.utoken}}\" }","queryParametersJson":"={{$json.payload}}"},"name":"Post Incoming Message Attachment","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[9160,2900],"id":"35f31e5a-c65b-48db-a8ab-c8bcfd3d2f68","retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"attachment.thumbnail","options":{"dataIsBase64":true,"fileName":"={{ $json.attachment.filename }}","mimeType":"image/jpeg"}},"id":"86d86b13-2923-498a-bc87-fb23008b3cb3","name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[7840,2820],"alwaysOutputData":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const vcard = $json.vcard;\n\n// split the string on \\n or \\r characters\nconst lines = vcard.text.match(/[^\\r\\n]+/g);\n\nconst fn = lines.find(element => element.startsWith(\"FN:\"));\nif (fn) {\n  vcard.fn = fn.substring(3);\n}\n\nconst items = [];\n\nfunction HandlerPhone(item, phoneline){\n  // getting phone\n    item.phone = phoneline.split(\":\").pop();\n    if (item.phone) {\n      item.phone = item.phone.replace(/\\D/g, \"\");\n      if (item.phone.length === 0) item.phone = undefined;\n    }\n    \n    // getting phone old method\n    item.phone_old = phoneline.split('TEL')[1]?.split(':')[0]?.split('waid=')[1];\n    if (item.phone_old) {\n      item.phone_old = item.phone_old.replace(/\\D/g, \"\");\n      if (item.phone_old.length === 0) item.phone_old = undefined;\n    }\n    \n    // getting whatsapp id\n    const waidindex = phoneline.indexOf(\"waid=\");\n    if (waidindex > -1) {\n      item.waid = phoneline.substring(waidindex + 5).split(':')[0];\n      if (item.waid) {\n        item.waid = item.waid.replace(/\\D/g, \"\");\n        if (item.waid.length === 0) item.waid = undefined;\n      }\n    }    \n}\n\nfunction ForEachItem(element, index, array) {\n  element = element.substring(4);\n  const itemindex = element.split('.')[0];    \n  const telprefix = itemindex + \".TEL;\";\n  if (element.startsWith(telprefix)) {\n    element = element.substring(5);\n    \n    let item = items.find(s => s.index == itemindex);\n    if (!item) { item = { index: itemindex }; items.push(item); }\n\n    HandlerPhone(item, element);\n  }    \n}\n\nfunction ForEachTEL(element, index, array) {\n  element = element.substring(4);  \n    \n  const item = {}; \n  items.push(item);\n\n  HandlerPhone(item, element);  \n}\n\nconst itemlines = lines.filter(element => element.startsWith(\"item\"));\nitemlines.forEach(ForEachItem);\n\nconst tellines = lines.filter(element => element.startsWith(\"TEL;\"));\ntellines.forEach(ForEachTEL);\n\nvcard.items = items;\n\nif (vcard.items.length > 0) {\n  // setting default phone\n  vcard.phone = vcard.items[0].waid ?? vcard.items[0].phone ?? vcard.items[0].phone_old;\n}\n\nreturn $input.item;"},"id":"a5ff72c5-4c93-4432-a259-17c3f63273b8","name":"Get vCard Infos","type":"n8n-nodes-base.code","typeVersion":1,"position":[7900,2440]},{"parameters":{"requestMethod":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation.id}}/messages","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"message_type","value":"={{ 2 }}"},{"name":"content","value":"={{ $json.import.message }}"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]}},"name":"Post Success Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[10140,2420],"id":"9e91d667-2264-4eb4-ad42-d4f51543e049","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"operation":"executeQuery","query":"SELECT messages.id as internal_id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.extra.account }}' AND messages.source_id = '{{ $json.payload.source_id }}' ORDER BY messages.id DESC LIMIT 1;\n","options":{}},"id":"27d5b93a-1997-49d4-b363-95c7132bdc29","name":"Get Edited Message Id","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[3660,1920],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.payload.edited }}","value2":true}]}},"id":"e581b998-438b-4347-9cd7-bf813872d8aa","name":"If Edited Message ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3260,2140]},{"parameters":{"dataType":"string","value1":"={{ $binary[\"data\"].fileExtension }}","rules":{"rules":[{"value2":"vcf"},{"value2":"url","output":1}]},"fallbackOutput":3},"id":"5dff92ab-fd85-4c28-8635-bb8dc74fcfc4","name":"Switch By Extension","type":"n8n-nodes-base.switch","typeVersion":1,"position":[6240,2440]},{"parameters":{},"id":"ae874779-aaa1-4793-a26f-22f6de594675","name":"Extension .url","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7220,2880]},{"parameters":{},"id":"4127aba1-6201-4076-a629-e69b031a8c57","name":"Extension .vcf","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7280,2460]},{"parameters":{},"id":"c8941f18-5294-4096-be69-51708d758420","name":"Any Other Extensions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7220,3180]},{"parameters":{},"id":"45ebfe82-cda7-4dda-945c-d046350eb33c","name":"Insert Contact Into Chatwoot","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8540,2440]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"b1986403-0faa-4659-914c-e6a15d4a95fa","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[9920,2420]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error }}","operation":"isNotEmpty"}]}},"id":"441ac03f-c09c-4ba2-9abb-fd6b418e5745","name":"If Insert Contact Error","type":"n8n-nodes-base.if","typeVersion":1,"position":[9020,2320]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error.message }}","operation":"contains","value2":"has already been taken"}]}},"id":"b3811246-f569-4be7-831c-4b18d1faa5c9","name":"If Already Exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[9200,2180]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"import.message","value":"✅ Contato já existe"}]},"options":{}},"id":"20bb9a66-1e14-4d25-a30e-820fdaa083f4","name":"Set Success For Already Exists","type":"n8n-nodes-base.set","typeVersion":2,"position":[9440,2040]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"import.message","value":"✅ Contato importado com sucesso"}]},"options":{}},"id":"31b83f72-2ec6-4c5c-a7f7-2e4dad5eee23","name":"Set Success","type":"n8n-nodes-base.set","typeVersion":2,"position":[9440,2340]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"import.message","value":"=Falha na importação: {{ $json.error.message }}"}]},"options":{}},"id":"6ff934e8-5b53-48e6-8e46-df4ed35b9889","name":"Set Fail","type":"n8n-nodes-base.set","typeVersion":2,"position":[9440,2200]},{"parameters":{},"id":"c73dc0e2-e400-46d5-b281-f10b942c9e50","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9720,2200]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"=**Nome:** {{ $json.vcard.fn }}\n**Telefone:** {{ $json.vcard.phone }}\n"}]},"options":{}},"id":"be3de740-2e47-4588-be59-b1ad2ed2068f","name":"Adjust Content","type":"n8n-nodes-base.set","typeVersion":1,"position":[8120,2440]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.attachment.thumbnail }}","operation":"isNotEmpty"}]}},"id":"6c7286a5-095c-49d4-8563-c3b4c567e051","name":"If Has Thumbnail","type":"n8n-nodes-base.if","typeVersion":1,"position":[7660,2880]},{"parameters":{},"id":"b0293439-00e4-4938-9be5-dd7993cd97b7","name":"(Localization) Follow and Post","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8000,2900]},{"parameters":{"conditions":{"string":[{"value1":"={{$binary}}","operation":"isEmpty"}]}},"id":"4842fbb4-e559-493e-b3cd-bbdab6d2b3af","name":"Post Incomming Text Only ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6040,2340],"retryOnFail":true,"waitBetweenTries":2000},{"parameters":{},"id":"44c229ed-4315-4bd5-a512-bf36104e8d1c","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6240,2260]},{"parameters":{},"id":"a18388af-f04b-4d1c-b90c-f3120c5b6070","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7680,2600]},{"parameters":{},"id":"ef2a8e89-cfda-4833-9b63-61f5d720a5f1","name":"No Operation, do nothing3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3460,2020]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"f078d533-932d-4490-9df4-78ced6a0a158","name":"Merge Edited Message Info","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3860,2000]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"={{ $env['C8Q_MSGFOR_EDITED_CONTENT'] ?? '\\u26A0\\uFE0F ***Essa mensagem foi editada !***' }}\n\n-------------------------------------\n{{ $json.payload.content }}"},{"name":"payload.content_attributes.in_reply_to_external_id","value":"={{ $json.payload.source_id }}"}],"number":[{"name":"payload.content_attributes.in_reply_to","value":"={{ +$json.internal_id }}"}]},"options":{}},"id":"8fac3a56-7f8c-49f2-9f54-a09962357d27","name":"Prepend Edited Content","type":"n8n-nodes-base.set","typeVersion":2,"position":[4020,2000]},{"parameters":{},"id":"2f21f0f0-6f30-45c5-b011-e6fe1ab64e0a","name":"No Operation, do nothing4","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3460,2260]},{"parameters":{"method":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.vcard.fn }}"},{"name":"phone_number","value":"=+{{ $json.vcard.phone }}"},{"name":"identifier","value":"={{ $json.vcard.phone }}@s.whatsapp.net"}]},"options":{}},"id":"e03f41bf-110b-4103-b619-93a48be692c9","name":"Try to Add Contact On Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[8800,2320],"alwaysOutputData":true,"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{},"id":"a82f19cf-b526-410d-b9be-5054490fe2db","name":"No Operation, do nothing5","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5240,2340]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.payload.content}}","operation":"isNotEmpty"}]}},"id":"966eba5b-559b-4a0d-b7a2-8269afffaa6a","name":"If Not Empty Content ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4840,2360]},{"parameters":{},"id":"df36b193-edaa-4dbe-9523-f853f3de3839","name":"(In) Text Message Following With Attachment","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5780,2180]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"={{ $env['C8Q_MSGFOR_UNKNOWN_CONTENT'] ?? '! \"Algum EMOJI\" | \"Alguma Reação que o sistema não entende ainda ..\"' }}"}]},"options":{}},"id":"878b09dd-d72c-4cfc-874b-31764fb2c72e","name":"Set Unknown Content","type":"n8n-nodes-base.set","typeVersion":1,"position":[5040,2440]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"={{ $env['C8Q_MSGFOR_ATTACHERROR_CONTENT'] ?? '** Falha ao baixar anexo !' }}\n\n-------------------------------------\nfilename: {{ $json[\"attachment\"][\"filename\"] }}\nerror: {{ $json.error }}"}]},"options":{}},"id":"7cdc54ea-61c5-4ea3-86cb-7a83483891a1","name":"(In) Prepend Attach Error Content","type":"n8n-nodes-base.set","typeVersion":1,"position":[5600,2080]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"= {{ $env['C8Q_MSGFOR_LOCALIZATION_CONTENT'] ?? '** Localização **' }}\n\n-------------------------------------\n{{ $json.attachment.url }}"}]},"options":{}},"id":"121fea5a-24e4-4880-99d3-8e8f6dee2e57","name":"Override Localization Content","type":"n8n-nodes-base.set","typeVersion":1,"position":[7440,2880]},{"parameters":{"workflowId":"=v45IzpjieldmcF2p","mode":"each","options":{"waitForSubWorkflow":false}},"id":"a09a61a2-dbc0-4bd3-bc90-22e7457e1c18","name":"Throw Audio Transcript Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[9940,3020],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"19a56ff4-9d4b-4b6a-82cc-4cc55b3ee1ad","leftValue":"={{ $json.event }}","rightValue":"audio","operator":{"type":"string","operation":"contains"}},{"id":"2a96a9dc-5069-441c-abf2-995aa10ef929","leftValue":"={{ $json.payload.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e49bac21-445a-47a1-826d-1ecdcd06d0d5","leftValue":"={{ $json.chat.chatwoot?.skipaudiotranscript ?? false }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"76711c45-0e90-4c88-ba86-995d5e47715a","name":"Is Valid Audio For Transcript","type":"n8n-nodes-base.if","typeVersion":2,"position":[9260,3180]},{"parameters":{},"id":"b91c2990-cbf2-42dc-91c3-25495ef88f60","name":"From .vcf","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8700,2600]},{"parameters":{},"id":"9a053889-3057-4d0f-ba55-d060dfad948a","name":"From .url","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8480,2900]},{"parameters":{},"id":"66be4772-632c-4a71-80db-771bda354f14","name":"From any *","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8480,3180]},{"parameters":{"assignments":{"assignments":[{"id":"823c5aa8-d3fa-452d-9d8e-9a6b7ad8c0f0","name":"msgid","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"6ca33f40-8e9b-442f-967d-831058838aaf","name":"Getting Msg Id","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9480,2900]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"e9d7af62-5e9f-40b3-b305-1175e7862469","name":"Merge With Posted Msg Id","type":"n8n-nodes-base.merge","typeVersion":3,"position":[9720,3020]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e4c92b92-7d5c-4835-8f9d-c4cd0e384533","leftValue":"={{ $json.participant.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ad68542e-c7c3-4b17-9775-41ad7aa718c6","name":"If Has Phone ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[4220,2360]},{"parameters":{"values":{"string":[{"name":"payload.content","value":"=**({{ $json.participant.phone }}) {{$json.participant.title}}**: {{$json.payload.content}}"}]},"options":{}},"name":"Prepend Title & Phone","type":"n8n-nodes-base.set","typeVersion":1,"position":[4440,2300],"id":"b92a3c5b-bf73-4cb4-b1a5-522f8ed7d489"},{"parameters":{"operation":"text","destinationKey":"vcard.text","options":{"keepSource":"json"}},"id":"78c985d2-2ba1-4f4c-bffa-448eac071fa3","name":"Extract VCard","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[7680,2440]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM agent_bots WHERE id = 1;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8440,1780],"id":"99663d75-a570-46da-b6a9-cba006b5163f","name":"Postgres","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"method":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation.id}}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{$json.extra.atoken}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{$json.payload}}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8400,2240],"id":"918df725-b133-4303-80a8-d1f8307992ed","name":"Post Incoming message"}],"connections":{"Direct Message ?":{"main":[[{"node":"Has Incoming Attachment","type":"main","index":0}],[{"node":"If Has Phone ?","type":"main","index":0}]]},"Prepend Title":{"main":[[{"node":"Has Incoming Attachment","type":"main","index":0}]]},"Quepasa Download Incoming":{"main":[[{"node":"Merge","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"Has Incoming Attachment":{"main":[[{"node":"(In) Attachment","type":"main","index":0}],[{"node":"If Not Empty Content ?","type":"main","index":0}]]},"Merge":{"main":[[{"node":"(In) Error On Get Attach ?","type":"main","index":0}]]},"(In) Attachment":{"main":[[{"node":"Quepasa Download Incoming","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"(In) Error On Get Attach ?":{"main":[[{"node":"(In) Prepend Attach Error Content","type":"main","index":0}],[{"node":"(In) Text Message Following With Attachment","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"If Edited Message ?","type":"main","index":0}]]},"If InReply | Reaction ?":{"main":[[{"node":"Prepend Reference","type":"main","index":0}],[{"node":"Direct Message ?","type":"main","index":0}]]},"Prepend Reference":{"main":[[{"node":"Direct Message ?","type":"main","index":0}]]},"Move Binary Data":{"main":[[{"node":"(Localization) Follow and Post","type":"main","index":0}]]},"Get vCard Infos":{"main":[[{"node":"Adjust Content","type":"main","index":0}]]},"Get Edited Message Id":{"main":[[{"node":"Merge Edited Message Info","type":"main","index":0}]]},"If Edited Message ?":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Switch By Extension":{"main":[[{"node":"Extension .vcf","type":"main","index":0}],[{"node":"Extension .url","type":"main","index":0}],[],[{"node":"Any Other Extensions","type":"main","index":0}]]},"Extension .url":{"main":[[{"node":"Override Localization Content","type":"main","index":0}]]},"Extension .vcf":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0},{"node":"Extract VCard","type":"main","index":0}]]},"Any Other Extensions":{"main":[[{"node":"From any *","type":"main","index":0}]]},"Insert Contact Into Chatwoot":{"main":[[{"node":"Merge1","type":"main","index":1},{"node":"Try to Add Contact On Chatwoot","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Post Success Message","type":"main","index":0}]]},"If Insert Contact Error":{"main":[[{"node":"If Already Exists","type":"main","index":0}],[{"node":"Set Success","type":"main","index":0}]]},"If Already Exists":{"main":[[{"node":"Set Success For Already Exists","type":"main","index":0}],[{"node":"Set Fail","type":"main","index":0}]]},"Set Success For Already Exists":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Set Success":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Set Fail":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Adjust Content":{"main":[[{"node":"Insert Contact Into Chatwoot","type":"main","index":0},{"node":"Post Incoming message","type":"main","index":0}]]},"If Has Thumbnail":{"main":[[{"node":"Move Binary Data","type":"main","index":0}],[{"node":"(Localization) Follow and Post","type":"main","index":0}]]},"(Localization) Follow and Post":{"main":[[{"node":"From .url","type":"main","index":0}]]},"Post Incomming Text Only ?":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Switch By Extension","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Post Incoming message","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"From .vcf","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Get Edited Message Id","type":"main","index":0},{"node":"Merge Edited Message Info","type":"main","index":1}]]},"Merge Edited Message Info":{"main":[[{"node":"Prepend Edited Content","type":"main","index":0}]]},"Prepend Edited Content":{"main":[[{"node":"Send Edited Message","type":"main","index":0}]]},"No Operation, do nothing4":{"main":[[{"node":"If InReply | Reaction ?","type":"main","index":0}]]},"Try to Add Contact On Chatwoot":{"main":[[{"node":"If Insert Contact Error","type":"main","index":0}]]},"No Operation, do nothing5":{"main":[[{"node":"Post Incomming Text Only ?","type":"main","index":0}]]},"If Not Empty Content ?":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Set Unknown Content","type":"main","index":0}]]},"(In) Text Message Following With Attachment":{"main":[[{"node":"Post Incomming Text Only ?","type":"main","index":0}]]},"Set Unknown Content":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"(In) Prepend Attach Error Content":{"main":[[{"node":"(In) Text Message Following With Attachment","type":"main","index":0}]]},"Override Localization Content":{"main":[[{"node":"If Has Thumbnail","type":"main","index":0}]]},"Is Valid Audio For Transcript":{"main":[[{"node":"Merge With Posted Msg Id","type":"main","index":1}]]},"From .vcf":{"main":[[{"node":"Post Incoming Message Attachment","type":"main","index":0}]]},"From .url":{"main":[[{"node":"Post Incoming Message Attachment","type":"main","index":0}]]},"From any *":{"main":[[{"node":"Is Valid Audio For Transcript","type":"main","index":0},{"node":"Post Incoming Message Attachment","type":"main","index":0}]]},"Post Incoming Message Attachment":{"main":[[{"node":"Getting Msg Id","type":"main","index":0}]]},"Merge With Posted Msg Id":{"main":[[{"node":"Throw Audio Transcript Workflow","type":"main","index":0}]]},"Getting Msg Id":{"main":[[{"node":"Merge With Posted Msg Id","type":"main","index":0}]]},"If Has Phone ?":{"main":[[{"node":"Prepend Title & Phone","type":"main","index":0}],[{"node":"Prepend Title","type":"main","index":0}]]},"Prepend Title & Phone":{"main":[[{"node":"Has Incoming Attachment","type":"main","index":0}]]},"Extract VCard":{"main":[[{"node":"Get vCard Infos","type":"main","index":0}]]},"Postgres":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Called By Another Workflow":[{"json":{"payload":{"private":false,"edited":false,"content":"teste123","message_type":"outgoing","source_id":"3EB08DA82970429885100B","echo_id":"3EB08DA82970429885100B","content_attributes":{"items":{"quepasa":{"msgid":"3EB08DA82970429885100B"}}},"external_created_at":1734457534,"content_type":"text"},"chatid":"553592630001@s.whatsapp.net","chat":{"id":"553592630001@s.whatsapp.net","title":"Arthur Ferroni","phone":"+553592630001","hex":"35353335393236333030303140732e77686174736170702e6e6574","chatwoot":{"skipgreetings":false,"skipcontact":false,"skipevaluation":false,"skipaudiotranscript":false,"id":520513,"source_id":"35353335393236333030303140732e77686174736170702e6e6574"}},"conversation":{"id":1558,"status":"open"},"extra":{"account":37,"atoken":"937591f1d685ada66dccac1","cwhost":"https://app.bee360.com.br","identifier":"ubZ2Wo7pau1Nb1DGtqkYmgHN","inbox":180,"qphost":"https://qps.bee360.com.br","singlethread":"true","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"hex":"35353335393236333030303140732e77686174736170702e6e6574","participant":{},"event":"text"}}]},"versionId":"ed48a082-e3ef-4543-8785-7140d6cb127c","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"},{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T15:16:03.714Z","updatedAt":"2024-03-09T15:16:03.714Z","id":"KOLgvcJBMVVu28zw","name":"quepasa"}]}