quepasahistsync-31prM4BIKw8tPuDR.json
{"createdAt":"2024-12-18T14:47:47.567Z","updatedAt":"2024-12-18T14:50:07.471Z","id":"31prM4BIKw8tPuDR","name":"QuepasaHistSync","active":true,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{$json.conversation.status}}","operation":"notEqual","value2":"open"}]}},"name":"Open ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6200,260],"id":"6915b0a7-9465-42c6-9a1c-7249a795ddba"},{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"status","value":"open"},{"name":"inbox_id","value":"={{$json[\"extra\"][\"inbox\"]}}"},{"name":"contact_id","value":"={{$json.chat.chatwoot.id}}"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json[\"extra\"][\"atoken\"]}}"}]}},"name":"Create a Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[5560,20],"id":"ff802946-5a62-4cb0-98c4-34799f9c0547","notes":"Important to use \"source_id\" to respond messages"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"conversation.id","value":"={{$json.id}}"},{"name":"conversation.status","value":"={{$json.status}}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[5780,20],"id":"5fd8be8d-4033-4712-9035-d36ebdb8b431"},{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations/{{$json[\"conversation\"][\"id\"]}}/toggle_status","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"status","value":"open"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json[\"extra\"][\"atoken\"]}}"}]}},"name":"Open a Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[6400,40],"id":"bd6135e2-54a2-421a-8064-a62a0592cef7"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"chat\"][\"id\"].contains(\"@broadcast\") ?? true}}","operation":"notEqual","value2":true}]}},"name":"Not Broadcast ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1460,200],"id":"24ad16a7-08b1-4ad3-9e44-6cbd957738cb"},{"parameters":{"mode":"multiplex"},"name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":1,"position":[3580,420],"id":"2465c514-dc4a-45c8-911e-36c228b3b6ed"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.conversation?.id}}","operation":"isEmpty"}]}},"name":"Should Create a New Conversation Thread ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[5140,240],"alwaysOutputData":false,"id":"18898089-fd7a-4d78-907b-fac3f6f7832d"},{"parameters":{"content":"## Follow to Chatwoot","height":262.50469912086913,"width":251.48817318430855},"id":"8262c789-7b16-4307-8075-d1094fd2ca71","name":"Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9100,80]},{"parameters":{"content":"## Getting and Filtering Conversations\n","height":613.5576075872755,"width":2110.852343765206},"id":"ce72be59-c4a5-435b-8fec-459426b6408c","name":"Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2740,300]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"cwhost","value":"={{$json[\"extra\"][\"cwhost\"]}}"},{"name":"account","value":"={{$json[\"extra\"][\"account\"]}}"},{"name":"inbox","value":"={{$json[\"extra\"][\"inbox\"]}}"},{"name":"utoken","value":"={{$json[\"extra\"][\"utoken\"]}}"},{"name":"chatid","value":"={{$json.chat.id}}"},{"name":"contactid","value":"={{$json.chat.chatwoot.id}}"}]},"options":{}},"id":"35ae61a5-c38a-4292-b26c-e33274e94db7","name":"Set Filter Conversation Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[2800,400]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"8393faed-96d3-45a9-a058-3876bd7767a7","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[4960,240]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"f42660c8-e3ab-4c49-a153-ef4851d742f4","name":"Wait For Create a Conversation1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[5960,200]},{"parameters":{},"id":"6a7c86f3-8357-4346-a3d1-fed6cee496fd","name":"NoOp - Opening Conversation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7000,280]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"6d38fb4c-6ada-48ab-b941-2b2bdd0c13ab","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[6760,220]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"conversation.status","value":"={{$json.payload.current_status}}"}]},"options":{}},"name":"Set Updated Conversation Status","type":"n8n-nodes-base.set","typeVersion":1,"position":[6580,40],"id":"fe50ba23-7b2c-43a6-9510-ef80699114e3"},{"parameters":{"values":{"string":[{"name":"payload.content_type","value":"text"},{"name":"payload.event","value":"={{ $('Trigger HistorySync').item.json.body.type }}"},{"name":"payload.edited","value":"={{ $('Trigger HistorySync').item.json.body.edited || false}}"}]},"options":{}},"name":"Payload Constants","type":"n8n-nodes-base.set","typeVersion":1,"position":[9700,160],"id":"5de19532-2082-45e9-acf2-81402d8a5b74"},{"parameters":{"workflowId":"=5Kft0TDCgfDqgnPp","options":{}},"id":"a789db6a-0389-4867-a89e-af9fee564537","name":"Execute Workflow Post To Chatwoot","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[9940,160],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"## Call Request ?","height":308.5861479563177,"width":237.27247076935066},"id":"49a3181b-2bf0-4ad3-b3c0-95d70afe06f1","name":"Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6900,160]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.type}}","value2":"call"}]}},"id":"45cb9acc-3254-4cef-843f-af758b10d806","name":"If Call Request ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[7280,280]},{"parameters":{"values":{"string":[{"name":"text","value":"## (Sistema) O Usu치rio requisitou uma chamada de voz !\n----------------------------------------------------"}],"boolean":[{"name":"payload.private","value":true}]},"options":{}},"id":"5f38a36d-49ba-4a7d-9da8-38aca001d16e","name":"Set Text Content For Call Request","type":"n8n-nodes-base.set","typeVersion":1,"position":[7620,180]},{"parameters":{"values":{"number":[{"name":"attempts","value":"={{ ($json.attempts ?? 0) + 1 }}"}]},"options":{}},"id":"929c84ce-efc4-43e5-8e30-8e2ad357b508","name":"Set Increment For Conversations Attempts","type":"n8n-nodes-base.set","typeVersion":1,"position":[4100,580]},{"parameters":{"amount":"={{ (Math.random() * 5) + 1 }}","unit":"seconds"},"id":"b0dc23a1-98bf-4b72-b001-ff455bc6491a","name":"Wait a while (5s) For Conversation","type":"n8n-nodes-base.wait","typeVersion":1,"position":[4460,660],"webhookId":"397772b2-591c-473e-b023-f3299c6b3f63"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"conversation.id","value":"={{$json.payload?.id}}"},{"name":"conversation.status","value":"={{$json.payload?.status}}"},{"name":"conversation.custom_attributes","value":"={{ $json.payload.custom_attributes }}"}]},"options":{}},"id":"d7aafd01-0363-4b67-8d34-2e91b79a608b","name":"Set Conversation Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[4620,400]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"payload.content","value":"={{$json.text}}"},{"name":"payload.message_type","value":"={{$json.fromme?\"outgoing\":\"incoming\"}}"},{"name":"payload.source_id","value":"={{$json.id}}"},{"name":"payload.content_attributes.items.quepasa.msgid","value":"={{ $json.id }}"},{"name":"payload.content_attributes.in_reply_to","value":"={{ $json.inreply ? +$json.inreply : undefined }}"},{"name":"payload.attachment","value":"={{$json.attachment}}"},{"name":"chatid","value":"={{$json.chat.id}}"},{"name":"conversation","value":"={{$json.conversation}}"},{"name":"extra","value":"={{$json.extra}}"},{"name":"hex","value":"={{$json.chat.chatwoot.source_id}}"},{"name":"synopsis","value":"={{$json.synopsis}}"},{"name":"participant.title","value":"={{$json.participant?.title}}"},{"name":"payload.external_created_at","value":"={{ new Date($json.timestamp).getTime() / 1000 }}"},{"name":"payload.content_attributes.items.quepasa.fromme","value":"={{ $if($json.fromme, \"true\", \"false\") }}"},{"name":"payload.status","value":"read"}],"boolean":[{"name":"payload.private","value":"={{ $json.payload?.private ?? false }}"}]},"options":{}},"name":"Chatwoot Message Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[9460,160],"id":"e6a1327e-36c1-4162-8862-38f830183db8"},{"parameters":{"operation":"executeQuery","query":"=SELECT \n display_id, \n status,\n custom_attributes\nFROM conversations \nWHERE \n\taccount_id = '{{ $json.account }}' \n\tAND inbox_id = '{{ $json.inbox }}'\n\tAND contact_id = '{{ $json.contactid }}'\nORDER BY id DESC\nLIMIT 1","additionalFields":{}},"id":"f09680b6-3f32-4c1d-bea4-123abe7d636b","name":"Get Last Conversation","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[3220,500],"retryOnFail":false,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"continueOnFail":true},{"parameters":{"jsCode":"const validStatus = [\"open\", \"resolved\", \"pending\", \"snoozed\"];\n\nreturn [{\n  payload: {\n    id: $input.first().json.display_id,\n    status: validStatus[$input.first().json.status],\n    custom_attributes: $json.custom_attributes\n  }\n}];"},"id":"3248d20a-7f8b-4662-84c1-095455aa842a","name":"Rename Status Enum","type":"n8n-nodes-base.code","typeVersion":1,"position":[3400,500]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $('Trigger HistorySync').item.json.body.extra.singlethread}}","value2":true}]}},"id":"f71262ba-c0cb-423f-bd9c-d4c4cccfc3d1","name":"If Single Thread ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3740,420]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.attempts ?? 0 }}","operation":"larger","value2":2}]}},"id":"b45ec5a3-5c81-42d2-9cb3-65fef1595d0f","name":"Max Attempts Reached ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4280,580]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.payload?.status }}","operation":"notEqual","value2":"resolved"}]},"combineOperation":"any"},"id":"3d3e0ec4-a0b0-4c76-a759-d822e55b668f","name":"If Not Resolved Conversation Found ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3920,520]},{"parameters":{},"id":"7a252654-0dc0-410d-8071-bcbb870481a6","name":"#region retries for conversation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3040,400]},{"parameters":{},"id":"692b8e95-b903-4369-8a23-fe83b40762e9","name":"first found","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4100,400]},{"parameters":{"keepOnlySet":true,"options":{}},"id":"1e9fa922-16a6-44d6-b5fb-5ed459c201b1","name":"CleanUp Invalid Status","type":"n8n-nodes-base.set","typeVersion":1,"position":[4460,500]},{"parameters":{"workflowId":"=K1z0iQNtjmiFi0mM","options":{}},"id":"0351baf2-2d06-4430-b6ac-0d10ed0a3478","name":"Throw Get Chatwoot Contacts Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2200,220],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply }}","operation":"isEmpty"}]}},"id":"0b95ca5f-0fae-4953-ac87-6a2dd4864cd5","name":"If Not In Reply","type":"n8n-nodes-base.if","typeVersion":1,"position":[7620,400]},{"parameters":{},"id":"a607f6c5-536a-429d-9216-c9176744ecad","name":"Follow to Chatwoot","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9200,160]},{"parameters":{"operation":"executeQuery","query":"=\nSELECT id AS inreply_internal_id\nFROM messages \nWHERE source_id = '{{ $json.inreply }}'\nLIMIT 1","options":{}},"id":"554580e5-1f1a-4351-a241-877be69c125d","name":"Get In Reply Reference Id","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[8100,680],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"a7fb2001-8f24-4b9a-a5b0-75bf9c1f3957","name":"Merging Found Id","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[8340,440]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply }}","operation":"contains","value2":"-"}]}},"id":"4835d129-56f9-492d-a769-28db0fd7eb44","name":"If Has Hiffen","type":"n8n-nodes-base.if","typeVersion":1,"position":[7800,540]},{"parameters":{"values":{"string":[{"name":"inreply_internal_id","value":"={{ $if($json.inreply.includes('-A'),$json.inreply.split('-')[2] , $json.inreply.split('-').pop()) }}"}]},"options":{}},"id":"c7b7244d-c44c-48b4-b053-9d21f700ec19","name":"Set Internal Id","type":"n8n-nodes-base.set","typeVersion":2,"position":[8100,520]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply_internal_id }}","operation":"isEmpty"}]}},"id":"d2451bfd-1d08-4eb8-9234-d1e1238b91c8","name":"If Not Found","type":"n8n-nodes-base.if","typeVersion":1,"position":[8560,440]},{"parameters":{},"id":"6b7ae136-0e9b-40db-83d3-efd5f435bbda","name":"New Payload","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2380,220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"848dd55e-3034-4e40-96ba-b35f5a814cfd","leftValue":"={{ $json.chat?.chatwoot?.skipcontact ?? false }}","rightValue":"=","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"339006f8-5241-4213-b505-910b39608407","name":"Skip This Contact?","type":"n8n-nodes-base.if","typeVersion":2,"position":[5300,40]},{"parameters":{"values":{"string":[{"name":"inreply","value":"={{ $json.inreply_internal_id }}"},{"name":"synopsis","value":"={{ undefined }}"}]},"options":{}},"id":"580b5446-dd09-42d6-8f40-9a4258c6cfcf","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[8840,460]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.body.type }}","operation":"notEqual","value2":10}],"string":[{"value1":"={{ $json.body.type }}","operation":"notEqual","value2":"revoke"}]}},"id":"c880ae47-6db4-4589-9c70-d3a490a494ce","name":"If Not Revoked ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1720,200]},{"parameters":{},"id":"ba6c010d-2ddf-4a5c-8434-4107bf39e481","name":"(In) Revoked Message","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3120,1360]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"revoked","value":"={{ $json }}"}]},"options":{}},"id":"5fee0385-1aa5-4bcc-9f77-3e21a94000af","name":"Set Retrieved Chatwoot Revoked Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[3940,1160]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"d3f6f897-dd97-4d02-a571-110a73363ba8","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[4260,1340]},{"parameters":{"content":"## Message Revoked From Source\n\n","height":511.52099560219085,"width":1735.9412743995279},"id":"e2d9c263-09b6-4ccf-878d-7956e6de1631","name":"Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2960,1020]},{"parameters":{"operation":"executeQuery","query":"SELECT messages.account_id, conversations.display_id as conversation_id, messages.id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.body.extra.account }}' AND messages.source_id = '{{ $json.body.id }}';","options":{}},"id":"06bb6cc0-587f-47ef-aa45-b8c6c3a308cf","name":"Get Revoked Message Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[3720,1280],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"string":[{"value1":"={{  $json.body.id }}","operation":"contains","value2":"-"}]}},"id":"b15967a2-2c93-4707-b82e-bfae5a67bcd7","name":"If Sended By Chatwoot","type":"n8n-nodes-base.if","typeVersion":1,"position":[3320,1260]},{"parameters":{"operation":"executeQuery","query":"SELECT messages.account_id, conversations.display_id as conversation_id, messages.id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.body.extra.account }}' AND messages.id = '{{ $json.internalid }}';","options":{}},"id":"39f9fc89-0604-4501-ab58-3b8dae5c670e","name":"Get Revoked Internal Message Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[3720,1040],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function isNumeric(str) {\n  if (typeof str != \"string\") return false;\n  return !isNaN(str) && !isNaN(parseFloat(str));\n}\nconst splitted = $input.item.json.body.id.split(/-/);\nlet internalid = splitted.pop();\nif (!isNumeric(internalid)){\n  internalid = splitted[2];\n}\n\n$input.item.json.internalid = internalid;\nreturn $input.item;"},"id":"2ef4ccad-58a2-4715-94a1-f81f1d6363cc","name":"Get Internal Id","type":"n8n-nodes-base.code","typeVersion":2,"position":[3520,1140]},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","requestMethod":"POST","url":"={{ $json.body.extra.cwhost }}/api/v1/accounts/{{ $json.revoked.account_id }}/conversations/{{ $json.revoked.conversation_id }}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\n   \"private\": false,\n   \"content\": \"{{ $env['C8Q_MSGFOR_REVOKED_CONTENT'] ?? '\\u274C Essa mensagem foi apagada !!!' }}\",\n   \"message_type\": 2,\n   \"content_attributes\": {      \n      \"in_reply_to\": {{ $json.revoked.id }},\n      \"in_reply_to_external_id\": \"{{ $json.body.id }}\"\n   },\n   \"content_type\": \"text\"\n}"},"name":"Send Revoked Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[4460,1340],"id":"58719482-ee9a-49e7-ac24-62b8f8c60518","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"httpHeaderAuth":{"id":"EjFedmv05mPaSB9a","name":"BEE360 TOKEN #1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ca76fb94-0005-4fef-9f49-4b71b24aa808","leftValue":"={{ $json.body.id }}","rightValue":"readreceipt","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"848c8946-2c72-42d7-b537-1a7f5ef185f4","name":"Event ReadReceipt ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1020,200]},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM messages\nWHERE account_id = $2 and source_id = $1 and inbox_id = $3\nlimit 1","options":{"queryReplacement":"={{ $json.body.id }}, {{ $json.body.extra.account }}, {{ $json.body.extra.inbox }}"}},"id":"fcdb21d8-ecf7-464e-a2b2-9e7d07fd3c23","name":"Busca Mensagens no Chat","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[180,200],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"fd45e548-7854-4ee4-b691-0506e427bb07","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b1145a5f-4f1b-4cd2-9d19-17fef3aabf1c","name":"J치 existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[380,200]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.trackid }}","operation":"notEqual","value2":"servidor"}]}},"id":"79a9e9e7-38a4-4f2d-88fb-7a184a0d22e2","name":"TrackId = Servidor?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1240,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"babcb8d9-06c6-430f-a17c-95f31d256855","leftValue":"={{ $json.body.chat.id }}","rightValue":"@g.us","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"id":"25fc5918-e096-4edb-89d1-141e3cdf9770","name":"Ignore Groups","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,200]},{"parameters":{"assignments":{"assignments":[{"id":"93cf15be-54be-425a-84b5-bacf234a99c2","name":"headers","value":"={{ $('Trigger HistorySync').item.json.headers }}","type":"object"},{"id":"e4f6e348-ec0e-48f0-9dfb-2ee4dd5925f5","name":"params","value":"={{ $('Trigger HistorySync').item.json.params }}","type":"object"},{"id":"3d97e48c-a7ee-42f9-97f1-819b6601020c","name":"query","value":"={{ $('Trigger HistorySync').item.json.query }}","type":"object"},{"id":"05b344a2-2dd3-4a20-b339-bd3ac61f9016","name":"body","value":"={{ $('Trigger HistorySync').item.json.body }}","type":"object"},{"id":"4c90d9df-cc8a-431a-ac29-cb022b4f9bd7","name":"webhookUrl","value":"={{ $('Trigger HistorySync').item.json.webhookUrl }}","type":"string"},{"id":"6e66a57c-d44b-4b40-9740-e4612846fea3","name":"executionMode","value":"={{ $('Trigger HistorySync').item.json.executionMode }}","type":"string"}]},"options":{}},"id":"6c79021c-dafc-4e82-839d-d6561e97579b","name":"Payload","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,200]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.chat.id }}","value2":"system"}]}},"id":"356f8095-3d87-43c9-a961-fccf108c176d","name":"Ignore system","type":"n8n-nodes-base.if","typeVersion":1,"position":[2000,140]},{"parameters":{"queue":"quepasa-histsync","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"autoDelete":false,"acknowledge":"executionFinishesSuccessfully","durable":true,"jsonParseBody":true,"onlyContent":true,"parallelMessages":1}},"id":"3dfc8f7f-d402-4dc1-b1bc-b289e10faaf4","name":"Trigger HistorySync","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-740,180],"credentials":{"rabbitmq":{"id":"cbKEcG6TjMvaY7PG","name":"RabbitMQ account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"65ab1912-75aa-4082-a904-1b2d2f575bd5","leftValue":"={{ $json.body.extra.account }}","rightValue":"9","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"id":"ceb49416-c86f-4976-b386-6a87e17f0050","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-480,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59aec7b1-d2e8-4913-91ae-8cafef378b17","leftValue":"={{ $json.body.type }}","rightValue":"contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"39dc1b2b-30e3-4303-a90b-aaa08350a74c","leftValue":"={{ $json.body.chat.lid }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"254020e6-4600-4ea3-ae21-90452e104283","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-180,180]},{"parameters":{"workflowId":{"__rl":true,"value":"Kx5Fgmi9FDnDUNRR","mode":"list","cachedResultName":"QuepasaChatControl"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[40,80],"id":"8e9bf60d-143d-4abc-ae8d-86b402ba080b","name":"Execute Workflow"}],"connections":{"Open ?":{"main":[[{"node":"Open a Conversation","type":"main","index":0},{"node":"Merge1","type":"main","index":1}],[{"node":"NoOp - Opening Conversation","type":"main","index":0}]]},"Create a Conversation":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Wait For Create a Conversation1","type":"main","index":0}]]},"Open a Conversation":{"main":[[{"node":"Set Updated Conversation Status","type":"main","index":0}]]},"Not Broadcast ?":{"main":[[{"node":"If Not Revoked ?","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"If Single Thread ?","type":"main","index":0}]]},"Should Create a New Conversation Thread ?":{"main":[[{"node":"Wait For Create a Conversation1","type":"main","index":1},{"node":"Skip This Contact?","type":"main","index":0}],[{"node":"Open ?","type":"main","index":0}]]},"Set Filter Conversation Parameters":{"main":[[{"node":"#region retries for conversation","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Should Create a New Conversation Thread ?","type":"main","index":0}]]},"Wait For Create a Conversation1":{"main":[[{"node":"Open ?","type":"main","index":0}]]},"NoOp - Opening Conversation":{"main":[[{"node":"If Call Request ?","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"NoOp - Opening Conversation","type":"main","index":0}]]},"Set Updated Conversation Status":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Payload Constants":{"main":[[{"node":"Execute Workflow Post To Chatwoot","type":"main","index":0}]]},"If Call Request ?":{"main":[[{"node":"Set Text Content For Call Request","type":"main","index":0}],[{"node":"If Not In Reply","type":"main","index":0}]]},"Set Text Content For Call Request":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}]]},"Set Increment For Conversations Attempts":{"main":[[{"node":"Max Attempts Reached ?","type":"main","index":0}]]},"Wait a while (5s) For Conversation":{"main":[[{"node":"#region retries for conversation","type":"main","index":0}]]},"Set Conversation Payload":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Chatwoot Message Payload":{"main":[[{"node":"Payload Constants","type":"main","index":0}]]},"Get Last Conversation":{"main":[[{"node":"Rename Status Enum","type":"main","index":0}]]},"Rename Status Enum":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"If Single Thread ?":{"main":[[{"node":"first found","type":"main","index":0}],[{"node":"If Not Resolved Conversation Found ?","type":"main","index":0}]]},"Max Attempts Reached ?":{"main":[[{"node":"CleanUp Invalid Status","type":"main","index":0}],[{"node":"Wait a while (5s) For Conversation","type":"main","index":0}]]},"If Not Resolved Conversation Found ?":{"main":[[{"node":"first found","type":"main","index":0}],[{"node":"Set Increment For Conversations Attempts","type":"main","index":0}]]},"#region retries for conversation":{"main":[[{"node":"Merge3","type":"main","index":0},{"node":"Get Last Conversation","type":"main","index":0}]]},"first found":{"main":[[{"node":"Set Conversation Payload","type":"main","index":0}]]},"CleanUp Invalid Status":{"main":[[{"node":"Set Conversation Payload","type":"main","index":0}]]},"Throw Get Chatwoot Contacts Workflow":{"main":[[{"node":"New Payload","type":"main","index":0}]]},"If Not In Reply":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}],[{"node":"If Has Hiffen","type":"main","index":0},{"node":"Merging Found Id","type":"main","index":0}]]},"Follow to Chatwoot":{"main":[[{"node":"Chatwoot Message Payload","type":"main","index":0}]]},"Get In Reply Reference Id":{"main":[[{"node":"Merging Found Id","type":"main","index":1}]]},"Merging Found Id":{"main":[[{"node":"If Not Found","type":"main","index":0}]]},"If Has Hiffen":{"main":[[{"node":"Set Internal Id","type":"main","index":0}],[{"node":"Get In Reply Reference Id","type":"main","index":0}]]},"Set Internal Id":{"main":[[{"node":"Merging Found Id","type":"main","index":1}]]},"If Not Found":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}],[{"node":"Set1","type":"main","index":0}]]},"New Payload":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Set Filter Conversation Parameters","type":"main","index":0}]]},"Skip This Contact?":{"main":[[{"node":"Create a Conversation","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}]]},"If Not Revoked ?":{"main":[[{"node":"Ignore system","type":"main","index":0}],[{"node":"(In) Revoked Message","type":"main","index":0}]]},"(In) Revoked Message":{"main":[[{"node":"Merge2","type":"main","index":1},{"node":"If Sended By Chatwoot","type":"main","index":0}]]},"Set Retrieved Chatwoot Revoked Info":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Send Revoked Message","type":"main","index":0}]]},"Get Revoked Message Info":{"main":[[{"node":"Set Retrieved Chatwoot Revoked Info","type":"main","index":0}]]},"If Sended By Chatwoot":{"main":[[{"node":"Get Internal Id","type":"main","index":0}],[{"node":"Get Revoked Message Info","type":"main","index":0}]]},"Get Revoked Internal Message Info":{"main":[[{"node":"Set Retrieved Chatwoot Revoked Info","type":"main","index":0}]]},"Get Internal Id":{"main":[[{"node":"Get Revoked Internal Message Info","type":"main","index":0}]]},"Event ReadReceipt ?":{"main":[[{"node":"TrackId = Servidor?","type":"main","index":0}]]},"Busca Mensagens no Chat":{"main":[[{"node":"J치 existe?","type":"main","index":0}]]},"J치 existe?":{"main":[[],[{"node":"Payload","type":"main","index":0}]]},"TrackId = Servidor?":{"main":[[{"node":"Not Broadcast ?","type":"main","index":0}]]},"Ignore Groups":{"main":[[{"node":"Event ReadReceipt ?","type":"main","index":0}]]},"Payload":{"main":[[{"node":"Ignore Groups","type":"main","index":0}]]},"Ignore system":{"main":[[],[{"node":"Throw Get Chatwoot Contacts Workflow","type":"main","index":0}]]},"Trigger HistorySync":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Busca Mensagens no Chat","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Trigger HistorySync":[{"json":{"headers":{"host":"fluxo.bee360.com.br","user-agent":"Quepasa","content-length":"632","accept-encoding":"gzip","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"fluxo.bee360.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eadffb6ee88a","x-quepasa-wid":"555196907295:95@s.whatsapp.net","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"id":"3EB0B681D3B170E0B0A402","timestamp":"2023-10-26T13:32:31.961-03:00","type":"contact","chat":{"id":"555199807006@s.whatsapp.net","lid":"181479648833752@lid","title":"Bruni Machado  lead Setembro"},"text":"Bruni Machado  lead Setembro","attachment":{"mime":"text/x-vcard","filelength":101,"filename":"bruni-machado-lead-setembro.vcf"},"fromme":false,"frominternal":false,"edited":true,"extra":{"account":65,"atoken":"4217f284c125c6948dd4fc1","cwhost":"https://app.bee360.com.br","identifier":"tcPuMdjZnBn4hLmbuAKtiwrM","inbox":464,"qphost":"https://qps.bee360.com.br","singlethread":"true","utoken":"e3nLN2WM3nsUbeM31BudDvit"}},"webhookUrl":"https://fluxo.webhook.bee360.com.br/webhook/to-chatwoot","executionMode":"production"}}]},"versionId":"a584d494-457f-404c-af0b-e9f1339c90d9","triggerCount":1,"tags":[]}