quepasaautomatic-mVKeD7nqWl9c4zvL.json
{"createdAt":"2024-03-09T15:16:15.412Z","updatedAt":"2024-12-05T15:14:20.796Z","id":"mVKeD7nqWl9c4zvL","name":"QuepasaAutomatic","active":true,"nodes":[{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"contacts\" (\"name\", \"identifier\", \"account_id\", \"created_at\", \"updated_at\", \"last_activity_at\") VALUES ('{{ $node[\"execdata\"].json.bottitle }}', '{{ $node[\"execdata\"].json.contact }}', {{ $json.account }}, NOW(), NOW(), NOW());","additionalFields":{}},"id":"ed26283d-4a7b-4c47-a6ab-92e142cc2d14","name":"Cria o Contato","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-260,1300],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" LEFT JOIN \"automation_rules\" ON \"accounts\".\"id\" = \"automation_rules\".\"account_id\" AND \"automation_rules\".\"name\" = '{{ $node[\"execdata\"].json.bottitle }}' WHERE \"automation_rules\".\"name\" IS NULL;","additionalFields":{}},"id":"5cdbee30-d5f1-4d51-b168-24252d8f1f0c","name":"Missing Automations","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-840,1120],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" LEFT JOIN \"contacts\" ON \"accounts\".\"id\" = \"contacts\".\"account_id\" AND \"contacts\".\"identifier\" = '{{ $node[\"execdata\"].json.contact }}' WHERE \"contacts\".\"identifier\" IS NULL;","additionalFields":{}},"id":"9a38efab-321d-4fb7-a1ee-346d1adfd8b1","name":"Missing Quepasa Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-840,1300],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipgreetings' AND \"attribute_model\" = 1);","additionalFields":{}},"id":"8f1ff8f9-dadb-40b4-a487-2f490ab9eee1","name":"Missing Greetings For Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-840,1700],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Greetings', 'skipgreetings', 7, 1, {{ $json.account }}, 'Não utilizar a saudação programada para este contato', '[]', NOW(), NOW());","additionalFields":{}},"id":"2c9bb1c5-321c-420c-ab7e-5e2897bf629d","name":"Insert Skip Greetings Attribute","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-600,1700],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"7592ec66-8412-4022-ba69-41daae6f056a","name":"Schedule Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-1580,1700]},{"parameters":{"operation":"executeQuery","query":"=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipevaluation' AND \"attribute_model\" = 1);","additionalFields":{}},"id":"73f3dd65-7b4d-4b04-b642-ce5e7465bfba","name":"Missing Evaluation For Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-840,1900],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Evaluation', 'skipevaluation', 7, 1, {{ $json.account }}, 'Não utilizar sistema de avaliação ou protocolo para este contato !', '[]', NOW(), NOW());","additionalFields":{}},"id":"c5ce771e-f78a-40e2-a2c4-45a1fe53f79d","name":"Insert Skip Evaluation For Contact Attribute","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-600,1900],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"content":"## (1.0.6) Recommendations \n* added skip audio transcript\n","width":425.48157586978226},"id":"9b45d70a-060c-448c-b8cf-99f3f02dcae3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1640,1300]},{"parameters":{"values":{"string":[{"name":"n8nurl","value":"https://fluxo.bee360.com.br"},{"name":"bottitle","value":"={{ $env['C8Q_QP_BOTTITLE'] ?? 'WhatsApp Control' }}"},{"name":"contact","value":"={{ $env['C8Q_QP_CONTACT'] ?? 'nathan@bee360.com.br' }}"}]},"options":{}},"id":"a565298e-4372-40ea-84d4-55cdcda2d828","name":"execdata","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1360,1600]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Agent Title', 'skipagenttitle', 7, 1, {{ $json.account }}, 'Não incluir o titulo do agente antes da mensagem para este contato', '[]', NOW(), NOW());","additionalFields":{}},"id":"a690939e-0a5c-4f90-96fb-a2a0f564780a","name":"Insert Skip Agent Title Attribute","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-600,1500],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipagenttitle' AND \"attribute_model\" = 1);","additionalFields":{}},"id":"e03da609-184c-4ce7-9b8d-24ec1d6df370","name":"Missing Agent Title For Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-840,1500],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"tableName":{"__rl":true,"value":"accounts","mode":"list","cachedResultName":"accounts"},"additionalFields":{},"options":{}},"id":"2cb742e3-9900-4bb3-92a1-ef3993f05952","name":"Postgres Trigger","type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[-1580,1500],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{},"id":"95fcf7c5-028f-4fe7-b7dc-cf3170145d95","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1180,1600]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"tableName":{"__rl":true,"value":"channel_api","mode":"list","cachedResultName":"channel_api"},"firesOn":"DELETE","additionalFields":{},"options":{}},"id":"46e4ebbe-59d6-4410-9765-ad5933f6a985","name":"When API Inbox Deleted","type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[-1520,2880],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"method":"DELETE","url":"={{ $json.extra.qphost }}/info","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-QUEPASA-TOKEN","value":"={{ $json.payload.identifier }}"}]},"options":{}},"id":"988fb052-0bd3-48ef-9629-5fab9b6da92d","name":"Delete Quepasa Inbox If Exists","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-600,2900],"alwaysOutputData":false},{"parameters":{"workflowId":"={{ $env['C8Q_CHATWOOTEXTRA'] ?? \"iiEsUj7ybtzEZAFj\" }}","options":{}},"id":"3542ad6e-9163-44e0-a7af-55ddf14e0565","name":"Execute ChatWootExtra Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-1040,2960]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"941d4d7c-32e4-4765-9297-93df6f77e11d","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-860,2900]},{"parameters":{"assignments":{"assignments":[{"id":"9890dc5d-f10d-41fd-9d0f-35db8d2c6cb2","name":"event","value":"api_inbox_delete","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"3377420c-695a-49da-b8ff-80a7cd7f3d7e","name":"Set Event Name","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1220,2880]},{"parameters":{"operation":"executeQuery","query":"=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipcontact' AND \"attribute_model\" = 1);","additionalFields":{}},"id":"7b4bc68c-c9c9-4d6c-93e6-923fd3809190","name":"Missing Skip For Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-840,2100],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Contact', 'skipcontact', 7, 1, {{ $json.account }}, 'Não utilizar este contato ! Ignora a criação de novas conversas.', '[]', NOW(), NOW());","additionalFields":{}},"id":"eb93d339-fac5-4c7e-a6c5-7e6404a34432","name":"Insert Skip For Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-600,2100],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Evaluation', 'skipevaluation', 7, 0, {{ $json.account }}, 'Não utilizar sistema de avaliação ou protocolo para esta conversa !', '[]', NOW(), NOW());","additionalFields":{}},"id":"807375d9-10ef-4031-8e32-561992bb89c4","name":"Insert Skip Evaluation For Conversation Attribute","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-600,2300],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipevaluation' AND \"attribute_model\" = 0);","additionalFields":{}},"id":"38befd0a-3b59-41a0-b9f6-6b4cc6d85186","name":"Missing Evaluation For Conversation","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-840,2300],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipaudiotranscript' AND \"attribute_model\" = 1);","additionalFields":{}},"id":"20ea3df6-48bc-4e11-bccc-ef652ebc8c9b","name":"Missing Audio Transcript For Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-840,2520],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Audio Transcript', 'skipaudiotranscript', 7, 1, {{ $json.account }}, 'Não utilizar sistema de transcrição de áudio para este contato !', '[]', NOW(), NOW());","additionalFields":{}},"id":"901eda21-211b-4f4d-bda6-a2df303df87f","name":"Insert Skip Audio Transcript For Contact Attribute","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-600,2520],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"automation_rules\"\n(\n    \"account_id\",\n    \"name\",\n    \"description\",\n    \"event_name\",\n    \"conditions\",\n    \"actions\",\n    \"created_at\",\n    \"updated_at\",\n    \"active\"\n)\nVALUES\n(\n    {{ $json.account }},\n    '{{ $node[\"execdata\"].json.bottitle }}',\n    '{{ $node[\"execdata\"].json.bottitle }}',\n    'message_created',\n    '[{\"values\": [\"{{ $node[\"execdata\"].json.contact }}\"], \"attribute_key\": \"identifier\", \"query_operator\": \"and\", \"filter_operator\": \"equal_to\", \"custom_attribute_type\": \"\"}, \n       {\"values\": [\"outgoing\"], \"attribute_key\": \"message_type\", \"query_operator\": \"and\", \"filter_operator\": \"equal_to\", \"custom_attribute_type\": \"\"},\n       {\"values\": [\"/qrcode\", \"/paircode\"], \"attribute_key\": \"content\", \"filter_operator\": \"contains\", \"custom_attribute_type\": \"\"}]',\n    '[{\"action_name\": \"send_webhook_event\", \"action_params\": [\"{{ $node[\"execdata\"].json.n8nurl }}/webhook/quepasa\"]}]',\n    NOW(),\n    NOW(),\n    'true'\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-280,1060],"id":"50052146-f792-4117-b2d1-c7254f73c907","name":"Postgres","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-580,1120],"id":"271f55e9-0f41-411b-9c80-ea19a710a94c","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-620,1300],"id":"1302d163-9184-4848-ba00-b8a0af3781a0","name":"Loop Over Items1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"automation_rules","mode":"list","cachedResultName":"automation_rules"},"where":{"values":[{"column":"id","value":"=383"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[540,1640],"id":"64bc4705-2029-45da-967c-eb12fa030726","name":"Postgres1","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \"accounts\".\"id\" AS \"account\", \"automation_rules\".\"id\" AS \"automation_rule_id\"\nFROM \"accounts\"\nLEFT JOIN \"automation_rules\" ON \"accounts\".\"id\" = \"automation_rules\".\"account_id\" AND \"automation_rules\".\"name\" = 'WhatsApp Control'\nWHERE \"automation_rules\".\"name\" IS NOT NULL;\n","additionalFields":{}},"id":"3f27a9c6-1b3f-4c95-97d9-38d615814604","name":"Missing Automations1","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[80,1640],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"}],"connections":{"Missing Automations":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Missing Quepasa Contact":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Missing Greetings For Contact":{"main":[[{"node":"Insert Skip Greetings Attribute","type":"main","index":0}]]},"Schedule Daily":{"main":[[{"node":"execdata","type":"main","index":0}]]},"Missing Evaluation For Contact":{"main":[[{"node":"Insert Skip Evaluation For Contact Attribute","type":"main","index":0}]]},"Missing Agent Title For Contact":{"main":[[{"node":"Insert Skip Agent Title Attribute","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Missing Evaluation For Contact","type":"main","index":0},{"node":"Missing Greetings For Contact","type":"main","index":0},{"node":"Missing Agent Title For Contact","type":"main","index":0},{"node":"Missing Quepasa Contact","type":"main","index":0},{"node":"Missing Automations","type":"main","index":0},{"node":"Missing Skip For Contact","type":"main","index":0},{"node":"Missing Evaluation For Conversation","type":"main","index":0},{"node":"Missing Audio Transcript For Contact","type":"main","index":0}]]},"Postgres Trigger":{"main":[[{"node":"execdata","type":"main","index":0}]]},"When API Inbox Deleted":{"main":[[{"node":"Set Event Name","type":"main","index":0}]]},"Execute ChatWootExtra Workflow":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Delete Quepasa Inbox If Exists","type":"main","index":0}]]},"Set Event Name":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Execute ChatWootExtra Workflow","type":"main","index":0}]]},"execdata":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Missing Skip For Contact":{"main":[[{"node":"Insert Skip For Contact","type":"main","index":0}]]},"Missing Evaluation For Conversation":{"main":[[{"node":"Insert Skip Evaluation For Conversation Attribute","type":"main","index":0}]]},"Missing Audio Transcript For Contact":{"main":[[{"node":"Insert Skip Audio Transcript For Contact Attribute","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Cria o Contato","type":"main","index":0}]]},"Cria o Contato":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Daily":{"recurrencyRules":[],"recurrenceRules":[]},"node:Schedule By 1 Minute":{"recurrencyRules":[],"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5845a960-a3b6-4191-aa80-81f12e9223bd","triggerCount":3,"tags":[{"createdAt":"2024-03-09T15:16:03.714Z","updatedAt":"2024-03-09T15:16:03.714Z","id":"KOLgvcJBMVVu28zw","name":"quepasa"},{"createdAt":"2024-03-09T15:16:03.713Z","updatedAt":"2024-03-09T15:16:03.713Z","id":"5iHMbeKWYn5SizAs","name":"EngajamentoFlow"},{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"}]}