quepasachatcontrol-Kx5Fgmi9FDnDUNRR.json
{"createdAt":"2024-03-09T17:01:53.097Z","updatedAt":"2024-03-09T17:06:34.064Z","id":"Kx5Fgmi9FDnDUNRR","name":"QuepasaChatControl","active":false,"nodes":[{"parameters":{"values":{"string":[{"name":"response","value":"=Para convidar alguém, utilize o atalho a seguir: \n{{$json[\"url\"]}}\nCompartilhe com quem deseje que participe deste grupo."}]},"options":{}},"id":"6074db98-1f76-46a8-b0ed-f8db7a153df7","name":"Set Invite Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[2980,-280]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.chatid??\"\"}}","operation":"endsWith","value2":"@g.us"}]}},"id":"e6d64d74-4689-4401-981e-e94cb72e1280","name":"If Is From Group","type":"n8n-nodes-base.if","typeVersion":1,"position":[2220,-200]},{"parameters":{"baseUrl":"={{$json.qphost}}","token":"={{$json.qptoken}}","text":"={{$json[\"response\"]}}","chatId":"={{$json.chatid}}"},"id":"e455eafb-92ec-4e0c-971a-8c48e661ee6f","name":"Quepasa","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[3380,-220]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"chatid","value":"={{ $json.chatid ?? $json.payload?.chatid }}"},{"name":"qphost","value":"={{$json.extra?.qphost??$json.query?.qphost}}"},{"name":"qptoken","value":"={{$json.extra?.qptoken??$json.query?.qptoken??$json.extra.identifier}}"}]},"options":{}},"id":"1e9f74d1-3cc6-4904-8db3-caee443feeae","name":"Set Parameters From Control Chat","type":"n8n-nodes-base.set","typeVersion":1,"position":[2040,-200]},{"parameters":{"baseUrl":"={{$json[\"qphost\"]}}","token":"={{$json[\"qptoken\"]}}","resource":"control","operation":"invite","chatId":"={{$json[\"chatid\"]}}"},"id":"7e160c4e-6214-45ff-b43a-64b06ef9a927","name":"Quepasa Get Invite Link","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[2420,-120],"executeOnce":true,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"88c282b3-153c-4934-bb9a-dd3935175aa6","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[2620,-200]},{"parameters":{"values":{"string":[{"name":"response","value":"=Não foi possível obter o link do grupo, verifique se este número é um Admin desse grupo!"}]},"options":{}},"id":"40ffbe1a-7f58-4a43-815f-4a8bfbdbae93","name":"Set Error Response From Quepasa","type":"n8n-nodes-base.set","typeVersion":1,"position":[2980,-120]},{"parameters":{"baseUrl":"={{ $json.body.extra.cwhost }}","accessToken":"={{ $json.body.extra.utoken }}","resource":"contact","accountId":"={{ $json.body.extra.account }}","operation":"contactSearch","contactSearchQuery":"={{ $env['C8Q_QP_CONTACT'] ?? 'control@whatsapp.io' }}"},"id":"3573ef76-6f36-435c-9eae-925c3c70d779","name":"Busca Contato","type":"n8n-nodes-chatwoot.chatwoot","typeVersion":1,"position":[1860,420]},{"parameters":{"method":"POST","url":"={{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"cwhost\"] }}/api/v1/accounts/{{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"account\"] }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('When Called By Another Workflow').item.json.body.extra.utoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=inbox_id","value":"={{ $('When Called By Another Workflow').item.json.body.extra.inbox }}"},{"name":"contact_id","value":"={{ $json.payload[0].id }}"},{"name":"status","value":"open"}]},"options":{}},"id":"30749d93-8ccc-422c-9e40-c7ca6edf0610","name":"New Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2060,420]},{"parameters":{"method":"POST","url":"={{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"cwhost\"] }}/api/v1/accounts/{{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"account\"] }}/conversations/{{ $json.id }}/toggle_status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('When Called By Another Workflow').item.json.body.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"status\": \"open\",\n    \"snoozed_until\": null\n}","options":{}},"id":"e34062fe-8678-4e56-a120-dc7d74457f39","name":"Open Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2260,420]},{"parameters":{"method":"POST","url":"={{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"cwhost\"] }}/api/v1/accounts/{{ $('When Called By Another Workflow').item.json[\"body\"][\"extra\"][\"account\"] }}/conversations/{{ $json.payload.conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('When Called By Another Workflow').item.json.body.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n \"private\": false,\n  \"content\": \"❌ Este número está desconectado do whatsapp e não pode mais receber nem enviar mensagens!\\n Digite /qrcode para conectar\\n{{ $('When Called By Another Workflow').item.json.body.text }}\",\n \"message_type\": 2,\n \"content_type\": \"text\"\n}","options":{}},"id":"587aa618-867e-4001-b52e-be27f89c46e5","name":"Send Disconnect Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2460,420]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.text }}","value2":"401: logged out from another device"}]}},"id":"83e21ad7-5bef-4e05-ac2c-2c4b664d7a6c","name":"Is Logout?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1640,440]},{"parameters":{"workflowId":"waRNOrsXSutLuYvW","options":{}},"id":"a72b2454-f60f-4f32-a5e7-83f2159eecdf","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1820,80],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{$json.response}}","operation":"isNotEmpty"}]}},"id":"b7ff2ae4-7185-4408-b7bf-fcfed028c982","name":"If Reponse Not Empty ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3180,-200]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.success}}","value2":true}]}},"id":"69c28c56-60a2-4f5f-adff-8f55a7fbb8c7","name":"If Success","type":"n8n-nodes-base.if","typeVersion":1,"position":[2780,-200]},{"parameters":{"content":"## Put here your external API workflow","height":268.8339206426964,"width":495.19677943804624},"id":"9643a11d-7cd8-401b-9e7e-a5fc221c0de5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,0]},{"parameters":{},"id":"d3d674f9-6a1f-47ab-82d9-859e3e2c9808","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1820,-200]},{"parameters":{"conditions":{"number":[{"value1":"={{$json.payload}}","operation":"isNotEmpty"}]}},"id":"485d8b60-6728-48c3-8637-99ab5684e1aa","name":"If From Chat ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1020,80]},{"parameters":{},"id":"56c43cdf-abc4-4724-b09c-84b9eae0efcd","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[820,80]},{"parameters":{"content":"## (1.0.2) Visual adjusts\n\n## Recommendations \n* Remember set timeout to 15 seconds ","height":205.7265251035022,"width":561.5346630524019},"id":"3ed5d4bb-8a40-495d-93d1-5d63833a85a9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,-240]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.payload?.content?? \"\"}}","rightValue":"/invite","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"0"}]},"options":{"fallbackOutput":"extra"}},"id":"10119fff-317d-496c-8d64-33864c24e55b","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1300,80]}],"connections":{"Set Invite Response":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"If Is From Group":{"main":[[{"node":"Quepasa Get Invite Link","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Set Parameters From Control Chat":{"main":[[{"node":"If Is From Group","type":"main","index":0}]]},"Quepasa Get Invite Link":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"If Success","type":"main","index":0}]]},"Set Error Response From Quepasa":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"New Conversation","type":"main","index":0}]]},"New Conversation":{"main":[[{"node":"Open Conversation","type":"main","index":0}]]},"Open Conversation":{"main":[[{"node":"Send Disconnect Message","type":"main","index":0}]]},"Is Logout?":{"main":[[{"node":"Busca Contato","type":"main","index":0}]]},"If Reponse Not Empty ?":{"main":[[{"node":"Quepasa","type":"main","index":0}]]},"If Success":{"main":[[{"node":"Set Invite Response","type":"main","index":0}],[{"node":"Set Error Response From Quepasa","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Set Parameters From Control Chat","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"If From Chat ?","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"If From Chat ?":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Is Logout?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c2ab0a1-16e2-42a6-b28e-cf12965f2683","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"},{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T15:16:03.714Z","updatedAt":"2024-03-09T15:16:03.714Z","id":"KOLgvcJBMVVu28zw","name":"quepasa"}]}