quepasainboxcontrol-DecrYUV2l2bFbl6O.json
{"createdAt":"2024-03-09T16:53:19.845Z","updatedAt":"2024-03-10T02:34:43.538Z","id":"DecrYUV2l2bFbl6O","name":"QuepasaInboxControl","active":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{$json.body?.event}}","value2":"message_created"},{"value1":"={{$json.body?.message_type}}","value2":"outgoing"}]}},"id":"ee8205d2-ea5f-4195-a67b-66a2cac5726b","name":"If Message Out","type":"n8n-nodes-base.if","typeVersion":1,"position":[120,-40]},{"parameters":{},"id":"0e6f6dd2-60c3-4240-b552-849bafc9cd15","name":"Discarding Not Message Out","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[360,120]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.content}}","operation":"isNotEmpty"},{"value1":"={{$json.content}}","operation":"notStartsWith","value2":"/qrcode"}]}},"id":"96fc778b-dc21-4634-b982-88a555a4e239","name":"If Body Not Empty","type":"n8n-nodes-base.if","typeVersion":1,"position":[560,-60]},{"parameters":{"values":{"string":[{"name":"content","value":"={{$json.body?.content}}"},{"name":"cwhost","value":"={{$json.extra.cwhost}}"},{"name":"account","value":"={{$json.extra.account}}"},{"name":"inbox","value":"={{$json.extra.inbox}}"},{"name":"utoken","value":"={{$json.extra.utoken}}"}]},"options":{}},"id":"8ce2c708-7f71-4a2d-86b5-9b5afb44ffa6","name":"Set Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[360,-60]},{"parameters":{},"id":"14974ea2-3452-4f1a-9846-f61ad4c9611c","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-100,-40]},{"parameters":{"content":"## (1.0.2) Recommendations \n* Remember set timeout to 15 seconds \n* string empty for switch\n* getting identifier from postgres","width":395},"id":"0cfd83f4-3487-4cd1-8d7c-ee778a072b58","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,-480]},{"parameters":{},"id":"24f543c7-b778-4f9e-a428-6fcebf6c34e8","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[800,-80]},{"parameters":{"content":"## Main Flow\n","height":577.449009853676,"width":1184.9286677799867},"id":"84ffeebf-629e-4305-9b45-ed250776741b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,-280]},{"parameters":{"values":{"string":[{"name":"params.source_id","value":"={{$json[\"body\"][\"conversation\"][\"contact_inbox\"][\"source_id\"]}}"},{"name":"params.conversation_id","value":"={{$json[\"body\"][\"conversation\"][\"id\"]}}"}]},"options":{}},"id":"5dc375d9-ca0e-4e7e-84a9-1d6274863395","name":"Set Parameters From Control Chat","type":"n8n-nodes-base.set","typeVersion":1,"position":[7060,-520]},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"query\"][\"identifier\"]}}","operation":"isEmpty"}]}},"id":"41c22e35-c386-40b0-aa9e-6f779d3bbfbb","name":"If Missing Identifier","type":"n8n-nodes-base.if","typeVersion":1,"position":[6320,-540]},{"parameters":{"operation":"executeQuery","query":"=SELECT \"public\".\"channel_api\".\"identifier\", \"public\".\"inboxes\".\"channel_id\" FROM \"public\".\"channel_api\" INNER JOIN \"public\".\"inboxes\" ON \"public\".\"channel_api\".\"id\" = \"public\".\"inboxes\".\"channel_id\" WHERE \"public\".\"channel_api\".\"account_id\"='{{$json.query.account}}' AND \"public\".\"inboxes\".\"id\" = '{{$json.query.inbox}}';","additionalFields":{}},"id":"13de55d6-a949-4689-97e7-bd8a1b701a1e","name":"Get Identifier","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[6520,-660],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"6feb7d39-223f-426a-986c-78c2e6e730f9","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[6880,-580]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"query.identifier","value":"={{ $json.identifier }}"}]},"options":{}},"id":"e6bc45dc-c559-414a-82cc-5e401a293e9b","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[6700,-660]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"params","value":"={{ $json.params }}"},{"name":"params.cwhost","value":"={{$json.query.cwhost}}"},{"name":"params.identifier","value":"={{$json.query.identifier}}"}]},"options":{}},"id":"3727f6ca-58e4-421b-b5db-df6c932b02a6","name":"Set Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[7240,-520]},{"parameters":{},"id":"ed092f91-7ebe-44c3-9060-d72811ea05c1","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,-520]},{"parameters":{"baseUrl":"={{$json[\"extra\"][\"qphost\"]}}","token":"={{$json[\"extra\"][\"qptoken\"]}}","resource":"webhook","operation":"setup","url":"=http://n8nfila_n8n_webhook:5678/webhook/to-chatwoot","trackId":"chatwoot","extraAttributes":{"attribute":[{"key":"identifier","value":"={{$json[\"extra\"][\"identifier\"]}}"},{"key":"cwhost","value":"={{$json[\"extra\"][\"cwhost\"]}}"},{"key":"inbox","value":"={{$json[\"extra\"][\"inbox\"]}}"},{"key":"account","value":"={{$json[\"extra\"][\"account\"]}}"},{"key":"utoken","value":"={{$json[\"extra\"][\"utoken\"]}}"},{"key":"atoken","value":"={{$json[\"extra\"][\"atoken\"]}}"},{"key":"account","value":"={{$json[\"extra\"][\"account\"]}}"},{"key":"qphost","value":"={{$json[\"extra\"][\"qphost\"]}}"},{"key":"qptoken","value":"={{$json[\"extra\"][\"qptoken\"]}}"}]}},"id":"3902eabd-c3dd-44e8-91cc-451385a88663","name":"QP - Webhook Update","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[4420,-220],"continueOnFail":true},{"parameters":{"baseUrl":"={{$json[\"extra\"][\"qphost\"]}}","token":"={{$json[\"extra\"][\"qptoken\"]}}","resource":"webhook","operation":"remove","url":"=https://{{$json[\"headers\"][\"host\"]}}/webhook/to-chatwoot"},"id":"077728d2-2397-443c-a9d4-7e88059c129f","name":"QP - Webhook Remove","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[4420,-40],"continueOnFail":true},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=({{$json[\"success\"]}}): {{$json[\"status\"]}}"}]},"options":{}},"id":"36e76c0b-bf46-4c8d-9e84-8aeb3f0a6624","name":"Set Response From Quepasa","type":"n8n-nodes-base.set","typeVersion":1,"position":[5040,-180]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=!Invalid call, try:\n-----------------------------------------------\n/agentbot\n/info\n/webcallback {destination}\n/webhook {update|remove|clear}\n"}]},"options":{}},"id":"8643c20b-fc76-46c4-bc8d-29876963bbd3","name":"Set Response From Invalid Start","type":"n8n-nodes-base.set","typeVersion":1,"position":[5040,1480]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.success}}","value2":true}]}},"id":"2ce99bb9-cf55-4d07-9f6a-6401daf7238e","name":"IF Success","type":"n8n-nodes-base.if","typeVersion":1,"position":[4720,-40]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=! {{ $json.status ?? $json.message }}"}]},"options":{}},"id":"604b1ff2-42bb-425e-934f-f85852d2514e","name":"Set Error Response From Quepasa","type":"n8n-nodes-base.set","typeVersion":1,"position":[5040,120]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.success}}","value2":true}]}},"id":"72e82ab4-82a1-414d-981b-a1ed969047d8","name":"IF Success1","type":"n8n-nodes-base.if","typeVersion":1,"position":[4420,360]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"={{$json[\"server\"]}}"}]},"options":{}},"id":"15b60f98-20ef-433f-b19c-cfc7ba5b2b30","name":"Set Info Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[5040,380]},{"parameters":{"functionCode":"function print(object, level) {\n    var SPACER = '-',\n        NEWLINE = '\\r\\n'\n        result = '';\n\n    level = level || 0;\n    Object.keys(object).forEach(function (key) {\n        var i = level;\n        while (i--) {\n            result += SPACER;\n        }\n        if (typeof object[key] === 'object' && object[key] !== null) {\n            result += NEWLINE + key + ' :: ' + NEWLINE + NEWLINE;\n            result += print(object[key], level + 1);\n            return;\n        }\n        result += key + ': ' + object[key] + NEWLINE;\n\n    });\n    return result;\n}\n\nfor (item of items) {\n  item.json.server = print(item.json.server);\n}\n\nreturn items;"},"id":"38b49094-4172-431a-8aec-59be1056ab12","name":"Json To Idented Text","type":"n8n-nodes-base.function","typeVersion":1,"position":[4720,340]},{"parameters":{"baseUrl":"={{$json[\"extra\"][\"qphost\"]}}","token":"={{$json[\"extra\"][\"qptoken\"]}}","resource":"webhook","operation":"clear"},"id":"6acada7d-eaa4-42e4-af21-757f7b98ed0d","name":"QP - Webhook Clear","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[4420,140]},{"parameters":{"method":"POST","url":"={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/inboxes/{{$json.inbox}}/set_agent_bot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{$json.utoken}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"agent_bot","value":"1"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}}}},"id":"09476823-6541-4a94-afb7-866e89f01096","name":"(Agent) Set Inbox Agent Permissions","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[4320,780],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{$json?.error?.message??$json?.error}}","operation":"isEmpty"}]}},"id":"548d8575-1051-464d-b358-d8444d13245c","name":"(Agent) If Success Set Agent","type":"n8n-nodes-base.if","typeVersion":1,"position":[4520,780]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"Agent Bot Updated"}]},"options":{}},"id":"b4db4911-5149-4ad9-b707-3c8457e0bb0c","name":"(Agent)  Set Sucess Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[4720,660]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=! {{$json.status}}"}]},"options":{}},"id":"619f43b5-b9b5-4505-a8a1-6134c0341e9f","name":"(Agent) Set Error Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[4720,880]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"352c51ed-15c1-417c-bb77-49a86c7b2ffa","name":"(Agent) Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[5040,640]},{"parameters":{"method":"PUT","url":"https://endpoints.sufficit.com.br/gateway/chatwoot/inbox","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.query.identifier }}"},{"name":"destination","value":"={{ $json.content.substring(13) }}"},{"name":"contextid","value":"={{ $env[\"C8Q_SUFFICIT_CONTEXTID\"] }}"}]},"options":{}},"id":"c6a12f93-25f7-4b81-8bf4-92d08aec778d","name":"Update WebCallBack Destination","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4320,1160],"continueOnFail":true},{"parameters":{"method":"PUT","url":"https://endpoints.sufficit.com.br/gateway/chatwoot/inbox","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.query.identifier }}"},{"name":"contextId","value":"={{ $json.content.substring(13) }}"}]},"options":{}},"id":"600ad88f-a7a0-4944-8f83-b878ea5e351e","name":"Update WebCallBack ContextId","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4320,1360],"continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]}},"id":"e29222f9-7f50-4b0a-89b7-9783b682419e","name":"If Success Update","type":"n8n-nodes-base.if","typeVersion":1,"position":[4520,1260]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"={{ $json.message }}:\n  * identifier: {{ $json.data?.identifier }}\n  * destination: {{ $json.data?.destination }}\n  * contextId: {{ $json.data?.contextId }}\n\n--------------------------------------\nFor more informations, check:\n*** https://www.sufficit.com.br/gateway/chatwoot/default?objectid={{ $json.data?.contextId }}"}]},"options":{}},"id":"c48ff8e8-d791-4831-bb59-43620396162e","name":"Set Success Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[4720,1160]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=! {{ $json.message ?? $json.error.message }}"}]},"options":{}},"id":"ea86b9ce-d07b-498e-a587-45f8f06ba8ea","name":"Set Error Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[4720,1360]},{"parameters":{},"id":"71662ff6-01d8-4cee-a121-2d758e4165ec","name":"NoOp1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4920,1260]},{"parameters":{"baseUrl":"={{$json[\"extra\"][\"qphost\"]}}","token":"={{$json[\"extra\"][\"qptoken\"]}}","resource":"information"},"id":"6b24777a-336b-4d92-8795-b970d0867e81","name":"QP - Info","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[4080,360],"continueOnFail":true},{"parameters":{},"id":"cc2cb754-c064-46b0-8df1-aa569597f3fc","name":"Agent Control","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4080,620]},{"parameters":{},"id":"9950c31d-70d9-49e0-a229-768f2273cce6","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3880,1480]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.content.substring(13) }}","operation":"startsWith","value2":"+"}]}},"id":"0629a9f2-7afd-4be8-8ea1-0c60b405254b","name":"If Destination Or ContextId","type":"n8n-nodes-base.if","typeVersion":1,"position":[4120,1260]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.response}}","operation":"isNotEmpty"}]}},"id":"d026b5e8-0874-4ef3-a4e9-02bfb6685e7e","name":"If Reponse Not Empty ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[5620,620]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.content?.toLowerCase() ?? \"\"}}","rightValue":"/webcallback","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"0"}]},"options":{"fallbackOutput":"extra"}},"id":"22d760ac-053c-4ffc-ae31-3da4efabda8e","name":"Switch Start1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[3640,1320]},{"parameters":{"baseUrl":"={{ $json.params.cwhost }}","sourceId":"={{ $json.params.source_id }}","operation":"messageCreate","inboxIdentifier":"={{ $json.params.identifier }}","conversationId":"={{ $json.params.conversation_id }}","content":"={{$json[\"response\"]}}"},"id":"6c5f3c75-b591-48e0-8efe-937100192ce5","name":"ChatWoot","type":"n8n-nodes-chatwoot.chatwoot","typeVersion":1,"position":[7800,-280]},{"parameters":{},"id":"334098c5-b811-4a10-a82e-079e7d5de8c4","name":"Follow To Main Flow","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7120,80]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"3b06a645-ec4f-42ca-876f-b4c8ba8b7c47","name":"Merge Parameters","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[7580,-280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.content?.toLowerCase() ?? \"\"}}","rightValue":"/webhook update","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"0"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b9353418-79ae-43ce-81ea-6575a722c33f","leftValue":"={{$json.content?.toLowerCase() ?? \"\"}}","rightValue":"/webhook remove","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"145f9411-b432-48c8-a460-ba1d0ad4bce3","leftValue":"={{$json.content?.toLowerCase() ?? \"\"}}","rightValue":"/webhook clear","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"}]},"options":{"fallbackOutput":"extra"}},"id":"38e3df9c-b69b-44ff-9269-d0d630b66f03","name":"Webhook Methods","type":"n8n-nodes-base.switch","typeVersion":3,"position":[4080,-20]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.content?.toLowerCase() ?? \"\"}}","rightValue":"/webhook","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"0"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b9353418-79ae-43ce-81ea-6575a722c33f","leftValue":"={{$json.content?.toLowerCase() ?? \"\"}}","rightValue":"/info","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"145f9411-b432-48c8-a460-ba1d0ad4bce3","leftValue":"={{$json.content?.toLowerCase() ?? \"\"}}","rightValue":"/agentbot","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"}]},"options":{"fallbackOutput":"extra"}},"id":"1a39072f-f283-4134-af7a-37431f06b0e7","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1040,-80]}],"connections":{"If Message Out":{"main":[[{"node":"Set Payload","type":"main","index":0}],[{"node":"Discarding Not Message Out","type":"main","index":0}]]},"If Body Not Empty":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Set Payload":{"main":[[{"node":"If Body Not Empty","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"If Message Out","type":"main","index":0}]]},"Set Parameters From Control Chat":{"main":[[{"node":"Set Parameters","type":"main","index":0}]]},"If Missing Identifier":{"main":[[{"node":"Get Identifier","type":"main","index":0},{"node":"Merge","type":"main","index":1}],[{"node":"Set Parameters From Control Chat","type":"main","index":0}]]},"Get Identifier":{"main":[[{"node":"Set","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Set Parameters From Control Chat","type":"main","index":0}]]},"Set":{"main":[[{"node":"Merge","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"If Missing Identifier","type":"main","index":0}]]},"QP - Webhook Update":{"main":[[{"node":"IF Success","type":"main","index":0}]]},"QP - Webhook Remove":{"main":[[{"node":"IF Success","type":"main","index":0}]]},"IF Success":{"main":[[{"node":"Set Response From Quepasa","type":"main","index":0}],[{"node":"Set Error Response From Quepasa","type":"main","index":0}]]},"IF Success1":{"main":[[{"node":"Json To Idented Text","type":"main","index":0}],[{"node":"Set Error Response From Quepasa","type":"main","index":0}]]},"Json To Idented Text":{"main":[[{"node":"Set Info Response","type":"main","index":0}]]},"QP - Webhook Clear":{"main":[[{"node":"IF Success","type":"main","index":0}]]},"(Agent) Set Inbox Agent Permissions":{"main":[[{"node":"(Agent) If Success Set Agent","type":"main","index":0}]]},"(Agent) If Success Set Agent":{"main":[[{"node":"(Agent)  Set Sucess Response","type":"main","index":0}],[{"node":"(Agent) Set Error Response","type":"main","index":0}]]},"(Agent)  Set Sucess Response":{"main":[[{"node":"(Agent) Merge","type":"main","index":1}]]},"(Agent) Set Error Response":{"main":[[{"node":"(Agent) Merge","type":"main","index":1}]]},"Update WebCallBack Destination":{"main":[[{"node":"If Success Update","type":"main","index":0}]]},"Update WebCallBack ContextId":{"main":[[{"node":"If Success Update","type":"main","index":0}]]},"If Success Update":{"main":[[{"node":"Set Success Response","type":"main","index":0}],[{"node":"Set Error Response","type":"main","index":0}]]},"Set Success Response":{"main":[[{"node":"NoOp1","type":"main","index":0}]]},"Set Error Response":{"main":[[{"node":"NoOp1","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"No Operation, do nothing1","type":"main","index":0}]]},"QP - Info":{"main":[[{"node":"IF Success1","type":"main","index":0}]]},"Agent Control":{"main":[[{"node":"(Agent) Set Inbox Agent Permissions","type":"main","index":0},{"node":"(Agent) Merge","type":"main","index":0}]]},"If Destination Or ContextId":{"main":[[{"node":"Update WebCallBack Destination","type":"main","index":0}],[{"node":"Update WebCallBack ContextId","type":"main","index":0}]]},"NoOp":{"main":[[{"node":"Set Response From Invalid Start","type":"main","index":0}]]},"Set Response From Quepasa":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"Set Error Response From Quepasa":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"Set Info Response":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"(Agent) Merge":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"Switch Start1":{"main":[[{"node":"If Destination Or ContextId","type":"main","index":0}],[{"node":"NoOp","type":"main","index":0}]]},"NoOp1":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"Set Response From Invalid Start":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"Follow To Main Flow":{"main":[[{"node":"Merge Parameters","type":"main","index":1}]]},"Merge Parameters":{"main":[[{"node":"ChatWoot","type":"main","index":0}]]},"Set Parameters":{"main":[[{"node":"Merge Parameters","type":"main","index":0}]]},"If Reponse Not Empty ?":{"main":[[{"node":"Follow To Main Flow","type":"main","index":0}]]},"Webhook Methods":{"main":[[{"node":"QP - Webhook Update","type":"main","index":0}],[{"node":"QP - Webhook Remove","type":"main","index":0}],[{"node":"QP - Webhook Clear","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Webhook Methods","type":"main","index":0}],[{"node":"QP - Info","type":"main","index":0}],[{"node":"Agent Control","type":"main","index":0}],[{"node":"Switch Start1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6c3f4f4e-2d98-430e-9cb4-1d48a3d4656a","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T14:16:04.079Z","updatedAt":"2024-03-09T14:16:04.079Z","id":"NKqNSuY0oJxzFsGW","name":"NOCODELEAKS"},{"createdAt":"2024-03-09T15:16:03.714Z","updatedAt":"2024-03-09T15:16:03.714Z","id":"KOLgvcJBMVVu28zw","name":"quepasa"}]}