quepasa-receive-xeDXG9W2SYQiqhlV.json
{"createdAt":"2025-04-14T20:07:00.685Z","updatedAt":"2025-04-16T13:39:04.420Z","id":"xeDXG9W2SYQiqhlV","name":"QuePasa Receive","active":false,"nodes":[{"parameters":{"url":"https://qps.bee360.com.br/receive","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-QUEPASA-TOKEN","value":"={{ $json.extra.qptoken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,0],"id":"28fd3d4e-4386-4daa-b115-af803c595d40","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ded33c47-8a73-461e-b74e-4b2e7c5e3cd9","leftValue":"={{ $json.attachment }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,20],"id":"7e411b6c-1a1e-4ad6-9028-8770dca3ef0b","name":"Discard Attachments"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"65ab1912-75aa-4082-a904-1b2d2f575bd5","leftValue":"={{ $json.type }}","rightValue":"contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b1225e12-71ec-42b8-bcbe-45e5c969f487","leftValue":"={{ $json.chat.lid }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"id":"591a9992-ce01-401f-bd51-50d62db89314","name":"Contact Event","type":"n8n-nodes-base.if","typeVersion":2,"position":[980,0]},{"parameters":{"fieldToSplitOut":"messages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[480,0],"id":"2914a86b-6ee8-4652-abab-bec7d09e87f0","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fd45e548-7854-4ee4-b691-0506e427bb07","leftValue":"={{ $json.id }}","rightValue":"empty","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"d68809b1-3f69-48a5-b054-7a56066070a5","name":"Já existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1960,40]},{"parameters":{"operation":"executeQuery","query":"WITH result AS (\n  SELECT \n    id::text AS id, \n    account_id::text AS account_id, \n    source_id::text AS source_id, \n    inbox_id::text AS inbox_id\n  FROM messages\n  WHERE account_id = $2 \n    AND (source_id = $1 OR source_id = $4 OR id = $5)\n    AND inbox_id = $3\n  LIMIT 10\n)\nSELECT id, account_id, source_id, inbox_id\nFROM result\nUNION ALL\nSELECT 'empty' AS id, NULL AS account_id, $1 AS source_id, NULL AS inbox_id\nWHERE NOT EXISTS (SELECT 1 FROM result);\n","options":{"queryReplacement":"={{ $json.id }}, {{ $json.extra.account }}, {{ $json.extra.inbox }}, {{ $json.id.split('-A')[0] || 0 }}, {{ $json.id.split('-')[2] || 0 }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1640,40],"id":"386a0302-3f93-4bcd-bfd9-582622b27a3e","name":"Postgres","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"assignments":{"assignments":[{"id":"9e112849-e9fe-40cd-94fd-13613f3aecfa","name":"headers","value":"{ \"host\":  \"fluxo.bee360.com.br\", \"user-agent\":  \"Quepasa\", \"content-length\":  \"698\", \"accept-encoding\":  \"gzip\", \"content-type\":  \"application/json\", \"x-forwarded-for\":  \"172.18.0.1\", \"x-forwarded-host\":  \"fluxo.bee360.com.br\", \"x-forwarded-port\":  \"443\", \"x-forwarded-proto\":  \"https\", \"x-forwarded-server\":  \"d533b80c781b\", \"x-real-ip\":  \"172.18.0.1\" }","type":"object"},{"id":"a99ce0c1-73d8-4340-adf3-cead2cdf1a78","name":"params","value":"{}","type":"object"},{"id":"332b93cd-258f-422e-b5ae-5c493a5fc55d","name":"query","value":"{}","type":"object"},{"id":"07dadb0c-e729-4ca2-b215-65abac07fdf5","name":"body","value":"={{ $('Discard Attachments').item.json }}","type":"object"},{"id":"05554589-a249-4b64-8f4c-fadaa2850ff2","name":" webhookUrl","value":"https://fluxo.webhook.bee360.com.br/webhook/to-chatwoot","type":"string"},{"id":"5443c9d2-cff2-4e1d-9c38-719b5989a108","name":"executionMode","value":"production","type":"string"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2260,20],"id":"7f56146e-e8fd-41e6-b3c0-92a590fb3de5","name":"Edit Fields1"},{"parameters":{"queue":"quepasa-prod","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[3060,20],"id":"4e7530cc-e39c-4507-b910-9e329b8e683a","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"cbKEcG6TjMvaY7PG","name":"RabbitMQ account"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"body.timestamp"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[2560,20],"id":"bb53d0af-740e-4e3b-961e-b467d3dff69d","name":"Sort"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3280,20],"id":"16f1fcc8-be4d-4f7d-8e69-2ed19f37105b","name":"No Operation, do nothing","executeOnce":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1320,-60],"id":"cdab89a0-6eb3-4ed9-aac4-0b809327d5a6","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"channel_api","mode":"list","cachedResultName":"channel_api"},"returnAll":true,"where":{"values":[{"column":"webhook_url","condition":"LIKE","value":"%from-chatwoot%"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1100,-60],"id":"503e02b1-f4a0-4ff4-acd6-a7b1825f664e","name":"Postgres1","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"baseUrl":"https://qps.bee360.com.br","token":"={{ $json.identifier }}","resource":"information"},"type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[-880,-60],"id":"9461780e-50ad-4897-a7aa-abcc8cb60e88","name":"Quepasa","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c181be20-478e-43c7-9684-57e8bf771c8c","leftValue":"={{ $json.server.verified }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-600,-80],"id":"74f420cc-eee3-4948-ac58-f174b798caf4","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"1f3d05da-4598-4c4f-913a-1581877780cd","name":"server.token","value":"={{ $json.server.token }}","type":"string"},{"id":"ed0f36cd-da63-4df1-8bb5-5fd87eaec3e6","name":"extra","value":"={{ $json.server.webhooks[0].extra }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,0],"id":"8d6e4b66-29d9-4b09-8d95-ebeba2fe3133","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"3cbe29b1-3b9d-46e8-9f56-72059d1a4364","name":"extra","value":"={{ $('Edit Fields2').item.json.extra }}","type":"object"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,0],"id":"b6a4910e-dad5-419a-bbfa-84efbbb81299","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-380,-80],"id":"8fa2b7d4-ff25-4ee3-b4f1-cc6f1634ad32","name":"Loop Over Items"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[2780,20],"id":"7a661401-02af-4e35-a86a-b20e4acd8571","name":"Limit","disabled":true}],"connections":{"Discard Attachments":{"main":[[],[{"node":"Postgres","type":"main","index":0}]]},"Contact Event":{"main":[[],[{"node":"Discard Attachments","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Já existe?","type":"main","index":0}]]},"Já existe?":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"RabbitMQ":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Quepasa","type":"main","index":0}]]},"Quepasa":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Contact Event","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields2","type":"main","index":0}]]},"Limit":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aaf5473b-8803-4466-83a2-3f1d4c033bb0","triggerCount":0,"tags":[]}