quepasatochatwoot-zOqQmUdRIFpYEbhg.json
{"createdAt":"2024-03-09T14:48:21.992Z","updatedAt":"2025-02-03T12:23:31.115Z","id":"zOqQmUdRIFpYEbhg","name":"QuepasaToChatwoot","active":true,"nodes":[{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"chat\"][\"id\"].contains(\"@broadcast\") ?? true}}","operation":"notEqual","value2":true}]}},"name":"Not Broadcast ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6160,3100],"id":"d963d7e6-9d4b-47cf-a66a-9b8826fdce8d"},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"854b96c0-5d83-4d22-80f4-64b8f7fa9ff3","name":"Broadcast Message","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[6340,3240]},{"parameters":{"values":{"string":[{"name":"payload.content_type","value":"text"}]},"options":{}},"name":"Payload Constants","type":"n8n-nodes-base.set","typeVersion":1,"position":[10840,3040],"id":"b04539fe-1747-4f0c-a8a4-7bea15221d08"},{"parameters":{"workflowId":"=6LkM6LIxLBsM7OMt","options":{}},"id":"7ad70e4e-7fbc-40a9-a1ba-583c728b8e2f","name":"Execute Workflow Post To Chatwoot","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[11040,3040],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"## Call Request ?","height":354,"width":257},"id":"031f3c03-60ca-4c84-a639-38248e9e798a","name":"Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8580,2960]},{"parameters":{"conditions":{"number":[{"value1":"={{$json.type}}","operation":"equal","value2":8}],"string":[{"value1":"={{$json.type}}","value2":"call"}]},"combineOperation":"any"},"id":"de5f10e3-f93b-4f99-a622-588aed887ac4","name":"If Call Request ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[8660,3160]},{"parameters":{"values":{"string":[{"name":"text","value":"={{ $env['C8Q_MSGFOR_CALL_CONTENT'] ?? '\\u2699 O usuário requisitou uma chamada de voz !' }}\n____________________________________________________\n✉ {{ $json.status ?? $json.message }}"}],"boolean":[{"name":"payload.private","value":true}]},"options":{}},"id":"6dd51fba-bc19-43c3-8b40-e15137225145","name":"Set Text Content For Call Request","type":"n8n-nodes-base.set","typeVersion":1,"position":[9540,2960]},{"parameters":{"workflowId":"=FSbotEb2oMoORnPa","options":{}},"id":"0066c919-231f-4b64-8cb3-f69ff23169e9","name":"Throw To WebCallBack Telephony Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[9120,2880],"executeOnce":true,"continueOnFail":true},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"payload.content","value":"={{$json.text}}"},{"name":"payload.message_type","value":"={{$json.fromme?\"outgoing\":\"incoming\"}}"},{"name":"payload.source_id","value":"={{$json.id}}"},{"name":"payload.echo_id","value":"={{$json.id}}"},{"name":"payload.content_attributes.items.quepasa.msgid","value":"={{ $json.id }}"},{"name":"payload.content_attributes.in_reply_to","value":"={{ $json.inreply ? +$json.inreply : undefined }}"},{"name":"attachment","value":"={{$json.attachment}}"},{"name":"chatid","value":"={{$json.chat.id}}"},{"name":"chat","value":"={{$json.chat}}"},{"name":"conversation","value":"={{$json.conversation}}"},{"name":"extra","value":"={{$json.extra}}"},{"name":"hex","value":"={{$json.chat.chatwoot.source_id}}"},{"name":"synopsis","value":"={{$json.synopsis}}"},{"name":"participant.title","value":"={{$json.participant?.title}}"},{"name":"participant.phone","value":"={{$json.participant?.phone}}"},{"name":"payload.external_created_at","value":"={{ new Date($json.timestamp).getTime() / 1000 }}"},{"name":"event","value":"={{ $json.type }}"},{"name":"ads","value":"={{ $('RabbitMQ Trigger').item.json.body.ads }}"}],"boolean":[{"name":"payload.private","value":"={{ $json.payload?.private ?? false }}"},{"name":"payload.edited","value":"={{ $json.edited ?? false }}"}]},"options":{}},"name":"Chatwoot Message Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[10640,3040],"id":"6d4b55cf-3df7-4eac-93a8-dbf2c877eed3"},{"parameters":{"content":"## (1.0.21) Updates\n* skiping edited contacts messages (not implemented)\n\n## Recommendations \n* Remember set timeout to 30 seconds","height":200.52521040961017,"width":569.6036185132486},"id":"30551d3b-d5be-45d7-9214-f16099920705","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4600,2720]},{"parameters":{"workflowId":"=K1z0iQNtjmiFi0mM","options":{}},"id":"54500f28-7b24-4ecb-aa79-26927890e60e","name":"Throw Get Chatwoot Contacts Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[7140,3160],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply }}","operation":"isEmpty"}]}},"id":"bb1802b3-4ae1-4e96-8531-56d503df3f38","name":"If Not In Reply","type":"n8n-nodes-base.if","typeVersion":1,"position":[8920,3320]},{"parameters":{},"id":"0338eab6-7c61-494d-859d-be695c7004aa","name":"Follow to Chatwoot","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[10440,3040]},{"parameters":{"operation":"executeQuery","query":"=\nSELECT id AS inreply_internal_id\nFROM messages \nWHERE source_id = '{{ $json.inreply }}'\nLIMIT 1","options":{}},"id":"952604d9-2228-4752-ae19-8901bd8d76fa","name":"Get In Reply Reference Id","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[9320,3560],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"6ee7d2f2-3227-4614-8655-7cb7030a7e01","name":"Merging Found Id","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[9560,3360]},{"parameters":{"values":{"string":[{"name":"inreply","value":"={{ $json.inreply_internal_id }}"},{"name":"synopsis","value":"={{ undefined }}"}]},"options":{}},"id":"971a1cb0-6fa4-4969-8609-1acbfbab7435","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[9940,3380]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply }}","operation":"contains","value2":"-"}]}},"id":"df606850-d4e8-4d12-93e0-410733a981b1","name":"If Has Hiffen","type":"n8n-nodes-base.if","typeVersion":1,"position":[9120,3440]},{"parameters":{"values":{"string":[{"name":"inreply_internal_id","value":"={{ $if($json.inreply.includes('-A'),$json.inreply.split('-')[2] , $json.inreply.split('-').pop()) }}"}]},"options":{}},"id":"8ff54b20-66f0-47c8-a182-0967c1adc45e","name":"Set Internal Id","type":"n8n-nodes-base.set","typeVersion":2,"position":[9320,3420]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply_internal_id }}","operation":"isEmpty"}]}},"id":"012bdce5-410a-405c-a0f3-b89c2ead8288","name":"If Not Found","type":"n8n-nodes-base.if","typeVersion":1,"position":[9740,3360]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.body.type }}","operation":"notEqual","value2":10}],"string":[{"value1":"={{ $json.body.type }}","operation":"notEqual","value2":"revoke"}]}},"id":"798b0a6a-3754-4bb3-8536-46d8dd3639f0","name":"If Not Revoked ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6680,3080]},{"parameters":{},"id":"d321a1c5-1381-4ad5-b0e6-b428727bb5b5","name":"(In) Revoked Message","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7620,4300]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"revoked","value":"={{ $json }}"}]},"options":{}},"id":"98b6039f-b361-4eb3-b0ab-bbaad176788f","name":"Set Retrieved Chatwoot Revoked Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[8440,4100]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"c34405b6-5a52-4269-9feb-b4fcac05293c","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[8760,4280]},{"parameters":{"requestMethod":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.revoked.account_id }}/conversations/{{ $json.revoked.conversation_id }}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\n   \"private\": false,\n   \"content\": \"{{ $env['C8Q_MSGFOR_REVOKED_CONTENT'] ?? '\\u274C Essa mensagem foi apagada !!!' }}\",\n   \"message_type\": 2,\n   \"content_attributes\": {      \n      \"in_reply_to\": {{ +$json.revoked.id }},\n      \"in_reply_to_external_id\": \"{{ $json.body.id }}\"\n   },\n   \"content_type\": \"text\"\n}","headerParametersJson":"={ \"api_access_token\": \"{{ $json.extra.utoken }}\" }"},"name":"Send Revoked Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[8980,4280],"id":"b177ac87-fd65-4554-a31f-73a10d838b01","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"content":"## Message Revoked From Source\n\n","height":512,"width":1816},"id":"158b5eb8-a021-420d-ada9-1f511c8adff4","name":"Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7480,3960]},{"parameters":{"operation":"executeQuery","query":"SELECT messages.account_id, conversations.display_id as conversation_id, messages.id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.extra.account }}' AND messages.source_id = '{{ $json.body.id }}';","options":{}},"id":"836d1be0-61ec-4e7a-be9e-50b7951c17d2","name":"Get Revoked Message Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[8220,4220],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"string":[{"value1":"={{  $json.body.id }}","operation":"contains","value2":"-"}]}},"id":"8b206d01-c36d-4779-bcba-05e8039d7032","name":"If Sended By Chatwoot","type":"n8n-nodes-base.if","typeVersion":1,"position":[7820,4200]},{"parameters":{"operation":"executeQuery","query":"SELECT messages.account_id, conversations.display_id as conversation_id, messages.id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.extra.account }}' AND messages.id = '{{ $json.internalid }}';","options":{}},"id":"ce43231c-1c8e-40fd-8482-86a6ff9c06a0","name":"Get Revoked Internal Message Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[8220,3980],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function isNumeric(str) {\n  if (typeof str != \"string\") return false;\n  return !isNaN(str) && !isNaN(parseFloat(str));\n}\nconst splitted = $input.item.json.body.id.split(/-/);\nlet internalid = splitted.pop();\nif (!isNumeric(internalid)){\n  internalid = splitted[2];\n}\n\n$input.item.json.internalid = internalid;\nreturn $input.item;"},"id":"d7b89730-7ab0-4ab4-aaa4-5c28844e0f7a","name":"Get Internal Id","type":"n8n-nodes-base.code","typeVersion":2,"position":[8020,4080]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error }}","operation":"isEmpty"}]}},"id":"bc3f2791-f0ec-4eb2-a105-bf4907e7cb14","name":"If Success To Get Contact","type":"n8n-nodes-base.if","typeVersion":1,"position":[7340,3160]},{"parameters":{"values":{"string":[{"name":"extra.cwhost","value":"={{ $json.extra.cwhost ?? \"http://127.0.0.1:3000\" }}"},{"name":"params","value":"={{undefined}}"},{"name":"headers","value":"={{undefined}}"},{"name":"query","value":"={{undefined}}"}]},"options":{}},"id":"57adc8ed-5747-4a13-a96d-f39958fe0adf","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[6520,3080]},{"parameters":{"values":{"string":[{"name":"extra","value":"={{ $json.extra ?? $json.body.extra }}"},{"name":"body.extra","value":"={{ undefined }}"}]},"options":{}},"id":"5202d796-c57c-48f0-b0ab-dd4f2a1af79e","name":"Extra","type":"n8n-nodes-base.set","typeVersion":2,"position":[6340,3080]},{"parameters":{},"id":"895022c8-1a84-4883-aa58-87d223fa65ca","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8920,2980]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"e7e6683e-062e-4b0b-85b1-a5aee5905b32","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[9320,2960]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.chat.id }}","value2":"system"},{"value1":"={{ $json.body.text }}","operation":"regex","value2":"^\\/api|^\\/\\/|^\\/invite[\\s]*?$"}]},"combineOperation":"any"},"id":"1563c24e-a2cb-4f20-8491-b9f3a7a0c619","name":"If Chat Control","type":"n8n-nodes-base.if","typeVersion":1,"position":[6940,3060]},{"parameters":{"workflowId":"=Kx5Fgmi9FDnDUNRR","options":{}},"id":"e35cdc34-3be7-4b19-9d29-edb8928aada8","name":"Throw To Quepasa Chat Control Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[7120,2920],"continueOnFail":true},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"e46aa30b-617e-418e-8642-1983c3e8aa30","name":"Edited Contact (Not Implemented)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[6160,2900]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"510fae79-4d90-4ddd-93a4-4201cba493a1","leftValue":"={{ $json.body.type }}","rightValue":"contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0b649b71-4626-47f6-a483-36a505f13c86","leftValue":"={{ $json.body.edited }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3580b47a-503b-45f2-8aa9-3367a28d1dbf","name":"Not Implemented ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[5960,3080]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"383f8df9-b7a3-4f40-b49f-7c5bfde86346","leftValue":"={{ $json.body.trackid }}","rightValue":"chatwoot","operator":{"type":"string","operation":"equals"}},{"id":"c1829244-d48a-4130-96e2-5a312a9b6f07","leftValue":"={{ $json.body.trackid }}","rightValue":"chatwoot-qrcode","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"bf82e1b9-35d5-46b5-a794-ee630cad5936","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5120,3100]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contacts","mode":"list","cachedResultName":"contacts"},"returnAll":true,"where":{"values":[{"column":"account_id","value":"={{ $json.body.extra.account }}"},{"column":"identifier","value":"={{ $json.body.chat.id }}"}]},"options":{}},"id":"0ee02a26-dc7c-443b-b801-40669481601f","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[8940,5260],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contact_inboxes","mode":"list","cachedResultName":"contact_inboxes"},"limit":1,"where":{"values":[{"column":"inbox_id","value":"={{ $json.body.extra.inbox }}"},{"column":"contact_id","value":"={{ $json.id }}"}]},"sort":{"values":[{"column":"id"}]},"options":{"outputColumns":["source_id"]}},"id":"25ccaee7-558e-4a25-bfea-7584bcc30400","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[9280,5180],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"method":"POST","url":"={{ $('Webhook Chatwoot').item.json.body.extra.cwhost }}/public/api/v1/inboxes/{{ $('Merge5').item.json.body.extra.qptoken }}/contacts/{{ $('Postgres1').item.json.source_id }}/conversations/{{ $('Get Last Conversation1').item.json.display_id }}/update_last_seen","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Webhook Chatwoot').item.json.body.extra.utoken }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"1eb89116-2457-46da-9646-44b76388a4f7","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[9680,5180],"retryOnFail":true},{"parameters":{"operation":"executeQuery","query":"=SELECT \n display_id, \n status\nFROM conversations \nWHERE \n\taccount_id = '{{ $('Merge5').item.json.account_id }}' \n\tAND inbox_id = '{{ $('Merge5').item.json.body.extra.inbox}}'\n\tAND contact_id = '{{ $('Merge5').item.json.id }}'\nORDER BY id DESC\nLIMIT 1","additionalFields":{}},"id":"95cea21e-83c2-443e-9955-21b5ad1f07bd","name":"Get Last Conversation1","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[9500,5180],"retryOnFail":false,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"d9573154-9f8e-4c79-9408-d8cb7c03814d","name":"Merge5","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[9120,5180]},{"parameters":{},"id":"54142aa4-306d-4cdf-842a-a3864e868712","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8740,5160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ca76fb94-0005-4fef-9f49-4b71b24aa808","leftValue":"={{ $json.body.id }}","rightValue":"readreceipt","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"fe4f7c7b-08c3-41fe-b373-62834ca19eb2","name":"Event ReadReceipt ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[5700,3100]},{"parameters":{"dataToSave":{"values":[{"key":"text","value":"={{ $json.body.text }}"},{"key":"chatid","value":"={{ $json.body.chat.id }}"},{"key":"timestamp","value":"={{ $json.body.timestamp }}"},{"key":"fromme","value":"={{ JSON.stringify($json.body.fromme) }}"},{"key":"inbox","value":"={{ $json.body.extra.inbox }}"},{"key":"account","value":"={{ $json.body.extra.account }}"},{"key":"fromads","value":"={{ $if($json.body.ads, true, false) }}"}]}},"id":"f90a5df2-bba7-46d4-8584-029e70300450","name":"Execution Data","type":"n8n-nodes-base.executionData","typeVersion":1,"position":[4540,3100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"626cf2dc-c19c-4c9f-a1e6-1a06ad4ab133","leftValue":"={{ $json.body.type }}","rightValue":"contact","operator":{"type":"string","operation":"equals"}},{"id":"6c3ba1ce-18b8-4dcd-8015-f1f8ad95bcf7","leftValue":"={{ $json.body.chat.lid }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4740,3100],"id":"66b11014-824e-43ea-82b3-b75554aa282b","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1a7d963-36e7-46bb-82e3-6f45d3b9214e","leftValue":"={{ $json.body.ads }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5380,3120],"id":"06069a8a-61a2-460a-8c80-6cf478a53a1b","name":"From Ads?"},{"parameters":{"assignments":{"assignments":[{"id":"c33fd1c7-4d17-44b0-81b0-2af7580171d0","name":"body.text","value":"=⚠️ **Mensagem de Anuncio!**\n\n\nTexto Anuncio: {{ $json.body.ads.title }}\nURL: {{ $json.body.ads.sourceurl }}\n\n***Informações***\n- SourceID: {{ $json.body.ads.sourceid }}\n- Fonte: {{ $json.body.ads.app }}\n- ID: {{ $json.body.ads.id }}\n- Tipo: {{ $if($json.body.ads.type = \"ad\", \"Anuncio\", $json.body.ads.type) }}\n\n\n***Resposta do contato:*** {{ $json.body.text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5560,3200],"id":"c72ab840-c01d-4ce5-b606-232928521a21","name":"Info From Ads"},{"parameters":{"queue":"quepasa-prod","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"onlyContent":true,"parallelMessages":12}},"id":"f1171fe9-fb42-4b2d-b72a-829f2cb551b2","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[4220,3100],"credentials":{"rabbitmq":{"id":"cbKEcG6TjMvaY7PG","name":"RabbitMQ account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b5aa60f6-0fed-4497-8a7e-096e12cce8d0","leftValue":"={{ $json.type }}","rightValue":"group","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"be1d0698-f364-44a0-8f32-4636d7eaf664","name":"Is a Group Event?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[7580,3140]},{"parameters":{"assignments":{"assignments":[{"id":"5ed4bf28-5cee-4bfc-a394-8c414a88294f","name":"body.info","value":"={{ $('RabbitMQ Trigger').item.json.body.info }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"24643a56-340b-482c-ac6a-457ac6744d77","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7860,2900]},{"parameters":{"workflowId":"=Kx5Fgmi9FDnDUNRR","options":{}},"id":"37e439e2-707b-42a5-80f8-cf71254bd678","name":"Throw To Quepasa Chat Control Workflow3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[8060,2900],"continueOnFail":true},{"parameters":{"workflowId":"=Kx5Fgmi9FDnDUNRR","options":{}},"id":"0655b15d-e970-4939-b25a-78af44209a37","name":"Throw To Quepasa Chat Control Workflow2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[4920,2960],"continueOnFail":true},{"parameters":{"errorMessage":"Error on Get Contact"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[7500,3320],"id":"26904561-8dd7-45d5-8f62-20690e7b7d69","name":"Stop and Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4dec2a31-e46c-4f21-ab69-5b0df5605e9f","leftValue":"={{ $json.body.chat.id }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"e578dc57-e96e-4d96-b229-c8c493694010","name":"Ignoring Groups ReadReceipt","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7580,4740]},{"parameters":{"content":"## Read Receipt\n\n\n","height":512,"width":1636},"id":"6264a45c-5836-43bb-9e4f-94dad2eef663","name":"Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7480,4520]},{"parameters":{},"id":"fd29db98-2439-4b41-abe9-f8259208f7b1","name":"New Payload","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7940,3160]},{"parameters":{"workflowId":{"__rl":true,"value":"0goGgqaHktlcW5oZ","mode":"list","cachedResultName":"GetValidConversation"},"options":{}},"id":"ddbbedc6-821a-45fc-b99b-76fb9c5aeefb","name":"Conversation Sub Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[8220,3160]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8580,3700],"id":"773ec841-2b20-477d-a954-3779013cc6fc","name":"Prepare Typebot"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[11060,3720],"id":"be3fc067-26f6-4e11-9be7-8a3e1563cde8","name":"No Operation, do nothing2"},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"e8e4a462-e9b7-4a69-98fd-59127ea8977d","name":"Wait For Chatwoot Post1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[11400,3240],"notes":"Criado para lidar com typebot"},{"parameters":{"conditions":{"boolean":[{"value1":"={{!!$json.conversation?.custom_attributes?.typebotsessionid ?? false}}","value2":true},{"value1":"={{ !$json.conversation?.id && $json.extra.hasOwnProperty('tbstart') }}","value2":true},{"value1":"={{ $json.hasOwnProperty('trackid') ? $json.trackid.startsWith(\"typebot\") : false }}","value2":true}]},"combineOperation":"any"},"name":"Needs Typebot?","type":"n8n-nodes-base.if","typeVersion":1,"position":[11600,3240],"id":"99a6825a-5af4-46ac-915c-247a0e29b9d7","notes":"Criado para lidar com typebot"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e663f59c-b7f4-4fda-bd59-8d1430be1af1","leftValue":"={{ $json.chat.id }}","rightValue":"@g.us","operator":{"type":"string","operation":"notContains"}},{"id":"f07e32c4-9999-4489-afd4-890bd6833f2d","leftValue":"={{ $json?.fromme??false }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}},{"id":"79766452-834a-48aa-8a6f-a31a87cd34f6","leftValue":"={{ $json.conversation.status }}","rightValue":"pending","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"b21c8fab-7485-4718-997d-23c47627badf","name":"Conditions to Start","type":"n8n-nodes-base.if","typeVersion":2,"position":[11880,3220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8da2c4d3-0d70-4b0c-9d29-0bc5d7630b74","leftValue":"={{ $json.extra.tbstart }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"32f57e79-5bc7-4083-863d-ae18baac3fc0","name":"Extra tbstart is not defined?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[12160,3200]},{"parameters":{"workflowId":{"__rl":true,"value":"W6hZpHhWerKa6tNc","mode":"list","cachedResultName":"QuepasaToTypebot"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[12480,3220],"id":"173412e3-0612-447d-948e-14559322e03b","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"d46edd98-7d87-4168-b03b-0e2f2582aecc","name":"messageidAttachment","value":"={{ $json.body.text.split('-A')[0] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8040,4620],"id":"5ea3fb29-1aa6-44d5-8949-a387074431df","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"e231cc25-ce2f-4bb0-bc1b-1549c43c3862","name":"messageid","value":"={{ $json.messageidAttachment.split('-').pop() }}","type":"string"},{"id":"8e9e3389-892f-4a2c-98fa-e6afdb046d68","name":"account","value":"={{ $json.body.extra.account }}","type":"string"},{"id":"2021f22f-e01e-4489-bad3-e8129de79f33","name":"inbox","value":"={{ $json.body.extra.inbox }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8220,4620],"id":"9d3a2ea6-20f5-4bfd-a976-cf3ab75f4345","name":"Edit Fields2"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"where":{"values":[{"column":"id","value":"={{ $json.messageid }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8440,4620],"id":"3a120728-c8c8-42e7-805a-bf002577aad9","name":"Postgres2","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE messages\nSET status = 2\nWHERE conversation_id = {{ $json.conversation_id }}\n  AND id = {{ $json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8660,4620],"id":"48e5642d-eece-401e-a85f-4d0d5dc14486","name":"Postgres3","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e56462f-a0e5-4eea-875d-dfc028f2e0be","leftValue":"={{ $json.body.text }}","rightValue":"-","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7880,4760],"id":"768e9df1-7480-4538-89cc-35456c32e983","name":"If read receipt has (-)"},{"parameters":{"dataToSave":{"values":[{"key":"error","value":"true"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[8900,4720],"id":"cc8d79f4-f033-4d7f-b87b-a151e881709e","name":"Execution Data1"},{"parameters":{"operation":"executeQuery","query":"UPDATE messages\nSET status = 2\nWHERE source_id = '{{ $json.body.text }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8100,4840],"id":"f80d979d-ad04-4cf8-8f40-9a7109e97521","name":"Postgres4","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"onError":"continueErrorOutput"},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"008d8ac1-770a-4732-bdf8-ae70fbd0a820","name":"Edited Contact (Not Implemented)1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[8540,5160]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"where":{"values":[{"column":"id","value":"=6755317"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[7960,5080],"id":"a68e3421-389b-4e8a-bd0a-29e467c23ae4","name":"Postgres7","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"9693e90b-e539-46c5-aee2-ee1bf8e7c467","name":"exit","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[8380,4820]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"a7482ef3-56be-427f-bf9d-0950b0260426","name":"exit1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[8900,4560]},{"parameters":{"operation":"executeQuery","query":"UPDATE messages\nSET status = 2\nWHERE conversation_id = {{ $json.conversation_id }}\n  AND message_type = 1\n  AND private = FALSE\n  AND status NOT IN (2,3)\n  AND id <= {{ $json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8660,4860],"id":"e0f7ce5b-4f71-4164-be49-829ff19b3c49","name":"Postgres5","credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"onError":"continueErrorOutput"}],"connections":{"Not Broadcast ?":{"main":[[{"node":"Extra","type":"main","index":0}],[{"node":"Broadcast Message","type":"main","index":0}]]},"Payload Constants":{"main":[[{"node":"Execute Workflow Post To Chatwoot","type":"main","index":0}]]},"If Call Request ?":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If Not In Reply","type":"main","index":0}]]},"Chatwoot Message Payload":{"main":[[{"node":"Payload Constants","type":"main","index":0}]]},"Throw Get Chatwoot Contacts Workflow":{"main":[[{"node":"If Success To Get Contact","type":"main","index":0}]]},"If Not In Reply":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}],[{"node":"If Has Hiffen","type":"main","index":0},{"node":"Merging Found Id","type":"main","index":0}]]},"Follow to Chatwoot":{"main":[[{"node":"Chatwoot Message Payload","type":"main","index":0}]]},"Get In Reply Reference Id":{"main":[[{"node":"Merging Found Id","type":"main","index":1}]]},"Merging Found Id":{"main":[[{"node":"If Not Found","type":"main","index":0}]]},"If Has Hiffen":{"main":[[{"node":"Set Internal Id","type":"main","index":0}],[{"node":"Get In Reply Reference Id","type":"main","index":0}]]},"Set Internal Id":{"main":[[{"node":"Merging Found Id","type":"main","index":1}]]},"If Not Found":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}],[{"node":"Set1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}]]},"If Not Revoked ?":{"main":[[{"node":"If Chat Control","type":"main","index":0}],[{"node":"(In) Revoked Message","type":"main","index":0}]]},"(In) Revoked Message":{"main":[[{"node":"Merge2","type":"main","index":1},{"node":"If Sended By Chatwoot","type":"main","index":0}]]},"Set Retrieved Chatwoot Revoked Info":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Send Revoked Message","type":"main","index":0}]]},"Get Revoked Message Info":{"main":[[{"node":"Set Retrieved Chatwoot Revoked Info","type":"main","index":0}]]},"If Sended By Chatwoot":{"main":[[{"node":"Get Internal Id","type":"main","index":0}],[{"node":"Get Revoked Message Info","type":"main","index":0}]]},"Get Revoked Internal Message Info":{"main":[[{"node":"Set Retrieved Chatwoot Revoked Info","type":"main","index":0}]]},"Get Internal Id":{"main":[[{"node":"Get Revoked Internal Message Info","type":"main","index":0}]]},"If Success To Get Contact":{"main":[[{"node":"Is a Group Event?","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"If Not Revoked ?","type":"main","index":0}]]},"Extra":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"Throw To WebCallBack Telephony Workflow":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Set Text Content For Call Request":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Throw To WebCallBack Telephony Workflow","type":"main","index":0},{"node":"Merge4","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"Set Text Content For Call Request","type":"main","index":0}]]},"If Chat Control":{"main":[[{"node":"Throw To Quepasa Chat Control Workflow","type":"main","index":0}],[{"node":"Throw Get Chatwoot Contacts Workflow","type":"main","index":0}]]},"Not Implemented ?":{"main":[[{"node":"Edited Contact (Not Implemented)","type":"main","index":0}],[{"node":"Not Broadcast ?","type":"main","index":0}]]},"If":{"main":[[],[{"node":"From Ads?","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Postgres1":{"main":[[{"node":"Get Last Conversation1","type":"main","index":0}]]},"Get Last Conversation1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Merge5","type":"main","index":0},{"node":"Postgres","type":"main","index":0}]]},"Event ReadReceipt ?":{"main":[[{"node":"Not Implemented ?","type":"main","index":0}],[{"node":"Ignoring Groups ReadReceipt","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Throw To Quepasa Chat Control Workflow2","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"From Ads?":{"main":[[{"node":"Event ReadReceipt ?","type":"main","index":0}],[{"node":"Info From Ads","type":"main","index":0}]]},"Info From Ads":{"main":[[{"node":"Event ReadReceipt ?","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Is a Group Event?":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"New Payload","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Throw To Quepasa Chat Control Workflow3","type":"main","index":0}]]},"New Payload":{"main":[[{"node":"Conversation Sub Workflow","type":"main","index":0}]]},"Conversation Sub Workflow":{"main":[[{"node":"Prepare Typebot","type":"main","index":0},{"node":"If Call Request ?","type":"main","index":0}]]},"Prepare Typebot":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Wait For Chatwoot Post1":{"main":[[{"node":"Needs Typebot?","type":"main","index":0}]]},"Needs Typebot?":{"main":[[{"node":"Conditions to Start","type":"main","index":0}]]},"Conditions to Start":{"main":[[{"node":"Extra tbstart is not defined?","type":"main","index":0}]]},"Extra tbstart is not defined?":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow Post To Chatwoot":{"main":[[{"node":"Wait For Chatwoot Post1","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Wait For Chatwoot Post1","type":"main","index":1}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Postgres2","type":"main","index":0}]]},"Postgres2":{"main":[[{"node":"Postgres3","type":"main","index":0}]]},"If read receipt has (-)":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Postgres4","type":"main","index":0}]]},"Postgres3":{"main":[[{"node":"exit1","type":"main","index":0}],[{"node":"Execution Data1","type":"main","index":0}]]},"Postgres4":{"main":[[{"node":"exit","type":"main","index":0}]]},"Ignoring Groups ReadReceipt":{"main":[[],[{"node":"If read receipt has (-)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"RabbitMQ Trigger":[{"json":{"headers":{"host":"fluxo.bee360.com.br","user-agent":"Quepasa","content-length":"6649","accept-encoding":"gzip","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"fluxo.bee360.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"d533b80c781b","x-quepasa-wid":"555197295474:91@s.whatsapp.net","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"id":"03D4878C55F3950179E4EF9205949B30","timestamp":"2025-02-03T02:25:46.290111744-03:00","type":"text","chat":{"id":"555194293702@s.whatsapp.net","title":"Juliana 💙"},"text":"Olá! Tenho interesse em cozinhas queria mais informações, por favor.","fromme":false,"frominternal":false,"ads":{"id":"ARALygWZBMLL2D4ke-33mCeMmyhExXyt7C2bEP5Yt_QnP250mkS2R_5es5H6Z2lGoZmMMcaePSXMSsS1L5RKqXaoXbXV9SaZ1qMxnUVn8JkWMriHk6A-8JIYbwaTALbAb1gqOo8eiLs","title":"🏠 Transforme sua cozinha em um espaço de encontros e memórias deliciosas!🏠","sourceid":"120212173651830776","sourceurl":"https://fb.me/2b8G1DFId","app":"facebook","type":"ad","thumbnail":{"data":"iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAAAXNSR0IB2cksfwAAEDlJREFUWIWdWWmMZNdV/s659y219/Qy07MzW+zY49jJGAecBcfCRFGAiEgsQkECsSg/WAVCQlEQQkL8yJ9EQYpAIiCFQBYgQiIhi+04thPbie3EHm8z7rFnn+nu6e6q6qp6y733HH68quqesWMs7o+nV+++d+9X31m+c96jp556iogAVMfpyRtc/P/cA1WTxP0zEs+EdI7V4w0XtG9+v+m4YfYN7tl+YXwkTGd+3P8BYF9/WoWgVK1FRDqZ1fERk8Vf/+f4ESIClMAGUCKiCtf4xjdi+nXYIg1iG2LTaq1thgCu+znegqvttiZpyguIWEpyAyIeg6dqi+uZfA3T9sZplRDP1LvPd87/TzI4B/GATmEADCgBgAIEKMhAZfwsEVSByZ5KvnVgeOiD2eI7Tdmf7D22wHaGZGINmly026dJJcTthZf/ec/TnyArmDuCYggTQTyiFMHBjdBchHi4IVyG+gKyNUQN+AwAik1EdSRthHKM+MqDO579h407/2j9HX9O4ul6UNWpAs2EYkuFx6iEoetdnjSEuN25fP/e7/81BCpA7zJMgmIIGwOMcoiiB4oQHNigzKBrKHpj+opNaIARjNZBjLgJV0ACse547JO+sbt3/KPQsN3lATIEQ/Tk+XBmRY7vMbfvt5uFEsBbpiUm1Z2nPotA+tb76JZfIleQG5A42nUb5V0iogPvoWvnyWc0XKGdt1IoaOEWGm3Q2kXaeZzae6m3QvM3UShp/VUSRwfehcYCGrWZk58xbhNsp1EIkGF4wSe/l/3Wl/qff6r/wU+tfuKrm62EZMvlAeUoKtaSjRexY4Fu+WUsPYBf+AwA2BRxE+UAxLAJ3v7biFKcfQiH7gUUs8dw/rto7gIbaMCZB3Hn7+LK06jPI9vAjkPoX8a5h6JHP21HV2GSiWUQgE5Mf/nI6EjDfeFXzL883HuM0r/9xuY9x8yJm5p2ip6ISD0xY7iBi48jTnDuO2guVnNYfRHNXehfRHsf2vvQO4eTn8eOI3jlfsRNrJ2CjeELNObwzOfGf8bnWDmJqI7uORCThmnIKSFmWh3p514YvG0+fu9eXpZaPGvcZXfyXPau4207CQHVCbeAw5OfRWsePoMImFEMIRPuA8DjKEQAKkcIgJ1MBcAAAvDkSEBioQJiEEAEJcvoFZoHPdaSq135+L21V/+j+7yjHTUEnbj8hC6MwzuOMfcWtHZDFSq48D0MVmEtVDB2DwUI0eQ8IkBhaesc0yOAAMVYgyYe7wS76uaWTvLky5vfPZccn3HPnaMDzeK+E/uGhUwThNJWUgEkYO00Lj8JthAPk8BGED8BhOtP3nhU6a3KCNOwpyBop/Txu5q/86Vyre9eGumxlvvs7+1Oa0npZerypFNhUIAJ8zchaqA2i6KvUQMrz2HlFKwZW/vNwqItNVQFVKEEJcAwbRb6vpvTR/9g8eQruYT83be1k1pclsJM210eNF1KFRe+N86TUY3cAFI5lly33ZvkCwBCFFmwpSgpjK1kzQDdTKRcO3GY5ud3jkqtMG1l+ckW27WJtBwS9GT87ouNm2IZqsIyMbOneM/mE7PuAthWygzaerZSPNWJHIEUCvDqtTUFbw6GvX4WWxIVJraGL68su6jz3p95XxJHFaatLI+Jjl5vAQtx/drha827Ehm6oFEUGTbEfNrtq89EaVIjIhGx1hKRqqpqFMdMVJQlEWpJKgrnPQD/wunhaHjt6vKxI4dMox58sNYkzebenQvLORmmaoVq5+tcfoxrGkBQALHmsWaxZKSI1Bs1DI5RpjZOY0OACGzETCwqKppExAQjICC1KqIxREAlUu9DnCY2jq2NVImNBbMvnKqZShIRbdPELZe/gTEwg21irZAgiiJjDAFEDOIJx0TMRGwEgkqPiYiIidgYroo0YgUzgXhSKUAkiIiKqPA0SrfYutHlt4cRoK50+cjnaz6otbZWr6dxAigRM/OkDuEx4Ty+SMw+OOdd8M75AJAP3rsyeA9AVEWEiLzzzjkfoJNUN15wSxO3gnk8VJUMNlYufPvM1/1gRcGqGkQatfTOd97NZpaZDZGoMoEIMiEJzGUItj5ja3WfZ6EsmLgWx7UdnHlVEVUNIQAoyiLLi1xChRLjSpfsJASJbkQFKGDgimzP0eOz7Wj/oaOzs/PLq2s/eOw7ZemMMYa5KgsnllEFVYRFUbwxKtPOXC1tpKq9Xi9qtq9eubR+bXX/wg4VDSohBIFsDgYjtTRxpDFbyhGBSEt9rVtVlhRn4jgo6q3O7MKug8duWb56sVy7bI01bJhUERlrlcCqRGptoirNVmthbjGt1WY6naJ0vXaz3W4jlCtLxGyMYcMMIhXJ8+J89yUvP0/crPIiEdna+nO+sSek89sjcPuIDKMYJWnSvXLeuOzCmVO95UtzzZpzJYsPErxI6WwUxarkXCnBG2NAZle7NTM7J0GSWrMzuzDorTWazbhWUyBzZV4Ug81+miQSvG5P7JXLl50jafe0D7lrH6Ib0jYBAQebve+TLfq9pWurZ6ASpN1KNzd7tcGo1W4HVTZWyZBJAHIhiFBsI4Dq9Waz0TTG+mIzDJbr9Var3hisXnz0lRf7G/1cwr7DN124upKm9q3vuNtwPO6OxkY0tWzhRH31SanNK9vXCkquacKefMaMJGIWqsVkTOPwW4/ffOtxa40qImsVSiBR9d6fv3J2bmZ+bn7emMi73KqLXvmq7LsnbbR0tL43dkfnmg+cPnPinj9cv//B/trZJLE3NB1MCAR1rQPR6MpETLZnLXSz6Myrl9dLcd4McpOb1pmLG/W03u1uLC0t9bq9drNpbUQwaVqrJclg0HvkiW9998kHRNVYAzIu2mHu/uNk57EiG0Rxeuc7D9z203fcfc/7v/Xth5aXl+uN5kTIMe08LECkQaMGFRs0FuTr7GjCqLFjYee+hcU9+9qdmbPnLi5vDEBYOn365dMvLq/2PvIbH5mfX+j3+3v37Y3jmonrp15Zcs7V0xqZqN7glatXn//hy812h0W9K5ZevpTON1s7ZxfDGtqxkUJVQUxsVKokU+Wt10vu0xxBBOd8nhVlWQaRq1dXNjeHWd46ePT47tnaV7756PMvnrrrJzuDUXZt+cr6018xxn7g9hOzB2/74bPPnD1/SYmXL579xoMP33bzsRNvuyXPR432Mc0HcW/1LfX4jls7K30/LMpo/SU7jES1sqIdc7KtD39NJNIsDUx/dOnkhauGdthkdn+9nkbs8ytX+nvnOij6qxfPrK9fk9nZpSv5cHOtvXCwPdN/+IGvraxvwiZaDm47us+G4emTP5jfc8D5UqBqbOnFD7Og1tjE7zgW6vUqqdI0y1cFtppETTwGWGmkoFmLdrKL/NBEiXMuIpNENvQHIb9UejmYJv0zZ146/UgSm6HhyCYdQ3rt5eXVU0drya0HrRcXtObKgTGcxknQJC8Ka0itybKSAcNGrGFjQYZ4rKgWU9UWH2oL+dztjd631FpSp1ACJARjonrS5ChOQyCCqJB3cWRrqWFmtJq1yIbgmDgrfelyNoaN8T5EkU3ixItaw5ZZRLz3SWzraeqBxEYs3hccDDFPlQeA8rYCnkjDxh1/olFEZaFslIyQAZGIeO+89845EQcVAUTEOe+CqIhzZRAJIkSgSpBUQRAJzvsgIiI+VC01BdGy9N4H73wQCQoRnZCDSYKgSc/DzH6Y73zH1Z/7J9/aT4UzrmQfjBZa1TA61vlpwazQCvRWaBOIlBhKIiI0bscwvkfHYaSqqggSvITSuzwvVHW7Ktttb8QAMqbsjw7cd/5Dt4dTX/NXn9/c7F0bai0MPKyVUNWf1fuMMRYRqUoaVSFi4la9FkV2lBfeiagy1Aep6hElSFU+qIQgQcSLLwrKsiyM/9v2MnDaLRGBjSn7Pm7p8V99iHv/+gzS4ZV7i3/fXe85SURKFaMaQlADJoZalHnBYqp6VxRiTAjinS8LZ0jZGC+iQcUyVAvnABIJAsryQr3LcwJBVVW2Mrndzn81hEwr0h9cyl8Z8S8eLf/i/sUXig99rPHfiFMmUmNAAHFujGFyzJognzqFqjAXhpCQ1iWbVp1Qz6SKIAKFU/USSi2FisI7cs57p6qTAmnLiFudhig1Iv7K2fDKuvvUXdGXTpU/PNXJavvriXdCgce1sjFcvfEzRJVf8BRc5duGquZ+7I0KAKqVsVRUORLT0GbDS1r33quOX4tOjUgARCmyxIqRgxMcbNr7n938uxTdnhyK1pNGdOFalo2GRVF470MIqiJj2isD6vWsT17t0QQmExOzYWtsFMe1Wq3dbs/Pzx8+tmdxcXdkE4UQmS22VBEbtGI5u6l5iYMLlCt+/eb06aXaFx7Pjjfyj94X4BdKjYZpkud5WZbOuRCqwJdxHEzQjd87ytaby6rVMMzG2sjaJEnSNG02mzMzM/Pz8+12u1ZLo8hSFe8VWwpKLHoj87EH29+8uLmH3ZGO/asPN2bb9u8/3Fm/N2ZKuoN4vVuv1ZvD4XA0GuV5XhSFc857772XyZjCUtU0TVrNljFsjAWBiav+yFprjI3iKLI2jhOozszMNJvNOI6nDQsAaxmZ08884+6+ae5t+8uvPd3/8hN1y/7TvznXK7nRqRdl3OQkTmp5p5NlWZ7nWZaVZbkdWQghhDClDcDRI4cXFxcHg0G322VmjHsiDiGkadrv9+M4DiH0et1Lly7u3r2bma+D1Yz5v5aKLz83eM/7GwsIj19L+IC9/1S2slF2Oqn3ksRRHNmQpo1GwzlXWbAafjK2w2LmPM+SJDlw4GBRFr1ej4gWFnaWZVnk+XA0bDVbbEwFgNk8+8yPRCSKou0+YA3RUtevF7qyGX5qV/I3P0t/+vXCkmzrTBmAMSaKoiRJKntVOKqT64yoSkQhhPPnzz3y8HeYOUggoqXTp0PwRenq9Vqn0+l2u2VZRjYSkQMHf6JWS4P3lW9NXJ4wG5sDs/zQye6ZjU73WibX8O7bZc9C2s3UTFidgpt6z2vHWCzYsrE7FnZtbGxAlSeRzsYylNiohvnFfYZNkJAmyd69ewWMKIYKqR8n+rNnz5LSr/1b97GXHdhjQ94+l/3j7+/fvbPhvPCb+OQ0bnQBmMj0z3O+rmxtyEycAqrJDExkxJHbJAlIWkjaVG5ChWyiJvWjrkYp5z3ETZk5DGMJoFfPnrVM3skXHzy71Ju5ZT584O7ZhZlkmIvhH4vm9SGy4bLPeRdsQAYAZ6sRa5i92QePcgQTUyiUDYcCZCAlpR3WADJcbGjURHNxnPvOnTunIKNuLl9yO29XCVmppdftmN7U97PxVSa2CrAGre1InvjE8guPlnd/bOfCfKtZCz6gtTi9D0SuLIIIE4EMICR+65sPEaliPSM3ENLARDfw9ONsdx248VEgJQFQkRCam6ce+dHjT1z6zw+974RlidL61bw+yrL5uTkbxXk2OnTkSKfTCUGY3Fa5MNVEAixDDUgI/5ex3sx3TRBxyEd3/tkdeSte+OBKWUY2CZlvpFFRloPhsCy7ZVHs2r1ndnZOxN2w6f8CS70UXGCH6E8AAAAASUVORK5CYII=","mime":"image/png","urlprefix":"data:image/png;base64,"}},"extra":{"account":58,"atoken":"F4zUiTGobw2vmvbbikiZwG3Y","cwhost":"https://app.bee360.com.br","identifier":"ayxpekFBGgLHA7x2MzjzfpMA","inbox":351,"pat":false,"qphost":"https://qps.bee360.com.br","qptoken":"ayxpekFBGgLHA7x2MzjzfpMA","singlethread":true,"soc":true,"utoken":"e3nLN2WM3nsUbeM31BudDvit"}},"webhookUrl":"https://fluxo.webhook.bee360.com.br/webhook/to-chatwoot","executionMode":"production"}}],"Postgres7":[{"json":{"id":6755317,"content":"Opa","account_id":1,"inbox_id":15,"conversation_id":130729,"message_type":1,"created_at":"2025-01-31T21:37:32.895Z","updated_at":"2025-01-31T21:37:32.895Z","private":false,"status":0,"source_id":"3A0DFD24674DD6C3477C","content_type":0,"content_attributes":"{\"external_created_at\":1738348594.6,\"items\":{\"quepasa\":{\"msgid\":\"3A0DFD24674DD6C3477C\"}}}","sender_type":"AgentBot","sender_id":"1","external_source_ids":null,"additional_attributes":{},"processed_message_content":"Opa","sentiment":{}}}]},"versionId":"656902e3-ad35-4b5e-9f52-1cf5505d62d7","triggerCount":1,"tags":[{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"}]}