quepasatochatwoot-zOqQmUdRIFpYEbhg.json
{"createdAt":"2024-03-09T14:48:21.992Z","updatedAt":"2024-10-01T03:18:46.711Z","id":"zOqQmUdRIFpYEbhg","name":"QuepasaToChatwoot","active":true,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{$json.conversation.status}}","operation":"notEqual","value2":"open"}]}},"name":"Open ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1300,1020],"id":"4e77e693-2972-4fde-9cab-0bc04f89f4f4"},{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"status","value":"open"},{"name":"inbox_id","value":"={{$json[\"extra\"][\"inbox\"]}}"},{"name":"contact_id","value":"={{$json.chat.chatwoot.id}}"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json[\"extra\"][\"atoken\"]}}"}]}},"name":"Create a Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[440,800],"id":"8080d6c2-55b1-4fb9-8f55-2feb1df6efd5","retryOnFail":true,"notes":"Important to use \"source_id\" to respond messages"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"conversation.id","value":"={{$json.id}}"},{"name":"conversation.status","value":"={{$json.status}}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[680,800],"id":"a540a4f1-e86b-46d5-875d-5eede8be16c3"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"chat\"][\"id\"].contains(\"@broadcast\") ?? true}}","operation":"notEqual","value2":true}]}},"name":"Not Broadcast ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-4160,940],"id":"ee81071d-2b57-4174-af46-f331e6f4a4e7"},{"parameters":{"mode":"multiplex"},"name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":1,"position":[-1660,1340],"id":"5a53ae1f-4676-499d-a5b1-8d01f8dc37be"},{"parameters":{"httpMethod":"POST","path":"to-chatwoot","options":{}},"id":"388832f1-2a08-4be8-a23c-ecd96d1f9cf5","name":"Webhook Chatwoot","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-4560,920],"webhookId":"f0d0e1da-e8cf-4956-8715-dccf5fe3c892"},{"parameters":{"respondWith":"noData","options":{}},"id":"e09ac4e5-00c7-4ca8-a0f8-bf3532afd0a2","name":"Broadcast Message","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-3940,1120]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.conversation?.id}}","operation":"isEmpty"}]}},"name":"Should Create a New Conversation Thread ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-100,1000],"alwaysOutputData":false,"id":"ef600a20-7265-4049-8c40-4274e988531a"},{"parameters":{"content":"## Follow to Chatwoot","height":262.50469912086913,"width":251.48817318430855},"id":"6060a5da-325e-41c8-9ab6-3f4434629e81","name":"Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4440,840]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.fromme == true}}"}]}},"id":"49499e9b-2da9-486c-accd-20a4e783bcfe","name":"Should Send Greetings ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[460,460]},{"parameters":{"workflowId":"WS22W6W6qrgZuCss","options":{}},"id":"3ba33865-912b-427c-94db-6bc60daee46d","name":"Throw To Greetings Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[920,460],"continueOnFail":true},{"parameters":{"mode":"chooseBranch"},"id":"8e7eaccf-e80d-4ac1-a1b0-ca57796fb7a7","name":"Wait For Create a Conversation","type":"n8n-nodes-base.merge","typeVersion":2,"position":[700,460]},{"parameters":{"workflowId":"Kx5Fgmi9FDnDUNRR","options":{}},"id":"65e4f60d-da06-4949-9f8f-518c63e76070","name":"Throw To Quepasa Chat Control Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[5340,600],"continueOnFail":true},{"parameters":{"content":"## Getting and Filtering Conversations\n","height":616.1278921539156,"width":2110.852343765206},"id":"3ad18606-2c2b-4bdf-96e2-d3c1772a6e35","name":"Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2540,1200]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"cwhost","value":"={{$json[\"extra\"][\"cwhost\"]}}"},{"name":"account","value":"={{$json[\"extra\"][\"account\"]}}"},{"name":"inbox","value":"={{$json[\"extra\"][\"inbox\"]}}"},{"name":"utoken","value":"={{$json[\"extra\"][\"utoken\"]}}"},{"name":"chatid","value":"={{$json.chat.id}}"},{"name":"contactid","value":"={{$json.chat.chatwoot.id}}"}]},"options":{}},"id":"06be53be-29e9-4e70-ac5d-22e055b0e63b","name":"Set Filter Conversation Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[-2440,1320]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"0cde069d-6bf8-45fd-9f14-398c5ee3f0fd","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[-300,1000]},{"parameters":{},"id":"80d4ea65-4216-475d-8767-fdf10c0df839","name":"NoOp - Opening Conversation1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[200,800]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"b3427353-2131-4220-9f53-3e2fefc1f7a9","name":"Wait For Create a Conversation1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[940,960]},{"parameters":{},"id":"ab805832-cade-4203-90c7-c4cc7d2c43d0","name":"NoOp - Opening Conversation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2140,1040]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"4f9b974f-b5ff-45d5-902e-eea110b644db","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1900,980]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"conversation.status","value":"={{$json.payload.current_status}}"}]},"options":{}},"name":"Set Updated Conversation Status","type":"n8n-nodes-base.set","typeVersion":1,"position":[1740,800],"id":"659f6c77-41a2-4fea-bb20-efcad5adb58f"},{"parameters":{"values":{"string":[{"name":"payload.content_type","value":"text"},{"name":"payload.event","value":"={{ $('Webhook Chatwoot').item.json.body.type }}"},{"name":"payload.edited","value":"={{ $('Webhook Chatwoot').item.json.body.edited || false}}"}]},"options":{}},"name":"Payload Constants","type":"n8n-nodes-base.set","typeVersion":1,"position":[4780,920],"id":"2a23c0d9-31fa-41b1-9b4d-5a9b22f356a4"},{"parameters":{"workflowId":"6LkM6LIxLBsM7OMt","options":{}},"id":"fe4e0f8b-e1ec-480c-91a9-de456a4de9f1","name":"Execute Workflow Post To Chatwoot","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[5340,940],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"## Call Request ?","height":354.0653279804751,"width":237.27247076935066},"id":"fdc9973a-dd73-4ec6-a068-7a79ef428f1d","name":"Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2360,920]},{"parameters":{"conditions":{"number":[{"value1":"={{$json.type}}","operation":"equal","value2":8}]}},"id":"e7a97fd3-30c2-4fc4-831d-cbcc08de98e3","name":"If Call Request ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2420,1040]},{"parameters":{"values":{"string":[{"name":"text","value":"## (Sistema) O Usuário requisitou uma chamada de voz !\n----------------------------------------------------"}],"boolean":[{"name":"payload.private","value":true}]},"options":{}},"id":"4742c4d1-798f-4cee-8eb9-78cbe3a76f4f","name":"Set Text Content For Call Request","type":"n8n-nodes-base.set","typeVersion":1,"position":[2700,900]},{"parameters":{"workflowId":"FSbotEb2oMoORnPa","options":{}},"id":"bbdccc13-b653-49c8-8243-7a0eaf291bea","name":"Throw To WebCallBack Telephony Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2980,700],"executeOnce":true,"continueOnFail":true},{"parameters":{"values":{"number":[{"name":"attempts","value":"={{ ($json.attempts ?? 0) + 1 }}"}]},"options":{}},"id":"bc2f2efe-4304-4d0a-b6eb-6355433b89b8","name":"Set Increment For Conversations Attempts","type":"n8n-nodes-base.set","typeVersion":1,"position":[-1140,1500]},{"parameters":{"amount":"={{ (Math.random() * 5) + 1 }}","unit":"seconds"},"id":"17687dc6-6106-4b22-9881-d1e1e588c6c2","name":"Wait a while (5s) For Conversation","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-780,1580],"webhookId":"13d982e4-e253-4616-9e0a-3da472be5e56"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"conversation.id","value":"={{$json.payload?.id}}"},{"name":"conversation.status","value":"={{$json.payload?.status}}"}]},"options":{}},"id":"6a868964-fac0-4fd0-bbea-75aeee7ed9f1","name":"Set Conversation Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[-620,1320]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"payload.content","value":"={{$json.text}}"},{"name":"payload.message_type","value":"={{$json.fromme?\"outgoing\":\"incoming\"}}"},{"name":"payload.source_id","value":"={{$json.id}}"},{"name":"payload.content_attributes.items.quepasa.msgid","value":"={{ $json.id }}"},{"name":"payload.content_attributes.in_reply_to","value":"={{ $json.inreply ? +$json.inreply : undefined }}"},{"name":"attachment","value":"={{$json.attachment}}"},{"name":"chatid","value":"={{$json.chat.id}}"},{"name":"conversation","value":"={{$json.conversation}}"},{"name":"extra","value":"={{$json.extra}}"},{"name":"hex","value":"={{$json.chat.chatwoot.source_id}}"},{"name":"synopsis","value":"={{$json.synopsis}}"},{"name":"participant.title","value":"={{$json.participant?.title}}"},{"name":"payload.external_created_at","value":"={{ new Date($json.timestamp).getTime() / 1000 }}"}],"boolean":[{"name":"payload.private","value":"={{ $json.payload?.private ?? false }}"}]},"options":{}},"name":"Chatwoot Message Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[4520,920],"id":"1d302060-39b3-4e56-8592-372af4f1c6d3"},{"parameters":{"operation":"executeQuery","query":"=SELECT \n display_id, \n status\nFROM conversations \nWHERE \n\taccount_id = '{{ $json.account }}' \n\tAND inbox_id = '{{ $json.inbox }}'\n\tAND contact_id = '{{ $json.contactid }}'\nORDER BY id DESC\nLIMIT 1","additionalFields":{}},"id":"7a672ea9-9f2e-42ad-870e-52443e4f7f24","name":"Get Last Conversation","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-2020,1420],"retryOnFail":false,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"continueOnFail":true},{"parameters":{"jsCode":"const validStatus = [\"open\", \"resolved\", \"pending\", \"snoozed\"];\n\nreturn [{\n  payload: {\n    id: $input.first().json.display_id,\n    status: validStatus[$input.first().json.status]\n  }\n}];"},"id":"9cb96db3-ba26-4bbd-b842-3d2c2bb7a17e","name":"Rename Status Enum","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1840,1420]},{"parameters":{"conditions":{"boolean":[{"value1":true,"value2":true}]}},"id":"4e8865bf-5e1b-46e2-879a-d3a19d05a475","name":"If Single Thread ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1500,1340]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.attempts ?? 0 }}","operation":"larger","value2":2}]}},"id":"332f85f4-5e62-488f-a69c-04582181ab25","name":"Max Attempts Reached ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-960,1500]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.payload?.status }}","operation":"notEqual","value2":"resolved"}]},"combineOperation":"any"},"id":"1a1bf97b-3357-409b-aa6b-840bdc56f753","name":"If Not Resolved Conversation Found ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1320,1420]},{"parameters":{},"id":"dd3e4a94-045e-4094-8e5f-80fffc342aef","name":"#region retries for conversation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2200,1320]},{"parameters":{},"id":"790425f7-0246-4450-976e-bf12f00a6d2e","name":"first found","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1140,1320]},{"parameters":{"keepOnlySet":true,"options":{}},"id":"9870ad8b-ee4a-485e-903e-5b2de9026c93","name":"CleanUp Invalid Status","type":"n8n-nodes-base.set","typeVersion":1,"position":[-780,1420]},{"parameters":{"content":"## (1.0.4) Updates\n* Adjustments to revoke\n\n## (1.0.3) Updates\n* Adjustments to revoke and edit messages\n\n## Recommendations \n* Remember set timeout to 30 seconds","height":288.02784606114983,"width":398.97654103837476},"id":"963acb90-ad12-412a-a64a-52e37ad0cd9f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4380,600]},{"parameters":{"workflowId":"K1z0iQNtjmiFi0mM","options":{}},"id":"beae8df3-8298-4937-8380-24c48adb71bd","name":"Throw Get Chatwoot Contacts Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-3180,983.2107318854523],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.payload.content ?? '' }}","operation":"startsWith","value2":"/invite"},{"value1":"={{ $json.payload.content ?? '' }}","operation":"startsWith","value2":"//"}]},"combineOperation":"any"},"id":"6ad2c8ae-2b27-4190-8ed9-9850e36c6027","name":"If Chat Command","type":"n8n-nodes-base.if","typeVersion":1,"position":[5020,920]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply }}","operation":"isEmpty"}]}},"id":"187c95b9-1541-474a-b5fe-aa6bfd1569d4","name":"If Not In Reply","type":"n8n-nodes-base.if","typeVersion":1,"position":[2680,1200]},{"parameters":{},"id":"fe24a520-124d-45ec-985f-3c97f6a00598","name":"Follow to Chatwoot","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3980,920]},{"parameters":{"operation":"executeQuery","query":"=\nSELECT id AS inreply_internal_id\nFROM messages \nWHERE source_id = '{{ $json.inreply }}'\nLIMIT 1","options":{}},"id":"51c40899-4113-4549-b487-53a8ab7e842a","name":"Get In Reply Reference Id","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[3080,1440],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"a11cb58f-1d96-4567-9be3-73efd04fd077","name":"Merging Found Id","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3320,1240]},{"parameters":{"values":{"string":[{"name":"inreply","value":"={{ $json.inreply_internal_id }}"},{"name":"synopsis","value":"={{ undefined }}"}]},"options":{}},"id":"dbc86658-f6cb-446d-9a38-a90deae97e05","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[3700,1260]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply }}","operation":"contains","value2":"-"}]}},"id":"02b0c207-82a4-4807-be5a-f6e21e20e2a3","name":"If Has Hiffen","type":"n8n-nodes-base.if","typeVersion":1,"position":[2880,1320]},{"parameters":{"values":{"string":[{"name":"inreply_internal_id","value":"={{ $json.inreply.split(/-/).pop() }}"}]},"options":{}},"id":"35726888-5598-4e40-a474-0d3693204c3c","name":"Set Internal Id","type":"n8n-nodes-base.set","typeVersion":2,"position":[3080,1300]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply_internal_id }}","operation":"isEmpty"}]}},"id":"c12e24c2-5a0e-4985-8f0c-0bdd68840d7a","name":"If Not Found","type":"n8n-nodes-base.if","typeVersion":1,"position":[3500,1240]},{"parameters":{"workflowId":"Kx5Fgmi9FDnDUNRR","options":{}},"id":"ec1d67d1-4bb5-4333-bb12-050f81ed5097","name":"Throw To Quepasa Chat Control Workflow1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-3180,783.2107318854523],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.chat.id }}","value2":"system"}]}},"id":"3468e5c3-a8cd-41b3-87b0-e9b1f57dec50","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-3380,903.2107318854523]},{"parameters":{},"id":"e335e904-7d2d-4c20-b8bc-bd9179e71ea6","name":"New Payload","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3000,983.2107318854523]},{"parameters":{},"id":"d5e231d8-035a-48f4-9a40-b4ab005593d8","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,1020]},{"parameters":{},"id":"98d0befe-ab87-4e0c-ab0c-cbc9a8e2a45d","name":"(In) Revoked Message","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2360,2300]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"revoked","value":"={{ $json }}"}]},"options":{}},"id":"c75da8fe-dc14-499e-ad1a-d586ab98c483","name":"Set Retrieved Chatwoot Revoked Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1540,2100]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"d58814d8-351b-4324-a972-be834d44578b","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1220,2280]},{"parameters":{"requestMethod":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.revoked.account_id }}/conversations/{{ $json.revoked.conversation_id }}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\n   \"private\": false,\n   \"content\": \"{{ $env['C8Q_MSGFOR_REVOKED_CONTENT'] ?? '\\u274C Essa mensagem foi apagada !!!' }}\",\n   \"message_type\": 2,\n   \"content_attributes\": {      \n      \"in_reply_to\": {{ +$json.revoked.id }},\n      \"in_reply_to_external_id\": \"{{ $json.body.id }}\"\n   },\n   \"content_type\": \"text\"\n}","headerParametersJson":"={ \"api_access_token\": \"{{ $json.body.extra.atoken }}\" }"},"name":"Send Revoked Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-1000,2280],"id":"7378460a-5c42-4542-971d-07e97844cd87","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"content":"## Message Revoked From Source\n\n","height":511.52099560219085,"width":1735.9412743995279},"id":"b8a60f24-faa1-489e-9e3d-e8e1fe819cc8","name":"Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2540,1940]},{"parameters":{"operation":"executeQuery","query":"SELECT messages.account_id, conversations.display_id as conversation_id, messages.id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.body.extra.account }}' AND messages.source_id = '{{ $json.body.id }}';","options":{}},"id":"1e88ab52-6a2d-494d-bcbc-e6c87132df51","name":"Get Revoked Message Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-1760,2220],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"string":[{"value1":"={{  $json.body.id }}","operation":"contains","value2":"-"}]}},"id":"c52df93b-1928-42a7-9d28-3ab6e4e07b32","name":"If Sended By Chatwoot","type":"n8n-nodes-base.if","typeVersion":1,"position":[-2160,2200]},{"parameters":{"operation":"executeQuery","query":"SELECT messages.account_id, conversations.display_id as conversation_id, messages.id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.body.extra.account }}' AND messages.id = '{{ $json.internalid }}';","options":{}},"id":"8c7384cd-4e37-419f-90b9-200c601d5164","name":"Get Revoked Internal Message Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-1760,1980],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function isNumeric(str) {\n  if (typeof str != \"string\") return false;\n  return !isNaN(str) && !isNaN(parseFloat(str));\n}\nconst splitted = $input.item.json.body.id.split(/-/);\nlet internalid = splitted.pop();\nif (!isNumeric(internalid)){\n  internalid = splitted[2];\n}\n\n$input.item.json.internalid = internalid;\nreturn $input.item;"},"id":"29c94129-db76-4428-b7fc-91e51774ef21","name":"Get Internal Id","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1960,2080]},{"parameters":{"values":{"string":[{"name":"extra.cwhost","value":"={{ $json.extra.cwhost ?? \"http://127.0.0.1:3000\" }}"}]},"options":{}},"id":"d42abe65-83a1-49ee-8038-acce895c1822","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[-3740,920]},{"parameters":{"values":{"string":[{"name":"extra","value":"={{ $json.extra ?? $json.body.extra }}"}]},"options":{}},"id":"545a296d-042a-465a-abc9-992e12d98c8e","name":"Extra","type":"n8n-nodes-base.set","typeVersion":2,"position":[-3900,920]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.body.type }}","operation":"notEqual","value2":10}],"string":[{"value1":"={{ $json.body.type }}","operation":"notEqual","value2":"revoke"}]}},"id":"f8740521-9633-4a7f-b42b-24eea943c9d2","name":"If Not Revoked ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-3580,920]},{"parameters":{"conditions":{"boolean":[{"value1":"={{!!$json[\"body\"][\"trackid\"]}}","value2":true}]}},"name":"have trackid?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-4360,920],"alwaysOutputData":false,"id":"0b149440-3792-4b45-8b8b-f2730241b53d"},{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations/{{$json[\"conversation\"][\"id\"]}}/toggle_status","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"status","value":"open"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json[\"extra\"][\"atoken\"]}}"}]}},"name":"Open a Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1560,800],"id":"c740e940-3126-4ec9-9c82-09b7d43615d5","retryOnFail":false}],"connections":{"Open ?":{"main":[[{"node":"Open a Conversation","type":"main","index":0},{"node":"Merge1","type":"main","index":1}],[{"node":"NoOp - Opening Conversation","type":"main","index":0}]]},"Create a Conversation":{"main":[[{"node":"Set","type":"main","index":0},{"node":"Wait For Create a Conversation","type":"main","index":1}]]},"Set":{"main":[[{"node":"Wait For Create a Conversation1","type":"main","index":0}]]},"Not Broadcast ?":{"main":[[{"node":"Extra","type":"main","index":0}],[{"node":"Broadcast Message","type":"main","index":0}]]},"Webhook Chatwoot":{"main":[[{"node":"have trackid?","type":"main","index":0}]]},"Should Send Greetings ?":{"main":[[{"node":"Wait For Create a Conversation","type":"main","index":0}]]},"Wait For Create a Conversation":{"main":[[{"node":"Throw To Greetings Workflow","type":"main","index":0}]]},"Set Filter Conversation Parameters":{"main":[[{"node":"#region retries for conversation","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Should Create a New Conversation Thread ?","type":"main","index":0}]]},"NoOp - Opening Conversation1":{"main":[[{"node":"Create a Conversation","type":"main","index":0},{"node":"Should Send Greetings ?","type":"main","index":0}]]},"Wait For Create a Conversation1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"NoOp - Opening Conversation":{"main":[[{"node":"If Call Request ?","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"NoOp - Opening Conversation","type":"main","index":0}]]},"Set Updated Conversation Status":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Payload Constants":{"main":[[{"node":"If Chat Command","type":"main","index":0}]]},"If Call Request ?":{"main":[[{"node":"Set Text Content For Call Request","type":"main","index":0}],[{"node":"If Not In Reply","type":"main","index":0}]]},"Set Text Content For Call Request":{"main":[[{"node":"Throw To WebCallBack Telephony Workflow","type":"main","index":0},{"node":"Follow to Chatwoot","type":"main","index":0}]]},"Set Increment For Conversations Attempts":{"main":[[{"node":"Max Attempts Reached ?","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"If Single Thread ?","type":"main","index":0}]]},"Chatwoot Message Payload":{"main":[[{"node":"Payload Constants","type":"main","index":0}]]},"Get Last Conversation":{"main":[[{"node":"Rename Status Enum","type":"main","index":0}]]},"Rename Status Enum":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Set Conversation Payload":{"main":[[{"node":"Merge","type":"main","index":1}]]},"If Single Thread ?":{"main":[[{"node":"first found","type":"main","index":0}],[{"node":"If Not Resolved Conversation Found ?","type":"main","index":0}]]},"Should Create a New Conversation Thread ?":{"main":[[{"node":"NoOp - Opening Conversation1","type":"main","index":0},{"node":"Wait For Create a Conversation1","type":"main","index":1}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Wait a while (5s) For Conversation":{"main":[[{"node":"#region retries for conversation","type":"main","index":0}]]},"Max Attempts Reached ?":{"main":[[{"node":"CleanUp Invalid Status","type":"main","index":0}],[{"node":"Wait a while (5s) For Conversation","type":"main","index":0}]]},"If Not Resolved Conversation Found ?":{"main":[[{"node":"first found","type":"main","index":0}],[{"node":"Set Increment For Conversations Attempts","type":"main","index":0}]]},"#region retries for conversation":{"main":[[{"node":"Merge3","type":"main","index":0},{"node":"Get Last Conversation","type":"main","index":0}]]},"first found":{"main":[[{"node":"Set Conversation Payload","type":"main","index":0}]]},"CleanUp Invalid Status":{"main":[[{"node":"Set Conversation Payload","type":"main","index":0}]]},"Throw Get Chatwoot Contacts Workflow":{"main":[[{"node":"New Payload","type":"main","index":0}]]},"If Chat Command":{"main":[[{"node":"Throw To Quepasa Chat Control Workflow","type":"main","index":0}],[{"node":"Execute Workflow Post To Chatwoot","type":"main","index":0}]]},"If Not In Reply":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}],[{"node":"If Has Hiffen","type":"main","index":0},{"node":"Merging Found Id","type":"main","index":0}]]},"Follow to Chatwoot":{"main":[[{"node":"Chatwoot Message Payload","type":"main","index":0}]]},"Get In Reply Reference Id":{"main":[[{"node":"Merging Found Id","type":"main","index":1}]]},"Merging Found Id":{"main":[[{"node":"If Not Found","type":"main","index":0}]]},"If Has Hiffen":{"main":[[{"node":"Set Internal Id","type":"main","index":0}],[{"node":"Get In Reply Reference Id","type":"main","index":0}]]},"Set Internal Id":{"main":[[{"node":"Merging Found Id","type":"main","index":1}]]},"If Not Found":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}],[{"node":"Set1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}]]},"IF":{"main":[[{"node":"Throw To Quepasa Chat Control Workflow1","type":"main","index":0}],[{"node":"Throw Get Chatwoot Contacts Workflow","type":"main","index":0}]]},"New Payload":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Set Filter Conversation Parameters","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Open ?","type":"main","index":0}]]},"(In) Revoked Message":{"main":[[{"node":"Merge2","type":"main","index":1},{"node":"If Sended By Chatwoot","type":"main","index":0}]]},"Set Retrieved Chatwoot Revoked Info":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Send Revoked Message","type":"main","index":0}]]},"Get Revoked Message Info":{"main":[[{"node":"Set Retrieved Chatwoot Revoked Info","type":"main","index":0}]]},"If Sended By Chatwoot":{"main":[[{"node":"Get Internal Id","type":"main","index":0}],[{"node":"Get Revoked Message Info","type":"main","index":0}]]},"Get Revoked Internal Message Info":{"main":[[{"node":"Set Retrieved Chatwoot Revoked Info","type":"main","index":0}]]},"Get Internal Id":{"main":[[{"node":"Get Revoked Internal Message Info","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"If Not Revoked ?","type":"main","index":0}]]},"Extra":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"If Not Revoked ?":{"main":[[{"node":"IF","type":"main","index":0}],[{"node":"(In) Revoked Message","type":"main","index":0}]]},"have trackid?":{"main":[[],[{"node":"Not Broadcast ?","type":"main","index":0}]]},"Open a Conversation":{"main":[[{"node":"Set Updated Conversation Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Chatwoot":[{"json":{"headers":{"host":"127.0.0.1:5678","user-agent":"Quepasa","content-length":"465","content-type":"application/json","x-quepasa-wid":"553597567586:41@s.whatsapp.net","accept-encoding":"gzip"},"params":{},"query":{},"body":{"id":"3EB004DCE5AD409C1B1DF0","timestamp":"2024-01-27T10:21:36-03:00","type":9,"chat":{"id":"system","title":"Internal System Message"},"text":"401: logged out from another device","fromme":false,"frominternal":false,"extra":{"account":1,"atoken":"e7d95901c1c32094a01d838","cwhost":"http://127.0.0.1:3000","identifier":"WRzeHuuuCVbTA99kLWzUqms4","inbox":1,"qphost":"http://127.0.0.1:31000","qptoken":"WRzeHuuuCVbTA99kLWzUqms4","utoken":"sAgLXqoCrq7aB34JdQTZbm4W"}}}}]},"versionId":"9dd21e55-8b69-4ecc-998b-6afc68f6507d","triggerCount":1,"tags":[{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"}]}