quepasaqrcode-Z57h0V8Mh9mcIyfl.json
{"createdAt":"2024-03-09T14:50:05.488Z","updatedAt":"2024-04-04T09:27:34.446Z","id":"Z57h0V8Mh9mcIyfl","name":"QuepasaQrcode","active":true,"nodes":[{"parameters":{"values":{"string":[{"name":"URL FORMADA","value":"={{ $node[\"Colocando Dados\"].json[\"URL N8N\"] }}/webhook/from-chatwoot?qphost={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}&identifier={{ $node[\"Informa Identifier\"].json[\"identifier\"] }}&cwhost={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}&cwpublic={{ $node[\"Colocando Dados\"].json[\"CHATWOOT URL WITH PUBLIC DOMAIN\"] }}&utoken={{ $node[\"Informa UToken\"].json[\"utoken\"] }}&atoken={{ $node[\"Garante AToken\"].json[\"atoken\"] }}"}]},"options":{}},"id":"078d8b5e-1a23-451e-8904-29ca08479774","name":"Formação da URL","type":"n8n-nodes-base.set","typeVersion":1,"position":[1340,1180],"retryOnFail":false,"continueOnFail":true},{"parameters":{"url":"=http://quepasa:31000/scan","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-QUEPASA-TOKEN","value":"={{ $node[\"TokenGenerate\"].json.qptoken }}"}]},"options":{}},"id":"a4a88122-d483-4d13-8ff5-6b98a8e80df6","name":"Cria o QrCode","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1480,1280]},{"parameters":{"requestMethod":"POST","url":"={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{  $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{"bodyContentType":"multipart-form-data"},"sendBinaryData":true,"binaryPropertyName":"attachments[]:data","headerParametersJson":"={ \"api_access_token\": \"{{ $node[\"Informa UToken\"].json[\"utoken\"] }}\" }","queryParametersJson":"{ \"message_type\": \"incoming\" }"},"name":"Envia QRCode No Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1680,1280],"id":"3aa2fd4b-cb17-4f45-8852-6f98cc3ef5e2"},{"parameters":{"operation":"executeQuery","query":"=UPDATE \"public\".\"channel_api\" SET \"webhook_url\"='{{ $node[\"Formação da URL\"].json[\"URL FORMADA\"] }}' WHERE \"id\"='{{ $node[\"Informa Identifier\"].json[\"channel_id\"] }}';","additionalFields":{}},"id":"3f7453d7-86d1-416e-8888-5e585ecc3195","name":"Atualiza Webhook","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[3340,1040],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT \"public\".\"channel_api\".\"identifier\", \"public\".\"inboxes\".\"channel_id\" FROM \"public\".\"channel_api\" INNER JOIN \"public\".\"inboxes\" ON \"public\".\"channel_api\".\"id\" = \"public\".\"inboxes\".\"channel_id\" WHERE \"public\".\"channel_api\".\"account_id\"='{{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }}' AND \"public\".\"inboxes\".\"id\" = '{{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}';","additionalFields":{}},"id":"173c3bba-5884-4d9e-84d4-63e3ab142b98","name":"Informa Identifier","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[960,1180],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status }}","value2":"getting without filter"}]}},"id":"64674d65-94eb-4598-aafa-0174a30899c8","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[3980,1040]},{"parameters":{"method":"POST","url":"={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=✅ Qrcode escaneado com sucesso!\n\n✅ Sistema Pronto para Usar\n"},{"name":"message_type","value":"incoming"},{"name":"private","value":"true"}]},"options":{}},"id":"8b37f5ba-fabe-43e6-9695-c0b9c868049a","name":"Envia Mensagem De Conectado","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[4260,920]},{"parameters":{"method":"POST","url":"={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=✅ Qrcode gerado com sucesso!\n\n✅ Digitalize este código QR nos próximos 20 segundos:"},{"name":"message_type","value":"incoming"},{"name":"private","value":"true"}]},"options":{}},"id":"4a3a147b-8a22-4f51-8beb-347db089f319","name":"Qrcode gerado com sucesso!","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1900,1280]},{"parameters":{"baseUrl":"={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}","token":"={{ $node[\"TokenGenerate\"].json.qptoken }}","resource":"webhook"},"id":"08c9c140-6051-4a0e-9cd6-fc4eb0ffa127","name":"Verifica se Conectou","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[3800,1040],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=✅ Qrcode gerado com expirou, por favor \n\n✅ Iniciar novamente, uma nova Caixa de Entrada!\n"},{"name":"message_type","value":"incoming"},{"name":"private","value":"true"}]},"options":{}},"id":"606ffe11-88a2-48a8-b50a-f50fa758ea89","name":"Passou tempo Tente Novamente","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[4260,1200]},{"parameters":{"amount":50,"unit":"seconds"},"id":"e20ff3cd-17b7-4814-99ee-fedc3523579a","name":"Aguarda 30 Segundos para Escanear Qrcode","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2120,1280],"webhookId":"b8706931-81cb-4f18-93e0-0a5d5416734b"},{"parameters":{"url":"={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}/command","sendQuery":true,"queryParameters":{"parameters":[{"name":"action","value":"restart"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-QUEPASA-TOKEN","value":"={{ $node[\"TokenGenerate\"].json.qptoken }}"}]},"options":{}},"id":"da93ad4a-1fcc-4c31-bbad-7e48a3b5718d","name":"Restart Quepasa","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2340,1280],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"continueOnFail":true},{"parameters":{"baseUrl":"={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}","token":"={{ $node[\"TokenGenerate\"].json.qptoken }}","resource":"information"},"id":"5e8283dc-2f6a-47bb-9b58-65137ba69bf2","name":"Quepasa Info","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[2880,1040],"continueOnFail":true},{"parameters":{"baseUrl":"={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}","token":"={{ $node[\"TokenGenerate\"].json.qptoken }}","resource":"webhook","operation":"setup","url":"={{ $node[\"Colocando Dados\"].json[\"URL N8N\"] }}/webhook/to-chatwoot","trackId":"chatwoot","extraAttributes":{"attribute":[{"key":"identifier","value":"={{ $node[\"Informa Identifier\"].json[\"identifier\"] }}"},{"key":"cwhost","value":"={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}"},{"key":"inbox","value":"={{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}"},{"key":"account","value":"={{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }}"},{"key":"utoken","value":"={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"},{"key":"atoken","value":"={{ $node[\"Garante AToken\"].json[\"atoken\"] }}"},{"key":"qphost","value":"={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}"},{"key":"qptoken","value":"={{ $node[\"TokenGenerate\"].json.qptoken }}"}]}},"id":"2b25b04e-dd3b-4c4f-8fdc-344090e87172","name":"Webhook Update","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[3560,1040],"continueOnFail":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]}},"id":"30019d04-7f81-4e76-9e73-537013674760","name":"Success QrCode","type":"n8n-nodes-base.if","typeVersion":1,"position":[2640,1060]},{"parameters":{"method":"POST","url":"={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Informações do servidor:\nToken gerado: {{ $json.server.token }}\nWhatsapp: {{ $json.server.wid }}\n\n\n"},{"name":"message_type","value":"incoming"},{"name":"private","value":"true"}]},"options":{}},"id":"250532d0-33fd-4a96-b305-8ec157d63980","name":"Confirmação Dos Dados","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[3100,1040]},{"parameters":{"method":"POST","url":"={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Tempo para escanear expirou !\nTente novamente digitando /qrcode\n\n"},{"name":"message_type","value":"incoming"},{"name":"private","value":"true"}]},"options":{}},"id":"6923a13d-614c-4e91-b8fa-abe67f0fb523","name":"Qrcode Falhou","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2880,1280]},{"parameters":{"content":"## Coletando Todas informações","height":745.8570330514997,"width":987.347503496542},"id":"67a112ce-27d7-4480-8f91-5799c9cf4648","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,740]},{"parameters":{"content":"##  Envia Qrcode para Chatwoot","height":393.2052267486547,"width":1067.5941583397387},"id":"39a336d9-ecd9-4f4e-ab1e-71172ed1cb77","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1460,1100]},{"parameters":{"content":"## Verifica se esta tudo certo","height":747.3699072394713,"width":2378.190762273796},"id":"4dacbb1d-021c-4865-afe1-b2a0ce106d88","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2540,740]},{"parameters":{"operation":"executeQuery","query":"=SELECT \"access_tokens\".\"token\" AS \"utoken\" FROM \"account_users\" INNER JOIN \"access_tokens\" ON \"access_tokens\".\"owner_id\" = \"account_users\".\"user_id\" WHERE \"account_users\".\"account_id\" = {{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }} AND \"access_tokens\".\"owner_type\" = 'User' AND \"account_users\".\"role\" = 1 ORDER BY \"account_users\".\"id\" LIMIT 1;","additionalFields":{}},"id":"f514adf8-2094-494c-bac9-1104a6af5516","name":"Informa UToken","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[780,1180],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"public\".\"access_tokens\" (\"owner_type\", \"owner_id\", \"token\", \"created_at\", \"updated_at\")\nSELECT 'AgentBot', '{{ $json[\"id\"] }}', SUBSTRING(md5(random()::text),0,24), NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $node[\"Garante AgentBot\"].json[\"id\"] }});\nSELECT \"token\" AS \"atoken\" FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $node[\"Garante AgentBot\"].json[\"id\"] }} LIMIT 1;","additionalFields":{}},"id":"b137569f-da53-4b8e-ad4c-9d7c7ee9a111","name":"Garante AToken","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1200,860],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"agent_bot_inboxes\" (\"inbox_id\", \"agent_bot_id\", \"status\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT {{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}, {{ $node[\"Garante AgentBot\"].json[\"id\"] }}, 0, {{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }}, NOW(), NOW() WHERE NOT EXISTS(SELECT NULL FROM \"agent_bot_inboxes\" WHERE \"inbox_id\" = {{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }} AND \"agent_bot_id\" = {{ $node[\"Garante AgentBot\"].json[\"id\"] }} AND \"account_id\" = {{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }});","additionalFields":{}},"id":"991a4fb8-d236-43e2-9296-4ed3048e27f0","name":"Garante Vinculo AgentBot à Inbox","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[600,1180],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"values":{"string":[{"name":"URL N8N","value":"http://n8nfila_n8n_webhook:5678"},{"name":"URL DO QUEPASA","value":"http://quepasa:31000"},{"name":"URL CHATWOOT","value":"https://app.bee360.com.br"},{"name":"CHATWOOT URL WITH PUBLIC DOMAIN","value":"https://app.bee360.com.br"},{"name":"Seu Email","value":"nathan@bee360.com.br"},{"name":"NUMERO DO INBOX","value":"={{ $json.body.contact_inbox.inbox_id }}"},{"name":"ID DA CONTA","value":"={{ $json.body.messages[0].account_id }}"}]},"options":{}},"id":"1ccc8768-d63d-41b5-be9a-8127999d58d2","name":"Colocando Dados","type":"n8n-nodes-base.set","typeVersion":1,"position":[780,860]},{"parameters":{"httpMethod":"POST","path":"quepasa","options":{}},"id":"7128b647-2d0f-42d8-baf8-a2f986614acd","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[580,860],"webhookId":"e8d38d79-8f79-4bd1-85f8-fce3d8200233"},{"parameters":{"url":"={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}/info ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-QUEPASA-TOKEN","value":"={{ $node[\"TokenGenerate\"].json.qptoken }}"}]},"options":{"redirect":{"redirect":{"followRedirects":true}}}},"id":"2b4ffc4a-aece-4310-b5f4-1dba33f55bad","name":"Verifica INFO","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[4480,920]},{"parameters":{"method":"PATCH","url":"={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}/info","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-QUEPASA-TOKEN","value":"={{ $node[\"TokenGenerate\"].json.qptoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"username","value":"={{ $node[\"Colocando Dados\"].json[\"Seu Email\"] }}"}]},"options":{}},"id":"b193e097-7b28-4fb9-a389-ff3725076275","name":"Ativa no Painel Quepasa","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[4680,920]},{"parameters":{"values":{"string":[{"name":"qptoken","value":"={{ $json.identifier }}"}]},"options":{}},"id":"e0067f86-b2fa-4683-ae66-12d1e8021bf0","name":"TokenGenerate","type":"n8n-nodes-base.set","typeVersion":1,"position":[1160,1180]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"public\".\"agent_bots\" (\"name\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"bee360bot\" }}', {{ $json[\"ID DA CONTA\"] }}, NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = '0' AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"bee360bot\" }}' AND \"account_id\" = {{ $json[\"ID DA CONTA\"] }});\nSELECT \"id\" FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = '0' AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"bee360bot\" }}' AND \"account_id\" = {{ $json[\"ID DA CONTA\"] }} LIMIT 1;","additionalFields":{}},"id":"6a230186-38f0-49c4-897f-f6f16951688b","name":"Garante AgentBot","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1020,860],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"content":"## (1.0.0) Recommendations \n* Remember set timeout to 60 seconds ","height":254.46482037754592,"width":505.65878958512553},"id":"ea663a48-9edb-475c-bc66-b8d41752b354","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]}],"connections":{"Formação da URL":{"main":[[{"node":"Cria o QrCode","type":"main","index":0}]]},"Cria o QrCode":{"main":[[{"node":"Envia QRCode No Chatwoot","type":"main","index":0}]]},"Envia QRCode No Chatwoot":{"main":[[{"node":"Qrcode gerado com sucesso!","type":"main","index":0}]]},"Atualiza Webhook":{"main":[[{"node":"Webhook Update","type":"main","index":0}]]},"Informa Identifier":{"main":[[{"node":"TokenGenerate","type":"main","index":0}]]},"IF":{"main":[[{"node":"Envia Mensagem De Conectado","type":"main","index":0}],[{"node":"Passou tempo Tente Novamente","type":"main","index":0}]]},"Qrcode gerado com sucesso!":{"main":[[{"node":"Aguarda 30 Segundos para Escanear Qrcode","type":"main","index":0}]]},"Verifica se Conectou":{"main":[[{"node":"IF","type":"main","index":0}]]},"Aguarda 30 Segundos para Escanear Qrcode":{"main":[[{"node":"Restart Quepasa","type":"main","index":0}]]},"Restart Quepasa":{"main":[[{"node":"Success QrCode","type":"main","index":0}]]},"Quepasa Info":{"main":[[{"node":"Confirmação Dos Dados","type":"main","index":0}]]},"Webhook Update":{"main":[[{"node":"Verifica se Conectou","type":"main","index":0}]]},"Success QrCode":{"main":[[{"node":"Quepasa Info","type":"main","index":0}],[{"node":"Qrcode Falhou","type":"main","index":0}]]},"Confirmação Dos Dados":{"main":[[{"node":"Atualiza Webhook","type":"main","index":0}]]},"Informa UToken":{"main":[[{"node":"Informa Identifier","type":"main","index":0}]]},"Garante AToken":{"main":[[{"node":"Garante Vinculo AgentBot à Inbox","type":"main","index":0}]]},"Garante Vinculo AgentBot à Inbox":{"main":[[{"node":"Informa UToken","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Colocando Dados","type":"main","index":0}]]},"Verifica INFO":{"main":[[{"node":"Ativa no Painel Quepasa","type":"main","index":0}]]},"Envia Mensagem De Conectado":{"main":[[{"node":"Verifica INFO","type":"main","index":0}]]},"TokenGenerate":{"main":[[{"node":"Formação da URL","type":"main","index":0}]]},"Garante AgentBot":{"main":[[{"node":"Garante AToken","type":"main","index":0}]]},"Colocando Dados":{"main":[[{"node":"Garante AgentBot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5767ed2c-c34e-4b30-81a5-ccd11622f52e","triggerCount":1,"tags":[]}