quepasachatcontrol-Kx5Fgmi9FDnDUNRR.json
{"createdAt":"2024-03-09T17:01:53.097Z","updatedAt":"2024-11-22T03:43:04.360Z","id":"Kx5Fgmi9FDnDUNRR","name":"QuepasaChatControl","active":false,"nodes":[{"parameters":{"dataType":"string","value1":"={{ $json.body?.text ?? $json.payload.content ?? \"\" }}","rules":{"rules":[{"operation":"startsWith","value2":"/invite"},{"operation":"regex","value2":"^\\/api|^\\/\\/","output":3},{"value2":"401: logged out from another device","output":1}]},"fallbackOutput":3},"id":"ac7f5be4-11bb-415d-b1c8-41962f241985","name":"Switch From Chat","type":"n8n-nodes-base.switch","typeVersion":1,"position":[1800,-140]},{"parameters":{"values":{"string":[{"name":"response","value":"=Para convidar alguém, utilize o atalho a seguir: \n{{$json[\"url\"]}}\nCompartilhe com quem deseje que participe deste grupo."}]},"options":{}},"id":"6157ee00-7d50-4174-8927-ee077d24fe06","name":"Set Invite Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[3740,-380]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.chatid??\"\"}}","operation":"endsWith","value2":"@g.us"}]}},"id":"500b9cb2-00a6-469e-92bc-5e6623023143","name":"If Is From Group","type":"n8n-nodes-base.if","typeVersion":1,"position":[2980,-300]},{"parameters":{"baseUrl":"={{$json.qphost}}","token":"={{$json.qptoken}}","method":"sendtext","text":"={{$json[\"response\"]}}","chatid":"={{$json.chatid}}"},"id":"c7758424-5f42-46a0-8808-df5063832578","name":"Quepasa","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[4140,-320]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"chatid","value":"={{ $json.body?.chat?.id ?? $json.payload?.chatid }}"},{"name":"qphost","value":"={{$json.extra.qphost??$json.query.qphost}}"},{"name":"qptoken","value":"={{$json.extra.qptoken ?? $json.extra.identifier}}"}]},"options":{}},"id":"4f306c8f-91db-40b4-abaa-e0cb7d4f2817","name":"Set Parameters From Control Chat","type":"n8n-nodes-base.set","typeVersion":1,"position":[2800,-300]},{"parameters":{"baseUrl":"={{$json.qphost}}","token":"={{$json.qptoken}}","resource":"control","operation":"invite","chatid":"={{$json.chatid}}"},"id":"8867aad9-251d-4a5b-a6c6-12386bc1c86a","name":"Quepasa Get Invite Link","type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[3180,-220],"executeOnce":true,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"cca42d61-b937-4eac-a874-241eca6afd09","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[3380,-300]},{"parameters":{"values":{"string":[{"name":"response","value":"=Não foi possível obter o link do grupo, verifique se este número é um Admin desse grupo!"}]},"options":{}},"id":"72731a37-7040-4cff-acf2-9a1268457bcf","name":"Set Error Response From Quepasa","type":"n8n-nodes-base.set","typeVersion":1,"position":[3740,-220]},{"parameters":{"content":"## (1.0.7)\n* update quepasa node\n\n## Recommendations \n* Remember set timeout to 15 seconds ","height":205.7265251035022,"width":561.5346630524019},"id":"b0af0c57-520e-4e50-ab15-d8de01558b85","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,-400]},{"parameters":{},"id":"a8958096-00b9-41ca-bea7-caa5299d727d","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1540,-140]},{"parameters":{"baseUrl":"={{ $json.extra.cwhost }}","accessToken":"={{ $json.extra.utoken }}","resource":"contact","accountId":"={{ $json.extra.account }}","operation":"contactSearch","contactSearchQuery":"={{ $env['C8Q_QP_CONTACT'] ?? 'control@quepasa.io' }}"},"id":"e4c3d4a4-d2c2-4032-80b6-8a5c19a400c5","name":"Busca Contato","type":"n8n-nodes-chatwoot.chatwoot","typeVersion":1,"position":[2740,180]},{"parameters":{"method":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.extra.account }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=inbox_id","value":"={{ $json.extra.inbox }}"},{"name":"contact_id","value":"={{ $json.payload[0].id }}"},{"name":"status","value":"open"}]},"options":{"allowUnauthorizedCerts":true}},"id":"365a6acc-d5f5-40ac-82c7-c8ad47350b45","name":"New Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3080,220]},{"parameters":{"method":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.extra.account }}/conversations/{{ $json.id }}/toggle_status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"status\": \"open\",\n    \"snoozed_until\": null\n}","options":{}},"id":"1f07c896-1c05-43ed-8672-1388304e4e8f","name":"Open Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3400,240]},{"parameters":{"method":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.extra.account }}/conversations/{{ $json.payload.conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n \"private\": false,\n  \"content\": \"❌ Este número está desconectado do whatsapp e não pode mais receber nem enviar mensagens!\\n Digite /qrcode para conectar\\n{{ $json.body.text }}\",\n \"message_type\": 2,\n \"content_type\": \"text\"\n}","options":{}},"id":"ce193f0c-f141-4632-9d6b-a2e8e67d348f","name":"Send Disconnect Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3740,160]},{"parameters":{"workflowId":"waRNOrsXSutLuYvW","options":{}},"id":"56050ee0-c7f2-4c83-ac9c-0093f1b96b37","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2080,360],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{$json.response}}","operation":"isNotEmpty"}]}},"id":"73a1be41-8a50-4134-8cc5-43f9b882f838","name":"If Reponse Not Empty ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3940,-300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.success}}","value2":true}]}},"id":"1146fffc-515b-42d6-9f10-2ad7e4ff5456","name":"If Success","type":"n8n-nodes-base.if","typeVersion":1,"position":[3540,-300]},{"parameters":{"content":"## Put here your external API workflow","height":268.8339206426964,"width":495.19677943804624},"id":"4bf3d887-5d3d-4f20-9ed8-6c52fa03cbda","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1900,280]},{"parameters":{},"id":"dadca7f8-f20b-4371-9662-130d3007f63d","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2580,-300]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"ddafae10-33db-4d9c-af27-6e4603c891e5","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2920,120]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"cbb1d061-4977-414e-bea0-853f26719239","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3240,140]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"feb650a2-55db-4c18-8e55-e4698677516a","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3540,160]},{"parameters":{},"id":"0dfb78f8-3bf8-4798-a488-d019582e333d","name":"Is Logged Out","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2580,100]}],"connections":{"Switch From Chat":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Is Logged Out","type":"main","index":0}],[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Set Invite Response":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"If Is From Group":{"main":[[{"node":"Quepasa Get Invite Link","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Set Parameters From Control Chat":{"main":[[{"node":"If Is From Group","type":"main","index":0}]]},"Quepasa Get Invite Link":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"If Success","type":"main","index":0}]]},"Set Error Response From Quepasa":{"main":[[{"node":"If Reponse Not Empty ?","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"Switch From Chat","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"New Conversation":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Open Conversation":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"If Reponse Not Empty ?":{"main":[[{"node":"Quepasa","type":"main","index":0}]]},"If Success":{"main":[[{"node":"Set Invite Response","type":"main","index":0}],[{"node":"Set Error Response From Quepasa","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Set Parameters From Control Chat","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"New Conversation","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Open Conversation","type":"main","index":0},{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Send Disconnect Message","type":"main","index":0}]]},"Is Logged Out":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Busca Contato","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"399f859a-ba73-432e-a396-b21b39ad8db9","triggerCount":0,"tags":[{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"},{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T15:16:03.714Z","updatedAt":"2024-03-09T15:16:03.714Z","id":"KOLgvcJBMVVu28zw","name":"quepasa"}]}