quepasaautomatic-mVKeD7nqWl9c4zvL.json
{"createdAt":"2024-03-09T15:16:15.412Z","updatedAt":"2024-03-12T19:58:26.072Z","id":"mVKeD7nqWl9c4zvL","name":"QuepasaAutomatic","active":true,"nodes":[{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"contacts\" (\"name\", \"identifier\", \"account_id\", \"created_at\", \"updated_at\", \"last_activity_at\") VALUES ('{{ $node[\"execdata\"].json.bottitle }}', '{{ $node[\"execdata\"].json.contact }}', {{ $json.account }}, NOW(), NOW(), NOW());","additionalFields":{}},"id":"0bd1257a-21f0-4e59-97dc-6791e7d0055b","name":"Cria o Contato","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[900,660],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"automation_rules\" (\"account_id\", \"name\", \"description\", \"event_name\", \"conditions\", \"actions\", \"created_at\", \"updated_at\", \"active\") VALUES ({{ $json.account }}, '{{ $node[\"execdata\"].json.bottitle }}', '{{ $node[\"execdata\"].json.bottitle }}', 'message_created', '[{\"values\": [\"{{ $node[\"execdata\"].json.contact }}\"], \"attribute_key\": \"identifier\", \"query_operator\": \"and\", \"filter_operator\": \"equal_to\", \"custom_attribute_type\": \"\"}, {\"values\": [\"outgoing\"], \"attribute_key\": \"message_type\", \"query_operator\": \"and\", \"filter_operator\": \"equal_to\", \"custom_attribute_type\": \"\"}, {\"values\": [\"/qrcode\"], \"attribute_key\": \"content\", \"filter_operator\": \"contains\", \"custom_attribute_type\": \"\"}]', '[{\"action_name\": \"send_webhook_event\", \"action_params\": [\"{{ $node[\"execdata\"].json.n8nurl }}/webhook/quepasa\"]}]', NOW(), NOW(), 'true');","additionalFields":{}},"id":"00327f36-1a79-479b-b98e-499c51581cf3","name":"Cria Automação","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[900,460],"alwaysOutputData":false,"notesInFlow":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" LEFT JOIN \"automation_rules\" ON \"accounts\".\"id\" = \"automation_rules\".\"account_id\" AND \"automation_rules\".\"name\" = '{{ $node[\"execdata\"].json.bottitle }}' WHERE \"automation_rules\".\"name\" IS NULL;","additionalFields":{}},"id":"7c865105-a449-4a05-aacb-e3f85a39acf9","name":"Missing Automations","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[460,460],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" LEFT JOIN \"contacts\" ON \"accounts\".\"id\" = \"contacts\".\"account_id\" AND \"contacts\".\"identifier\" = '{{ $node[\"execdata\"].json.contact }}' WHERE \"contacts\".\"identifier\" IS NULL;","additionalFields":{}},"id":"e3c789d7-80fe-45fd-be1a-721126acf345","name":"Missing Quepasa Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[460,660],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipgreetings' AND \"attribute_model\" = 1);","additionalFields":{}},"id":"f71db25a-bf4e-467e-be98-68e3ae139445","name":"Missing Greetings For Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[480,1100],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Greetings', 'skipgreetings', 7, 1, {{ $json.account }}, 'Não utilizar a saudação programada para este contato', '[]', NOW(), NOW());","additionalFields":{}},"id":"3ded65f7-17ab-46e3-9b5d-864371f05886","name":"Insert Skip Greetings Attribute","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[900,1100],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"rule":{"interval":[{}]}},"id":"edf7791e-6684-4063-9e76-0d5fffa0e854","name":"Schedule Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[100,1100]},{"parameters":{"operation":"executeQuery","query":"=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipevaluation' AND \"attribute_model\" = 1);","additionalFields":{}},"id":"1fb3e9b8-36e7-4045-a30a-19244a68544f","name":"Missing Evaluation For Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[480,1300],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Evaluation', 'skipevaluation', 7, 1, {{ $json.account }}, 'Não utilizar sistema de avaliação ou protocolo para este contato !', '[]', NOW(), NOW());","additionalFields":{}},"id":"05623d74-90fe-4460-aafc-48f209829364","name":"Insert Skip Evaluation For Contact Attribute","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[900,1300],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipevaluation' AND \"attribute_model\" = 0);","additionalFields":{}},"id":"bf18e7d7-b8e3-4f99-8726-e9df6858feab","name":"Missing Evaluation For Conversation","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[480,1500],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Evaluation', 'skipevaluation', 7, 0, {{ $json.account }}, 'Não utilizar sistema de avaliação ou protocolo para esta conversa !', '[]', NOW(), NOW());","additionalFields":{}},"id":"9aa48134-7787-45f8-bece-251c04901d91","name":"Insert Skip Evaluation For Conversation Attribute","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[900,1500],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"content":"## (1.0.2) Recommendations \n* Added skip agent title attribute\n","width":395},"id":"52e7841e-ae87-4634-aa22-0855edc7f9e5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,800]},{"parameters":{"values":{"string":[{"name":"n8nurl","value":"http://n8nfila_n8n_webhook:5678"},{"name":"bottitle","value":"={{ $env['C8Q_QP_BOTTITLE'] ?? 'Whatsapp Control' }}"},{"name":"contact","value":"={{ $env['C8Q_QP_CONTACT'] ?? 'control@whatsapp.io' }}"}]},"options":{}},"id":"ce7a3c22-870f-4837-8724-3fce14a5ef74","name":"execdata","type":"n8n-nodes-base.set","typeVersion":2,"position":[160,560]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"e0b2bca3-074e-421c-a4f7-f41cb62fe048","name":"Schedule By 1 Minute","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-60,560]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Agent Title', 'skipagenttitle', 7, 1, {{ $json.account }}, 'Não incluir o titulo do agente antes da mensagem para este contato', '[]', NOW(), NOW());","additionalFields":{}},"id":"f030db1b-34c7-46d6-9229-af3d36549285","name":"Insert Skip Agent Title Attribute","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[900,900],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipagenttitle' AND \"attribute_model\" = 1);","additionalFields":{}},"id":"e9debce6-876c-41d4-bfe7-ced466b3c615","name":"Missing Agent Title For Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[480,900],"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"notes":"Sucesso"},{"parameters":{"options":{}},"id":"5e27e508-8705-4e34-b1d2-796541001b9c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,460]},{"parameters":{"options":{}},"id":"d4b537bd-fd66-47c9-bcd0-9ea055796e43","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,660]},{"parameters":{"options":{}},"id":"207226b0-ba3c-4024-abf5-1d0f8e8d64cc","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,1100]},{"parameters":{"options":{}},"id":"d4075b80-82b6-4585-8f8c-53b19c713a46","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,900]},{"parameters":{"options":{}},"id":"2da63256-99be-4777-a06c-e9a2bd3f4d1b","name":"Loop Over Items4","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,1300]},{"parameters":{"options":{}},"id":"71100dda-25e5-4839-b0a4-3360a0a58020","name":"Loop Over Items5","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,1500]}],"connections":{"Missing Automations":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Missing Quepasa Contact":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Missing Greetings For Contact":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Schedule Daily":{"main":[[{"node":"Missing Greetings For Contact","type":"main","index":0},{"node":"Missing Evaluation For Contact","type":"main","index":0},{"node":"Missing Evaluation For Conversation","type":"main","index":0},{"node":"Missing Agent Title For Contact","type":"main","index":0}]]},"Missing Evaluation For Contact":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Missing Evaluation For Conversation":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"execdata":{"main":[[{"node":"Missing Automations","type":"main","index":0},{"node":"Missing Quepasa Contact","type":"main","index":0}]]},"Schedule By 1 Minute":{"main":[[{"node":"execdata","type":"main","index":0}]]},"Missing Agent Title For Contact":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Cria Automação","type":"main","index":0}]]},"Cria Automação":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Cria o Contato":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Cria o Contato","type":"main","index":0}]]},"Insert Skip Agent Title Attribute":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Insert Skip Greetings Attribute":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Insert Skip Evaluation For Contact Attribute":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Insert Skip Evaluation For Conversation Attribute":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"Insert Skip Evaluation For Conversation Attribute","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Insert Skip Evaluation For Contact Attribute","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Insert Skip Greetings Attribute","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Insert Skip Agent Title Attribute","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Daily":{"recurrencyRules":[]},"node:Schedule By 1 Minute":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eee57003-1315-44dd-a202-f707f63fecca","triggerCount":2,"tags":[{"createdAt":"2024-03-09T15:16:03.714Z","updatedAt":"2024-03-09T15:16:03.714Z","id":"KOLgvcJBMVVu28zw","name":"quepasa"},{"createdAt":"2024-03-09T15:16:03.713Z","updatedAt":"2024-03-09T15:16:03.713Z","id":"5iHMbeKWYn5SizAs","name":"EngajamentoFlow"},{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"}]}