quepasatochatwoot-zOqQmUdRIFpYEbhg.json
{"createdAt":"2024-03-09T14:48:21.992Z","updatedAt":"2025-01-09T20:47:58.373Z","id":"zOqQmUdRIFpYEbhg","name":"QuepasaToChatwoot","active":true,"nodes":[{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"status","value":"open"},{"name":"inbox_id","value":"={{$json[\"extra\"][\"inbox\"]}}"},{"name":"contact_id","value":"={{$json.chat.chatwoot.id}}"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json[\"extra\"][\"utoken\"]}}"}]}},"name":"Create a Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[11080,2980],"id":"48d11108-b8c1-4546-940b-fccb9ddb7d1c","retryOnFail":true,"notes":"Important to use \"source_id\" to respond messages"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"conversation.id","value":"={{$json.id}}"},{"name":"conversation.status","value":"={{$json.status}}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[11280,2980],"id":"1d5b9389-49dd-4efe-8e25-d3093564bfe7"},{"parameters":{"requestMethod":"POST","url":"={{$json[\"extra\"][\"cwhost\"]}}/api/v1/accounts/{{$json[\"extra\"][\"account\"]}}/conversations/{{$json[\"conversation\"][\"id\"]}}/toggle_status","allowUnauthorizedCerts":true,"options":{},"bodyParametersUi":{"parameter":[{"name":"status","value":"open"}]},"headerParametersUi":{"parameter":[{"name":"api_access_token","value":"={{$json[\"extra\"][\"atoken\"]}}"}]}},"name":"Open a Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[12120,3000],"id":"332f3efd-a5cd-435b-9c65-c04e532f6b90"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"chat\"][\"id\"].contains(\"@broadcast\") ?? true}}","operation":"notEqual","value2":true}]}},"name":"Not Broadcast ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6160,3100],"id":"d963d7e6-9d4b-47cf-a66a-9b8826fdce8d"},{"parameters":{"mode":"multiplex"},"name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":1,"position":[8600,3480],"id":"2bac63d3-ae39-4dad-bc47-9201b85808a2"},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"854b96c0-5d83-4d22-80f4-64b8f7fa9ff3","name":"Broadcast Message","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[6340,3240]},{"parameters":{"content":"## Getting and Filtering Conversations\n","height":616.1278921539156,"width":2110.852343765206},"id":"c88b9755-ca3a-483c-a2a3-7e05f25256f1","name":"Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7640,3380]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra","value":"={{$json.extra}}"},{"name":"chatid","value":"={{$json.chat.id}}"},{"name":"contactid","value":"={{$json.chat.chatwoot.id}}"}],"boolean":[{"name":"singlethread","value":"={{ $json.extra.singlethread ?? /^true$/i.test($env[\"C8Q_SINGLETHREAD\"]) ?? false }}"}]},"options":{}},"id":"962fd8dc-dacf-4f94-9fa7-2ef34795fae3","name":"Set Filter Conversation Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[7820,3500]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"f2aca1c9-7abf-414b-b9dd-d9def90993de","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[10180,3176.7892681145477]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"b1a9d0a4-a32c-4d96-91e9-ac7bc09db213","name":"Wait For Create a Conversation1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[11480,3060]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"conversation.status","value":"={{$json.payload.current_status}}"}]},"options":{}},"name":"Set Updated Conversation Status","type":"n8n-nodes-base.set","typeVersion":1,"position":[12300,3000],"id":"6dd71f2a-1d20-41cf-8af6-a75edb382558"},{"parameters":{"values":{"string":[{"name":"payload.content_type","value":"text"}]},"options":{}},"name":"Payload Constants","type":"n8n-nodes-base.set","typeVersion":1,"position":[15240,3100],"id":"b04539fe-1747-4f0c-a8a4-7bea15221d08"},{"parameters":{"workflowId":"=6LkM6LIxLBsM7OMt","options":{}},"id":"7ad70e4e-7fbc-40a9-a1ba-583c728b8e2f","name":"Execute Workflow Post To Chatwoot","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[15440,3100],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"## Call Request ?","height":354,"width":257},"id":"031f3c03-60ca-4c84-a639-38248e9e798a","name":"Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[12980,3020]},{"parameters":{"conditions":{"number":[{"value1":"={{$json.type}}","operation":"equal","value2":8}],"string":[{"value1":"={{$json.type}}","value2":"call"}]},"combineOperation":"any"},"id":"de5f10e3-f93b-4f99-a622-588aed887ac4","name":"If Call Request ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[13060,3220]},{"parameters":{"values":{"string":[{"name":"text","value":"={{ $env['C8Q_MSGFOR_CALL_CONTENT'] ?? '\\u2699 O usuário requisitou uma chamada de voz !' }}\n____________________________________________________\n✉ {{ $json.status ?? $json.message }}"}],"boolean":[{"name":"payload.private","value":true}]},"options":{}},"id":"6dd51fba-bc19-43c3-8b40-e15137225145","name":"Set Text Content For Call Request","type":"n8n-nodes-base.set","typeVersion":1,"position":[13940,3020]},{"parameters":{"workflowId":"=FSbotEb2oMoORnPa","options":{}},"id":"0066c919-231f-4b64-8cb3-f69ff23169e9","name":"Throw To WebCallBack Telephony Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[13520,2940],"executeOnce":true,"continueOnFail":true},{"parameters":{"values":{"number":[{"name":"attempts","value":"={{ ($json.attempts ?? 0) + 1 }}"}]},"options":{}},"id":"a0422714-0c5a-43e5-8f95-01fd55cc215d","name":"Set Increment For Conversations Attempts","type":"n8n-nodes-base.set","typeVersion":1,"position":[9100,3780]},{"parameters":{"amount":"={{ (Math.random() * 5) + 1 }}","unit":"seconds"},"id":"f2f06412-d2a6-458c-9722-57cd011703aa","name":"Wait a while (5s) For Conversation","type":"n8n-nodes-base.wait","typeVersion":1,"position":[9480,3820],"webhookId":"13d982e4-e253-4616-9e0a-3da472be5e56"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"conversation.id","value":"={{$json.payload?.id}}"},{"name":"conversation.status","value":"={{$json.payload?.status}}"}]},"options":{}},"id":"31695901-7ca1-4ab6-a7b7-d6e4c3748ac7","name":"Set Conversation Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[9640,3460]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"payload.content","value":"={{$json.text}}"},{"name":"payload.message_type","value":"={{$json.fromme?\"outgoing\":\"incoming\"}}"},{"name":"payload.source_id","value":"={{$json.id}}"},{"name":"payload.echo_id","value":"={{$json.id}}"},{"name":"payload.content_attributes.items.quepasa.msgid","value":"={{ $json.id }}"},{"name":"payload.content_attributes.in_reply_to","value":"={{ $json.inreply ? +$json.inreply : undefined }}"},{"name":"attachment","value":"={{$json.attachment}}"},{"name":"chatid","value":"={{$json.chat.id}}"},{"name":"chat","value":"={{$json.chat}}"},{"name":"conversation","value":"={{$json.conversation}}"},{"name":"extra","value":"={{$json.extra}}"},{"name":"hex","value":"={{$json.chat.chatwoot.source_id}}"},{"name":"synopsis","value":"={{$json.synopsis}}"},{"name":"participant.title","value":"={{$json.participant?.title}}"},{"name":"participant.phone","value":"={{$json.participant?.phone}}"},{"name":"payload.external_created_at","value":"={{ new Date($json.timestamp).getTime() / 1000 }}"},{"name":"event","value":"={{ $json.type }}"}],"boolean":[{"name":"payload.private","value":"={{ $json.payload?.private ?? false }}"},{"name":"payload.edited","value":"={{ $json.edited ?? false }}"}]},"options":{}},"name":"Chatwoot Message Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[15040,3100],"id":"6d4b55cf-3df7-4eac-93a8-dbf2c877eed3"},{"parameters":{"operation":"executeQuery","query":"=SELECT \n display_id, \n status\nFROM conversations \nWHERE \n\taccount_id = '{{ $json.extra.account }}' \n\tAND inbox_id = '{{ $json.extra.inbox }}'\n\tAND contact_id = '{{ $json.contactid }}'\nORDER BY id DESC\nLIMIT 1","additionalFields":{}},"id":"968de41d-3c6d-4901-b17d-a4162d9184b5","name":"Get Last Conversation","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[8240,3600],"retryOnFail":false,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"continueOnFail":true},{"parameters":{"jsCode":"const validStatus = [\"open\", \"resolved\", \"pending\", \"snoozed\"];\n\nreturn [{\n  payload: {\n    id: $input.first().json.display_id,\n    status: validStatus[$input.first().json.status]\n  }\n}];"},"id":"5ea13307-87c3-48bf-ac16-c75f0cbf2274","name":"Rename Status Enum","type":"n8n-nodes-base.code","typeVersion":1,"position":[8420,3600]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.singlethread }}","value2":true}]}},"id":"f225555b-9714-432f-9f18-b85ebec87eea","name":"If Single Thread ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[8780,3480]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.attempts ?? 0 }}","operation":"larger","value2":2}]}},"id":"117b8341-ade0-4111-8c66-c3427ecdde13","name":"Max Attempts Reached ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[9280,3780]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.payload?.status }}","operation":"notEqual","value2":"resolved"}]},"combineOperation":"any"},"id":"79ca78de-dcd9-4340-9692-88a8cdc80169","name":"If Not Resolved Conversation Found ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[8960,3540]},{"parameters":{},"id":"7d219302-75f5-42ed-bf49-56679dfb858a","name":"#region retries for conversation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8060,3460]},{"parameters":{},"id":"51c22379-828a-4021-925a-371cfa2ee9e4","name":"first found","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9160,3460]},{"parameters":{"keepOnlySet":true,"options":{}},"id":"5e9e60e1-0b33-4baa-9425-c6fd677b118e","name":"CleanUp Invalid Status","type":"n8n-nodes-base.set","typeVersion":1,"position":[9440,3660]},{"parameters":{"content":"## (1.0.21) Updates\n* skiping edited contacts messages (not implemented)\n\n## Recommendations \n* Remember set timeout to 30 seconds","height":200.52521040961017,"width":569.6036185132486},"id":"30551d3b-d5be-45d7-9214-f16099920705","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4600,2720]},{"parameters":{"workflowId":"=K1z0iQNtjmiFi0mM","options":{}},"id":"54500f28-7b24-4ecb-aa79-26927890e60e","name":"Throw Get Chatwoot Contacts Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[7140,3160],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply }}","operation":"isEmpty"}]}},"id":"bb1802b3-4ae1-4e96-8531-56d503df3f38","name":"If Not In Reply","type":"n8n-nodes-base.if","typeVersion":1,"position":[13320,3377]},{"parameters":{},"id":"0338eab6-7c61-494d-859d-be695c7004aa","name":"Follow to Chatwoot","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[14840,3097]},{"parameters":{"operation":"executeQuery","query":"=\nSELECT id AS inreply_internal_id\nFROM messages \nWHERE source_id = '{{ $json.inreply }}'\nLIMIT 1","options":{}},"id":"952604d9-2228-4752-ae19-8901bd8d76fa","name":"Get In Reply Reference Id","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[13720,3617],"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"6ee7d2f2-3227-4614-8655-7cb7030a7e01","name":"Merging Found Id","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[13960,3417]},{"parameters":{"values":{"string":[{"name":"inreply","value":"={{ $json.inreply_internal_id }}"},{"name":"synopsis","value":"={{ undefined }}"}]},"options":{}},"id":"971a1cb0-6fa4-4969-8609-1acbfbab7435","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[14340,3437]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply }}","operation":"contains","value2":"-"}]}},"id":"df606850-d4e8-4d12-93e0-410733a981b1","name":"If Has Hiffen","type":"n8n-nodes-base.if","typeVersion":1,"position":[13520,3497]},{"parameters":{"values":{"string":[{"name":"inreply_internal_id","value":"={{ $if($json.inreply.includes('-A'),$json.inreply.split('-')[2] , $json.inreply.split('-').pop()) }}"}]},"options":{}},"id":"8ff54b20-66f0-47c8-a182-0967c1adc45e","name":"Set Internal Id","type":"n8n-nodes-base.set","typeVersion":2,"position":[13720,3480]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.inreply_internal_id }}","operation":"isEmpty"}]}},"id":"012bdce5-410a-405c-a0f3-b89c2ead8288","name":"If Not Found","type":"n8n-nodes-base.if","typeVersion":1,"position":[14140,3417]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.body.type }}","operation":"notEqual","value2":10}],"string":[{"value1":"={{ $json.body.type }}","operation":"notEqual","value2":"revoke"}]}},"id":"798b0a6a-3754-4bb3-8536-46d8dd3639f0","name":"If Not Revoked ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[6680,3080]},{"parameters":{},"id":"d321a1c5-1381-4ad5-b0e6-b428727bb5b5","name":"(In) Revoked Message","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7900,4460]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"revoked","value":"={{ $json }}"}]},"options":{}},"id":"98b6039f-b361-4eb3-b0ab-bbaad176788f","name":"Set Retrieved Chatwoot Revoked Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[8720,4260]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"c34405b6-5a52-4269-9feb-b4fcac05293c","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[9040,4440]},{"parameters":{"requestMethod":"POST","url":"={{ $json.extra.cwhost }}/api/v1/accounts/{{ $json.revoked.account_id }}/conversations/{{ $json.revoked.conversation_id }}/messages","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{},"bodyParametersJson":"={\n   \"private\": false,\n   \"content\": \"{{ $env['C8Q_MSGFOR_REVOKED_CONTENT'] ?? '\\u274C Essa mensagem foi apagada !!!' }}\",\n   \"message_type\": 2,\n   \"content_attributes\": {      \n      \"in_reply_to\": {{ +$json.revoked.id }},\n      \"in_reply_to_external_id\": \"{{ $json.body.id }}\"\n   },\n   \"content_type\": \"text\"\n}","headerParametersJson":"={ \"api_access_token\": \"{{ $json.extra.utoken }}\" }"},"name":"Send Revoked Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[9260,4440],"id":"b177ac87-fd65-4554-a31f-73a10d838b01","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"content":"## Message Revoked From Source\n\n","height":511.52099560219085,"width":1735.9412743995279},"id":"158b5eb8-a021-420d-ada9-1f511c8adff4","name":"Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7640,4120]},{"parameters":{"operation":"executeQuery","query":"SELECT messages.account_id, conversations.display_id as conversation_id, messages.id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.extra.account }}' AND messages.source_id = '{{ $json.body.id }}';","options":{}},"id":"836d1be0-61ec-4e7a-be9e-50b7951c17d2","name":"Get Revoked Message Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[8500,4380],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"conditions":{"string":[{"value1":"={{  $json.body.id }}","operation":"contains","value2":"-"}]}},"id":"8b206d01-c36d-4779-bcba-05e8039d7032","name":"If Sended By Chatwoot","type":"n8n-nodes-base.if","typeVersion":1,"position":[8100,4360]},{"parameters":{"operation":"executeQuery","query":"SELECT messages.account_id, conversations.display_id as conversation_id, messages.id\nFROM messages INNER JOIN conversations \nON messages.conversation_id = conversations.id\nWHERE messages.account_id = '{{ $json.extra.account }}' AND messages.id = '{{ $json.internalid }}';","options":{}},"id":"ce43231c-1c8e-40fd-8482-86a6ff9c06a0","name":"Get Revoked Internal Message Info","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[8500,4140],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function isNumeric(str) {\n  if (typeof str != \"string\") return false;\n  return !isNaN(str) && !isNaN(parseFloat(str));\n}\nconst splitted = $input.item.json.body.id.split(/-/);\nlet internalid = splitted.pop();\nif (!isNumeric(internalid)){\n  internalid = splitted[2];\n}\n\n$input.item.json.internalid = internalid;\nreturn $input.item;"},"id":"d7b89730-7ab0-4ab4-aaa4-5c28844e0f7a","name":"Get Internal Id","type":"n8n-nodes-base.code","typeVersion":2,"position":[8300,4240]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error }}","operation":"isEmpty"}]}},"id":"bc3f2791-f0ec-4eb2-a105-bf4907e7cb14","name":"If Success To Get Contact","type":"n8n-nodes-base.if","typeVersion":1,"position":[7340,3160]},{"parameters":{"values":{"string":[{"name":"extra.cwhost","value":"={{ $json.extra.cwhost ?? \"http://127.0.0.1:3000\" }}"},{"name":"params","value":"={{undefined}}"},{"name":"headers","value":"={{undefined}}"},{"name":"query","value":"={{undefined}}"}]},"options":{}},"id":"57adc8ed-5747-4a13-a96d-f39958fe0adf","name":"Defaults","type":"n8n-nodes-base.set","typeVersion":2,"position":[6520,3080]},{"parameters":{"values":{"string":[{"name":"extra","value":"={{ $json.extra ?? $json.body.extra }}"},{"name":"body.extra","value":"={{ undefined }}"}]},"options":{}},"id":"5202d796-c57c-48f0-b0ab-dd4f2a1af79e","name":"Extra","type":"n8n-nodes-base.set","typeVersion":2,"position":[6340,3080]},{"parameters":{},"id":"895022c8-1a84-4883-aa58-87d223fa65ca","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[13320,3040]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"e7e6683e-062e-4b0b-85b1-a5aee5905b32","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[13720,3020]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f0bf29cd-f9a3-4ad3-b4a7-bfd3ce4b255c","leftValue":"={{$json.conversation.status}}","rightValue":"=open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"43c683ec-249f-4e08-b80c-02b6c2ecafc4","name":"Conversation Is Not Open ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[11720,3200]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"915f6870-811a-493e-b1c8-2631f16463c3","leftValue":"={{ $json.extra.soc }}","rightValue":"=","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"680dd644-57ca-4729-8d80-a24c830584f8","leftValue":"={{ $json.extra.soc }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{"ignoreCase":true,"looseTypeValidation":true}},"id":"18e6cf36-7cae-4966-81d1-e91b8e757f15","name":"Should Open Conversation ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[11920,3100]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.conversation?.id}}","operation":"isEmpty"}]}},"name":"Empty Conversation ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[10680,3180],"alwaysOutputData":false,"id":"a680572c-e69d-48ce-89e4-1ee0ffa02b40"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"848dd55e-3034-4e40-96ba-b35f5a814cfd","leftValue":"={{ $json.chat?.chatwoot?.skipcontact ?? false }}","rightValue":"=","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"43f29708-905a-4593-94a1-95a080688e19","name":"Should Create a New Conversation ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[10880,3080]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.chat.id }}","value2":"system"},{"value1":"={{ $json.body.text }}","operation":"regex","value2":"^\\/api|^\\/\\/|^\\/invite[\\s]*?$"}]},"combineOperation":"any"},"id":"1563c24e-a2cb-4f20-8491-b9f3a7a0c619","name":"If Chat Control","type":"n8n-nodes-base.if","typeVersion":1,"position":[6940,3060]},{"parameters":{"workflowId":"=Kx5Fgmi9FDnDUNRR","options":{}},"id":"e35cdc34-3be7-4b19-9d29-edb8928aada8","name":"Throw To Quepasa Chat Control Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[7120,2920],"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{"clashHandling":{"values":{"resolveClash":"preferInput1"}}}},"id":"cb66fece-a834-4b52-83ff-63c34cbbe337","name":"Merge Conversation Status","type":"n8n-nodes-base.merge","typeVersion":2,"position":[12500,3060]},{"parameters":{"amount":1},"id":"804410bd-e95e-4132-9ff5-b27dda3948cb","name":"Wait For SHIT ChatWoot API process internal things","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[12680,3060],"webhookId":"2bd8aead-fb32-4bad-b0da-cf93d85285fd"},{"parameters":{},"id":"a3a80abf-c5fa-49b2-aef1-22708fed2012","name":"Conversation Opened","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[12880,3120]},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"e46aa30b-617e-418e-8642-1983c3e8aa30","name":"Edited Contact (Not Implemented)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[6160,2900]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"510fae79-4d90-4ddd-93a4-4201cba493a1","leftValue":"={{ $json.body.type }}","rightValue":"contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0b649b71-4626-47f6-a483-36a505f13c86","leftValue":"={{ $json.body.edited }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3580b47a-503b-45f2-8aa9-3367a28d1dbf","name":"Not Implemented ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[5960,3080]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"383f8df9-b7a3-4f40-b49f-7c5bfde86346","leftValue":"={{ $json.body.trackid }}","rightValue":"chatwoot","operator":{"type":"string","operation":"equals"}},{"id":"c1829244-d48a-4130-96e2-5a312a9b6f07","leftValue":"={{ $json.body.trackid }}","rightValue":"chatwoot-qrcode","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"bf82e1b9-35d5-46b5-a794-ee630cad5936","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5120,3100]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contacts","mode":"list","cachedResultName":"contacts"},"returnAll":true,"where":{"values":[{"column":"account_id","value":"={{ $json.body.extra.account }}"},{"column":"identifier","value":"={{ $json.body.chat.id }}"}]},"options":{}},"id":"0ee02a26-dc7c-443b-b801-40669481601f","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[8060,5160],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contact_inboxes","mode":"list","cachedResultName":"contact_inboxes"},"limit":1,"where":{"values":[{"column":"inbox_id","value":"={{ $json.body.extra.inbox }}"},{"column":"contact_id","value":"={{ $json.id }}"}]},"sort":{"values":[{"column":"id"}]},"options":{"outputColumns":["source_id"]}},"id":"25ccaee7-558e-4a25-bfea-7584bcc30400","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[8400,5080],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"method":"POST","url":"={{ $('Webhook Chatwoot').item.json.body.extra.cwhost }}/public/api/v1/inboxes/{{ $('Merge5').item.json.body.extra.qptoken }}/contacts/{{ $('Postgres1').item.json.source_id }}/conversations/{{ $('Get Last Conversation1').item.json.display_id }}/update_last_seen","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Webhook Chatwoot').item.json.body.extra.utoken }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"1eb89116-2457-46da-9646-44b76388a4f7","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[8800,5080],"retryOnFail":true},{"parameters":{"operation":"executeQuery","query":"=SELECT \n display_id, \n status\nFROM conversations \nWHERE \n\taccount_id = '{{ $('Merge5').item.json.account_id }}' \n\tAND inbox_id = '{{ $('Merge5').item.json.body.extra.inbox}}'\n\tAND contact_id = '{{ $('Merge5').item.json.id }}'\nORDER BY id DESC\nLIMIT 1","additionalFields":{}},"id":"95cea21e-83c2-443e-9955-21b5ad1f07bd","name":"Get Last Conversation1","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[8620,5080],"retryOnFail":false,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"d9573154-9f8e-4c79-9408-d8cb7c03814d","name":"Merge5","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[8240,5080]},{"parameters":{},"id":"54142aa4-306d-4cdf-842a-a3864e868712","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7860,5060]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ca76fb94-0005-4fef-9f49-4b71b24aa808","leftValue":"={{ $json.body.id }}","rightValue":"readreceipt","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"fe4f7c7b-08c3-41fe-b373-62834ca19eb2","name":"Event ReadReceipt ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[5700,3100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4dec2a31-e46c-4f21-ab69-5b0df5605e9f","leftValue":"={{ $json.body.chat.id }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"e578dc57-e96e-4d96-b229-c8c493694010","name":"If3","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6360,3460]},{"parameters":{"dataToSave":{"values":[{"key":"text","value":"={{ $json.body.text }}"},{"key":"chatid","value":"={{ $json.body.chat.id }}"},{"key":"timestamp","value":"={{ $json.body.timestamp }}"},{"key":"fromme","value":"={{ JSON.stringify($json.body.fromme) }}"},{"key":"inbox","value":"={{ $json.body.extra.inbox }}"},{"key":"account","value":"={{ $json.body.extra.account }}"}]}},"id":"f90a5df2-bba7-46d4-8584-029e70300450","name":"Execution Data","type":"n8n-nodes-base.executionData","typeVersion":1,"position":[4540,3100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"626cf2dc-c19c-4c9f-a1e6-1a06ad4ab133","leftValue":"={{ $json.body.type }}","rightValue":"contact","operator":{"type":"string","operation":"equals"}},{"id":"6c3ba1ce-18b8-4dcd-8015-f1f8ad95bcf7","leftValue":"={{ $json.body.chat.lid }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4740,3100],"id":"66b11014-824e-43ea-82b3-b75554aa282b","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1a7d963-36e7-46bb-82e3-6f45d3b9214e","leftValue":"={{ $json.body.ads }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5380,3120],"id":"06069a8a-61a2-460a-8c80-6cf478a53a1b","name":"From Ads?"},{"parameters":{"assignments":{"assignments":[{"id":"c33fd1c7-4d17-44b0-81b0-2af7580171d0","name":"body.text","value":"=⚠️ **Mensagem de Anuncio!**\n\n\nTexto Anuncio: {{ $json.body.ads.title }}\nURL: {{ $json.body.ads.sourceurl }}\n\n***Informações***\n- SourceID: {{ $json.body.ads.sourceid }}\n- Fonte: {{ $json.body.ads.app }}\n- ID: {{ $json.body.ads.id }}\n- Tipo: {{ $if($json.body.ads.type = \"ad\", \"Anuncio\", $json.body.ads.type) }}\n\n\n***Resposta do contato:*** {{ $json.body.text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5560,3200],"id":"c72ab840-c01d-4ce5-b606-232928521a21","name":"Info From Ads"},{"parameters":{"queue":"quepasa-prod","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"onlyContent":true,"parallelMessages":7}},"id":"f1171fe9-fb42-4b2d-b72a-829f2cb551b2","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[4220,3100],"credentials":{"rabbitmq":{"id":"cbKEcG6TjMvaY7PG","name":"RabbitMQ account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b5aa60f6-0fed-4497-8a7e-096e12cce8d0","leftValue":"={{ $json.type }}","rightValue":"group","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"be1d0698-f364-44a0-8f32-4636d7eaf664","name":"Is a Group Event?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[7580,3140]},{"parameters":{"assignments":{"assignments":[{"id":"5ed4bf28-5cee-4bfc-a394-8c414a88294f","name":"body.info","value":"={{ $('RabbitMQ Trigger').item.json.body.info }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"24643a56-340b-482c-ac6a-457ac6744d77","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7820,2980]},{"parameters":{"workflowId":"=Kx5Fgmi9FDnDUNRR","options":{}},"id":"37e439e2-707b-42a5-80f8-cf71254bd678","name":"Throw To Quepasa Chat Control Workflow3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[8140,2980],"continueOnFail":true},{"parameters":{"workflowId":"=Kx5Fgmi9FDnDUNRR","options":{}},"id":"0655b15d-e970-4939-b25a-78af44209a37","name":"Throw To Quepasa Chat Control Workflow2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[4920,2960],"continueOnFail":true}],"connections":{"Create a Conversation":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Wait For Create a Conversation1","type":"main","index":0}]]},"Open a Conversation":{"main":[[{"node":"Set Updated Conversation Status","type":"main","index":0}]]},"Not Broadcast ?":{"main":[[{"node":"Extra","type":"main","index":0}],[{"node":"Broadcast Message","type":"main","index":0}]]},"Set Filter Conversation Parameters":{"main":[[{"node":"#region retries for conversation","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Empty Conversation ?","type":"main","index":0}]]},"Wait For Create a Conversation1":{"main":[[{"node":"Conversation Is Not Open ?","type":"main","index":0}]]},"Set Updated Conversation Status":{"main":[[{"node":"Merge Conversation Status","type":"main","index":0}]]},"Payload Constants":{"main":[[{"node":"Execute Workflow Post To Chatwoot","type":"main","index":0}]]},"If Call Request ?":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If Not In Reply","type":"main","index":0}]]},"Set Increment For Conversations Attempts":{"main":[[{"node":"Max Attempts Reached ?","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"If Single Thread ?","type":"main","index":0}]]},"Chatwoot Message Payload":{"main":[[{"node":"Payload Constants","type":"main","index":0}]]},"Get Last Conversation":{"main":[[{"node":"Rename Status Enum","type":"main","index":0}]]},"Rename Status Enum":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Set Conversation Payload":{"main":[[{"node":"Merge","type":"main","index":1}]]},"If Single Thread ?":{"main":[[{"node":"first found","type":"main","index":0}],[{"node":"If Not Resolved Conversation Found ?","type":"main","index":0}]]},"Wait a while (5s) For Conversation":{"main":[[{"node":"#region retries for conversation","type":"main","index":0}]]},"Max Attempts Reached ?":{"main":[[{"node":"CleanUp Invalid Status","type":"main","index":0}],[{"node":"Wait a while (5s) For Conversation","type":"main","index":0}]]},"If Not Resolved Conversation Found ?":{"main":[[{"node":"first found","type":"main","index":0}],[{"node":"first found","type":"main","index":0}]]},"#region retries for conversation":{"main":[[{"node":"Merge3","type":"main","index":0},{"node":"Get Last Conversation","type":"main","index":0}]]},"first found":{"main":[[{"node":"Set Conversation Payload","type":"main","index":0}]]},"CleanUp Invalid Status":{"main":[[{"node":"Set Conversation Payload","type":"main","index":0}]]},"Throw Get Chatwoot Contacts Workflow":{"main":[[{"node":"If Success To Get Contact","type":"main","index":0}]]},"If Not In Reply":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}],[{"node":"If Has Hiffen","type":"main","index":0},{"node":"Merging Found Id","type":"main","index":0}]]},"Follow to Chatwoot":{"main":[[{"node":"Chatwoot Message Payload","type":"main","index":0}]]},"Get In Reply Reference Id":{"main":[[{"node":"Merging Found Id","type":"main","index":1}]]},"Merging Found Id":{"main":[[{"node":"If Not Found","type":"main","index":0}]]},"If Has Hiffen":{"main":[[{"node":"Set Internal Id","type":"main","index":0}],[{"node":"Get In Reply Reference Id","type":"main","index":0}]]},"Set Internal Id":{"main":[[{"node":"Merging Found Id","type":"main","index":1}]]},"If Not Found":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}],[{"node":"Set1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}]]},"If Not Revoked ?":{"main":[[{"node":"If Chat Control","type":"main","index":0}],[{"node":"(In) Revoked Message","type":"main","index":0}]]},"(In) Revoked Message":{"main":[[{"node":"Merge2","type":"main","index":1},{"node":"If Sended By Chatwoot","type":"main","index":0}]]},"Set Retrieved Chatwoot Revoked Info":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Send Revoked Message","type":"main","index":0}]]},"Get Revoked Message Info":{"main":[[{"node":"Set Retrieved Chatwoot Revoked Info","type":"main","index":0}]]},"If Sended By Chatwoot":{"main":[[{"node":"Get Internal Id","type":"main","index":0}],[{"node":"Get Revoked Message Info","type":"main","index":0}]]},"Get Revoked Internal Message Info":{"main":[[{"node":"Set Retrieved Chatwoot Revoked Info","type":"main","index":0}]]},"Get Internal Id":{"main":[[{"node":"Get Revoked Internal Message Info","type":"main","index":0}]]},"If Success To Get Contact":{"main":[[{"node":"Is a Group Event?","type":"main","index":0}]]},"Defaults":{"main":[[{"node":"If Not Revoked ?","type":"main","index":0}]]},"Extra":{"main":[[{"node":"Defaults","type":"main","index":0}]]},"Throw To WebCallBack Telephony Workflow":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Set Text Content For Call Request":{"main":[[{"node":"Follow to Chatwoot","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Throw To WebCallBack Telephony Workflow","type":"main","index":0},{"node":"Merge4","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"Set Text Content For Call Request","type":"main","index":0}]]},"Conversation Is Not Open ?":{"main":[[{"node":"Should Open Conversation ?","type":"main","index":0}],[{"node":"If Call Request ?","type":"main","index":0}]]},"Should Open Conversation ?":{"main":[[{"node":"Merge Conversation Status","type":"main","index":1},{"node":"Open a Conversation","type":"main","index":0}],[{"node":"Conversation Opened","type":"main","index":0}]]},"Empty Conversation ?":{"main":[[{"node":"Should Create a New Conversation ?","type":"main","index":0}],[{"node":"Conversation Is Not Open ?","type":"main","index":0}]]},"Should Create a New Conversation ?":{"main":[[{"node":"Create a Conversation","type":"main","index":0},{"node":"Wait For Create a Conversation1","type":"main","index":1}]]},"If Chat Control":{"main":[[{"node":"Throw To Quepasa Chat Control Workflow","type":"main","index":0}],[{"node":"Throw Get Chatwoot Contacts Workflow","type":"main","index":0}]]},"Merge Conversation Status":{"main":[[{"node":"Wait For SHIT ChatWoot API process internal things","type":"main","index":0}]]},"Wait For SHIT ChatWoot API process internal things":{"main":[[{"node":"Conversation Opened","type":"main","index":0}]]},"Conversation Opened":{"main":[[{"node":"If Call Request ?","type":"main","index":0}]]},"Not Implemented ?":{"main":[[{"node":"Edited Contact (Not Implemented)","type":"main","index":0}],[{"node":"Not Broadcast ?","type":"main","index":0}]]},"If":{"main":[[],[{"node":"From Ads?","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Postgres1":{"main":[[{"node":"Get Last Conversation1","type":"main","index":0}]]},"Get Last Conversation1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Merge5","type":"main","index":0},{"node":"Postgres","type":"main","index":0}]]},"Event ReadReceipt ?":{"main":[[{"node":"Not Implemented ?","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[],[]]},"Execution Data":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Throw To Quepasa Chat Control Workflow2","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"From Ads?":{"main":[[{"node":"Event ReadReceipt ?","type":"main","index":0}],[{"node":"Info From Ads","type":"main","index":0}]]},"Info From Ads":{"main":[[{"node":"Event ReadReceipt ?","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Is a Group Event?":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Merge","type":"main","index":0},{"node":"Set Filter Conversation Parameters","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Throw To Quepasa Chat Control Workflow3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"RabbitMQ Trigger":[{"json":{"headers":{"host":"fluxo.bee360.com.br","user-agent":"Quepasa","content-length":"486","accept-encoding":"gzip","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"fluxo.bee360.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"4019b4dc51e0","x-quepasa-wid":"555192508186:87@s.whatsapp.net","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"id":"readreceipt","timestamp":"2025-01-08T14:02:27-03:00","type":"system","chat":{"id":"555193219907@s.whatsapp.net"},"text":"3EB0F850B88B0E2C78B208","fromme":false,"frominternal":false,"extra":{"account":1,"atoken":"f50299346d5eff341ad22e8","cwhost":"https://app.bee360.com.br","identifier":"eip1vvwo5N6hN7bg1nkJZTRh","inbox":15,"pat":true,"qphost":"https://qps.bee360.com.br","qptoken":"eip1vvwo5N6hN7bg1nkJZTRh","singlethread":false,"soc":true,"utoken":"7wXZ5aps65buo8MtXxUVHHWa"}},"webhookUrl":"https://fluxo.webhook.bee360.com.br/webhook/to-chatwoot","executionMode":"production"}}]},"versionId":"c670e37d-8ca0-4a3b-bafe-f62329199dcc","triggerCount":1,"tags":[{"createdAt":"2024-03-09T14:48:06.218Z","updatedAt":"2024-03-09T14:48:06.218Z","id":"bjgdu243BM1oPIgE","name":"chatwoot"},{"createdAt":"2024-03-09T14:48:06.278Z","updatedAt":"2024-03-09T14:48:06.278Z","id":"QZWwN47UaGyvZKLQ","name":"github.com/nocodeleaks"}]}