tochatwoottranscriptviaopenai-teste-QeH27qTJ1g8XpwBh.json
{"createdAt":"2024-11-27T22:13:30.945Z","updatedAt":"2024-11-28T00:42:44.571Z","id":"QeH27qTJ1g8XpwBh","name":"ToChatwootTranscriptViaOpenAI teste","active":false,"nodes":[{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"6fe5a89d-ae27-46e5-a7e8-e481de114335","name":"Merge Token","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1020,584.9012993237209]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Api Key').item.json.api_key }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"=data"}]},"options":{}},"id":"f189539a-d724-493d-9e81-9614d733fe60","name":"Convert Audio Binary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,660],"notesInFlow":true,"alwaysOutputData":false},{"parameters":{"operation":"executeQuery","query":"SELECT settings->>'api_key' AS api_key FROM integrations_hooks WHERE app_id = 'openai' AND account_id = '{{ $json.extra.account }}' LIMIT 1","options":{}},"id":"8f52b16d-ecbe-4483-98fa-a88a607109d1","name":"Get Api Key","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[840,640],"notesInFlow":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"2ecacfb3-1e9b-436d-81ce-e47ab47bd88b","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1340,604.9012993237209]},{"parameters":{"assignments":{"assignments":[{"id":"2c18cfcd-7efa-4822-a88e-2a5ce8b61586","name":"=resume","value":"={{ $json.choices[0].message.content }}","type":"string"}]},"options":{}},"id":"1f36a2d3-f9f9-4ed4-9b0b-c275d1ce10c0","name":"Resume Payload","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,424.9012993237209]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Api Key').item.json.api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"1. Esse texto aqui abaixo é da transcrição de um áudio. Deixe-o com uma pontuação de forma clara. Dê espaços entre os parágrafos porque será enviado no WhatsApp.\\n2. A resposta deve ser apenas o texto sem você dizendo: aqui está.\\n3. O texto não é uma pergunta para você. É apenas para você corrigir com as etapas acima.\\n\\nTexto transcrito:\\n{{ $json.payload.content}}\"\n    }\n  ],\n  \"max_tokens\": 500\n}","options":{}},"id":"a23a6707-8a9b-426d-b251-ea0b8781637b","name":"Set Message Playload","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,420],"notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"04bbc2f9-c7d4-4b0c-861d-20350b7ed1de","leftValue":"={{ $env[\"C8Q_TOCHATWOOTTRANSCRIPTRESUME\"] ?? true }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"cc8e4919-050b-4c52-9185-cfdffdae61c3","name":"If Should Resume","type":"n8n-nodes-base.if","typeVersion":2,"position":[1700,604.9012993237209]},{"parameters":{"assignments":{"assignments":[{"id":"72a5c39c-2651-45e9-9787-02d267b0a352","name":"conversation","value":"={{$json.conversation}}","type":"object"},{"id":"70d692bb-cbb4-4c28-bb11-933feadabf95","name":"extra","value":"={{$json.extra}}","type":"object"},{"id":"fcdfd613-6f96-4754-8e08-21ee5491d9fe","name":"payload.content","value":"={{$json.text}}","type":"string"},{"id":"0c232292-a96f-46d4-8e45-5a947e295820","name":"payload.content_attributes.in_reply_to","value":"={{+$json.msgid}}","type":"number"},{"id":"5feaaa7c-e22f-4870-aee5-7a8b48d3fd8c","name":"payload.message_type","value":"incoming","type":"string"},{"id":"9f081859-57b0-4d84-b612-bb425513c7b0","name":"payload.private","value":true,"type":"boolean"},{"id":"5a5405c2-28bd-4774-865f-65d003963d69","name":"api_key","value":"={{$json.api_key}}","type":"string"}]},"options":{}},"id":"05d6bbc4-f610-4b80-9244-2dd163fe92c4","name":"ChatWoot Payload","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,604.9012993237209]},{"parameters":{"method":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation.id}}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=TRANSCRIÇÃO DO AUDIO:\n\n{{ $json.resume }}","options":{}},"id":"12e34697-7242-44a0-9af1-792083382e38","name":"Post Incoming Message","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2980,460],"notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"06a56ebd-eb0f-4613-bec6-0efa4c150725","name":"payload.content","value":"={{ $json.resume ?? $json.payload.content }}","type":"string"},{"id":"ce411469-41be-46a8-98fc-782de14471da","name":"msgid","value":"={{ $('When Called By Another Workflow').item.json.msgid }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"0b0e7e7c-8527-43a4-8332-1dc4cfc5951a","name":"Append Resume If Exists","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2700,620]},{"parameters":{},"id":"89b6bd93-ba44-401a-91e2-3083eaf4aa0c","name":"Get Resume","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1900,524.9012993237209]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"bfe75b02-3b2e-45e8-b9d7-35e95916d80a","name":"Merge Resume","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2500,504.9012993237209]},{"parameters":{"content":"## (1.0.1) Updates\n* in reply to\n\n## Recommendations \n* Remember set timeout to 30 seconds","height":167.46034452664873,"width":489.8474320052134},"id":"17a10255-a608-4ead-a459-7cf188595ea5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,360]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.msgid }}","content":"=TRANSCRIÇÃO DO AUDIO:\n\n{{ $json.payload.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"account_id","displayName":"account_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"inbox_id","displayName":"inbox_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"conversation_id","displayName":"conversation_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"message_type","displayName":"message_type","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"private","displayName":"private","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"source_id","displayName":"source_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"content_type","displayName":"content_type","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"content_attributes","displayName":"content_attributes","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"sender_type","displayName":"sender_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sender_id","displayName":"sender_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"external_source_ids","displayName":"external_source_ids","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"additional_attributes","displayName":"additional_attributes","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"processed_message_content","displayName":"processed_message_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sentiment","displayName":"sentiment","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true}]},"options":{}},"id":"c7e7f8fe-a3b7-45ff-a79f-0289d046beea","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2980,620],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"url":"={{ $('Webhook').item.json[\"body\"][\"attachments\"][0][\"data_url\"] }}","options":{}},"id":"946dbc93-d3c3-401b-9e86-ae7c28cc0b16","name":"baixando audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1440,1160]},{"parameters":{"fields":{"values":[{"name":"mensagem","stringValue":"={{ $('Whisper - transcrevendo').item.json[\"text\"] }}"},{"name":"telefone","stringValue":"={{ $('Chatwoot - Obtendo dados do contato').item.json[\"payload\"][\"identifier\"] }}"},{"name":"account_id","type":"numberValue","numberValue":"={{ $('Webhook').item.json.body.account.id }}"},{"name":"contact_id","type":"numberValue","numberValue":"={{ $('Chatwoot - Obtendo dados do contato').item.json[\"payload\"][\"id\"] }}"},{"name":"conversation_id","stringValue":"={{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}"}]},"include":"none","options":{}},"id":"1804cee1-3cb9-483b-a2e6-7259c1ad1f2a","name":"isolando dados1","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[1840,1160]},{"parameters":{"method":"POST","url":"=https://app.bee360.com.br/api/v1/accounts/{{ $('Webhook').item.json[\"body\"][\"account\"][\"id\"] }}/conversations/{{ $('Webhook').item.json[\"body\"][\"conversation\"][\"id\"] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"e3nLN2WM3nsUbeM31BudDvit"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=TRANSCRIÇÃO DO AUDIO:\n{{ $json.mensagem }}"},{"name":"message_type","value":"incoming"},{"name":"private","value":"true"}]},"options":{"redirect":{"redirect":{}}}},"id":"dfe84a69-15da-4cf0-b8c1-1427480074b2","name":"TRANSCRIÇÃO DO AUDIO","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2160,1160]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Merge').item.json.integration_hook_settings.api_key }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"5dd22dd4-da63-4517-827f-666d451ea579","name":"Whisper - transcrevendo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1640,1160]},{"parameters":{"fields":{"values":[{"name":"resposta IA","stringValue":"={{ $json.data[0].content[0].text.value }}"}]},"include":"none","options":{}},"id":"e9dff994-0e91-4abe-b369-c30bd0ee55a5","name":"resposta","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[4360,1360]},{"parameters":{},"id":"1adca499-3f9e-4ba2-b6b6-7cf3c843445a","name":"Não","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2940,1580]},{"parameters":{},"id":"75a67fb4-a474-466e-8c4e-a0ce761bc3f7","name":"Sim","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2940,1360]},{"parameters":{"fields":{"values":[{"name":"id","stringValue":"={{ $json.thread }}"}]},"include":"none","options":{}},"id":"020f0596-cc67-49ad-89cf-c1f8017f6783","name":"definir id thread","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[3160,1360]},{"parameters":{"unit":"seconds"},"id":"971560ce-8d0e-4c25-84c6-cee87607aeda","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1,"position":[4160,1560],"webhookId":"b8864aed-0206-49d2-aa60-d05fd7730826"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.thread }}","operation":"contains","value2":"thread"}]}},"id":"46c17089-126e-4310-9a6c-3d6546dac392","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[2720,1460]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status }}","value2":"completed"}]}},"id":"583760a7-dc4e-415d-8936-2bac86f329a9","name":"IF5","type":"n8n-nodes-base.if","typeVersion":1,"position":[3980,1460]},{"parameters":{"fields":{"values":[{"name":"conversation_id","stringValue":"={{ $('dados base2').item.json.conversation_id }}"},{"name":"account_id","stringValue":"={{ $('dados base2').item.json.account_id }}"},{"name":"thread","stringValue":"={{ $json.id }}"}]},"include":"none","options":{}},"id":"da0c7109-38b4-4c8b-8cd2-73b15a756fa6","name":"dados base4","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[3420,1760]},{"parameters":{"method":"POST","url":"=https://app.bee360.com.br/api/v1/accounts/{{ $('Webhook').item.json[\"body\"][\"account\"][\"id\"] }}/conversations/{{ $('Webhook').item.json[\"body\"][\"conversation\"][\"id\"] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"e3nLN2WM3nsUbeM31BudDvit"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.text }}"},{"name":"message_type","value":"outgoing"}]},"options":{"redirect":{"redirect":{}}}},"id":"c24c718a-3d37-4dc5-b58e-c241a6d9fb64","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4980,1360]},{"parameters":{"jsCode":"// Pega o valor do campo\nconst text = $json['resposta IA'];\n\n// Inicializa uma variável para armazenar a mensagem\nlet fullMessage = text.trim();\n\n// Expressão regular para detectar e remover qualquer coisa entre \"| |\" e datas no formato YYYY-MM-DD HH:MM:SS\nconst unwantedPattern = /\\|[^|]+\\||\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}/g;\n\n// Remove tudo que estiver entre \"| |\" e datas\nfullMessage = fullMessage.replace(unwantedPattern, '').trim();\n\n// Função para gerar um número aleatório entre 2.00 e 5.00\nfunction generateRandomCode() {\n    return (Math.random() * (5.00 - 2.00) + 2.00).toFixed(2);\n}\n\n// Retorna um único objeto com a mensagem filtrada e um código aleatório\nreturn [{ text: fullMessage, code: generateRandomCode() }];\n"},"id":"0324472e-5719-4af0-9b70-6dad9d4f9595","name":"Code2","type":"n8n-nodes-base.code","typeVersion":2,"position":[4560,1360]},{"parameters":{"options":{}},"id":"fb1e1f4f-0874-4bbc-950c-eb761df8df4a","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4780,1360]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Merge').item.json.integration_hook_settings.api_key }}"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"6ada31dd-43ad-455b-a005-4608921336d1","name":"Criando Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3160,1580]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs/{{ $('Executar Assistant').item.json[\"id\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Merge').item.json.integration_hook_settings.api_key }}"},{"name":"OpenAI-Beta","value":"assistants=v1"}]},"options":{}},"id":"efad6de3-f172-4979-bc8e-45498a43113e","name":"verificar resposta","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3800,1460]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Merge').item.json.integration_hook_settings.api_key }}"},{"name":"OpenAI-Beta","value":"assistants=v1"}]},"options":{}},"id":"2b310b4a-442a-454c-a426-7e10f3169680","name":"obter resposta","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4160,1360]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Merge').item.json.integration_hook_settings.api_key }}"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('Merge').item.json.custom_role_description.split(\":\")[1].replace(/[^a-zA-Z0-9_]/g, \"\") }}"}]},"options":{}},"id":"7c0e4beb-6afc-4e83-a641-f6e50898253e","name":"Executar Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3600,1460]},{"parameters":{"amount":"={{ $('Loop Over Items').item.json.code }}","unit":"seconds"},"id":"eb4e8314-1498-4baf-a208-4accffc9b78e","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1,"position":[5180,1360],"webhookId":"c252f7c9-abc6-4fb8-be87-f3f74ab5a89d","disabled":true},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json[\"id\"] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Merge').item.json.integration_hook_settings.api_key }}"},{"name":"OpenAI-Beta","value":"assistants=v1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('dados base').item.json.mensagem }}"}]},"options":{}},"id":"6ce6200f-5bd5-4118-b31f-5adc6f86d6cf","name":"Add Mensagem ao Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3420,1460]},{"parameters":{"fields":{"values":[{"name":"id_assistente","stringValue":"={{ $json.custom_role_description.split(\":\")[1].replace(/[^a-zA-Z0-9_]/g, \"\") }}"},{"name":"conversation_id","stringValue":"={{ $json.display_id }}"},{"name":"mensagem","stringValue":"=Segue o histórico das ultimas mensagens para gerar a resposta apropriada. \n\n{{ $('Merge').item.json[\"histórico\"] }}\n{{ new Date($now).toISOString().replace('T', ' ').substring(0, 19) }} | {{ $json.contact_name }} | {{ $('Whisper - transcrevendo').item.json.text ? $('Whisper - transcrevendo').item.json.text : 'Sem transcrição disponível' }}\n"},{"name":"apikey-openai","stringValue":"=Bearer {{ $json.integration_hook_settings.api_key }}"},{"name":"account_id","stringValue":"={{ $json.account_id }}"}]},"include":"none","options":{}},"id":"05905225-d9d4-482d-b40a-077eee5eed2b","name":"dados base","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[2420,1160],"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE conversations\nSET custom_attributes = JSONB_SET(custom_attributes, '{thread_chatgpt}', '\"{{ $json.thread }}\"', true)\nWHERE account_id = {{ $json.account_id }}\nAND display_id = {{ $json.conversation_id }};\n\n\n","options":{}},"id":"ff1ec70c-feab-4f37-9038-db53e9a0672e","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[3600,1760]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.conversation.messages[0].sender_type }}","value2":"Contact"},{"value1":"={{ $json.body.conversation.labels }}","operation":"notContains","value2":"chatgptoff"}]}},"id":"9d206ff4-dab0-4382-8519-d0a3307cd8b7","name":"mensagem recebida?","type":"n8n-nodes-base.filter","typeVersion":1,"position":[380,1160]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.content }}","operation":"isNotEmpty"}]}},"id":"0f4b30b6-2096-42b3-bc0a-e017fbdcfdf0","name":"Texto?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1180,1160]},{"parameters":{"fields":{"values":[{"name":"message","stringValue":"={{ $('Webhook').item.json.body.conversation.messages[0].content }}"},{"name":"contact_id","stringValue":"={{ $json.payload.id }}"}]},"options":{}},"id":"13833799-82ea-4839-a0b6-43ea0349b386","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[1000,1160]},{"parameters":{"url":"=https://app.bee360.com.br/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/contacts/{{ $('Webhook').item.json.body.conversation.contact_inbox.contact_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"e3nLN2WM3nsUbeM31BudDvit"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"8b37b9fe-7d52-4226-b11b-1e017af9125d","name":"Chatwoot - Obtendo dados do contato","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[620,1260]},{"parameters":{"operation":"executeQuery","query":"WITH conversation_messages AS (\n  SELECT \n    m.conversation_id,\n    string_agg(\n      to_char(m.created_at AT TIME ZONE 'UTC' AT TIME ZONE 'BRT', 'YYYY-MM-DD HH24:MI:SS') || ' | ' || \n      CASE \n        WHEN m.sender_type = 'Contact' THEN coalesce('{{ $json.body.conversation.messages[0].sender.name }}', 'Contato')\n        ELSE 'Agente'\n      END || ' | ' || m.content, \n      E'\\n'\n      ORDER BY m.created_at\n    ) AS histórico\n  FROM (\n    SELECT \n      m.*,\n      ROW_NUMBER() OVER (PARTITION BY m.conversation_id ORDER BY m.created_at DESC) AS rn\n    FROM messages m\n    WHERE m.conversation_id IN (\n      SELECT c.id \n      FROM conversations c\n      WHERE c.display_id = '{{ $json.body.conversation.messages[0].conversation_id }}'\n      AND c.account_id = '{{ $json.body.conversation.messages[0].account_id }}'\n    )\n    AND m.message_type != 2\n    AND m.sender_type IS NOT NULL\n  ) m\n  WHERE m.rn <= 30  -- Limita para as últimas 20 mensagens\n  GROUP BY m.conversation_id\n)\n\nSELECT \n  c.*, \n  cr.description AS custom_role_description, \n  ih.settings AS integration_hook_settings,  -- Substituí o `id` por `settings`\n  co.name AS contact_name, \n  cm.histórico\nFROM conversations c\nJOIN inbox_members im ON c.inbox_id = im.inbox_id\nJOIN account_users au ON au.user_id = im.user_id AND au.account_id = c.account_id\nJOIN custom_roles cr ON au.custom_role_id = cr.id\nJOIN integrations_hooks ih ON ih.account_id = c.account_id\nJOIN contacts co ON c.contact_id = co.id\nJOIN conversation_messages cm ON c.id = cm.conversation_id\nWHERE c.waiting_since IS NOT NULL\nAND co.name != 'EvolutionAPI'\nAND ih.account_id = '{{ $json.body.conversation.messages[0].account_id }}'\nLIMIT 1;\n","options":{}},"id":"0f2280b1-c915-464b-af6f-2dd242a28820","name":"Postgres4","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[620,1060],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"a275a186-6d39-4e06-9eb7-8e4667dd801f","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[840,1160]},{"parameters":{"amount":20,"unit":"seconds"},"id":"782fd7f6-a982-44f7-a7c3-fd9227ff1614","name":"Wait4","type":"n8n-nodes-base.wait","typeVersion":1,"position":[620,880],"webhookId":"c5674ca4-ea4c-4863-ae75-abc62c05e094","disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT\n    messages.id AS message_id,\n    messages.content AS message_content,\n    attachments.external_url AS audio_url, -- Verificar se a URL está nessa coluna\n    conversations.id AS conversation_id,\n    accounts.name AS account_name\nFROM\n    attachments\nJOIN\n    messages ON attachments.message_id = messages.id\nJOIN\n    conversations ON messages.conversation_id = conversations.id\nJOIN\n    accounts ON conversations.account_id = accounts.id\nWHERE\n    attachments.file_type = '1'\nLIMIT 10;\n","options":{}},"id":"96816974-0903-478b-b1f6-ca1cb09aeb25","name":"Postgres2","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[140,1000],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{},"id":"bbed8cf7-7e4c-48da-ae93-8c6e048456ff","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-40,1680]},{"parameters":{"operation":"executeQuery","query":"SELECT\n    messages.id AS message_id,\n    messages.content AS message_content,\n    attachments.external_url AS audio_url, -- Verificar se a URL está nessa coluna\n    conversations.id AS conversation_id,\n    accounts.name AS account_name\nFROM\n    attachments\nJOIN\n    messages ON attachments.message_id = messages.id\nJOIN\n    conversations ON messages.conversation_id = conversations.id\nJOIN\n    accounts ON conversations.account_id = accounts.id\nWHERE\n    attachments.file_type = '1'\nLIMIT 10;\n","options":{}},"id":"cc4676f5-bf70-4796-9ae2-9bd105b2c8a6","name":"Postgres3","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[640,560],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n    messages.id AS message_id,\n    messages.content AS message_content,\n    attachments.external_url AS audio_url, -- URL do áudio\n    attachments.file_type AS file_type_number, -- Número do file_type\n    conversations.id AS conversation_id,\n    accounts.name AS account_name\nFROM\n    messages\nLEFT JOIN\n    attachments ON attachments.message_id = messages.id\nJOIN\n    conversations ON messages.conversation_id = conversations.id\nJOIN\n    accounts ON conversations.account_id = accounts.id\nWHERE\n    messages.content LIKE '%TRANSCRIÇÃO%'\nLIMIT 10;\n","options":{}},"id":"00aeb5a9-edf6-4642-85b4-e267c74619cb","name":"Postgres5","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[140,1140],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"operation":"executeQuery","query":"SELECT asb.*, \n       att.account_id, \n       msg.conversation_id, \n       msg.content AS message_content, -- Inclui o campo `content` da mensagem\n       conv.contact_id, \n       cont.identifier,\n       cont.name\nFROM public.active_storage_blobs AS asb\nJOIN public.active_storage_attachments AS asa ON asa.blob_id = asb.id\nJOIN public.attachments AS att ON att.id = asa.record_id\nJOIN public.messages AS msg ON msg.id = att.message_id\nJOIN public.conversations AS conv ON conv.id = msg.conversation_id\nJOIN public.contacts AS cont ON cont.id = conv.contact_id\nWHERE asa.record_type = 'Attachment'\n  AND asb.content_type LIKE 'audio/%' -- Filtra apenas arquivos de áudio\n  AND msg.content ILIKE '%TRANSCRIÇÃO%' -- Filtra mensagens com \"TRANSCRIÇÃO\"\nORDER BY asb.id DESC\nLIMIT 1;\n","options":{}},"id":"38b121fa-c2c2-4f62-aec6-cb422aa6e7c0","name":"Postgres6","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[160,1680],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"resource":"file","operation":"download","path":"=/var/lib/docker/volumes/chatwoot_data/_data/{{ $json.stdout }}","options":{}},"id":"c1fd6707-d56d-494d-8b20-164f3808ef76","name":"SSH","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[520,1600],"credentials":{"sshPassword":{"id":"TgprTIQBGfKBMIea","name":"SSH Bee360"}}},{"parameters":{"command":"=find -type f -name {{ $json.key }}","cwd":"/mnt/volume-hel1-1/chatwoot_storage"},"id":"a3f9f638-2c87-41dd-8d55-9cb4b1cbf7f3","name":"SSH1","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[340,1600],"credentials":{"sshPassword":{"id":"TgprTIQBGfKBMIea","name":"SSH Bee360"}}},{"parameters":{"command":"=find /mnt/volume-hel1-1/chatwoot_storage -type f -name \"kxmqy7uwi1fkz6ng8gyj42xq1ixw\"","cwd":"/var/lib/docker/volumes/chatwoot_data/_data"},"id":"016a1edf-3262-43ab-86e9-3adff7eed580","name":"SSH2","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[360,1880],"credentials":{"sshPassword":{"id":"TgprTIQBGfKBMIea","name":"SSH Bee360"}}}],"connections":{"Merge Token":{"main":[[{"node":"Convert Audio Binary","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Convert Audio Binary":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Get Api Key":{"main":[[{"node":"Merge Token","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"ChatWoot Payload","type":"main","index":0}]]},"Resume Payload":{"main":[[{"node":"Merge Resume","type":"main","index":0}]]},"Set Message Playload":{"main":[[{"node":"Resume Payload","type":"main","index":0}]]},"If Should Resume":{"main":[[{"node":"Get Resume","type":"main","index":0}],[{"node":"Append Resume If Exists","type":"main","index":0}]]},"ChatWoot Payload":{"main":[[{"node":"If Should Resume","type":"main","index":0}]]},"Get Resume":{"main":[[{"node":"Set Message Playload","type":"main","index":0},{"node":"Merge Resume","type":"main","index":1}]]},"Merge Resume":{"main":[[{"node":"Append Resume If Exists","type":"main","index":0}]]},"Append Resume If Exists":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"baixando audio":{"main":[[{"node":"Whisper - transcrevendo","type":"main","index":0}]]},"isolando dados1":{"main":[[{"node":"TRANSCRIÇÃO DO AUDIO","type":"main","index":0}]]},"TRANSCRIÇÃO DO AUDIO":{"main":[[{"node":"dados base","type":"main","index":0}]]},"Whisper - transcrevendo":{"main":[[{"node":"isolando dados1","type":"main","index":0}]]},"resposta":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Não":{"main":[[{"node":"Criando Thread","type":"main","index":0}]]},"Sim":{"main":[[{"node":"definir id thread","type":"main","index":0}]]},"definir id thread":{"main":[[{"node":"Add Mensagem ao Thread","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"verificar resposta","type":"main","index":0}]]},"IF1":{"main":[[{"node":"Sim","type":"main","index":0}],[{"node":"Não","type":"main","index":0}]]},"IF5":{"main":[[{"node":"obter resposta","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"dados base4":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Criando Thread":{"main":[[{"node":"Add Mensagem ao Thread","type":"main","index":0}]]},"verificar resposta":{"main":[[{"node":"IF5","type":"main","index":0}]]},"obter resposta":{"main":[[{"node":"resposta","type":"main","index":0}]]},"Executar Assistant":{"main":[[{"node":"verificar resposta","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Add Mensagem ao Thread":{"main":[[{"node":"Executar Assistant","type":"main","index":0}]]},"dados base":{"main":[[{"node":"IF1","type":"main","index":0}]]},"mensagem recebida?":{"main":[[{"node":"Postgres4","type":"main","index":0},{"node":"Chatwoot - Obtendo dados do contato","type":"main","index":0},{"node":"Wait4","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Texto?","type":"main","index":0}]]},"Chatwoot - Obtendo dados do contato":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Postgres4":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Texto?":{"main":[[],[{"node":"baixando audio","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Postgres6","type":"main","index":0}]]},"SSH1":{"main":[[{"node":"SSH","type":"main","index":0}]]},"Postgres6":{"main":[[{"node":"SSH1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"debe69b8-28e1-4c33-95de-2457d88eb571","triggerCount":0,"tags":[]}