tochatwoottranscriptviaopenai-v45IzpjieldmcF2p.json
{"createdAt":"2024-11-22T05:08:22.793Z","updatedAt":"2024-11-27T17:06:54.773Z","id":"v45IzpjieldmcF2p","name":"ToChatwootTranscriptViaOpenAI","active":false,"nodes":[{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"dd8c40ab-2d32-43ed-bc96-067a81cee917","name":"Merge Token","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1020,584.9012993237209]},{"parameters":{},"id":"a3338f5c-d557-44e3-844d-23ebe3828164","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[640,560]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Api Key').item.json.api_key }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"=data"}]},"options":{}},"id":"4cda09c4-6262-4485-ba66-d55332308a5f","name":"Convert Audio Binary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,660],"notesInFlow":true,"alwaysOutputData":false},{"parameters":{"operation":"executeQuery","query":"SELECT settings->>'api_key' AS api_key FROM integrations_hooks WHERE app_id = 'openai' AND account_id = '{{ $json.extra.account }}' LIMIT 1","options":{}},"id":"a750ef81-7683-4c62-8679-a827860e85a5","name":"Get Api Key","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[840,640],"notesInFlow":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"d5d0659e-1d5d-44be-b2d2-1c4639e70740","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1340,604.9012993237209]},{"parameters":{"assignments":{"assignments":[{"id":"2c18cfcd-7efa-4822-a88e-2a5ce8b61586","name":"=resume","value":"={{ $json.choices[0].message.content }}","type":"string"}]},"options":{}},"id":"43a9f733-46eb-4161-907b-34ba3c03c2f6","name":"Resume Payload","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,424.9012993237209]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Api Key').item.json.api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"1. Esse texto aqui abaixo é da transcrição de um áudio. Deixe-o com uma pontuação de forma clara. Dê espaços entre os parágrafos porque será enviado no WhatsApp.\\n2. A resposta deve ser apenas o texto sem você dizendo: aqui está.\\n3. O texto não é uma pergunta para você. É apenas para você corrigir com as etapas acima.\\n\\nTexto transcrito:\\n{{ $json.payload.content}}\"\n    }\n  ],\n  \"max_tokens\": 500\n}","options":{}},"id":"b420c0c5-168f-47d6-b866-ffa868e9d67e","name":"Set Message Playload","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,420],"notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"04bbc2f9-c7d4-4b0c-861d-20350b7ed1de","leftValue":"={{ $env[\"C8Q_TOCHATWOOTTRANSCRIPTRESUME\"] ?? true }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f2422119-0a4b-482c-af81-e4fcfbc9284c","name":"If Should Resume","type":"n8n-nodes-base.if","typeVersion":2,"position":[1700,604.9012993237209]},{"parameters":{"assignments":{"assignments":[{"id":"72a5c39c-2651-45e9-9787-02d267b0a352","name":"conversation","value":"={{$json.conversation}}","type":"object"},{"id":"70d692bb-cbb4-4c28-bb11-933feadabf95","name":"extra","value":"={{$json.extra}}","type":"object"},{"id":"fcdfd613-6f96-4754-8e08-21ee5491d9fe","name":"payload.content","value":"={{$json.text}}","type":"string"},{"id":"0c232292-a96f-46d4-8e45-5a947e295820","name":"payload.content_attributes.in_reply_to","value":"={{+$json.msgid}}","type":"number"},{"id":"5feaaa7c-e22f-4870-aee5-7a8b48d3fd8c","name":"payload.message_type","value":"incoming","type":"string"},{"id":"9f081859-57b0-4d84-b612-bb425513c7b0","name":"payload.private","value":true,"type":"boolean"},{"id":"5a5405c2-28bd-4774-865f-65d003963d69","name":"api_key","value":"={{$json.api_key}}","type":"string"}]},"options":{}},"id":"2404ad3c-2bb7-4949-bbea-b1f5a2de976d","name":"ChatWoot Payload","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,604.9012993237209]},{"parameters":{"method":"POST","url":"={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation.id}}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.extra.utoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=TRANSCRIÇÃO DO AUDIO:\n\n{{ $json.resume }}","options":{}},"id":"c0b820ce-ca12-4a4e-b584-2549fde935da","name":"Post Incoming Message","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2980,460],"notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"06a56ebd-eb0f-4613-bec6-0efa4c150725","name":"payload.content","value":"={{ $json.resume ?? $json.payload.content }}","type":"string"},{"id":"ce411469-41be-46a8-98fc-782de14471da","name":"msgid","value":"={{ $('When Called By Another Workflow').item.json.msgid }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"6f389176-c108-41da-a657-cf6c58961f79","name":"Append Resume If Exists","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2700,620]},{"parameters":{},"id":"3f9365c4-9177-4759-b58a-b8d51a3e571c","name":"Get Resume","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1900,524.9012993237209]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"7701dcd6-9dbf-49f2-a244-bb976f7a2379","name":"Merge Resume","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2500,504.9012993237209]},{"parameters":{"content":"## (1.0.1) Updates\n* in reply to\n\n## Recommendations \n* Remember set timeout to 30 seconds","height":167.46034452664873,"width":489.8474320052134},"id":"48c6a7f7-dd92-40b8-abab-d6b7b12eddab","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,360]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.msgid }}","content":"=TRANSCRIÇÃO DO AUDIO:\n\n{{ $json.payload.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"account_id","displayName":"account_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"inbox_id","displayName":"inbox_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"conversation_id","displayName":"conversation_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"message_type","displayName":"message_type","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"private","displayName":"private","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"source_id","displayName":"source_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"content_type","displayName":"content_type","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"content_attributes","displayName":"content_attributes","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"sender_type","displayName":"sender_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sender_id","displayName":"sender_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"external_source_ids","displayName":"external_source_ids","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"additional_attributes","displayName":"additional_attributes","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"processed_message_content","displayName":"processed_message_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sentiment","displayName":"sentiment","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true}]},"options":{}},"id":"ea1b0c0c-67aa-4fc8-a64c-8b9450495ccc","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2980,620],"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}}}],"connections":{"Merge Token":{"main":[[{"node":"Convert Audio Binary","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"When Called By Another Workflow":{"main":[[{"node":"Merge Token","type":"main","index":0},{"node":"Get Api Key","type":"main","index":0}]]},"Convert Audio Binary":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Get Api Key":{"main":[[{"node":"Merge Token","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"ChatWoot Payload","type":"main","index":0}]]},"Resume Payload":{"main":[[{"node":"Merge Resume","type":"main","index":0}]]},"Set Message Playload":{"main":[[{"node":"Resume Payload","type":"main","index":0}]]},"If Should Resume":{"main":[[{"node":"Get Resume","type":"main","index":0}],[{"node":"Append Resume If Exists","type":"main","index":0}]]},"ChatWoot Payload":{"main":[[{"node":"If Should Resume","type":"main","index":0}]]},"Get Resume":{"main":[[{"node":"Set Message Playload","type":"main","index":0},{"node":"Merge Resume","type":"main","index":1}]]},"Merge Resume":{"main":[[{"node":"Append Resume If Exists","type":"main","index":0}]]},"Append Resume If Exists":{"main":[[{"node":"Postgres1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Called By Another Workflow":[{"json":{"msgid":"5060014","payload":{"private":false,"edited":false,"message_type":"incoming","source_id":"3A1C2C4C9D4C5BC9383E","echo_id":"3A1C2C4C9D4C5BC9383E","content_attributes":{"items":{"quepasa":{"msgid":"3A1C2C4C9D4C5BC9383E"}}},"external_created_at":1732726041,"content_type":"text"},"attachment":{"mime":"audio/ogg; codecs=opus","filelength":61005,"seconds":25},"chatid":"555186013255@s.whatsapp.net","chat":{"id":"555186013255@s.whatsapp.net","title":"‎Gustavo Milano","phone":"+555186013255","hex":"35353531383630313332353540732e77686174736170702e6e6574","chatwoot":{"skipgreetings":false,"skipcontact":false,"skipevaluation":false,"skipaudiotranscript":false,"id":278382,"source_id":"35353531383630313332353540732e77686174736170702e6e6574"}},"conversation":{"id":3,"status":"open"},"extra":{"account":31,"atoken":"69df6d52f88f30b460df23a","cwhost":"https://app.bee360.com.br","identifier":"SoUEZnkwiZW2xuNUcJ5NcfaM","inbox":89,"qphost":"http://quepasa:31000","qptoken":"SoUEZnkwiZW2xuNUcJ5NcfaM","utoken":"e3nLN2WM3nsUbeM31BudDvit"},"hex":"35353531383630313332353540732e77686174736170702e6e6574","participant":{},"event":"audio"}}]},"versionId":"7947fd87-40c3-449f-877b-d083c80985a5","triggerCount":0,"tags":[]}