validconversation-hist-sync-eH3E9RkENuXLFMXe.json
{"createdAt":"2025-02-13T19:32:20.320Z","updatedAt":"2025-02-13T19:37:17.810Z","id":"eH3E9RkENuXLFMXe","name":"ValidConversation Hist Sync","active":false,"nodes":[{"parameters":{"content":"## Getting and Filtering Conversations\n","height":913,"width":2766},"id":"06095b31-b3d8-4b69-9beb-897bee3c6a99","name":"Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,320]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"extra","value":"={{$json.extra}}"},{"name":"chatid","value":"={{$json.chat.id}}"},{"name":"contactid","value":"={{$json.chat.chatwoot.id}}"}],"boolean":[{"name":"singlethread","value":"={{ $env[\"C8Q_SINGLETHREAD\"] }}"}]},"options":{}},"id":"65243534-493e-49b9-b5b3-6655008c4221","name":"Set Filter Conversation Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[900,440]},{"parameters":{"values":{"number":[{"name":"attempts","value":"={{ ($json.attempts ?? 0) + 1 }}"}]},"options":{}},"id":"9f069dca-d15b-477c-b013-d649c2efa466","name":"Set Increment For Conversations Attempts","type":"n8n-nodes-base.set","typeVersion":1,"position":[2520,1000]},{"parameters":{"amount":"={{ (Math.random() * 5) + 1 }}","unit":"seconds"},"id":"f0f78791-24c6-42fc-8b0e-b760044ce5a5","name":"Wait a while (5s) For Conversation","type":"n8n-nodes-base.wait","typeVersion":1,"position":[3040,1060],"webhookId":"13d982e4-e253-4616-9e0a-3da472be5e56"},{"parameters":{"operation":"executeQuery","query":"=SELECT \n display_id, \n status,\n custom_attributes\nFROM conversations \nWHERE \n\taccount_id = '{{ $json.extra.account }}' \n\tAND inbox_id = '{{ $json.extra.inbox }}'\n\tAND contact_id = '{{ $json.contactid }}'\nORDER BY id DESC\nLIMIT 1","additionalFields":{}},"id":"302d2d48-39ae-4365-b800-6a3df45a823d","name":"Get Last Conversation","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1320,540],"retryOnFail":false,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"postgres":{"id":"b4PtGKTdz3Ey2yPn","name":"Postgres Chatwoot - Bee360"}},"continueOnFail":true},{"parameters":{"jsCode":"const validStatus = [\"open\", \"resolved\", \"pending\", \"snoozed\"];\n\nreturn [{\n  payload: {\n    id: $input.first().json.display_id,\n    status: validStatus[$input.first().json.status],\n    custom_attributes: $input.first().json.custom_attributes\n  }\n}];"},"id":"08e8b452-b848-421a-9ebe-16674809cb1c","name":"Rename Status Enum","type":"n8n-nodes-base.code","typeVersion":1,"position":[1500,540]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.attempts ?? 0 }}","operation":"larger","value2":2}]}},"id":"fb7be422-5375-4e72-afc2-d58da4c9874c","name":"Max Attempts Reached ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2820,1000]},{"parameters":{},"id":"dbfd99b3-9344-4104-9cbb-4cb538678cb2","name":"#region retries for conversation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1140,440]},{"parameters":{"keepOnlySet":true,"options":{}},"id":"53b765ca-db35-495a-84e7-fe94fb19c80f","name":"CleanUp Invalid Status","type":"n8n-nodes-base.set","typeVersion":1,"position":[3020,760]},{"parameters":{"content":"## (1.0.1) Updates\n* move skip contact to get chatwoot contact workflow\n\n## Recommendations \n* Remember set timeout to 20 seconds","height":200.52521040961017,"width":569.6036185132486},"id":"9e82c005-8ff6-4546-b863-df4da92353e9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.singlethread }}","value2":true}]}},"id":"36287c85-8e89-41f9-9565-83449ff8d845","name":"If Single Thread ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1840,460]},{"parameters":{"mode":"multiplex"},"name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":1,"position":[1680,460],"id":"9e1174e4-c8da-4989-9fb8-40ba557cc3d3"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"conversation.id","value":"={{$json.payload?.id}}"},{"name":"conversation.status","value":"={{$json.payload?.status}}"},{"name":"conversation.custom_attributes","value":"={{ $json.payload.custom_attributes }}"}]},"options":{}},"id":"8a442f5e-cf59-4d07-be4b-02da1c1d9432","name":"Set Conversation Payload","type":"n8n-nodes-base.set","typeVersion":1,"position":[3340,760]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.payload?.status }}","operation":"notEqual","value2":"resolved"}]},"combineOperation":"any"},"id":"e3af0758-e277-4559-a764-53f608cd7bc7","name":"If Not Resolved Conversation Found ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1860,840]},{"parameters":{},"id":"90988d96-96df-41eb-9cfc-292f94b9d598","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[480,280]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7931c30b-c236-4ba9-8409-cb4d375daa4a","leftValue":"={{ $json.cached }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3b6a0446-a9fd-443a-a063-c48bbd0c6a3e","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2340,820]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"234cff94-00c8-4b38-9253-25f7aa2b8c35","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[3620,300]},{"parameters":{"dataToSave":{"values":[{"key":"account","value":"={{ $json.extra.account }}"},{"key":"inbox","value":"={{ $json.extra.inbox }}"},{"key":"chatid","value":"={{ $json.chatid }}"},{"key":"cached","value":"={{ $if($json.cached,\"true\",\"false\") }}"}]}},"id":"35560479-0779-4f28-8c05-f5e7da694675","name":"Execution Data","type":"n8n-nodes-base.executionData","typeVersion":1,"position":[3340,480],"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"operation":"get","propertyName":"=cached","key":"={{ $json.chatid }}","keyType":"string","options":{}},"id":"75b57b89-065c-438b-8d1c-c5af04439f1f","name":"Get Cached","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2020,920],"alwaysOutputData":false,"credentials":{"redis":{"id":"j3gB8eeECRJApLv3","name":"Redis account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"dc33e066-7908-41b7-9ff2-09dd35a91453","name":"Merge Cached","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2180,880]},{"parameters":{},"id":"a9e2eb18-8df1-4b75-a834-aa93ddb028ce","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2520,740]},{"parameters":{"operation":"set","key":"={{ $json.chatid }}","value":"true","keyType":"string","expire":true,"ttl":7},"id":"b1d3730f-505a-488e-b47c-b81cfa8af726","name":"Set Cached","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2660,820],"executeOnce":false,"credentials":{"redis":{"id":"j3gB8eeECRJApLv3","name":"Redis account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"chooseBranch"},"id":"5d1686bd-388e-4b94-b831-faf27368ecc5","name":"Get Only First, no cached","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2820,760]},{"parameters":{},"id":"199d1165-4386-496d-8807-fef27d746ab6","name":"first found","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2080,440]},{"parameters":{},"id":"757ba54c-b07b-4208-ac7a-4615d470424e","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3120,480]},{"parameters":{"operation":"get","propertyName":"=cached","key":"={{ $json.chatid }}","keyType":"string","options":{}},"id":"ae970027-e8ca-4788-811b-24079e8ae1cd","name":"Get Cached ST","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2300,520],"alwaysOutputData":false,"credentials":{"redis":{"id":"j3gB8eeECRJApLv3","name":"Redis account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"52b3b0cc-c131-4a53-9ff5-eb9a62d6a1f5","name":"Merge Cached ST","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2460,460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7931c30b-c236-4ba9-8409-cb4d375daa4a","leftValue":"={{ $json.cached }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"09b31f67-f8f4-4aaa-a22b-474be176d1b5","name":"Is Cached ST?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2620,460]},{"parameters":{"operation":"set","key":"={{ $json.chatid }}","value":"true","keyType":"string","expire":true,"ttl":7},"id":"eadd65c0-3e73-40b3-a97e-5729779bcf7e","name":"Set Cached ST","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2800,360],"executeOnce":false,"credentials":{"redis":{"id":"j3gB8eeECRJApLv3","name":"Redis account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"id":"b3a372c9-3bf6-4eb4-9d3e-e35e0cc5c260","name":"Get Only First, no cached ST","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2940,420]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1140,1260],"id":"18562581-48e9-4be5-97e3-a4eb370c645e","name":"No Operation, do nothing3"},{"parameters":{"dataToSave":{"values":[{"key":"fromme","value":"={{ $json.fromme.toString() }}"},{"key":"edited","value":"={{ $json.edited.toString() }}"},{"key":"account","value":"={{ $json.extra.account.toString() }}"},{"key":"conversation_id","value":"={{ $json.conversation.id }}"},{"key":"type","value":"={{ $json.type }}"}]}},"id":"d364daad-ebe2-4ebc-b398-d4b737ca1254","name":"Execution Data1","type":"n8n-nodes-base.executionData","typeVersion":1,"position":[3880,300],"alwaysOutputData":false,"onError":"continueRegularOutput"}],"connections":{"Set Filter Conversation Parameters":{"main":[[{"node":"#region retries for conversation","type":"main","index":0}]]},"Set Increment For Conversations Attempts":{"main":[[{"node":"Max Attempts Reached ?","type":"main","index":0}]]},"Wait a while (5s) For Conversation":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Get Last Conversation":{"main":[[{"node":"Rename Status Enum","type":"main","index":0}]]},"Rename Status Enum":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Max Attempts Reached ?":{"main":[[{"node":"CleanUp Invalid Status","type":"main","index":0}],[{"node":"Wait a while (5s) For Conversation","type":"main","index":0}]]},"#region retries for conversation":{"main":[[{"node":"Merge3","type":"main","index":0},{"node":"Get Last Conversation","type":"main","index":0}]]},"CleanUp Invalid Status":{"main":[[{"node":"Set Conversation Payload","type":"main","index":0}]]},"If Single Thread ?":{"main":[[{"node":"first found","type":"main","index":0}],[{"node":"If Not Resolved Conversation Found ?","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"If Single Thread ?","type":"main","index":0}]]},"Set Conversation Payload":{"main":[[{"node":"Merge","type":"main","index":1}]]},"If Not Resolved Conversation Found ?":{"main":[[{"node":"first found","type":"main","index":0}],[{"node":"Merge Cached","type":"main","index":0},{"node":"Get Cached","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Set Filter Conversation Parameters","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Set Increment For Conversations Attempts","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Execution Data1","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Set Conversation Payload","type":"main","index":0}]]},"Get Cached":{"main":[[{"node":"Merge Cached","type":"main","index":1}]]},"Merge Cached":{"main":[[{"node":"If","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Get Only First, no cached","type":"main","index":0},{"node":"Set Cached","type":"main","index":0}]]},"Set Cached":{"main":[[{"node":"Get Only First, no cached","type":"main","index":1}]]},"Get Only First, no cached":{"main":[[{"node":"CleanUp Invalid Status","type":"main","index":0}]]},"first found":{"main":[[{"node":"Get Cached ST","type":"main","index":0},{"node":"Merge Cached ST","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Get Cached ST":{"main":[[{"node":"Merge Cached ST","type":"main","index":1}]]},"Merge Cached ST":{"main":[[{"node":"Is Cached ST?","type":"main","index":0}]]},"Is Cached ST?":{"main":[[{"node":"Set Cached ST","type":"main","index":0},{"node":"Get Only First, no cached ST","type":"main","index":1}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Set Cached ST":{"main":[[{"node":"Get Only First, no cached ST","type":"main","index":0}]]},"Get Only First, no cached ST":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"#region retries for conversation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a6afb399-bf5b-4bc4-b429-64519c65c553","triggerCount":0,"tags":[]}